[2015-11-13 05:05] joel-costigliola commented on #520
Just tested, it runs fine, can you provide a full test case ?

[2015-11-13 05:16] theluxury commented on #520
What exactly do you mean test case?

[2015-11-13 07:16] joel-costigliola commented on #520
A unit test to reproduce the problem along with the proper environment description.
it can be a simple maven project containing a single test.

[2015-11-13 12:52] Eulbobo opened #522 "3.2.0 : ThrowableAssert hasNoCause with compilation issue while using raw types"
Here is a small test class that creates compilation issues while executing it, even if neither IDEA or Eclipse see any problem before execution.

When using a raw typed object, hasNoCause should be called before any other method or it will lead to the following error
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.3:testCompile (default-testCompile) on project cantd

[2015-11-13 18:05] arnonmoscona opened #523 "as() description does not show up in test output"
`as()` and `describedAs()` are very useful, but the problem is that they do not show up in the test output (using JUnit 4.12 in IntelliJ IDEA).

I would expect that when an assertion fails, the description would be emitted as part of the test output. At least in my case the description is absent from the output and is currently functioning as little more then a comment.

[2015-11-13 18:57] mkordas commented on #523
@arnonmoscona
Can you share your code, the output you are getting and the output you expect?

[2015-11-13 21:48] theluxury commented on #520
[Here](https://github.com/theluxury/epi-java) is the github repo for my project. The java class in question is Problem_5_4.java at https://github.com/theluxury/epi-java/blob/master/src/main/java/Problem_5_4.java. It doesn't actually have any methods form your api since

    import static org.assertj.core.api.Assertions.*;
raises the error. Please let me know if this is too much or not enough info.

[2015-11-13 21:55] joel-costigliola commented on #520
what are you importing it if you don't use it ?
my guess is your IDE compiler settings raise an error for unused import.

[2015-11-13 21:59] theluxury commented on #520
Well I was tried using it but didn't since I couldn't import it, heh. I updated it with a version that has an

    assertThat("aaa").contains('a');
and am getting the error

    Cannot resolve method assertThat(java.lang.String)

[2015-11-13 22:10] joel-costigliola commented on #520
You don't use maven properly, one can't use test dependencies in `src/main/java`, either move your tests to `src/test/java` or get rid of `<scope>test</scope>` when declaring assertj dependency.

[2015-11-13 22:10] #520 closed

[2015-11-14 04:27] arnonmoscona commented on #523
OK. Here goes. Mind you, I am doing this all inside IDEA so the text is not exactly like what you get from the command line (IDEA JUnit plugin adds some lines of its own). The example test class looks like this:
[code]
This is written to fail, obviously. Here's the relevant part of the output (skipping lots of noise):

This output has no trace of the description provided in the `as()` method. I wo

[2015-11-14 05:24] joel-costigliola commented on #523
You need to use `as()` before the assertion because a failing assertion stops the chained methods called afterwards.
It should be better documented as I already have seen this misuse before.

[2015-11-14 05:32] arnonmoscona commented on #523
Ah!

I completely missed that. Maybe just a comment on the web site would help avoid this error...

[2015-11-14 05:33] joel-costigliola commented on #523
will do.

[2015-11-14 06:18] joel-costigliola commented on #523
Clarification made in Javadoc  (next version) and in the [web site](http://joel-costigliola.github.io/assertj/assertj-core-features-highlight.html#describe-assertion).

[2015-11-14 07:31] joel-costigliola commented on #522
I was able to reproduce it from maven, it runs fine in eclipse though.
Investigation needed.

[2015-11-14 08:11] joel-costigliola commented on #517
Closing the issue as "won't fix".

[2015-11-14 08:11] #517 closed

[2015-11-14 08:12] joel-costigliola commented on #519
@fge have you checked 3.2.0 ?

[2015-11-15 00:38] fge commented on #519
@joel-costigliola I have, and it indeed solves the problem. Thanks!

Closing issue.

[2015-11-15 00:38] #519 closed

[2015-11-15 08:27] joel-costigliola commented on #440
Thanks Pascal.

[2015-11-15 08:27] #440 closed

[2015-11-15 08:30] joel-costigliola commented on #492
closing the issue for lack of feedback.

[2015-11-18 20:35] PascalSchumacher opened #524 "Provide feedback/contribute to Open Test Alliance Initiative"
I guess it would be good for assertj to provide feedback to the Open Test Alliance Initiative planed by JUnit.

See https://github.com/junit-team/junit-lambda/issues/12 and https://github.com/junit-team/junit-lambda/tree/master/open-test-alliance for details.

[2015-11-18 20:46] joel-costigliola commented on #524
I have already been contacted by Sam Brannen and Johannes Link ;)

[2015-11-18 20:46] #524 closed

[2015-11-18 20:48] PascalSchumacher commented on #524
I suspected this, but creating a issue is cheap and also notifies people watching the repo. :)

[2015-11-18 20:59] joel-costigliola commented on #524
:+1:

[2015-11-22 07:44] joel-costigliola commented on #299
should not be needed if we introduce Java6Assertions in 2.x branch (#500)

[2015-11-25 04:23] joel-costigliola commented on #486
should be addressed by https://github.com/joel-costigliola/assertj-core/pull/521

[2015-11-25 04:23] #486 closed

[2015-11-25 04:25] joel-costigliola commented on #299
Should be addressed by #521 by using `Java6Assertions`.

[2015-11-25 04:25] #299 closed

[2015-11-25 13:38] dorzey commented on #428
If `test.dat` is a single line or binary data then wouldn't all 2GB be read by the first `readLine` call?

[2015-11-25 13:42] dorzey commented on #428
Apache Commons IO has [`IOUtils.contentEquals`](https://commons.apache.org/proper/commons-io/apidocs/org/apache/commons/io/IOUtils.html#contentEquals(java.io.Reader, java.io.Reader)). This just uses two `BufferedInputStream`; but, of course, this doesn't do a diff.

[2015-11-29 07:48] joel-costigliola commented on #248
closing it as we added Android compatibility in 2.x

[2015-11-29 07:48] #248 closed

[2015-11-29 09:31] PascalSchumacher commented on #411
@cciotti Are you still working on this? If not I may be able to give it a try.

[2015-11-29 11:23] cciotti commented on #411
@PascalSchumacher - no I'm not. I didn't need the feature in my project.

[2015-11-30 09:06] nicolaiparlog commented on #419
I guess it will become more and more common to have methods return streams so I definitely see a use case for stream assertions. :+1:

For others coming here looking for a solution: Depending on the tested method's semantics regarding order and uniqueness of stream elements, I currently usually collect them into a list or set and assert the desired properties there.

[2015-12-02 10:16] maxime-bus opened #529 "Add "isToday" test on "java.time.LocalDateTime""
Hi,

There is a test available for `java.util.Date` type called `isToday`. Can you do the same for `java.time.LocalDateTime` ? That would be great.

Thank you :)

[2015-12-02 13:45] artjomkruglenkov commented on #449
I would like to support the idea of adding such a functionality.

[2015-12-04 23:11] sg-ad opened #533 "Of extracting, tuples, comparing and BigDecimal"
I've been playing around with the extraction features and `contains()`.  Reusing the usual examples, imagine we have our Fellowship members' height:

[code]
and we try to extract some values and compare:

[code]
This assertion fails because while BigDecimal.valueOf(3.75) and BigDecimal("3.750") are the same when using `compareTo()`, they are not considered equal when using `equals()` (the scale is

[2015-12-05 02:58] joel-costigliola commented on #533
Using a tuple comparator was the best option indeed.

I completely understand the pain with `BigDecimal` but changing the default behaviour of `Tuples` equals to use `BigDecimal.compareTo` is not an option, first it would be a breaking change, second some users might want to keep the existing behaviour.

The only solution that I see would be to register a comparison strategy for `BigDecimal` maybe

[2015-12-06 07:31] joel-costigliola commented on #514
Integrated in 2.x and soonish in master.

[2015-12-06 07:31] #514 closed

[2015-12-07 02:44] sg-ad commented on #533
Yes, I completely agree that changing the default behaviour of `Tuples` would be a bad idea.  I was looking at `ComparisonStrategy`, trying to see how it's used and if/when one can control it.  I'll confess I haven't had time to dig too far into the code, but would it make sense to allow the registration of a new comparison strategy when comparing tuples?  I'm thinking something that would go alon

[2015-12-07 05:08] joel-costigliola commented on #533
`usingCompareToComparisonStrategy` might be a little bit confusing:
- would it be used for `BigDecimal` only or for all extracted properties ?
- if it is used for all extracted properties, what if one of the property is not `Comparable` ?

If you want to use a custom comparison strategy for tuples, you will need to use `usingElementComparator` and give it your `tupleComparisonStrategy`, see:

http

[2015-12-07 08:08] PascalSchumacher commented on #396
@joel-costigliola Could you show me an example that should work but does not? Thanks!

[2015-12-07 08:30] joel-costigliola commented on #396
I think this has been fixed as a side effect of the refactoring on property/field support.
the only thing to do is to add a test proving it (if it does not already exists).

Sorry for the waste of time !

[2015-12-07 16:36] nbogdan commented on #505
Hi, I've been trying to work on this. (it looked like good practice for a beginner). For containsExactly I've obtained:

[code]

But it seems to fail the tests with the actual array being seen as empty. Any suggestions?

[2015-12-07 21:24] sg-ad commented on #533
Good point.  I would've proposed that this new strategy apply to all extracted properties that support `Comparable` and that the fallback for properties that are not `Comparable` would be the current behaviour.
I've been successful making my own comparator, but I did wonder if there's a broader need for it.  While it does add some value to `Tuple` comparison, it's also getting very specific.  Perh

[2015-12-07 22:51] joel-costigliola commented on #533
I don't see much value to ship with different `Tuple` comparison strategies, I feel it's specific to each usage (but I'm happy to be proven wrong).

[2015-12-08 02:49] sg-ad commented on #533
Yes, I think it's quite specific.  Since it's never been brought up before, I'll venture it's not even a very common case.  I think you can go ahead and close the issue.  Thanks for the discussion, it was interesting!  And also, big thanks for all the work you've been doing!  :)

[2015-12-08 03:39] joel-costigliola commented on #533
Thanks for the kind words.

[2015-12-08 03:39] #533 closed

[2015-12-08 08:29] joel-costigliola opened #537 "add String.format support to hasMessage"
Make it easier to build the expected exception message, instead of
[code]
we would simply have
[code]

[2015-12-09 09:23] Turbo87 opened #539 "SoftAssertions should have forward() or rethrow() method"
My use case is the following: I have a folder with some files and would like to generate a unit test for every file. Since JUnit is not supporting anything like that I was thinking of using the `SoftAssertions` class instead. Unfortunately the test function itself is not under my control and uses JUnit assertions resulting in `AssertionErrors`.

I would like to catch those `AssertionErrors` and th

[2015-12-09 22:38] PascalSchumacher commented on #539
You could create a parameterized test and use the result of File.list() on the directory as parameter input. This way you get a test for every file in the directory.

[2015-12-10 07:03] Turbo87 commented on #539
@PascalSchumacher unfortunately I'm stuck on JUnit 3 for this due to the base class I have to use for this

[2015-12-10 08:15] joel-costigliola commented on #529
Done thanks to @ChrisA89

[2015-12-10 08:15] #529 closed

[2015-12-12 04:29] joel-costigliola commented on #210
Done !

[2015-12-12 04:29] #210 closed

[2015-12-13 04:16] #537 closed

[2015-12-14 17:18] pmacklin opened #544 "ContainsSequence fails when given multiples of the same string"
I was writing a unit test for some string joiner logic and came across this. If you try to test the same string present in multiple places in one sequence, the order checker logic is fooled.

Simple example:

[code]

This will throw the following:

The problem is in `org.assertj.core.internal.Strings#assertContainsSequence`
[code]

Where checking the second "-" results in the `indexOf("b")` return

[2015-12-14 20:00] joel-costigliola commented on #544
A bug indeed, thanks for reporting this.

[2015-12-17 11:45] PascalSchumacher opened #545 "Assertion to check that a map contains all entries of another map"
I think it would be nice to have an Assertion to check that a map contains all entries of another map. What do you think?

[2015-12-17 12:31] PascalSchumacher opened #546 "Assertion equivalent of Guava ImmutableMap.of(K k1, V v1, K k2, V v2)... to check that map contains entries"
Of course there is already `public S contains(MapEntry<? extends K, ? extends V>... entries)`, but in my opinion `public S contains(K k1, V v1, K k2, V v2)` etc. would be even more convenient.

What do you think?

[2015-12-18 20:56] sg-ad opened #547 "Add support for null values to BigDecimalComparator"
Hi,

In a test, I have a need to verify the parameters passed to a mock.  Some of these parameters are BigDecimal values, but the parameter can be null.  Using an `ArgumentCaptor`, I can easily get the list of values that were passed.  If I want to verify the content, I'd like to use a `BigDecimalComparator`, but it doesn't tolerate `null` values.  For example, this fails with a `NullPointerExcept

[2015-12-18 23:39] joel-costigliola commented on #547
I agree :)

[2015-12-19 02:57] joel-costigliola commented on #545
I agree.

[2015-12-19 03:01] joel-costigliola commented on #546
I'm not a big fan of having so many parameters but why not if you think it can be useful.

[2015-12-19 09:02] PascalSchumacher commented on #546
Also the usage of this version would be less readable than the MapEntry one, so let's close this for now.

[2015-12-19 09:02] #546 closed

[2015-12-19 21:25] joel-costigliola opened #548 "Add support for array/varargs parameters in isSubsetOf assertion"

[2015-12-20 03:59] joel-costigliola commented on #396
Test added (8fd1a1fe82eb16f45db33727ce85769d10ca5fb2).

[2015-12-20 03:59] #396 closed

[2015-12-20 05:21] joel-costigliola commented on #544
Fixed.

[2015-12-20 05:21] #544 closed

[2015-12-20 07:59] joel-costigliola commented on #547
Fixed.
BTW you could have directly used `BigDecimalComparator.BIG_DECIMAL_COMPARATOR` instead of creating a new one.

[2015-12-20 07:59] #547 closed

[2015-12-22 08:48] PascalSchumacher commented on #545
added in https://github.com/joel-costigliola/assertj-core/commit/cb22c0e9bd94f6f872c8cfdc9c688e7cd0af0a88

[2015-12-22 08:48] #545 closed

[2015-12-22 18:04] PascalSchumacher commented on #111
There is also xmlunit2: https://github.com/xmlunit/xmlunit

@joel-costigliola You closed the pull request for this issue with:

I guess you also meant close this issue?

[2015-12-22 21:40] joel-costigliola commented on #111
yes, main reason is because XML Unit 2 is actively developed and it's a "full time" project to get XML assertions, I just don't have time to do it properly.

[2015-12-22 21:40] #111 closed

[2015-12-24 07:06] #548 closed

[2015-12-24 07:16] joel-costigliola opened #556 "Spike : support Hamcrest Matcher"
Try to support A matcher where a `Condition` is required or allow to build a `Condition` with a `Matcher`.

[2015-12-24 07:50] #411 closed

[2015-12-27 00:20] joel-costigliola opened #560 "isIn and isNotIn should allow actual to be null"
The following tests fails because `actual` is null while the assertion is perfectly valid and should pass.
[code]

[2015-12-27 05:47] joel-costigliola commented on #560
Fixed

[2015-12-27 05:47] #560 closed

[2015-12-28 05:34] #505 closed

[2015-12-28 06:49] PascalSchumacher commented on #505
I think this issues should not be closed yet, because the requested offset support for float arrays is not implemented yet. What do you think?

[2015-12-28 17:11] PascalSchumacher commented on #505
@joel-costigliola I will try to create a pull request for float arrays similar to you did for double arrays with a032e9d858f394089dd6460da1cbfd114fdef6ea

[2015-12-28 20:10] joel-costigliola commented on #505
@PascalSchumacher that would be fantastic ! I still have to add a nice `toString()` method for double comparator but that's a minor thing.

[2015-12-28 20:21] PascalSchumacher commented on #505
I already did most of the work required for the pull request, I should be able to finish it tomorrow.

It's great that 2.3.0 will be released in the near future. :)

[2015-12-28 20:25] joel-costigliola commented on #505
:+1:  :smiley:

[2016-01-02 23:33] joel-costigliola opened #571 "add lambda support to Object extracting"

[2016-01-03 14:40] lpandzic opened #572 "containsExactlyInAnyOrder"
In IterableAssertions there is one feature I have found to be missing.
Assert that the Iterable contains exactly the given elements, but in any order. Best name I could find for this method is `containsExactlyInAnyOrder`.
For example:
[code]
Usage example:
`assertThat(objects).containsExactlyInAnyOrder(first, second, third, first)`.

[2016-01-04 02:40] joel-costigliola commented on #572
that's what `containsOnly` does :)

[2016-01-04 06:18] lpandzic commented on #572
Yes, I don't want the second one to pass.
I need to assert over all the elements, including duplicates, but without order.

[2016-01-04 07:15] joel-costigliola commented on #572
ok, I like the name, it's consistent with the other assertions.

[2016-01-04 07:45] joel-costigliola commented on #449
allMatch added

[2016-01-04 07:45] #449 closed

[2016-01-04 15:54] sg-ad commented on #547
Thanks!  (Sorry, I didn't get to submit a PR in time and that you had to do the work! :/ )
Happy New Year!

[2016-01-04 18:34] PascalSchumacher commented on #449
Another nice enhancement :smile:!

[2016-01-04 20:16] joel-costigliola commented on #547
No problem, it was not lot of work

[2016-01-06 08:33] #571 closed

[2016-01-07 07:51] joel-costigliola commented on #419
Implemented by converting the `Stream` to a `List` and then returning a `ListAssert`.

[2016-01-07 22:36] PascalSchumacher opened #576 "#assertHasSameContentAs should use the charset set by #usingCharset to read the actual file/path"
I guess these methods should use the charset set by #usingCharset to read the actual file (like #hasContent does)

@joel-costigliola If you agree I will provide a pull request for this change.

[2016-01-07 22:40] PascalSchumacher opened #577 "Add #assertHasSameContentAs(File/Path, Charset)"
I guess it should be possible to pass a charset with which to read the contents of the file/path?

@joel-costigliola If you agree I will provide a pull request for this change.

[2016-01-08 22:11] Bananeweizen opened #579 "2.3.0 DefaultToString does not work for Android"
2.3.0 can be used with Android again, thanks to the new Java6Assertions entry point. However, after migration one of my tests still fails at runtime:

assertThat(myPojo).isEqualToComparingFieldByField(myReference);

        java.lang.NoClassDefFoundError: Failed resolution of: Ljava/nio/file/Path;
        at org.assertj.core.presentation.DefaultToString.toStringOf(DefaultToString.java:49)

Looking

[2016-01-08 22:41] joel-costigliola commented on #579
Thanks for reporting this - we don't have android tests to verify the actual compatibility.

[2016-01-09 05:32] joel-costigliola commented on #579
I have removed the use of `Path` in `DefaultToString`, this fix is gonna be shipped in 3.3.0 and later on 2.4.0 - you might be interested in trying 3.3.0 (released soon) since it will contain `Java6Assertions`.

I'm closing the issue but feel free to reopen it or add a comment to ask it to be reopened.

[2016-01-09 05:32] #579 closed

[2016-01-10 20:29] joel-costigliola commented on #579
If you want, I can cut a bugfix release (2.3.1) including this fix but I would like to be sure it properly addresses android compatibility, could you check that for me ? If you can, just build the current 2.x branch (a simple `mvn install` will do), if you don't have time that's ok, I'll just ship the fix in 2.4.0.

[2016-01-11 09:01] Bananeweizen commented on #579
I'll try to check this evening after work.

[2016-01-11 17:13] Bananeweizen commented on #579
Test results:

3.3.0 does not work with Android for me. The Android dx tool complains about wrong magic packets during compilations. Sounds reasonable, as it only understands Java 7 bytecode (AFAIK), and AssertJ 3.x is probably compiled using Java 8. I've not investigated further if something can be done here, as I'm also not fully into all the details of the Android tooling.

2.3.1-SNAPSHOT works

[2016-01-11 20:53] cornerpocket407 opened #585 "Add a way to use Comparator for certain type fields for AbstractObjectAssert.isEqualToComparingOnlyGivenFields();"
Currently when calling:
[code]

There's no way of using certain Comparators for certain datatype fields. For example, for BigDecimal fields, I'd like set the precision and scale.

[2016-01-11 22:11] joel-costigliola commented on #585
For the time being, the way to go is to use your own `Comparator` (on actual).

I know comparing certain type is a problem and people  want to register a specific comparator but I haven't found a nice API to introduce it, any ideas welcome !

[2016-01-12 19:06] PascalSchumacher commented on #585
Well it's hardly innovative, but what about adding something like `usingComparatorForFieldsOfType(Comparator, Class)` to `AbstractObjectAssert`, that would allow:

[code]
I guess you would mostly use this for `float/double/BigDecimal`. AssertJ already has `ComparatorFactory#doubleComparatorWithPrecision` and `ComparatorFactory#floatComparatorWithPrecision` maybe there should also be `ComparatorFac

[2016-01-12 21:42] joel-costigliola commented on #585
I have had a similar idea but I'm not fond of it for two reasons :
- it does not deal with two different attributes of the same type requiring to be compared with different precisions
- it's a little bit heavy (to my taste at least)

I would rather do something like:
[code]

[code]
or

[code]

[2016-01-12 22:42] PascalSchumacher commented on #585
Hi Joel,

not sure what you mean by heavy? Care to explain further?

I guess `comparingFieldByField` is mostly used if there are are a lot of fields to compare, so I think it's best not to require spelling out every field.

As `withPrecision` returns an `Offset` it's limited to numbers, I think using a `Comparator` would make this more generally useful.

Cheers,
Pascal

[2016-01-12 22:50] cornerpocket407 commented on #585
@joel-costigliola I feel the field name fits more inside ```assertThat()``` fluent API rather than outside in the comparator.

I like @PascalSchumacher's proposal. And perhaps for more granular control, something along the lines of (don't focus too much on method naming):
[code]

[2016-01-12 23:29] joel-costigliola commented on #585
@PascalSchumacher `usingOffsetForFieldsOfType` seems "heavy" to me but that's only my opinion.

I quite like @cornerpocket407 proposal, I would slightly modify it to:

[code]
the only downside is the repetition of `usingComparatorForField` that was avoided with `usingFieldComparators`

[2016-01-12 23:38] cornerpocket407 commented on #585
@joel-costigliola What about having the method you mentioned right above as well as  also:
[code]

for cases where the same comparator should be used?

[2016-01-13 00:09] joel-costigliola commented on #585
@cornerpocket407 it would better to invert the parameters to be able to use varargs for fields but it makes the code a little bit less readable.

[2016-01-13 00:35] cornerpocket407 commented on #585
Agreed (can vargs even be in the first param?). So you like the idea of the two methods?

[2016-01-13 08:32] joel-costigliola commented on #585
No varargs needs to be the last parameter.

I like this one, not sure which other you are talking about:
[code]

As @PascalSchumacher mentioned, we might also provide a comparator per type to avoid listing all the fields, something like
[code]
A field comparator would take precedence over a type one.

[2016-01-19 09:21] aaschmid opened #588 "Export *.internal and *.util packages for ability to create custom assertions in a OSGi environment"
Hi @joel-costigliola,

thanks for this great assertion framework. I would like to create custom assertions in an OSGi environment and reuse e.g. ```org.assertj.core.internal.Iterables```. Unfortunately, this package is marked as private, see

[code]

Can you change this or is there a reason against it?

[2016-01-19 09:41] joel-costigliola commented on #588
Which version are you using ? In  2.3.0 and 3.3.0, I changed the pom.xml to export everything, cf

[code]

I surprised to see see private packages in the generated manifest :( I don't know where if I misconfigured the `maven-bundle-plugin` or if it's a bug.

On the principle, I don't  have any reason against exposing everything but be aware that internal classes may change (I try not to but if nee

[2016-01-19 11:13] aaschmid commented on #588
Hi @joel-costigliola, that was quick, great. Currently we are using 2.2.0 (java 7) but are very flexible about the version :-)
And I am fine with the changes at least in ```*.internal``` packages. If this would harm something, we can at least stick with the old version some days until time for the upgrade is ...

Do you have a clue when you are able to release the next version?

[2016-01-19 11:58] PascalSchumacher commented on #588
@aaschmid Can you give 2.3.0 a try? It's already released and `org.assertj.core.internal` should be exported (as far as I understand): https://github.com/joel-costigliola/assertj-core/commit/b45abcbdfe4cffb99f4f0812d8f7a09b056c5e35

[2016-01-19 12:38] aaschmid commented on #588
@joel-costigliola Oh sorry, so I got your answer wrong.
@PascalSchumacher thanks for the hint
And sorry for not trying the newest version before opening this issue!

[2016-01-19 12:38] #588 closed

[2016-01-19 20:44] joel-costigliola commented on #588
@aaschmid  No pb.

[2016-01-19 23:32] vanta opened #589 "Add an assertion to check that list has at least/at most 'x' elements"
Currently there is only a method to check concrete size of collection. It would be helpful to be able to assert for minimal/maximal size of list that one is interested in.

[2016-01-20 06:17] joel-costigliola commented on #589
I would just get the size of the collection and use `isBetween` assertion, WDYT ?

[2016-01-20 07:49] vanta commented on #589
Of course, it can be done this way, but with such approach hasSize() method
so it's not needed :) I always though that assertJ goal is to simplify
devs' lifes by allowing to assert in method chainging.

On Wed, Jan 20, 2016 at 7:17 AM, Joel Costigliola <notifications@github.com>
wrote:

--
Krzysztof Wolny

[2016-01-20 07:58] joel-costigliola commented on #589
ok, would you be happy with `hasSizeBetween()` ? :)

[2016-01-20 09:26] vanta commented on #589
I would :)

On Wed, Jan 20, 2016 at 8:58 AM, Joel Costigliola <notifications@github.com>
wrote:

--
Krzysztof Wolny

[2016-01-20 13:20] petergphillips opened #590 "Field comparison not ignoring synthetic members"
Thanks for a great library.

We are using JaCoCo for test coverage.  This adds a private static field `$jacocoData` to classes under test, which is marked as synthetic (see My code uses reflection. Why does it fail when I execute it with JaCoCo? in http://eclemma.org/jacoco/trunk/doc/faq.html).

Assertj then fails the test when comparing classes field by field as the `$jacocoData` is different bet

[2016-01-20 21:32] joel-costigliola commented on #590
I agree, I'm just wandering if I should ignore all fields starting with `$` or not (I'm assuming there is no other way to detect synthetic fields).

[2016-01-20 21:43] PascalSchumacher commented on #590
@joel-costigliola I guess `Field.isSynthetic()` can be used?

[2016-01-20 21:49] joel-costigliola commented on #590
Yes ... I should have done my homework before asking ;-)

[2016-01-20 23:32] petergphillips commented on #590
Agreed.   I was expecting something along the lines of `Objects.getDeclaredFieldsIncludingInherited` to exclude synthetic fields.  I could try create a patch if that would help...

[2016-01-21 00:12] joel-costigliola commented on #590
@petergphillips  Feel free to do so but if you don't that's ok too.

[2016-01-21 19:41] PascalSchumacher commented on #577
Thanks for merging!

[2016-01-21 19:41] #577 closed

[2016-01-21 19:41] PascalSchumacher commented on #576
Thanks for merging!

[2016-01-21 19:41] #576 closed

[2016-01-21 21:59] joel-costigliola opened #592 "add Optional.isNotPresent as an alias of Optional.isEmpty"
just to make life easier

[2016-01-22 19:49] PascalSchumacher commented on #585
Something like:
[code]

was also requested/suggested in https://github.com/joel-costigliola/assertj-core/issues/198

[2016-01-24 20:02] PascalSchumacher commented on #585
BTW I have started to work on a pull request for the `usingComparatorForFields` part.

[2016-01-25 15:52] MWFNexient opened #598 "SoftProxies package access hinders custom collectors"
Wrote a custom SoftAssertion collector, but hit a snag while trying to access the `proxies` field inherited from AbstractStandardSoftAssertions and AbstractSoftAssertions. The field is protected, but SoftProxies's methods are package-private, meaning any custom collectors either need to have the same package (org.assertj.core.api) or use reflection to access either errorsCollected() or the collect

[2016-01-25 22:22] joel-costigliola commented on #598
I can make these methods protected but I'm not guaranteeing backward compatibility on them although this part of the code is pretty stable.

[2016-01-26 16:11] MWFNexient commented on #598
After thinking about it, what would need to happen would be the methods being public. SoftProxies can be final, because we only need to extend AbstractStandardSoftAssertions which contains the proxies field. However, SoftProxies is package-private itself, so the class would need to be public without package spoofing.

An alternative would be to add to AbstractStandardSoftAssertions a protected met

[2016-01-28 07:16] joel-costigliola commented on #598
I tend to prefer the second solution as it exposes less of the internal of soft assertions but if you need `SoftProxies` and `errorsCollected` to be public, I can live with that.

I'll fix this issue with the second solution unless you prefer the other option or want to do a contribution ;-)

[2016-01-28 07:22] #592 closed

[2016-01-28 07:31] joel-costigliola commented on #590
In 2.x and soon in master, thanks

[2016-01-28 07:31] #590 closed

[2016-01-28 13:18] MWFNexient commented on #598
For what I'm working on, I just need the List<Throwable> ^^ And I'd be happy to do the leg work. I'll fork and do a pull request.

[2016-01-28 14:10] MWFNexient commented on #598
I have to be honest. I don't know where exactly I should put tests for these.

[2016-01-29 00:47] joel-costigliola commented on #598
I would write a dummy custom SoftAssertion collector from an "external" package to check that it is now possible to do so but feel free to ignore me if you find it too much work (as long as nothing was broken with the changes, I'm happy with it).

[2016-01-29 02:54] joel-costigliola opened #600 "Add ComparableAssert assertThat entry point to soft assertions"
We are probably missing a few others too ... it's hard to sync `Assertions` with all the soft assertions flavors : `BDDSoftAssertions`, `JUnitSoftAssertions`

[2016-01-29 14:02] MWFNexient commented on #598
Read ya. As soon as my VPN stops being foolish (it's blocking google.com of all things!) I can work on that.

[2016-01-30 07:25] joel-costigliola commented on #598
Integrated, thanks

[2016-01-30 07:25] #598 closed

[2016-01-30 12:01] Blahord opened #603 "instanceOf assertion does not work properly with java.util.Iterator"
I was testing the concrete class of an java.util.Iterator by
[code]
But that test fails with:

[code]
even `javaIterator` is an instance of the class `ReducibleJavaIterator` as the Debugger tells me.

Screenshot:
http://s11.postimg.org/3ms9kz8rn/Screenshot_20160130_125326.png

[2016-01-30 12:03] Blahord commented on #603
Can by workarounden with:
[code]

[2016-01-30 12:08] Blahord commented on #603
Example test:
[code]

[2016-01-30 18:00] Blahord opened #606 "org.assertj.core.data.MapEntry is not compatible with java Map.Entry"
I noticed, that the hashCode method of org.assertj.core.data.MapEntry is not implemented correctly.
As the documentation of Map.Entry (https://docs.oracle.com/javase/8/docs/api/java/util/Map.Entry.html#hashCode--) says:

(e.getKey()==null   ? 0 : e.getKey().hashCode()) ^
     (e.getValue()==null ? 0 : e.getValue().hashCode())
[code]
int result = 1;
result = HASH_CODE_PRIME * result + hashCodeFor(k

[2016-01-30 22:19] joel-costigliola commented on #603
The thing is that we wrap the given iterator in a lazy one (`LazyIteratorToIterableWrapper`) to avoid consuming it when the assertions does not need to do so, so what you pass to `actual(Iterator)` is transformed thus the error.

Your workaround is the right way to test the class.

We should mention the sneaky behavior of `actual(Iterator)` in the javadoc as the beahviour you experienced is "by de

[2016-01-30 22:43] Blahord commented on #603
The workaround has a problem: I can only check for the exact class, not for any superclass.
For Lists and Sets i can do 'assertThat(list).isInstanceOf(MyList.class)' So i feels unnatural, if i can't do that for Iterators. Is there a technical reason, why on Iterators it behaves different?

[2016-01-30 23:14] joel-costigliola commented on #603
As (badly ?) explained before, the technical reason is a design choice to avoid consuming the given iterator when not needed.

[2016-01-30 23:17] joel-costigliola commented on #603
you can use this assertion in the meantime:

[code]

[2016-01-31 05:16] joel-costigliola commented on #606
I agree, good catch, I have also found that `MapEntry` was not symmetric in regard to java `Map.Entry`

[2016-01-31 05:31] joel-costigliola commented on #606
Fixed by this commit 3118bf043099fba418bc908388afc0fbd25cf772, it would be great if you could confirm that.

Thanks for reporting this.

[2016-01-31 12:52] DanielZlotin opened #607 "Assert on exceptions (feature)"
After looking for an easy and fluent way of asserting on exceptions and couldn't find any,
I came up with this code:

[code]

usage:

[code]

Any use for this inside assertj?
Do you have anything similar?

[2016-01-31 18:55] PascalSchumacher commented on #607
With assertj you can do this:

[code]

There is no `.hasStackTraceContaing()` at the moment. But you can send a pull request, if @joel-costigliola thinks it's a useful addition. :smile:

[2016-01-31 22:05] #606 closed

[2016-01-31 22:18] joel-costigliola commented on #607
In addition to @PascalSchumacher comment,  you cal also do:

[code]
which I think is pretty close to your suggestion.

I'm gonna add my latest example to the [exception assertions feature docmentation](http://joel-costigliola.github.io/assertj/assertj-core-features-highlight.html#exception-assertion).

[2016-01-31 22:49] joel-costigliola commented on #607
done, @DanielZlotin, can you tell me if [exception assertions feature documentation](http://joel-costigliola.github.io/assertj/assertj-core-features-highlight.html#exception-assertion) can be improved ? if so  in which way ?

[2016-02-01 08:41] PascalSchumacher opened #608 "Should the java-8 branch be deleted?"
As master is now java-8, the presence of a java-8 branch can confuse people e.g. a recent pull-request (https://github.com/joel-costigliola/assertj-core/pull/605) was created for the java-8 branch. Therefore I believe it's better to delete this branch.

What do you think?

[2016-02-01 10:03] DanielZlotin commented on #607
Ahh don't know how I missed it! Thanks!
almost same syntax too ;)

I'll open a PR for the stacktrace

[2016-02-01 20:34] joel-costigliola commented on #608
You're right, I will delete it

[2016-02-02 02:55] joel-costigliola opened #609 "Optional hasValue assertion error should display actual values"

[2016-02-02 07:23] joel-costigliola commented on #608
done

[2016-02-02 07:23] #608 closed

[2016-02-02 18:36] PascalSchumacher commented on #608
Thanks!

[2016-02-04 16:38] #607 closed

[2016-02-04 21:50] tomyy opened #611 "Assert "isCloseTo(double expected, Percentage p)" doesn't work for negative expected values"
I have two tests whether an actual value is within a given percentage of the expected value.

The test for a positive expected value works without problems.
The test for a negative expected value throws `IllegalArgumentException`

My test methods are:
[code]
I've tested only for doubles but I suspect the same problem exists for all numeric types.

[2016-02-05 00:31] joel-costigliola commented on #611
True :crying_cat_face:
We screwed up, the computed offset is negative, we should have used an absolute values.

Thanks for reporting this. will be fixed in  2.4.0/3.4.0

[2016-02-05 22:57] xp-vit opened #612 ""isEqualToComparingFieldByField" doesn't perform deep comparison"
In case if object under assert has some complex types as fields (POJOs) and POJO field is equal, but is different instance "AssertionError" is generated. I Think we need to implement "isEqualToComparingDeepFieldByField" assertion method and compare fields recursively.

[2016-02-06 09:28] PascalSchumacher commented on #612
Thanks for reporting, there is already a issue for this: https://github.com/joel-costigliola/assertj-core/issues/178

Sadly a really satisfying implementation of this is not easy. :(

[2016-02-07 08:11] xp-vit commented on #612
Yes, I understand that it's complicated task and I see that you already started some implementation.
https://github.com/PascalSchumacher/assertj-core/commit/ed99b5d45610b6952dafb9cf6c353beabb30fe9a
Is there any particular problems you faced? Is there anything I can do to help finishing this feature?

[2016-02-07 08:16] xp-vit commented on #178
I'm also waiting for this feature it will make tests even more neat.

[2016-02-07 08:30] PascalSchumacher commented on #612
There is a bit of discussion of the problems of https://github.com/PascalSchumacher/assertj-core/commit/ed99b5d45610b6952dafb9cf6c353beabb30fe9a in the pull request https://github.com/joel-costigliola/assertj-core/pull/515.

The main problem was, that I did not see how make the pull request support all the features users expect of assertj:

- display the path to the difference
- comparison using p

[2016-02-09 16:14] slobokot opened #614 "Add .within(timeSpan) feature"
I would like to have assertion like
assertThat(file).within(30, SECONDS).exists()

The assertion should succeed as soon as file appears on disk. Or fail if file hasn't been created during 30 sec.

This may sound fragile, but it would greatly help in dealing with legacy code where there is no option to change production code.

[2016-02-09 16:21] szpak commented on #614
Long time ago I wanted to add it to (then) FEST-Assert, even did it (FEST-475), but it was a maintenance hell. Some time later, when Java 8 arrived I implemented AssertJ support in Awaitility, which makes it trivial to use:

[code]

See my [blog post](https://solidsoft.wordpress.com/2014/04/29/using-assertj-and-awaitility-together-thanks-to-java-8-and-lambdas/) for more details. IMHO there is no n

[2016-02-09 19:21] slobokot commented on #614
Awaitility solves the issue.

[2016-02-09 19:21] #614 closed

[2016-02-11 12:01] LokiOfNZ commented on #590
Hi guys, this exact issue is also affecting us. Is there a plan to have the fix mentioned integrated into 3.4 also? And obviously 3.4 released?

[2016-02-11 23:13] joel-costigliola commented on #590
Whatever goes in 2.4 will be in 3.4,  for the release you will have to wait,  I'm in holidays :-)  so probably in one month.

[2016-02-15 18:55] Holzberg commented on #485
@joel-costigliola

Map and List do not work with the as() method either.

This does not compile:
`Assertions.assertThat(map).as("").containsOnlyKeys("Key1","Key2")`

I don't understand @PascalSchumacher as the following returns the same object:
[code]
I thought maybe that as() only worked with primitves, but BigDecimal works.

Please do not just "close" this issue.  Either find a fix or update the

[2016-02-15 19:45] xp-vit commented on #612
Can you please provide your definition of property?

[2016-02-15 20:40] PascalSchumacher commented on #612
A public method called `getX`/`isX` which returns a value.

[2016-02-16 05:48] xp-vit commented on #612
Does this mean that there is possibility that there is no corresponding field X in class for `getX/isX`?

[2016-02-16 07:57] PascalSchumacher commented on #612
@xp-vit Sorry, I was wrong. There needs to be a corresponding field X.

Because this:

[code]
succeeds, but this fails:
[code]

[2016-02-16 09:20] xp-vit commented on #612
So, from my perspective we need to test (compare) only fields, ignoring getters.

Algorithm should be following:
1. iterate through fields and check if field has equals overridden:
2a. TRUE: check using "equals" method.
2b. FALSE: go to point #1.

What do you think?

[2016-02-16 20:47] joel-costigliola commented on #485
I'll have another look at it after my holidays :-)

[2016-02-16 21:24] PascalSchumacher commented on #612
That was what my pull request was doing as far as I remember.

As @joel-costigliola said in the comments the getter should be tried first e.g. by using  `org.assertj.core.util.introspection.PropertyOrFieldSupport#getSimpleValue`

Also the current "path" should to be stored to display a good error message if there is a difference. A further requirement is to make the algorithm terminate even if the

[2016-02-17 20:56] PascalSchumacher commented on #612
@xp-vit Thanks for reminding me of this. :)

I took another look at https://github.com/joel-costigliola/assertj-core/pull/515 and have started to extend it. I believe I might be able to make it fulfill all requirements, but of course this will take time.

[2016-02-19 17:34] PascalSchumacher commented on #612
I believe I have now solved the problems of #515, but of course there is still a lot of polishing left to do.

[2016-02-19 18:14] xp-vit commented on #612
@PascalSchumacher  Please push your code to github and I will be able to help you testing and writing unit tests.

[2016-02-19 20:54] PascalSchumacher commented on #612
@xp-vit I pushed the changes to  #515, but the code is still really unfinished and volatile (a mess).

[2016-02-20 19:32] joel-costigliola commented on #485
Hmmm ... I can't reproduce the problem anymore, the following test is passing both in eclipse and maven:

[code]

I remember having troubles with some versions of JDK 8, the one that I'm using (fro maven) is:

[code]

Can you tell me what environment are you using ?

[2016-02-21 19:14] PascalSchumacher commented on #612
@xp-vit I submitted a cleaned-up and rebased version of #515 as #615

[2016-02-22 06:05] joel-costigliola commented on #485
@Holzberg please let me know with which environment you are experiencing  the problem.

In absence of feedback, I will most certainly close this issue in a week or two ...

[2016-02-22 16:48] Holzberg commented on #485
@joel-costigliola  Sorry... I saw your message this weekend but my company's VPN was down and I could not get you the info.

I am using Notepad++ instead of Eclipse.

I am using AssertJ 3.3.0 and below is the output from "java -version".
[code]

I looked at your code and noticed you were using specific types on your Maps. So I did some more testing and found out that if you don't specify your type

[2016-02-22 20:36] joel-costigliola commented on #485
Interesting ... I'll see what I can do, thanks for taking the time to do more testing.

[2016-02-22 20:50] Holzberg commented on #485
No problem... thanks for taking the time to look into it :)

[2016-02-23 08:56] joel-costigliola commented on #611
Thanks @PascalSchumacher I have integrated your PR and took the opportunity to refactor  some duplicated code in "numbers" classes.

[2016-02-23 08:56] #611 closed

[2016-02-23 09:16] joel-costigliola commented on #485
My current understanding is that when a method is specifying generic parameters (like  `containsOnlyKeys`) and java does not know the generic type used in the calling object (like `map1`) it cannot fulfill the expected requirements and won't compile.

Interesingly, if you define `map1` as `Map<Object,?>` the following assertion compiles fine:
[code]

I will continue investigate but my gut feeling

[2016-02-23 10:33] jenzz commented on #178
Exactly 2 years since this was requested today.

Any chance of getting it merged to master?

[2016-02-23 20:20] joel-costigliola commented on #178
It is planned for 2.4/3.4, I haven't had the time to review the PR yet but it is definitely on my todo list.

[2016-02-24 21:56] PascalSchumacher commented on #349
As far as I can tell there is at least one example for each assertion method now. I guess this can be closed.

[2016-02-25 03:08] joel-costigliola commented on #349
yes !

[2016-02-25 03:08] #349 closed

[2016-02-25 07:00] #572 closed

[2016-02-25 07:55] #600 closed

[2016-02-27 06:02] #585 closed

[2016-02-27 06:03] joel-costigliola commented on #198
fixed with #585.

[2016-02-27 06:03] #198 closed

[2016-02-28 13:50] PascalSchumacher commented on #331
What do you think, can this issue be closed as assertj now has `AbstractIterableAssert#extracting(Function<T, ?>... extractors)` and `AbstractObjectArrayAssert#extracting(Function<T, ?>... extractors)`?

[2016-02-28 16:49] lpandzic commented on #331
It can if the compiler prevents you from doing something like (note that the Legolas tuple is in incorrect order):

[code]

[2016-03-05 01:26] joel-costigliola commented on #178
Done

[2016-03-05 01:26] #178 closed

[2016-03-05 01:27] joel-costigliola commented on #612
Done

[2016-03-05 01:27] #612 closed

[2016-03-05 01:28] joel-costigliola commented on #4
I'm happy with the actual state, minor improvements can always be done but it's globally ok.

[2016-03-05 01:28] #4 closed

[2016-03-05 05:23] joel-costigliola commented on #603
Fixed along with all related `instanceOf` assertions

[2016-03-05 05:23] #603 closed

[2016-03-06 07:24] joel-costigliola commented on #485
More feedback on the example with widlcard
[code]
All the compilation errors comes from the fact that we don't know what is in `map1` thus we can't put or check anything from it.

I have fixed the behavior for raw Map and the following test now passes:
[code]

[2016-03-06 07:50] joel-costigliola commented on #485
BTW this will also address code using basic assertions before map ones, e.g.
[code]

[2016-03-06 14:08] Holzberg commented on #485
Awesome!  Thanks!

I'm not sure the extent of your fix as I have not upgraded, but it fails for all generic classes as the code below fails for me...

[code]

Maybe you already addressed those as well since you did change the title of the issue..

[2016-03-06 20:08] joel-costigliola commented on #485
Yeah I know, every generic typed assertion will have the same pb.

[2016-03-11 19:49] pivovarit commented on #609
Is this issue about getting rid of "Optional[]" content wrapping or about more general case of generating a human readable string representations of objects?

[2016-03-12 00:59] fge opened #628 "Shorter way to initialize what is now an AutoCloseableSoftAssertions?"
Right now, the code to use is:

[code]

But that is very long to write.

What about this?

[code]

And the `close()` method would call something like `delayed.assertNow()`? (or `assertAll()`; I believe however that in this scenario `assertNow()` is more talkative)

[2016-03-12 02:01] joel-costigliola commented on #609
I remember having a problem at work with the assertion error message not showing the actual value but I can't reproduce it ... mmmh.

I'll double monday at work but on my computer everything is fine.

sorry for having wasting your  time :(

[2016-03-12 05:08] pivovarit commented on #609
Well, this code is actually useful anyway. I will provide some additional test to show it

[2016-03-12 05:15] pivovarit commented on #609
`"%nExpecting %s to contain a value but was empty."`

Is this the case you were referring to?

[2016-03-12 05:20] joel-costigliola commented on #609
No, the optional being empty there is no value to display.

Your PR makes the error message confusing IMO, the message will look like :
`Expecting 20 to contain 10` which does not make sense as 20 is not a value container.

Why do you think it is useful, I might miss something there.

[2016-03-12 05:29] pivovarit commented on #609
Well, obviously you are right, I would need to revert to previous state, but I was referring to situations where you are testing contents of an Optional for some value and an optional instance is empty.

`String errorMessage = shouldContain(Optional.empty(), 10).create();`

It produces a message:

`Expecting:
  <Optional.empty>
to contain:
  <10>
but did not."`

but... we already have a defined me

[2016-03-12 05:31] joel-costigliola commented on #609
I like your suggestion, a separate PR would be nice indeed.
Thanks !

[2016-03-12 05:32] pivovarit commented on #609
I will prepare it in a few minutes :)

[2016-03-12 05:32] joel-costigliola commented on #609
:+1:

[2016-03-12 05:34] pivovarit commented on #609
Do you want a separate test case for an every type of Optional?

[2016-03-12 05:38] joel-costigliola commented on #609
yes.

[2016-03-12 05:38] pivovarit commented on #609
I'm on it!

[2016-03-12 05:58] pivovarit commented on #609
#629 here it is :) if you find the case illustrating this issue, let me know

[2016-03-12 22:28] joel-costigliola commented on #628
Although I like the name `DelayedAssertions`, I think we already have enough different Soft assertions classes not to add another one even if it's only an alias.

I would agree though to have a soft assertions factory class, if you think that can help, it would provide the different methods to build different soft assertions.

[2016-03-12 23:01] #485 closed

[2016-03-13 02:24] joel-costigliola commented on #339
tried ... failed.

[2016-03-13 02:24] #339 closed

[2016-03-13 20:43] joel-costigliola commented on #609
Closing as I can't remember :( or reproduce the issue.

[2016-03-13 20:43] #609 closed

[2016-03-14 22:20] joel-costigliola opened #632 "add Optional.isNotEmpty as an alias of Optional.isPresent"

[2016-03-16 06:26] pivovarit commented on #632
I'm on it :)

[2016-03-16 06:42] pivovarit commented on #632
Consider it done :)

[2016-03-16 07:03] joel-costigliola commented on #632
I was about to work on it, but you were faster :)
cheers

[2016-03-16 07:03] #632 closed

[2016-03-16 07:13] pivovarit commented on #632
You are welcome :)

[2016-03-26 06:20] joel-costigliola commented on #522
I 'm still puzzled by this issue, I have found that if you extract the lambda to a variable the compilation error disappears, the following code works compiles and run properly in maven :
[code]
For information purpose, I'm showing the non compiling code:

[code]

[2016-03-30 12:47] bannmann-incub8 opened #635 "Javadoc has no "since" tags"
A google search led me to [containsExactlyInAnyOrder](https://joel-costigliola.github.io/assertj/core/api/org/assertj/core/api/AbstractIterableAssert.html#containsExactlyInAnyOrder%28T...%29) and I used it in my project, which uses AssertJ 2.3.0.

However, my compiler told me later that this method doesn't exist. I found out that it was only added in version 2.4.0.

Please, please add "since" Java

[2016-03-30 20:52] joel-costigliola commented on #635
You are right but I also think that people should use the latest versions as they usually are backward compatible ( what the benefit of using an old version ?) if they do `since` tag have less value.

[2016-03-31 08:25] bannmann-incub8 commented on #635
Right, people should always use the latest versions. However, you can't always change your dependency freely, and you certainly don't do it every day:

- When I encountered this issue, the new version was two days old. The AssertJ dependency is defined in our corporate framework and as a policy to avoid clutter, we usually don't change inherited dependencies in product that use it. So using new As

[2016-04-03 09:58] sta-szek opened #636 "Better support comparing lists / iterable objects"
There is new feature in 3.4.0 version:
`assertThat(...).isEqualToComparingFieldByFieldRecursively(...)`

but comparing lists is still poor, because we have to use equals(...) method when comparing two objects - it is used by default?

We would like to have methods like:

[code]

As suggested by @PascalSchumacher we can use:
[code]

But this approach works only for identical Lists - internal state

[2016-04-03 10:32] PascalSchumacher commented on #636
Just noticed that a field by field comparison of elements can already be done like this:

[code]

so we are just missing a `usingFieldByFieldElementRecursivelyComparator()` method.

[2016-04-03 11:40] PascalSchumacher opened #637 "Use default Float and Double comparators for field by field comparison in #usingFieldByFieldElementComparator?"
Related to: https://github.com/joel-costigliola/assertj-core/commit/d251f2c22ee6aecfb1cf9d81066e0247dc34e47b

I guess `usingFieldByFieldElementComparator` should also use the default comparators instead of comparing exact values?

What do you think?

[2016-04-03 11:42] PascalSchumacher commented on #636
@sta-szek I can give implementing the `usingFieldByFieldElementRecursivelyComparator()` method a try, or would you like to do it?

[2016-04-03 12:03] sta-szek commented on #636
If you don't mind I can give a try :)

[2016-04-03 12:11] PascalSchumacher commented on #636
You a welcome to give it a try. :)

The feature should added to `AbstractObjectArrayAssert` as well as to `AbstractIterableAssert` I think.

If you any questions @joel-costigliola and I are there to help. :)

[2016-04-03 21:06] joel-costigliola commented on #637
I haven't done that because of potential breaking changes for code relying in the current behaviour but we might reconsider this to make the different comparisons consistent.

[2016-04-03 21:08] joel-costigliola commented on #636
@sta-szek you're welcome to contribute :)
I would simply rename the method to `usingRecursiveFieldByFieldElementComparator`

[2016-04-05 11:39] caugner opened #638 "3.4.0: SoftAssertions + Comparable = CodeGenerationException"
After upgrading from AssertJ 3.3.0 to AssertJ 3.4.0, I am getting a `CodeGenerationException` when using `SoftAssertions` on an object that implements the `Comparable` interface.

**Note**: I ran the test within Eclipse 4.4.2 with Java 8 in a fresh project to whose `.classpath` I had manually added the `assertj-core-3.4.0.jar` obtained by running `mvn install` in the checked out repository.

**Cod

[2016-04-05 21:25] joel-costigliola commented on #638
Thanks for reporting this
I was able to reproduce it, I'm still investigating to find a solution.

[2016-04-06 06:46] joel-costigliola commented on #638
Fixed for 2.4.1/3.4.1

[2016-04-06 06:47] #638 closed

[2016-04-06 07:30] joel-costigliola commented on #638
In the meantime, just cast your instance to `Object` to force using a correctly soft `assertThat` method :
[code]

[2016-04-08 13:12] fd8s0 commented on #178
I have a case of a very big object (which I'm testing when serialising and de-serialising). In some attribute there's a collection of an object which overrides equals. The new recursive feature seems to be favoring the usage of that, which seems to be against the concept of isEqualFieldByField assertj is trying to use. I realise this is the behaviour of deepEquals library (which checks if equals m

[2016-04-09 19:37] PascalSchumacher commented on #178
@fd8s0 to quote Joel (see above):

I think this behaviour preferable most of the time. Of course having the option to do a deep comparison which ignores all `equals` overrides would also be helpful.

[2016-04-09 21:29] joel-costigliola commented on #178
What we could do is provide a `Comparator` that would perform the recursive field by field comparison without using `equals` method.

[2016-04-10 07:55] PascalSchumacher commented on #638
Sorry everybody, the bug was my fault. It's what you get for doing even a small change without a test. :(

[2016-04-10 10:45] PascalSchumacher opened #640 "Add ComparableAssert#isBetween and #isStrictlyBetween?"
I just noticed that `#isBetween` and `#isStrictlyBetween` are missing from `ComparableAssert` while they are present for `IntegerAssert`, `LongAssert` etc. I guess it makes sense to add them.

What do you think?

[2016-04-10 21:03] joel-costigliola commented on #640
That would be a nice addition indeed.

[2016-04-11 20:52] PascalSchumacher commented on #518
I think the first option is to limited.

The second option is more verbose, but gives access to the full power of assertjs assertions.

I think:
[code]
is more readable that the current solution:
[code]
Implementing this option for iterables and object arrays does not take much effort, but the effort is high if support for every type of primitive array is required.

[2016-04-12 08:05] jstrachan opened #641 "add a NavigationListAssert<T,EA> extends ListAssert<T> for easier navigation through generated Assert models"
this is an implementation class used to provide generated navigation methods through generated Assert classes.

For background see this whole thread for https://github.com/joel-costigliola/assertj-assertions-generator/issues/67

In particular for [here's an example navigating through lists](https://github.com/joel-costigliola/assertj-assertions-generator/issues/67#issuecomment-208756239)

So these

[2016-04-12 10:10] jstrachan commented on #641
BTW I also added a little assertThat(list, assertFactory) method https://github.com/jstrachan/assertj-core/blob/7b1d079edeb5ac984cebbed77a65025718ee7673/src/test/java/org/assertj/core/navigation/ListNavigation_Test.java#L41-L46

so in Java 8 style notation you could do...
[code]
which would create a NavigationListAssert that knows how to create assertions on the element (a vehicle) so that you cou

[2016-04-12 11:14] jstrachan opened #643 "add a Java 8 lamdba interface for chaining assertions easier?"
so imagine you've some generated assertion classes which are deeply nested like discussed [here](https://github.com/joel-costigliola/assertj-assertions-generator/issues/67) so you have some assertions like...
[code]
there's some duplication. Now our IDEs can refactor those expressions to variables...
[code]
but I wonder if Java 8 lambdas could be used to make an XPath like variable/predicate chain

[2016-04-12 11:17] jstrachan commented on #643
Actually a corollary to that is it might be handy to add a foreach method to NavigationListAssert to be able to add assertions to all elements in a list:
[code]

[2016-04-15 16:24] PascalSchumacher commented on #636
@sta-szek Are you still working on this? If you are not I could give it a try.

[2016-04-15 18:53] sta-szek commented on #636
Ok, sorry for the confusion, but currently I am working on another tester-library, so I don't have time for this right now.
It would be nice If you could implement this solution.
Next time I'll try to help you :)

PS the eclipse formatter is really poor (I use IntelliJ, which has much more options) and when I import eclipse formatter, intellij overrides some options, but the rest is unmodified, so

[2016-04-15 18:53] #636 closed

[2016-04-15 23:30] joel-costigliola opened #644 "Specify multiple single value extractors in flatExtracting"
For the time being, to extract multiple values and combine them before performing assertions we have to do something like this:
[code]
It would be nice to simply specify the list of extractors (Java 8) :
[code]
or with properties names (Java 7) :
[code]

[2016-04-15 23:47] joel-costigliola commented on #643
We have something alike to verify [multiple assertions for  `Optional` values](http://joel-costigliola.github.io/assertj/assertj-core-news.html#assertj-core-3.3.0-hasValueSatisfying), to be consistent I would use:
[code]

[2016-04-15 23:52] joel-costigliola commented on #641
I need to look into this thoroughly, I'll get back to you soonish.
I like the idea but I find this syntax not super clear :
```assertThat(vehicles, (vehicle) -> assertThat(vehicle));```
I'm not saying I have a better solution though.

[2016-04-16 07:44] PascalSchumacher commented on #644
I already have working prototype for the multiple extractor function method. I will clean it up and submit a pull requests.

[2016-04-17 12:25] PascalSchumacher opened #646 "Add a way to deeply compare objects disregarding any custom equal methods"
As suggested by @fd8s0 in https://github.com/joel-costigliola/assertj-core/issues/178

Real life usecase:

[2016-04-17 15:21] PascalSchumacher commented on #644
Just noticed that the prototype was not really working. It was expecting all collections to contain objects of the same type.

When I tried to make it work for untyped objects, there is a conflict between:

`public <V> ListAssert<V> flatExtracting(Extractor<? super T, ? extends Collection<V>> extractor)`

` public final ListAssert<Object> flatExtracting(Function<Object, ? extends Collection<Object

[2016-04-18 07:57] joel-costigliola commented on #644
I think what we want is :
[code]
and not:
[code]
the reason being that each extractor extracts one value, combine them in a list and flatten it.
conceptually it is converting a list of single value extractors to one multi value extractor, like [allAsList](http://google.github.io/guava/releases/19.0/api/docs/com/google/common/util/concurrent/Futures.html#allAsList%28java.lang.Iterable%29) in guava'

[2016-04-18 16:33] PascalSchumacher commented on #644
I do not understand. If we want to extract a single value why use `flatExtracting`? The existing method `public <V> ListAssert<V> flatExtracting(Extractor<? super T, ? extends Collection<V>> extractor)` does not extract single values. For extracting single values is the `extracting` method. Or I'm I missing something?

Anyway:
[code]
each cause a compile time conflict with existing method:
[code]

[2016-04-19 03:04] joel-costigliola commented on #644
We want to extract multiple single values as in:
[code]
We combine them in a list si that our users don't have to do it manually as in:
[code]
@PascalSchumacher does it make sense to you ?

[2016-04-20 18:41] PascalSchumacher commented on #644
Sure, thanks for explaining. :)

[2016-04-21 09:59] Aleks-Ya opened #652 "Feature request: every string in List<String> matches to a pattern"
#### Summary
I haven't found convinient way to assert that each string in List<String> matches to a pattern.
#### Real life use case or example
Tryed these:
[code]
#### Java 8 specific ?
NO

Can you suggest the best way to do this assert?
Version: assertj-core-3.4.1

[2016-04-21 10:00] Aleks-Ya commented on #652
#518

[2016-04-21 21:15] joel-costigliola commented on #652
The last one is the way to go, I don't think it is that long ...

Unfortunately, there is no way to reuse existing typed assertions (like String) on a `List<String>` because Java generics limitations (I would be thrilled to be proven wrong though).

Another way of writing your assertions is:
[code]

[2016-04-23 07:54] #455 closed

[2016-04-26 02:48] joel-costigliola commented on #641
Just specifying the assert class might be enough, which would give a lighter syntax (but would require reflexion to build the assert instance), I'll give it a try and see how it goes :
[code]

[2016-04-27 16:07] Aleks-Ya commented on #652
Your assertion is suitable. Thanks!

[2016-04-27 16:07] #652 closed

[2016-04-30 15:29] fduminy commented on #492
I agree with @christophsturm since I have the same need.

Let's take the example of [SoftAssertionsTest.should_be_able_to_catch_exceptions_thrown_by_all_proxied_methods\(\)](https://github.com/joel-costigliola/assertj-core/blob/b5e448af3b363526f25633005608a912ba51bdb2/src/test/java/org/assertj/core/api/SoftAssertionsTest.java#L109).

At [line 111](https://github.com/joel-costigliola/assertj-core/b

[2016-04-30 18:36] fduminy opened #653 "Allow to check result of last soft assertion"
#### Summary
I would like to be able to check the result of the last soft assertion.

#### Real life use case or example
[code]

Actual workaround is :
[code]
but for more complex assertion, I must also write the equivalent boolean expression for the ```if``` statement.

The implementation is easy and need to set a flag to ```false``` at begin of ```ErrorCollector.intercept``` and, on failure, set

[2016-05-01 02:11] joel-costigliola commented on #492
That would be an improvement indeed, I prefer the line number over the stack trace to keep the report readable.

[2016-05-01 02:27] joel-costigliola commented on #653
Yeah, I see that it can be useful.

@fduminy would you be keen to contribute a fix for this issue ?

[2016-05-01 09:07] joel-costigliola commented on #641
I have succeeded in making `NavigationListAssert` with a class instead of an `AssertFactory`, it can be used like that:
[code]
It requires though few lines of ugly reflection code to handle the case where you want to build an `ObjectAssert`, for example if the value to test is a `Car` trying to build an `ObjectAssert` by refelction fails as there is no `ObjectAssert` constructor taking a car.

The

[2016-05-01 19:20] fduminy commented on #653
@joel-costigliola I will

[2016-05-02 12:19] nickstolwijk opened #655 "IterableAssert should override isSameAs and isNotSameAs to unroll the actual instance."
#### Summary
IterableAssert  does not override the methods to unroll the actual instance.

#### Real life use case or example
    @Test
    public void testIterator() {
        Iterator<String> iterator = new ArrayList<String>().iterator();
        assertThat(iterator).isSameAs(iterator);
    }

leads to:
java.lang.AssertionError:
Expecting:
 <java.util.ArrayList$Itr@a4300e>
and actual:
 <[]>
to r

[2016-05-03 04:45] joel-costigliola commented on #655
Good catch, the lazy iterator "ugly" stuff sometimes bites us.

[2016-05-03 07:14] nickstolwijk commented on #655
I have created a pull request with a fix and tests.

[2016-05-03 08:31] #640 closed

[2016-05-06 16:44] sta-szek opened #658 "Support for java 8 Predicates"
#### Summary
It would be nice to have support for java 8 predicates.
Assertions should allow for testing them instead of testing everyone separetly.

#### Real life use case / example
Good:
[code]

Not good:
[code]
#### Java 8 specific ?
YES

[2016-05-06 22:45] joel-costigliola commented on #658
Good idea, I would just use `matches` instead of `accepts` and `matchAll` for collection/array.

[2016-05-06 22:49] #655 closed

[2016-05-07 08:41] joel-costigliola commented on #641
I'm gonna support both `AssertFactory` and class based `NavigationListAssert`, ex:

[code]

[2016-05-07 08:57] jstrachan commented on #641
Thanks, that all looks great! I agree both approaches have their merits. The AssertFactory suits code generation with the generator while the reflection case is really handy when folks are working on existing models that don't have a generator

[2016-05-07 21:15] DanielGronau opened #661 "Support to test infinite Iterators and Iterables"
#### Summary

It seems AssertJ doesn't handle infinite data structures well, which leads to "hanging" tests (probably when trying to determine the size of the data structure).

#### Real life use case / example

I tried to test an implementation of a cyclic iterator using assertThat(myIterator).startsWith(1,2,3,1,2,3), which hangs.

#### Java 8 specific ?

NO

[2016-05-07 23:02] joel-costigliola commented on #661
AssertJ converts the iterator to a `List` as soon as it needs to be consumed, for example to check its size but in the case of `startsWith`, we should not perform the conversion as it is necessary.

[2016-05-08 01:38] #653 closed

[2016-05-08 19:55] fduminy commented on #653
@joel-costigliola Will that feature be integrated into the 1.x branch (I assume it will be in the master branch) ?
... probably at release time

[2016-05-08 21:14] joel-costigliola commented on #653
Not in 1.x, I don't maintain it actively but everything that goes in 2.x ends up in master, that's the most efficient way I have found to get 2.x and 3.x in sync (3.x = 2.x + java 8 specific stuff)

[2016-05-10 10:11] anuraaga opened #662 "Allow casting an AbstractObjectAssert<Super> to AbstractObjectAssert<Child>"
#### Summary

When asserting on APIs that return a base class you know the type of, it can be useful to be able to cast the object under assertion fluently for more type-safety. This should probably be an asType, similar to asString and asList, though it would be conceivable for isInstanceOf to do this conversion too.

#### Real life use case / example

[code]

#### Java 8 specific ?

YES (not so

[2016-05-10 10:12] anuraaga opened #663 "Have AbstractThrowableAssert extend AbstractObjectAssert?"
#### Summary
Currently, it is only possible to assert on the message and cause of a throwable. As many custom exceptions have fields that we'd like to verify it'd be useful to have AbstractObjectAssert's assertions available.

#### Real life use case / example
[code]

If combined with #662, can be even more type-safe

[code]

#### Java 8 specific ?

NO

If the issue Java 8 specific, the Pull Reque

[2016-05-13 02:44] hoangtranwork opened #664 "assertj.org website is down?"
I cannot access the assertj.org website, is it just me having that issue or the website is down?

[2016-05-13 03:24] joel-costigliola commented on #664
Long story short : use http://joel-costigliola.github.io/assertj/

Long story long : I was living in France when I registered assertj.org, I
now live in New Zealand and renewing the domain from NZ was ridiculously
expensive, so I did not renew it but I'm gonna buy the domain again from NZ
...

sorry guys !

On Fri, May 13, 2016 at 2:44 PM, Hoang Tran <notifications@github.com>
wrote:

[2016-05-13 03:26] joel-costigliola commented on #664
closing this issue and creating this https://github.com/joel-costigliola/assertj/issues/51

[2016-05-13 03:26] #664 closed

[2016-05-18 09:03] joel-costigliola commented on #641
Done

[2016-05-18 09:03] #641 closed

[2016-05-18 09:08] joel-costigliola commented on #663
I agree we could have done that.

[2016-05-18 09:13] joel-costigliola commented on #662
Yeah ... why not although I'm not totally convinced it adds lot of value since you already do:
[code]
The only drawback is that it is not typesafe or refactoring friendly, but on the other hand it's more concise.

[2016-05-21 01:33] joel-costigliola opened #665 "Add isNotCloseTo"
#### Summary

Check that a number is not close to another one by the given margin.

#### Example

[code]

#### Java 8 specific ?

NO : Pull Request must be based on the 2.x` branch.

[2016-05-21 05:15] #663 closed

[2016-05-21 07:35] #518 closed

[2016-05-22 05:50] #661 closed

[2016-05-28 08:48] joel-costigliola commented on #301
Fixed.

[2016-05-28 08:48] #301 closed

[2016-05-28 08:48] joel-costigliola commented on #589
Fixed with #301.

[2016-05-28 08:48] #589 closed

[2016-05-29 06:14] #492 closed

[2016-05-29 06:15] joel-costigliola commented on #492
Thanks @PascalSchumacher  and @fduminy for your work.

[2016-05-31 11:39] selo-ecube opened #667 "JavaDoc of AbstractObjectArrayAssert.containsExactlyInAnyOrder(...) is an erroneous copy"
The JavaDoc of org.assertj.core.api.AbstractObjectArrayAssert.containsExactlyInAnyOrder(T... values) seems to be a copy of org.assertj.core.api.AbstractObjectArrayAssert.containsExactlyElementsOf(Iterable<? extends T> iterable) and does not fit the name and body of the method.

[2016-06-01 01:10] #667 closed

[2016-06-01 01:11] joel-costigliola commented on #667
@selo-ecube thanks for taking the time to report it.
@PascalSchumacher selo-ecube thanks for taking the time to fix it.

[2016-06-02 19:07] filiphr commented on #658
@joel-costigliola I am willing to work on this if no one is. I already have some idea about how to do it.

I just have one question, do we also need the other predicates (```IntPredicate```, ```LongPredicate```, ```DoublePredicate```).

[2016-06-02 21:13] joel-costigliola commented on #658
@filiphr that would be great ! regarding your question I would say yes (we have the same thing with `Optional`).

[2016-06-02 23:04] filiphr opened #671 "Methods within normal and BDD Asertions"
#### Summary
This is more like a question then a problem. I was having a look at the ```BDDAssertions``` and ```Assertions```, also the soft types. Is the general idea that all of the ```assertThat``` from the ```Assertions``` exist as ```then``` method in ```BDDAssertions```?

If yes then I would propose some way of guaranteeing this, by either always generating the ```BDDAssertions``` from the `

[2016-06-03 09:50] joel-costigliola commented on #671
That would be great indeed.

Thanks for the analysis, I'll fix that right away.

[2016-06-03 11:31] joel-costigliola commented on #644
Done for 2.5.0 by specifying extractors by name and 3.5.0 by specifying extractors as lambdas.

[2016-06-03 11:31] #644 closed

[2016-06-03 15:04] kxfang opened #672 "SoftAssertions do not work in Android projects due to nio.Path dependency"

[2016-06-03 23:09] filiphr commented on #671
I also noticed that the soft assertions use the implemented classes of the assertions, is there some reason for this?

I am asking since I can also make a test which checks if the ```BDDAssertions``` have the same methods as the ```AbstractBDDSoftAssertions```. If you say yes, then we need to decide how to fix it. Should we always return our own implementations of the ```Abstract*Assert``` or the

[2016-06-03 23:29] joel-costigliola commented on #671
Soft assertions could actually return AbstractXXXAssert classes but need to proxy the concrete class (CGLIB needs a concrete class to instantiate to be able to create a proxy).

[2016-06-04 01:54] joel-costigliola commented on #658
@filiphr do you prefer `assertThat(predicate).accepts("a")` or `assertThat(predicate).matches("a")` ?
I'm having second thoughts and contradict my previous comment) as it is correct to say that a value matches a predicate but not the other way around.

[2016-06-04 07:28] filiphr commented on #671
If it is ok to return the ```AbstractXXXAssert``` then I will do that. Shortly I would create a pull request with the test I have in mind and also the "fixes" for the test

[2016-06-04 07:29] filiphr commented on #658
@joel-costigliola I think that accepts is more suitable in this situation. You are correct.

[2016-06-04 07:47] joel-costigliola commented on #658
`accepts` accepted then :)

[2016-06-04 07:50] filiphr commented on #658
While doing the changes to ```accepts``` something else came to my mind. Regarding the error factories, I am reusing some which were already there, like ```ShouldMatch```, and I am also reusing the ```Iterables#assertAllMatch``` is that acceptable?

[2016-06-04 08:24] joel-costigliola commented on #658
No, I think this will be confusing, if you assert that the predicate should accept a value and it does not then the problem is on the predicate not the value, I would use a message like:
[code]
where given is replaced by predicate description when provided.
Feel free to suggest a better error message ...

[2016-06-04 08:27] filiphr commented on #658
I will modify the error messages so it is better to understand. Will probably do something in the ```Iterables``` as the logic is the same for the assertion

[2016-06-04 08:31] joel-costigliola commented on #658
:+1:

[2016-06-04 20:32] filiphr commented on #671
@joel-costigliola Do you think that we could somehow use something from the assertj-assertions-generator to generate the different ```Assertions``` classes.

Maybe if we add Annotations to the different ```Assert``` classes we can generate the Assertions. I am thinking in this direction, since with something like this one would only need to write a new asserter add the appropriate information in t

[2016-06-05 02:22] joel-costigliola commented on #671
It's ok as long as we don't add any compile/runtime dependencies to assertj-core, another option to consider is [JavaPoet](https://github.com/square/javapoet) to generate java source.

[2016-06-05 02:36] joel-costigliola commented on #672
Reopened for `Java6JUnitSoftAssertions`

[2016-06-05 09:52] PascalSchumacher opened #676 "Support registering custom fieldname/type comparators for element fields when comparing iterables/arrays"
as suggested by @joel-costigliola in https://github.com/joel-costigliola/assertj-core/pull/645#issuecomment-223801634 :

[2016-06-05 10:06] PascalSchumacher commented on #676
I'm not sure the names make it clear enough that the comparators are not used for the elements itself, what about something like `usingComparatorForElementFieldsWithType` and `usingComparatorForElementFieldsWithName`?

[2016-06-06 01:44] joel-costigliola commented on #676
I like `usingComparatorForElementFieldsWithType` and `usingComparatorForElementFieldsWithName` better than my suggestions, let's use them :)

[2016-06-07 09:05] jhannes opened #680 "Feature suggestion: hasNoNullFields and hasNoNullFieldsIgnoring"
#### Summary

I find that I often use assertj in combination with property-based testing. This is super-useful for things like database mappings. See example below.

The neat thing currently is that this captures the situation where I add a field to my domain object, but forget to add a mapping for the same field, since I'm using isEqualToIgnoringGivenFields.

However, it does not capture the situ

[2016-06-07 10:49] joel-costigliola commented on #680
Hi Johannes,

Would these assertions strictly consider fields but not properties ?
I'm also guessing it should be able to read private fields, right ?

I find `hasNoNullFieldsExcept` to be a better name than `hasNoNullFieldsIgnoring` and also assume it takes a vararg, WDYT  ?

[2016-06-07 11:27] jhannes commented on #680
My inspiration was `.isEqualToIgnoringGivenFields` and friends, so `hasNoNullFields` should remind of these.

I think it makes most sense to use `Objects.getDeclaredFieldsIncludingInherited` (just like `isEqualToIgnoringGivenFields` does) to determine the fields to use.

I agree that `hasNoNullFieldsExcept` is a better name. I suggested `hasNoNullFieldsIgnoring` to remind of `isEqualToIgnoringGive

[2016-06-08 03:36] cowwoc opened #682 "Not clear how to reference multiple modules in the same class"
#### Summary
If a unit test needs to assert the state of core Java objects (e.g. `Map`), and Guava object (e.g. `Multimap`) then it's not clear how to statically import `assertThat()` in way that pleases both tests. Sometimes a single test needs both types of asserts, so I can't workaround the problem by using separate files.

#### Example

[code]

#### Java 8 specific ?
Yes

[2016-06-08 03:38] cowwoc commented on #682
As a side-note, if I had `GuavaAssertions` for the Guava module vs `Assertions` for the core module, I could at least import those classes and type `GuavaAssertions.assertThat()` vs `Assertions.assertThat()` in the test code. Right now I am forced to specify the fully-qualified name, including the package name.

[2016-06-08 04:37] joel-costigliola commented on #682
`assertThat` from assertj-core 3.4.0 can coexist with `assertThat` from assertj-guava 2.0.0, this example below works:

[code]
Can you try that ?

[2016-06-08 09:05] #658 closed

[2016-06-08 09:18] joel-costigliola commented on #672
`Java6JUnitSoftAssertions`  with its BDD sibling

[2016-06-08 09:18] #672 closed

[2016-06-08 09:20] joel-costigliola commented on #676
@PascalSchumacher I let this one for you when you have time (no hurry).

[2016-06-09 06:12] olivergierke opened #683 "Allow working with the type previously checked through isInstanceOf(…)"
#### Summary

When writing assertions against instances of `Object`, I frequently find myself asserting the actual object type first, and then casting to that type to add further assertions:

[code]

It would be cool if the instanceOf check returned an assertion for the type I just asserted to:

#### Example

[code]

[2016-06-09 06:58] joel-costigliola commented on #683
That  would be a nice thing to have indeed, I'm not sure it is technically feasible to with generic type erasure but I'll give it a try anyway.

In the meantime, in case your object is a `String`, there is an `asString()` that combines checking the object is an instance of a String a return `StringAssert` (same with `List`).

[2016-06-09 07:20] olivergierke commented on #683
The `String` was just an example :). In my case I am actually using a complex type. Maybe introducing a new method for exactly that purpose is a better way (also not to break existing code)?

[2016-06-09 07:41] joel-costigliola commented on #683
I know it was an example :)

Thinking out loud, we could introduce a method like `<ASSERT> toAssert(ASSERT assertionClass)` to support that but it is a bit ugly.

[2016-06-09 07:43] olivergierke commented on #683
No need to hurry! Maybe just leave the ticket flying around for a bit and see if others chime in and have ideas.

[2016-06-09 07:48] joel-costigliola commented on #683
No hurry indeed, I have put it for 2.6.0 which is not the next release (2.5.0) to have time to think about it.

[2016-06-09 09:04] #680 closed

[2016-06-13 09:15] joel-costigliola commented on #682
Closing this issue by lack of feedback.

[2016-06-13 09:15] #682 closed

[2016-06-14 16:51] lbilger opened #687 "Problems with SoftAssertions and java.util.Optional"
#### Summary
Testing for Optional containing a given value fails with SoftAssertions if the Optional is empty. The call to ```AbstractOptionalAssert.contains``` will check for ```Optional.isPresent```, but the thrown Exception is captured and execution flow continues to call ```Optional.get```, which causes a NoSuchElementException, interrupting the test and hiding any previous assertion errors.
E

[2016-06-14 17:51] PascalSchumacher commented on #447
I guess #687 could be solved if assertj tracks the current outermost assertion method and its arguments. Once the first AssertionError occurs skip all further calls from this method.

[2016-06-15 06:53] lbilger commented on #683
I think this is really hitting the limits of Java ;)

Two ideas come to mind:
First idea:
[code]
[code]
This would make use of the existing overloads of ```assertThat```. Might be hard to integrate this with soft assertions, though.

Second idea:
[code]
Where ```isInstanceOf```could return an ```AbstractObjectAssert``` of the expected type. Even simpler, but probably less readable, would be:
[code

[2016-06-15 08:53] olivergierke commented on #683
I like the

[code]

idea.

[2016-06-15 09:39] joel-costigliola commented on #683
in 3.5.0 release (which is 2.5.0 + Java 8 specific features) coming this month, we have added `satisfies` feature, see https://github.com/joel-costigliola/assertj-core/issues/643#issuecomment-210687011, it will be pushed in master soonish.

[2016-06-15 13:21] lbilger opened #688 "NoSuchMethodException when calling SoftAssertions#assertThat(Comparable)"
#### Summary
Using SoftAssertions to inspect a ```java.lang.Comparable``` fails with the following Exception:
[code]

#### Example

[code]

#### Java 8 specific ?
NO
* YES : create Pull Request from the `master` branch
* NO  : create Pull Request from the `2.x` branch

[2016-06-15 13:49] PascalSchumacher commented on #688
This looks like https://github.com/joel-costigliola/assertj-core/issues/638

Are you using 3.4.0 or 2.4.0?

If yes, please update to 3.4.1 or 2.4.1.

[2016-06-15 14:47] lbilger commented on #688
You're right, I was using 3.4.0 and wasn't aware there was a 3.4.1. With 3.4.1 it works.

[2016-06-15 14:47] #688 closed

[2016-06-15 15:01] PascalSchumacher commented on #688
Glad to help. :)

[2016-06-15 21:46] joel-costigliola commented on #688
@PascalSchumacher  :+1:

[2016-06-16 08:30] jangalinski opened #689 "Provide assertion for Java8 predicates"
#### Summary

I want to simply assert the behavior of a predicate  without evaluating it first

#### Example

[code]

#### Java 8 specific ?

* YES : create Pull Request from the `master` branch

Remark: looks like a minor change and I would be happy tp provide the PR. Just let me know what you think (or if this is already possible somehow and I missed it).

[2016-06-16 08:33] filiphr commented on #689
This is already implemented. See #658.

It should come out in the next release.

[2016-06-16 08:41] jangalinski commented on #689
Cool, thanks. cloning this one then.

[2016-06-16 08:41] #689 closed

[2016-06-16 08:44] jangalinski commented on #658
Nice feature. I know discussion is over, but I just have to add my two c:

I am used to the FunctionalInterfaces, so "accept" to automatically indicates a Consumer. Working with predicates I would expect "tests" (and doesNotTest).

[2016-06-16 09:25] joel-costigliola commented on #658
well if you write `assertThat(predicate).test("a")` it is not clear that it means `assertThat(predicate).testToTrue("a")` as `predicate.test("a")` can return true or false.

`assertThat(predicate).evaluateToTrue("a")` would be closer to the java api wording but a little bit too long to my taste.

[2016-06-16 17:13] sta-szek commented on #658
or according to predicate's 'test' method it could be:
`assertThat(predicate).passes("a")`
`assertThat(predicate).passesOn("a")`
`assertThat(predicate).willPass("a")`
`assertThat(predicate).isPassing("a")` ?

[2016-06-16 20:54] joel-costigliola commented on #658
I kind of like ` assertThat(predicate).isTrueFor("a")` but I still have a slight preference for `accepts`.

[2016-06-16 21:10] jangalinski commented on #658
+1 for "isTrueFor"

[2016-06-17 23:55] #676 closed

[2016-06-19 06:02] joel-costigliola commented on #447
fixed by rethrowing `AssertionError` from nested assertion call.

[2016-06-19 06:02] #447 closed

[2016-06-19 06:44] #643 closed

[2016-06-19 06:47] joel-costigliola commented on #687
Fixed by rethrowing `AssertionError` from nested assertion calls (in this commit https://github.com/joel-costigliola/assertj-core/commit/0988c941582dc4c702e4ab64eef564e22eb585c6).

[2016-06-19 06:47] #687 closed

[2016-06-22 07:48] valery1707 opened #690 "Add MapAssert#hasEntrySatisfying(K, Condition<V>)"
#### Summary
I want to add methods to simplify check map values.
Similar to #70 and #205, but I have working code for PR.

#### Example

[code]

#### Java 8 specific ?
* `hasEntry(K, Condition<? super V>)` - NO
* `hasEntrySatisfying(K, Consumer<? super V>)` - YES

I will create two PR, but need I create two issues?

[2016-06-22 08:14] joel-costigliola commented on #690
Yes, create two issues as one is only for 2.x version (the non java 8 specific).

I would also use `hasEntrySatisfying` for both assertions.

Thanks !

[2016-06-22 08:16] joel-costigliola commented on #690
The PR for `hasEntrySatisfying(K, Consumer<? super V>)` should be on `master`.
The PR for `hasEntrySatisfying(K, Condition<? super V>)` should be on the `2.x` branch.

[2016-06-22 08:39] valery1707 opened #691 "Add MapAssert#hasEntrySatisfying(K, Consumer<V>)"
#### Summary
I want to add methods to simplify check map values.
Similar to #70 and #205, but I have working code for PR.

#### Example

[code]

#### Java 8 specific ?
* YES

[2016-06-22 08:39] valery1707 commented on #690
Description for Java 8 specific method moved to #691

[2016-06-22 09:40] valery1707 commented on #690
@joel-costigliola, I created both PR

[2016-06-25 01:43] joel-costigliola opened #694 "spike java-power-assert"
#### Summary

https://github.com/jkschneider/java-power-assert offers nice error messages, let's try to use it in AssertJ.

This issue is only a spike, don't replace all AssertJ error messages.

If the spike is conclusive then we need to identify which messages can be improved.
#### Java 8 specific ?
- NO  : Pull Request must be based on `2.x` branch

[2016-06-26 03:59] cowwoc commented on #682
Sorry for the late reply but yes, this works. I had no idea that it was legal to statically import the same method name from different classes inside the same file. Thanks for the head's up!

[2016-06-26 07:47] joel-costigliola commented on #682
No worries.

[2016-06-29 05:29] valery1707 commented on #690
@joel-costigliola, what about #692 and #693

[2016-06-29 05:56] joel-costigliola commented on #690
I will review them as part of 2.6.0 / 3.6.0 releases, I'm focused on
releasing 2.5.0/3.5.0 right now.

cheers

On Wed, Jun 29, 2016 at 5:29 PM, valery1707 <notifications@github.com>
wrote:

[2016-06-29 21:11] dorzey commented on #3
I've not had time to contribute for a while now. Is this still required? Or are there more pressing issues?

[2016-06-29 21:24] joel-costigliola commented on #3
Welcome back ! :)

I need to think about this one, I'm not so sure it is that important. Let's put it on hold for the time being.

[2016-06-29 21:26] joel-costigliola commented on #3
spiking https://github.com/joel-costigliola/assertj-core/issues/683 would be really nice.

[2016-06-29 22:21] dorzey commented on #683
If we change `isInstanceOf` to the below:
[code]
would that be sufficient to get it working with `satisfies`?

[2016-06-29 22:33] joel-costigliola opened #696 "IsEqualTo / isSameAs fails on mocked Stream"
#### Summary

As AssertJ converts `Stream` to `List`, if one uses a mocked `Stream` the conversion will return a null  `List` that would make assertions to fail.

#### Example

[code]

#### Java 8 specific ?

* YES : create Pull Request from the `master` branch

[2016-07-01 08:10] #157 closed

[2016-07-01 08:18] joel-costigliola commented on #696
Fixed in 623621f0c600f14bdbfcf7571fa9f33bd5e10506.

[2016-07-01 08:18] #696 closed

[2016-07-01 14:35] lbilger commented on #683
This would return an instance of X itself, which would require another ``assertThat`` around the call. But if ``isInstanceOf`` returned an ``ObjectAssert<X>``, it should work. Something like:
[code]

[2016-07-02 13:50] olivergierke commented on #683
@lbilger — That's basically was I was looking for 🙃.

[2016-07-03 09:57] PascalSchumacher commented on #635
I guess this can be closed, as we added `@since` tags for the 2.5.0/3.5.0 releases.

[2016-07-03 09:58] PascalSchumacher commented on #671
I guess this can be closed, as the missing methods (and tests to prevent this in the future) were added in 2.5.0/3.5.0.

[2016-07-03 10:27] vguna opened #698 "add isEqualToIgnoringGivenFieldsRecursive"
Hi.

I always stumble across the missing option to check for equality ignoring given fields, but do it recursively. Could something like that be added easily?

For specifying fields to be ignore, one could just use the object graph notation for specifying ignores on deeper levels such as:

[code]

wdyt?

[2016-07-03 22:17] joel-costigliola commented on #698
Yes, that would be useful I think, I'm thinking to support this:
[code]
or a more general
[code]

[2016-07-04 06:48] vguna commented on #698
+1 for option 2 :).

[2016-07-04 08:15] caugner opened #699 "SoftAssertions: Add #fail(String) method."
#### Summary

JUnit has a `#fail(String)` method in order to make a test fail independently from a specific object (which `assertThat(...)` requires). In general, such a `#fail(String)` method can be used for complex assertions or whenever a sophisticated failure message is required. This would be useful to have in AssertJ, especially in combination with `SoftAssertions` that report several failur

[2016-07-04 09:31] joel-costigliola commented on #699
I'm not totally convinced, I could argue that replacing an `if` statement that takes 3 lines by a single line does not add noise but actually reduces it.

[2016-07-04 16:52] caugner commented on #699
I get your point, but wouldn't you agree that those 3 lines are easier to read than the single line?

Let me try to convince you with another example:

[code]

Do I have any alternative to test the missing exception case with AssertJ?

This would work, but is even worse than the previous example:

[code]

[2016-07-04 21:20] joel-costigliola commented on #699
Ok, I'm convinced now :)

[2016-07-04 21:57] caugner commented on #699
@joel-costigliola I'm happy to hear that. Let me see if I can figure out where it should go…

My guess would be to add two methods `#fail(String)` and possibly `#fail(String, Throwable)` (for the sake of consistency) to [AbstractSoftAssertions](https://github.com/joel-costigliola/assertj-core/blob/2.x/src/main/java/org/assertj/core/api/AbstractSoftAssertions.java) (in the 2.x branch) which could t

[2016-07-05 08:34] joel-costigliola commented on #699
I believe you are on the right track, don't forget to call `lastResult.setSuccess(false)`, we need to think about  `setSuccess` implementation as calling `resolvingOutermostErrorCollectorProxyNestedCall` might not be relevant since nothing is proxied when calling directly `Fail`.

Some unit tests need to be added to verify that `AbstractSoftAssertions#wasSuccess()` behaviour is correct.

[2016-07-06 08:30] fbiville commented on #454
👍 would like to have at least something to check suppressed exception classes.

[2016-07-06 13:56] cvgaviao opened #701 "Problem using assertj-core with OSGi test"
#### Summary
The default bndlib setup sometimes add optional dependencies in the import-package without need.
In case of asserj-core, bndlib is adding those packages below. Note that there are some ant and some internal packages:

 ant.types**,org.assertj.core.api;version="[3.4,4)",org.assertj.core.api.e
 xception;version="[3.4,4)",org.assertj.core.api.filter;version="[3.4,4)
 ",org.assertj.core.a

[2016-07-06 14:11] cvgaviao commented on #701
I saw in the code that this issue was already fixed and released in 3.5.1 version.

[2016-07-10 15:20] pivovarit opened #706 "Multimap isNotEqualTo() possible problem"
I encountered some specific problem and I am not sure if this is the desired behaviour.
Please have a look at the following code example. In my case it fails, BUT if I replace mmap1's type it starts to pass.

    @Test
    public void givenMultimaps_whenVerifyingContent_thenCorrect() throws Exception {
        final Multimap<Integer, String> mmap1 = ArrayListMultimap.create();
        mmap1.put(1,

[2016-07-11 12:35] alexcom opened #707 "hasFieldOrPropertyWithValue can't work with Atomics"
#### Summary
hasFieldOrPropertyWithValue when used against AtomicInteger or( I suspect) any other type from Atomic family fails to compare values and gives non-descriptive message.

#### Example

[code]
Output:
[code]

#### Java 8 specific ?

* NO  : create Pull Request from the `2.x` branch

[2016-07-12 09:28] joel-costigliola commented on #707
The test fails because you are comparing an `AtomicInteger` with an `int`, nothing wrong here.

The error message is confusing because both value are represented the same way, for the time being only `isEqualTo` is smart enough to detect that unequals value are represented the same way and improve the representation to better differentiate them.

Example 1:
[code]

Example 2:
[code]
output : not t

[2016-07-13 01:52] joel-costigliola opened #710 "registerFormatterForType should be parameterized with type"
#### Summary

This does not compile as `coding` is declared as an `Object` instead of a `CodingDt`.
[code]

#### Java 8 specific ?

* YES : create Pull Request from the `master` branch

[2016-07-13 08:26] alexcom commented on #707
Thanks for the great explanation. All I cared about is the value. If it's
not really an issue, then OK.

Best regards,

Aleksandr Kravets

2016-07-12 12:28 GMT+03:00 Joel Costigliola <notifications@github.com>:

[2016-07-13 08:26] #707 closed

[2016-07-13 17:41] PascalSchumacher commented on #701
I guess this can be closed, now that the pull request has been merged?

[2016-07-13 19:08] cvgaviao commented on #701
@PascalSchumacher , I am not seeing a commit in master branch,the PR was only accept for  2.x branch

[2016-07-13 19:46] PascalSchumacher commented on #701
@joel-costigliola merges all commits from 2.x to master from time to time. So the next 3.x release will included your fix.

[2016-07-14 09:10] joel-costigliola commented on #701
@cvgaviao are you sure this is gonna solve your problem ? I have generated the manifest again and the only difference that I see is the order of `version="2.5.1";` and `uses:=` clauses.

Have you tested the jar generated from your commit ?

[2016-07-14 12:21] cvgaviao commented on #701
@joel-costigliola , are you saying that in the machine you are building the jar its manifest still have "Import-Package: javax.xml.parsers,org.apache.tools.ant,org.apache.tools.ant.types," ?

[2016-07-15 00:29] joel-costigliola commented on #701
There are no such packages in 2.5.x, I'll have a look at 3.5.x

[2016-07-15 07:55] joel-costigliola commented on #701
here's the manifest for 3.5.2-SNAPSHOT, `javax.xml.parsers` is still present.

Is it sufficient to solve your problem ?
Can you test the latest master branch ? it contains your fix.

[code]

[2016-07-15 08:18] joel-costigliola opened #711 "Add allSatisfy for Iterable / array"
#### Summary

Allow to verify a bunch of assertions for each elements of an `Iterable` much like `satifies`.

#### Example

[code]

#### Java 8 specific ?

* YES : create Pull Request from the `master` branch

[2016-07-16 15:14] cvgaviao commented on #701
@joel-costigliola, I tested and its ok. the package _javax.xml.parsers_ was bold wrongly by me because it comes from jdk... the problem was the ant one.
thanks

[2016-07-16 15:14] #701 closed

[2016-07-16 22:01] joel-costigliola commented on #701
thanks for the feedback.

[2016-07-16 22:32] joel-costigliola commented on #701
I have just released assertj-core 3.5.2 with this fix.

[2016-07-17 08:44] PascalSchumacher commented on #706
Hi Grzegorz,

thanks for reporting.

I think this is a not assertj problem. Assertj-core knows nothing about `Multimap`s, it just use the `equals` implementation of the `Multimap` objects to determine equality.  `Mulitmap` then uses `com.google.common.collect.Multimaps#equalsImpl` which uses `multimap.asMap().equals(that.asMap())` to determine equality.

What do you want to test for?

If you want

[2016-07-17 08:59] joel-costigliola commented on #706
In addition to @PascalSchumacher comment, if you want to compare `Multimap` content, you can use AssertJ Guava and specifically [hasSameEntriesAs](http://joel-costigliola.github.io/assertj/guava/api/org/assertj/guava/api/MultimapAssert.html#hasSameEntriesAs-com.google.common.collect.Multimap-).

See http://joel-costigliola.github.io/assertj/assertj-guava.html for a quick start.

[2016-07-17 09:00] joel-costigliola commented on #706
I'm closing this issue as it is not related to assertj-core but feel free to continue the discussion if you need more help or have more questions.

[2016-07-17 09:00] #706 closed

[2016-07-17 09:34] pivovarit commented on #706
Ok, everything clear :) thanks

[2016-07-18 16:05] cvgaviao opened #713 "Provide support to assert Dictionary<K,V> objects"
#### Summary

Currently is possible to make a lot of assertions on Map<K,V> objects and its entries, but it is not for Dictionary<K,V> objects.
besides JDK do not recommends its use, an OSGi based projects uses it everywhere since its part of the OSGi core API (because it handles concurrency very well).

So I would like to have the possibility to assert key and values from a Dictionary<K,V> object

[2016-07-18 21:21] joel-costigliola commented on #713
According to the javadoc `Dictionary` is obsolete, I won't spend time writing assertions but you can contribute it and I will be glad to accept it.

[2016-07-18 22:54] cvgaviao commented on #713
well, I know that javadoc says it is obsolete. I don't like to use it either. but I'm sure that they won't never, ever remove it from java core... and also pretty sure that OSGi API won't change since its multi-thread nature and old code support...
Will take a look when I have a time... btw, is there any wiki/doc showing the necessary steps (classes/methods) required?

[2016-07-18 23:03] joel-costigliola commented on #713
just look at map assertions, might be a good idea to convert the dictionnary to a map and use map assertions directly.

[2016-07-21 15:26] caugner commented on #699
For the sake of consistency and completeness (with `Fail`), I also added

* `#failBecauseExceptionWasNotThrown(Class<? extends Throwable> throwableClass)` and
* `#shouldHaveThrown(Class<? extends Throwable> throwableClass)`.

Some users may be accustomed to these and therefore should also find them in SoftAssertions. Also, while *shouldHaveThrown* is more concise, *failBecauseExceptionWasNotThrown

[2016-07-27 23:23] mikezx6r opened #723 "Field comparison not ignoring static fields"
#### Summary
Similar to #590, but this time for statics.
A static element won't ever be a field, so it shouldn't be comparing them.

Field has an isStatic() method to simplify this

[2016-07-27 23:34] joel-costigliola commented on #723
Thanks for reporting this.

[2016-07-28 17:06] derekbassett commented on #646
A pluggable strategy for how to handle Equals would be ideal.  I have JAXB generated classes that I would like to compare so I cannot introduce equals methods into them as the files are generated.  Being able to add a custom equals like I am able to do with compare.

[2016-07-28 19:58] PascalSchumacher opened #725 "Add hasNoNullFieldsOrPropertiesRecursive?"
Maybe this is a bit too specific, but https://github.com/benas/random-beans would benefit from an assertion that checks if an object tree does not contain `Null` values.

[2016-07-29 00:50] mikezx6r commented on #723
And I've submitted a pull request, so no one else needs to investigate it.

[2016-07-29 00:51] joel-costigliola commented on #723
:+1:
pretty busy these days but I have planned it for the next release.

[2016-07-29 00:55] joel-costigliola commented on #646
@derekbassett can you create an issue for that ? otherwise it will fall off our radar.

[2016-07-29 09:23] PascalSchumacher opened #726 "Add CharSequenceAssert#isNotBlank?"
e.g. check that a string is not `Null`, not empty and contains not only white-space.

My main concern is that Javas definition of white-space is broken (some characters like non-breaking space are not considered white-space characters). I would follow Guavas definition of white-space.

[2016-07-29 11:03] joel-costigliola commented on #726
Tricky one ...
First, we also need to add `isBlank()` in order to be complete.
Second, I think we should provide java and unicode/guava version of the assertions:

- `isBlank()` : [unicode](http://unicode.org/cldr/utility/list-unicodeset.jsp?a=%5Cp%7Bwhitespace%7D) whitespace
- `isJavaBlank()` : (sad) version with Java whitespace as defined by [Character#isWhitespace](https://docs.oracle.com/javas

[2016-07-29 17:02] PascalSchumacher commented on #726
I'm currently working on a pull request with all four methods:
* `isBlank()`
* `isJavaBlank()`
* `isNotBlank()`
* `isNotJavaBlank()`

[2016-08-01 16:03] elygre opened #729 "Add integer-based overloads to ByteArrayAssert"
#### Summary
ByteArrayAssert has a number of methods that take byte-parameters. However, since there is no byte-constant in java, you will have to cast each and every parameter value.

It would be useful to have integer-overloads of these methods.

#### Example

The first example does not work. The two next ones are workarounds.

[code]

#### Java 8 specific ?

* NO  : create Pull Request from the

[2016-08-04 07:39] tomaszszlek opened #730 "Avoid casting when assert field on base type single objects"
#### Summary
Hi,
I have proposal of some improvement regarding field assertions on single object.
Now when some type is not known we can do following assert:

#### Example

[code]

what do you think to add feature which would avoid to cast explicitly ?, for example:

[code]

It could work in similar way as 'extract' for collections.

Thanks,
Tomek

[2016-08-04 11:24] joel-costigliola commented on #730
is your feature covered by https://github.com/joel-costigliola/assertj-core/issues/683 ?

[2016-08-04 12:16] tomaszszlek commented on #730
Yes it is. I am sorry but didn't notice that similar task is already created. Anyway what do you think about implement my proposition as well as it could be handy and considered as some kind of shortcut of #683 solution ? For example we could do following :
`
assertThat(throwable).extracting("errorCode").isEqualTo(someCode);
`

[2016-08-05 00:56] joel-costigliola commented on #730
hey, no pb.

I guess having `extracting` on `Object` assertion makes sense to avoid casting your object and to have access to private fields.

[2016-08-05 08:01] tomaszszlek commented on #730
Hey,

thanks, I see that `assertThat(Throwable actual)` doesn't have such extracting method while abstract `assertThat(T actual)` has it already so adding this feature will make these two consistent :)

[2016-08-05 09:52] joel-costigliola commented on #730
`extracting` already exist for `Object` indeed :flushed:.

the good news for you is that it is also available for `Throwable` assertions since 2.5.0/3.5.0 (#663) so I guess you are not using 2.5.0/3.5.0, right ?

[2016-08-05 11:06] tomaszszlek commented on #730
oh ok, you are right, I am using 3.3.0. So it looks like we can close this ticket ? :)
My bad actually as I didn't check the latest 3.5.* version ;)

[2016-08-05 14:37] mgorniew opened #731 "Add satisfies with checked exceptions consumer."
Hello,

Currently it is not possible to write code like that:

[code]

Would it be possible to add satisfies method which can handle consumer throwing checked exception? If exception would be thrown then it would be assumed that condition failed.

Thanks,
Michał

[2016-08-05 23:17] joel-costigliola commented on #730
closed :)

[2016-08-05 23:17] #730 closed

[2016-08-05 23:32] joel-costigliola commented on #731
I believe it is not possible at the AssertJ level, you would need to use something like `LambdaExceptionUtil` as described in http://stackoverflow.com/questions/27644361/how-can-i-throw-checked-exceptions-from-inside-java-8-streams.

[2016-08-06 06:56] mgorniew commented on #731
First answer in link that you posted suggested that this is in fact ```java.util.function``` API design error. But AssertJ defines its own API, which doesn't extend Java SDK API. So you could define interface like this:

[code]

This interfaces would be used as satisfies method parameter.

[2016-08-16 08:19] 1zaman commented on #345
That web page claims that the 2.x version should be suitable for Android.

The assertion that I was missing is `isEqualByComparingTo()` in `AbstractComparableAssert`.

[2016-08-16 10:13] joel-costigliola commented on #345
Is it not ? (compatible with Android), note that you have to use `Java6Assertions` and yes it should be mentioned in the documentation but it is not (yet).

[2016-08-16 10:14] joel-costigliola commented on #345
doc issue created  : https://github.com/joel-costigliola/assertj/issues/61

[2016-08-16 11:01] 1zaman commented on #345
Using `Java6Assertions` fixes the issue, thanks!

[2016-08-17 19:46] PascalSchumacher opened #734 "Add a pluggable strategy for how to handle #equals"
requested by derekbassett in https://github.com/joel-costigliola/assertj-core/issues/646

[2016-08-17 21:21] joel-costigliola commented on #734
Does `usingComparatorForType` and `usingComparatorForFields` along with `isEqualToComparingFieldByField` address this concern ? If not what can we add/improve ?

[2016-08-18 17:04] PascalSchumacher commented on #646
@derekbassett quoteing @joel-costigliola from https://github.com/joel-costigliola/assertj-core/issues/734

[2016-08-18 17:05] PascalSchumacher commented on #734
I guess it does.

[2016-08-18 17:05] #734 closed

[2016-08-18 17:50] PascalSchumacher commented on #729
I'm currently working on a pull request with this feature.

[2016-08-18 19:55] PascalSchumacher opened #735 "Add containsExactlyInAnyOrder Assertion for primitive arrays"
`containsExactlyInAnyOrder` was added with https://github.com/joel-costigliola/assertj-core/issues/572 but is missing for primitive arrays.

[2016-08-18 21:38] PascalSchumacher commented on #735
I'm currently working on a pull request to add this.

[2016-08-18 22:43] acc15 opened #737 "Illegal Map comparison when using `isEqualToComparingFieldByFieldRecursively`"
#### Summary

Map comparison is broken when using `isEqualToComparingFieldByFieldRecursively`

May be i misunderstand this feature, but i think that Map's (and any java Collection) must be handled by `equals` without comparing them field-by-field, at least this is common behavior which everybody will expect - imho.
#### Example

[code]

Produces this output:

[code]

[2016-08-18 22:58] joel-costigliola commented on #737
The library that is used for recursive comparison comes from https://github.com/jdereg/java-util, it does compare collection and maps by their content, it is not using their `equals` method.

Is that a desired behaviour ? I think so as the recursive comparison is about content, the javadoc should be improved to make this clear. Would that work for you ?

You can use [`usingComparatorForType(compar

[2016-08-18 23:00] acc15 commented on #737
I've tried  `usingComparatorForType(comparator, type)` and `usingComparatorForFields(comparator, fields)` without success - its just ignores this.

[2016-08-18 23:15] acc15 commented on #737
Oh, i've take a look at difference detection code..

org.assertj.core.internal.DeepDifference

      if (key1 instanceof SortedMap) {
        if (!(key2 instanceof SortedMap)) {
          differences.add(new Difference(currentPath, key1, key2));
          continue;
        }
      } else if (key2 instanceof SortedMap) {
        differences.add(new Difference(currentPath, key1, key2));
        cont

[2016-08-19 00:15] derekbassett commented on #734
Sorry I just received this.
No it does not because it requires if I am checking any deep objects I can't control what I am doing to make equals.  You have this capability with compare and passing in a Comparator.  I don't understand why this would be difficult for Equals.

[2016-08-19 00:35] joel-costigliola commented on #737
This code comes from https://github.com/jdereg/java-util, my guess is that if you have a sorted map you want to take the order into account but it should be able to compare the content of a sorted map and a regular one, I consider this is a bug then.

We will also check `usingComparatorForType` behaviour, should work.

[2016-08-19 00:40] joel-costigliola commented on #734
@derekbassett  I'm not sure I understand your answer, what it is that you are not controling ? can you clarify ? An example would help.

[2016-08-19 00:42] derekbassett commented on #734
Yes give me tomorrow and I will write one up.

[2016-08-19 00:44] joel-costigliola commented on #734
:+1:

[2016-08-19 06:51] lukehutch opened #738 "isCloseTo doesn't work with arrays"
#### Summary
[code]

#### Example
Without this, you get errors like:

[code]

#### Java 8 specific ?
* NO

[2016-08-19 08:33] joel-costigliola commented on #738
There is indeed no `isCloseTo` for arrays of numbers.

I'm curious: how would you define `isCloseTo` mean for arrays ?

[2016-08-19 08:39] lukehutch commented on #738
I would expect the semantics to work element-wise, the same way that the regular isCloseTo works for scalars. (You could define other metrics to measure similarity between matrices, e.g. an L_2 norm, but I think the element-wise max difference makes the most sense as a sane default.) i.e. the assertion would fail if there was a difference in any given element position of greater than a specified e

[2016-08-19 08:58] joel-costigliola commented on #738
That makes sense, do you want to contribute ? (that's ok if you can't)

[2016-08-19 09:55] lukehutch commented on #738
I figured why not, I'll give this a shot. I just spent the last 45 minutes setting up an AssertJ Eclipse project and figuring out how to write this, then I realized that containsExactly with a precision argument already does this exact thing. It's probably not ideal to duplicate the API for containsExactly in the form of isCloseTo. What do you think?

As an aside, it would make it much easier to h

[2016-08-21 10:14] PascalSchumacher opened #743 "Fix or remove code coverage badge"
The code coverage badge displays "coverage unknown", which does no look bad. It should either be fixed or removed.

[2016-08-22 13:51] grzechol opened #745 "[java8] assertThat is ambiguous for Comparable"
#### Summary
Custom assertion for class implementing Comparable causes compilation errors under Java 8. This happens only when Comparable class is parametrized. Tested with assertj-core 3.5.2

#### Example

[code]
[ERROR] MyClassTest.java:[6,9] reference to assertThat is ambiguous
[ERROR] both method assertThat(MyClass<?>) in MyAssert and method <T>assertThat(T) in org.assertj.core.api.Assertions

[2016-08-22 19:08] joel-costigliola commented on #745
I know Java 8 is stricter than Java 7 concerning generics, gut feeling is this is the same as https://github.com/joel-costigliola/assertj-core/issues/365 but I haven't fully analysed the problem.

[2016-08-24 19:03] joel-costigliola commented on #743
the problem comes from the maven-shade-plugin and jacoco that don't play nice together.
I'll give it another shot one of these days

[2016-08-26 09:27] ChristophLu opened #746 "Support classes of java.util.concurrent.atomic"
When using the `Atomic*` classes, we always have to write `assertThat(myAtomic.get()).isEqualTo(42)`. I think it would be better to write `assertThat(myAtomic).isEqualTo(42)` instead (without the need of calling `get()`).

[2016-08-26 10:05] joel-costigliola commented on #746
I definitely agree to add atomic classes assertions, I'm hesitating though to use `isEqualTo` as it is meant to compare the objects with their `equals` method (whether it has overridden or not), I would prefer `hasValue` as it is clearer that you check the value inside the atomic wrapper, ex :

[code]

[2016-08-26 11:14] ChristophLu commented on #746
Using `hasValue()` instead of `isEqualTo()` seems to better, yes.

I would do it but it may take a while since I never have done that before and do not know the AssertJ "internals". But I will try it :)
Just forking it and after completion, merge (pull request) into `master`?

[2016-08-26 16:28] joel-costigliola commented on #746
Great ! Please create the pull request on the 2.x branch, 2.x is for Java 7 assertions, master for Java 8 (actually 2.x in regularly merged into master so that master branch = all Java 7 assertions + java 8 specific ones).

Take [`OptionalAssert`](https://github.com/joel-costigliola/assertj-core/blob/ff021db1c1cbe02b24998228d5659f5eca00d0a6/src/main/java/org/assertj/core/api/OptionalAssert.java) a

[2016-08-26 23:02] sta-szek opened #747 "Do not print full collection/map when really big"
#### Summary
AssertJ causes `Exception in thread "main" java.lang.OutOfMemoryError: Java heap space` when asserting that list hasSize.  List has 915705 elements which are combinations of class `H` with different fields values. Problem occues when assertion will fail

Classes:

[code]
#### Example
The assertion below
![image](https://cloud.githubusercontent.com/assets/6240704/18022331/242cead2-6bee

[2016-08-27 06:39] ChristophLu commented on #746
Makes sense! I will do it for `AtomicInteger` in the 2.x branch.

[2016-08-27 07:55] joel-costigliola commented on #746
Note that `OptionalAssert` only exists in the master branch not 2.x since it is Java 8 (you can look at other assert classes too to guide you).

I think that designing `AtomicIntegerAssert` in a generic way (if possible) would be a great thing when we will need to implement the other atomic assert classes.

[2016-08-27 07:58] joel-costigliola commented on #747
I think it makes sense not to print more than 1000 (?) elements (showing `...` to make it clear we haven't displayed the complete collection).

[2016-08-27 13:33] sta-szek commented on #747
BTW consider not to print iterables, streams, arrays, etc.. just everything where is more than one object

[2016-08-27 19:22] mkobit opened #748 "Add extractingValue() for `Optional` assertions"
#### Summary

It looks like this is already available in [`assertj-guava`](https://github.com/joel-costigliola/assertj-guava/blob/master/src/main/java/org/assertj/guava/api/OptionalAssert.java#L137).

Would like to see the same functionality available for Java 8 `Optional`s.
#### Example

[code]
#### Java 8 specific ?
- YES : create Pull Request from the `master` branch

[2016-08-27 20:12] mkobit commented on #748
This seems like it would be easy to implement, but I'd like to get your thoughts on the right direction for the API for `Optional` with current differences between the:

- [Guava `OptionalAssert`](https://github.com/joel-costigliola/assertj-guava/blob/master/src/main/java/org/assertj/guava/api/OptionalAssert.java)
- [Core `OptionalAssert`](https://github.com/joel-costigliola/assertj-core/blob/mast

[2016-08-28 09:06] joel-costigliola commented on #747
That was part of the plan ! :)

[2016-08-30 15:51] DevDik commented on #585
Is there a way possible where we can compare some fields but not all of the two objects using isEqualToComparingFieldByField ()

[2016-08-30 17:12] PascalSchumacher commented on #585
@DevDik You can use `isEqualToIgnoringGivenFields` or `isEqualToComparingOnlyGivenFields` see:
http://joel-costigliola.github.io/assertj/core/api/org/assertj/core/api/AbstractObjectAssert.html#isEqualToIgnoringGivenFields(java.lang.Object,%20java.lang.String...)
http://joel-costigliola.github.io/assertj/core/api/org/assertj/core/api/AbstractObjectAssert.html#isEqualToIgnoringGivenFields(java.lang.

[2016-08-31 07:52] DevDik commented on #585
@PascalSchumacher Thanks for the answer. But is there also a way of comparing two different objects where name of 1 field is different in both, or one Object has an extra parameter.

[2016-08-31 09:31] joel-costigliola commented on #585
No, how AssertJ would know how to compare field 1 in object A with field 2 in object B ?

[2016-08-31 10:13] filiphr commented on #585
@DevDik if you would like to compare different objects I would suggest to have a look at https://github.com/mapstruct/mapstruct which can help you map one object to another and then use the same object for assertions with AssertJ

[2016-09-02 07:04] olivergierke opened #751 "Add map(…) and flatMap(…) to OptionalAssert"
#### Summary

If you're dealing with `Optional`s whose values return `Optional`s, you end u with a lot of nesting. It would be cool if these could be flattened out like this:

#### Example

[code]

Note, how you constantly have to nest expressions and also rewrap the values obtained from the method call into new asserts.

It would be cool if one could rather write this instead:

[code]

I currentl

[2016-09-02 07:07] olivergierke commented on #751
Oh, and the reason I rather want to map and flat map on the assertions is that it would allow to find out which mapping step produced the empty `Optional`, whereas when mapping on the `Optional` directly, that information is lost.

[2016-09-02 08:34] joel-costigliola commented on #751
Good idea, `map` and `flatMap` will add more functional/fluent style to assertions which is nice.

[2016-09-02 15:54] joel-costigliola opened #752 "Allow to specify type comparator after using extracting on Object"
#### Summary

Extend `usingComparatorForElementFieldsWithType` usage to `extracting` on `Object`
#### Example

[code]

[2016-09-06 11:48] #729 closed

[2016-09-06 11:49] joel-costigliola commented on #729
Done

[2016-09-06 12:18] #735 closed

[2016-09-08 05:56] joel-costigliola commented on #454
done.

[2016-09-08 05:57] joel-costigliola commented on #723
done.

[2016-09-08 05:57] #723 closed

[2016-09-08 05:59] joel-costigliola commented on #699
done.

[2016-09-08 05:59] #699 closed

[2016-09-08 10:08] DevDik opened #753 "Is Bean Validation Possible using Fluent assertion??"
#### Summary
Hi All,

I do not know whether it is very relevant question but is it possible to test bean validations.?

I have some bean validations on method input parameters in my class. Is it possible to unit test those validations. I tried searching few links but could not find something relevant to my class/method.

Any lead/help on the same please...

#### Example

[code]

[2016-09-08 12:58] DevDik commented on #753
@joel-costigliola  @PascalSchumacher : Can you guys suggest something...:)

[2016-09-08 17:10] PascalSchumacher commented on #454
@joel-costigliola : My pull request only added `hasNoSuppressedExceptions` so the `hasSuppressedExceptions` part is still missing.

[2016-09-08 21:23] joel-costigliola commented on #454
ok my bad

[2016-09-09 08:41] joel-costigliola commented on #753
There is no support for bean validation, what I would do is test your method with different parameter values and check that it fails as expected by your validation rules.

[2016-09-09 09:04] caugner opened #755 "ObjectArrayAssert: Allow extracting single value using Function"
#### Summary

It should be possible to extract a single value in an [`ObjectArrayAssert`](https://github.com/joel-costigliola/assertj-core/blob/fe84371353fa3f74ea574e04a9480c986f77e6fb/src/main/java/org/assertj/core/api/AbstractObjectArrayAssert.java#L1648-L1652) using a `Function`.

So far, there is only [`AbstractObjectArrayAssert#extracting(Function<T, ?>...)`](https://github.com/joel-costiglio

[2016-09-09 10:22] caugner opened #756 "ObjectArrayAssert: Add allMatch(Predicate, String) with predicateDescription"
#### Summary

It should be possible to provide a predicate description in [`ObjectArrayAssert#allMatch(Predicate)`](https://github.com/joel-costigliola/assertj-core/blob/fe84371353fa3f74ea574e04a9480c986f77e6fb/src/main/java/org/assertj/core/api/AbstractObjectArrayAssert.java#L2194-L2197).

So far, this is only possible when matching the object using [`AbstractAssert#matches(Predicate, String)`](h

[2016-09-09 11:23] caugner opened #757 "RFC: Allow SoftAssertions in chained assertions"
#### Summary

It should be possible to use `SoftAssertions` in chained assertions, that is a way to continue assertion checking beyond the first failure in a chain of assertions and to propagate more than one failure to the `SoftAssertions` object.

So far, only the first failure in a chain of assertions will propagate to the `SoftAssertions` object.

There are two approaches for this:
1. Provide

[2016-09-10 08:11] #665 closed

[2016-09-11 09:20] PascalSchumacher commented on #738
@joel-costigliola I guess this can be closed?

[2016-09-12 08:46] joel-costigliola commented on #738
Sorry I did not remember `containsExactly` already supported that (facepalm)

The API is already big enough to avoid adding duplicate unless I have a very good case.

I have added the eclipse project files (but it's easy to import the project in eclipse in you have a maven plugin).

[2016-09-12 08:46] #738 closed

[2016-09-12 08:49] lukehutch commented on #738
All good, thanks!

[2016-09-12 13:23] DevDik commented on #753
Thanks for the reply...I did find another way for doing this. Although, it would be great if can implement this within fluent assertions... :)

[2016-09-12 13:23] #753 closed

[2016-09-14 15:15] igormukhin commented on #662
That one would be good.

I am currently in need of such `castTo` or `asType` method:

[code]

You can also do so that `isInstanceOf` would return the assert for the type.

[2016-09-14 21:04] joel-costigliola commented on #662
@igormukhin is https://github.com/joel-costigliola/assertj-core/issues/683 what you are looking for ?

[2016-09-15 19:33] igormukhin commented on #662
@joel-costigliola yes, thanks!

[2016-09-15 20:45] joel-costigliola commented on #662
closing this issue then

[2016-09-15 20:45] #662 closed

[2016-09-16 09:46] joel-costigliola opened #758 "usingComparatorForType is not used with registered type's subclasses"
#### Summary

`usingComparatorForType` should work with registered type subclasses too.

http://stackoverflow.com/questions/39490785/using-assertj-usingcomparatorfortype-method-with-inheritance

[2016-09-17 03:44] #454 closed

[2016-09-17 09:29] joel-costigliola commented on #683
As @lbilger said, his suggestion is not addressing the initial issue :
[code]

I'm gonna continue trying things although my gut feeling is that you need to pass the assert type as a parameter of `isInstanceOf` in order to chain type specific assertions.

[2016-09-17 10:18] joel-costigliola commented on #683
Got something working by introducing ...
[code]
... one can write:
[code]

Another solution would be to add methods like `asString` for every type AssertJ has assertions for, each method would check the instance type and convert to the proper assert type. This will add a bunch of methods to `AbstractAssert` but they will be easy to discover since they all follow the pattern `asTYPE`, concretely if

[2016-09-19 08:48] filiphr commented on #758
@joel-costigliola, I have one idea how this can be done. I am working on a PR right now and wanted to consult with you. I was thinking to add an internal custom map or some other wrapper over a map which when doing the get will return either the direct `comparator` (if there is a key for this in the map), or will return the first `comparator` for which the key is assignable.

There are 2 ways, tha

[2016-09-19 09:14] joel-costigliola commented on #758
I would definitely prefer the second option, just to be sure we are on the same page, instead of using a `Map<Class<?>, Comparator<?>>` we would have a class whose job will be to store comparators and give the most relevant one, my first ideas for naming this class are `TypeComparators` or `TypeComparatorRegistry`.

[2016-09-19 09:28] filiphr commented on #758
Yes this is my idea exactly. Using a class to store comparators giving the most relevant one, we'll need to specify what most relevant is though. Should it be by insertion order, should we go up the inheritance chain (class and interface) to find the most relevant one or something else.

The naming sounds really good. To me `TypeComparators` sounds better, `TypeComparatorRegistry` for me looks lik

[2016-09-19 09:51] joel-costigliola commented on #758
Relevance should be on inheritance chain, the closer the better.

[2016-09-19 21:55] ddhodapkar opened #761 "Java6SoftAssertions failed for Android"
#### Summary
Java6SoftAssertions failed for Android with java.lang.ExceptionInitializerError for version 2.5.0

java.lang.ExceptionInInitializerError
at org.assertj.core.api.SoftProxies.create(SoftProxies.java:34)
at org.assertj.core.api.AbstractSoftAssertions.proxy(AbstractSoftAssertions.java:28)
at org.assertj.core.api.Java6AbstractStandardSoftAssertions.assertThat(Java6AbstractStandardSoftAsser

[2016-09-19 22:03] joel-costigliola commented on #761
it seems to be related to this : http://stackoverflow.com/questions/34843244/android-instrumentation-tests-with-mockito

[2016-09-22 08:23] trustin opened #762 "StackOverflowError in StandardRepresentation"
#### Summary

`StandardRepresentation.toStringOf(CompletableFuture)` can trigger a `StackOverflowError` when AssertJ tries to stringify a future whose result is itself.

`toStringOf(CompletableFuture)` should not try to recurse if the result of `CompletableFuture.join()` is itself (or any `CompletableFuture`?)

#### Example

[code]

#### Java 8 specific ?

I guess no, but I tried it only on Java 8

[2016-09-22 08:35] joel-costigliola commented on #762
Good catch ! will be fixed in the next 3.x release

[2016-09-22 08:56] trustin commented on #762
@joel-costigliola Thanks a lot!

[2016-09-22 18:32] luengnat opened #763 "assertThatExceptionOfType/assertThatThrownBy does not allow the description"
#### Summary

assertThatExceptionOfType/assertThatThrownBy does not allow the error description to be specified.
#### Example

[code]

The above example does not give the expected error message.
#### Java 8 specific ?
- YES : create Pull Request from the `master` branch
- NO  : create Pull Request from the `2.x` branch

[2016-09-23 17:36] PascalSchumacher commented on #737
Yes `SortedMap`s are only considered equal if they both have the same elements in the same order. The `instanceof` checks are just a performance optimization.

Taking this into consideration I do not think it makes sense to compare a sorted to a unsorted map (at least if one map contains more that one element).

[2016-09-23 18:29] PascalSchumacher commented on #737
https://github.com/joel-costigliola/assertj-core/pull/764 makes it possible to use a custom comparator for a concrete collection or map type.

Adding support for registering a comparator for an interface like `Map` that is then used for all classes implementing it would be a lot more work. The simple check in https://github.com/joel-costigliola/assertj-core/blob/ff021db1c1cbe02b24998228d5659f5eca0

[2016-09-23 23:07] acc15 commented on #737
Well, may be...

But i think that comparison must be consistent with `equals`, which doesnt take any order into account at all (if you compare two TreeMap's with different Comparators but same elements - equals will return true)

[2016-09-24 08:05] filiphr commented on #757
@caugner I think that your workaround is not applicable to `#extracting(...)` because those methods create a new instance of an `Assert` which is no longer wrapped in a proxy.

[2016-09-24 23:06] joel-costigliola commented on #737
I haven't made up my mind on what the proper behaviour should be, for the time being I think it should compare map content as the recursive comparison is about content.

[2016-09-24 23:18] joel-costigliola commented on #757
Ideally that should work out of the box, I would be ok for approach 1 but I don't like approach 2, it is too verbose.

A spike is needed to see if we can support this out of the box without introducing `collect()`.

[2016-09-25 05:14] joel-costigliola commented on #683
Fixed by adding all possible `asXXX` methods.

[2016-09-25 05:38] #762 closed

[2016-09-25 05:51] joel-costigliola commented on #710
PR merged.

[2016-09-25 05:51] #710 closed

[2016-09-25 06:16] joel-costigliola commented on #711
PR merged.

[2016-09-25 06:16] #711 closed

[2016-09-25 11:49] olivergierke commented on #683
To be completely honest, I think the API is not really nice as it requires you to have all potential possibilities implemented explicitly. As indicated above, I think the requirement never was to get hold of a typed {{Assert}} in the first place (or by that wanting to pass the assert type), but only API to get access to the object under test *as the type I just validated against*, so that I can cr

[2016-09-25 15:15] PascalSchumacher commented on #671
@joel-costigliola Please close this issue. Thanks!

[2016-09-25 15:15] PascalSchumacher commented on #635
@joel-costigliola Please close this issue. Thanks!

[2016-09-25 15:22] PascalSchumacher commented on #758
Another important question is what should happen if the there are two comparators with the same distance in the inheritance chain.

[2016-09-25 20:54] joel-costigliola commented on #683
I missed the main point, fair enough ...
I'll keep the `asXXX` methods as they are handy for AssertJ known types and will add the type aware `satisfying` if this is technically possible (not so sure yet):
[code]
otherwise I'll go for:
[code]
which I'm pretty sure is possible.

[2016-09-25 21:19] joel-costigliola commented on #758
True but I would not expect users to register many comparators with the same priority very frequently, if that happens we should use the insertion order, anyway users can always register one for the exact type to solve the ambiguity.

[2016-09-25 21:21] joel-costigliola commented on #635
Thanks for the ~~kick in the butt~~ gentle reminder :)

[2016-09-25 21:21] #635 closed

[2016-09-25 21:22] joel-costigliola commented on #671
Closed, thanks.

[2016-09-25 21:22] #671 closed

[2016-09-26 19:05] filiphr commented on #758
@PascalSchumacher, the current implementation of the `TypeComparators` goes up the class inheritance first, and then checks the interfaces. The order of the interfaces in the `implements` and/or `extends` is maintained. What would be the same distance in the inheritance chain? There is always some order even for the interfaces.

For example:
[code]

If a comparator for `A` is provided then that co

[2016-09-26 19:35] filiphr commented on #757
In order to support this out of the box, I think that we need to wrap the assertions themselves into a proxy and not the asserters. If the internals are wrapped, then the chaining can continue.

[2016-09-26 20:11] PascalSchumacher commented on #758
@filiphr E.g. if a class implements two interfaces and there is a comparator for each interfaces. Then the distance to both is the same. But I guess the case is very unlikely.

[2016-09-26 20:36] filiphr commented on #758
@PascalSchumacher in the PR the [`Class.getInterfaces`](https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#getInterfaces--) is used. So that order is taken into consideration and not the insertion order of the comparators.

[2016-10-01 02:55] #683 closed

[2016-10-01 04:34] joel-costigliola commented on #683
I have reverted the `asXXX` method to avoid bloating the API and added in `isInstanceOfSatifying` https://github.com/joel-costigliola/assertj-core/commit/baa10e7e7a67d09fabc2f0f20a919d8e0c30b40f.

Hope this is the right one this time !

[2016-10-01 07:26] olivergierke commented on #683
There's no right or wrong here :). But a big thanks for taking the feedback into account! 👍

[2016-10-02 01:15] #758 closed

[2016-10-02 21:20] filiphr opened #768 "Cannot modify maxLengthForSingleLineDescription"
While adding more tests for the `StandardRepresentation` I realized that the `maxLengthForSingleLineDescription` cannot be set, because the the check was wrong.

I have already made a fix for it together with some new tests that provide more coverage to the `StandardRepresentation`. The fix is in filiphr/assertj-core@4485bd2. Will provide a PR once #767 is merged (I am using the new AbstractBaseRe

[2016-10-02 21:56] filiphr commented on #745
@grzechol did you writ the asserter by yourself or was it written by the generator? If you replace

[code]

With:
[code]

[2016-10-03 09:11] dipak-pawar opened #769 "Extraction of nested field/property combination fails"
#### Summary
Getting exception when calling `class.simplename, class.typename` on extraction even class has getSimpleName, getTypeName methods.

Exception ==>
org.assertj.core.util.introspection.IntrospectionError:
Can't find any field or property with name 'simplename'.
Error when introspecting properties was :
- No getter for property 'simplename' in java.lang.Class
Error when introspecting fiel

[2016-10-03 09:27] joel-costigliola commented on #769
Hi @dipak-pawar

You need to respect property name case, it works with `class.simpleName`.

Regards

[2016-10-03 09:27] #769 closed

[2016-10-03 09:30] dipak-pawar commented on #769
hey @joel-costigliola , It works thanks.

[2016-10-06 08:48] joel-costigliola commented on #748
@mkobit due to Java generic limitations it is not possible to chain specific type assertions, only Object assertions, in your example it means you can't chain the `endsWith` call .
Is the feature still valuable without specific type assertions ?

[2016-10-06 20:01] dorzey commented on #694
I've spikes adding AssertJ support to java-power-assert.  I've raised an issue - https://github.com/jkschneider/java-power-assert/issues/6.

[2016-10-08 04:16] johnzeringue opened #771 "containsExactly behaves unexpectedly with double arrays"
#### Summary

When using `containsExactly` with double arrays and a given precision, assertions unexpectedly produce strange failures under `3.5.2`.

#### Example

[code]

fails with

[code]

Instead, I would expect no failure, as `-1.71` is within `0.1` of `-1.7` and `-1.51` is within `0.1` of `-1.6`.

#### Java 8 specific ?

* YES : create Pull Request from the `master` branch
* NO  : create Pul

[2016-10-08 04:22] johnzeringue commented on #771
It seems like the issue is that AssertJ is deduping the expected array (note that `-1.7` is within `0.1` of `-1.6`). I'm not sure why this was originally done (the deduping code looks to predate this form of `containsExactly`), but it's clearly not valid when equality isn't transitive, as is the case here.

[2016-10-08 05:45] joel-costigliola commented on #751
@olivergierke the current implementation does not fail if `map` or `flatMap` produce an empty `Optional`, this is left to the user to check for that (chaining with `contains` assertion for example).

[2016-10-08 05:54] joel-costigliola commented on #751
I'm closing the issue but might reopen it if needed.

[2016-10-08 05:54] #751 closed

[2016-10-08 07:53] joel-costigliola commented on #771
Thanks for reporting this bug, will be fixed in 2.6.0/3.6.0

[2016-10-09 04:49] #771 closed

[2016-10-10 21:03] igormukhin opened #772 "`contains` check on a Collection<? extends Base> gives compiler error"
#### Summary

The example below gives a compiler error.

But if you do a simple `list.contains(new ContreteBase())`, the program compiles. May be because the method is defined as List.contains(Object o) and not List.contains(E o).

Is there solution for that assertion case in AssertJ already?
#### Example

[code]

[2016-10-11 07:35] joel-costigliola commented on #772
I think the only solution would be to use `Object` instead of the generic type in `contains`, this has been done for `isEqualTo` but not for any collection assertions, for the time being there is no plan to make collection assertions to take `Object` type parameter (I'm opened to change this if a majority of users wants it).

Anyway, the not-so-nice workaround is to cast your collection to a `List

[2016-10-11 12:23] igormukhin commented on #772
@joel-costigliola Yes, you need to cast it to `List<Base>` and suppress the warning for the unchecked operation. Ok, let's see if others need it.

[2016-10-12 13:38] mkobit commented on #748
That's a bummer.

I don't think the feature would be that valuable then because the fluent chaining is the valuable part.

Can you think of a different way to achieve similar functionality?

[2016-10-12 14:53] at-alexb opened #774 "Expand Optional assertion api to include Conditions"
#### Summary

The existing `Optional` assertion api includes `hasValue` and `hasValueSatisfying`. It would be nice to expand it to include `Condition`s.

This second method does allow a lamba or method reference (e.g. `Condition::matches`) to be written that asserts `Condition`s against the optional value, but I think not needing to do this is more readable.

#### Example

Assumes a method `jsonPr

[2016-10-12 20:10] joel-costigliola commented on #748
there are two ways :

1 /
pass the assert type as a generic parameter : `extractingValue(T)`  where `T` is `StringAssert` to get `String` assertions, not elegant IMO as users need to know the assert types.

2 /
add a bunch of methods like `extractingXXX()` where XXX is the value type, ex `extractingString()`, problem is it bloats the API and is not generic, it does not work with your custom assert

[2016-10-12 20:20] joel-costigliola commented on #774
I agree but not with `hasValue`, I would use `matches` instead.

[2016-10-14 08:23] joel-costigliola commented on #690
Integrated thanks !

[2016-10-14 08:23] #690 closed

[2016-10-14 08:24] joel-costigliola commented on #691
done

[2016-10-14 08:24] #691 closed

[2016-10-14 08:26] joel-costigliola commented on #745
@filiphr thanks for the investigation !
@grzechol clising this issue but I'll be happy to reopen it if you find it should.

[2016-10-14 08:26] #745 closed

[2016-10-14 08:27] joel-costigliola commented on #761
I'm closing this issue as we don't actively support Android - we just try to and rely on the community to maintain it.

[2016-10-14 08:27] #761 closed

[2016-10-15 05:48] joel-costigliola commented on #768
fixed with https://github.com/joel-costigliola/assertj-core/pull/767

[2016-10-15 05:48] #768 closed

[2016-10-15 06:01] #756 closed

[2016-10-15 07:27] filiphr commented on #768
@joel-costigliola great. There are some more tests in my branch, do you want me to make a PR with them?

[2016-10-15 07:46] filiphr commented on #774
There is already the `matches` method that accepts the actual object being asserted. So in this case the `Predicate<Optional<T>>`. So theoretically if the method `jsonProperty("$.property", "value")` returns a predicate it will work.

Or maybe having a method `matches(T)` would be preferred?

[2016-10-15 19:27] joel-costigliola commented on #768
would be great ! :+1:

[2016-10-15 20:32] filiphr commented on #768
@joel-costigliola done, see PR #776

[2016-10-16 05:40] joel-costigliola commented on #747
Fixed.

[2016-10-16 05:40] #747 closed

[2016-10-16 05:44] joel-costigliola commented on #205
This is addressed by #690.

[2016-10-16 05:44] #205 closed

[2016-10-16 08:07] joel-costigliola commented on #755
Well there is another variant `extracting(Extractor<? super T, U> extractor)` which allows to pass a lambda:

[code]

Except for using JDK type, why would we add another variant using a `Function` ?

[2016-10-16 08:33] joel-costigliola commented on #763
With the current implementation it is not possible to specify the assertion description as `assertThatThrownBy` fail directly if no exception is thrown, can you confirm this is what you would like to have ?

To support that, we would need to introduce a second parameter : `assertThatThrownBy(lamda, "assertion description")`.

[2016-10-16 08:40] joel-costigliola commented on #774
The thing with `Condition` is that you can combine them (predicate too but they offer less possibilities) and they can hold a description but other than that you are right.

@at-alexb thoughts ?

[2016-10-16 22:33] filiphr opened #778 "Use mutation testing (Pitest) for the AssertJ tests"
I created this issue, so we can have a discussion.

I have played around with pitest and the tests in AssertJ. Setting up pitest for AssertJ is pretty simple. There is an example of a setup in my [branch](https://github.com/filiphr/assertj-core/tree/pitest-setup), [this](https://github.com/filiphr/assertj-core/commit/cbd3e9295a43c04d13bc14ba948bf8416f939ace) commit specifically.

A full pitest ana

[2016-10-17 12:09] at-alexb commented on #774
@filiphr assertj also already has an API for making `Optional` assertions, so we're using our `Condition` method with that at the moment like this:

`assertThat(json).hasValueSatisfying(jsonProperty("$.property", "value")::matches);`

It feels a little bit more indirect to read and write versus having a method that directly accepts a `Condition` and as @joel-costigliola mentions, the other advanta

[2016-10-17 12:19] at-alexb commented on #774
Actually,  maybe `matches` isn't quite the right name? Perhaps the method should be `hasValueMatching` so it follows the naming of the other methods that automatically 'unwrap' the `Optional`?

[2016-10-17 20:16] joel-costigliola commented on #774
yeah, I'm not too happy with `matches`, I'm thinking to keep `hasValueSatisfying` but with a `Condition` parameter (obviously).

[2016-10-18 17:23] nghamilton commented on #247
I believe it is due to use of java.beans.Introspector and other classes not included with Android - assertThat(x).isEqualToComparingFieldByField(Y) fails with class not found errors.

[2016-10-18 20:14] joel-costigliola commented on #247
@nghamilton thanks for the feedback.

For everybody, AssertJ does not officially support Android but tries to do so, if a quick fix can solve some incompatibilities, fine, but if it needs some major piece of work, no.

[2016-10-20 03:08] fiery-phoenix commented on #774
If method extractingValue() was present, it would be possible to write smth like:

assertThat(Optional.of("something")).extractingValue().is(passingCondition);
assertThat(Optional.of("something")).extractingValue().isNot(notPassingCondition);
assertThat(Optional.of("something")).extractingValue().satisfies(s -> {
      assertThat(s).isEqualTo("something")
                   .startsWith("some")

[2016-10-20 03:49] joel-costigliola commented on #774
That could work, it requires two method calls instead of one though.

[2016-10-20 11:21] observer61 opened #779 "Arya Stark is not Aria"
#### Summary
 in src/main/java/org/assertj/core/api/ObjectEnumerableAssert.java
and src/main/java/org/assertj/core/api/ObjectEnumerableAssert.java

You have incorrectly spelled Arya

[2016-10-20 20:08] joel-costigliola commented on #779
Good catch ! shame on me.

[2016-10-20 20:08] #779 closed

[2016-10-20 23:31] fiery-phoenix commented on #774
Actually, that is why I was asking for an opinion :)

[2016-10-21 00:04] joel-costigliola commented on #774
I'm also reluctant to add `extractingValue` because you can't chain type specific assertions after it.

[2016-10-21 00:12] fiery-phoenix commented on #774
Yes, generics have their limitations... Ok, will create a pull request with overloaded `hasValueSatisfying`, and will leave a comment about extractingValue() as a food for thought, as I still prefer reusing existing functionality.

[2016-10-21 10:59] lujop commented on #247
And what about simply not silently catching ClassNotFound. It won't work but at least it will fail fast.

[2016-10-22 06:29] #774 closed

[2016-10-26 02:18] fiery-phoenix commented on #757
Below test seems to work on trunk (code is available at [):](https://github.com/fiery-phoenix/assertj-core/blob/dfa55cc30bbd6ab55fc2bbeea2c24d87949155d2/src/test/java/org/assertj/core/temp/ChainedSoftAssertionTest.java), though I might have misunderstood the problem.

`
  @Test
  public void should_work_with_chained_assertions() {
    Email email = new Email("from@example.com", "to@example.com", "

[2016-10-27 20:17] joel-costigliola opened #784 "Add containsAnyOf for Map assertions"
#### Summary

Allow verifying that a map contains one of multiple entries.

#### Example

[code]

[2016-10-29 05:15] joel-costigliola commented on #784
Fixed.

[2016-10-29 05:15] #784 closed

[2016-11-01 07:12] epeee commented on #746
@joel-costigliola I did a very first implementation of this one (see the linked commit above).
I'd highly appreciate your feedback.

[2016-11-01 10:37] fabioCollini opened #789 "Assertions on list of lists"
I am writing a test to verify contents of a List<List<MyObject>>, something like this:

[code]

I'd like to verify the contents of the internal list:

[code]

I think that I need to use an assertThat method with an additional parameter to specify the list element ([this](http://joel-costigliola.github.io/assertj/core/api/org/assertj/core/api/Assertions.html#assertThat(java.util.List,%20org.assertj

[2016-11-01 22:20] joel-costigliola commented on #789
hmmm, I'm indeed having an error when trying to use an assert factory, I suspect `assertThat(Iterable<? extends ELEMENT> actual,  AssertFactory<ELEMENT, ELEMENT_ASSERT> assertFactory)` to get in the way - I need to investigate more.

There is no easy way to check that except by using [condition](http://joel-costigliola.github.io/assertj/assertj-core-conditions.html) specially applying it on [eleme

[2016-11-03 21:28] joel-costigliola opened #790 "Add fail method following the String.format signature"
#### Summary

Add `Assertions.fail(error, , Object... args) similar to `String.format`

#### Example

[code]

[2016-11-03 21:35] PascalSchumacher commented on #726
Since Java 5, there is also `Character#isWhitespace(int codePoint)`,

http://docs.oracle.com/javase/7/docs/api/java/lang/Character.html#isWhitespace(int)

which includes non-breaking white-space, so maybe we should drop the (imho) ugly `isJava...` methods?

[2016-11-04 06:34] joel-costigliola commented on #726
Does it cover guava's "definition" of blank ? I agree we should only have `isBlank`

[2016-11-04 11:07] hatchy opened #791 "assertThatExceptionOfType does not show stack trace when unexpected exception thrown"
#### Summary
The ```assertThatExceptionOfType``` does not show the stack trace of an unexpected exception.

In the example output below it is difficult to see what threw the ```UnsupportedOperationException``` and diagnose the problem.

#### Example

[code]

#### Java 8 specific ?

* YES : create Pull Request from the `master` branch
* NO  : create Pull Request from the `2.x` branch

[2016-11-05 04:54] joel-costigliola commented on #791
Can you give an example of a more helpful error message ?

[2016-11-05 05:26] #790 closed

[2016-11-05 10:18] hatchy commented on #791
I was thinking about two possible approaches.

Having the stack trace as a separate message at the end:
[code]

Or, replacing ```but was instance of:``` with ```but was:``` and printing the full stack trace.
[code]

Let me know your thoughts.

[2016-11-05 21:17] joel-costigliola commented on #791
I'll go for the second option, the exception type is not repeated

[2016-11-06 11:05] PascalSchumacher commented on #726
I was wrong, `Character#isWhitespace(int codePoint)` does not consider non-breaking whitespace to be whitespace:

Sorry for the confusion.

[2016-11-06 11:05] #726 closed

[2016-11-06 15:34] hatchy commented on #791
Thanks for the quick response! 👍

[2016-11-09 09:27] DevDik opened #792 "assertion fails for two strings <Comparison Failure>"
#### Summary
Hi All,

I was trying to compare two strings using assertThat(actual string).isEqualTo(expected sring);

I get the following error:

org.junit.ComparisonFailure: expected:<"ID156"> but was:<null>
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:80)
	at sun.reflect.Dele

[2016-11-09 20:12] joel-costigliola commented on #792
We will be able to help you if you can give us a reproducible test case.

[2016-11-10 11:04] fnl opened #793 "String.matches() fails on strings with parenthesis or brackets"
#### Summary

See title; The below example fails using `org.assertj:assertj-core:3.5.2`; Similar, if using square or curly brackets.

#### Example

[code]

#### Java 8 specific ?

(I'm using Java 8)

* YES : create Pull Request from the `master` branch
* NO  : create Pull Request from the `2.x` branch

[2016-11-10 13:00] ptemplier commented on #793
The regexp is invalid and needs escaping like this

[code]

[2016-11-10 19:28] joel-costigliola commented on #793
Thanks @ptemplier for the answer !

[2016-11-10 19:28] #793 closed

[2016-11-15 02:23] xak2000 opened #796 "add isCloseTo assertion for Java 8 java.time.* types"
#### Summary

Add `isCloseTo` assertion for java 8 `java.time.*` types the [same way](https://github.com/joel-costigliola/assertj-core/blob/master/src/main/java/org/assertj/core/api/AbstractDateAssert.java#L2155) as for `java.util.Date`.

Preferably for all types of [java.time](http://docs.oracle.com/javase/8/docs/api/java/time/package-summary.html) package.

Most important types are:

- [ ] Insta

[2016-11-15 02:35] joel-costigliola commented on #796
agreed.

[2016-11-16 11:48] fnl commented on #793
Thanks for clarifying! Hope I didn't just miss that hint about escaping in the docs...

[2016-11-18 22:14] joel-costigliola commented on #792
closing this because of lack of feedback (but happy to reopen it if any)

[2016-11-18 22:14] #792 closed

[2016-11-19 16:57] caugner commented on #757
Thank you very much, your test works fine for me as well. Unfortunately, I cannot reproduce why I had the impression that it doesn't work, so I'll close this issue. Sorry for the trouble!

[2016-11-19 16:57] #757 closed

[2016-11-19 17:57] caugner commented on #755
So basically my problem was that I needed to extract values using methods that (potentially) throw Exceptions, in this case:
* `javax.mail.internet.MimeMessage#getContent() throws IOException, MessagingException`,
* `javax.mail.internet.MimeMultipart#getBodyPart(int) throws MessagingException` and
* `javax.mail.Part#getContent() throws IOException, MessagingException`.

This means, I couldn't just

[2016-11-20 02:56] fiery-phoenix commented on #757
No trouble at all, glad that it worked for you as well :)

[2016-11-20 07:07] joel-costigliola commented on #755
I agree that would be handy, I like writing code in a functional style and I have been regularly bothered by checked exceptions

[2016-11-20 20:29] caugner commented on #756
Thank you, @filiphr!

[2016-11-22 12:20] sta-szek opened #806 "Add isEqualToNormalizingWhitespace and change isEqualToIgnoringWhitespace to really ignore all whitespace"
#### Summary
Assertion fails when comparing strings ignoring whitespaces (assertj 3.6.0)

#### Example

[code]

[2016-11-22 13:32] ptemplier commented on #806
According to the documentation this is the expected behavior

from http://joel-costigliola.github.io/assertj/core/api/org/assertj/core/api/AbstractCharSequenceAssert.html#isEqualToIgnoringWhitespace(java.lang.CharSequence)

[code]

[2016-11-22 14:56] sta-szek commented on #806
Ok, so is there any other method to remove all whitespaces and then compare both strings?
If not this is my feature request :)

[2016-11-22 15:19] ptemplier commented on #806
looks like it doesn't exist yet.

The hardest part would be to find the right name for this new method :-)

[2016-11-23 06:14] sta-szek commented on #806
I think `isEqualToIgnoringWhitespace` means: compare two strings and ignore whitespaces (more, whitechars)

But now the `isEqualToIgnoringWhitespace` method does: compare two strings ignoring whitespaces in front and at the end, but replace multiple whitespaces with single whitespace, only when they are in the middle of string.

So now method name lies. For me.

[2016-11-23 13:20] PascalSchumacher commented on #806
I agree that the method name is confusing. I guess `isEqualToNormalizingWhitespace` would be a better name for the existing method.

[2016-11-23 20:14] joel-costigliola commented on #806
In hindsight I agree that was a poor name, I like @PascalSchumacher idea so let's rename this assertion to `isEqualToNormalizingWhitespace` and make `isEqualToIgnoringWhitespace` really ignoring all whitespace.

[2016-11-25 15:39] lmalgras opened #808 "filteredOn(Predicate) is not working on IterableAssert"
#### Summary
Using method filteredOn(Predicate) on an instance of IterableAssert results in `java.lang.ClassCastException: org.assertj.core.api.ListAssert cannot be cast to org.assertj.core.api.IterableAssert`

#### Example
I have replaced List<Employee> by Set<Employee> on the javadoc example :
[code]

[2016-11-25 21:32] joel-costigliola commented on #808
Thanks for reporting this, it's a (stupid) bug, the return type of `filteredOn` should have been `AbstractListAssert`

[2016-11-25 21:33] joel-costigliola commented on #808
To be clear this only works for `List` at the moment.

[2016-11-26 00:04] joel-costigliola commented on #808
Fixed

[2016-11-26 00:04] #808 closed

[2016-11-27 11:52] PascalSchumacher commented on #806
I will try to submit a pull request for this.

[2016-11-28 06:39] toddobryan opened #811 "Support for BigIntegers similar to BigDecimal?"
Is there any reason `BigInteger`s don't have similar support to `BigDecimal`s? I just replaced all my `int`s in a project with `BigInteger`s (because of serialization/deserialization issues) and wrote some code to support `BigInteger` asserts that take `int`s, `long`s, and `String`s as the argument of `isEqualTo`. I'd be happy to donate my code back to the project, but want to make sure it's somet

[2016-11-28 07:09] joel-costigliola commented on #811
The only reason is that no one requested it but it would be a welcome addition.

[2016-11-28 11:01] elygre opened #812 "Improve error message for "optional.containsInstanceOf(clazz)""
#### Summary

The error message for OptionalAssert.containsInstanceOf() is less descriptive than the similar message for AbstractAssert.isInstanceOf. Pull request is in the works.

#### Example

Before change:

[code]

After change:

[code]

Existing isInstanceOf-message:

[code]

#### Java 8 specific ?

* YES : create Pull Request from the `master` branch
* NO  : create Pull Request from the `2.x

[2016-11-29 07:46] joel-costigliola commented on #812
Agreed !

[2016-11-29 22:41] #743 closed

[2016-11-30 12:28] juddgaddie opened #815 "NPE when describedAs(null)"
#### Summary
I would not expect this to throw an NPE.
The assertion is clearly valid the describedAs just provides additional information, in this case none.

A possible work around could be to implement a custom Description but syntactically this is ugly.

#### Example

[code]

For comparison with JUnit Assert, does not throw an NPE:
[code]

[2016-11-30 22:02] joel-costigliola commented on #815
I fail to see a use case for a null description, you could use `as(String description, Object... args)` like `as("%s", descThatCanBeNull)`.

[2016-12-03 01:40] #812 closed

[2016-12-03 22:43] joel-costigliola opened #816 "allMatch should report all non matching elements"
#### Summary

`allMatch` assertion only reports the first non matching elements, although correct it would be better to report all non matching elements.

#### Example

The following assertions should fail and report all characters that are not hobbits.
[code]

[2016-12-04 10:46] xenoterracide opened #817 "flatExtracting should support a Function"
#### Summary

#### Example

[code]

should be writeable as

[code]

or perhaps better

[code]

#### Java 8 specific ?

* YES : create Pull Request from the `master` branch
* NO  : create Pull Request from the `2.x` branch

[2016-12-04 20:23] joel-costigliola commented on #817
@xenoterracide  is there something preventing you to write :
[code]

[2016-12-04 20:47] xenoterracide commented on #817
huh, for some reason I hadn't considered doing it that way... just upgraded from 2.5 since spring platform is still on that... some of these methods seem less obvious coming from java 8 (extracting vs map), and hamcrest (I spent a ton of time looking for some way to do `everyItem` from hamcrest, and found `allMatch` only in 3.x.

only other issue I noticed that if my `Predicate.isEquals( 1 )` it w

[2016-12-04 21:15] joel-costigliola commented on #817
The `allMatch` error message will be improved, it should report all elements not matching the predicate (https://github.com/joel-costigliola/assertj-core/issues/816), is that what you were thinking of ?

[2016-12-04 21:18] joel-costigliola commented on #817
Note that you can pass a predicate description to `allMatch` to improve the error message, ex
[code]
error message
[code]

[2016-12-04 21:29] xenoterracide commented on #817
no, it's not that it's more about the quoting, in both causes it says `"1"` but the reason the second one fails is that you're comparing a string to an integer, but nothing about the output implies that I'm looking at an integer. I'm thinking that primitives (or things that autobox) should not have quotes. Message would be

[code]

[2016-12-04 21:30] xenoterracide commented on #817
wait... reading that now, seems stupid because it doesn't know what the predicate is... so never mind...

though, the `everyItem` syntax it could... but seems like an overkill addition.

[2016-12-04 21:30] #817 closed

[2016-12-06 08:34] mkordas opened #818 "Add isEqualToNormalizingNewlines assertion"
#### Summary

Sometimes it is useful to compare two strings and ignore os-specific newline differences to make test passing both on Windows and Linux. It would be enough to perform `.replaceAll("\\r\\n", "\n")` on both assertion arguments and then delegating to `isEqualTo`.

#### Example

[code]

#### Java 8 specific ?

* NO  : create Pull Request from the `2.x` branch

[2016-12-06 17:40] joel-costigliola commented on #818
Yep, why not.

[2016-12-12 17:29] cbxp opened #839 "Assertions.assertThat ambiguous reference error when passing a bounded generic instance"
#### Summary
The following code does not compile:

[code]

Error:(97, 5) java: reference to assertThat is ambiguous
both method `assertThat(java.util.function.Predicate)` in org.assertj.core.api.Assertions
and method `<T>assertThat(Object[])` in org.assertj.core.api.Assertions match

It seems that Predicate versions match because Date is Comparable?

We have this problem with many of our domain mo

[2016-12-13 15:32] lbilger opened #841 "FieldByFieldRecursively comparator does not properly use comparatorForType when comparing Sets"
#### Summary
Consider the test case in the example below. The last assertion fails though it should succeed. I have debugged the issue and it seems to boil down to an issue in ```org.assertj.core.internal.DeepDifference#compareUnorderedCollection```. The method uses a hashCode created using the ```deepHashCode``` method, which does not consider the ```comparatorByPropertyOrField```or ```comparator

[2016-12-13 20:21] PascalSchumacher commented on #841
Thanks for reporting.

My understanding is that `deepHashCode` is a performance optimization. When support for `comparatorBy*` was added to `isEqualToComparingFieldByFieldRecursively` we missed that this optimization can no longer be used (at least in the current form). :(

[2016-12-13 20:30] joel-costigliola commented on #841
@lbilger thanks for the analysis.

[2016-12-14 08:49] mshoshah opened #843 "containsExactly in java 8"
#### Summary
containsExactly fails in java 8. It was working fine in java 7.  When I changed to java 8 all unit tests that use containsExactly started to fail but when I changed from containsExactly to containsOnly everything went fine.

#### Example

#### Java 8 specific ?

YES. version 1.8.0_111

[2016-12-14 09:17] joel-costigliola commented on #843
Can you give a test case that failed so that I can reproduce the problem ?

[2016-12-15 08:14] mshoshah commented on #843
The problem occurs when the class lets call it ClassA has its members annotated with @SerializedName and have another class lets call it ClassB that sets the values for ClassA and also returns an array of ClassA. Another class called ClassC that sets the default test data to use them in unittests.

 ClassA obejct1 = ClassC.defaultDataForClassA.build();
 ClassA obejct2 = ClassC.defaultDataForClassA

[2016-12-15 20:36] joel-costigliola commented on #843
I can't reproduce the problem if I don't know what ClassA, ClassB and ClassC are.
In order to help you, I need a test case that I can run and that will show the problem.

Moreover a bug in `containsExactly` has been fixed in 2.6.0/3.6.0, what version are you using ?

[2016-12-16 14:25] mshoshah commented on #843
It's a company code and I can't  share it on the Internet. We are using 2.3.0 but I changed to 2.6.0 and still get the same problem.

[2016-12-16 15:53] PascalSchumacher commented on #843
No need to post the real code. Just share a minimal example  that demonstrates the issue. Thanks in advance!

[2016-12-19 21:58] DavidBcn opened #852 "version higher than 2.6.0 doesn't work in Android (unSupportedOperationException)"
#### Summary
I have been using this library for a while in Android development, the other day I wanted to upgrade to use the latest version and I am getting `unSupportedOperationException` with no more information (even with /.gradlew --debug --stacktrace and --info).

2.6.0 and lower versions work but with 3.0.0 and higher it is showing the exception.

I am using:
java version "1.8.0_101"
Java(TM

[2016-12-19 22:27] joel-costigliola commented on #852
We don't officially support Android, we are only trying to do our best effort for 2.x to be Android compatible but nothing on the 3.x side.

[2016-12-19 22:30] DavidBcn commented on #852
thank you, joel to reply!
how about putting this information in the main page?

[2016-12-19 22:45] joel-costigliola commented on #852
It is already in http://joel-costigliola.github.io/assertj/assertj-core.html which is the main assertj-core page ;-)
Have you given a try to `Java6Assertions` ? It is an entry point that should give only java 6 (thus android compatible) assertions.

[2016-12-21 05:43] xenoterracide opened #853 "extracting().isEqualTo() not the same as property access"
#### Summary

#### Example

[code]
is not the same as

[code]

output is

[code]

seems extracting always returns a collection regardless of what it started out as. Perhaps providing a map method... also you can infer both sides of the map. see Java 8's Stream.map function signature. This type of inference has been available for a while (I think java 5, but maybe 6 or 7)

[code]

extracting could

[2016-12-21 05:52] #853 closed

[2016-12-21 05:58] xenoterracide commented on #818
Personally, I would prefer that the `isEqual` show the newlines as their escaped characters, as well as tabs and non breaking spaces, so that when white space differed you could more easily discern why.

I would also suggest that doing the substitution likely means a bug in the code caused by not using the line separator http://stackoverflow.com/a/10937340/206466, which can be used in `String.form

[2016-12-21 21:46] joel-costigliola opened #854 "Improve String diff for whitespace/newline character"
#### Summary

When two strings difference is only about whitespaces or newlines it can be hard to see the difference.

#### Example

[code]

[2016-12-21 21:48] joel-costigliola commented on #818
@xenoterracide That is an interesting improvements, I would only show whitespace/newline character as escaped when the difference is only about them, I have created https://github.com/joel-costigliola/assertj-core/issues/854 to track this improvement.

[2016-12-21 21:52] xenoterracide commented on #854
this should track tabs, non breaking spaces, spaces, and newlines. For example if you have a tab at the beginning of a line, but are comparing it to 8 spaces, or if you have 3 spaces before the end of a line that aren't displayed with line wraps. Obviously, CRLF vs LF. Also knowing that someone has used a non breaking space unicode character in a copy and paste into a test can be a source of bane

[2016-12-21 21:52] joel-costigliola commented on #818
@mkordas I think @xenoterracide has a point on code not using the line separator being a bug, do you have an example in mind where it would be a valid use case ?

[2016-12-21 21:57] xenoterracide commented on #854
Also you may have to decide what to do if you have both whitespace differences and non whitespace mixed together. I would probably suggest always showing whitespace differences if they are present rather than showing if they are the only ones present. Probably harder to detect though.

[2016-12-21 22:01] joel-costigliola commented on #854
Yeah, you are probably right, I still want to verify that the reported difference is still user friendly mixing whitespace diff and "normal" diff.

[2016-12-21 22:05] xenoterracide commented on #854
hamcrest isEqual? does offer some support for this, so might look at its output for a queue, though I can't recall if it supports all of it off the top of my head, may play with it later.

[2016-12-21 22:06] mkordas commented on #818
@joel-costigliola even if you use system line separator in your code, the newline characters of the files on the disk depend on Git's `core.autocrlf` setting. You may end up with a test that works under one setting and fails with other. And there are many usages when it doesn't matter if you print either `\n` or `\r\n`, as both display fine e.g. in console.

[2016-12-27 07:09] #791 closed

[2016-12-27 11:43] mshoshah commented on #843
Sorry for late reply. The issue was in the Java 8 itself after intensive debugging and troubleshooting.  containsExactlyInAnyOrder works fine but not containsExactly. Java 8 changes the order when fetches the entities from persistence when the class has members annotated with @SerializedName. I don't have any idea why is that. Thanks guys for help.

[2016-12-27 20:35] joel-costigliola commented on #843
Thanks for the feedback, does it mean I can close this issue ?

[2016-12-28 07:05] mshoshah commented on #843
Yes you can close the issue.

[2016-12-28 20:07] #843 closed

[2016-12-31 04:34] #746 closed

[2017-01-01 10:21] PascalSchumacher commented on #852
@DavidBcn Did using `org.assertj.core.api.Java6Assertions` as an entry point (instead of ``org.assertj.core.api.Assertions`) work for you? Can this issue be closed?

[2017-01-01 10:23] PascalSchumacher commented on #815
I guess this can be closed?

[2017-01-01 10:35] PascalSchumacher commented on #811
@toddobryan Any updates?

[2017-01-01 10:36] PascalSchumacher commented on #806
I guess this can be closed, as my pull requests fixed it.

[2017-01-01 10:39] PascalSchumacher commented on #763
@luengnat It would be nice if you could answer Joels question. Thanks in advance!

[2017-01-01 10:43] juddgaddie commented on #815
I still think it shouldn't throw an NPE, but if people think otherwise than close the issue.

[2017-01-01 11:04] PascalSchumacher commented on #522
Maybe it is a JDK bug. The compile error still occurs with jdk1.8.0_112.

[2017-01-01 11:40] PascalSchumacher opened #864 "SoftAssertions#fail(String failureMessage, Throwable realCause) display information about realCause?"
While taking a look at https://github.com/joel-costigliola/assertj-core/issues/539 I noticed that SoftAssertions#fail(String failureMessage, Throwable realCause) could be more useful, at the moment it does not show any information about realCause.

[code]

just displays:

The error message etc. of `realCause` is lost.

[2017-01-02 04:20] joel-costigliola commented on #806
indeed, thanks.

[2017-01-02 04:27] joel-costigliola commented on #864
I agree, we should at least display the real cause message and probably the stack trace (although it might get more difficult to read the other errors because of a stack trace can be quite long).
WDYT ?

[2017-01-02 04:36] joel-costigliola commented on #539
@Turbo87 what @PascalSchumacher suggest would work, we could also add for 3.x something like:
[code]
Any other wording ideas welcome for `catchAssertionError` ...

[2017-01-02 18:07] PascalSchumacher commented on #864
The real cause message (without the stacktrace) would be the best compromise between being concise and providing helpful information. (Stacktrace can also be added later on if there is demand for this feature.)

[2017-01-03 03:56] joel-costigliola commented on #864
What about displaying the 5 first stack trace elements (and adding the fact that it is a truncated stack trace) ?

[2017-01-03 14:56] Gubbel opened #870 "NPE in ShouldBeEqual.defaultDetailedErrorMessage() when actual or expected is null"
#### Summary

The `ShouldBeEqual.detailedToStringOf(Object)` method cannot handle `null` objects. This issue occurs when comparing a `null` object with an object that returns `null` from its `toString()` method (see example).

[code]

I would expect an error message like
[code]

#### Example

	public static class ToStringIsNull {
		@Override
		public String toString() {
			return null;
		}
	}

	@T

[2017-01-03 20:44] PascalSchumacher commented on #864
Sure, that should be enough information in almost all cases I guess.

[2017-01-04 14:40] Gubbel opened #873 "Suggested Improvements for AbstractAssert.failWithMessage(...)"
### Summary
Currently, the error messages generated in custom assertions via `failWithMessage()` are less clear compared to similar messages from built in assertions.

	MyTuple actual = new MyTuple(new int[] { 1, 2, 3 });
	assertThat(actual).hasValue1("");

This test fails with the following stack trace:
[code]

While a built in assertion:

	MyTuple actual = new MyTuple(new int[] { 1, 2, 3 });
	as

[2017-01-05 20:36] joel-costigliola commented on #873
What would a better error message ?
Both actual and expected values are displayed according to their String representation, I'm not sure what  additional information you want to get, hashCode ?, do you want to display actual first ?

Ok to filter the stack trace.

[2017-01-08 09:53] PascalSchumacher commented on #870
Thanks for reporting and for the pull request! 👍

[2017-01-08 09:53] #870 closed

[2017-01-09 07:20] Gubbel commented on #873
I would prefer formatting the values with the assert's representation. But I'll just use `throwAssertionError(ErrorMessageFactory)` instead in cases like that.

[2017-01-11 17:30] pablisco opened #879 "Pretty print of asserted objects"
#### Summary

I thought it would be interesting if we could have pretty printing of the objects when there is an error (instead of the default toString). This could allow for custom rendering of the objects. For instance:

[code]
Also, could have one that uses reflexion to work out the pretty print:
[code]

Is this feature or similar currently possible? If not I'll create a PR.

[2017-01-11 21:12] PascalSchumacher commented on #879
You can archive this by registering a custom `Representation`, see:

http://joel-costigliola.github.io/assertj/assertj-core-news.html#assertj-core-3.5.0-registerFormatterForType

and:

https://github.com/joel-costigliola/assertj-examples/blob/fe8a97d37359f238c0965230e0aaa883dcb71337/assertions-examples/src/test/java/org/assertj/examples/RepresentationExamples.java

for more information and example

[2017-01-12 09:37] pablisco commented on #879
That's very interesting. Thanks :)

What version of AssertJ is that on?

[2017-01-12 10:19] PascalSchumacher commented on #879
3.5.0+

[2017-01-12 12:22] #879 closed

[2017-01-12 13:34] adammichalik opened #880 "Extracting of properties implemented by default interface method broken in 3.6.0 (regression from 3.5.2)"
#### Summary
When a class implements an interface that has a `getXxx()` method with default implementation, `extracting("xxx")` fails with

[code]

This used to work in 3.5.2.

#### Example

[code]

#### Java 8 specific ?
YES (interface default methods)

[2017-01-12 20:22] joel-costigliola commented on #880
Thanks for reporting this.

[2017-01-12 20:32] mjeffrey opened #881 "Timestamp and Date equals are not symmetric."
#### Summary
When making tests with hibernate and using the assertIsEqualToComparingFieldByFieldRecursively to compare the entity returned from Hibernate with the expected entity, there are problems with unexpected failures with Dates.
While the input field is a java.util.Date the resulting value is java.sql.Timestamp and the equals() methods are not symmetric, so the objects ae not considered equ

[2017-01-13 11:29] nikitin-da opened #883 "Incorrect exceptions order in message if cause is not instance of expected type"
#### Summary
Hi! Thanks for awesome library!

There is misleading exceptions order in case when actual exception has unexpected type.

#### Example

[code]
Actual result is:
[code]

#### Java 8 specific ?

* NO  : create Pull Request from the `2.x` branch

[2017-01-13 17:23] PascalSchumacher commented on #880
I caused this regression with https://github.com/joel-costigliola/assertj-core/commit/b996e82a86a19b40e80ee0741a5ace56145228b1

Sorry everybody. :(

[2017-01-14 01:11] joel-costigliola commented on #880
@PascalSchumacher the main issue for me was the lack of tests with default methods, that would have caught the regression, hopefully we have great users and we now are aware of that.

@adammichalik is it a blocking issue for you ? said otherwise can you wait for 3.7.0 to be released or do you want a bugfix release ?

[2017-01-14 01:13] joel-costigliola commented on #883
we screwed up the param order :(
thanks for reporting this.

[2017-01-14 13:11] adammichalik commented on #880
@joel-costigliola I can stick to 3.5.2 for now, no rush. Thanks for fixing it!

[2017-01-15 09:27] mjeffrey opened #886 "Entity Identity instead of state used for assertIsEqualToComparingFieldByFieldRecursively"
#### Summary

When there is an equals() method defined then Objects::assertIsEqualToComparingFieldByFieldRecursively does not compare the remainder of the fields on the Object.

I made some suggestions for fixes below. Let me know what you think, I can create a pull request with what I did.

In JPA/Hibernate the identity of entity objects (really just POJOs) is important. So you usually need an eq

[2017-01-15 18:35] #883 closed

[2017-01-17 03:03] xenoterracide opened #888 "test class/method field visibility"
#### Summary

because I tend to write libraries, I've noticed that sometimes I take the IDE's suggestion of "may be package private" on something that should be a public class/method whatever. Below I've included the first API that comes to mind, but I'm sure there are others.

#### Example

[code]

alternatively (would lead to less method explosion)

[code]

also worth noting  that hasDeclaredFie

[2017-01-17 20:11] joel-costigliola commented on #888
We can definitely add these assertions, we could also add ones for less less visible fields/methods although I think they won't be used so much but for the sake of completeness we probably should.

[2017-01-17 21:00] xenoterracide commented on #888
right, well that does make the "withModifier" (or some similar API sort of interesting), that way you don't have the method explosion for each modifier, however up to you.

[2017-01-17 23:26] Xaerxess commented on #880
@joel-costigliola I'd really appreciate 3.6.x release with this bugfix sooner than 3.7.0.

[2017-01-17 23:59] joel-costigliola commented on #880
@Xaerxess we can do that.

[2017-01-18 06:15] joel-costigliola commented on #886
We won't change the current behavior of `assertIsEqualToComparingFieldByFieldRecursively` because it is a breaking change and if you have overridden equals it should be trusted to assess equality.

What we could do is provide a way comparing graph objects ignoring any custom equals except for basic types (JDK ones), would that work for you ?

[2017-01-18 09:48] mjeffrey commented on #886
Yes, essentially that is what I was proposing with the code snippet below where I made the second continue conditional.
This avoids strange cases where you have an equals() on Person based on the social security number but all other data is different (and they get treated as equal). In tests I think we are more interested in state than identity.

[code]

The method compareClassUsingOnlyEquals() wo

[2017-01-18 21:49] PascalSchumacher commented on #886
I guess this issue is a duplicate or at least a close "relative" of https://github.com/joel-costigliola/assertj-core/issues/646

[2017-01-19 11:42] hughwphamill opened #889 "Add anySatisfy for Iterable / array"
#### Summary
Allow to verify a bunch of assertions for any elements of an Iterable much like satifies.

Very similar to #711 except that it would pass if any element passes all of the assertions

#### Example

[code]

#### Java 8 specific ?

* YES : create Pull Request from the `master` branch

[2017-01-19 20:39] joel-costigliola commented on #889
Good idea, we will add that.

[2017-01-21 07:10] #880 closed

[2017-01-21 07:48] #852 closed

[2017-01-21 08:06] joel-costigliola commented on #886
Agreed.
Closed as duplicate of #646.

[2017-01-21 08:06] #886 closed

[2017-01-21 08:10] joel-costigliola commented on #815
@juddgaddie rethinking of it, we could replace a null description by an empty String, is this what you expect ?

[2017-01-21 10:00] juddgaddie commented on #815
As I showed in the first 2 code snippets I expect Assertj to not throw an NPE when a null description is passed in. Just like JUnit Assert. I'm not sure what you mean by "we could replace null description by an empty String" do you mean after it is passed in to describedAs?

[2017-01-22 00:38] joel-costigliola commented on #815
to treat it as `assertThat(1).describedAs("")`

[2017-01-22 01:36] joel-costigliola commented on #880
@Xaerxess  @adammichalik  Fixed in 3.6.2 which is available in maven central repo.

[2017-01-22 21:50] Xaerxess commented on #880
Thanks!

[2017-01-23 07:54] adammichalik commented on #880
Thanks, I checked it and works fine in 3.6.2!

[2017-01-24 15:58] SpencerArtisan opened #895 "Mistake on assertj-core-features-highlight.html"
#### Summary

 [check Frodo's age] expected:<33> but was:<100>

should read

 [check Frodo's age] expected:<100> but was:<33>

#### Java 8 specific ?

NO

[2017-01-24 19:10] #895 closed

[2017-01-24 19:10] PascalSchumacher commented on #895
Thanks for reporting! 👍

[2017-01-25 14:31] vanniktech commented on #345
@joel-costigliola would it be possible to backport `withFailMessage()` as well as `containsExactlyInAnyOrder` into 1.x?

[2017-01-25 21:01] PascalSchumacher opened #897 "Improve android support?"
New android version support some java 8 feature like lambda expressions and streams (https://developer.android.com/guide/platform/j8-jack.html), but `java.nio.file.Path` and the `java.time` are still not supported.

What about renaming Java6XAssertions to AndroidXAssertions and adding streams etc. to the 3.x versions?

[2017-01-27 09:42] Mrodent opened #900 "Negate a condition?"
#### Summary
See this Stack Overflow question: http://stackoverflow.com/questions/37994008/how-do-i-negate-assertions-in-assertj
As the OP puts it there "Using Hamcrest it is easily possible to negate a matcher." (see example below).
I've no idea how complicated this might be to add to AssertJ ...
I'm aware there are quite a lot of "doesNotMatch" type AssertJ methods.  But today, for example, I wa

[2017-01-28 08:12] joel-costigliola commented on #900
There is no easy way to build the negation of an assertion, as I was suggesting in stack overflow, the best way would be to write a condition and negate it (or directly write it in a negative way).

If the negative counterpart of an assertion seems general enough, we can just add it as a standard assertion but I consider that `doesNotContainIgnoringCase` does not fall in this category.

[2017-01-29 17:32] PascalSchumacher commented on #811
@joel-costigliola merged the pull request by @epeee

Thanks!

[2017-01-29 17:32] #811 closed

[2017-01-29 17:37] PascalSchumacher commented on #796
Thanks to @fiery-phoenix pull request which added this for all  `java.time.*` classes supported by AssertJ I think this can be closed. `Instant` is no supported yet, but this should be a different issue I think.

[2017-01-29 20:19] joel-costigliola opened #903 "Add Instant assertion"
#### Summary

The main of Java 8 java.time.* are supported except `Instant`

[2017-01-29 20:19] joel-costigliola commented on #796
agreed : https://github.com/joel-costigliola/assertj-core/issues/903

[2017-01-29 20:19] #796 closed

[2017-01-30 08:58] Mrodent commented on #900
Thanks for the explanation.  Didn't realise you were part of (the whole of?) the AssertJ team.

Yes, it's extremely easy to achieve "does not contain ignoring case", using toLowerCase().  Haven't got around to writing my own conditions yet... but greatly appreciate the readability AssertJ gives us.

[2017-01-30 20:29] joel-costigliola commented on #900
I'm not the whole team, Pascal Schumacher joined it recently and even before I always thought of AssertJ being a community project, 90% of the features come from issues and PR from our users.

[2017-01-30 20:29] #900 closed

[2017-02-06 02:04] QEcoderS opened #913 "Enhancement request on isEqualToComparingFieldByFieldRecursively"
Hi, I need to compare the response object field by field recursively using isEqualToComparingFieldByFieldRecursively. But it can't ignore the fields that are null in my expected object. Is it possible to provide an enhancement of isEqualToComparingFieldByFieldRecursively skipping null values in expected object or help in achieving the same.

Thanks,
Shuba.

assertThat(expectedObj).isEqualToCompari

[2017-02-06 02:36] joel-costigliola commented on #913
I'm ok to add this feature but not changing the behavior `isEqualToComparingFieldByFieldRecursively` as it is a breaking change.

The challenge here is to find a way to specify that `null` fields are to be ignored in comparison, the straigtforward solution is to add `isEqualToComparingFieldByFieldRecursivelyIgnoringNullFields` but the name is really long, I'd like to see if we could find a lighter

[2017-02-06 02:53] QEcoderS commented on #913
Thank you very much Joel! for the quick response. Looking forward to this feature at the earliest.
Just a small thought to avoid long name, can we have an overloaded method with an additional argument - bool ignoreNullFields.

Kind Regards,
Shuba.

[2017-02-06 03:08] joel-costigliola commented on #752
While reviewing this, I now find that `usingComparatorForElementFieldsWithType` should have been `usingComparatorForType` as I think it clear that is you register a comparator for a given type, it's gonna be used whenever an instance of this type needs to be compared.

@PascalSchumacher thoughts ?

[2017-02-06 07:57] #816 closed

[2017-02-06 20:22] joel-costigliola commented on #913
Good idea, we will probably use an enum for extensibility.

[2017-02-07 03:29] fiery-phoenix commented on #752
Well, `usingComparatorForElementFieldsWithType` method name does reflect current implementation behavior. Not sure if there might be cases when new behavior will not work instead of it (I mean, if there might be needed to have comparator registered for elements' fields, but not for elemetns themself). Agree that method name `usingComparatorForType` fits new behavior better.

[2017-02-07 20:34] PascalSchumacher commented on #752
I agree that

[code]

reads better.

I'm not sure about deprecating `usingComparatorForElementFieldsWithType`. It think its name is well aligned with `usingComparatorForElementFieldsWithNames`. Both methods serve as a set-up for `usingFieldByFieldElementComparator`, `usingElementComparatorOnFields`, `usingElementComparatorIgnoringFields` and `usingRecursiveFieldByFieldElementComparator`.
Furthermo

[2017-02-07 20:48] PascalSchumacher opened #914 "Use @CheckReturnValue on "non-asserting" AssertX methods?"
It maybe a good idea to extend the use of `@CheckReturnValue` to "non-asserting" methods like `describedAs`, `usingX` etc.

That would allow findbugs etc. to catch errors like these

[code]

[2017-02-07 22:47] joel-costigliola commented on #914
I agree it is useful.

[2017-02-10 15:27] stonio opened #919 "assertThat(-0.).isZero() fails"
#### Summary

Tested with: AssertJ 2.6.0 ; Java 7

Expression `assertThat(-0.).isZero();` fails. Can we reconsider this?

#### Example

[code]

#### Java 8 specific ?
* NO  : create Pull Request from the `2.x` branch

[2017-02-10 22:03] joel-costigliola commented on #919
I agree.
the issues comes from AssertJ converting `double` to `Double`. It turns out that with `Double` positive zero is not equal to negative  zero as explained in
http://stackoverflow.com/questions/14771328/java-signed-zero-and-boxing.

[2017-02-10 22:07] joel-costigliola commented on #919
That also applies to `float`

[2017-02-11 00:54] joel-costigliola opened #920 "assertion description is forgotten after using extracting"
#### Summary

After using `extracting` the assertion information (including the description) is forgotten as a new assertion is created to check the extracted values

#### Example

[code]
(obviously) fails as expected but `check names` does not appear in the error message.

[2017-02-11 19:57] #914 closed

[2017-02-12 10:22] PascalSchumacher commented on #873
Joel merged the pull request, so I'm closing this. Thanks for reporting and for the pull request! 👍

[2017-02-12 10:22] #873 closed

[2017-02-15 08:36] karolmie1 commented on #806
Was This removed on the way? I am using:

And I have same problem!

[2017-02-15 09:13] joel-costigliola commented on #806
Not sure what you mean but nothing has been removed yet, this change will be part of the next release 2.7.0/3.7.0.

[2017-02-15 10:47] karolmie1 commented on #806
Oh, ok I thought that 2.7 was released long time ago, and now its 3.6, but it's just different branch. Sorry for interruption!

[2017-02-15 21:40] joel-costigliola commented on #806
In AssertJ 2.x versions target Java 7 while 3.x target Java 8, which means that 2.6 is way newer than 3.0 ! (might be a bit confusing but http://joel-costigliola.github.io/assertj/assertj-core-quick-start.html tries to clarify that).

[2017-02-17 21:28] SpOOnman opened #926 "AssertionMatcher proposal"
#### Summary

I have a proposal to add a generic Hamcrest Matcher implementation that would fit assertj library:

[code]

Advantages as I see it:

- don't create complex boolean expressions inside matches method
- override only assertion method
- inside assertion method use assertj default, custom or any other assertions that throw AssertionError
- failure description is provided with detailed des

[2017-02-18 00:47] joel-costigliola commented on #926
If I understand you correctly you want to integrate AssertJ assertions into Hamcrest matcher so that you can reuse some AssertJ assertions where an Hamcrest matcher is required.

If that is the case then yes I agree it can be useful.

We also have the other way around https://github.com/joel-costigliola/assertj-core/pull/570 (not integrated yet) that allows to reuse Hamcrest matcher as AssertJ.

[2017-02-18 23:05] SpOOnman commented on #926
Yes, I want to reuse my custom AssertJ assertions - that was exactly my intension.

That's great. I'll provide a PR then!

[2017-02-19 08:42] joel-costigliola commented on #919
Fixed.

[2017-02-19 08:42] #919 closed

[2017-02-19 10:40] PascalSchumacher opened #927 "Soft assertions do not work on java 9"
Using any kind of soft assertions on java 9 build 157 fails with:

`java.lang.NoClassDefFoundError: Could not initialize class net.sf.cglib.proxy.Enhancer`

I think we need a new cglib release (see: https://github.com/cglib/cglib/issues/94).

[2017-02-19 14:35] PascalSchumacher opened #928 "Java 9 reflection changes"
Java 9 is much more restrictive concerning reflective access to non-public fields/methods. For example `setAccessible` called by `org.assertj.core.util.introspectionFieldUtils#readField` on a private field fails with:
[code]

This means that assertj methods which use reflection on non-public fields/methods will fail/behave differently. For example the `isEqualTo*Fields` methods.

[2017-02-19 16:45] PascalSchumacher commented on #928
It still works if the user opens all required packages for assertj, e.g. `--add-opens java.base/java.util=ALL-UNNAMED` (ALL-UNNAMED can be replaced with the assertj module name once there is one).

For example `DeepDifference_Test` fails on java 9, but runs with these args:

[code]

[2017-02-19 16:56] DavidOpDeBeeck opened #929 "Files.newTemporaryFile() is not unique when called multiple times."
#### Summary

When calling `Files.newTemporaryFile()` multiple times in close proximity of each other the filenames could be the same. This could result in a failing test and the following error `a file was found with the same path`.

This could be resolved by calling `Files.newFile(String path)`, but one would expect that `Files.newTemporaryFile()` would be unique each time it is called.

#### Cu

[2017-02-19 20:24] joel-costigliola commented on #929
Fair enough but `Files` is not part of AssertJ API I don't recommend to use it as it can be changed any time.

[2017-02-21 21:42] PascalSchumacher commented on #929
@joel-costigliola If the method is not part of the API, maybe we should remove it, as it is not used inside AssertJ. Only a single method of `Files` is used by AssertJ (and only one time).

[2017-02-22 12:08] harishkannarao opened #932 "Better reporting on usingRecursiveFieldByFieldElementComparator() for list of objects"
#### Summary
Provide better reporting on differences (Path to difference:) along with object's toString() during assertion failure when comparing lists of objects

#### Example

[code]

[2017-02-22 19:18] epeee commented on #889
We can close this one since the pr is integrated, isn't it?

[2017-02-22 19:53] joel-costigliola commented on #932
What outcome would like to see ?

[2017-02-22 21:20] joel-costigliola commented on #889
yes !

[2017-02-22 21:20] #889 closed

[2017-02-22 21:39] hughwphamill commented on #889
Super, thanks for the speedy turnaround!

[2017-02-22 22:47] harishkannarao commented on #932
I have enhanced the sample test. The second test given additional information **Path to difference:** as
[code]

[code]

[2017-02-26 08:07] joel-costigliola commented on #888
Closing this issue as we have added:

- `isPublic()`
- `isProtected()`
- `hasMethods(String... methodNames)`
- `hasDeclaredMethods(String... methodNames)`
- `hasPublicMethods(String... methodNames)`
- `hasDeclaredPublicMethods(String... methodNames)`

[2017-02-26 08:07] #888 closed

[2017-02-26 19:05] Mrodent opened #938 "Condition subclass "satisfies" and/or "matches" as well as "is" and "has"?"
#### Summary

I did a search here but the suggestion doesn't seem to have been made.  When you create your own Condition class (fantastically versatile feature BTW), you can use either "is" or "has".  And, cleverly, the failure message uses the chosen verb.  Could you not let people use one or two other verbs, particularly "satisfies"?  A minor point, no doubt, but would improve readability.

####

[2017-02-26 20:26] joel-costigliola commented on #938
I'm sympathetic to the idea, can you tell me:
- How would you choose to use `satisfies` over `has/is` ?
- What the error message would look like ?

[2017-02-27 02:29] joel-costigliola commented on #748
Closing this issue until we have an acceptable way of implementing it.

[2017-02-27 02:29] #748 closed

[2017-02-27 02:41] joel-costigliola opened #939 "Try to add jacoco code coverage back"
#### Summary

Jacoco was failing due to soft assertion instrumentation getting in the way, maybe with the latest jacoco version this issue can be fixed.

[2017-02-27 08:17] Mrodent commented on #938
See class below: it inspects a String which, to pass the test, must contain HTML with at least one `<SPAN>` , and all its SPANs must have a "class" attribute the value of which must contain the String (i.e. the class) "fg[xxx]_colour".  The constructor determines the "xxx" ("red", "green", etc.).

If it fails you get "Expected "...." to **have**...", so I've deliberately tailored the toString meth

[2017-02-27 12:05] sriramnagaraj opened #940 "Launching an application (Jprofiler specifically) by its executable"
I need to automate JProfiler GUI (switching between various tabs, extracting textual data and verifying them). I have been trying to use assertj-swing library. However, JProfiler is launched by an executable and not by class file. Is there a method in assertj swing to launch a app by its executable. ?

[2017-02-27 13:01] PascalSchumacher commented on #940
Hi  @sriramnagaraj

this repo is just for assertj-core. Please report assertj-swing issues at https://github.com/joel-costigliola/assertj-swing

Thanks!

[2017-02-28 14:09] obfischer commented on #75
+1

[2017-03-01 21:59] DavidOpDeBeeck opened #943 "Assert that Runnable does not throw exception."
#### Summary

Create an assertion type that takes a `Runnable` and validates that the `Runnable` does not throw an exception.

#### Current solution

[code]

#### Proposed (naming is not permanent)

I am not sure about the naming of such method, below is just a proposed naming.

[code]

[2017-03-01 22:41] joel-costigliola commented on #943
#901 has just been integrated providing this feature:
[code]
this will be available in the next release

[2017-03-02 00:11] joel-costigliola commented on #943
I guess I can close this one then.

[2017-03-02 00:15] DavidOpDeBeeck commented on #943
Yes, thanks for the information.

[2017-03-02 00:15] #943 closed

[2017-03-02 09:03] #815 closed

[2017-03-02 22:04] fiery-phoenix commented on #752
I would like to figure out what is expected from `usingComparatorForType`.

Before that I would like to mention that when `usingComparatorForElementFieldsWithType` is called, comparator for element field by type is not getting applied until `usingFieldByFieldElementComparator` (or some other setting comparator method) which uses `comparatorsForElementPropertyOrFieldTypes`  is called, as by default

[2017-03-03 01:55] Mishail opened #944 "Using Conditions to assert maps entries/keys/values"
I wonder if it makes sense to make a next step from #205 and #690 and add more methods to `MapAssert`.

Like:
[code]
and their negative counterparts.

[2017-03-03 02:51] joel-costigliola commented on #944
the first one already exists : http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/AbstractMapAssert.html#hasEntrySatisfying-K-org.assertj.core.api.Condition-

I'm ok to add the other if you can give me a real life use case.

[2017-03-03 03:05] Mishail commented on #944
That's not quite true. I have to know the key in order to use that method. But I'm talking about more general approach where I have some _criteria_ for an entry, which may or may not include a specific key.

A real life use case. I was trying to create a test case today where I had to check if a map didn't have a value which satisfied some predicate.

The only way to do that now is something like:

[2017-03-03 03:28] joel-costigliola commented on #944
You are right about the API.

I would use a different syntax:
[code]

[2017-03-03 03:35] Mishail commented on #944
I'm fine with any naming as long as it provides the functionality 👍

[2017-03-04 09:00] joel-costigliola commented on #752
@fiery-phoenix thanks for your comment, I agree with @PascalSchumacher to keep `usingComparatorForElementFieldsWithType` to make it clear it is only applied for element fields not elements themselves. Following that logic, I think that `usingComparatorForType` and `usingComparatorForElementFieldsWithType` should not share comparators.

Having said that, I feel adding `usingComparatorForType` is go

[2017-03-04 14:35] fiery-phoenix commented on #752
I think it will not be clear why the test you mentioned should fail. But now I have an idea what implementation could be less confusing. When have time, will update my pull request. Thank you.

[2017-03-05 05:23] #818 closed

[2017-03-06 00:31] joel-costigliola opened #947 "Make AbstractMapAssert inherit from AbstractObjectAssert to provide extracting feature"
#### Summary

This does not compile:
[code]
This does:
[code]

#### Java 8 specific ?

* NO  : create Pull Request from the `2.x` branch

[2017-03-06 10:57] SergeyPirogov opened #948 "Enhanced SoftAssert suport"
Will be useful to have enhanced version of soft assert:

JUnit 5 provided new version for softAssertions:

[code]

Can we achieve the same?

[2017-03-06 21:35] #927 closed

[2017-03-06 21:59] PascalSchumacher opened #949 "hasMethods/hasDeclaredMethods error message should not display synthetic methods"
I updated/enabled jacoco (https://github.com/joel-costigliola/assertj-core/issues/939), but this makes some test fail, e.g.:

[code]

Jacoco adds a synthetic (I guess) method `$jacocoInit` and this method is displayed in the error message.

I guess syntetic methods should not be displayed in these error messages.

What do you think?