[2019-02-05 08:51] joel-costigliola commented on #1002
@merlin-hst a small project would be great or if it is simpler just create a PR on top of this branch.

I'll look into the stack overflow error, thanks again for you feedback.

[2019-02-05 20:50] PascalSchumacher commented on #1403
Open JDK issue (https://bugs.openjdk.java.net/browse/JDK-8212233) was reopened and fixed in 12.0.1 and 13. I hope this will be backported to Java 11.

[2019-02-06 10:30] joel-costigliola opened #1423 "add isEqualTo(String string, Objects... param) to String assertion"
#### Summary

When comparing strings, it would be nice to have String.format baked in the expected string so instead of writing:

[code]

one can simply write:

[code]

[2019-02-06 15:04] nazartm opened #1424 "Recursive comparison should to compare Optional field values recursively"
#### Summary
When using `isEqualToComparingFieldByFieldRecursively` with classes that contain optional fields, the comparison fails by comparing reference instead of the fields.

Expected solution would be to check if optional is present and compare the fields in the optional value.

The below unit test can be used to test the case.

#### Example

[code]

[2019-02-06 18:46] j-kitch commented on #1423
Hi, would I be ok to tackle this and submit a PR?  Seems like a good problem for a first contribution :smiley:

[2019-02-06 18:51] dev-priporov commented on #1423
@j-kitch hi, I'm sorry but I close to complete PR, I don't want to you may spend your time on that

[2019-02-06 22:34] joel-costigliola commented on #1423
@dev-priporov thanks. Next time you start working on an issue, can you comment on the issue to let everybody know about it (like @j-kitch).

[2019-02-06 22:37] joel-costigliola commented on #1422
Agreed!

[2019-02-06 22:39] joel-costigliola commented on #1423
@j-kitch if you are keen to contribute (which would be great, this https://github.com/joel-costigliola/assertj-core/issues/1422 can be a good one to tackle).

[2019-02-07 04:54] dev-priporov commented on #1423
@joel-costigliola ok, sure, I will comment

[2019-02-07 08:39] j-kitch commented on #1423
No problem @dev-priporov, I'll take a look at #1422

[2019-02-07 08:41] j-kitch commented on #1422
I'll start work on a fix for this issue if that's ok?

[2019-02-08 12:45] zuckel opened #1429 "Enhancement: When isEqualTo(Object) fails, use isEqualToComparingFieldByField to compute diff"
#### Summary
When isEqualTo(Object) fails, we try to create a diff based on the objects' toString method. This works in many cases, but the diff can quickly become hard to parse if the compared objects are large or contain certain types of values that interfere with the toString/diff syntax.

I propose to enrich diff messages based on the output of isEqualToComparingFieldByField(Object), which tel

[2019-02-08 12:52] zuckel opened #1430 "isEqualToIgnoringGivenFields(Object, String...) should fail on unrecognized field names"
#### Summary
isEqualToIgnoringGivenFields(Object, String...) should fail if any of the field names to be ignored is unknown to both objects.

#### Example
[code]

[2019-02-09 10:37] joel-costigliola commented on #1002
@merlin-hst I have pushed a fix for the recursive error, the test you gave me fails with the error below.

Isn't that achievable with regexes ?

I did not understand this one, can you clarify with an example ?

[code]

[2019-02-09 16:38] ptomaszek opened #1432 "catchThrowableOfType - stack trace of the original exception is lost"
#### Summary
When `catchThrowableOfType` fails because caught exception does not match the expected one, it would be helpful to see stack trace showing the place where the unexpected exception was thrown. Easier than debug.

#### Example
What I see:

`java.lang.AssertionError: Expecting code to throw <class com.example.AppException> but threw <class java.lang.UnsupportedOperationException> instead

[2019-02-09 23:20] joel-costigliola commented on #1430
Good idea, that something we are going to do as part of #1002 which I'm going to release a beta version this week.

[2019-02-09 23:22] joel-costigliola commented on #1430
Added to the #1002 and closing this one as duplicate.

[2019-02-09 23:22] #1430 closed

[2019-02-09 23:23] joel-costigliola commented on #1432
Fair enough.

[2019-02-10 02:09] #1423 closed

[2019-02-10 02:15] ssmyth2 commented on #1432
Hey do you mind if I work on this one?

[2019-02-10 02:29] #1416 closed

[2019-02-10 03:03] #1420 closed

[2019-02-10 03:04] joel-costigliola commented on #1432
Sure, thanks!

[2019-02-10 09:48] #1422 closed

[2019-02-11 09:01] #1432 closed

[2019-02-11 15:37] merlin-hst commented on #1002
I'll provide you a working version.

But as I already mentioned in my opinion the error message is a little bit to abstract. It indicates that the fields 'content' and 'details' of AEntity and ADocument differs. But because both fields are complex objects I'd like to know why they differ. When I inspect the ComparisonDifference objects in the debugger I can see that there is a field called 'additi

[2019-02-12 17:15] AHeise opened #1434 "Use prefixes in Assertions_sync for more detailed comparison"
#### Summary

In #1397, I found that the current Assertions_sync is pretty much only comparing the "assertThat" and "then" methods and not any "assertThatCode" with "thenCode" (in general assertThatX with thenX).

When implementing such a comparison in #1397, I also found that a bunch of assertThatXException methods have no corresponding thenXException.

In this ticket, I'd like to push the extend

[2019-02-13 10:21] #1388 closed

[2019-02-15 09:09] joel-costigliola commented on #1414
Sure then.

[2019-02-15 09:31] mp911de opened #1437 "Introduce Maven BOM for AssertJ artifacts"
#### Summary
To ease consumption of _AssertJ_ artifacts, it would be great to introduce a Maven _Bill Of Materials_ POM ([search for BOM here](https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html)) for all AssertJ artifacts that are released as part of an AssertJ release (`assertj-core`, `assertj-swing`, `assertj-guava`, …).

A BOM simplifies consumption of artifa

[2019-02-15 13:07] saurabh-ku commented on #1429
This looks like an interesting feature, but i think it could get a bit overwhelming in deeply nested objects. Have you decided on how to format error messages in such cases?

[2019-02-15 13:20] saurabh-ku commented on #1424
We can box the objects inside any custom wrapper we build, not just an optional. How do we figure out how to extract the internal object?

[2019-02-15 13:47] nazartm commented on #1424
But it's not a customer wrapper, it's part of java.

[2019-02-15 13:47] zuckel commented on #1429
I am only proposing to use what is already computed in isEqualToComparingFieldByField(Object). Whether that supports nesting or not is another story.

[2019-02-15 16:22] checketts commented on #1414
I've added this support in other projects. Would you be interested in a contribution for this?

[2019-02-15 20:26] joel-costigliola commented on #1414
@checketts that would be great! thanks.

[2019-02-15 20:44] joel-costigliola commented on #1424
The issue here is that it uses `Optional` equals method to compare the `coAuthor` field which then compares the authors.

What needs to be done is treat `Optional` as collections are treated and compare their content recursively instead of using `equals` (by default the recursive comparison uses `equals` on types where it had been redefined).

The new recursive  API (#1002) that has been released

[2019-02-18 08:02] Turbo87 opened #1440 "`NullPointerException` in `isEqualTo` assertion"
#### Summary

see https://github.com/Turbo87/intellij-emberjs/pull/246

[code]

[2019-02-18 08:39] joel-costigliola commented on #1440
thanks for reporting this, could you provide a test case for it ?

On Mon, 18 Feb 2019, 21:02 Tobias Bieniek <notifications@github.com wrote:

[2019-02-18 09:21] Turbo87 commented on #1440
https://github.com/Turbo87/intellij-emberjs/blob/d526a6ca4974bace1d3ca396a3be57961bb0108e/src/test/kotlin/com/emberjs/resolver/EmberNameTest.kt#L107-L109 is the code that seems to trigger this. I'm not sure yet what specifically is causing it though 🤔

[2019-02-18 09:23] Turbo87 commented on #1440
looking though the code, could it be that `.isEqualTo(null)` is the problem?

[2019-02-18 09:27] joel-costigliola commented on #1440
I won't be able to look at the code until next week, could you print actual
and  expected to get more information?

On Mon, 18 Feb 2019, 22:23 Tobias Bieniek <notifications@github.com wrote:

[2019-02-18 19:52] epeee commented on #1440
I just had a look at this one and it looks like this one only happens if assertj is used from Kotlin.
A simple example which reproduces this one:
[code]
As shown in the provided stacktrace we end up in:

https://github.com/joel-costigliola/assertj-core/blob/2c57b2b4e470a0a7ff50ee64cbc7d27c02303893/src/main/java/org/assertj/core/api/AbstractStringAssert.java#L309-L311

We are heading into the nullp

[2019-02-18 20:11] joel-costigliola commented on #1440
interesting, why is Kotlin not resolving the method like java ?
is there something we can do?

On Tue, 19 Feb 2019, 08:52 Erhard Pointl <notifications@github.com wrote:

[2019-02-18 22:16] asolntsev opened #1441 "UnknownFormatConversionException when asserting String with `%` sign"
#### Summary
I have a test written in Kotlin. It throws `UnknownFormatConversionException` when I try to assert a String containing `%` character. The same test in Java works properly.

#### Example

1. Test in Java - works:

[code]

2. The same test in Kotlin - fails:

[code]

Failure message is:

[code]

[2019-02-19 06:10] ming13 commented on #1440
Same here.

[code]

[2019-02-19 06:14] ming13 commented on #1440
Seems like it was introduced by #1425 in `3.12.0`. Looks like a reasonable issue though since `expectedStringTemplate` is `String` and `args` is an optional `vararg`. I would suggest to change the comparison logic to fallback to regular `isEqualsTo` when `expectedStringTemplate` is `null`.

[2019-02-19 08:20] joel-costigliola commented on #1440
The real issue here is why kotlin is resolving `isEqualTo(String template, Object... args)` instead of `isEqualTo(Object expected)` ?

[2019-02-19 08:22] joel-costigliola commented on #1440
@ming13 your suggestion would work for Kotlin users but it is not so nice for java users since if they provide a null template, this should be considered as an error and not as an intent to call `assertThat("test").isEqualTo(null)`.

[2019-02-19 08:24] joel-costigliola commented on #1440
I can't verify it but this might be fixed by https://github.com/joel-costigliola/assertj-core/pull/1442

[2019-02-19 08:26] joel-costigliola commented on #1441
@asolntsev  Although your fix looks like to address the immediate issue, I wonder why is kotlin resolving `isEqualTo(String template, Object... args)` instead of `isEqualTo(Object expected)` ?

[2019-02-19 08:27] joel-costigliola commented on #1441
This issue is I believe the same as https://github.com/joel-costigliola/assertj-core/issues/1440#issuecomment-465032464

[2019-02-19 08:31] joel-costigliola commented on #1440
I'm not strongly opinionated about my previous comment as I think this is an edge case but I'd really like to know if this was an intended Kotlin behavior (it's a bit weird for a language putting java compatibility as something important)

[2019-02-19 08:40] joel-costigliola commented on #1437
I have created a new project for the assertj bom and moved this issue there https://github.com/assertj/bom/issues/1.
Might be a bit overkill for just one pom.xml ... but I haven't thought of a better option at the moment.

[2019-02-19 09:04] asolntsev commented on #1441
Good question. I don't know. It's some specific of Kotlin.
Kotlin has a lot of surprises, you know :) Interoperability with Java is not as good as it should be :(

[2019-02-19 20:54] epeee commented on #1440
It looks like there are several discussions about topics like this one in jetbrains issue tracker: https://youtrack.jetbrains.com/issue/KT-3090

Currently, I see 3 possible solutions for this problem:

### 1. add

[code]
to `AbstractStringAssert`

### 2. the solution provided in the pr linked above
### 3. ask kotlin users to use
[code]
  instead of
[code]

[2019-02-24 23:20] ramAdam commented on #1197
I have the same issue, what is the fix to this problem ?

[2019-02-25 04:45] joel-costigliola commented on #1197
@ramAdam can you provide a test reproducing the error ?
We have this test verifying that the description (and other assertion information) are correctly propagated after using `extracting`: https://github.com/joel-costigliola/assertj-core/blob/b82b86b2c54bb33c09103744ea0d7af4b37b4dee/src/test/java/org/assertj/core/api/iterable/IterableAssert_extracting_Test.java#L472

[2019-02-25 18:56] epeee opened #1445 "anySatisfy: do not continue evaluating elements once we found a match"
#### Summary
In #1400 we added support for reporting all failing elements.
While doing so we changed the implementation in a case that we always evaluate all elements.

Let's optimize this and only evaluate as many elements as needed. E.g. once a element matches, we can stop evaluating all remaining elements.

I can provide a pr for this one soon.

[2019-02-25 19:43] maximusKon commented on #1441
I guess Kotlin prefer to use function with more specific argument type.

[2019-02-25 20:39] joel-costigliola commented on #1445
Sounds good, thanks Erhard!

[2019-02-26 15:59] JaroKuruc opened #1448 "Incorrect `module-info.class` included in the binary distribution of assertj-core"
#### Summary
Distribution jar `assertj-core-3.12.0.jar` contains invalid `module-info.class` in `META-INF/versions/9`. Content of `module-info.class` names the module as `net.bytebuddy` which is in conflict with declared `Automatic-Module-Name: org.assertj.core` in `MANIFEST.MF`. It also exports internal classes from `org.assertj.core.internal.bytebuddy` package.

[2019-02-26 20:38] joel-costigliola commented on #1448
Thanks for reporting this !
Would you know what would be the correct module-info ?

[2019-02-27 08:02] JaroKuruc commented on #1448
There should be no module-info as you are building against JDK8 and declaring stable `Automatic-Module-Name`.

The problem is that `maven-shade-plugin` is not filtering `module-info` from `bytebuddy` dependency. A fix is to add the following to its configuration.

[code]

It will also fix few warnings produced during the build.

[code]

[2019-02-27 10:22] #1445 closed

[2019-02-27 10:29] #1448 closed

[2019-02-27 10:30] joel-costigliola commented on #1448
Thanks @JaroKuruc the jar does not contain any module-info.

Would you need a service pack release for that ?

[2019-02-27 22:14] uhafner opened #1451 "No contains* in IteratorAssert anymore"
#### Summary

I'm using the `contains` methods in `IteratorAssert` to check if there are all elements present in an `Iterator`. This worked quite well with 3.11.1 but not with 3.12.0. The class `IteratorAssert` is now almost empty. I'm not sure if this is intended, I did not find anything in the documentation.

#### References

See
- [broken PR](https://github.com/jenkinsci/analysis-model/pull/94)

[2019-02-27 22:26] PascalSchumacher commented on #1451
With 3.12.0 you have to add a `IteratorAssert#toIterable` call (similar to the changes done in https://github.com/jdbi/jdbi/pull/1466/files).

[2019-02-27 22:38] uhafner commented on #1451
I see. I fixed it in the [same way](https://github.com/jenkinsci/analysis-model/commit/ff01e9de041c176cd19b3dc08d5f4bba9039da18), thanks for the hint.

[2019-02-27 22:40] joel-costigliola commented on #1451
@uhafner it was intended the [release notes](https://assertj.github.io/doc/#assertj-core-3-12-0-release-notes) is a bit confusing though so I'll clarify them and suggest using `IteratorAssert#toIterable` as Pascal said.

[2019-02-28 05:18] filiphr commented on #1451
I noticed this as well. Why not add those methods to the `IteratorAssert` and call `toIterable` in them?

[2019-02-28 07:14] JaroKuruc commented on #1448
@joel-costigliola Yes, a service pack release would be nice.

[2019-02-28 08:34] joel-costigliola commented on #1451
That's what we used to do with some lazy conversion to iterable but it was an hacky implementation that was sometimes tricky for users, we thought it was best to stick with the Iterator API.

[2019-02-28 09:05] victornoel commented on #1448
@joel-costigliola I second this, assertj imports are broken in Eclipse editors with 3.12.0 (but everything compiles and run fine though)

[2019-02-28 09:49] joel-costigliola commented on #1451
I have (hopefully) clarified the release notes: https://assertj.github.io/doc/#assertj-core-3-12-0-release-notes

[2019-02-28 10:25] joel-costigliola commented on #1448
assertj-core 3.12.1 has been released, should be in maven central shortly.

[2019-02-28 14:58] bjhargrave commented on #1451
I think the readme text has `Iterator` and `Iterable` transposed.

Is says:

[code]

but should say

[code]

[2019-02-28 16:26] MayaGardeva commented on #1441
Hi, I have the same issue with `^` when calling `isEqualTo("abc^d")`

java.util.UnknownFormatConversionException: Conversion = '^'

[2019-03-01 04:04] joel-costigliola commented on #1448
https://search.maven.org/artifact/org.assertj/assertj-core/3.12.1/bundle

[2019-03-02 05:29] joel-costigliola commented on #1451
updated

[2019-03-03 05:45] #1451 closed

[2019-03-03 09:50] joel-costigliola commented on #1441
@asolntsev @maximusKon As suggested by @epeee, would adding the following overload method to `AbstractStringAssert` solve the issue for kotlin users ?
[code]

[2019-03-03 09:58] joel-costigliola commented on #1417
@ava1ar I'm closing the issue but I'm happy to reopen it if you can provide a way to reproduce it.

[2019-03-03 09:58] #1417 closed

[2019-03-03 10:01] joel-costigliola commented on #1396
@Thunderforge I'm closing this issue but if you find a way to reproduce it I'll reopen it.

[2019-03-03 10:01] #1396 closed

[2019-03-03 10:03] joel-costigliola commented on #1393
@xenoterracide should this issue be closed ? I'm not too sure what to think about it.

[2019-03-03 10:04] joel-costigliola commented on #1395
@ralfstx sorry, I haven't had the time to look at it but not I have more time.

[2019-03-03 10:08] joel-costigliola commented on #1389
Ok this one did not make the cut for the first version of the new recursive comparison api but I'm planning it for the next release, it is also I believe a duplicate of https://github.com/joel-costigliola/assertj-core/issues/1424, @EgMan could you confirm this last point.

[2019-03-03 10:10] joel-costigliola commented on #1381
@flaw we had a few issue like that due to compiler differences, which one are you using ?

[2019-03-03 10:18] asolntsev commented on #1441
Probably. I need to check it.

On Sun, Mar 3, 2019, 11:50 Joel Costigliola <notifications@github.com>
wrote:

[2019-03-03 10:28] joel-costigliola commented on #1366
@shaunthomas999 I'm closing this issue but I'm happy to reopen if you can provide us a test case reproducing it.

[2019-03-03 10:28] #1366 closed

[2019-03-03 10:30] #1348 closed

[2019-03-03 10:33] joel-costigliola commented on #1355
Fair enough, @jakubzytka would you like to contribute it?

[2019-03-03 16:07] xenoterracide commented on #1393
I'll close it for now, and re-open or whatever if I come up with the better use case again. I'm sure I had one but...

[2019-03-03 16:07] #1393 closed

[2019-03-04 12:01] flaw commented on #1381
Yeah, I was using the latest JDK8 build from Oracle to verify that it worked in 8, the java 11 build was from adoptopenjdk.net.
I can live with the casting solution though if those are the alternatives.

[2019-03-04 12:19] puddlejumpr opened #1452 "ZonedDateTime assertions are not consistent and don't expose isBetween"
#### Summary

My test sometimes fails when the asserted value matches the (supposed to be inclusive) upper boundary. The example code fails with the exception:

java.lang.AssertionError:
Expecting:
 <2019-03-04T10:22:45.622Z>
to be between:
 [2019-03-04T10:22:45.622Z[UTC], 2019-03-04T10:22:45.622Z[UTC]]

#### Example
[code]

[2019-03-04 16:20] EgMan commented on #1389
That is correct, it does look like mostly the same issue.
The only difference is that in addition to updating the recursive API so that you can force recursive assertion despite overridden equals, my problem could also be addressed by updating the recursive API so that you can force extraction from private values instead of through getters.

[2019-03-04 20:34] joel-costigliola commented on #1381
At the moment yes, it would be great to find a way to make this use case to work.

[2019-03-04 20:35] joel-costigliola commented on #1452
Thanks for reporting this !

[2019-03-04 20:40] joel-costigliola commented on #1389
I think it makes more sense to support `Optional` than to favor private fields over getters, it would be a non obvious behavior (even if you can configure it you might just want to use that for fields exposed with getter returning Optional).

[2019-03-04 22:37] PascalSchumacher commented on #1403
Open JDK issue is now marked as fixed in Java 11.0.3.

[2019-03-04 22:55] joel-costigliola commented on #1403
there is hope, we need to wait for travis to use it I guess.

[2019-03-05 07:06] ghostd opened #1455 "Wrong assertion in EqualsHashCodeContractAssert"
Hi,

I read the class `EqualsHashCodeContractAssert`, and since `equals` returns a boolean, i think

[code]
should be
[code]
If you didn't spot the bug, i guess this is dead code.

Regards

[2019-03-05 07:15] ghostd commented on #1455
By the way, did you consider expose those assertions in the public API to check the `equals` contract?

[2019-03-05 09:17] joel-costigliola commented on #1455
Good catch! The code is dead code indeed, it was written in Fest Assert which AssertJ is a fork of.

I think it is better to use https://jqno.nl/equalsverifier/ to test equals and hashcode, no plan in the roadmap to support this.

[2019-03-05 09:23] ghostd commented on #1455
Ok, thanks for the pointer.

[2019-03-06 22:29] joel-costigliola opened #1458 "Ignore static methods when introspecting properties"
#### Summary

See the discussion starting here: https://github.com/joel-costigliola/assertj-core/pull/1360#issuecomment-470200904

[2019-03-06 22:34] stevenschlansker commented on #1458
You might consider "ignore static methods when introspecting *any* property" as a static method is not a property of an instance with or without the `get` prefix, and having different visibility rules based on the method name could be confusing.

[2019-03-07 04:45] kriegfrj opened #1459 "Change SoftAssertions to allow interoperability with other soft testing frameworks"
#### Summary

I've being using AssertJ SoftAssertions for a while and I'm a big fan. I know it is popular for people to say "one test, one assertion", but I disagree - especially when testing code that is expensive, it is much better to run the code once and do as many tests on the results as you can.

I've recently discovered the incubating `VerificationCollector` class in Mockito, which serves b

[2019-03-07 11:10] joel-costigliola commented on #1361
This issue should likely be split, one important configuration to support is related to https://github.com/joel-costigliola/assertj-core/pull/1360#issuecomment-470299508

[2019-03-07 16:19] aaiezza opened #1461 "Change extended type of `ThrowableTypeAlternative` from `AbstractAssert` to `AbstractObjectAssert`."
#### Summary
I'd like to be able to use more Assertion methods on the `ThrowableTypeAlternative` instance. Specifically, the methods defined in `AbstractObjectAssert`.

#### Example

https://github.com/joel-costigliola/assertj-core/blob/master/src/main/java/org/assertj/core/api/ThrowableAssertAlternative.java#L27
Could be:
[code]

Then, the following code:
[code]

can turn into this:
[code]

[2019-03-10 15:01] mtravnicek opened #1462 "Is it possible somehow use AssertJ in WebDriver waits or waiting in general?"
#### Summary
I want to use AssertJ capabilities, namely List/Iterable functions like **containsOnly** etc
in WebDriver wait or generally in some cycle which waits until condition is satisfied.
I know that assertThat does not return boolean and terminates code in case of failure.....
What about something along the lines of SoftAssertions?
Or can you hint some Java library with functions like contai

[2019-03-10 19:37] epeee commented on #1462
Hi,
sounds like [awaitility](https://github.com/awaitility/awaitility/) might help you, e.g. see https://github.com/awaitility/awaitility/wiki/Usage#example-8---using-assertj-or-fest-assert

[2019-03-10 20:39] joel-costigliola commented on #1462
I concur wirh @epeee, awaitability is great for this kind of use cases

[2019-03-10 21:44] asolntsev commented on #1441
@joel-costigliola @maximusKon @epeee
Yes, it also works!

I prepared an alternative PR for the same issue. Probably you find it better:
https://github.com/joel-costigliola/assertj-core/pull/1465

[2019-03-11 00:24] mtravnicek opened #1466 "Enhancement: Varargs in assertThat and method isOnlyValueIn and multiGet of List"
I have test which checks selected rows for "status green". After some operation say 3 distinct rows are green.
I have `List<String> allRows ` with row values
test so far is checking:
[code]
So to remove redundancy, i can do something like:
`asssertThat(status_green).isIn(allRows.get(1),allRows.get(3),allRows.get(4))`
but this is **wrong** because this would have to be **isOnlyValueIn** (can this b

[2019-03-11 00:26] mtravnicek commented on #1462
thanks for prompt reply... `await().untilAsserted` works good, but my problem shifts to  #1466

[2019-03-11 00:26] #1462 closed

[2019-03-11 00:33] joel-costigliola commented on #1466
If I understand correctly, you could use filtering on `allRows` and check the expected content of the filtered list:
[code]

[2019-03-11 14:09] mtravnicek commented on #1466
Well that somehow brokes logic of the test.
I have made some action on web, which affects 3 selected rows and i want to check,
that status of these rows changed accordingly...  (status green for example)
I have function `allRows` returning List<String> of values of status of **every** row
and work only with strings. In your example I would have to introduce new metod `hasGreenStatus`.
Above all in

[2019-03-11 21:15] joel-costigliola commented on #1466
I did not understand your test then, it would help me help you if you can provide a complete test case which I could run in my IDE.

`hasGreenStatus` can easily be implemented with a lambda if you don't want an additional method.

test should not care about other rows...

You can use `contains` instead of `containsOnly` in that case but again what you want is not crystal clear to me so I'm might s

[2019-03-13 08:48] tarioch opened #1467 "Add extracting with AssertFactory"
#### Summary
Would it be possible to add a version of extracting that takes an AssertFactory as an additional argument? Similar to the assertThat that also provides this functionality.

#### Example

What works
[code]

What would be nice to work
[code]

[2019-03-13 15:17] mtravnicek commented on #1466
With this i was hinting that "reverse" method aka **assertThat(singleValue)** as opposed to **assertThat(list/iterable)** while already having method **isIn** could be extened with method **isOnlyValueIn** and there is few methods of this kind, so it wont be bloated.

My testcase again: i have selenium web test in which:
i have web form on which you select records/rows to perform some operation sa

[2019-03-14 12:55] mp911de opened #1470 "Add assertion for ByteBuffer"
#### Summary

Code that interacts with `ByteBuffer` objects could benefit a lot from an improved and dedicated `ByteBuffer` assertion. Typical assertions are:

* hasLength
* isEmpty
* contains/startsWith/endsWith/equals
** `String` (with `CharSet` defaulting), `byte[]`, `ByteBuffer` variants

The assertion could also benefit from a dedicated formatter that represents the buffer in a human-readable

[2019-03-14 20:42] joel-costigliola commented on #1470
That would be valuable, I agree!

[2019-03-15 11:20] #1458 closed

[2019-03-16 05:36] joel-costigliola commented on #1466
so basically you want AssertJ to provide `assertThat(Object... actuals)` that behaves like `assertThat(list(actuals))`, right ? (where `list(Object... values)` just returns a list build from the vararg values).

If that is correct, in the meantime you can use the `List<T>  org.assertj.core.util.Lists.list(T... elements)` and write:

[code]

[2019-03-16 06:27] joel-costigliola commented on #1452
@puddlejumpr the reason for the behavior is that `actual` and `boundary` have different zones which make them different in regard to their `equals` and `compareTo` methods, note that as stated in  [`ChronoZonedDateTime.isEqualTo`](https://docs.oracle.com/javase/8/docs/api/java/time/chrono/ChronoZonedDateTime.html#isEqual-java.time.chrono.ChronoZonedDateTime-) :

which explains why `assertThat(actu

[2019-03-16 21:15] jadeleeuw commented on #1470
If possible I would like to take a stab at it!

[2019-03-18 18:05] torsten-github opened #1472 "AbstractOptionalAssert::contains() fails on substring."
#### Summary
using contains on Optional<String> fails with substring.

#### Example

[code]

[2019-03-18 19:12] mtravnicek commented on #1466
yes, that is correct, varargs List would be great... now what about some
`assertThat(allRows).get(1,3,4).containsOnly(status_green);`
shorter and only needs some multiget selector added, hmm?
or maybe name it "filter"? i know filteredOn is already there and cannot be used in this context,
(too bad index is not property of list record)
so can we create something like this only for Lists?

[2019-03-18 21:17] joel-costigliola commented on #1466
Just to clarify, you would like both `<T> assertThat(T... actuals)` and `assertThat(allRows).get(Integer... indexes)` or only the the latter one ?

[2019-03-18 21:24] joel-costigliola commented on #1472
This works as expected as per http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/AbstractOptionalAssert.html#contains-VALUE- `contains` for `Optional` checks the content, it's not a String assertion.

We will update the code examples, to make it clear that  `assertThat("abc").contains("a");`

[2019-03-18 21:24] #1472 closed

[2019-03-20 03:45] xenoterracide opened #1473 "better failure message for endswith"
given a very long list, a ... is used to represent the end of the list, however this isn't really useful when calling `.endsWith`, suggest displaying a tail of the list instead
[code]

[2019-03-20 03:48] joel-costigliola commented on #1473
indeed ...
you can play with http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/Assertions.html#setMaxElementsForPrinting-int- in the meantime

[2019-03-20 04:08] xenoterracide commented on #1473
I don't want to print a list with 1100 elements ;) though honestly I may use this to set it shorter, I think it shows too many now.

[2019-03-20 04:24] joel-costigliola commented on #1473
you can check the last element directly I guess then, not as classy as `endsWith` but will get the job done.

[2019-03-20 13:55] jypma commented on #1214
@joel-costigliola Would it be OK if I created a PR with the DSL I suggested earlier? I think by having the DSL include `.success()` and `.failure()`, returning explicit other assertion objects, there's a bit more re-use and less new words introduced into the language.

[2019-03-20 19:53] puddlejumpr commented on #1452
@joel-costigliola You are right. The documentation of `compareTo` describes clearly how it is implemented:

This is why `isBetween` fails only when the `actual` value equals to either boundary. I suppose there are combinations when the assertion fails because the `actual` refers to the same instant as the lower `boundary`.

Assuming that one would expect `isBetween` to be concerned only with the i

[2019-03-20 20:50] joel-costigliola commented on #1214
@jypma this one has fallen under my radar. Let me think about it a bit before I'll get back to you.

[2019-03-20 21:00] joel-costigliola commented on #1452
IMO we should not expect `isBetween` not to use `equals` (`isEqualTo` is a bit dodgy in that regard), I agree introducing a comparator is the best option here.  Since it might be useful for users would you be keen to contribute this comparator (name suggestion: `ByInstant`) ?

[2019-03-22 22:48] tir38 opened #1474 "Java6Assertions is calling a Java 8 Streams method"
We hit this stack trace on our Android test:

[code]

You can see that `Streams` got added to Android in API 24, so our tests are crashing on earlier versions.

https://developer.android.com/reference/java/util/stream/Stream

We are using the correct Java6 import in our test:

[code]

I don't fully understand how the Java6Assertions package accomplishes it's task, but one of the subsequent calls i

[2019-03-23 05:20] joel-costigliola commented on #1474
Sorry about that, it is likely due to an internal refactoring. which version are you using ?

[2019-03-23 11:00] epeee commented on #1474
It looks like this one occurs starting from 3.11.0.

[2019-03-24 01:49] joel-costigliola commented on #1474
It's a bit difficult to be aware of android incompatibility since we don't have tests for that.
We have a bunch of assertions that relies on java 8 API (`anySatisfy` for example), I don't see an easy way to provide Android assertions access only. @PascalSchumacher @benblank  thoughts ?

@tir38 the best option is to use assertj-core 2.9.1 which is built with java 7 thus ensuring no java 8 api is us

[2019-03-24 09:02] puddlejumpr commented on #1452
I am a bit confused about the first part of your comment (double `not`s).
My idea was to change `isBetween` assertions in `AbstractZonedDateTimeAssert` to use a comparator different from the default.
Are you suggesting to do something like this instead?
[code]
I have just checked this and it fails with the same error. The code builds but the `usingComparator()` call does not have any effects since

[2019-03-25 10:16] joel-costigliola commented on #1452
Ah! This is actually a bug where the `comparables` instance in `AbstractTemporalAssert` is not honoring the given comparator.

Adding these lines fixes the issue:

[code]

I can finish the implementation or I can let you go on with it, it would require though to test the added methods as in `AbstractComparableAssert_usingComparator_Test`.

Let me know what you prefer.

As a side note, we can't sim

[2019-03-25 13:29] tir38 commented on #1474
Please forgive my ignorance but why are these assertions accessible via the Java6Assertions class in the first place? Given that `ListAssert` uses Java8 features, why does Java6Assertions even have an assertThat method that returns a ListAssert? https://github.com/joel-costigliola/assertj-core/blob/master/src/main/java/org/assertj/core/api/Java6Assertions.java#L545

[2019-03-25 22:26] puddlejumpr commented on #1452
I hope I haven't messed up anything with this duplicated reference to the issue.

[2019-03-25 23:03] joel-costigliola commented on #1474
I was our attempt at the pre java 8 time to expose assertions for java 6 types only (which List is part of).

Obviously we failed to maintain the java 6 compatibility when adding new assertions for List or simply refactoring the internal implementation. Sorry for that.

Since we are not going to remove java 8 specific assertions from the current version, the only safe way to use AssertJ for Androi

[2019-03-26 03:34] joel-costigliola commented on #1452
@puddlejumpr no, don't worry ;-)

[2019-03-27 11:45] PascalSchumacher commented on #1474
As newer version of Android support Strams and some Android focused libs are moving to Java 8 it is not worth the bother imho.

As Joel said using 2.x is the best way to ensure no Java 8 features are used.

We should think about deprecating the Java6 assertion classes. In retrospect we should have done it when we stopped developing 2.x and started the Java 8 refactorings.

[2019-03-28 00:14] joel-costigliola commented on #1474
Deprecating Java6 assertions classes is a good idea (including documenting what to use instead)
I think once this is done, we can close this issue.

[2019-03-28 14:32] tir38 commented on #1474
As part of the documentation cleanup, will you be recommending a "min" Android version for use with 3.x?

Or do you think that 3.x won't support Android until Android fully supports Java8? I.e. it's up to Android to fully support Java8 and all AssertJ's cares about is supporting Java8

[2019-03-28 20:41] joel-costigliola commented on #1474
I don't think we have a 3.x version that supports Android but 2.9.1 is not that old and provides most of the non java 8 assertions in 3.x.

If you find something important missing in 2.9.1, it is always possible to contribute to it and we will release a new version (but otherwise we don't spend time on 2.x).

[2019-03-29 09:55] krzyk opened #1479 "assertThat(CustomException) casts to Throwable"
#### Summary
I have a custom exception class that I want to do assertions on, but I'm unable because instead of matching to assertThat(T) there is a method assertThat(Throwable) and I'm able to match only methods that exist in Throwable.

#### Example

[code]

The above fails because `p` is of type `Throwable`.

[2019-03-31 02:31] joel-costigliola commented on #1452
After looking at your PR (which is good btw), I realized that `ZonedDateTime`  [`isAfter`](https://docs.oracle.com/javase/8/docs/api/java/time/chrono/ChronoZonedDateTime.html#isAfter-java.time.chrono.ChronoZonedDateTime-), `isBefore` and `isEqual` ignore the zone id, on the other hand `equals` and `compareTo` check it.

I was saying that `isBetween` should honor `ZonedDateTime.equals` but I now th

[2019-03-31 04:54] #1474 closed

[2019-03-31 04:55] joel-costigliola commented on #1474
Closing this after deprecating Java 6 assertions entry point classes.

[2019-03-31 05:16] #1441 closed

[2019-03-31 21:48] puddlejumpr commented on #1452
@joel-costigliola It is not a big deal actually, I am glad that I could help, and honestly, this new approach seems more aligned with the anticipation I had when I reported the issue. :)

Supposing I take up this task, what base do you think I should choose for the changes? Should I just continue my PR? Or create a new issue for `usingComparator()` and open a new PR for that with the existing cont

[2019-03-31 23:00] joel-costigliola commented on #1452
@puddlejumpr awesome!

Let's continue on this PR to include both comparator support and make the assertions consistent.

[2019-04-01 22:05] doompadee opened #1481 "Provide contentOf(java.nio.file.Path) assertion"
It would be nice if the contentOf() assertion would support java.nio.file.Path as well as java.io.File as the Jimfs file system does not support the Path#toFile method, so the usual conversion does not work.

This is the typical use case I have in mind. You create a file and want to compare its contents with the original:

[code]

[2019-04-02 11:32] matejdro opened #1483 "Collection print does not work properly when collection extends AtomicInteger"
#### Summary

RxJava exposes [its own internal collections for test, which extend AtomicInteger](https://github.com/ReactiveX/RxJava/blob/2.x/src/main/java/io/reactivex/internal/util/VolatileSizeArrayList.java).

However, when asserting on that list, AssertJ will detect that list is of type AtomicInteger and print integer value instead of list contents on errors.

#### Example

Add to gradle:

[co

[2019-04-03 14:37] doompadee commented on #1481
Since Java 11 there is Files.readString(Path) which is close enough.

[2019-04-03 14:37] #1481 closed

[2019-04-03 17:54] mtravnicek commented on #1466
Both would be nice... or atleast one of these. I dont know how the process of adding/voting for new features works. Is it ok with you and your opinion?

[2019-04-04 03:51] jedpop opened #1484 "java.lang.IllegalArgumentException: Could not create type"
I can successfully get soft assertions to work when running in debug mode using JavaSE-11 in Eclipse IDE for Java Developers, Version: 2019-03 (4.11.0), Build id: 20190314-1200
on Windows 10 64 bit but there's an error when I execute it in run mode:

"java.lang.IllegalArgumentException: Could not create type"

I'm using assertj-core-3.12.2.jar from the Maven repository.

Here's the simple test cod

[2019-04-04 04:34] joel-costigliola commented on #1484
It is likely a classpath issue, can you check that `java.lang.instrument.Instrumentation` is available in your JRE ? I can find it in rt.jar in my environment.

[2019-04-04 05:24] jedpop commented on #1484
Thank you!

It's showing in my JRE:
![image](https://user-images.githubusercontent.com/23005828/55531399-c7812900-566f-11e9-94ad-d5ee39323313.png)

The CLASSPATH environment variable on my PC is set to the corresponding location for JDK library location.

[2019-04-04 10:17] joel-costigliola commented on #1484
I have tried your code with both java 8 and 11 and it ran with this ouput:

[code]

My environment is not exactly the same as yours as I was executing the test on Ubuntu and eclipse 20181214-0600.

Can you check the actual JRE used to run the program ? You can access that information in eclipse > Run > Run configurations... and then select the launched application and check the JRE tab (look also

[2019-04-05 02:17] joel-costigliola commented on #1057
Closing this issue but happy to reopen it after additional feedback is provided.

[2019-04-05 02:17] #1057 closed

[2019-04-05 02:28] joel-costigliola commented on #1300
Closing this issue but if someone has an elegant solution I'm happy to reopen it

[2019-04-05 02:28] #1300 closed

[2019-04-05 02:52] joel-costigliola opened #1485 "Javadoc code examples are not syntaxed highlighted anymore"
#### Summary

The code examples in the javadoc is not syntaxed highlighted anymore :(

Current:
https://static.javadoc.io/org.assertj/assertj-core/3.12.2/org/assertj/core/api/AbstractIntegerAssert.html#isBetween-java.lang.Integer-java.lang.Integer-

![Selection_016](https://user-images.githubusercontent.com/382613/55600945-d1fc0980-57ba-11e9-8d04-097be862afc5.png)

Expected:
http://joel-costigliol

[2019-04-05 02:59] joel-costigliola commented on #1485
Interestingly when I generate the javadoc locally it works fine, the code is coloured.

The error may be caused by `highlight.js` not being properly loaded ... but I have no idea how to debug this one :(

highlight.js is injected here: https://github.com/joel-costigliola/assertj-core/blob/master/pom.xml#L285.

maybe moving to the latest version of highlight.js could solve the issue ?

[2019-04-05 03:08] joel-costigliola commented on #1467
@tarioch could you provide a more complete example to clarify what you want ?
My guess is you want to have strongly typed navigational assertion, it that right ?

The only existing feature that might help at the moment  is [`extracting(String propertyOrField, Class<P> extractingType)`](https://static.javadoc.io/org.assertj/assertj-core/3.12.2/org/assertj/core/api/AbstractIterableAssert.html#extrac

[2019-04-05 03:46] joel-costigliola commented on #1483
This is due to [`StandardRepresentation.toStringOf](https://github.com/joel-costigliola/assertj-core/blob/b82b86b2c54bb33c09103744ea0d7af4b37b4dee/src/main/java/org/assertj/core/presentation/StandardRepresentation.java#L160) that looks for `AtomicInteger` before `Collection`.

One simple fix would be to change the order by checking `Collection` before `AtomicInteger` (and more generally most speci

[2019-04-05 03:51] joel-costigliola commented on #1479
Try [`assertThatObject`](https://static.javadoc.io/org.assertj/assertj-core/3.12.2/org/assertj/core/api/Assertions.html#assertThatObject-T-), it forces calling `assertThat(T) `.

[2019-04-05 12:35] krzyk commented on #1479
Yes, indeed that solves the issue, thanks.

[2019-04-05 12:35] #1479 closed

[2019-04-05 14:05] vali92 opened #3553 "Disable stack trace AssertJ"
Hi,

Is there any way i can supress the AssertionErrors, im tring to use

	`Assertions.setRemoveAssertJRelatedElementsFromStackTrace(true);`

But didn't worked. I would like to display in my report a friendly message.

Thanks,

[2019-04-05 17:49] tarioch commented on #1467
there is the assertThat for collections which allows to specify the assertFactory for a single element in the collection (assertThat(Iterable<? extends ELEMENT> actual, AssertFactory<ELEMENT,ELEMENT_ASSERT> assertFactory))
I think it would be great to also have the same functionality available on the extracting functions, basically adding an extracting method which takes an additional AssertFactor

[2019-04-06 06:36] jedpop commented on #1484
I recreated the (very simple) project in Eclipse 20181214-0600 and have the same results when I run it from Eclipse.

Oddly, if I run it using Coverage it executes fine (just like in Debug).  First I have snapshots of the info you requested and later I created a runnable Jar and noticed some warnings due to illegal reflective access operations.

Here's the JRE used to run the program:
![image](htt

[2019-04-06 21:03] puddlejumpr commented on #1452
@joel-costigliola I have just pushed some new commits. Could you please check if they aligned with the solution/approach you have in mind? (The javadocs are not updated yet.)

[2019-04-06 23:30] joel-costigliola commented on #1467
Just to be crystal clear, could you give a use case of why we would need that ?

[2019-04-07 17:44] tarioch commented on #1467
Sure, I'm thinking of something like

[code]

[2019-04-08 06:44] joel-costigliola commented on #1467
Thanks, that's what I had in mind.

I have no objection adding this capability.

[2019-04-10 08:41] jamesmeade42 commented on #971
Any update on this feature as this would be really useful! Better than doing lots of if statements to check if a field is null.

[2019-04-10 10:33] joel-costigliola commented on #971
I'm sympathetic to @tetv approach, the main point to solve IMO is to find an elegant implementation to avoid having to write a `ConditionalXAssert`  for each type AssertJ provides assertions for and it needs to play nicely with soft assertions too.

I don't have the time to tackle this one but contribution are welcome :)

[2019-04-10 12:25] matejdro opened #1487 "yyyy-MM-dd'T'HH:mm:ss.SSSX is not supported in time parsing."
#### Summary

Related to #1133. Time parsing supports either milliseconds OR timezone, it does not work when both are specified.

#### Example
[code]

Above test fails if target machine's default tiemzone is any other than UTC.

[2019-04-10 21:37] joel-costigliola commented on #1487
Fair enough, @matejdro are you keen to contribute this one ?

In the meantime it is always possible to register this date format but you have to do it explicitly, see [withDateFormat](https://static.javadoc.io/org.assertj/assertj-core/3.12.2/org/assertj/core/api/AbstractDateAssert.html#withDateFormat-java.lang.String-) or [registerCustomDateFormat](https://static.javadoc.io/org.assertj/assertj-cor

[2019-04-13 09:06] triceo commented on #1165
@PascalSchumacher The issue you reference has been closed, yet the warning is still there. Not sure what the next steps are here.

[2019-04-14 22:38] jedpop commented on #1484
Hello,
I was able to get the soft asserts to work - I still get the warnings for "an illegal reflective access operation has occurred" but this issue can be closed.

Thanks for the suggestions.

I suspect there was a problem in the build path so here's a snapshot of my Build Path, Libraries:
![image](https://user-images.githubusercontent.com/23005828/56100178-2306ae80-5edb-11e9-8031-380c995de327.p

[2019-04-14 22:38] #1484 closed

[2019-04-15 06:19] matejdro commented on #1487
I have created new PR.

[2019-04-16 16:20] aaiezza opened #1489 "Javadoc typo"
#### Summary
The `@see` javadoc tag for the `is` method in ExtensionPoints should point back to the `has` method.
https://github.com/joel-costigliola/assertj-core/blob/master/src/main/java/org/assertj/core/api/ExtensionPoints.java#L33

#### `has(Condition)` javadoc
[code]

#### `is(Condition)` javadoc
[code]

I think the `@see` should point back to the `has` method, not to itself. That would sort

[2019-04-18 14:15] szymonciamaga opened #1490 "Incorrect Assertion type while using extraction by function (BUG)"
#### Summary
`assertThat` method is contextual:
[code]
But `extracting` method, used with function, even though the method returns HashSet, still uses `AbstractObjectAssert` instead of contextual `IterableAssert`

#### Example

[code]

[2019-04-19 02:28] joel-costigliola commented on #1490
This is something I wished was possible to support as you described it but this is the same as https://github.com/joel-costigliola/assertj-core/issues/683, it is not possible in java to support returning a narrowed type after `extracting` unless we add a second parameter specifying the expected assertion type, ex:
[code]
Note that the my example passing a `List.class` in place `ListAssert.class` w

[2019-04-19 06:50] joel-costigliola commented on #1361
Here's what users will see if they registered their configuration:
[code]

[2019-04-19 06:56] #1361 closed

[2019-04-19 11:30] joel-costigliola commented on #1487
Integrated thanks @matejdro!

[2019-04-19 11:30] #1487 closed

[2019-04-20 06:03] joel-costigliola commented on #1325
@xenoterracide @valery1707  has started working on this issue (thanks!), his PR provides too many ways of checking that a Path contains some files, I would like to have a more minimalistic approach to avoid bloating the API. I need your feedback for that (and any users interested in this kind of assertions).

What we could have based on @valery1707 work:
1. `isDirectoryContaining(Predicate<Path> f

[2019-04-20 06:52] xenoterracide commented on #1325
nice! I wonder if it'd be better to write `directoryContains` seems more natural, but other than that I don't have much of an opinion. I think this'll be a much nicer way of testing path contents.

[2019-04-20 22:50] joel-costigliola commented on #1325
I would ideally use `contains` but as Path can be a file it would be ambiguous.

I still prefer `isDirectoryContaining` because I think it makes it clear the assertion is going to check that the given Path is a directory.

@xenoterracide  Do you see a use case for checking that a directory does not contain a file? It seems to me to be a corner case.

[2019-04-21 09:13] xenoterracide commented on #1325
only use case I can think of is if I was testing removal or renaming, ensuring that something that was there isn't there now. I'm not sure how common of a use case that is.

[2019-04-21 10:27] joel-costigliola commented on #1325
We'll leave these assertions out of the picture for now, it is still possible to check that a given path [does not exist](https://static.javadoc.io/org.assertj/assertj-core/3.12.2/org/assertj/core/api/AbstractPathAssert.html#doesNotExist--).

[2019-04-21 11:08] joel-costigliola commented on #1452
@puddlejumpr I haven't fully reviewed all the code but so far I'm really happy with I saw. :+1:

I'll let you know when I finish the review.

[2019-04-22 04:04] joel-costigliola commented on #1424
I did not change ` isEqualToComparingFieldByFieldRecursively`  because it would be a breaking change, I just deprecated it.

[2019-04-24 07:24] valery1707 commented on #1325
@joel-costigliola, negative assertions can be helpful for assert than directory does not contain many files.
Rather then write something like
[code]
we can write this:
[code]

[2019-04-24 23:18] joel-costigliola commented on #1489
Good catch !

[2019-04-24 23:18] #1489 closed

[2019-04-24 23:22] joel-costigliola opened #1492 "Provide comparable assertions for non comparable class when given a comparator"
#### Summary

Comparable assertions are restricted to `Comparable` types, this could extended for non `Comparable` types if a proper `Comparator` is given.

This is issue was created after this discussion https://stackoverflow.com/questions/55811121/assertj-fluent-ordering-tests-with-custom-comparator/55828748?noredirect=1#comment98322628_55828748.

#### Example

[code]

We want to avoid  to copy

[2019-04-25 10:15] joel-costigliola commented on #1325
@valery1707 fair enough but let's rename the assertions to `isDirectoryNotContaining` and only have one taking a `String pathMatcherFilter` and another with a `Predicate`.

[2019-04-25 15:04] valery1707 commented on #1325
@joel-costigliola good. Will fix soon

[2019-04-26 06:52] Turbo87 commented on #1440
I'm assuming that #1442 has been released by now, though unfortunately this did not seem to fix it. Our CI is still failing with the latest release (see https://github.com/Turbo87/intellij-emberjs/pull/249).

[2019-04-26 10:12] joel-costigliola commented on #1440
@Turbo87  Nope it will be in 3.13.0, you can try to build 3.13.0-SNAPSHOT and give a try, I would appreciate to know if the fix works for you.

[2019-04-26 17:29] aartiPl commented on #1322
There is a version of ByteBuddy for Android: byte-buddy-android. Couldn't it be used instead of regular bytebuddy for AssertJ? Lack of SoftAssertions is really painful for Android. I have to wrap normal assertions, catch errors and then at the end present user results. Please check if Android version of ByteBuddy  can be applied for AssertJ.

[2019-04-26 17:30] aartiPl opened #1493 "AssertJ (SoftAssertions) for Android"
There is a version of ByteBuddy for Android: byte-buddy-android. Couldn't it be used instead of regular bytebuddy for AssertJ? Lack of SoftAssertions is really painful for Android. I have to wrap normal assertions, catch errors and then at the end present user results. Please check if Android version of ByteBuddy  can be applied for AssertJ.

_Originally posted by @aartiPl in https://github.com/jo

[2019-04-27 04:06] joel-costigliola commented on #1493
Even without soft assertions, AssertJ core 3.x is not fully Android compliant (for example it uses `Stream` api that is not yet available in Android AFAIK).

At the moment, I would be more inclined to have a separate project for Android forked from assertj-core and updated to be Android compatible, it could moreover provide Android specific assertions. I'm wary of changing byte buddy and even if w

[2019-04-27 09:51] aartiPl commented on #1493
Fortunately, it is very simple to emulate soft assertions. Not perfect, but works. Below you can find my code (Kotlin version):

SoftAssertiojns.kt
[code]

on use site:

[code]

The important point here is that "soft assertions" are important building blocks for more advanced assertions and conditions. Reinventing these all nice assertions which are already written doesn't make any sense. Because

[2019-04-28 04:43] joel-costigliola commented on #1493
The current soft assertions are a bit more elegant that the code you showed because
[code]
can be written as:
[code]
For this reason and the fact that it would be a breaking change, I don't think we should do the refactoring you suggest.

You can have a look at https://github.com/willowtreeapps/assertk if your using kotlin and in java you can also use JUnit5 `assertAll` to mimic soft assertions as

[2019-04-28 15:38] scordio commented on #1109
Although this would be the cleanest solution, it cannot work due to type erasure. All methods would have the same signature and returning narrowed assertions would not be possible since the returning type is not part of the signature.

Extending this pattern would be an existing option to avoid the type erasure limitation.

Another option if we want to keep the same method name would be to [use pl

[2019-04-28 15:43] scordio commented on #1490
I tried to address the issue in a slightly different way on https://github.com/joel-costigliola/assertj-core/issues/1109#issuecomment-487390269

[2019-04-28 19:50] aartiPl commented on #1493
I completely agree with you:

`softAssertions.assertThat(actual.types).as("description").containsExactlyElementsOf(expected.types)`

is nicer. My code is just workaround for Android.

My solution can be applied though as an interim solution until a final solution for Android is available, so I think it makes sense to link this ticket in docs so that when someone needs custom assertions or conditio

[2019-04-28 21:42] joel-costigliola commented on #1109
That is an interesting idea, I think https://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/AssertFactory.html can be used as the `instanceOf` parameter.

@scordio are you willing to write a POC PR with a few instance providers just to get a better feel of what it will look like ?

[2019-04-29 06:02] scordio commented on #1109
@joel-costigliola definitely, and thanks for the pointer!

[2019-04-30 13:11] zeljko-mirovic opened #1494 "Support ignoring collection order in Recursive comparison API"
It will be nice to be able to ignore collection order with Recursive comparison API.
Instead of writing something like:
[code]
to have option to ignore collection order like this:
[code]

[2019-04-30 21:26] joel-costigliola commented on #1494
Sure, I had a bullet point in #1002 for it.

[2019-04-30 21:31] joel-costigliola commented on #1494
@zeljko-mirovic do you have a use case where specifying fields is necessary ?
I was at first considering a global option `ignoringCollectionOrder()` for all collections.

[2019-04-30 21:45] x80486 opened #1496 "Provide a way to assert all the fields a given class can contain"
#### Summary

It would be nice if `AssertJ` provides a way to _check_ that a given class contains **only** a certain set of fields/members. I (and probably others) usually test creation/instantiation workflows for POJOs; for instance:

[code]

In that realm, we keep adding/removing/updating/modifying members, so having that kind of assertion(s) will let you have more confidence when you do such th

[2019-04-30 21:50] joel-costigliola commented on #1496
would this help: http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/AbstractObjectAssert.html#hasFieldOrPropertyWithValue-java.lang.String-java.lang.Object- ?

[2019-04-30 22:27] x80486 commented on #1496
I saw that one too, but like the documentation states: `Asserts that the actual object has the specified field or property with the given value`.

What I was trying to achieve is to check that a class **only** have _these_ fields/members. Later on, if you add more and/or remove/update any of the fields, the test will fail because it's expected to have the previous set.

[2019-04-30 22:34] joel-costigliola commented on #1496
Alright got it, `hasOnlyFieldsOrProperties` looks fine to me if you are keen to contribute it.

[2019-05-01 16:48] zeljko-mirovic commented on #1494
Yes I do.
I am asserting complex DTO generated by maven plugin. All collections in DTO are Lists but some of them are backed up by entities using Lists and some by entities using Sets.

[2019-05-01 21:24] joel-costigliola commented on #1494
alright fair enough.

[2019-05-03 16:43] chrisly42 opened #1499 "Ambiguous signature for `extracting()` when using Kotlin"
#### Summary

When trying to use .extracting() with lambdas in kotlin, the call is ambigous and will not compile out-of-the-box. I think this is due to

```extracting(ThrowingExtractor<? super ELEMENT, V, EXCEPTION> extractor)```
and
```extracting(Function<? super ELEMENT, V> extractor)```

have the same effective signature because in kotlin, there are no checked exceptions (thank god).

#### Exam

[2019-05-03 17:28] chrisly42 commented on #1499
Temporarily solved it by adding this kotlin extension and using the slightly (kotlin typical) misspelled version...

[code]

[2019-05-05 02:05] joel-costigliola commented on #1499
I guess your solution is the way to go (or use assertk) as I'm not sure there is way of improving the Kotlin compatibility without changing the method names which is not not an option as it would be a breaking change.

[2019-05-05 10:59] joel-costigliola commented on #1424
Has been addressed in https://github.com/joel-costigliola/assertj-core/commit/e2b4828b7d066fde9b0664f00000b58b0d2bbe4e and improved in https://github.com/joel-costigliola/assertj-core/commit/f32974846381c94d9bd7436e3ba98163a96cd97c

[2019-05-05 10:59] #1424 closed

[2019-05-08 19:23] dscribellito opened #1500 "Bug: The commit for adding "AbstractStringAssert.isEqualTo(String string, Objects... param)" breaks existing unit tests"
#### Summary

The following commit that added the AbstractStringAssert.isEqualTo(String string, Objects... param) method to AbstractStringAssert.java breaks existing unit tests that have "invalid format characters" in the string because it overrides the base class method and assumes that the parameter is now a formatted string: https://github.com/joel-costigliola/assertj-core/commit/37eacd11b0d4ef

[2019-05-08 19:58] epeee commented on #1500
This one seems to be a duplicate of #1441, isn't it?
Good news, it is already fixed on master and will be part of 3.13.0.

[2019-05-08 21:30] joel-costigliola commented on #1500
it is likely the case, @dscribellito can you make sure we fixed it by trying the current master version (just run `mvn install` to built it) and let us know if it was not fixed ?

[2019-05-08 22:36] dscribellito commented on #1500
Yes, that does sound like the same issue actually. I can confirm that the fix currently checked into master does indeed address this issue. Thanks!

[2019-05-08 23:10] joel-costigliola commented on #1500
@dscribellito  thanks for having taken the time to check, closing this as a duplicate.

[2019-05-08 23:10] #1500 closed

[2019-05-09 14:41] tsollas commented on #1440
Essentially and in short, this issue is a symptom of Kotlin's differences in handling method overload resolutions with regards to varargs vs Java. Basically, isEqualTo(null) is calling with empty varargs from Kotlin, which resolves to the varargs version of isEqualTo, because empty varargs is still, well, valid varargs.

See: https://youtrack.jetbrains.com/issue/KT-3090 for related issues in Kotli

[2019-05-09 22:53] philwebb opened #1501 "Use var-args with ThrowableAssertAlternative.withMessageContaining"
#### Summary
I currently often find myself calling `withMessageContaining` multiple times on an exception assertions. It would be more convenient if I could roll these up into a single line, similar to the way that String assertions support `contains(CharSequence... values)`.

#### Example
The following current code:

[code]

could become:

[code]

[2019-05-10 02:05] joel-costigliola commented on #1501
Fair enough, would you mind contributing it (if you have time) ?

[2019-05-10 05:35] razboo commented on #1075
@joel-costigliola, got here because of the same confusion with the method name.
I think All is also a bit confusing (to me at least).
Why not call it `containsExactlyElementsOf` in the spirit of `containsExactly`?

[2019-05-10 10:13] joel-costigliola commented on #1075
because `containsExactly` checks the order and expects all duplicates to be listed.

I think I'll consider deprecating `containsOnly` and `containsOnlyElementsOf` in favor of `containsAll` and `containsAllElementsOf` if enough users find the former confusing.

[2019-05-10 11:49] philwebb commented on #1501
I'm working on a PR to submit shortly.

[2019-05-10 13:37] antoniomacri opened #1502 "Support formatting overloads in more AbstractThrowableAssert methods"
#### Summary
In particular, I'd use `hasMessageContaining(String message, Object... parameters)`.

#### Example
Instead of:
[code]
write
[code]
just like:
[code]

[2019-05-10 16:11] afayes commented on #1075
containsAll and containsAllElementsOf is more clear and intuitive

[2019-05-11 10:35] joel-costigliola commented on #1502
Interestingly #1501 goes in a different way unfortunately incompatible with your suggestion.

I totally get why you ask for it but I think allowing multiple string to be checked is more useful than supporting `String.format` syntax.

@antoniomacri have you got a compelling argument for your suggestion that I have missed ?

[2019-05-11 15:58] antoniomacri commented on #1502
No, it's just convenience.

But instead of adding varargs to `withMessageContaining` a new `withMessageContainingAll` could be defined?

What do you think?

[2019-05-11 23:23] joel-costigliola commented on #1502
Good idea, we'll make the change to `withMessageContainingAll` / `hasMessageContainingAll`.

@antoniomacri are you keen to contribute this improvement ? If so I suggest to wait for #1501 to be resolved to avoid merge conflicts.

[2019-05-12 03:58] joel-costigliola commented on #1502
Actually for consistency with collection assertions `contains`, I suggest we change the existing `with/hasMessageContaining(String)` to  `with/hasMessageContainingFormattedMessage(String, Object...)` .

It will make it obvious what the difference is and with #1501, we are backward compatible so all good.

comments ?

[2019-05-12 04:03] joel-costigliola commented on #1440
closing as a duplicate of #1442 but will reopen it if proven wrong.

[2019-05-12 04:03] #1440 closed

[2019-05-12 05:46] #1494 closed

[2019-05-14 07:17] sormuras opened #1504 "Java module descriptor for `org.assertj.core`"
### Old caption

`[ByteBuddy] NoClassDefFoundError: java.lang.instrument.Instrumentation`

#### Summary

Running tests included in JUnit 5's [documentation](https://github.com/junit-team/junit5/tree/master/documentation/src/test/java) project (backing the User Guide) on the `class-path` works fine. Converting those tests and demos into a Java module and running it on the `module-path` fails with s

[2019-05-14 08:10] raphw commented on #1504
I think AssertJ shades Byte Buddy, I assume this is related to the shading? Byte Buddy's module-info has a static requirement onto both the `jdk.unsupported` and the `java.instrument` modules.

[2019-05-14 08:47] sormuras commented on #1504
So, adding those modules at test runtime via `java`'s `--add-modules` option should work around the issue. I'll fine-tune generated module descriptor https://github.com/junit-team/junit5/compare/issues/1877-fix-module-descriptors#diff-2ede7e4068c8ae230cc4a350bb825229R40 and report back.

A better solution, working for all users of module `org.assertj.core`, would be if AssertJ re-declared those st

[2019-05-14 10:26] joel-costigliola commented on #1504
I confirm AssertJ shades BB

[2019-05-14 11:41] sormuras commented on #1504
I could work around the error in two ways:
- by adding `requires java.instrument;` to `documentation`'s module descriptor.
- by adding `requires java.instrument;` to `org.junit.platform.testkit`, the module that also `requires transitive org.assertj.core;`.

Soo... users of `org.junit.platform.testkit` will get `org.assertj.core` and `java.instrument` for granted.

Ideally, `org.assertj.core` woul

[2019-05-14 18:51] antoniomacri commented on #1502
Since we are checking exception messages, the consistency with collections is probably not a big problem.

`hasMessageContainingFormattedMessage` seems ugly to me (maybe better `hasMessageContainingFormattedString`) and is longer than `String.format`, therefore I'd probably keep using the last. 😄 ...no ok maybe not, just to avoid the extra parenthesis.

`containsFormattedMessage` (as suggested by

[2019-05-15 06:24] joel-costigliola commented on #1504
We'll add `requires java.instrument;` in the module descriptor for the next release.
I guess we should also add `jdk.unsupported` right ?

[2019-05-15 09:22] joel-costigliola commented on #1502
Good point for `hasMessageContainingFormattedMessage`, having `message` twice is not great.

 `hasMessageContainingFormattedString` is not super elegant, so I'm back to prefer `with/hasMessageContainingAll(String...)` and `with/hasMessageContaining(String, Object...)`.

[2019-05-15 09:25] joel-costigliola commented on #1502
@antoniomacri are you keen to contribute `with/hasMessageContaining(String, Object...)` ?

[2019-05-15 11:01] haruntuncay commented on #1238
Hello @joel-costigliola
Jope you are well.
I would like to contribute to this library. Please inform me whether I can work on this issue or any other issues that I can tackle. Thanks in advance.

[2019-05-15 11:03] haruntuncay commented on #1311
Hello @ketan,
How are you currently doing on this issue ? I would like to help implement it as well and wanted to ask if you are actively working on it or not so that I won't be stepping on your toes. Please inform me and thanks in advance.

[2019-05-15 11:07] ketan commented on #1311
I have not started on this, since I did not receive any confirmation if this might be something the core team would accept.

[2019-05-15 11:08] haruntuncay commented on #1311
Well, I believe the issue being tagged indicates that they are interested.

[2019-05-15 11:11] ketan commented on #1311
I'm sorry, I did not receive any notification about this. I'm happy to submit a PR. Will likely happen later next week, though.

[2019-05-16 09:13] bbottema opened #1505 "Be more descriptive in assertThat(Throwable) by including the stacktrace"
#### Summary
I was happy to find an assertThat specifically for `Throwable`, but it ignores the stacktrace contained within. It should describe the value using the stacktrace instead of simply `.toString()`.

#### Example
[code]
Output:

#### Workaround
To work around it I have to manually describe it using a custom utility (in this case I used Apache Commons Lang):
[code]
Output:

[2019-05-16 15:09] oliverlockwood commented on #1020
Plus one to `asMap()`.

[2019-05-16 21:25] joel-costigliola commented on #1311
@haruntuncay if by any chance you have frontend skills (unlike me) could you have a look at https://github.com/joel-costigliola/assertj-core/issues/1485 ? No problem if you can't/don't.

[2019-05-16 21:31] joel-costigliola commented on #1505
That's a good idea, I think we should limit the stack trace to a few lines by default for readability but allow users to override that behavior, WDYT ?

[2019-05-16 21:32] joel-costigliola commented on #1020
I believe you have been heard ;-) https://github.com/joel-costigliola/assertj-core/pull/1498

[2019-05-17 05:00] bbottema commented on #1505
Excellent!

[2019-05-17 07:22] haruntuncay commented on #1311
@joel-costigliola Unfortunately I can't say I have frontend skills. By the way, I was working on #1238 if that's okay ?

[2019-05-17 09:50] joel-costigliola commented on #1238
The thing is that assertion is not recursive which I think is what users would expect from it, fortunately #1002 has been mostly implemented not yet the direct support for iterables. If it did you would be able to write:

[code]

The recursive comparison is a bit tricky but feel free to give a try if you like to add this improvement to it.

[2019-05-17 11:14] kevcodez commented on #1441
When do you plan to release this fix?

[2019-05-17 11:44] joel-costigliola commented on #1441
@kevcodez in a few weeks hopefully

[2019-05-17 11:48] #1501 closed

[2019-05-18 04:28] joel-costigliola commented on #1358
documentation completed: https://assertj.github.io/doc/#assertj-core-exception-assertions-bdd-strongly-typed-style

[2019-05-18 04:47] #1358 closed

[2019-05-18 05:14] scordio opened #1506 "Typo in AbstractDateAssert#isBeforeOrEqualsTo method name?"
#### Summary
`AbstractDateAssert#isBeforeOrEqualsTo` has a trailing 's' in 'Equals' and it looks like a typo compared to java 8 time assertions (same for `AbstractDateAssert#isAfterOrEqualsTo`). It is just a style issue and fixing it would be a backwards incompatible change.

Also `org.assertj.core.error.ShouldBeBeforeOrEqualsTo` and `org.assertj.core.error.ShouldBeAfterOrEqualsTo` have the same f

[2019-05-18 23:39] joel-costigliola commented on #1506
Yeah, good catch :man_facepalming: .

The way to go is is deprecate `isBeforeOrEqualsTo` / `isAfterOrEqualsTo` and add  `isBeforeOrEqualTo` / `isAfterOrEqualTo`. For the other typos a rename refactoring will do.

[2019-05-20 05:06] #1506 closed

[2019-05-21 14:08] ogregoire opened #1509 "Add ifPresent for assert(Optional)"
#### Summary

I want to reuse tests, so I don't know if an optional is empty or not. I want that if it's empty, then it succeeds, if not that it's being matched.

#### Example

[code]

Currently, this is achievable by manually extracting the value of the optional:

[code]

[2019-05-26 11:16] #1325 closed

[2019-05-26 20:20] scordio opened #1512 "Add hasSuperclass(Class<?>) to AbstractClassAssert"
#### Summary
Sometimes I feel the lack of `isNotAssignableFrom()` in `AbstractClassAssert`.
Recently I needed a defensive test to enforce an exception class staying "checked" (i.e., not inheriting from `RuntimeException`). To do that, I created a custom condition:

[code]
used in this way:
[code]

#### Example
Following the behavior of the existing `isAssignableFrom(Class<?>...)`, a new api could

[2019-05-27 08:13] haruntuncay commented on #1238
Hello @joel-costigliola,

Hope you are doing well. I am going to give this issue a try this week and I wanted to ask your opinion for some pointers on the implementation first.

I was thinking of creating a new class, namely `RecursiveIterableComparisonAssert`, that extends `RecursiveComparisonAssert` and delegates the compasion of items contained in the iterables/arrays to `RecursiveComparisonDif

[2019-05-27 09:21] joel-costigliola commented on #1512
I'm ok with `isNotAssignableFrom` as the opposite of `isNotAssignableFrom`.

Having said that, I have always found the (JDK) `isAssignableFrom` method to be highly unclear, I often find myself wondering which class should inherit from the other one.

It would be great to find a better name for the `isAssignableFrom` assertion (and `isNotAssignableFrom`) that would not be ambiguous, maybe `isA/isAn

[2019-05-27 18:39] scordio commented on #1512
Yes, I was thinking about something like `isRuntimeException()` just because of the JDK `isAssignableFrom` unclearness! But you're right, there would be no need for an `AbstractThrowableClassAssert` having a better name for `isAssignableFrom`.

To avoid the `isA`/`isAn` duplication, what do you think about `isInheritingFrom()`? There could also be a `isBeingInheritedFrom()` for the superclass use

[2019-05-28 10:17] joel-costigliola commented on #1238
@haruntuncay I think we should try a simpler approach by adding `usingRecursiveComparison` to `AbstractIterableAssert` without needing a `RecursiveIterableComparisonAssert` class.

[2019-05-28 22:28] joel-costigliola commented on #111
I created https://github.com/assertj/doc/issues/11 to reference XMLUnit

[2019-05-29 08:24] haruntuncay commented on #1238
@joel-costigliola, Thank you for the help and please excuse my inadequate design decisions😄 as I am a student and not a seasoned developer. But I really would like to help the project with this issue as it can teach me alot.

Therefore, could you please clarify how we can achieve a chain structure like this
[code]
since `AbstractIterableAssert` doesn't expose those methods ? If `usingRecursiveComp

[2019-05-29 09:31] joel-costigliola commented on #1238
Try first to add `usingRecursiveComparison()` to `AbstractIterableAssert`, then add a test to see if it works as you would expect.

I'm not sure what you mean by associating `ObjectEnumerableAssert` methods with the `RecursiveComparisonDifferenceCalculator`, can you give me a concrete example of why it would be needed ?

[2019-05-29 09:53] haruntuncay commented on #1238
Sure. For example in here, (without `usingRecursiveComparison`)
[code]
the `contains` method in `AbstractIterableAssert` currently delegates the call to `Iterables.assertContains`, which by default uses a `StandardCompasionStrategy` that essentially boils down to an `equals` method call.

I thought, by adding `usingRecursiveComparison`
[code]
the goal was to use the new `RecursiveComparisonDiffere

[2019-05-29 10:55] joel-costigliola commented on #1238
Alright, I get it now, I was thinking of simply adding the existing `usingRecursiveComparison` to `AbstractIterableAssert` but that would only expose `isEqualTo`, an improvement for sure but as you pointed out users would expect to have iterables assertions after `usingRecursiveComparison()`.

I think an implementation worth exploring is to define (as you suggested)  a `RecursiveIterableComparison

[2019-06-01 06:57] joel-costigliola commented on #1504
This is way more complicated than I expected as we build assertj with java 8.

I have tried using moditect plugin as:
[code]
but it fails when executing `jdeps` with this error:

[code]
I could not find a fix for this error, googling seemed to suggest it is related to the JSR 305 and as these two modules contain types in the same package.

At this point I'm not sure what to do as I'm no java 9 mod

[2019-06-01 07:34] sormuras commented on #1504
I'll have a look, soon.

[2019-06-01 11:49] joel-costigliola commented on #1418
@sbrannen could I get some feedback from to see if I'm on the right track addressing this issue ?

To avoid having a `SoftProxies` field, I have refactored the soft assertions in AssertJ to let each concrete implementation to provide access to one through the `getProxies()` method.

Except for the JUnit5 ones, all concrete soft assertions implementation classes define their own `SoftProxies` field

[2019-06-01 19:43] haruntuncay commented on #1238
Hello @joel-costigliola,

Hope you are well. As you suggested, I have implemented a PoC and it seems to work well. I have created a new branch in my fork of AssertJ and [committed here](https://github.com/haruntuncay/assertj-core/commit/1115d50b534d16eed252fc1322b69d0c53b78458?diff=unified).

Could you please check it out when you have the time ? I would love to hear your feedback on it. Thanks in

[2019-06-01 20:21] haruntuncay commented on #1238
Hello @joel-costigliola,

Hope you are well. As you suggested, I have implemented a PoC and it seems to work well. I have created a new branch in my fork of AssertJ and [committed here.](https://github.com/haruntuncay/assertj-core/commit/85849607362a65ddcca8c6dd6276251108352c7e)

Could you please check it out when you have the time ? I would love to hear your feedback on it.

Thanks in advance and

[2019-06-01 23:13] joel-costigliola commented on #1238
@haruntuncay could you create a PR even if it is not ready ? it is easier to give feedback on a PR

[2019-06-02 09:20] haruntuncay commented on #1238
@joel-costigliola,  just wanted to notify that I have created the PR. Thanks in advance for the review.

[2019-06-02 23:18] joel-costigliola commented on #1238
I'm a bit busy on working for releasing 3.13.0, I'll have a look at your PR likely next week. Ping me if you don't hear from me within 2 weeks ;-)

[2019-06-03 20:43] welkman opened #1516 "ignoring fields in comparison using lambdas instead of field names"
#### Summary

#### Example

[code]

[2019-06-03 23:31] joel-costigliola commented on #1516
@welkman we are trying to move away from `isEqualToIgnoringGivenFields` as it is not recursive (I think most users would expect it ot be recursive but it's not), we have introduced a new recursive comparison that supports ignoring fields more powerfully (but still string based), see https://assertj.github.io/doc/#assertj-core-recursive-comparison-ignoring-fields.

Can you have a look at it and tel

[2019-06-04 04:28] scordio opened #1517 "asInstanceOf() should retain description"
Currently `asInstanceOf()` is not keeping the existing assertion description.

To achieve it, the return statement of:

https://github.com/joel-costigliola/assertj-core/blob/aee33e05bdba3e39376abd9083941c5fc632a905/src/main/java/org/assertj/core/api/AbstractAssert.java#L371-L373

should be changed to:

[code]

but this cannot work with the current method declaration because of the type parameter `

[2019-06-04 05:06] joel-costigliola commented on #1517
That was a long time ago, so I'm not sure I completely remember, I think the rationale was to let users to return their own implementation assertion class. Having said that, I'm not too sure if that ever worked and it was done consistently. I'll dig a bit more in the commit history if I can find a better reason.

Back to the initial issue, it is true that description is not propagated but the over

[2019-06-04 05:55] scordio commented on #1517
I assume you mean something like:

[code]

but it doesn't work at the moment because `createAssert()` returns an `Assert` as generic base while `withAssertionState()` is available only in `AbstractAssert`.
`Assert#as()` and `Assert#withRepresentation()` could partially cover what `withAssertionState()` does, but the call to `overridingErrorMessage()` and the replacement of the internal `objects` a

[2019-06-04 07:23] joel-costigliola commented on #1517
One thing I don't want is to expose `withAssertionState` in `Assert` as it would show up for users when it is only an internal method, this means we need to replace `Assert` by `AbstractAssert` in `InstanceOfAssertFactory`.

Just "playing" a bit with generics, I managed to get the code to compile with:

[code]
and
[code]

A cast to `ASSERT` is need as Java would otherwise complains about `Abstract

[2019-06-04 07:32] scordio commented on #1517
I think I did the same but I had issues in other places where I was using the static factories. At the moment I cannot check, I'll come back on this later during the day. Thanks so far!

[2019-06-04 09:06] joel-costigliola commented on #1517
No problem, take your time.

[2019-06-04 21:37] welkman commented on #1516
I understand that the non-recursive version is less powerful, but I believe it is also much simpler and still very useful.  Nonetheless, if you still do not wish to expand usage by of the non-recursive variant by adding an additional overload as suggested, then sure it would be fine to add it to your recursive options.  I actually mentioned the `.ignoringFields()` in my OP, but just gave the simpl

[2019-06-05 10:35] martinschneider opened #1518 "Implement an event handling mechanism"
#### Summary
There should be an option to add a hook to the check of an assertion and execute custom code.

Use-case:
I want to log the result and description of an assertion every time it is checked (and not just when it fails). The descriptive nature of AssertJ tests would be an ideal base to create a test protocol. Right now, this information is not used to its fullest potential.

#### Example

[2019-06-05 17:14] ngeor opened #1519 "Feature Request: assertThat(date).isCloseToUtcNow()"
#### Summary

It is common that we have some code that creates a date-time (e.g. `LocalDateTime`) based on the current time, in UTC time zone.

We have a custom assertion for that, but it would be perhaps nice if assertJ had this out of the box.

This is our class:

[code]

We'd like to have the same functionality out of the box, e.g.

[code]

perhaps with some overloads like:

[code]

If you also

[2019-06-06 08:57] tarioch commented on #1311
It would be great if there were also some assertions around file size. e.g. hasAtLeastSize() asAtMostSize().

[2019-06-07 01:00] hazendaz commented on #1403
@joel-costigliola I'm pretty sure this one was fixed by maven with javadoc plugin 3.1.0 and not an issue with java itself.

[2019-06-07 11:26] joel-costigliola commented on #1403
@hazendaz thanks, looks good. I think I'll bump the version in the parent pom and release it for use in assertj-core.

[2019-06-07 17:25] PascalSchumacher commented on #1403
Was fixed in https://github.com/joel-costigliola/assertj-maven-parent-pom/commit/9b521bc33ac81b9a809de39c00599a9f928934d8 by the way.

[2019-06-07 21:53] joel-costigliola commented on #1403
@PascalSchumacher thanks, I forgot about this

[2019-06-08 06:05] joel-costigliola commented on #1403
Unfortunately the maven-javadoc-plugin 3.10.0 did not fix the issue as per this build https://travis-ci.org/joel-costigliola/assertj-core/builds/543057440.

I'm going to disable the javadoc again for java 11+ projects

[2019-06-08 06:27] joel-costigliola commented on #1403
Fixed by adding specifying that source is 8 in the maven-javadoc-plugin configuration.

[2019-06-08 06:27] #1403 closed

[2019-06-08 11:48] scordio commented on #1517
I made some progress and I'm gonna open a PR to continue the discussion :-)

[2019-06-09 06:31] joel-costigliola commented on #1075
@TehBakker any thoughts on my last comment ?

[2019-06-09 06:46] joel-costigliola commented on #1519
I have mixed feeling on this, it feels a bit too specific but why not.

One thing I'm sure of is that `isCloseToUtcNow()` is not obvious enough as we have no idea what delta was used. I think it is preferable to be explicit, so I would go for something like:

[code]

@ngeor WDYT ?

[2019-06-09 06:53] ngeor commented on #1519
The use case I have in mind is about storing a value in the db (like a creation timestamp). By the time the assertion runs, some milliseconds have passed, which depending on the speed of the machine can go up to 500 or even more, but almost within the second.

I agree that a default value might be good for my use case but not for others.

I would still go for both overloads, because I'm assuming `

[2019-06-09 06:58] joel-costigliola commented on #1516
I can agree to such an addition to the recursive comparison API.

The first step to implement this improvement is a PoC to make sure this is technically feasible (I believe so). I think we would need to store the given functions in `RecursiveComparisonConfiguration` for a later use in `boolean shouldIgnore(DualValue dualKey)`.

[2019-06-09 09:58] joel-costigliola commented on #1311
@ketan are you still interested in contributing more file assertions ?
In that case I would prefer to have one PR per assertion as big PRs take too much time to review.

[2019-06-09 09:59] joel-costigliola commented on #1311
@tarioch sure, do you have a concrete example ? how would the expected size be expressed ?

[2019-06-09 11:37] tarioch commented on #1311
I would probably keep it simple and keep size as an long in bytes (as specified by https://docs.oracle.com/javase/7/docs/api/java/io/File.html#length()).
The use case I have it is where we have some report generation and we want to check that at least some file with some content was generated.

[2019-06-09 14:54] scordio commented on #1075
I just realized `containsAll` and `containsAllElementsOf` (plus `containsAllEntriesOf` for maps) already exist but they do not cover the "nothing else" requirement.

@joel-costigliola do you plan to change the behavior of the existing `containsAll` assertions or do you simply want to suggest the developers to use the existing `containsAll` assertions together with `hasSameSizeAs`?

[2019-06-09 16:24] TehBakker commented on #1075
yes seems good to me

[2019-06-10 11:03] joel-costigliola commented on #1075
@scordio I prefer to keep `containsAll` as it is not ambiguous, to check the "nothing else" requirement we should add `containsExactlyInAnyOrder` which I 99% sure is equivalent to `containsAll` + `hasSameSizeAs`.

[2019-06-10 11:06] joel-costigliola commented on #1311
Sounds good to me.

[2019-06-10 11:14] joel-costigliola opened #1522 "Display group of values in ShouldHaveSameSizeAs"
#### Summary

When `hasSameSizeAs` fails, it only displays the size of the iterable/array/map.

It might certainly be useful to show both iterable/array/map to ease understanding why the sizes differ.

[2019-06-11 13:26] jrcacd opened #1524 "New assertion IsNotNull()"

[2019-06-12 10:20] joel-costigliola commented on #1418
@sbrannen pinging you for a comment if you have time ;-)

[2019-06-12 10:21] joel-costigliola commented on #1504
@sormuras gentle reminder, if you don't have the time to look at it, that's alright ;-)

[2019-06-12 11:25] joel-costigliola commented on #1355
I have done it for the `hasMessage` assertion, it should also done for other throwable assertions.

[2019-06-12 11:28] sormuras commented on #1504
Mh, I don't have a good solution that works using Java 8 only.

We actually lifted recently all of "our" builds to use Java 11 as minimum for compiling them. This includes:
- https://github.com/junit-team/junit5 (release 8 and 9)
- https://github.com/apiguardian-team/apiguardian (release 6 and 9)
- https://github.com/ota4j-team/opentest4j (release 6 and 9)

Feel free to find inspiration from the b

[2019-06-12 11:34] sormuras commented on #1504
Here is the `maven-compiler-plugin` user guide describing "Multi Release JAR" support.
https://maven.apache.org/plugins/maven-compiler-plugin/multirelease.html
I'd go with the "Single project (runtime)" approach.

[2019-06-12 11:54] sormuras commented on #1504
Shall I try to compose a PR ... today?

[2019-06-12 12:25] sormuras commented on #1504
PR #1525 created -- the `module-info.java` file needs more love, especially the `exports <package name>;` section is far from complete.

[2019-06-13 03:37] joel-costigliola commented on #1504
I will complete it, thanks @sormuras !

[2019-06-13 03:55] sormuras commented on #1504
Awesome.

Happy to provide an integration test, as I encounter a warning with the current AssertJ at the moment:

[code]
https://travis-ci.com/sormuras/mainrunner/jobs/207327458#L469-L472

That one should vanish with AssertJ being an explicit Java module, soon.

[2019-06-13 10:47] joel-costigliola commented on #1504
@sormuras I have added the missing `export` to `module-info.java` and pushed the commit to master.
https://travis-ci.org/joel-costigliola/assertj-core

Can you test it ?

[2019-06-13 11:04] sormuras commented on #1504
_in progress..._

Do you upload snapshot artifacts?

[2019-06-13 11:09] joel-costigliola commented on #1504
Unfortunately nope

[2019-06-13 11:16] sormuras commented on #1504
Running on Java 11 and using the `--module-path` yields:

- generated `assertj-core-3.13.0-SNAPSHOT.jar` locally, skipping tests, some fail on Windows
- reports as `module org.assertj.core, location=file:///R:/dev/github/sormuras/mainrunner/lib/test/assertj-core-3.13.0-SNAPSHOT.jar`
- the warning mentioned above is gone
- the JUnit Platform Engine Test Kit worked flawlessly, at configuration time

[2019-06-13 11:17] sormuras commented on #1504
Fixed `mvn clean verify -Dmaven.test.skip=true` -- no need to deploy it locally, @rfscholte keeps saying. ;-)

[2019-06-13 11:28] sormuras commented on #1504
`exports org.assertj.core.internal` 🤔

[2019-06-14 01:14] joel-costigliola commented on #1504
I know about the internal stuff, dates back from Fest Assert the project AssertJ comes from.

Is there an easy way to know the other java modules a lib depends on ? AssertJ Core does not depend on any third party lib (except BBuddy).

The only one that I think of is `jdk.unsupported` as mentioned in [this previous comment](https://github.com/joel-costigliola/assertj-core/issues/1504#issuecomment-4

[2019-06-14 03:09] sormuras commented on #1504
`jdeps` https://docs.oracle.com/en/java/javase/11/tools/jdeps.html

Which is a good sign, that no other 3rd-party module is required.

Well, there're two options: either add it and remove it later, if it's not required -- or don't add it now, and if it is missing, add it later. ;-)
Best would be to execute all "black-box" unit test from within a (temporary) module. This way AssertJ could assert th

[2019-06-14 03:22] sormuras commented on #1504
[code]

`not found` is due those package references: `javax.annotation`, `javax.annotation.meta`

[2019-06-14 03:37] sormuras commented on #1504
Adding some (Java SE-provided) module yields:

[code]

[2019-06-14 03:41] sormuras commented on #1504
Mh, just discovered the `--check <module, ...>` option of `jdeps`!

[code]
...and will file a :bug: report. :wink:

[2019-06-14 11:09] joel-costigliola commented on #1524
It already exists. https://static.javadoc.io/org.assertj/assertj-core/3.12.2/org/assertj/core/api/AbstractAssert.html#isNotNull--

[2019-06-14 11:09] #1524 closed

[2019-06-15 06:35] joel-costigliola commented on #1504
Some of the modules are only needed if a specific feature is used, for example `org.junit.jupiter.api.extension` is only used for soft assertions on Junit 5. I guess in that case module-info should contain `requires static org.junit.jupiter.api.extension`.

I have played with jdeps and the output is a bit scary, is the goal not having any `org.assertj.core -> not found` output ?

TBH, it looks awf

[2019-06-16 05:19] joel-costigliola commented on #1519
I'm still not convinced about a default value because it is really dependent on what you are testing, if people really want it, they can easily write a static wrapper method that would call `isCloseToUtcNow` with their own default value.

If you are keen to start working on the  overload with the explicit parameter, that would be great!

[2019-06-16 05:47] sormuras commented on #1504
Exactly. Except for requiring a module via its name, not a package from within a module.

Guess so, yes.

But "right" is also "correct". Know your dependencies "as good as" your own code.

Granted, that is totally true. But modular testing is taking off ... _soon_, especially for libraries.

That's a fair start. The modular test I performed against the JUnit 5 code base reported "green". That's a

[2019-06-16 06:18] joel-costigliola commented on #1504
I have the report with the missing modules thanks to `jdeps --multi-release 9 target/assertj-core-3.13.0-SNAPSHOT.jar`:

[code]

Most of them are optional dependencies this `requires static` should be good for them but now the question is: how do you find the module containing a given package ?

I have found `java.lang.management` was in `java.management` by exploring the [Java 9 api](https://docs

[2019-06-16 06:23] joel-costigliola commented on #1504
BTW, thanks for the help @sormuras !

[2019-06-16 06:43] sormuras commented on #1504
You're welcome.

The XML module name is `java.xml`. Only one `x`. :-)

https://docs.oracle.com/en/java/javase/11/docs/api/java.xml/module-summary.html

[2019-06-16 06:47] sormuras commented on #1504
Taking `jdeps` hint from above, the `module-info.java` should read like:

[code]

[2019-06-16 06:53] joel-costigliola commented on #1504
Making progress, after modifying the module-info with this :
[code]
I only have the java.xml error:
[code]

[2019-06-16 06:54] sormuras commented on #1504
Not `javax.xml`, but `java.xml`.

[2019-06-16 09:43] joel-costigliola commented on #1504
No error but I still have the same `not found` ! :cry:
[code]
Turning one of the  `requires static` to a `requires` (ex `org.junit.jupiter.api`) fails the `jdeps` command below even when the classpath contains all assertj non test dependencies.

[code]
`target/dependency` content:
[code]

Any idea, what to do next ?

[2019-06-16 11:03] sormuras commented on #1504
Use `--module-path target/dependency` instead of `--class-path ...`.

[2019-06-16 11:06] ngeor commented on #1519
@joel-costigliola I have pushed some first draft in order to get your feedback.

I didn't create a PR because it didn't finish all the tests and I didn't add the javadoc comments.

https://github.com/joel-costigliola/assertj-core/compare/master...ngeor:1519?expand=1

I would really appreciate any early feedback in case I'm doing it completely wrong :-)

One thing I found strange is that `AbstractL

[2019-06-16 11:07] sormuras commented on #1504
Running `mvn compile org.apache.maven.plugins:maven-dependency-plugin:3.1.1:resolve -DexcludeTransitive` yields:

[code]

[2019-06-16 21:18] joel-costigliola commented on #1519
Hi @ngeor,
You can raise a PR even if it is early stage, it is easier for me to review and make comments.
Don't worry too much about the exception discrepancies, I prefer `IllegalArgumentException` too, if can change that, great. It is a breaking change but a minor one so it's ok.

[2019-06-17 10:43] LostOblivion commented on #533
I spent hours trying to understand why usingComparatorForElementFieldsWithType does not work with  tuples (in my case for comparing doubles). As it is now, it is very easy to mistake this as a bug in assertj. Is it non-trivial to add support for tuples?

[2019-06-17 10:44] joel-costigliola commented on #1504
Running
[code]
gives:
[code]
where target/dependency/ contains:
[code]
I have the same result as your when running
[code]

[2019-06-17 10:58] joel-costigliola commented on #1504
We might just be hitting https://bugs.openjdk.java.net/browse/JDK-8210502 ?

[2019-06-17 11:15] joel-costigliola commented on #533
@LostOblivion can you give a try to new recursive API ? As you can ignore overriden equals method (Tuple in this case), it might just solve this issue.

https://assertj.github.io/doc/#assertj-core-recursive-comparison-ignoring-equals

[2019-06-17 11:26] LostOblivion commented on #533
This is my code right now, if you want to see. consumptions is a list of elements of a given class. Intuitively, usingComparatorForType should work for this too.

`        assertThat(consumptions)
                .extracting("consumer.name", "service.name", "shareOfUsage")
                .usingComparatorForType(new DoubleComparator(e), Double.class)
                .contains(

[2019-06-17 11:58] ngeor commented on #1519
Hi @joel-costigliola ,
thanks, I opened up a PR. The build failed on `openjdk-ea` on some tests related to paths, e.g. `Paths_assertIsDirectoryContaining_Predicate_Test`. It passed on the other versions of Java. Is this perhaps a known issue or do I need to do something about it? Looking forward to your feedback.

https://github.com/joel-costigliola/assertj-core/pull/1528

[2019-06-17 12:33] jrcacd commented on #1524
Ok, thanks

[2019-06-17 12:49] behrangsa opened #1529 "and()-ing multiple matches(...) assertions"
#### Summary

It would be nice if we could chain multiple `matches(...)` assertions fluently using `and()` connectors, with support for sub properties.

#### Example

[code]

[2019-06-18 10:03] joel-costigliola commented on #1529
[extracting](https://static.javadoc.io/org.assertj/assertj-core/3.12.2/org/assertj/core/api/AbstractObjectAssert.html#extracting-java.util.function.Function-) for object already provides forward navigation, what is not supported is navigating back to the parent object.

I see why you would want navigation, this is not something straightforward to implement and at the moment you always have the tra

[2019-06-18 10:20] sormuras commented on #1504
Got it working. Found the solution here: https://stackoverflow.com/a/47512109/1431016

Add `--add-modules=ALL-MODULE-PATH` to the `jdeps` command line. And replace `-recursive` with `-summary`.

`jdeps --multi-release 9 --module-path target/dependency --add-modules=ALL-MODULE-PATH -summary target/assertj-core-3.13.0-SNAPSHOT.jar`

yields

[code]

[2019-06-18 10:27] sormuras commented on #1504
In summary, the goal to resolve all `not found` instance is ... a no-goal. At least when it comes to verify that AssertJ's module descriptor is valid. Methinks.

[2019-06-18 10:33] sormuras commented on #1504
I ran `jdpes [...] --check org.assertj.core` again. Here's the result.

All required modules are listed. Now, throw in some `static` modifiers as needed. ;-)

[code]

[2019-06-18 11:38] joel-costigliola commented on #1504
That's cool @sormuras :smiley:

Here's my results
[code]
with these `requires`
[code]
and these dependencies:
[code]
Running this leads to the same not found but I'm not sure how relevant that is.
[code]

I think I'm reasonably happy to ship the above module-info and wait for the community feedback.

[2019-06-18 11:42] sormuras commented on #1504
Looking forward to test-drive the new AssertJ module as soon as you push it to `master`.

[2019-06-18 11:59] joel-costigliola commented on #1504
You can now, it's in master ;-)

[2019-06-18 12:13] sormuras commented on #1504
You're welcome.
That's how and why open source works.

[2019-06-18 12:14] sormuras commented on #1504
Did you see this warning from the `compile` task?

[code]

[2019-06-18 12:25] sormuras commented on #1504
There are some issues with the latest module descriptor:

- `[X] org.assertj.core.presentation.Representation: module org.assertj.core does not declare "uses"`
- `[X] Could not initialize class org.assertj.core.configuration.ConfigurationProvider`

Trying to find the underlying reason...

[2019-06-18 19:29] scordio commented on #1519
That should be fixed now. Unless you push something else, someone with write access would need to trigger a new build for your PR or you can close and reopen your PR to trigger Travis again.

[2019-06-18 19:58] sormuras commented on #1504
Looking at the `(auto)` and `[auto]` line endings from Maven's output:

[code]

...it appears to me that iff it reads only `module x.y.z` (without `auto`) it is an **explicit module**, it contains a stable name and API exposed via a compiled module descriptor. Examples:
- `module net.bytebuddy`
- `module com.github.marschall.memoryfilesystem`

Automatic modules with a stable module name defined vi

[2019-06-18 20:01] ngeor commented on #1519
Thanks @scordio I pushed a change in `.editorconfig` (changed a URL to https) and the build is indeed green.

[2019-06-18 20:06] sormuras commented on #1504
Robert said: "the code is the truth"
https://github.com/apache/maven-dependency-plugin/blob/master/src/main/java/org/apache/maven/plugins/dependency/resolvers/ResolveDependenciesMojo.java#L233-L243

In case of module `junit` I can assure that the upcoming (and last?) version of JUnit 4.13 will set its module name to `junit` via a manifest entry. Thus, this name is safe to use.

[2019-06-18 20:35] sormuras commented on #1504
Removing...

[code]

...from `src/main/java9/module-info.java` make the `maven-compiler-plugin` happy and allows end-users to put those JARs on the `--class-path`.

[2019-06-19 10:09] joel-costigliola commented on #1504
I did miss the warning, so the right way is to remove these entries to avoid this potential [issue](https://stackoverflow.com/questions/46501047/what-does-required-filename-based-automodules-detected-warning-mean) ?

If I understand correctly,  users will have to add these modules to the classpath for the features relying on them to work, correct ?

[2019-06-19 10:12] joel-costigliola commented on #1519
@ngeor I'll look at it in the next few days, thanks.

[2019-06-19 10:30] joel-costigliola commented on #1509
I'm not sure this is feasible, what would `extractIfPresent()` return if the value is not present ?
Whatever it is, the chained assertion does not know that this special value meant ignore any further assertions so it would be executed ...

Would your use case be addressed by assumptions ?
[code]

I don't a better solution at the moment than using `ifPresent` as in your last examples (I assume you

[2019-06-19 10:53] joel-costigliola commented on #1418
@sbrannen or @Sam-Kruglov could have a look at https://github.com/joel-costigliola/assertj-core/pull/1530/files#diff-111b89b286b9f4ba07422f1e8c1e6200 and tell me if that looks correct to you ?

I have created a branch for this fix, so it is possible to test this version on a real code base, simply run `mvn install -Dmaven.test.skip=true` to get it built.

[2019-06-19 11:34] sormuras commented on #1504
I'm not 100% about the "right way" here. But yes, removing them avoids the valid warning when compiling. Even `javac` warns about requires directives that refer to automatic modules. At runtime users may put those libraries on the class- or module-path allowing dependent AssertJ features to work.

[2019-06-19 11:42] sbrannen commented on #1418
Sorry for being incommunicado. I'll try to find time to review your work today or tomorrow.

[2019-06-19 13:47] sbrannen commented on #1418
TBH, I can't really see a feasible way to support soft assertions via an extension registered via `@RegisterExtension` using the `ExtensionContext.Store`.

It may be that I am overlooking something, but I currently think you'll have to go with a `ThreadLocal` to achieve the proper behavior.

I have reworked several of the classes in my local fork which I may share later, but the time being I'll sh

[2019-06-19 13:49] sbrannen commented on #1418
Another option would be for the extension to implement `ParameterResolver` and then inject an instance of `SoftAssertions` into each method that needs it.

I think that would actually be cleaner, since it should theoretically work via the `ExtensionContext.Store` and would no longer require a `ThreadLocal`.

Such an extension would likely be better registered via `@ExtendWith` instead of `@Registe

[2019-06-19 17:50] ogregoire commented on #1509
Thank you for sharing your thoughts on this.

I do not wish that the whole test is ignored if the assumption isn't met. Subsequent checks might be important. The template I suggest is rather unusual, I admit it. It's supposed to be used in helper methods which do not know whether the optional is empty or not.

What I was thinking is that the value returned by `extractIfPresent` would be either an

[2019-06-19 19:30] sbrannen commented on #1418
To answer your questions...

I think that's a good idea in general; however, the implementation can be improved with regard to proper encapsulation. I have those changes in my local fork, and I can provide them in case you decide to go that route.

Yes, it does appear to work; however, I am a bit uncomfortable with the implementation in that it is not _idiomatic_ for a JUnit Jupiter extension.

Th

[2019-06-19 20:16] sormuras commented on #1504
Found it. To help the module system wire up services, modules have to declare which services the will load at runtime. PR incoming...

[2019-06-19 20:40] sormuras commented on #1504
FYI: detected and fixed a similar issue in `org.junit.jupiter.engine` via https://github.com/junit-team/junit5/commit/c281338c049ab455b198887d48b54ab0ce01b6c6

[2019-06-20 10:38] LostOblivion commented on #533
@joel-costigliola , I couldn't get it to work with recursive comparison as the assertThat for collections does not have a method usingRecursiveComparison nor isEqualToComparingFieldByFieldRecursively.

When looking at the code above, there really is no intuitive reason why it shouldn't work. extractors and tuples are one of the main reasons we use assertj in our project, but right now its pretty u

[2019-06-20 13:09] jiri-pejchal opened #1533 "Allow return values of WithAssertions#fail* methods to be ignored"
#### Summary
`WithAssertions#fail` methods don't return void (from #1294). This causes violations in static analysis tools because the class `WithAssertions` is annotated with `@CheckReturnValue`.

`WithAssertions#fail` methods  should be annotated with `@CanIgnoreReturnValue`.
The similar fix has been made for `Assertions#fail` in #1298.

[2019-06-20 22:50] joel-costigliola commented on #1533
Good catch thanks!

[2019-06-21 12:02] joel-costigliola commented on #533
I agree it is not intuitive, the good news is recursive comparison collection support is coming in the next release (as a Beta though).

I haven't tried but you might get to work with:
[code]
The limitation is that you can only use `isEqualTo` as collections assertions are not supported yet.

Again, the thing is `Tuple` has already an `equals` method so you have to provide a `Comparator` for it th

[2019-06-21 16:00] jodastephen opened #1535 "Add top-level assertWith() as alternative to satisfies() for local variables"
#### Summary

The ability to group together tests using `satisfies()` is very useful and better than the `returns()` fluent expression in most cases. It can shorten some use cases quite significantly. However, I didn't find it immediately, and I think the name is not great when not sharing a condition. Could I suggest an alternative top-level entry point, `assertWith(Object, Consumer)` that would

[2019-06-22 07:12] joel-costigliola commented on #1418
@sbrannen thanks for the thorough explanation!

Naive question, is it possible (or even reasonable) for JUnit to provide a `ThreadLocal` `Store` ?

If we use the `ParameterResolver` approach, is this how a typical test would look like ?
[code]
Is that approach compatible with [parameterized tests](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests) ? Where would th

[2019-06-22 21:11] scordio commented on #1517
Fixed in a2fe4b281f8c6a9a799e4544be9c72f128c137be.

[2019-06-22 21:11] #1517 closed

[2019-06-22 23:40] joel-costigliola commented on #1535
I'm ok to add `assertWith` if it makes it easier to group assertions. One disadvantage of this top level method is that they can't be used with [soft assertions](http://joel-costigliola.github.io/assertj/assertj-core-features-highlight.html#soft-assertions).

I find `satisfies` to be a good name (well we could not find a better one), the only problem being that it is the same for `Condition`. Is t

[2019-06-23 00:41] behrangsa commented on #1529
You are right, the `and()` call is not needed, but if I’m not wrong at the moment it’s not possible to write assertions like these, especially if our POJOs have many complex properties, with just one `assertThat` call.

[2019-06-23 06:07] joel-costigliola commented on #1529
You are correct, you can't do all assertions  with just one `assertThat` call, this is what I was trying to say here:

[2019-06-23 06:53] #1533 closed

[2019-06-24 11:31] #1519 closed

[2019-06-25 04:52] scordio opened #1536 "Is `ObjectAssert(AtomicReference)` rendundant?"
I noticed there is an `ObjectAssert(AtomicReference<ACTUAL>) ` constructor which is used nowhere (including tests):

https://github.com/assertj/assertj-core/blob/30bfbbc257d1a5b59563323b5eea29099d73926f/src/main/java/org/assertj/core/api/ObjectAssert.java#L39-L41

At the same time there is an `AtomicReferenceAssert(AtomicReference<V>)` constructor which is actually used by `Assertions`:

https://g

[2019-06-25 08:18] sbrannen commented on #1418
We are considering providing access to the _current_ `ExtensionContext` via a `ThreadLocal` mechanism that would allow you to access the current `Store`, though we do not yet have a ticket for that as far as I recall.

So feel free to open a new JUnit 5 GitHub issue requesting that.

I would say that the resolved parameter type should simply be `SoftAssertions`. I don't see any need to force the u

[2019-06-25 08:27] jodastephen commented on #1535
I don't think soft assertions are relevant here, as the `assertWith` doesn't actually do anything. Users that wanted to soft assert could still do so within the `assertWith` block.

`satisfies` is a good name when the lambda it is passed is a variable and reused multiple times:

    assertThat(team.getPlayers().get(0).getStats()).satisfies(pointsInStandardRange);
    assertThat(team.getPlayers().g

[2019-06-25 10:17] joel-costigliola commented on #1418
I'm happy with the `ParameterResolver` approach, it would be great if you can create a PR for that otherwise I can give it a shot provided you'll review my work ;-).

[2019-06-25 10:59] joel-costigliola commented on #1536
AFAIR the idea was to make it easy to get the assertions for the underlying atomic object but it was not possible to expose it in `Assertions.assertThat` due to the existing atomic assertions.

The https://github.com/joel-costigliola/assertj-core/commit/24f054a2c72988d543f545c801401f1290693962 commit shows the same approach for other atomic types.

I think this was not a great idea as few people w

[2019-06-25 11:26] sbrannen commented on #1418
OK. I'll see if I can quickly put something together over the coming days.

Sure. If I don't submit a PR, I'd be glad to review your work.

Yes, you could use that for inspiration; however, that's a bit more involved than what you'll need.

[2019-06-25 13:41] sbrannen commented on #1418
OK. I've already implemented a spike.

[code]

[2019-06-25 13:42] sbrannen commented on #1418
And here's a test class to play around with it.

[code]

[2019-06-25 13:43] sbrannen commented on #1418
If you're happy with the direction it's going, I'll submit a PR with real tests (likely using the `EngineTestKit`).

[2019-06-25 13:51] sbrannen commented on #1418
I pushed my work to a branch in my fork, in case that makes it easier for you to view: https://github.com/sbrannen/assertj-core/commits/issues/1418-jupiter-soft-assertions

[2019-06-25 14:00] rweisleder commented on #1418
Should the `SoftAssertionsExtension` also resolve parameters of type `BDDSoftAssertions`?

[2019-06-25 14:13] sbrannen commented on #1418
That could either be handled by a dedicated `BddSoftAssertionsExtension`, or `SoftAssertionsExtension` could potentially be reworked to support both types (with a bit of added complexity).

[2019-06-25 14:35] sbrannen commented on #1418
That was easy enough, so I went ahead and implemented that in https://github.com/sbrannen/assertj-core/commit/79ae922cce8bec36c6647449ab51294cb95807f6. 😉

[2019-06-25 22:53] scordio commented on #1536
Would it help to use a similar approach to:

https://github.com/joel-costigliola/assertj-core/blob/83cd126d183cf55fd3a16cc40c0f5f634ed71dc5/src/main/java/org/assertj/core/api/AbstractOptionalAssert.java#L433-L436

having a `get()` method which performs some preliminary assertions and then returns the underlying atomic object as the new one under test?

[2019-06-26 09:48] joel-costigliola commented on #1418
@thanks for the work, looking at your branch right now.

[2019-06-26 10:22] sbrannen commented on #1418
After putting more thought into it, I realized that it never makes sense to have a `SoftAssertions` instance scoped beyond a specific method -- for example, a `@Test` method.

Rationale: if the extension scopes the tracked exceptions for the `SoftAssertions` instance across `@BeforeEach`, `@Test`, and `@AfterEach` methods, any tracked exceptions from the `@BeforeEach` method do not actually cause

[2019-06-26 10:30] joel-costigliola commented on #1418
I have just commented the PR I have created from your branch, ignore the comments if they are not relevant anymore. Let me know when it is ready / good enough for a review.

IMO the scope should only be the `@Test` methods, `@BeforeEach` or `@AfterEach` are not places to perform assertions.

[2019-06-26 10:32] sbrannen commented on #1418
I just made that the case in https://github.com/sbrannen/assertj-core/commit/88736c26762d34191daa82fa48607bbc360caa2a. 😉

[2019-06-26 11:06] sbrannen commented on #1418
I have addressed your comments and made changes.

At this point, I think the `SoftAssertionsExtension` implementation is nearly complete (if not already complete). So, feel free to review that.

The tests, however, are just a playground, and some of them fail. So that's obviously not up for review yet. I'll have to use the `EngineTestKit` to test those properly.

[2019-06-26 21:28] abogdanov37 commented on #1518
In my case I want to integrate AssertJ with Vert.x tests.
To do this I need a handler in which I process AssertError and fail Vert.x context

[2019-06-27 03:07] joel-costigliola opened #1538 "Fix ShouldHaveSizeLessThanOrEqualTo message parameters order"
#### Summary

ShouldHaveSizeLessThanOrEqualTo format message parameters order is incorrect.

#### Example

Bad
[code]
Better
[code]

[2019-06-27 03:08] joel-costigliola commented on #1538
Same for `ShouldHaveSizeLessThan`, `ShouldHaveSizeGreaterThan` and `ShouldHaveSizeGreaterThanOrEqualTo`

[2019-06-27 04:01] joel-costigliola commented on #1418
The `SoftAssertionsExtension ` looks good :)

I'm keen to see how you are going to use the `EngineTestKit`, that will be some good learning for me.

[2019-06-27 05:00] joel-costigliola commented on #1518
@abogdanov37  is that the same feature ? can you give an example ? have you tried using [soft assertions ](https://joel-costigliola.github.io/assertj/assertj-core-features-highlight.html#soft-assertions)?

[2019-06-27 08:31] MikeShysh commented on #1002
Hi,
I see that there is a case for ignoring order for arrays and it has been already implemented
(Iterable/array support section -  ignores order in comparison (by default elements are compared in order for ordered collection).)
I have one more example)
Let's consider the following Objects
`
data class AccountServiceFeaturesMetaInfo(
    var serviceFeatures: List<ServiceFeatureMetainfo?>?,
    ...

[2019-06-27 11:10] joel-costigliola commented on #1538
Fixed in https://github.com/joel-costigliola/assertj-core/commit/e3159aab5e845ef53e59b483280422b07ec9f56a

[2019-06-27 11:10] #1538 closed

[2019-06-28 08:50] ryankong opened #1539 "why not be AssertionExcetpion?"
Why throw AssertionError not AssertionExcetpion?
in java
Error : An Error “indicates serious problems that a reasonable application should not try to catch.”
Exceptions : An Exception “indicates conditions that a reasonable application might want to catch.”
may be  AssertionExcetpion is better

[2019-06-28 09:04] #1539 closed

[2019-06-30 05:50] joel-costigliola commented on #1504
@sormuras I have pushed a [commit](https://github.com/joel-costigliola/assertj-core/commit/ca0fa65d01e2de8e936c9ea5eb4a5fc203363aae) removing the `requires` clause on the filename-based automodules (this indeed fixes the warning you mentioned).

Is there anything that can be done on this issue ?

[2019-06-30 06:03] sormuras commented on #1504
No, I think this issue is solved as good as possible for the time being.

[2019-06-30 06:15] joel-costigliola commented on #1504
Sweet, thanks again for the help :)

[2019-06-30 06:15] #1504 closed

[2019-06-30 13:29] sbrannen commented on #1418
I added proper tests in https://github.com/sbrannen/assertj-core/commit/dc74f341bc42d0138c868dd54791b25da04c949e.

[2019-06-30 14:03] sbrannen commented on #1418
And in https://github.com/sbrannen/assertj-core/commit/a55d8709a8fdb32ca2d85947280bda6bb0c596ca, the extension now throws an exception if the user accidentally _requests_ parameter resolution for a constructor or non-test method.

I think it's best to fail the test in such cases as opposed to silently ignoring the misconfiguration. JUnit Jupiter would of course throw an exception anyway if the par

[2019-06-30 14:04] sbrannen commented on #1418
@joel-costigliola, if you're happy with the basic approach and status quo, I'll squash the commits and submit a proper PR.

[2019-07-02 10:41] joel-costigliola commented on #1418
@sbrannen I'm happy with the approach :) waiting for your PR.

[2019-07-02 11:06] joel-costigliola commented on #1369
@dev-priporov Sorry for the (very) late feedback, I have given it a  try with the current code and the new recursive api (#1002). The error message is the same:
[code]
To me this is the correct default behavior, you can't compare a `ChildClass` to its `BaseClass` as it has a different data structure, said otherwise because `BaseClass` is not a `ChildClass` they can't be compared but the opposite w

[2019-07-02 13:59] crizzis commented on #1369
@joel-costigliola since you've commented on whether or not the issue is in fact relevant, I assume you meant to ping me instead (it I'm mistaken, feel free to ignore my comment).

First of all, thanks and no worries for the late reply, this is indeed an edge case as you pointed out in your comment ;)

That being said, I think the entire issue boils down to two questions:

1. What should happen whe

[2019-07-02 17:21] mhp0rtal opened #1542 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => src/main/java/org/assertj/core/internal/Paths.java: Line number => 339: API name => MessageDigest:Operation on object of type java.security.MessageDigest object not completed. Expected call to digest, update<BR> File name => src/main/java/org/assertj/core/internal/InputStreams.java: Line number => 130: API name => MessageDige

[2019-07-02 21:26] cpovirk opened #1543 "Review Truth-AssertJ comparison (if you're interested)"
Hi, we (owners of [Google Truth](https://truth.dev/), a library similar to AssertJ) have recently updated our [comparison of Truth and AssertJ](https://truth.dev/comparison) in preparation for our release 1.0. Well, OK, it's presented more as a sales pitch for Truth :) Still, while we may always see some things differently than you do, we don't want to be outright inaccurate. Plus, we figure it's

[2019-07-02 22:33] joel-costigliola commented on #1543
Thanks @cpovirk I'll have a look.
Congrats for the upcoming 1.0 release!

[2019-07-02 22:36] joel-costigliola commented on #1543
A first comment: the javadoc API is now published here: https://www.javadoc.io/doc/org.assertj/assertj-core the one linked in your page points to a slightly older version.

[2019-07-03 10:35] joel-costigliola commented on #1543
@cpovirk maybe you could point out these features:
* [soft assertions](https://assertj.github.io/doc/#assertj-core-soft-assertions) (record all failures instead of stopping at the first one)
* [assumptions](https://assertj.github.io/doc/#assertj-core-assumptions)
* [recursive comparison](https://assertj.github.io/doc/#assertj-core-recursive-comparison) to compare objects as data structures.
* [Gua

[2019-07-03 10:52] joel-costigliola commented on #1369
I agree with what you say if the the compared objects have the same type but when comparing subclass instance with a super class instance (ColorPoint and Point for example) there is no way to have a proper equals implementation (see Effective Java - Obey the general contract when overriding equals for a detailed explanation).

The recursive comparison has the same "issue" which we addressed by not

[2019-07-03 11:30] crizzis commented on #1369
@joel-costigliola Well, my reading of Effective Java is that you shouldn't try to maintain any sort of compatibility of `equals` between superclasses and subclasses precisely because otherwise the symmetry would break. If two objects are not of the exact same class, they cannot possibly be equal. By the same token, I would have expected both of the assertions from the example to fail, not just one

[2019-07-03 12:03] sbrannen commented on #1418
I squashed the commits and added an appropriate commit message in https://github.com/sbrannen/assertj-core/commit/1f0747b10317eaeb5bac34e4dc9178ee4f6b4679.

Unfortunately, I cannot currently submit a PR, as explained in https://github.com/joel-costigliola/assertj-core/pull/1537#issuecomment-508063568.

🤷🏻‍♂️

[2019-07-03 12:08] sbrannen commented on #1418
If the `SoftAssertionsExtension` is accepted, the AssertJ team will need to decide the fate of `JUnitJupiterSoftAssertions` and `JUnitJupiterBDDSoftAssertions`.

1. Should they be deprecated?
2. Should they be fixed with the aforementioned `ThreadLocal` workaround as an interim solution for those people who already use them?
3. Should they be deprecated and fixed?

If you'd like, I can raise a sep

[2019-07-03 12:13] joel-costigliola commented on #1418
I'll deprecate them in favor of the extension, I don't think they must be fixed.

[2019-07-03 15:27] cpovirk commented on #1543
Thanks! I just pushed some changes.

[2019-07-03 17:30] Bill opened #1545 "assertThat(streamSupplier.get()).isEqualTo(streamSupplier.get()) Always Fails"
#### Summary
If I have a stream-supplying lambda or a stream-returning method, I ought to be able to compare the result of `get()`ing it or executing it twice in succession. But apparently I can't (profitably) send a`Stream` to `isEqualTo()`.

#### Example

[code]

This works:

[code]

As does this:

[code]

But in my test it would be more natural to do it the first way (providing the result of `s

[2019-07-04 07:55] MrR0807 opened #1546 "extracting(properties...).doesNotContainNull will not check every property, but aggregate"
#### Summary
When extracting multiple properties, I would expect that each property is compared separately, however, under the hood those properties are aggregated into an object of Tuple and then asserted. Even if one of Tuple property is null, it will pass the assertion anyway.

#### Example

[code]

[2019-07-04 09:24] joel-costigliola commented on #1546
The idea of extracting multiple properties is to perform assertions on the grouped extracted properties, this is why they are extracted and put in a tuple.

The behavior you are experiencing is as expected, your example succeeds because no there is not null tuple in the extracted list of tuples.

If you want to check for null values, you either check properties individually (as you did in `doesNot

[2019-07-04 09:40] #1546 closed

[2019-07-06 06:59] #1418 closed

[2019-07-07 10:13] sbrannen commented on #1418
And... now that you've seen it in action, what do you think?

[2019-07-07 11:20] joel-costigliola opened #1548 "Improve AllOf and AnyOf message format"
#### Summary

Here's one example
[code]

It would be better to move messages on new lines, maybe like:
[code]

[2019-07-07 11:22] joel-costigliola commented on #1418
Being able to run tests, retrieve a bunch of information about them and verify they ran as expected is really powerful  :clap:.

The fluent API is nice but slightly misleading sometimes (I have copied the code below for the sake of discussion), for example the first time I read `execute().tests()` I thought it was for triggering tests executions, in that case `testsEvents` or `recordedTestsEvents`

[2019-07-07 13:52] sbrannen commented on #1548
This would be a very welcomed enhancement! 👍

[2019-07-07 13:58] LevT2 opened #1549 "generifying 'ignoring properties or fields' comparisons"
#### Summary
Hi. I am working on a JPA application, using AssertJ in my test utility classes
Stumbling upon almost identical methods for testing my service code, that smell for generalization

#### Example

[code]
This can be easily generalized, up to some point
Given the generic T for the entity PhoneNumber

[code]
but not further, because of the extensive inner usage of varargs parameters in ass

[2019-07-07 14:03] sbrannen commented on #1418
Glad to hear you like it in that regard. For me, that is the biggest benefit. We (the JUnit 5 team) use it internally, and I have used it to test the `SpringExtension` as well.

Mea culpa: I'm the one who wrote that fluent API. At the time it seemed nice and succinct, but I can see that it might be slightly confusing when merely reading the code. Migrating from `all()`, `containers()`, and `tests(

[2019-07-08 09:45] joel-costigliola commented on #1549
I'm not sure I fully understand what you want, especially this part:

Can you give an example of the API you wish to have ?

I also suggest to have a look at the [new recursive API](https://assertj.github.io/doc/#assertj-core-recursive-comparison) to see if you can find something to help you (but as I don't understand well your problem, this might not be a relevant advice)

[2019-07-08 09:55] joel-costigliola commented on #1418
Would you like to to open an issue against JUnit 5 for that?

I'll be happy to, would that be a bug report or a feature request ? it looks like https://github.com/junit-team/junit5/issues/new/choose does not give me an `improvement` issue type.

So, we would be very grateful for any concrete suggestions for improvements there -- for example, in the form of a proposal or PR!

I can play with it a b

[2019-07-08 12:07] LevT2 commented on #1549
@joaodelgado Thank you.
I merely want to have a list or array of 'propertiesOrFieldsToIgnore' set up for the parent scope of these three methods,
and I need their equivalents capable to use this information

[2019-07-08 12:10] LevT2 commented on #1549
@joel-costigliola Thank you.

I merely want to have a list or array of 'propertiesOrFieldsToIgnore' set up for the parent scope of these three methods,
and I need their equivalents capable to use this information

[2019-07-08 13:34] sbrannen commented on #1418
Feature request / enhancement, but don't worry about the labels. We'll take care of that once we've triaged the issue.

Just click on the [Open a regular issue](https://github.com/junit-team/junit5/issues/new) link below those options. 😉

Sounds good, and... no rush.

[2019-07-08 18:43] scordio opened #1550 "junit-platform-testkit includes assertj-core as a transitive dependency"
It seems `junit-platform-testkit` is providing `assertj-core` as a transitive dependency:

[code]

I guess either `assertj-core` should be excluded explicitly or `junit-platform-testkit` could declare it as an optional depedency (Gradle feature variants?)

@sbrannen what would you suggest?

[2019-07-09 09:44] joel-costigliola commented on #1550
I think we should simply exclude it to avoid any confusion and be explicit.

[2019-07-09 09:56] joel-costigliola commented on #1549
Like that https://assertj.github.io/doc/#assertj-core-recursive-comparison-ignoring-fields ?

[2019-07-09 12:00] rnorth commented on #1518
I'd be very much in favour of this. I have a (less sophisticated) [assertion library](https://github.com/rnorth/visible-assertions) that I use on a few projects but frankly would like to retire in deference to assertj.

I'm sure some people will take an opposite view, but I find logging of assertions to be just a _nice thing_, particularly in longer running integration tests, etc.

@joel-costiglio

[2019-07-09 16:05] sbrannen commented on #1550
I agree

[2019-07-09 21:47] #1550 closed

[2019-07-11 03:18] tir38 commented on #1474
"I don't think we have a 3.x version that supports Android but 2.9.1 is not that old and provides most of the non java 8 assertions in 3.x."

Yep so I'm asking if you can update the docs https://assertj.github.io/doc/#assertj-core-java-versions to make it clear that people should use version 2.9.x for *all* versions of Android?

[2019-07-12 19:27] PascalSchumacher commented on #1474
I don't think is correct to say everybody Android developer should use 2.9.x. As you said `Stream` was added with API Level 24. API level 26 added `Path` etc., so 3.x (besides `SoftAssertions` and `Assumptions` which use the non-Android `Byte Buddy` variant) should be usable on 26+.

[2019-07-12 23:32] scaphoid opened #1554 "Java 11 illegal reflective access operation using soft assertions"
#### Summary

I saw the earlier "resolved" issues with reflection in Java 9 and up, but this seems even more fundamental?

[code]

#### Example

[code]

[2019-07-13 08:28] PascalSchumacher commented on #1554
Thanks for reporting.

I am closing this issue because it was already reported, see: https://github.com/joel-costigliola/assertj-core/issues/1165#issuecomment-367473974

[2019-07-13 08:28] #1554 closed

[2019-07-13 08:36] PascalSchumacher commented on #1165
@triceo Sorry for the late response. #1036 did not remove access to the private field `Throwable#detailMessage` in https://github.com/joel-costigliola/assertj-core/blob/4946b0461fb240d437dd756b162dbf64c8402642/src/main/java/org/assertj/core/api/AbstractSoftAssertions.java#L176

As long as this is not fixed the warning `Illegal reflective access by org.assertj.core.api.AbstractSoftAssertions to fie

[2019-07-13 09:51] joel-costigliola commented on #1165
@PascalSchumacher is that something we can address ?

[2019-07-13 10:19] PascalSchumacher commented on #1165
The easy solution would be to drop the line number feature of `SoftAssertions`.

There is no clean way to update the message of a `Throwable` and I am not aware of any other clean way to solve this this problem.

[2019-07-13 10:39] triceo commented on #1165
I'm not familiar with the full codebase, but from looking at the codebase, couldn't `decorateErrorsCollected(...)` "rethrow" the errors, adding the line into the message of the newly created error?

[2019-07-13 10:42] joel-costigliola commented on #1165
@triceo that's something to try, I'm not too sure if you can keep the original stack trace though.

[2019-07-13 18:21] scaphoid commented on #1165
Can't you replace the original exception with a new one and use Throwable#setStackTrace to add the original stack trace?

[2019-07-14 10:28] joel-costigliola commented on #1165
@PascalSchumacher would you have time to look into this ?

[2019-07-14 11:59] joel-costigliola commented on #1474
@tir38  I have clarified this in the doc, is that better ? see https://assertj.github.io/doc/#assertj-core-android

[2019-07-15 08:24] rsertelon opened #1556 "`isEqualTo` for strings fail if expected string contains a '%'"
We've updated AssertJ from 3.10.0 to 3.12.2, and one of our tests now fails, due to this update.

We test a percentage formatter method, and use `isEqualTo("12.3 %") ` which throws an exception.

Indeed, it seems that in `AbstractStringAssert` there is now a `String.format` call on the expected value.

`java.util.Formatter` considers `%` to be an invalid character, and throws a `java.util.UnknownF

[2019-07-15 10:40] joel-costigliola commented on #1556
Thanks for reporting this, it is already fixed in the next version 3.13.0 to be released soonish.

I have just pushed to make it sure your case worked https://github.com/joel-costigliola/assertj-core/commit/c9a8618d8cd5ec1bc9c81eb03123035051e6332c

[2019-07-15 10:40] #1556 closed

[2019-07-16 09:33] LinaSchad opened #1558 "AbstractObjectAssert.hasFieldOrPropertyWithValue documentation example wrong"
#### Summary

The example of the hasFieldOrPropertyWithValue documentation shows hasFieldOrProperty in the code, but it should be hasFieldOrPropertyWithValue instead.

See [https://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/AbstractObjectAssert.html#hasFieldOrPropertyWithValue-java.lang.String-java.lang.Object-](url)
`// assertions will pass :
 assertThat(frodo).hasFieldOrP

[2019-07-16 09:56] #1165 closed

[2019-07-16 10:00] joel-costigliola commented on #1165
@scaphoid  @triceo I have just merged @PascalSchumacher fix for this but somehow I was not able to get the warning before the fix, could you try build assertj-core from master and give it a try ?
building assertj-core is as simple as running `mvn install -Dmaven.test.skip=true`

[2019-07-16 11:28] triceo commented on #1165
I'm no longer seeing this issue with today's master. My environment is as follows:

- OpenJDK 11
- JUnit 5.5
- Surefire 3.0.0-M3

Thanks for the fix!

[2019-07-16 15:49] scaphoid commented on #1165
Build fails for me; sorry I have no clue how to get around this:

[INFO] --- maven-compiler-plugin:3.8.0:compile (default-compile) @ assertj-core ---
[INFO] Changes detected - recompiling the module!
[INFO] Compiling 629 source files to C:\Projects\AssertJ\assertj-core\target\classes
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] -------

[2019-07-16 16:24] scaphoid commented on #1165
Latest master works for me with Corretto 11.0.3_7 and JUnit 5.5.0

[2019-07-16 16:34] PascalSchumacher commented on #1165
@triceo @scaphoid Thanks for testing the fix! 👍

[2019-07-17 16:27] mamuf commented on #1461
Why not extend from `AbstractThrowableAssert`? That would be so much better.

[2019-07-17 19:05] manolkalinov commented on #1518
I'd be willing to help on this, if such a need arises.

In my opinion, especially for UI automation, logging assertion results is a must - PASS or FAIL.

Maybe something along the lines of
`assertThat(frodo.getAge())
	.logAs("check %s's age", frodo.getName())
	.isEqualTo(33)`

I'm not, however, sure how the logging provider can be setup, since most assertion usages are static.

[2019-07-18 10:05] joel-costigliola commented on #1518
@rnorth @manolkalinov sorry for the late reply. Yes I see the value of logging what assertions were performed.

I think this issue needs a spike to explore the different implementation options.

One option to try is to use the `AssertionInfo` that contains the assertion description users provide with the `as()` method.  When an assertion fails, an `AssertionError` is created using `AssertionInfo`

[2019-07-18 17:07] shollander opened #1561 "Allow providing BiPredicate for equals override"
I like the feature that allows the user to override the `equals()` method for comparison.
However, the current api creates unnecessary complications and appears to be a misuse of `Comparator`. `Comparator`s are intended for ordering objects, not testing equality. The contract for `Comparator.compareTo()` doesn't even require it to be consistent with `equals()`.
It would be simpler to allow the use

[2019-07-18 21:19] joel-costigliola commented on #1561
@shollander can you give an example ?

[2019-07-19 04:22] shollander commented on #1561
@joel-costigliola I was thinking of something like this (using one of your examples):
[code]

[2019-07-19 12:31] mikezx6r commented on #1493
Just looking at this, and I don't think the suggested SoftAssertions class works. Unless I'm misunderstanding how it should work.

Sample test
[code]
NOTE: `shouldEqual` is a Kotlin extension function that does `assertThat` and `isEqualTo`. `shouldContain` is similar.

and output:
[code]

Soft Assertions are supposed to show the result of all failed exceptions, so the output should also contain
[c

[2019-07-19 13:04] ebundy commented on #1545
The behavior is conform to `Stream.equals()`.
`.isEqualTo()` relies on the `equals()` method, here the `Stream.equals()` method that is not overriden (so it is the reference equality).
Here each supplier invocation instantiates a distinct stream object.
Use the same and it should be fine :

[code]

This will break the `isEqualTo()` semantic that is not designed to perform some conversion. So, I do

[2019-07-20 04:26] joel-costigliola commented on #1545
@ebundy thanks, this is exactly what I would replied. I'm just going to add that `assertThat(ss.get())` converts the [stream to a list](https://static.javadoc.io/org.assertj/assertj-core/3.12.2/org/assertj/core/api/Assertions.html#assertThat-java.util.stream.Stream-) in order to be able to chain multiple assertions.

@Bill any objections for me before I close this issue ?

[2019-07-20 07:58] pDiller commented on #1104
@ardmn Sorry for the late answer. I think the main problem is, that iterating the values is not possible for hashset. Hashsets contract is that all values are hidden behind the hashvalue of the value. If you make an equals comparison by iterating over the values you can find it without a problem, the value and the hash of the value is in the internal hashmap. BUT, if you change the value, the hash

[2019-07-20 18:35] Bill commented on #1545
Not really @joel-costigliola. It's just that the asymmetry here made me think maybe something better (or at least different) was possible. Look again at the error message:

[code]

Notice how the first part shows what appears to be the contents of a collection:

[code]

And then the second part goes off the rails:

[code]

Why the asymmetry?

I figured, perhaps naïvely, that it would be possible t

[2019-07-21 05:30] joel-costigliola commented on #1545
The asymmetry is to allow assertions on streams as if they were lists, which we believe is quite handy otherwise you need to convert the stream to list yourself, the other option would be for AssertJ to provide assertions specific to streams but they would not be chainable as the first assertion that requires to inspect the stream would consume it.

Maybe, we need to think about that.

on the expe

[2019-07-21 05:58] joel-costigliola commented on #1493
@mikezx6r I agree the proposed `check` should execute all assertions as soft ones

[2019-07-21 09:55] joel-costigliola commented on #1561
You have a point for `Comparator` over `EqualsPredicate` but I don't find the difference between the two approaches to be huge, I mean instead of:
[code]
you write
[code]

True but if you define your comparator, it's up to you. Moreover if you use a comparator it's because `equals` does not suit you.

Having said that we can consider `withComparatorForFields` to accept an `EqualsPredicate` and may

[2019-07-22 06:25] aartiPl commented on #1493
@mikezx6r Well, you put few assertions in the single block, so how is it supposed to work? You can even argue that this is, in fact, a single atomic check, so it doesn't matter which condition fails first (similarly as e.g. equalsIgnoringCase is making internally several checks, and you don't have any control if a string is compared from the start or from the end).

Just do that:

softAssertions.c

[2019-07-22 12:16] mikezx6r commented on #1493
Ahhh, yes. My mistake completely. I've updated the comment so people know I made a mistake, and to show how to use it for more than one assertion.

[2019-07-22 21:20] joel-costigliola commented on #1493
Closing this issue as won't do

[2019-07-22 21:20] #1493 closed

[2019-07-24 15:40] piefel commented on #1499
Putting something in a different package feels a lot like a hack. I noticed that AssertJ 3.12 deprecated `Extractor` (in favour of `Function`), so there may still be a chance for this change in the future. How stable is assertk? I would not easily leave AssertJ just now.

[2019-07-24 22:55] joel-costigliola commented on #1499
`Extractor` is deprecated but `ThrowingExtractor` is not, the issue is not going away as (unfortunately) java has checked exceptions and this is what `ThrowingExtractor` is dealing with.

[2019-07-28 12:55] PascalSchumacher opened #1563 "AssertJ 3.13.0 requires OpenTest4J (java.lang.NoClassDefFoundError: org/opentest4j/MultipleFailuresError)"
If the classpath does not contain OpenTest4J (e.g. you use JUnit 4 instead of JUnit 5) AssertJ `3.13.0` fails with:

`java.lang.NoClassDefFoundError: org/opentest4j/MultipleFailuresError`

A sample project to reproduce this issue: https://github.com/PascalSchumacher/assertj-3.13.0-requires-junit5-bug

[2019-07-28 13:12] PascalSchumacher commented on #1563
The dependency on OpenTest4J  was introduced with this commit: https://github.com/joel-costigliola/assertj-core/commit/d79423dedfbc1a5645bce9fa2b61580620860493#diff-4df7ee848542cb94166b422c1c3b05bd

[2019-07-28 21:14] joel-costigliola commented on #1563
my bad :(
this is not too serious IMO as people usually have opentest4j in their dependencies but let's try to fix that (if that's possible)

[2019-07-29 09:29] mp911de opened #1567 "import static org.assertj.core.api.Assertions.* clashes with URI (java.net.URI)"
#### Summary

Statically importing AssertJ assertions imports fields from `InstanceOfAssertFactories`. The `URI` field shadows `java.net.URI` and requires fully qualified naming when using `java.net.URI`.

There's a similar issue for `URL` as these two types match exactly constant names from `InstanceOfAssertFactories`.

#### Example

[code]

Compilation failure:

[code]

[2019-07-29 10:49] joel-costigliola commented on #1567
Thanks for reporting this @mp911de.

Thinking out loud, we might simply rename the factories to disambiguate this.

[2019-07-29 10:53] #1563 closed

[2019-07-29 11:18] mp911de commented on #1567
That would help. URI and URL are the only two types where factory constants are clashing. All other types use some sort of different letter casing.

[2019-07-29 11:19] joel-costigliola commented on #1563
AssertJ Core 3.13.1 is released with this fix.

[2019-07-29 11:48] filiphr commented on #1567
Maybe this should have been part of the 3.13.1 release as well @joel-costigliola, as it seems to break existing code and the field names would need to be changed and removed.

[2019-07-29 12:07] JaimieW commented on #1070
Not sure if this is the relevant place for this, but after updating to v3.12 my project started getting NoClassDefFoundErrors on org.opentest4j.MultipleFailuresError:

`java.lang.NoClassDefFoundError: org/opentest4j/MultipleFailuresError
        at java.lang.ClassLoader.defineClass1(Native Method)
        at java.lang.ClassLoader.defineClass(ClassLoader.java:763)
        at java.security.SecureCla

[2019-07-29 12:29] mp911de commented on #1567
I have a similar impression. Getting this clash out of the way before wide adoption of 3.13.x would be helpful. Once a significant number of projects updates to 3.13 and relies on `InstanceOfAssertFactories.URL/URI`, the rename will break their code.

[2019-07-29 12:50] sbrannen commented on #1070
Do you mean 3.12 or 3.13?

If you meant the latter, then upgrading 3.13.1 should fix the problem.

[2019-07-29 13:31] JaimieW commented on #1070
It was 3.12, but I'll try 3.13.1, thanks.

[2019-07-29 16:43] scordio commented on #1567
@joel-costigliola That would be an option, e.g., having `URI_INSTANCE` instead of `URI`.

Or `Assertions` could avoid to implement `InstanceOfAssertFactories`. That was introduced to simplify the discovery of the factories, but [we realized that for Eclipse was not enough anyway](https://github.com/joel-costigliola/assertj-core/pull/1498#issuecomment-496692889) and IntelliJ seems still able to dis

[2019-07-29 21:14] joel-costigliola commented on #1567
Renaming `URI` to `URI_TYPE` and `URL` to `URL_TYPE` seems the best option. @scordio do you want to tackle this one ?

We will release 3.13.2 at the end of the week just to get a bit more feedback.

[2019-07-29 21:17] joel-costigliola commented on #1070
@JaimieW let us know if 3.13.1 fixes your issue (it should)

[2019-07-29 22:13] scordio commented on #1567
@joel-costigliola yes I'll take care of it.

[2019-07-30 01:12] #1567 closed

[2019-07-30 09:59] JaimieW commented on #1070
@joel-costigliola I just tried 3.13.1 and everything seems to be good.  Thanks for the help.

[2019-07-31 04:50] shollander commented on #1561
If you don't fully implement the `Comparator` (i.e. all three return values) then you are right, there is not much *practical* difference. But that just means that you are taking the `Comparator` interface and twisting it to suit your needs. My point was that as an API, `Comparator` doesn't really make sense here.

[2019-07-31 05:05] joel-costigliola commented on #1561
The more I think about it, the more I agree with you, we logically only need an equal function.

Since the recursive api is still in beta, I think we could deprecate `withComparatorForFields` for `withEqualsForFields`.

One thing `EqualsPredicate` should provide is an optional description to be displayed in the error message to let user know what equal strategy was applied on fields (as we do now

[2019-07-31 07:14] filiphr commented on #1561
Thinking out loud. You could add a default method to the `EqualsPredicate` that would give you back a description. This can be in addition to calling the method with the predicate and its description.

I envision this being used for such shared predicates. So you can define the description on the predicate

[2019-07-31 10:00] joel-costigliola commented on #1561
@filiphr  Yes I was thinking about that

[2019-07-31 20:33] iheb719 commented on #419
So can you please enlight us of the limitations/pitfalls of `Stream` assertions ? @joel-costigliola

[2019-07-31 21:24] joel-costigliola commented on #419
@iheb719  will do ... in the doc. but to answer quickly the main thing is we are converting the  stream to a list under the hood so any assertions assuming it is dealing with a Stream would not work, eg:
[code]

[2019-08-01 06:57] kriegfrj opened #1569 "Composable SoftAssertions entry-point classes"
### Summary

Soft assertions are good.

I like being able to use soft assertions with my custom exceptions in my code.

One of the selling points of AssertJ is the single entry point, which makes it easy to simply type assertThat() in your IDE and have it automatically give you the list of applicable assertions.

I'd like to be able to easily combine soft assertions entry classes from multiple sou

[2019-08-03 00:05] joel-costigliola opened #1570 "Javadoc anchor links don't work (Java 11)"
#### Summary

This works : https://static.javadoc.io/org.assertj/assertj-core/3.13.1/org/assertj/core/api/AbstractInstantAssert.html

This works when the link is clicked from the page: https://static.javadoc.io/org.assertj/assertj-core/3.13.1/org/assertj/core/api/AbstractInstantAssert.html#method.summary but open the same link in a new tab and it won't show the method summary, just the beginning o

[2019-08-03 00:05] joel-costigliola commented on #1485
Fixed by using the latest highlight.js

[2019-08-03 00:05] #1485 closed

[2019-08-03 20:17] ebundy commented on #1518
Hello all,

A contradictory view here.

Is someone could present or even better detail a real and clear use case where adding logs for successful AssertJ assertions could be useful ?

For example why I would log hundred or thousands of individual assertions (which some could be redundant besides)  :

[code]

I am not sure to see the value to log both successful and failed assertions.
Logging the f

[2019-08-04 05:39] joel-costigliola commented on #1558
I missed this one :man_facepalming: , will be in the next release.

[2019-08-05 00:14] kriegfrj commented on #1569
Sorry, that should have read "one abstract method" or "one non-default method", not "one default method". Apologies for any confusion.

[2019-08-05 09:42] abogdanov37 commented on #1518
@joel-costigliola sorry for long response. I found solution in Vert.x. It has function `context.verify(lambda)`
[java-doc](https://vertx.io/docs/apidocs/io/vertx/ext/unit/TestContext.html#verify-io.vertx.core.Handler-). But in my opinion AssertJ should have a handler to get verification exception.
String format case example `assertThat(frodo.getAge()).isEqualTo(33).exceptionally(t -> { System.out.

[2019-08-06 21:02] raynicho opened #1571 "Add an Instant assertion for OffsetDateTime"
#### Summary
The `AbstractOffsetDateTimeAssert` only offers a `isEqualTo(String dateTimeAsString)`. The other option to compare `OffsetDateTime` objects is `isEqualTo(Object)`. The ladder is not sufficient as the following test fails:

[code]

With the following error message:

[code]

Utilizing [OffsetDateTime.html#isEqual](https://docs.oracle.com/javase/8/docs/api/java/time/OffsetDateTime.html#i

[2019-08-06 21:19] raynicho commented on #1571
As the `OffsetDateTime` documentation mentions,

it might be better to introduce a method like `isEqualTo(Instant other)`.

[2019-08-07 04:58] joel-costigliola commented on #1571
This one is a bit tricky, AssertJ `isEqualTo` is meant to use `equals` but `OffsetDateTime`  has an `isEqualTo` method!

I think AssertJ could provide a `isEqualToInstant` or `isInstant` to make it clear it is comparing `Instant` as I'm sure most of the people don't realize the difference between `OffsetDateTime`  `isEqualTo`  and `equals` methods (I did not until https://github.com/joel-costiglio

[2019-08-07 14:32] raynicho commented on #1571
@joel-costigliola Thanks for the reply. I agree that the assertion method should make it clear that it is comparing the `Instant` and not the actual `Object`. I like the suggestions you posted, but I was hoping to add a fluent assertion comparing two `OffsetDateTime` objects, without having to call `toInstant()` and without having to set the `ZoneOffset` for each `OffsetDateTime` to 0. What do you

[2019-08-09 20:47] raynicho commented on #1571
Also, I was hoping to give this a shot. I'll put a PR up whenever I get a chance.

[2019-08-12 22:40] alanachtenberg opened #1572 "Recursive not equals/not default"
#### Summary
I would like to be able to recursively assert that a particular object has has all fields set to non default values.
ie.
Given default object and actual object.
all fields of default object should not be equal to actual object.

This would be particularly useful to enforce that fields are set to non default value for serialization/deserialization tests. Especially when another dev add

[2019-08-13 20:06] manolkalinov commented on #1518
Hey, @ebundy,

My goal is to have the option to either turn on PASS logging for **select** verifications, or at least get the result of the Verification back from AssertJ for logging purposes so that I do not have to **assume** the PASS result. My issue with assuming the PASS is that I am, in a way, subverting the Verification Authority (AssertJ), instead of getting the result directly from it.

T

[2019-08-14 08:08] ebundy commented on #1518
Hi @manolkalinov

Thanks for this detailed use case. I appreciate.

About :

I understand your approach that is  legit : making integration tests failure diagnostic more efficient/easy.
I am afraid that logging from the unit tests be not enough.
Having the assertions results may help to diagnostic but it may also give false positives.
I will reuse your example.
Suppose that the problem came from t

[2019-08-16 08:24] grigoni opened #1574 "escapePercent (%) missing in org.assertj.core.internal.Failures#assertionErrorMessage"
#### Summary
when using
        assertThatThrownBy(() -> restCal(XYZ))
                .isInstanceOf(MyServiceErrorException.class)
                .hasMessage(expectedMessage)

it throws MissingFormatArgumentException

#### Example

java.util.MissingFormatArgumentException: Format specifier '%3A'

	at java.util.Formatter.format(Formatter.java:2519)
	at java.util.Formatter.format(Formatter.java:24

[2019-08-16 13:28] KangoV opened #1575 "Generate custom assertions using Annotation Processors"
#### Summary
I've just move from Sprint Boot to Micronaut and am impressed with what can be done with annotation processors. Given that, I'm wondering if AssertJ could to something similar.

#### Example
So in your test class you could have:
[code]
You could then manually create:
[code]
or add an inject annotation (`@Assertions`) to the test class and have:
[code]

I hope I've explained that corre

[2019-08-16 16:10] filiphr commented on #1575
@KangoV I think this would be a better fit into the github.com/joel-costigliola/assertj-assertions-generator project.

I already created once https://github.com/joel-costigliola/assertj-assertions-generator/issues/96. At that time I didn't thought about using `@CustomAssertion`. So perhaps this can be an option to revive that with your idea.

[2019-08-16 16:11] epeee commented on #1574
Thank your for reporting this one.
I will add a reproducer to our test base and provide a pr soon.

[2019-08-16 22:18] joel-costigliola commented on #1574
In addition to this bug, we we should also look for all usage of assertions taking a `String value, Object...` parameters to call `String.format` to make sure we fix similar potential issues (it's not the first time we had this kind of bug, let's try to fix once for all)

[2019-08-17 07:19] epeee commented on #1574
@joel-costigliola, yes, indeed. I will have a look at other usages too.

[2019-08-17 10:08] kprzygudzki commented on #1529
Sure you can do that with a single `assertThat` call:
[code]
Of course, you can use the AbstractAssert#matches method as well, although the logic might get slightly more complex.

It definitely can be done and I've used a pattern like this successfully numerous times.

There is a question you might want to ask yourself, however: is this coupling your tests too much to the implementation of the Per

[2019-08-17 11:21] grigoni commented on #1574
I am very thankful the issue is receiving a lot of care, I could only provide few lines of code and no proper test case due to time constraints, I'll gladly look at your code changes
thanks again!
G.

[2019-08-17 13:27] epeee commented on #1574
Some more details, it looks like we introduced this one in 3.13.0.

A sample to reproduce this one:

[code]

[2019-08-17 17:55] puddlejumpr commented on #1452
@joel-costigliola This new PR contains the content of the previous one rebased on master, and the changes addressing your review comments.

[2019-08-17 19:51] joel-costigliola commented on #1452
@puddlejumpr I'm on vacation right now, I'll have a look when I get back, thanks !

[2019-08-18 05:39] Sam-Kruglov opened #1579 "recursive comparison does not report missing fields correctly"
If I compare recursively 2 objects with different sets of fields then I get this:
[code]

The test will pass if I ignore the differences (including the fields that do not exists in both objects) `.ignoringFields("id", "groupId", "status")`

[2019-08-18 06:17] #1574 closed

[2019-08-18 08:05] scordio commented on #1109
Hi @kriegfrj, could you check if [`asInstanceOf`](https://assertj.github.io/doc/#assertj-core-3.13.0-asInstanceOf) satisfies your requirements?

[2019-08-18 08:07] scordio commented on #1020
Hi @tkruse, could you check if [`asInstanceOf`](https://assertj.github.io/doc/#assertj-core-3.13.0-asInstanceOf) satisfies your requirements?

[2019-08-18 09:51] joel-costigliola commented on #1579
@Sam-Kruglov  thanks for reporting this, could you give us a reproducible failing test ? (including the `SaveDataObjectCommand` and `DataObjectCreatedEvent` classes).

[2019-08-18 11:06] tkruse commented on #1020
yes, seems this can be closed.

[2019-08-18 11:06] #1020 closed

[2019-08-18 13:14] Sam-Kruglov commented on #1579
[code]

[2019-08-19 00:33] kriegfrj commented on #1109
Hi @scordio ,

Thanks for your efforts on this!

I've had a brief look and I think what you've put together will work well. It looks a bit more like a Truth pattern than an AssertJ pattern - perhaps they will end up converging at some point in the future. :smile:

[2019-08-19 17:34] joel-costigliola commented on #1572
Moving the reference check after the custom comparator one would work but it feels like a hack for a method that is comparing objects, I mean if two objects share the same reference, no matter what, they are equals. I feel using a `notEquals` comparator for `isEqual` is a bit unnatural.

If we add `isNotEqual` to the recursive api, it won't behave as you expect, it would be more like the logical o

[2019-08-19 17:36] #1543 closed

[2019-08-19 17:41] joel-costigliola commented on #1075
Let's deprecate `containsOnlyElementsOf` in favor of `containsAllElementsOf` (I'm not sold to deprecate `containsOnly` as I think it is not as confusing as `containsOnlyElementsOf`.

[2019-08-19 21:29] alanachtenberg commented on #1572
Thanks for responding! I guess i had some misconceptions on how the root object is considered. I just assumed(incorrectly) each and every field would always have same assertion applied. I could think of some scenarios where maybe you want to test one and only one field was modified. Combining same/not same with the ignoring fields feature. I definitely think you're bang on with the naming being be

[2019-08-20 07:47] janbols commented on #1180
Hi @joel-costigliola ,

I want to test a repository implementation. The repository has a method that returns a list of users. It also has a method to add a user.
I want to test that you cannot add the same user twice.
[code]

The above code does not go against any sort of testing principle I assume.
However, the first assertion will fail b/c the returned list of users is empty in the beginning.

[2019-08-20 09:34] joel-costigliola commented on #1180
I still don't like `assertThat(value).isNotIn();` but I guess that if you explicitly pass an empty group of values then the assertion should pass all the time. So `assertThat(userToAdd).isNotIn(myRepo.getUsers())` should pass if `myRepo.getUsers()` is empty.

[2019-08-20 11:27] joel-costigliola opened #1580 "Use AssertJ's code style for javadoc"
#### Summary

we want dark background code style like https://assertj.github.io/doc/ !

[2019-08-21 19:58] #1558 closed

[2019-08-24 05:13] #1580 closed

[2019-08-24 05:14] joel-costigliola opened #1584 "Use AssertJ site theme for javadoc"
#### Summary

The javadoc should look like https://assertj.github.io/doc/ with yellowish background and black font

[2019-08-25 09:46] joel-costigliola commented on #1180
I have also changed `isIn` to accept an empty iterable, in that case the assertion always fails

[2019-08-25 09:46] #1180 closed

[2019-08-25 10:21] joel-costigliola commented on #1579
@Sam-Kruglov are you using the latest version (3.13.2) ?

In the latest version, when running your test the missing fields are reported, i.e. the one from the expected object not found in actual (`a` in your test).

`field/property '' differ:` is shown which might be a bit confusing, the `''` is the path to the field which is empty since the missing fields are related to the top level objects, I'l

[2019-08-27 20:33] geoffreyarthaud opened #1586 "The assertion assertThat().HasSizeBetween() does not work with strings"
#### Summary

The assertion assertThat().hasSizeBetween() with strings does not work, assertj-core seems to confuse string lengths between actual, min and max.

#### Example

[code]
throws a confusing exception :
java.lang.IllegalArgumentException: The higher boundary <4> must be greater than the lower boundary <5>.

Tested on assertj_core 3.13.2 and AdoptOpenJDK 11

[2019-08-27 21:00] joel-costigliola commented on #1586
Thanks for reporting this ! it's a bit embarrassing 🤦‍♂

[2019-08-28 07:31] geoffreyarthaud commented on #1586
As a workaround, this code works :

[code]

[2019-08-29 10:15] #1586 closed

[2019-08-29 21:58] scordio commented on #1512
@joel-costigliola let's try again on this topic, but this time simpler :-)

What about having `isAssignableTo(Class<?>)`?

[2019-08-30 00:41] scordio commented on #1109
Thanks for the feedback @kriegfrj! Then I will close this issue.

[2019-08-30 00:41] #1109 closed

[2019-09-01 06:16] #1579 closed

[2019-09-01 06:16] joel-costigliola commented on #1579
@Sam-Kruglov I have finished implementing this, here's how the error is reported now:
[code]
Hopefully this is clearer, feel free to suggest further improvements, I'm closing this issue but happy to reopen it.

[2019-09-01 06:36] joel-costigliola commented on #1075
BTW `containsOnlyElementsOf` has an alias named: `hasSameElementsAs`

[2019-09-01 06:50] #1075 closed

[2019-09-01 10:15] joel-costigliola commented on #1569
:eyes:

[2019-09-03 11:17] yarafed opened #1592 "usingElementComparatorIgnoringFields does not work for map array"
#### Summary
Hello!
Could you, please, tell me, if there is a possibility to ignore map "keys" when we check that map array contains map object.

#### Example

[code]

[2019-09-04 10:05] joel-costigliola commented on #1570
@scordio @PascalSchumacher @epeee if you have any ideas on this one, that would be great, I have no clue why this is not working :(

[2019-09-05 01:48] scordio commented on #1570
I noticed that when opening the link in a new tab it moves very quickly to the method summary and then comes back to the beginning of the page

[2019-09-08 11:34] joel-costigliola opened #1598 "Reafctoring: get rid of shouldHaveThrown(AssertionError.class)"
#### Summary

This is now a bad test pattern, ex:
[code]
should be written like:
[code]
To resolve this issue, one must track all this all style code and refactor it.

[2019-09-08 11:42] #1522 closed

[2019-09-08 19:07] sowmiyamuthuraman commented on #1598
Hey! Can I work on this?

[2019-09-08 21:30] joel-costigliola commented on #1598
sure, look at this commit https://github.com/joel-costigliola/assertj-core/commit/b0ba025b4be8b6d8651e074d0a2049c4950e9fa3

[2019-09-09 03:15] joel-costigliola opened #1601 "ProxifyMethodChangingTheObjectUnderTest.actualClass fails for some generic types"
#### Summary

See https://github.com/joel-costigliola/assertj-core/pull/1588#issuecomment-526874470

#### Example

This fails when trying to extract a Class as Class is generic unless we add  this line to `actualClass()`
[code]
[code]

[2019-09-13 08:33] juddgaddie commented on #1516
While I like this approach it doesn't work for fields only methods. For me the biggest win would be if

[code]
would throw if the field did not exist rather than fial silently.
@joel-costigliola what do you think ?

[2019-09-15 02:40] scordio opened #1605 "API improvements related to asInstanceOf"
## Summary
Some existing APIs can benefit from a chained `asInstanceOf` invocation in order to obtain more specialized assertions, for example the methods which change the current object under test.

For these cases, it would be convenient to have an overloaded method which expects an `InstanceOfAssertFactory` as additional parameter.

**Happy to receive any feedback!**

## Improvements

### Synta

[2019-09-15 05:28] joel-costigliola commented on #1605
I'm all for it :)
A few things to do :

- add soft assertions tests related to this, I think it should work without additional work but it's always tricky when mixing soft assertions and changing the object under test.
- it would be great to start adding doc and release notes in https://github.com/assertj/doc for that feature in a next release branch.

[2019-09-15 21:47] joel-costigliola commented on #1516
@juddgaddie I think that is a different issue/improvement, could raise another issue ?

[2019-09-16 11:16] #1601 closed

[2019-09-18 16:12] carterkozak opened #1607 "HamcrestCondition matcher generic is too strict"
#### Summary

I'm working on an ErrorProne check which produces 'suggested fixes' that can be automatically applied to migrate from junit asserts to AssertJ. `assertThat(Object, Matcher)` is more difficult than other methods, so for the time being, I've simply fallen back to using `assertThat(actual).is(new HamcrestCondition<>(ORIGINAL_HAMCREST_MATCHER)`.
Unfortunately there are many cases where t

[2019-09-19 06:58] joel-costigliola commented on #1607
Thanks for reporting this issue and the PR! I agree the generic should have been looser.

[2019-09-20 10:52] #1607 closed

[2019-09-21 06:18] #1502 closed

[2019-09-21 06:27] joel-costigliola opened #1610 "Replace catchThrowable + isInstanceOf(AssertionError.class) by expectAssertionError"
#### Summary

Use `AssertionsUtil.expectAssertionError` instead of `catchThrowable` + `isInstanceOf(AssertionError.class)` as `expectAssertionError` checks that the caught throwable is an `AssertionError`.

#### Example

[code]
should be written as
[code]

Looking for `.isInstanceOf(AssertionError.class)` should be enough to find the code to refactor (it might be quite a lot!)

[2019-09-21 06:33] joel-costigliola opened #1611 "Use assertThatAssertionErrorIsThrownBy instead of assertThatThrownBy(() -> ...).isInstanceOf(AssertionError.class)"
#### Summary

`AssertionsUtil.assertThatAssertionErrorIsThrownBy` checks the caught throwable is an `AssertionError`.
Make sure the tests are written following the GIVEN WHEN THEN pattern

#### Example

[code]
should be written as
[code]
Note the use of GIVEN WHEN THEN to clarify the test steps.

[2019-09-22 06:31] #1610 closed

[2019-09-22 08:09] cgrabmann commented on #1611
working on it

[2019-09-22 21:04] cgrabmann commented on #1611
@joel-costigliola By now I just replaced every occurance in the CompletableFutureAssert tests, as well as replaced and refactored all LocalDateAssert and all InstantAssert tests to follow the current test guidelines. I still have to do all LocalDateTimeAssert, LocalTimeAssert and OffsetDateTimeAssert tests and I already have around 30 changed files.
Since big PRs aren't much fun, would you like th

[2019-09-23 10:01] joel-costigliola commented on #1611
Good idea, let's split the PR in per type.

[2019-09-23 16:23] gmullerb opened #1613 "Add 'given' method for BDD assumptions"
#### Summary

Just as there is an [`org.assertj.core.api.BDDAssertions`](https://assertj.github.io/doc/#alternative-entry-points) that provides an equivalent BDD approach to `org.assertj.core.api.Assertions` (`org.assertj.core.api.BDDAssertions` supplies the method `then`, an entrypoint for a BDD assertion), A **`org.assertj.core.api.BDDAssumptions`** (equivalent to [`org.assertj.core.api.Assumpti

[2019-09-24 10:51] #1548 closed

[2019-09-24 10:54] joel-costigliola commented on #1613
I wonder why I haven't thought about it, great idea, love the fluency @gmullerb !

[2019-09-24 10:56] joel-costigliola commented on #1592
Sorry, this had fallen under my radar, will look at it shortly (ping me if I don't)

[2019-09-24 23:59] joel-costigliola commented on #1613
Go for it!

[2019-09-25 13:43] gmullerb commented on #1613
Superb! Thank You!

[2019-09-26 10:56] mgrafl opened #1620 "filteredOn with Function for arrays and iterables"
#### Summary

Extend the fluent filter API for arrays and iterables with a method to filter based on a `Function<? super ELEMENT, T>` parameter (e.g., a method reference to a getter) and a `T` parameter (for matching).

The approach is similar to the `extracting(Function<? super ELEMENT, V>)` method. It will allow a save filtering without introspection.

#### Example

[code]

[2019-09-26 11:16] mgrafl commented on #1620
Additionally, the `filterOn` method could accept a `FilterOperator<T>` as second parameter.

#### Example

[code]

[2019-09-26 11:41] joel-costigliola commented on #1620
Have you tried using a `Predicate` ? as in:
[code]

[2019-09-26 12:58] mgrafl commented on #1620
Yes, but at least for simple equality matching, it appears to me clearer to write
[code]
instead of
[code]

[2019-09-26 20:02] mgrafl opened #1621 "Consumer-based "satisfy" assertions for elements in arrays and iterables"
#### Summary

Consider extending the assertions API for arrays and iterables with `satisfy*` methods accepting multiple  `Consumer<? super ELEMENT>`s. The consumers probe the individual elements of the tested collection.

The additional methods could be:
* `satisfy(Consumer<? super ELEMENT>... consumers)`: For each element of the tested collection the (remaining) consumers are called; if a consume

[2019-09-30 00:45] joel-costigliola commented on #1620
Yes but I'm not sure it is worth having another overload for `filteredOn`, it feels more like syntactic sugar.

[2019-10-05 21:40] scordio opened #1628 "AbstractOptionalAssert#get() is not correctly proxied with SoftAssertions"
#### Summary
AbstractOptionalAssert#get() is not listed under `METHODS_CHANGING_THE_OBJECT_UNDER_TEST` of `SoftProxies`.

#### Example

[code]

[2019-10-06 05:11] joel-costigliola commented on #1628
Good catch!

[2019-10-06 05:53] #1613 closed

[2019-10-06 23:06] steveorourke commented on #1355
Submitted #1630 to do the same for `hasMessageMatching` and `hasMessageFindingMatch` assertions.

[2019-10-07 08:13] #1628 closed

[2019-10-08 17:42] lxndrdnxl commented on #1621
Hey, I really like the idea and would enjoy to tackle that.

[2019-10-08 18:05] leventov opened #1632 "Add containsOnlyElementsOfOnce"
#### Summary
Would be nice to have this method for completeness, in addition to `containsOnlyElementsOf()` and `containsOnlyOnce()`.

#### Example

[code]

[2019-10-08 20:26] joel-costigliola commented on #1632
can you show a concrete example, it's not clear to me what `containsOnlyElementsOfOnce` is supposed to do.

[2019-10-08 20:45] joel-costigliola commented on #1621
@mgrafl  @lxndrdnxl  I need to look into that and likely split it into different isssues, sorry for the late answer!

[2019-10-09 11:33] leventov commented on #1632
It's exact equivalent to `containsOnlyOnce(referenceColl.toArray(new MyElementType[0]))`.

Maybe `containsOnceOnlyElementsOf()` would be a better name.

[2019-10-09 19:12] mgrafl commented on #1620
It probably is nothing more than syntactic sugar (but so are lambdas in Java).

Filtering on the value of a certain property is the most common use of `filterOn` in my unit tests. The `filteredOn(String propertyOrFieldName, Object expectedValue)` method just doesn't feel right in these cases because it lacks type safety and IDE tooling support (e.g., for refactoring).

[2019-10-09 20:18] joel-costigliola commented on #1620
Alright, I agree it can be added

[2019-10-10 09:47] joel-costigliola commented on #1311
I'm reviewing #1614 and I wonder if we should rename the assertion `hasSize` to `hasSizeInBytes` ? thoughts ?

[2019-10-10 09:51] ketan commented on #1311
I'd suppose `bytes` is implicit, so just having `hasSize` seems pretty clear (to me, at least)

[2019-10-11 02:10] rspieldenner opened #1633 "BDDSoftAssertions.then not handling URL objects correctly"
#### Summary
When using BDDSoftAssertions.then() on an URL object it is throwing

[code]

#### Example

[code]

[2019-10-12 10:53] joel-costigliola commented on #1311
@PascalSchumacher  @scordio @epeee thoughts ?

[2019-10-12 20:07] scordio commented on #1311
Not sure if it's too late for the following reasoning.

Is it worth to deviate from the original `length` name from `java.io.File`? There are already other examples in `AbstractFileAssert` having one-to-one mapping to the `File` api, like `canRead` and `canWrite`.

Clearly, `File` is not the best example of clarity and assertj could fill the gap, but on the other hand I would expect that `File` wi

[2019-10-13 05:08] #1311 closed

[2019-10-14 15:59] gmullerb opened #1636 "BDDAssumptions does not handle lambdas directly."
#### Summary
Given ambiguity of `given(ThrowingCallable)` with `given(T)` where `T extends Comparable<? super T>`, and precedence of  `given(Iterable)` over `given(ThrowingCallable)`, Then lambdas can not be used directly.
#### Example

[code]
Does not work.

[2019-10-15 01:09] steveorourke opened #1638 "Add isEmpty and isNotEmpty assertions for File"
#### Summary
I would like to contribute a couple of assertions to check whether the content of a given file is empty or not. These assertion could simply check file.length(), which returns the length of a file in bytes. At present I'm having to do something like `assertThat(file.length()).isGreaterThan(0)`

#### Example
[code]

[2019-10-15 05:03] #1636 closed

[2019-10-15 09:47] joel-costigliola commented on #1633
closed with #1634

[2019-10-15 09:47] #1633 closed

[2019-10-15 18:20] gmullerb opened #1640 "Add 'and' method for BDD assertions"
#### Summary

When mixing `BDDAssertions` with `BDDMockito`, a classic class import for one of them must be used, i.e. `import org.mockito.BDDMockito` or `import org.mockito.BDDAssertions`, in consequence, the code may look like:

[code]
or vice versa:

[code]
Then a decrease of the readability of the test code arises.

---

#### Approach 1

**`BDDAssertions` can provided a method `and` that will

[2019-10-17 22:27] eximius313 opened #1643 "Add reverse of isEqualToComparingFieldByField"
#### Summary
I'd like do check if Object's fields were updated sucessfully, therefore does not contain old data, and `isNotEqualToComparingFieldByField` could be handy.

#### Example

[code]
I can not use `isNotEqualTo`, because `address` reference did not change (its fields were updated by mapper)

[2019-10-19 05:36] joel-costigliola opened #1645 "ShouldContainXXX: allow to replace "elements" by a more specific name"
#### Summary

`ShouldContainOnly` is used in a few places where we know what kind of elements we are dealing with, in this case instead of using the term element we could use a more descriptive name.

#### Example

[code]
fails with this error
[code]
but we could have
[code]
Same thing for `ShouldContain`.

[2019-10-19 12:33] leventov opened #1646 "Incorporate ConcurrentUnit's Waiter funtionality into AssertJ"
#### Summary

I think it would be nice to incorporate [ConcurrentUnit](https://github.com/jhalterman/concurrentunit)'s Waiter into AssertJ to aid writing multi-threaded tests.

#### Example

The problem with combining AssertJ and ConcurrentUnit as any two Java libraries is that Waiter doesn't support AssertJ's API:
[code]

FYI @jhalterman

[2019-10-19 17:31] jhalterman commented on #1646
FWIW, I agree that something like `Waiter` would be nice in assertj.

[2019-10-19 19:59] scordio commented on #1646
Looking at the example, it seems that Waiter is offering already assertion APIs, so maybe ConcurrentUnit could include AssertJ as a dependency and implement [WithAssertions](https://github.com/joel-costigliola/assertj-core/blob/master/src/main/java/org/assertj/core/api/WithAssertions.java) in Waiter.

Would it make sense?

[2019-10-20 05:40] joel-costigliola commented on #1646
I did not know about ConcurrentUnit, cool to learn about it!

I don't have a strong opinion here, on one hand AssertJ could integrate `Waiter` as it seems it's only a few classes without dependencies, on the other hand I tend to think providing concurrent utilities is outside AssertJ's scope as it's not directly assertion related, increasing its scope will make AssertJ more work to maintain.

@jha

[2019-10-20 20:22] jhalterman commented on #1646
Awaitility and ConcurrentUnit solve the same problems, waiting on multi-threaded actions to occur in a test and being able to perform assertions from different threads, but they use different approaches. Awaitility polls a specified method whereas ConcurrentUnit gives you a `Waiter` that you can pause and resume explicitly.

[2019-10-21 09:21] joel-costigliola commented on #1605
@scordio  looks like this can be close but I'll let you do it in case you had more work to do in mind.

[2019-10-21 09:42] joel-costigliola commented on #1640
As I commented in the PR, I believe the `and` field should be enough IMO.

[2019-10-22 05:50] #1605 closed

[2019-10-22 15:49] filiphr opened #1650 "Add assertThat for java.time.Duration"
#### Summary

It would be good if there is support for `java.time.Duration`

#### Example

[code]

Some of the options would be the following assertion methods:

* `isZero()`
* `isNegative()`
* `isPositive()`
* `hasDays(long)`
* `hasHours(long)`
* `hasMinutes(long)`
* `hasSeconds(long)`
* `hasMillis(long)`
* `hasNanos(long)`

Not 100% sure whether the `hasXXX` is a good name, couldn't think of som

[2019-10-23 04:41] joel-costigliola commented on #1650
I agree!

[2019-10-23 09:52] #1640 closed

[2019-10-23 11:16] scordio commented on #1650
What if we use the same approach like `AbstractMapAssert.size()`? This means having `toDays()`, `toHours()`, etc. methods (or even without `to`) which provide a new assertion instance extending `AbstractLongAssert`, similarly to `AbstractMapSizeAssert`.

Not sure if it's too much.

[2019-10-23 17:11] filiphr commented on #1650
That is interesting, I didn't know that this exists (`AbstractMapAssert#size`).

I think that the error messages would be a bit easier to do if we do it directly on the potential new `AbstractDurationMapAssert`.

Having something similar to the `AbstractMapSizeAssert` is also OK to me, but I would like to have something directly so I can chain it easier, without the need to go back and forth.

The

[2019-10-24 14:31] grafandreas opened #1651 "java.lang.IllegalThreadStateException: EDT"
Hi all,

the documentation says that the code using AssertJ should run in the EDT. I am running a JUnit test that actually runs in the EDT.

However, when invoking code like this on a JTreeFixture:
jtf.showPopUpMenu(2)
I am getting an exception

java.lang.IllegalThreadStateException: Cannot call method from the event dispatcher thread
	at org.assertj.swing.core.BasicRobot.waitForIdle(BasicRobot.ja

[2019-10-25 05:10] scordio commented on #1651
Hi @grafandreas, it seems to be related to [assertj-swing](https://github.com/joel-costigliola/assertj-swing), would you mind opening an issue [here](https://github.com/joel-costigliola/assertj-swing/issues/new)?

[2019-10-25 12:07] t-8ch opened #1652 "Assert return value of callable throwing exception"
#### Summary

It would be nice if the `assertThatCode().doesNotThrowException()` API would be able execute functions that return a value and then return that value for further inspection.
This would make it easy to provide a nice description to an otherwise maybe nondescript exception that is thrown.

#### Example

[code]

[2019-10-26 11:19] #1571 closed

[2019-10-27 06:41] Bananeweizen opened #1654 "Conversion script error on Windows"
The conversion shell script fails when running in the bash of Git for Windows:
`./convert-junit-assertions-to-assertj.sh: line 45: replace-in-all-files: not a valid identifier`

It is sufficient to rename the function to not contain hyphen characters.

[2019-10-27 07:56] #1654 closed

[2019-10-27 13:12] leadpony opened #1656 "AbstractThrowableAssert#isInstanceOf() throws IllegalAccessError"
#### Summary

`AbstractThrowableAssert#isInstanceOf()` throws an `IllegalAccessError` exception
when assertj-core is used as a modular jar.

#### Example

[code]
Building and runing this example with JDK 9 or higher:
[code]
outputs the following error messages:
[code]
The problem happens because `org.assertj.core.util.Closeables` requires `java.logging` module both at compile-time and at runtime.

[2019-10-28 03:56] joel-costigliola opened #1657 "Javadoc search in javadoc.io does not work"
#### Summary

The search box correctly filtered result but it is not possible to navigate to a a specific item in the filtered list.

see https://www.javadoc.io/doc/org.assertj/assertj-core/3.14.0/index.html

Note that search work fine for locally generated javadoc.

[2019-10-28 05:36] joel-costigliola commented on #1656
Thanks for reporting this @leadpony!

[2019-10-28 12:03] sbrannen opened #1658 "Regression: allOf(Iterable) and anyOf(Iterable) no longer track descriptions"
When multiple conditions are supplied as an `Iterable` instead of as an array, the individual descriptions are lost.

The fix in 0640d1d7133bb8253d6c4da336220f6e6d77c677 only addressed multiple conditions provided as an array to `allOf()` or `anyOf()`.

The underlying cause is that `org.assertj.core.condition.Join.Join(Condition<? super T>...)` tracks descriptions; whereas, `org.assertj.core.condi

[2019-10-28 16:29] scordio commented on #1570
Again 🤦 will take another look

[2019-10-28 20:19] joel-costigliola commented on #1658
🤦‍♂ we'll fix it in the next release, thanks for the quick feedback

[2019-10-28 22:50] joel-costigliola commented on #1570
sorry @scordio links work, what does not is search https://github.com/joel-costigliola/assertj-core/issues/1657

[2019-10-28 22:50] #1570 closed

[2019-10-29 22:09] joel-costigliola commented on #1657
fixed by https://github.com/maxcellent/javadoc.io/issues/27

[2019-10-29 22:09] #1657 closed

[2019-10-30 19:24] akroy opened #1659 "Root cause assertions assume exception wrapping"
#### Summary
Assertions about root cause exceptions do not work if the root cause exception is not wrapped.

My expectation is that root cause assertion is so that you can declare things about the root cause without worrying about how many times the root cause is wrapped. As is, it only works if it's wrapped 1 or more times. That is, if the root cause exception is not wrapped, the root cause will

[2019-10-30 21:08] scordio commented on #1656
I am not very familiar with Java 9+ modules, but at first look it seems we don't have any [module-path testing](https://sormuras.github.io/blog/2018-09-11-testing-in-the-modular-world.html).

I would be happy to work on introducing that as it could allow us to have test cases like the one mentioned in this issue.

[2019-10-30 22:21] joel-costigliola commented on #1656
we did some manual testing with @sormuras but having a an automated test would be much better.

[2019-10-30 22:41] joel-costigliola commented on #1659
I get your point but the Java `Throwable.getCause()` documentation states that it will return null if it does not have a cause, what you are suggesting is to consider a simple exception to be its own root cause in contrast to Java.
Since AssertJ tries to be consistent with Java I think its current behavior is correct.

If you can't or don't want to check whether your exception has a cause or not,

[2019-10-30 22:53] tciofani opened #1661 "pinapple"
#### Summary

#### Example

[code]

[2019-10-30 22:55] tciofani commented on #1661
wut is this wifi  pinapple used for is it good for home use on computers

[2019-10-31 00:00] #1661 closed

[2019-10-31 00:51] fdooom663 commented on #1611
Gfdnvzh

[2019-10-31 05:15] quaythuoc-org commented on #1611
Thanks you about this

[2019-10-31 06:54] scordio commented on #1659
If you tried to debug and see inside a non wrapped `Throwable`, you probably saw a self reference in the `cause` field. But as mentioned by @joel-costigliola the `getCause()` contract is giving back `null` if there is no external reference. The OpenJDK source code also helps for this:

https://github.com/openjdk/jdk/blob/843fe9eb03ef33692edba925666e0214ae6934e6/src/java.base/share/classes/java/lan

[2019-10-31 12:44] leadpony commented on #1656
Many open source projects compile *.java files TWICE in the release build.

1. First, compiles all files including `module-info.java` with  `--release 9`
2. Second, compiles all files excluding `module-info.java` with  `--release 8`

The final jar file contains `module-info.class` for Java 9 and all other *.class files for Java 8.

First compilation reports errors when `module-info.java` is incomp

[2019-10-31 14:03] sbrannen opened #1662 "Nested test classes in BDDAssumptionsTest result in class file collisions"
The `@Nested` test classes in `BDDAssumptionsTest` result in class file collisions on Microsoft Windows. In addition, Eclipse IDE fails to compile the classes even when not on Windows.

For example:

The clash in the above example is between `Boolean` and `boolean`, and clashes occur for `byte`, `double`, `float`, `long`, and `short` as well.

I suggest renaming classes such as `BDDAssumptions_giv

[2019-10-31 20:35] joel-costigliola commented on #1662
Will change that, did not notice it as I'm using on linux.

[2019-10-31 23:13] bjhargrave opened #1663 "Unfortunate mandatory OSGi import for `jdk.internal.misc` package"
#### Summary

The recent update to byte buddy has triggered a new OSGi import for the `jdk.internal.misc` package.

[code]

The `jdk.*` packages should be optionally imported for when you are running on Java 8.

I will submit a PR to fix.

[2019-10-31 23:44] joel-costigliola commented on #1663
Thanks for reporting this @bjhargrave! We know we are light when it comes to OSGi testing.
Is there an easy way to write a regression test that would capture these errors?

[2019-10-31 23:53] bjhargrave commented on #1663
We found this issue ourselves because we have an OSGi resolve step in the build of our new osgi-test project. See https://github.com/osgi/osgi-test/blob/eb212d9e6613683d36002962b798a36fce2f5946/org.osgi.test.junit4/pom.xml#L100-L131 for how we found the issue: https://travis-ci.com/osgi/osgi-test/jobs/251664968#L372-L378.

We could add something similar to the assertj-core build. We may also want

[2019-10-31 23:56] joel-costigliola commented on #1663
Yes that would be great @bjhargrave!

Nice to see people using custom assertions, I find them really valuable to write code expressing the domain.

[2019-11-01 05:24] akroy commented on #1659
Hmm, I would suggest that one interpretation is that cause and root cause are different. Not all throwables have direct causes, consistent with core Java, but from the intuitive meaning of the idea of a "root cause", it seems like every exception has a root cause, even if that's just itself. (in this reading, core Java is making a claim about direct causes, not root causes)

That said, I totally u

[2019-11-01 09:25] joel-costigliola commented on #1659
If we followed your suggestion then this we could write:
[code]
which is quite confusing, that's another reason to keep the existing behavior as it is.

[2019-11-01 09:26] #1663 closed

[2019-11-01 11:05] MilkTimeplus commented on #1611
wow, difficult, I couldn't understand it

[2019-11-01 11:06] ichinkhorloo0527 opened #1665 "ichinkhorloo"
#### Summary

#### Example
In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import tensorflow as tf

tf.set_random_seed(777)  # for reproducibility

print(tf.__version__)
1.12.0
강의에 설명할 Data입니다
X Data(feature)의 값은 해당 배열의 첫번째 값부터 4번째 값까지로 정의 되고 Y Data(label)는 해당 배열의 마지막 값을 정의(5번째 값)
In [2]:
xy = np.array([[828.659973, 833.450012, 908100, 828.349976, 831.659973],

[2019-11-01 11:07] ichinkhorloo0527 commented on #1665
In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import tensorflow as tf

tf.set_random_seed(777)  # for reproducibility

print(tf.__version__)
1.12.0
강의에 설명할 Data입니다
X Data(feature)의 값은 해당 배열의 첫번째 값부터 4번째 값까지로 정의 되고 Y Data(label)는 해당 배열의 마지막 값을 정의(5번째 값)
In [2]:
xy = np.array([[828.659973, 833.450012, 908100, 828.349976, 831.659973],
               [823.02002, 828.070

[2019-11-01 11:26] ichinkhorloo0527 opened #1666 "ichinkhorloo"
@@ -1,10 +1,12 @@
# Lab 7 Learning rate and Evaluation
import tensorflow as tf
import random
import matplotlib.pyplot as plt
import random

tf.set_random_seed(777)  # for reproducibility

from tensorflow.examples.tutorials.mnist import input_data

# Check out https://www.tensorflow.org/get_started/mnist/beginners for
# more information about the mnist dataset
mnist = input_data.read_data_sets("MNI

[2019-11-01 11:47] #1665 closed

[2019-11-01 11:48] #1666 closed

[2019-11-01 17:36] Rimsineman opened #1667 "CompletableFutureAssert test classes to use assertThat"
Summary Example java <add example here>

[2019-11-01 17:41] Rimsineman commented on #1667
CompletableFutureAssert test classes to use assertThat

[2019-11-01 18:00] Rimsineman opened #1668 "CompletableFuture<String> future = new CompletableFuture<>(); // WHEN ThrowingCallable code = () -> assertThat(future).hasFailed(); // THEN assertThatAssertionErrorIsThrownBy.withMessage(shouldHaveFailed create())"
CompletableFuture<String> future = new CompletableFuture<>(); // WHEN ThrowingCallable code = () -> assertThat(future).hasFailed(); assertThatAssertionErrorIsThrownBy.withMessage(shouldHaveFailed create())

[2019-11-01 18:04] Rimsineman commented on #1668
CompletionStage<String> tokenFuture = firebaseAuthService.getCustomToken(email); with CompletionStage<String> tokenFuture = CompletableFuture.completedFuture(firebaseAuthService.getCustomToken(email).join());

[2019-11-01 18:06] Rimsineman opened #1669 "CompletionStage tokenFuture = firebaseAuthService.getCustomToken ( rimsineman@gmail.com ); ด้วย CompletionStage tokenFuture = CompletableFuture.completedFuture (firebasea u thService.getCustomToken ( rimsineman@gmail.com ) .join ( rimsineman@gmail.com ));"
CompletionStage<String> tokenFuture =firebaseAuthService.getCustomToken(rimsineman@gmail.com); with CompletionStage<String> tokenFuture =CompletableFuture.completedFuture(firebasea

u
thService.getCustomToken(rimsineman@gmail.com).join(rimsineman@gmail.com));

[2019-11-01 18:32] #1667 closed

[2019-11-01 18:33] #1668 closed

[2019-11-01 18:34] #1669 closed

[2019-11-01 18:43] Rimsineman opened #1670 "CompletionStage tokenFuture = firebaseAuthService.getCustomToken ( rimsineman@gmail.com ); CompletionStage tokenFuture = CompletableFuture.completedFuture(firebaseAuthService.getCustomToken ( rimsineman@gmail.com ) .join ( rimsineman@gmail.com ));"
#### Summary

#### Example

[code]

[2019-11-01 18:45] Rimsineman opened #1671 "CompletionStage tokenFuture = firebaseAuthService.getCustomToken ( rimsineman@gmail.com ); CompletionStage tokenFuture = CompletableFuture.completedFuture(firebaseAuthService.getCustomToken ( rimsineman@gmail.com ) .join ( rimsineman@gmail.com ));"
#### Summary

#### Example

[code]
CompletionStage tokenFuture = firebaseAuthService.getCustomToken ( rimsineman@gmail.com ); CompletionStage tokenFuture = CompletableFuture.completedFuture(firebaseAuthService.getCustomToken ( rimsineman@gmail.com ) .join ( rimsineman@gmail.com ));

[2019-11-01 18:46] Rimsineman opened #1672 "CompletionStage tokenFuture = firebaseAuthService.getCustomToken ( rimsineman@gmail.com ); CompletionStage tokenFuture = CompletableFuture.completedFuture(firebaseAuthService.getCustomToken ( rimsineman@gmail.com ) .join ( rimsineman@gmail.com ));"
#### Summary

#### Example

```java```
Complet ionStage tokenFuture = firebaseAuthService.getCustomToken ( rimsineman@gmail.com ); Complet ionStage tokenFuture = Complet ableFuture.comple tedFuture(firebaseAuthService.getCustomToken ( rimsineman@gmail.com ) .join ( rimsineman@gmail.com ));

[2019-11-01 19:21] Rimsineman opened #1673 "Complet !ionStage <String> tokenFuture = firebase AuthService. getCustom Token (rimsineman@gmail.com); with Complet ionStage <String> tokenFuture = Complet ableFuture. complet ed Future (firebase AuthService. getCustom Token(rimsineman@gmail.com).join(rimsineman@gmail.com));"
#### Summary

#### Example

[code]

[2019-11-01 19:31] Rimsineman opened #1674 "Complet !ionStage <String> tokenFuture = firebase AuthService. getCustom Token (rimsineman@gmail.com); with Complet ionStage <String> tokenFuture = Complet ableFuture. complet ed Future (firebase AuthService. getCustom Token(rimsineman@gmail.com).join(rimsineman@gmail.com));"
#### Summary

#### Example
Complet ionStage <String> tokenFuture = firebase AuthService. getCustom Token (rimsineman@gmail.com); with Complet ionStage <String> tokenFuture = Complet ableFuture. complet ed Future (firebase AuthService. getCustom Token(rimsineman@gmail.com).join(rimsineman@gmail.com));
[code]

[2019-11-01 19:38] Rimsineman opened #1675 "Complet !ionStage<String>tokenFuture=firebase AuthService.getCustom Token(rimsineman@gmail.com); with Complet ionStage<String>tokenFuture=Complet ableFuture.complet ed Future(firebase AuthService.getCustom Token(rimsineman@gmail.com).join(rimsineman@gmail.com));"
#### Summary

#### Example

```Complet !ionStage<String>tokenFuture=firebase AuthService.getCustom Token(rimsineman@gmail.com); with Complet ionStage<String>tokenFuture=Complet ableFuture.complet ed Future(firebase AuthService.getCustom Token(rimsineman@gmail.com).join(rimsineman@gmail.com)); ```

[2019-11-01 19:39] Rimsineman opened #1676 "Complet ionStage<String>tokenFuture=firebase AuthService.getCustom Token(rimsineman@gmail.com); with Complet ionStage<String>tokenFuture=Complet ableFuture.complet ed Future(firebase AuthService.getCustom Token(rimsineman@gmail.com).join(rimsineman@gmail.com));"
#### Summary

#### Example

[code]

[2019-11-01 19:40] Rimsineman opened #1677 "Complet ionStage<String>tokenFuture=firebase AuthService.getCustom Token(rimsineman@gmail.com); with Complet ionStage<String>tokenFuture=Complet ableFuture.complet ed Future(firebase AuthService.getCustom Token(rimsineman@gmail.com).join(rimsineman@gmail.com));"
#### Summary

#### Example

```Complet !ionStage<String>tokenFuture=firebase AuthService.getCustom Token(rimsineman@gmail.com); with Complet ionStage<String>tokenFuture=Complet ableFuture.complet ed Future(firebase AuthService.getCustom Token(rimsineman@gmail.com).join(rimsineman@gmail.com)); ```

[2019-11-01 19:42] Rimsineman opened #1678 "Complet ionStage<String>tokenFuture=firebase AuthService.getCustom Token(rimsineman@gmail.com); with Complet ionStage<String>tokenFuture=Complet ableFuture.complet ed Future(firebase AuthService.getCustom Token(rimsineman@gmail.com).join(rimsineman@gmail.com));"
#### Summary

#### Example

```Complet !ionStage<String>tokenFuture=firebase AuthService.getCustom Token(rimsineman@gmail.com); with Complet ionStage<String>tokenFuture=Complet ableFuture.complet ed Future(firebase AuthService.getCustom Token(rimsineman@gmail.com).join(rimsineman@gmail.com));```

[2019-11-01 20:39] Philzen opened #1679 "Unmet assumptions don't mark test skipped/ignored"
#### Summary

The [AssertJ docs](https://assertj.github.io/doc/#assertj-core-assumptions) do clearly state in section 3.15:

However, if i try to use Assumptions, the test in question always shows up as failed.

#### Example

[code]

But running `mvn test` always comes up with:

[code]

In contrast, when using Junit 5 Assumptions instead:

[code]

the result is as intended:

[code]

Not sure if i'

[2019-11-01 21:00] #1678 closed

[2019-11-01 21:00] #1670 closed

[2019-11-01 21:00] #1671 closed

[2019-11-01 21:00] #1672 closed

[2019-11-01 21:00] #1673 closed

[2019-11-01 21:00] #1674 closed

[2019-11-01 21:00] #1675 closed

[2019-11-01 21:00] #1676 closed

[2019-11-01 21:00] #1677 closed

[2019-11-01 21:55] Rimsineman opened #1680 "OSType osType = null; assumeThat(osType) .withFailMessage("Could not determine whether OS is UNIX, MAC or WINDOWS") .isNotNull(); // ignore test if OS cannot be determined"
#### Summary

#### Example

[code]

[2019-11-01 21:56] #1680 closed

[2019-11-01 22:00] Rimsineman commented on #975
static void	assumeFalse(boolean b)
static void	assumeNoException(Throwable e)
static void	assumeNotNull(Object... objects)
static void	assumeNull(Object... objects)
static void	assumeTrue(boolean b)
Most importantly, ability to work with custom org.assertj.assertions.core.Condition in the fashion of is(), has(), and for collections - are(), allOf(), anyOf(), - will unlock assumeThat() for most pur

[2019-11-01 22:46] akroy commented on #1659
That's fair. Thanks for taking the time to consider this!

[2019-11-01 22:46] #1659 closed

[2019-11-02 02:17] octa408 opened #1682 "Halo duni"
#### Summary

#### Example

[code]

[2019-11-02 02:18] octa408 opened #1683 "Halo dunia"
#### Summary

#### Example

[code]

[2019-11-02 02:44] joel-costigliola commented on #1679
I have tried your code in a test and the test is properly skipped:
[code]
when executed, here's the output in eclipse:
![image](https://user-images.githubusercontent.com/382613/68064937-2bdfa480-fd87-11e9-8dad-c5382ab82b91.png)

Same thing when I run it from the command line:
[code]
Could you share your environment or even better provide a reproducible test showing the behavior?

[2019-11-02 03:11] sriketh16 opened #1684 "Create Assistant issues me an error"
#### Summary
I have followed the instructions outlined on how to create an assistant after installing the auto-pilot CLI.  Installation was successful.
After the installation, I entered "ta create" to use the existing assistant template.  After I chose the template, it is giving me the following error:

#### Example? List of templates you can chose Airline Reservations
×  Initializing Twilio Autop

[2019-11-02 03:12] sriketh16 commented on #1684
What do I need to do to fix the above error?

[2019-11-02 03:47] joel-costigliola commented on #1684
this has nothing with assertj

[2019-11-02 03:47] #1684 closed

[2019-11-02 03:48] #1683 closed

[2019-11-02 03:48] #1682 closed

[2019-11-02 03:50] sriketh16 commented on #1684
I am not sure why the issue is closed. I am new and wondering if a solution or recommendation to fix can be provided

[2019-11-02 03:51] #1658 closed

[2019-11-02 04:41] chandra20sekhar commented on #1611
i didn't understand it

[2019-11-02 05:21] joel-costigliola commented on #1662
Should be fixed with https://github.com/joel-costigliola/assertj-core/commit/5d715eacc1b1882cbc632d04a226cdc35482eec8 but I need to run a build on windows to be sure (sigh).

[2019-11-02 05:28] #1651 closed

[2019-11-02 05:29] joel-costigliola commented on #1584
The code sample style has been changed, everything else needs to be done ;-)

[2019-11-02 07:39] Hiralal10 opened #1685 "Kuch nahi"
#### Summary

#### Example

[code]

[2019-11-02 08:09] #1685 closed

[2019-11-02 08:35] filiphr commented on #1662
@joel-costigliola, not sure if you have access to the GitHub actions (they are coming out of beta anyways in a week or so). If you are interested I could rey and wrap something up. They also have support for building on Windows

[2019-11-02 08:45] PascalSchumacher commented on #1679
I think AssertJ use the JUnit 4 assumption mechanism. Support for this was added in a later JUnit 5 version (could find the related release note entry, so I do not know the concrete version). Older JUnit 5 versions do not support it and display the behavior described in this issue.

@Philzen Please update your JUnit dependency to the latest version and everything should work as expected.

[2019-11-02 08:50] PascalSchumacher commented on #1680
See: https://github.com/joel-costigliola/assertj-core/issues/1679#issuecomment-549024012

[2019-11-02 09:40] IthriAmellal opened #1686 "why this code keep giving errors"
I followed this video, typed the code ://www.youtube.com/watch?v=euf9c--areU&list=PLdW9lrB9HDw3bMSHtNZNt1Qb9XTMmQzLU&index=10
but still give many errors

got too many warnings
 // Validate required fields are not empty
         if(firstNameTextField.text?.isEmpty)! ||
             (lastNameTextField.text?.isEmpty)! ||
             (emailTextField.text?.isEmpty)! ||
             (passwordTextField.