[2019-11-02 09:41] #1686 closed

[2019-11-02 13:01] Philzen commented on #1679
Thanks so much for taking your valuable time off doing other awesome stuff (such as AssertJ) to help clarifying what i might be doing wrong here, much appreciated!

I'm running on a Manjaro linux machine

[code]

The project i'm using has not direct junit 4 reference whatsoever, here's the `pom.xml` of the project i'm working on:

[code]

When i click on the assertj-core artifactId and let Intelli

[2019-11-02 16:03] PascalSchumacher commented on #1679
You are using JUnit `5.2.0`. This version does not support the JUnit 4 assumption mechanism used by AssertJ. Try JUnit `5.5.2` and it should work.

[2019-11-02 17:16] Philzen commented on #1679
Pardon me, is it possible you are confusing the two POMs that i posted? The project i'm working on explicitely uses junit 5.5.2 in it's POM - it's the AssertJ 3.11.1 pom that includes a junit 5.2.0 reference.

However, when using assertJ v3.13.2 (which has jUnit 5.5.1) - it's still the same problem here.

[2019-11-02 22:19] scordio commented on #1679
Could you also try to upgrade AssertJ to 3.14.0 which uses JUnit 5.5.2?

[2019-11-03 09:57] PascalSchumacher commented on #1679
Yes, sorry.

I see you are using Spring Boot `2.1.1` whose dependency management fixes the JUnit 5 dependencies to version `5.3.2`. You declare a junit-jupiter `5.5.2` dependency, but this artifact just aggregates/adds the `junit-jupiter-api`, `junit-jupiter-params`, `junit-jupiter-engine` dependencies. The version of these dependencies is changed to `5.3.2` by Spring Boot. So in effect you are us

[2019-11-03 21:09] joel-costigliola commented on #1684
As I have said your issue is not related to this project.

[2019-11-04 12:58] sbrannen commented on #1662
I can confirm that it's fixed for Eclipse. So one can assume it works on Windows as well (though somebody should actually check it for completeness).

As @filiphr recommended, it would be a good idea to have a build matrix covering Linux, Mac OS, and Windows going forward, since that would help the AssertJ team to catch such errors on the CI server.

[2019-11-04 14:53] sbrannen commented on #1658
Thanks for the quick turnaround! 👍

[2019-11-04 17:14] Sam-Kruglov opened #1688 "Missing assertion with a timeout"
#### Summary
I want to execute something asynchronously and then execute my assertion every second for 15 seconds at max to verify the thing is done.

#### Example

[code]

Where I had to manually implement the `Probe` util like this:
[code]

I wish there was something like that in the library

[2019-11-04 18:17] epeee commented on #1688
Hi,
sounds like [awaitility](https://github.com/awaitility/awaitility) might help in your case, see https://github.com/awaitility/awaitility/wiki/Usage#using-assertj-or-fest-assert

[2019-11-04 20:25] joel-costigliola commented on #1662
yep, I think we are going to have a look at github actions.
thanks

[2019-11-04 21:30] joel-costigliola commented on #1662
yep, I think we are going to have a look at github actions. @filiphr yes we are interested ;-)
thanks

[2019-11-05 19:17] oscarfh commented on #1214
Any news on this?

[2019-11-06 09:02] joel-costigliola commented on #1214
sorry will have a look at this for the next release.

[2019-11-06 18:34] akroy commented on #1659
For anyone else that comes across this, both Guava and Apache use the semantics I propose, so you can easily workaround by using them instead of the AssertJ method:
https://guava.dev/releases/23.0/api/docs/com/google/common/base/Throwables.html#getRootCause-java.lang.Throwable-
https://commons.apache.org/proper/commons-lang/javadocs/api-3.4/org/apache/commons/lang3/exception/ExceptionUtils.html#ge

[2019-11-07 00:58] jmondo opened #1690 "Map of list of maps not digging into list with flatExtracting/ first().extract()"
#### Summary
I have a map of lists of maps (`Map<String, List<Map<String, Object>>>` example below haha) and when i try to extract with flatExtracting or first().extract, it keeps trying to operate on the list directly instead of the maps inside the list.

#### Example

data.toString() => `{links=[{id=dc63d5bf-7eda-45c1-995f-c33de2cc2dbd, name=Financing Plan}]}`

[code]
error:
[code]

and if i run

[2019-11-07 10:35] Pryanic opened #1691 "Compare enums with usingRecursiveComparison"
#### Summary
Hi, I found a very confused limitations, I don't now why this happens bet let's fix it.
I have simple class structure

#### Example

[code]

This test passes. I don't understand why
Can you help with it.  I don't want remove usingRecursiveComparison and ignoringAllOverriddenEquals

[2019-11-07 10:45] Pryanic commented on #1691
I've found the solution custom comparator for enum fields
`.withComparatorForType(comparator,Enum.class)`

[2019-11-07 10:47] xenoterracide opened #1692 "weird messaging for enum when testing isPublic"
#### Summary

the messaging here is weird, I'm not sure it's a bug, or really whether it must be fixed

#### Example

[code]

[code]

[2019-11-07 18:47] xenoterracide opened #1693 "add constructor assertions for ClassAssert"
#### Example

[code]
I'm not fussy on names

[2019-11-07 20:16] joel-costigliola commented on #1692
We'll look into it, thanks for reporting this.

[2019-11-07 20:17] joel-costigliola commented on #1691
We will look into that behavior, does not feel right

[2019-11-07 20:41] xenoterracide commented on #1693
that's probably fine, hmm could have `hasBeanConstructor`, but yeah if you prefer splitting it I'm ok with that.

[2019-11-07 21:13] joel-costigliola commented on #1690
👀

[2019-11-08 05:29] Sam-Kruglov commented on #1688
Thanks a lot, @epeee, that does sound exactly like what I need!
In that case, don't really see a point of reimplementing this here

[2019-11-08 05:29] #1688 closed

[2019-11-08 07:20] Pryanic commented on #1691
@joel-costigliola  thank you for you response. Let me know if you need more information

[2019-11-08 15:23] scordio commented on #1692
According to the example, `RoleName` is package-private (i.e., no modifiers).

Also, from [JLS section 8.9](https://docs.oracle.com/javase/specs/jls/se8/html/jls-8.html#jls-8.9):

Overall the message seems OK!

Maybe it could be improved either mentioning what is implicit or printing the values of all possible flags.

[2019-11-08 17:47] xenoterracide commented on #1692
yeah, I just thought it was weird that I'm checking for public and get back it's final, my thought was ok, what does one have to do with the other. obviously I knew it was because they were modifiers. I also thought package private was confusing because it just comes out as "", but not too hard to figure out. printing them all might be better, I'll leave it up to you, as I don't really have a bett

[2019-11-08 20:14] xenoterracide opened #1694 "move Assertion* classes to a different package"
it's annoying that these are in the same package, I might suggest java6 be split into its own jar now, and that the others be moved to a different package (makes sense for exports with jigsaw support too?) this is just me griping, feel free to close if it's a terrible idea for the next major version [example of issue screenshot](https://imgur.com/a/rnyKJpc)

[2019-11-10 15:59] mwajcht opened #1696 "Missing BDD style assertions for exception handling"
#### Summary

Currently `org.assertj.core.api.BDDAssertions` class is missing some methods for handling exceptions. These missing methods are already implemented in `org.assertj.core.api.Assertions` but with `assertThat` prefix.

#### Example

[code]

[2019-11-12 03:17] masterav10 commented on #1270
Many of my test cases use imagery (large byte arrays), so I've encountered this issues as well. I took at stab at fixing this. Turns out this is more complicated than it looks. There are a number of performance issues. For example, in the Arrays class you linked:
- Extensive use of ArrayList + IterableDiff results in massive performance problems due to Iterator.remove() causing a resize on large a

[2019-11-12 14:17] Tapter opened #1699 "Double Decoding in AbstractUriAssert"
#### Summary

AbstractUriAssert does double-decoding on URL parameters, thus some tests fail incorrectly.

#### Example

Both tests should pass but do not:
[code]

The reason is, that in org.assertj.core.internal.Uris, the getParameters() call is always made using "actual.getQuery()" which already decodes the query string. getParameters() then decodes it a second time.

The fix would be to replace

[2019-11-12 14:59] scordio opened #1700 "isPackagePrivate() missing from AbstractClassAssert"
#### Summary
Currently `AbstractClassAssert` provides `isPublic()` and `isProtected()` methods to assert access level modifiers. I would also add `isPackagePrivate()` for completeness.

#### Current solution
[code]

#### Improvement
[code]

I was also thinking if `isPrivate()` would make sense but probably there is no real use case for it as the class should be declared inside the test class itsel

[2019-11-13 13:12] juliodias commented on #1248
Hi guys! Is this issue still open? I can help with it :D

[2019-11-13 20:33] joel-costigliola commented on #1248
@juliodias it is, awesome if you can help!

[2019-11-14 01:46] juliodias commented on #1248
Thanks @joel-costigliola, I'll do my best! If I have any questions I ask you

[2019-11-14 01:54] joel-costigliola commented on #1248
Sure, don't hesitate to ask!

[2019-11-14 12:45] mwajcht commented on #1700
I can take it

[2019-11-14 13:17] scordio commented on #1700
Thank you @mwajcht, go for it!

[2019-11-17 12:41] #1700 closed

[2019-11-18 16:14] m-g-sonar opened #1704 "Java6AbstractStandardSoftAssertions should be abstract"
#### Summary
We are working on support of AssertJ's `Java6SoftAssertions` in SonarJava static analyzer, The plugin for SonarQube covering Java. More precisely, we are working at removing False Positives currently raised by rule [S2699: Tests should include assertions](https://rules.sonarsource.com/java/RSPEC-2699).

It is specified in the documentation that `Java6AbstractStandardSoftAssertions` is

[2019-11-18 22:03] joel-costigliola commented on #1704
We'll have a look but you are likely right that this class can be made not abstract.
If you are working on assertions best practices, there are a few things that can be done for AssertJ, they are described here: https://assertj.github.io/doc/#assertj-core-incorrect-usage

[2019-11-19 08:46] m-g-sonar commented on #1704
I think that's the opposite, `Java6AbstractStandardSoftAssertions` should be made `abstract`, for consistency.

Thanks a lot for the pointer on assertj incorrect usage page, I didn't know about it, and there is most probably something we could do to cover them!

[2019-11-19 10:08] joel-costigliola commented on #1704
Ah ah right, I should not have replied without access to my IDE.

[2019-11-20 02:51] HaydenMeloche commented on #1696
Looks like this one is completed? :)

[2019-11-20 03:18] #1696 closed

[2019-11-20 23:12] scordio commented on #1704
Hi @m-g-sonar, I have two related questions about rule [S2699](https://rules.sonarsource.com/java/RSPEC-2699).

Assuming this rule is enabled for AssertJ internal build, there are some tests which should pass if nothing was thrown (e.g., `should_pass_if_optional_contains_required_type` mentioned in [CONTRIBUTING](https://github.com/joel-costigliola/assertj-core/blob/master/CONTRIBUTING.md)). At th

[2019-11-21 01:07] joel-costigliola commented on #1704
reopening for @scordio question ...

[2019-11-21 14:58] MrBuddyCasino opened #1706 "Provide a non-list alternative to "extracting""
#### Summary

The `.extracting(<someMethod>).first().` is unintuitive. As a first time AssertJ user, I just spent several minutes wondering why the tst failed until I discovered that `extracting` returns a list, not a single object. I understand why, but having a non-list alternative like `extract` or `map` would be more readable and intutive.

#### Example

[code]

[2019-11-22 16:19] #1679 closed

[2019-11-22 21:43] JKomoroski opened #1708 "Custom Assumptions"
#### Summary
As far as I can tell, AssertJ supports turning internal assertion classes into assumption, via the org.assertj.core.api.Assumptions class. But I don't see a way to do the same for my custom asssertion classes. Please correct me if I'm wrong, but it'd be nice if there was some way to have some sort of static method that could take any class which extends AbstractAssert (for example), a

[2019-11-24 08:52] #1650 closed

[2019-11-24 18:06] scordio commented on #1706
Since `assertj-core` 3.11.0, [`extracting(Function)`](https://javadoc.io/doc/org.assertj/assertj-core/3.11.0/org/assertj/core/api/AbstractObjectAssert.html#extracting-java.util.function.Function-) provides an `AbstractObjectAssert`. Are you using a recent version of AssertJ?

I tried to reproduce the issue using the current version and it seems to work correctly:
[code]

[2019-11-24 21:35] joel-costigliola commented on #1706
I think the issue here is that @MrBuddyCasino used `extracting` before `first`, is that right @MrBuddyCasino?

Changing `extracting` to `map` would not change anything as both would return an iterable if given one, we might add `map` as an alias for `extracting` (but I'm not so sure it is worth bloating the API).

FYI `extracting` has been introduced before java 8, it was a time when `map` was for

[2019-11-26 16:58] sormuras commented on #1656
Exactly.

As I stumbled over another issue, namely `requires java.instrument;` seems to be a special snow flake, I'll try to provide either an automated integration test or a better compile strategy that chokes on missing require statements. Or both... ;-)

[2019-11-26 21:36] laskybontiagmail opened #1709 "How to check if a list of objects has an element with a String property matching a regex pattern"
#### Summary
Given a list of objects with a String field or getter method returning a String, is there a way in assertj to check if out from the list an object contains a string based from a "Regular Expression Pattern"?

Kindly see example below for more details.

#### Example

[code]

[2019-11-27 12:42] bergerst commented on #1452
Bump, I'm having the same problem.

[2019-11-28 06:28] scordio commented on #1709
You could use [`extracting(Function)`](https://www.javadoc.io/static/org.assertj/assertj-core/3.14.0/org/assertj/core/api/AbstractIterableAssert.html#extracting(java.util.function.Function)) together with [`anyMatch`](https://www.javadoc.io/static/org.assertj/assertj-core/3.14.0/org/assertj/core/api/AbstractIterableAssert.html#anyMatch(java.util.function.Predicate)) or [`anySatisfy`](https://www.j

[2019-11-29 10:23] joel-costigliola commented on #1691
Git a bit of time to look at it, the reason the test does not fail is that the `value` field in actual `Check` is compared recursively against expected. It turns out that enum fields are static and static fields are ignored in the recursive comparison since the point is to compare instances not classes.

I think ignoring static fields is valid, the issue here is that we try to compare enum recursi

[2019-11-29 12:40] Pryanic commented on #1691
@joel-costigliola Thank you.

[2019-11-30 01:45] #1691 closed

[2019-11-30 22:48] #1611 closed

[2019-12-01 12:40] nightswimmings opened #1714 "Still duplication of frameworks"
Now that we are finally getting rid of Hamcrest and making JUnit no dependant on third party libraries, looks like Junit team implemented their own Assertions (org.junit.jupiter.api.Assertions) so this is an step-back to finally get uniform testing.

Did AssertJ ever talked with Junit 5 team about the possibility of merging all the work in one of both sites alone? I mean I think we would all benef

[2019-12-01 12:51] nightswimmings commented on #1714
I asked the same to Junit team on Gitter: https://gitter.im/junit-team/junit5

[2019-12-01 18:17] carterkozak opened #1715 "Floating point comparisons consider positive zero greater than negative zero"
#### Summary

StandardComparisonStrategy compares unboxed floating point values in an unexpected and arguably incorrect way around positive and negative zero.

#### Example

While refactoring tests to take advantage of assertj fluent assertions for better failure messages, I found a case that fails after the migration in some cases:

[code]
The new code fails when floatA is `-0f` and be is `0f` du

[2019-12-01 18:23] carterkozak commented on #1715
I've provided a PR with four failing unit tests: #1716

[2019-12-02 06:09] joel-costigliola commented on #1715
Thanks for reporting this @carterkozak!

[2019-12-02 14:49] leventov opened #1718 "StandardComparisonStrategy.iterableRemoves() inefficient on ArrayList"
#### Summary
[code]
This stack works very slow when the list checked in `containsOnly()` has ~ 1 m elements, because of O(N^2) complexity.

[2019-12-02 17:52] ulises-lara commented on #1248
Hello! I would also like to help with this issue, if I may.
I will look into it and let you know if I have a question, is that okay @joel-costigliola ?

[2019-12-02 18:01] ulises-lara commented on #1248
Hey @juliodias !
Have you had any luck with this?
Please let me know if you need a helping hand with something.

[2019-12-02 18:40] sormuras commented on #1714
No dependencies, except for...

- [OpenTest4J](https://github.com/ota4j-team/opentest4j)
- [APIGuardian](https://github.com/apiguardian-team/apiguardian)
- JUnit Platform (okay, not strictly **3rd**-party, but... still a dependencies with multiple artifacts)

From the OpenTest4J README:

Assertion frameworks are built around `java.lang.AssertionError`, providing better feedback on errors then just

[2019-12-02 19:34] nightswimmings commented on #1714
I meant third party libraries in terms of assertion framework. I understand Java built-in is not enough standard, but Junit is the core library imported for all tests, so a JUnit interface for assertions could serve for Hamcrest, AssertJ etc... that way we can exclude the built-in assertion implementation of the very same JUnit, in worst scenario, so we can force uniform declarations accross proje

[2019-12-02 21:33] joel-costigliola commented on #1714
I think the main reason for having separate assertions library is to allow different release frequency.
Moreover you have people still using TestNG that can benefit from third party assertions library.

[2019-12-02 21:55] joel-costigliola commented on #1718
PR welcome to make it better ;-)

[2019-12-03 00:22] nightswimmings commented on #1714
To be honest, AssertionJ is impossible to match on completeness, eye-candiness, etc.. (kudos!), I am simply so desperate to make it the reference standard some way

[2019-12-03 00:58] joel-costigliola commented on #1714
Thanks for the kind words @nightswimmings! Anything to add or shall I close this issue?

[2019-12-03 09:33] joel-costigliola commented on #1715
Indeed the behavior comes from the fact that doubles are compared according to https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/Double.html#compareTo(java.lang.Double) which:

I think it is fair in that case to follow equals behavior and consider 0.0d to be equal to -0.0d,  to follow the behavior less surprising for most users.

Users who want to use the `compareTo` semantics

[2019-12-03 13:04] bbottema opened #1719 "Using generateAssertionsInPackage in Maven results in compilation issues"
#### Summary
Some classes for which I generate assertion classes contain methods with parameter types that are in the same package. If I then use `<generateAssertionsInPackage>` to generate the assertion classes in a different package, they miss the required imports for these types.

#### Example

[code]
[code]
Results in the following assertion class:
[code]
[code]

[2019-12-03 13:39] carterkozak commented on #1715
Thanks @joel-costigliola! jls-5.6.2 may be relevant here as well, depending how we go about implementing the solution https://docs.oracle.com/javase/specs/jls/se11/html/jls-5.html#jls-5.6.2

[2019-12-03 21:37] MrBuddyCasino commented on #1706
You got me there, due to a problem with a dependency we're stuck at 3.9.1. I tested with 3.11.0 and the second `.first()` call has indeed become obsolete. Thanks for checking, looks like you're ahead of me. Thanks for making AssertJ, its nicer to use than Hamcrest! :)

[2019-12-03 21:37] #1706 closed

[2019-12-03 21:52] joel-costigliola commented on #1706
thanks for the kind words @MrBuddyCasino!

[2019-12-05 01:40] joel-costigliola commented on #1719
Thanks for reporting this! I don't have much time these days unfortunately but I can review a PR if someone is keen to tackle that issue.

[2019-12-05 02:22] joel-costigliola commented on #1715
My bad, I actually was wrong about my root cause analysis, AssertJ does not use `compareTo` in this case but [`Double.equals`](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/Double.html#equals(java.lang.Object)) which states:

This explains the observed behavior.

AssertJ usually follows the core java classes behavior so if we compare `Double` to `Double` then the behavior

[2019-12-05 08:35] LybrialsGit opened #1721 "Ignoring optional fields from generated java classes when comparing objects wont work"
#### Summary

I have a graphql Query with `fragments` (I guess that is important). Apollo is automatically generating a java class for each Query. For `fragments` apollo will generate optionals.
When I try to ignore child fields of such optionals, assertJ wont ignore them.

#### Example

Simple graphql schema

[code]

Simple graphql query

[code]

For this query, apollo would generate the followin

[2019-12-05 09:40] joel-costigliola commented on #1721
Thanks for reporting this!

[2019-12-05 22:30] nightswimmings commented on #1714
I guess it was more a discussion than a question so feel free to close it :'(

[2019-12-06 02:04] #1714 closed

[2019-12-06 03:32] carterkozak commented on #1715
That sounds reasonable to me, thanks!

[2019-12-08 09:09] #1715 closed

[2019-12-08 22:08] joel-costigliola commented on #1719
This actually belong to https://github.com/joel-costigliola/assertj-assertions-generator

[2019-12-08 22:10] joel-costigliola commented on #1709
@laskybontiagmail I'm closing the issue, feel free to comment if you need more help and we will reopne it.

[2019-12-08 22:10] #1709 closed

[2019-12-09 09:55] #1718 closed

[2019-12-10 15:13] benoitdupont commented on #1355
Hello, is this issue still open ? I did try the various method asserting the messages in `AbstractThrowableAssert` but didn't find any case where the stacktrace is not displayed. Or can you point the specific methods to fix ?

[2019-12-10 15:58] jakubzytka commented on #1355
`Throwables.assertHasMessageContaining` doesn't describe the actual throwable (neither do some other functions that care about the message)

[2019-12-10 23:30] Pezhin opened #1722 "Feature to compare two JSON strings?"
#### Summary
Does assertj have function to compare if two JSON strings are equal? By equal, I mean the key-value mapping are the same but the order might be different. I found project like https://github.com/skyscreamer/JSONassert provides such functionalities. Does assertj already have something like this?

If not, are contributions like introducing JSONassert as dependency and add new assert met

[2019-12-11 02:01] joel-costigliola commented on #1722
nope we recpmmand JSONAssert or https://github.com/lukas-krecan/JsonUnit

[2019-12-11 03:03] #1722 closed

[2019-12-11 08:48] filiphr commented on #1722
JsonUnit also have AssertJ support https://github.com/lukas-krecan/JsonUnit#assertj-integration. So it is a really good fit for AssertJ users.

[2019-12-11 10:00] benoitdupont commented on #1355
Hello, I did a first pull request to fix the hasMessageContaining and hasMessageContainingAll assertions, let me know if this is correct.

Next steps is to investigate and fix which methods can still be improved, here is a list to be refined of potential classes to be adapted:
[code]

[2019-12-11 15:14] Brummolix opened #1726 "list containsExactlyInAnyOrderElementsOf with usingRecursiveFieldByFieldElementComparator does not honor Optionals"
#### Summary
When you combine containsExactlyInAnyOrderElementsOf  with usingRecursiveFieldByFieldElementComparator  and also have getters with optionals, they will not be honored

#### Example

[code]

[2019-12-11 20:24] joel-costigliola commented on #1726
@Brummolix which version are you using? I'm wondering if this is related to https://github.com/joel-costigliola/assertj-core/issues/1424.

[2019-12-12 10:24] Brummolix commented on #1726
testRecursiveEqualsOnList fails in 3.13.2 and 3.14.0 (not tested with older versions)

[2019-12-12 20:38] joel-costigliola commented on #1726
thanks for checking, we will look into it!

[2019-12-13 00:21] scordio commented on #1692
Since a13f73bd73ad94e648bc74bbc72dbe2a0c300a18, `AbstractClassAssert#isPackagePrivate` is available and gives the following output in case of error:
[code]
For completeness, we could support a `package-private` output value in the `ClassModifierShouldBe` error message factory. As `ClassModifierShouldBe` relies on `java.lang.reflect.Modifier#toString`, we would need to enhance the outcome with an a

[2019-12-14 15:50] scordio commented on #1699
Fixed in 7b0b49d.

[2019-12-14 15:50] #1699 closed

[2019-12-15 00:08] valeriyo opened #1730 "[Android 6] IllegalArgumentException: Unknown pattern character 'X'"
#### Summary
On Android 6.0 (API 23) asserting Dates for equality fails with "java.lang.IllegalArgumentException: Unknown pattern character 'X'" - because apparently "X" wasn't supported.

#### Example

[code]

Repros with latest `assertj-core` 3.14.0

[2019-12-15 01:29] joel-costigliola commented on #1726
`usingRecursiveFieldByFieldElementComparator` is not as advanced as `usingRecursiveComparison` in term of recursive comparison logic, the latter comparing correctly optionals.

We are going to deprecate `usingRecursiveFieldByFieldElementComparator` in favor `usingRecursiveComparison` when https://github.com/joel-costigliola/assertj-core/issues/1238 is going to be addressed (hopefully is 3.15.0 but

[2019-12-15 01:54] joel-costigliola commented on #1730
Unfortunately we won't revert the changes that provided the `X` date format character support as this is standard java, AssertJ tries to be Android compatible but not at the expense of standard java.

If you know the date format in use, you can register it as a custom date format as they take precedence over the default ones.

I realized the javadoc is missing two of the supported default date for

[2019-12-15 05:34] ngeor commented on #1059
Hello, I was going over some old issues to see if I can help with something and this looked like a low hanging fruit. I pushed a commit on my branch without tests/docs yet. If this is still needed, I can continue.

[2019-12-15 09:43] joel-costigliola commented on #1730
Addressed in https://github.com/joel-costigliola/assertj-core/commit/f4c95bfa4de071f1357c3c438f3f8fa825064f6d

[2019-12-15 09:43] #1730 closed

[2019-12-15 21:15] joel-costigliola commented on #1059
@ngeor yes this is still relevant, thanks

[2019-12-16 02:54] kriegfrj opened #1731 "Custom Assertions and comparison failures"
#### Summary

Trying to write custom assertions. The examples given show the use of `failWithMessage()`.

The problem with `failWithMessage()` is that it doesn't populate the "expected" and "actual" fields of the generated assertion. These fields are useful to have populated where it makes sense to do so (eg, equality assertions on individual fields) as the IDEs use them to support graphical diff.

[2019-12-16 14:53] ngeor commented on #1059
One Travis job failed with:

[code]

can you maybe help me with that? Other than that the PR is open and waiting for your feedback :)

[2019-12-16 21:49] joel-costigliola commented on #1059
Don't worry about it, we have regular errors with that script, it is usually temporary, I'm restarting the build right now

[2019-12-16 21:51] joel-costigliola commented on #1059
ok I can't restart the build for PR :(

[2019-12-20 18:31] regishideki opened #1734 "Matcher that verifies change in some value"
#### Summary
In Rspec (a Ruby test library) there is a matcher called `change`:
https://relishapp.com/rspec/rspec-expectations/docs/built-in-matchers/change-matcher

It is very useful for some situations in which we want to verify if a value changed (or not).

#### Example
I see no Java/Kotlin libraries that do something similar. So I tried to start something to see if it was possible.

The code e

[2019-12-21 05:29] #1059 closed

[2019-12-22 04:10] joel-costigliola commented on #1726
Closing as addressed by #1238

[2019-12-22 04:10] #1726 closed

[2019-12-25 18:45] jftsunami opened #1735 "org.assertj.core.api.junit.jupiter not exported in module-info"
The package `org.assertj.core.api.junit.jupiter` should be added to the module-info exports.

[2019-12-26 10:19] #1452 closed

[2019-12-26 10:23] joel-costigliola commented on #1735
@scordio looks related to https://github.com/joel-costigliola/assertj-core/pull/1717 WDYT?

[2019-12-26 10:29] joel-costigliola commented on #1734
I get the idea but isn't that similar to:
[code]

I'm not 100% convinced of the value of adding such construct (which is more fluent though), is there something I don't see?

[2019-12-26 10:35] scordio commented on #1735
@joel-costigliola I think so, although it's not clear (to me) yet which direction we want to take about modular testing. My feeling is that we need first to revise if the current package is correctly built to satisfy both java 8 and modular java 9+ apps, then we can understand the gaps to cover with automated testing.

Anyway, in preparation for the 3.15 release, I would suggest to add the missing

[2019-12-26 10:36] joel-costigliola commented on #1735
that would be great thanks!

[2019-12-26 22:02] #1656 closed

[2019-12-26 22:44] jftsunami commented on #1735
Thank you.

[2019-12-27 00:14] #1735 closed

[2019-12-27 01:01] joel-costigliola commented on #1692
the new error message adds `package-private`, it looks like:
[code]

[2019-12-27 01:06] #1692 closed

[2019-12-27 10:09] joel-costigliola commented on #1214
Sorry for the long wait, here are my current thoughts:

[code]
or alternatively returning assertions on the future's result (since the future completed)
[code]
same assertions for failed future returning assertions on the future's exception:
[code]
my preference goes with returning the future's result for further assertions (so not the first option) to leverage existing assertions, moreover with `

[2019-12-27 19:07] regishideki commented on #1734
@joel-costigliola you are right saying you can do it the way you show us. But I prefer `change` matcher because:
- it shows the intent more clearly.
- as you said, the construct is more fluent. I think this counts a lot, especially in a test. If it was not the case, we could always use `assertTrue` for every assertion.

[2019-12-28 09:10] scordio commented on #1214
I like the second option to reuse existing assertions together with InstanceOfAssertFactory 👍

[2019-12-28 10:05] joel-costigliola commented on #1214
another thought, replace `completesWithin` by `succeedsWithin` to make it clear the future must return a value

[2019-12-28 10:14] scordio commented on #1214
The succeedsWithin/failsWithin pair seems a good option to me

[2019-12-28 18:39] scordio commented on #1414
I would not continue with jsr305 [due to issues with Java 9 modules](https://blog.codefx.org/java/jsr-305-java-9/) and we should probably remove the existing occurrences. Some libraries already started to opt out of it (e.g., google/guava#2960).

[The Checker Framework](https://checkerframework.org/) could be a viable alternative which [seems to be understood by Kotlin](https://github.com/JetBrain

[2019-12-28 21:46] joel-costigliola commented on #1414
I'm happy with removing jsr 305 since it causes more issues than benefits

[2019-12-29 05:58] joel-costigliola commented on #1214
I'll go with `succeedsWithin(long timeout, TimeUnit timeUnit)` over `succeedsWithin(Duration timeout)` as the error message with `Duration` does not look as good as with `long timeout, TimeUnit timeUnit`, moreover `succeedsWithin(long timeout, TimeUnit timeUnit)` is quite readable:

IMO
[code]
is slightly nicer to read than
[code]

error messages comparison
[code]
vs
[code]

[2019-12-29 08:02] frankbenoit opened #1738 "Quick start refers to older version"
#### Summary
https://joel-costigliola.github.io/assertj/assertj-core-quick-start.html
Here the maven+gradle dependency shown refers to 3.11.1, but the current version is higher.
The page should be updated.

[2019-12-29 08:17] frankbenoit commented on #1738
... and for Gradle 5+, `testCompile` shall be replaced with `testImplementation`

[2019-12-29 08:40] frankbenoit commented on #1738
.. dead link
https://joel-costigliola.github.io/assertj/assertj-core-news.html
Add Assumptions for Java 8 types to skip tests when preconditions are not satisfied.
Points to https://joel-costigliola.github.io/assertj/assertj-core-news.html#assertj-core-2.9.0-assumptions
which is not reachable.

[2019-12-29 08:46] frankbenoit commented on #1738
.. "JavaDoc (3.x)" links to 3.12.0 API, not the current 3.14.

[2019-12-29 09:00] jypma commented on #1214
My thoughts:

- At least keep `.succeedsWithin(Duration)` as an overload. I expect many cases have a timeout-like value here, that you'd want to hide away / scale upon globally, and reuse. So sth like `.succeedsWithin(reasonableTimeout)`. As for the error message, nothing says we _have_ to use `Duration.toString()` (which, I agree, sucks).

- For type-safe assertions on the type inside the future,

[2019-12-29 09:09] joel-costigliola commented on #1738
Hi @frankbenoit, this is the old site, the new one has moved to https://assertj.github.io/doc/ as per https://joel-costigliola.github.io/assertj/index.html ;-)

[2019-12-29 09:09] #1738 closed

[2019-12-29 09:10] joel-costigliola commented on #1738
If you find things to improve in the new site, please raise an issue in https://github.com/assertj/doc and even better address them with a PR, the new site is asciidoc which is much nicer to write.

[2019-12-29 09:19] joel-costigliola commented on #1214
thanks for your touhgts @jypma, I'll add/keep the `Duration` alternative, I'll see if I can come up with a better representation for `Duration`.

On the second point, I was planning to implement `completesWithin(duration, as(TYPE))`, notethat the other will be there anyway since it's available for all `XxxAssert` classes.

[2019-12-29 10:47] frankbenoit commented on #1738
@joel-costigliola right, it is pretty bold in the first page.

However, the old page is still first hit in google.
I navigate there, and directly hit "quick start" without reading the front page, because i knew from earlier where to find the needed info.

I guess it would be good in the old page to have the big blinking "old page, go there" on each subpage.

[2019-12-29 22:31] joel-costigliola commented on #1738
yeah, until people goes to the new site and google stop making it a the first it.

[2019-12-31 05:39] #1214 closed

[2019-12-31 06:23] LorenzoBettini opened #1740 "How is isDirectoryContaining supposed to work?"
#### Summary

I don't understand how org.assertj.core.api.AbstractFileAssert.isDirectoryContaining(String) is supposed to work (or is its Javadoc wrong?): According to its Javadoc

[code]

If I have a directory "root/com/example/Example.java", then this assertion should succeed (where outputDirectory is "root"):

[code]

But it fails saying that the directory contents is "com".

[2019-12-31 06:54] joel-costigliola commented on #1740
The javadoc indicates the syntax follows https://docs.oracle.com/javase/8/docs/api/java/nio/file/FileSystem.html#getPathMatcher-java.lang.String- which is not straightforward I do agree hence the other assertions with a `Predicate` where you can programmatically expresses the filter.

It looks like the `**` syntax is not traversing sub-directories but only look at the directory first level content

[2019-12-31 07:01] LorenzoBettini commented on #1740
Indeed I was expecting a recursive traverse assertion

[2019-12-31 10:10] scordio commented on #1512
@joel-costigliola one more try 🙂

What about `hasSuperclass(Class<?>)` which is backed by [`getSuperclass()`](https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#getSuperclass--) from the JDK?

Not flexible as the previous one as it doesn't match implemented interfaces but it's good enough for my purpose and doesn't deviate from JDK api.

[2019-12-31 10:46] joel-costigliola commented on #1512
Works for me! :)

[2019-12-31 12:53] wujek-srujek opened #1741 "Recursive assertions fail for nested enum types"
#### Summary

I have two types, an entity and a DTO, and they have a field called 'status', which are of different types but otherwise have identical constants. When using:

    assertThat(entity)
            .usingRecursiveComparison()
            .ignoringAllOverriddenEquals()
            .isEqualTo(dto)

differences between the enum fields are not reported. I debugged a bit and turns out the 'e

[2019-12-31 22:14] joel-costigliola commented on #1741
looks like https://github.com/joel-costigliola/assertj-core/issues/1691, right?

[2019-12-31 22:54] joel-costigliola commented on #1740
Just confirming it's not a bug and that the only the given directory is inspected.

Having said that, there is room for similar assertions with a recursive traversal of all subdirectories.
Possible syntax:
[code]
@LorenzoBettini WDYT? any better naming?

[2020-01-01 02:00] joel-costigliola commented on #1740
@scordio any naming suggestion for the recursive assertion?

[2020-01-01 08:06] wujek-srujek commented on #1741
Seems like it, with the only exception being that I compare two different types, and the enums are also different (one mirrors the other, but one has just the constants and the other a few other methods) so using == will not work. Here is a workaround I came up with based on the other issue (Kotlin code):

    .withComparatorForType({ entityStatus: Enum<*>, dtoStatus: Enum<*> -> entityStatus.name.

[2020-01-01 09:31] joel-costigliola commented on #1741
Using a specific comparator is one way to go if the enum are different types.

I think we should actually change the current implementation that uses `==` to compare enums, this is fine if the `strictTypeChecking` flag is `true` but if not (and by default it's not) we should not care about the type and just compare the enums according to their `name()` which is what you did.

[2020-01-01 10:07] wujek-srujek commented on #1741
Does this mean that, once this improvement is implemented, a custom comparatorForType similar to what I did will not be needed any more, even for non-strict type checking (i.e. different enum types)?

[2020-01-01 10:11] joel-costigliola commented on #1741
With this improvement, you will only need a comparator if you have enable the `strictTypeChecking`.

[2020-01-02 04:04] joel-costigliola commented on #1734
@scordio WDYT?

[2020-01-02 04:11] #1741 closed

[2020-01-02 08:21] LorenzoBettini commented on #1740
I would tend to avoid the boolean parameter (solution 1) and to prefer 3; the name in 2 does not sound correct in English but I'm not a native speaker ;)

[2020-01-02 21:08] slackwing commented on #1418
@sbrannen - Came here just to find out why `JUnitJupiterSoftAssertions` was deprecated, ended up learning so much about JUnit5 extensions. Your patient and detailed explanations are truly inspiring, thanks and keep it up.

[2020-01-05 19:51] scordio commented on #1734
The initial example changes the order of the statements compared to the RSpec matcher page and honestly I find confusing having the "when" as last statement.

Assuming we want to have this construct similar to the RSpec change matcher, I would structure it differently using lambdas (please forgive my java example):

[code]

or reusing RSpec terminology:

[code]

and internally it would execute lik

[2020-01-07 07:09] mdeinum opened #1746 "Improve the error message on contains method"
When using AssertJ and in this specific case using `extracting("name1", "name2").contains(val1, val2)` or the functional one `extracting(it -> it.getName1(), it -> it.getName()).contains(val1, val2)`. In case of a value not matching the error message is not as descriptive as one likes to be.

Currently it is :
[code]
And at first glance it isn't apparent what is wrong, as the values appear to matc

[2020-01-07 08:49] joel-costigliola commented on #1746
Indeed  when `actual` and `expected` have the same representation `isEqualTo` will replace their default representation with unambiguous ones (adding the type and the identity hash code).

Ideally we would do that for all assertions when representations are the same too but it is not straightforward (and sometimes not even possible) to decide which objects should be displayed  unambiguously (altho

[2020-01-07 13:59] regishideki commented on #1734
Hi @scordio, I explained why I modified the order of the methods in my first comment. The problem is with static type system (or with my knowledge about it). For example, what would you return in `assertThat(() -> person.setName("pedro"))` if you don't know the type variable?

[2020-01-07 16:27] scordio commented on #1734
Hi @regishideki, sorry I didn't express myself correctly. I understood why you did it but before going into that direction I would try to grab the needed type within the `changes()`/`toChange()` invocation, which would not force us to put the `when` at the end of the chain.

I will create a small PoC about this topic so I can see if my approach is feasible and we can see how it would look like.

[2020-01-07 21:42] joel-costigliola commented on #1746
Another option would be to just change the default representation of dates to be unambiguous, since these are classes could most likely have identical representations.

[2020-01-08 01:07] scordio commented on #1734
Here we go: https://github.com/joel-costigliola/assertj-core/compare/master...scordio:rspec_change_matcher

It seems to be feasible but I already see some points to address:
* Better error messages are needed
* `by()` will grow with boilerplate to support all numeric types
* `ExpectChangeMatcher` methods should probably have better segregation (e.g., `from`/`to` should not be mixed with `by`)

@jo

[2020-01-08 01:54] joel-costigliola commented on #1734
I'm ok with the feature if some people find it useful as long as it is something huge to maintain (it lokks ok in that regard so far).

my personal preference would go for the first syntax propose by @scordio which I feel is the most readable:
[code]
my only concern would be that it is another `assertThat` but I think I can live with it if we don't find better alternatives.

[2020-01-08 01:58] #1512 closed

[2020-01-08 22:04] scordio commented on #1734
As a result of the PoC, I would propose to use `assertThat` as entry point only if this is going to be a separate module from core features, because it has a special behavior and having it in the core could confuse the end user.

To see it better, imagine the corresponding BDD entry point: `assertThat(() -> person.setName("pedro"))` should correspond to `then(() -> person.setName("pedro"))` but in

[2020-01-09 00:14] regishideki commented on #1734
@scordio, I liked the changes you did.

[2020-01-09 23:14] x80486 opened #1747 "Chained HasNoNullFieldsOrPropertiesExcept should have the same effect as using it once"
## Summary

`hasNoNullFieldsOrPropertiesExcept` can be chained, hence, it looks like it should account for all the values on the different places where it is used before stating the result(s).

### Example

[code]

[2020-01-10 02:15] joel-costigliola commented on #1747
By default AssertJ stops at the first failing assertion, to get a report will all failed assertions you have to use soft assertions https://assertj.github.io/doc/#assertj-core-soft-assertions.

Is that what you are looking for?

[2020-01-11 17:23] fduminy commented on #1459
I have created [assertj-mockito](https://github.com/fduminy/assertj-mockito) for the purpose of using both assertj SoftAssertions and mockito assertions.

Do you know another framework having soft assertions ?

[2020-01-11 20:18] fduminy commented on #778
@filiphr I have updated your patch on [my branch](https://github.com/fduminy/assertj-core/commits/pitest-setup)

[2020-01-11 23:43] tommysitu opened #1749 "Recursive comparison that ignore fields by types"
`.usingRecursiveComparison()` is really useful for objects that don't override equals and hashcode.

In order to assert an object with fields that has random values, like id, uuid or datetime, I'll need to ignore them using this method:
https://github.com/joel-costigliola/assertj-core/blob/master/src/main/java/org/assertj/core/api/RecursiveComparisonAssert.java#L251

[code]

It works like a charm,

[2020-01-12 00:01] tommysitu opened #1750 "Is it possible to provide RecursiveComparisonConfiguration for usingRecursiveFieldByFieldElementComparator()"
I can pass a `RecursiveComparisonConfiguration`  to `usingRecursiveComparison()` for ignoring certain fields, but it's not possible when asserting collection types  with `usingRecursiveFieldByFieldElementComparator()`.

[2020-01-12 03:37] SElab2019 opened #1751 "Updating from 3.11.1 to 3.14.0 breaks"
When I try to upgrade assertj-core from 3.11.1 to the latest version 3.14.0. The following code breaks.
[code]

The test should pass, but it failed with error:
[code]

[2020-01-12 09:02] joel-costigliola commented on #1751
Thanks for reporting this, we will look at it shortly.

[2020-01-12 09:54] joel-costigliola commented on #1751
The (subtle) issue is the addition of `containsOnlyKeys(Iterable<? extends K> keys)` in 3.12.0, it turns out to be a breaking change when given a `Path`, as `Path` is an `Iterable` the new method is called which check the elements (`tmp, test, file`) instead of the given `Path` itself.

In this case the best way forward is not to use `containsOnlyKeys` but a combination of `hasSize` chained with `

[2020-01-12 10:45] scordio commented on #1751
What if we change `containsOnlyKeys(Iterable<? extends K> keys)` to:

[code]

This would mean you cannot use a `Path` as an `Iterable` anymore, but probably this is not a real use case.

[2020-01-13 02:18] joel-costigliola commented on #1751
Good thinking @scordio!

[2020-01-13 20:26] joel-costigliola commented on #1750
Indeed it is not possible, that's why we added `usingRecursiveComparison()` and the new recursive comparison API.
There is no plan to to retrofit but in 3.15.0 at the moment.

[2020-01-13 20:31] joel-costigliola commented on #1749
We certainly add that, something like `ignoreFieldsForTypes(Class<?>... typesToIgnore)`

[2020-01-13 21:45] tommysitu commented on #1750
ok, will check out the new recursive comparison API 👍

I have been doing this with v3.14.0
[code]

[2020-01-13 21:45] #1750 closed

[2020-01-13 21:46] tommysitu commented on #1749
I can try raising a PR for that :)

[2020-01-14 09:39] #1751 closed

[2020-01-14 09:48] joel-costigliola commented on #1238
I added `usingRecursiveComparison` in [iterable assertions](basic support for ) but this only provides `isEqualTo` assertion.

To expose more assertions we need to take the road of `RecursiveIterableComparisonAssert`, to report differences for existing assertions we have to rewrite iterable assertions in`RecursiveIterableComparisonAssert`, the other option is to use a comparator implemented with `

[2020-01-14 17:02] SElab2019 commented on #1751
Thanks for your helping and confirmation!

[2020-01-15 03:39] SElab2019 opened #1756 "Updating from 3.8.0 to 3.14.0 breaks due to containsSequence"
When I try to upgrade assertj-core from 3.8.0 to the latest 3.14.0. The following code breaks. The issue starts from version 3.9.0. The original test case is complicated, so I just short the string into a  text file.
[code]
The text file content is:
[code]

The test should pass, but it failed with an error:
[code]

[2020-01-15 04:23] joel-costigliola commented on #1756
reason is a breaking change in 3.9.0 (which supersedes 2.9.0 with java 8 specific feature), details here https://joel-costigliola.github.io/assertj/assertj-core-older-releases.html#assertj-core-2.9.0.

javadoc extract:
[code]

TL;DR replace by `containsSubsequence`

[2020-01-15 09:33] joel-costigliola commented on #1747
@x80486 I'm closing this issue but happy to reopen it if my answer did not address it.

[2020-01-15 09:33] #1747 closed

[2020-01-15 19:47] SElab2019 commented on #1756
Hi @joel-costigliola , thanks so much for your help. Actually, I do try to find the breaking change in the release note. I found the issue starts from 3.9.0, and I didn't find any announcement there. BTW, would you mind also adding one line in the 3.9.0 release note?

[2020-01-15 20:22] joel-costigliola commented on #1756
the 3.9.0 notes has a link to the 2.9.0 ones, not super handy but avoid duplication.
what I need to do is add a link on the new site to the older release notes

[2020-01-15 21:30] SElab2019 commented on #1756
Alright. That's awesome. Thanks again for your help.

[2020-01-16 20:41] #1756 closed

[2020-01-17 12:21] aleks-oracle opened #1757 "Detailed assertion error if the field is an object itself with many fields"
#### Summary
Hello! We faced the problem that if the field in comparing objects is an object itself and there are assertion errors, assertJ does not print in the error message exact fields from these objects which do not equal, only the message that fields do not equal.
It is a huge problem when object contains 100+ fields.

#### Example
java.lang.AssertionError:
Expecting: ...
to be equal to:...

[2020-01-17 21:02] joel-costigliola commented on #1757
AssertJ recursive comparison compares fields and prints their differences, fields are compared with their `equals` method if the latter has been overridden (so no sub-recursive comparison in that case), I suspect that the huge display comes from fields that have overridden `equals`.

You can ignore `equals`, see https://assertj.github.io/doc/#assertj-core-recursive-comparison-ignoring-equals.

If

[2020-01-18 17:38] fduminy commented on #1646
Another alternative is [tempus-fugit](http://tempusfugitlibrary.org/recipes/2013/03/17/wait-for-ui-element/)

[2020-01-18 17:52] fduminy commented on #1569
any news about this ?

[2020-01-18 19:33] scordio commented on #1459
What if we try to resurrect the topic again in ota4j-team/opentest4j#3 to have a standardized approach?

[2020-01-19 00:11] joel-costigliola commented on #1646
nice, did not about that one

[2020-01-19 00:12] joel-costigliola commented on #1569
We'll look into it soon, promise!

[2020-01-19 01:32] joel-costigliola commented on #1459
I agree having a common mechanism would be ideal.

[2020-01-19 12:50] aleks-oracle commented on #1757
Omg, it did help!
We actually have implicit overridden 'equals' by Lombok's @Data annotation.
So, we added 'ignoringAllOverriddenEquals()' and  got the desired result:

field/property 'insuranceContract.insurerId' differ:
- actual value   : "38681792"
- expected value : "rerefer"

Thank you so much!

P.S. Also, let me thank you for this amazing assertJ library.
We moved to it from testNG's asserti

[2020-01-19 12:50] #1757 closed

[2020-01-19 13:03] amizurov opened #1759 "Assertion hasNoNullFieldsOrProperties() throw error for delegate Map implementation"
#### Summary

We have some own classes with extra logic that implement Map interface but delegate invocation to backed HashMap. This is related commit https://github.com/joel-costigliola/assertj-core/commit/337f99eee5cdcab9270145c47b429cbc48fb0134

#### Example

[code]

[2020-01-19 20:18] joel-costigliola commented on #1757
Glad it helped and thanks for the kind words :)

[2020-01-24 01:49] joel-costigliola commented on #1759
Thanks for reporting this, we are going to look at it shortly!

[2020-01-26 01:39] scordio commented on #331
Hi @lpandzic, to resurrect this old issue:

There is no way the compiler can infer and enforce the field types on `extracting(String...)` because only field names are available at compile time.

Currently, this is also not possible on `extracting(Function<? super ELEMENT, ?>...)` because extractors with different types can be mixed and the base element type of the resulting collection is always `O

[2020-01-26 08:58] #1759 closed

[2020-01-26 18:20] blackat opened #1765 "Using a custom comparator for a type not working"
#### Summary
I would like to extract from each element in the list only certain properties.
One of them is an Object with id and name, but the test fails.

In debug mode the comparator is not even called, so the default equals is called. Any of the objects contains equals.

Could you please advise me on how to set and use the custom comparator?

#### Example

[code]

This is the exception I obtain

[2020-01-26 20:06] joel-costigliola commented on #1765
The [javadoc](https://www.javadoc.io/static/org.assertj/assertj-core/3.14.0/org/assertj/core/api/AbstractIterableAssert.html#usingComparatorForElementFieldsWithType(java.util.Comparator,java.lang.Class)) states that

You should give a try to new recursive API which gives better report and more control over the comparison

[2020-01-28 08:38] joel-costigliola commented on #1749
closed with https://github.com/joel-costigliola/assertj-core/commit/5afe94e73776e1c24f2bafaf5a5cdbeb9f7ad85d

[2020-01-28 08:38] #1749 closed

[2020-01-28 08:40] joel-costigliola commented on #1662
We have Github actions running windows build (and Mac OS too) :)

[2020-01-28 08:40] #1662 closed

[2020-01-28 15:02] sormuras opened #1766 "Version 3.15.0 not available via Maven Central et al"
#### Summary

It looks like version `3.15.0` was released today:

- https://github.com/joel-costigliola/assertj-core/releases/tag/assertj-core-3.15.0
- https://twitter.com/JoCosti/status/1222091408346992642

Thanks to the AssertJ team: Stefano Cordio, Pascal Schumacher and Erhard Pointl.
Happy assertions!

But it is not available from various places:

- [x] https://search.maven.org/artifact/org.as

[2020-01-28 15:47] scordio commented on #1766
It should appear soon as it's already available in the [OSS Nexus](https://oss.sonatype.org/content/groups/public/org/assertj/assertj-core/3.15.0/).

[2020-01-29 04:15] sormuras commented on #1766
Updated initial description as search and bintray are providing the version.

[2020-01-29 04:20] joel-costigliola commented on #1766
https://repo1.maven.org/maven2/org/assertj/assertj-core/3.15.0/ is good although 3.15.0 does not show up in https://repo1.maven.org/maven2/org/assertj/assertj-core/ but I guess it's juts a matter of time

[2020-01-29 20:42] joel-costigliola commented on #1766
https://repo1.maven.org/maven2/org/assertj/assertj-core/ is good now, closing the issue

[2020-01-29 20:42] #1766 closed

[2020-01-30 00:36] scordio opened #1768 "Trailing space in the modifiers list for ClassModifierShouldBe"
#### Summary
When a class is only `package-private` and a `ClassModifierShouldBe` message is created, the list of modifiers in the failure message contains a trailing space right after the `package-private` value.

#### Example

Given:

[code]

`assertThat(PackagePrivate.class).isPublic()` yields:

[code]

[2020-01-30 09:09] joel-costigliola commented on #1765
@blackat I'm closing that issue but feel free to comment if you need more information

[2020-01-30 09:09] #1765 closed

[2020-01-31 23:33] bjhargrave commented on #1731
Making `AbstractAssert.withAssertionState` protected (currently package private) would be a great initial step here. This method is used when mapping assertion types with `AbstractAssert.asInstanceOf` and also when extracting with `AbstractObjectAssert.extracting` to propagate assertion state information to the new assertions. Custom assertions could use `AbstractAssert.withAssertionState` to prop

[2020-02-01 08:27] scordio commented on #1731
In your original comment you wrote `protected` where I tend to agree, but `public` maybe is too much, or do you see a use case where a custom assertion would not inherit from `AbstractAssert`?

[2020-02-01 13:20] bjhargrave commented on #1731
The issue is that I would like to write something like:

[code]

So that I can create a new child assertion for some aspect of `actual` and copy `myself`'s assertion state into the new assert. So having `withAssertionState` be protected is of no help since I need to call it on another assert object and not on my assert object. (I realized that as I reread my original comment.)

If my custom assert

[2020-02-02 08:05] #1768 closed

[2020-02-02 09:03] ebundy commented on #1740
@joel-costigliola
Hello,

If not implemented yet, I can work on it.

[2020-02-02 13:50] blackat commented on #1765
Thanks a lot @joel-costigliola I will go on experimenting/testing :-)

[2020-02-02 20:58] joel-costigliola commented on #1740
Thanks @ebundy, let's  implement no3:
[code]

[2020-02-02 23:39] scordio commented on #1731
Hi @bjhargrave, I plan to take another look at your comment/example to understand your use case better, meanwhile about the following:

Why do you think that `AbstractPromiseAssert` extending `AbstractObjectAssert` would be a bad solution? Are you concerned about exposing additional APIs (e.g., `hasFieldOrProperty()`, `returns()`) which are not relevant for your custom assertion?

[2020-02-03 13:29] bjhargrave commented on #1731
Yes. If you look at the standard assertions in AssertJ, you find most of them do not extend `AbstractObjectAssert`. Most extend `AbstractAssert`. `CompletableFutureAssert` is the closest to `PromiseAssert` (in that CompletableFuture and Promise address similar problem spaces) and `CompletableFutureAssert` extends `AbstractAssert`. `OptionalAssert` also extends `AbstractAssert` and Optional, like P

[2020-02-03 22:26] scordio commented on #1731
@bjhargrave thanks for the explanation, it is exactly what I thought.

I still would avoid exposing `withAssertionState()` if possible. What if we "promote" `extracting(Function)`/`extracting(String)` as protected methods of `AbstractAssert`?

@joel-costigliola thoughts?

[2020-02-03 22:50] bjhargrave commented on #1731
That would work for my use case. Thanks.

You may also want to promote the `InstanceOfAssertFactory` variants such as `extracting(Function, InstanceOfAssertFactory)` to `AbstractAssert`. They are not strictly necessary, but they are a nice complement.

[2020-02-04 01:23] kriegfrj commented on #1731
:+1: for promoting the `InstanceOfAssertFactory` variants too. They are not strictly necessary for the `PromiseAssert` use case because the type of the value is not known at compile time and so you can't narrow the assertion class beyond `AbstractObjectAssert`. But we had discussed the possibility of a `BundleAssert.hasVersionThat()` method which would ideally return an `AbstractVersionAssert` (se

[2020-02-04 02:26] scordio commented on #1731
This would be my proposal, definitely not being public in `AbstractAssert`. And yes, I would move the `InstanceOfAssertFactory` variants too.

As far as I understood, if `extracting()` is protected there is no need to have also `withAssertionState()` as protected, I would leave the latter as package-private.

[2020-02-04 02:52] kriegfrj commented on #1731
Yes, this proposal is quite separate to the use cases we are discussing. But the use cases are already there in AssertJ itself - some of the assertion classes override `withAssertionState()` (`AbstractObjectAssert`, `AbstractObjectArrayAssert`, `AbstractIterableAssert`). They do this because they store their own specific state that is not part of `AbstractAssert` and they want to copy it. It is re

[2020-02-04 02:54] #1704 closed

[2020-02-04 09:20] joel-costigliola commented on #1731
What about making `withAssertionState` protected? One would be able to use it in subclasses and if it is possible to override it just to make it public.

@kriegfrj @bjhargrave would that address your use cases?

[2020-02-04 11:18] kriegfrj commented on #1731
Sounds good to me!

[2020-02-05 05:47] kriegfrj opened #1773 "Discussion: Change assertion hierarchy to use interfaces?"
#### Summary

For reasons of historical necessity, AssertJ has used abstract classes to form the backbone of the assertion class hierarchy. There are a couple of disadvantages to this:

1. Harder to proxy. The soft assertions proxy must use a code-weaving library to implement soft proxies, for example.
2. No multiple inheritance. So if you have `class A extends B implements C`, then you have to ma

[2020-02-05 07:09] lpandzic commented on #331
As far as I'm concerned, this issue can be closed.

[2020-02-05 07:09] #331 closed

[2020-02-05 09:32] joel-costigliola commented on #331
Thanks for the feedback @lpandzic.

[2020-02-05 11:03] lukas-krecan opened #1774 "Add "Remove duplication for Descriptable implementations" to braking changes of 3.15.0"
#### Summary

This commit https://github.com/joel-costigliola/assertj-core/commit/618609cc0a05414ef1a117cf616621310cd062ee#diff-c0ecfbb7e9c4271683c9c00215303ca9 moved method implementations from an abstract class to interface default method. While it it source compatible change, it breaks libraries that were compiled with older version. (see for example https://github.com/lukas-krecan/JsonUnit/iss

[2020-02-05 11:27] ebundy commented on #1740
Hello,

You are welcome. I have just examined the current API around `isDirectoryContaining()`.
To be consistent and symmetric with the current API we should define 4 API methods both for `FileAssert`. WDYT?
If the approach suits correct for you, I will do the job for these 4 methods ofp `FileAssert`  :
[code]

And just for the record, it seems that `PathAssert` the Path counterpart of `FileAssert

[2020-02-05 13:56] ebundy commented on #1740
In `org.assertj.core.internal.Files`,  is there any reason to not use the Java 7 Path API to perform the processings ?

In assert methods I will add, for example  `assertIsDirectoryRecursivelyContaining()`,  in order to prevent iterate files more than required and to keep the code simple, I would like to favor `Files.walk(inputFile.toPath())` to some recursive call to `File.listFiles(FileFilter)`

[2020-02-05 21:02] joel-costigliola commented on #1774
I'll add it to the release notes breaking changes.

[2020-02-05 22:13] scordio commented on #1774
Done in [18ecd0c](https://github.com/assertj/doc/commit/18ecd0c131fe34c2dcc23c62cf1668309390e704).

[2020-02-05 22:13] #1774 closed

[2020-02-06 05:03] joel-costigliola commented on #1740
The 4 methods are needed for consistency, yes.
They should also be added to path assertions but in another PR to keep the PR to a reasonable size.
One thing you can do is implement one of the method and notify me when it is done, I can then review it. This will give guidance for the remaining methods to write and less work for both of us (general review comments won't have to be addressed four tim

[2020-02-06 07:47] ebundy commented on #1740
Agreed. Let's go.

[2020-02-06 09:01] joel-costigliola opened #1775 "Float and Double isNotEqualTo should use primitive comparison when compared to primitive float/double values"
#### Summary

`assertThat(Double.NaN).isNotEqualTo(Double.NaN)`  fails when it should pass as `Double.NaN==Double.NaN` has the value false (as per https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/Double.html#equals(java.lang.Object).

The reason is succeeds is that `isNotEqualTo` converts `Double.NaN` to a `Double` and uses  `Double.equals` instead `==`.

This should have bee

[2020-02-06 10:49] wimdeblauwe opened #1776 "Allow assertion on the root cause message"
#### Summary

It is currently not directly possible to assert on the root cause message. There is a workaround possible by using `hasStackTraceContaining`, but it would be nice if this was supported directly.

See also https://stackoverflow.com/questions/38943346/assertj-assert-on-the-cause-message

#### Example

I would like to be able to do this:

[code]

So to be consistent, probably the follow

[2020-02-06 10:49] SebastianStavar opened #1777 "ImprovementRequest: please add the ability to display successful asserts as well"
It would be wonderful if we would have the ability to display the test description when it passes as well. Like overload as() to have a boolean parameter which when set to true would display the description when the test passes as well.

[2020-02-06 10:52] SebastianStavar commented on #1777
Looks like I'm not the only one wanting this. https://stackoverflow.com/questions/56436541/assertj-log-all-passing-and-failing-assertions contains a case why this would be useful.

[2020-02-06 11:21] scordio commented on #1776
I just posted [another answer](https://stackoverflow.com/a/60093740/9714611) in the SO question using AssertJ >= 3.14.

However, maybe a shortcut could be provided to change the assertion subject, e.g., `getCause()`/`getRootCause()` which would return an updated `ThrowableAssert`.

Would this help your use case?

[2020-02-06 11:56] wimdeblauwe commented on #1776
Interesting, but how can I combine that with `assertThatExceptionOfType()` ?

[2020-02-06 15:34] sormuras commented on #1504
Guess, we need to reopen this issue, as 3.15.0 introduced a regression. Will a create a PR showing the underlying issue in Byte Buddy (possible already solved by https://github.com/raphw/byte-buddy/commit/d9a5b3af63d12730c39d15ea6830933383c648d4) ... soon.

[2020-02-06 15:53] scordio commented on #1776
I just realized I was referring to the [`catchThrowable`](https://assertj.github.io/doc/#assertj-core-exception-assertions-bdd-style) style, but your example mentioned [`assertThatExceptionOfType`](https://assertj.github.io/doc/#assertj-core-exception-assertions-assertThatExceptionOfType).

Unfortunately `extracting` is not available in the latter so we would need to extend `ThrowableAssertAlterna

[2020-02-06 16:22] wimdeblauwe commented on #1776
Consider this a request for adding `extracting` in that case :)

[2020-02-06 21:54] scordio commented on #1776
I see potentially two options here:
1. Let `ThrowableAssertAlternative` extends from `AbstractObjectAssert` similarly to `AbstractThrowableAssert`, this way `extracting` would be a quick win but we have a missing `InstanceOfAssertFactory`
[code]
2. Add something like `havingCause()`/`havingRootCause()` to `ThrowableAssertAlternative` to change the assertion object
[code]

I tend to favor the secon

[2020-02-07 01:41] joel-costigliola commented on #1776
I like the second option better too because it directly uses the exception domain language (cause, root cause) whereas the `extracting` option shows implementation/plumbery on how to get cause and root cause which makes the code harder to read (and is not obvious to write)

[2020-02-07 01:48] joel-costigliola commented on #1777
Where does the description should be displayed? console output? a report of some sort?
Writing on the console should be starightforward, having a report is not, that will likely require some kind of global state (which usually rings alarms to my ears)

I would rather add a parameter in assertj global configuration to control that over overloading as.

[2020-02-07 01:57] SebastianStavar commented on #1777
To be honest in my case console output is fine. The reason I mentioned the overload is because this way you could decide which asserts you do want to see even when they pass and which ones you don't. At the same time I do see your point of having a global config that you can just switch on/off and then all asserts behave the same and I think that is the more probable case.

[2020-02-07 02:36] joel-costigliola commented on #1777
What is your use case exactly, debugging tests? or having a report of what went well?

[2020-02-07 03:08] SebastianStavar commented on #1777
Debug in my case. As part of the logs I also have a highly verbose output from the console of a device, so it would be nice to be able to see the asserts happening as the test progresses while also monitoring what the device is outputting. It would be easier to follow the tests progressing to the point of failure.
But to be honest I perfectly see a case where as part of a bdd approach I don't only

[2020-02-07 06:55] wimdeblauwe commented on #1776
I like option 2 also better.

Maybe the naming could be `containsCause()` like the assert for `Optional` that has `contains(String)` ?

Or `hasCauseSatisfying()` like `hasValueSatisfying` of `Optional`?

Would it also mean that it would be possible to keep going down the exception hierarchy like this (using the naming of @scordio again for clarity):

[code]

I would then also add a `havingRootCaus

[2020-02-07 07:19] scordio commented on #1776
My thinking of `havingCause()` is similar to [`Optional#get()`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/AbstractOptionalAssert.html)

yes it would be possible to keep going down the hierarchy

I agree it would make sense

[2020-02-07 08:27] piefel commented on #1499
Perhaps a breaking change is needed from time to time. Method overloading that depends on whether or not exceptions are thrown is a bit weird anyway. How about `extractingWhileConvertingExceptions`?

[2020-02-08 04:54] joel-costigliola commented on #1776
I was not explicit about it but I was thinking we should add both `havingCause` and `havingRootCause`.

[2020-02-09 10:06] #1775 closed

[2020-02-09 16:19] wimdeblauwe commented on #1776
I am trying to see if I can create a PR to support this, but this is my first time navigating the code base, so I will need some guidance :)

I started with adding this to `ThrowableAssertAlternative`:
[code]

But I wonder:
1) We should probably check if there is actually a cause (or root cause). What would be the best way to do this?
2) Should the return type be `ThrowableAssertAlternative` or `T

[2020-02-09 21:44] joel-costigliola commented on #1776
We should indeed check for the cause/root cause, I would throw an `AssertionError` in that case with an explicit message like `"expecting %s to have a cause/root cause but it did not"`. Something to add to `ShouldHaveCause`/`ShouldHaveRootCause` (with unit tests obviously 😉).

If we started `ThrowableAssertAlternative` we should be consistent and continue with it.

Once you have called `havingCaus

[2020-02-09 22:01] scordio commented on #1776
@wimdeblauwe thanks for jumping on it! Feel free to open a pull request when ready and we can interact directly on top of your code.

Thinking out loud, the current pattern of `ThrowableAssertAlternative` is to fully delegate to `ThrowableAssert`. Should we do the same for `havingCause` and `havingRootCause`? Meaning, `AbstractThrowableAssert` should be extended to support two new methods (`getCau

[2020-02-10 11:52] ebundy commented on #1740
@joel-costigliola

You probably didn't see my edit. Sorry, the next time I would add another comment instead of.

[2020-02-10 12:43] wimdeblauwe commented on #1776
Do you mean to add those methods to `org.assertj.core.util.Throwables` ?

No you are right, I had not looked closely enough :)

2 other questions after reading the contribution guidelines:
1. Should I fork the repo to open a PR?
2. The example test in the guidelines extends from `BaseTest`, but that class no longer exists and the test currently uses no base class at all. Should the guide be update

[2020-02-10 13:33] wimdeblauwe commented on #1776
See #1782 for my PR. I think/hope it is fairly ok. I did have to do something a bit strange in the `ShouldHaveCause` and `ShouldHaveRootCause` classes. As you cannot create a constructor with a single `Throwable` argument 2 times (for obvious reasons), I had to create an extra public factory method. If there is a better solution, please let me know.

[2020-02-10 20:22] joel-costigliola commented on #1773
👀

[2020-02-10 20:27] joel-costigliola commented on #1740
I indeed missed it! I'll think about it and get back to you. (ping me if I don't by the end of the week)

[2020-02-10 20:36] joel-costigliola commented on #1776
@wimdeblauwe thanks for the PR, I'll have a look at it in the next few days.
Don't worry too much about the PR, we are here to give feedback and guidance.

The guidelines should be updated indeed, good catch!

[2020-02-10 23:07] cheister opened #1783 "assertThat(Double.NaN).isEqualTo(Double.NaN) fails"
#### Summary
`assertThat(Double.NaN).isEqualTo(Double.NaN);` fails with

[code]

#### Example

[code]

It seems like this is related to https://github.com/joel-costigliola/assertj-core/issues/1715 ? but it still fails on master if I add the above test to src/test/java/org/assertj/core/internal/doubles/Doubles_assertEqual_Test.java

I tried `doubles.assertEqual(someInfo(), Double.NaN, Double.NaN);`

[2020-02-11 01:40] joel-costigliola commented on #1783
This is indeed related to #1715 and a breaking change in [3.15.0](https://assertj.github.io/doc/#assertj-core-3-15-0-release-notes).

`Double.NaN` being a primitive `double` AssertJ now use `==` instead of `equals` to compare them.
As per [Double.equals](https://docs.oracle.com/javase/8/docs/api/java/lang/Double.html#equals-java.lang.Object-) javadoc:

The error message is a bit confusing in that

[2020-02-11 01:45] joel-costigliola commented on #1783
If you really want to get the pre 3.15.0 behavior, you can convert the expected value to `Double`.

[2020-02-11 06:47] cheister commented on #1783
Got it.  Casting it to `Double` worked.

Following the java standard makes sense as a rule but it's surprising that I'll have to remember to cast any `double`s to `Double`s to assert equality on all values of double.

Thanks for the quick response.

[2020-02-11 08:24] ebundy commented on #1740
Ok, thanks !

[2020-02-11 20:25] joel-costigliola commented on #1783
That will not work either for all values as if d1 represents +0.0 while d2 represents -0.0, or vice versa, the equal test has the value false, even though +0.0==-0.0 has the value true. (as stated in https://docs.oracle.com/javase/8/docs/api/java/lang/Double.html#equals-java.lang.Object-).

Anyway I'm happy I could help

[2020-02-11 20:25] joel-costigliola commented on #1783
Just reopening the issue to provide a better error message when comparing NaN

[2020-02-12 11:59] Salefou commented on #1002
Hello, first of all amazing framework !
I have two questions :

I'd like to know if it is possible, when asking for a strict type checking, to discard it for lambda expressions ?

Also is there a way to provide a custom comparator for some fields matching a regex ? The regex builder for discarding some fields is very useful as I am now dealing with a code that has some cyclical pointing in it, but

[2020-02-12 21:08] joel-costigliola commented on #1002
hey thanks for the kind words!

it's not supported at the moment, can you give us a concrete use case? (with an example if possible)
create a new issue for it, it will be easier to discuss about it.

Not supported, but we can add that, same as my other comment, create a new issue for it and provide a concrete example (will be helpful for testing)

[2020-02-14 01:43] dattebayorob opened #1787 "assertThatThrownBy doesNotThrowAnyException fail when callable doesnt throw any exception"
#### Summary

In my test the method call should pass if none exception is throwed, but if the ThrowingCallable doesn't throw anything an assertion error happens

#### Example

[code]

Am I doing something wrong?

[code]

[2020-02-14 02:00] dattebayorob commented on #1787
assertThatCode worked.

[2020-02-14 02:00] #1787 closed

[2020-02-14 09:33] #1783 closed

[2020-02-16 09:18] #1776 closed

[2020-02-20 11:08] ASarco opened #1791 "usingFieldByFieldValueComparator() fails for Optional"
#### Summary
When I try to use usingFieldByFieldValueComparator() to compare the fields of the value of an Optional with another objects, it fails because is actually using equals on the objects.
Using version 3.15.0 or 3.14.0

#### Example

[code]
fails with:

org.opentest4j.AssertionFailedError:
Expecting:
  <Optional[uk.co.landbay.assertj_presentation.entities.Starship@64c87930]>
to contain:

[2020-02-20 15:20] wimdeblauwe commented on #1776
Shouln't the milestone `3.16.0` be attached to this issue?

[2020-02-20 19:47] scordio commented on #1776
Thanks, added 👍 We also forgot to introduce the `@since` in the javadoc, I added it in d4f191cdc2fa54a9f9d3cb7858a279142ce54090.

[2020-02-20 19:59] joel-costigliola commented on #1791
try using the new recursive api, it supports Optional. look for
usingRecursiveComparison in the new website

On Fri, Feb 21, 2020, 00:08 ASarco <notifications@github.com> wrote:

[2020-02-25 10:17] dstoianov opened #1792 "convert from Hamcrest to AssertJ assertion"
#### Summary
Can someone suggest how to write code down below using `AsserJ`

#### Example

[code]

[2020-02-25 20:23] joel-costigliola commented on #1792
Try [anySatisfy](https://www.javadoc.io/static/org.assertj/assertj-core/3.15.0/org/assertj/core/api/AbstractIterableAssert.html#anySatisfy(java.util.function.Consumer))

[code]

[2020-02-25 22:37] dstoianov commented on #1792
thank you for your answer, it is good, i want to use it in a bit another context

this will work only with 100% match, do we have in assertj `containsString` matcher
[code]

[2020-02-26 01:02] joel-costigliola commented on #1792
I'm not sure to understand what assertion you want to do, can you clarify?

[2020-02-27 11:43] aleks-oracle opened #1793 "Improvement Request: ignoringExpectedNullFields"
#### Summary
Hello! Let me thank the creators of this wonderful framework once again.

At the moment we have the option "ignoringActualNullFields/isEqualToIgnoringNullFields (for null actuals too)".
In addition to this, it would be nice to have the same option for Expected Null fields.

#### Example
It is an often case to fill some fields only during the test.
For example, entity ID - it is create

[2020-02-28 01:22] joel-costigliola commented on #1793
Would the new recursive comparison work for you?
Thanks for the kind words!
In the new recursive comparison api, you can ignore fields by regexes so it should be easy to ignore all the id fields: https://assertj.github.io/doc/#assertj-core-recursive-comparison-ignoring-fields.

let me know if that works for you

[2020-02-28 11:43] aleks-oracle commented on #1793
Hi, Joel! Thanks for response.
Yes, this will work.
The question was, there could be many such expected null-fields, not only ID.
And the possibility to ignore them all at once would be more convenient.

[2020-02-29 03:00] joel-costigliola commented on #1793
Alright fair enough!

[2020-02-29 10:41] joel-costigliola commented on #1721
@LybrialsGit sorry for the late response, I could not reproduce the issue with the code below (a simplified version of yours which I could not use due to the appolo imports):
[code]

The test passes too with `.ignoringFields("parentFields.value.__typename")`  and if I comment `ignoringFields` the test fails as expected.

Which version were you using, we have added support for Optional in 3.14.0, c

[2020-02-29 11:15] LybrialsGit commented on #1721
Hi!
Did not update the issue, sorry. 3.15.0 did not have that problem. Thx.

[2020-02-29 11:15] #1721 closed

[2020-03-02 11:55] xgouchet opened #1795 "Problem with AbstractAssert.overridingErrorMessage when no arg is provided"
#### Summary

This is an old issue (#35) that was fixed in commit [44648c3d](https://github.com/joel-costigliola/assertj-core/commit/44648c3d95ac678dc977ebca3866b96c63a1cb08), but broken again with the commit [932339d2](https://github.com/joel-costigliola/assertj-core/commit/932339d2166ed776d0d7e375a3f8358e88d833f8#diff-b524f46f2b3f708cdd6ef17afbae1916) fixing #312 :

Even though the overriding me

[2020-03-02 13:06] fletchgqc opened #1796 "URL should test for logical equality"
#### Summary
The following test case returns false. I think that it should return true, as these two URLs are logically and practically equal:

#### Example

[code]

[2020-03-02 20:14] joel-costigliola commented on #1795
Thanks for reporting this! will be fixed in 3.16.0

[2020-03-02 20:20] joel-costigliola commented on #1796
That's a good idea but not for `isEqualTo` which follows the `equals` semantics.
What would a good name for the assertion?

[2020-03-03 09:52] joel-costigliola commented on #1795
@xgouchet which version are you using? your example fails as expected in master with:
[code]
what is the behaviour you are experiencing?

[2020-03-04 15:44] joca-bt opened #1797 "Casting object under test and returning new assertion on some operations"
I find myself doing something similar to the following quite frequently:

[code]

Would it make sense to cast the object under test and return the corresponding assertion? For example:

[code]

`first()` (for lists) and `extracting()` (for maps) already do something like this.

[2020-03-04 16:03] joca-bt commented on #1797
`asInstanceOf` was added in 3.13. Wwe're using 3.12 that's why we didn't noticed it.

[2020-03-04 16:05] scordio commented on #1797
[`asInstanceOf`](https://www.javadoc.io/static/org.assertj/assertj-core/3.15.0/org/assertj/core/api/AbstractAssert.html#asInstanceOf(org.assertj.core.api.InstanceOfAssertFactory)) is probably what you are looking for.

Also, since 3.14 `first()`, `extracting()` and other methods have the overloaded variant to support an `InstanceOfAssertFactory`. You can see the full list in the `@see` section of

[2020-03-04 17:07] scordio commented on #1797
@joca-bt I close this issue. In case you need more info, please let us know.

[2020-03-04 17:07] #1797 closed

[2020-03-04 21:12] #1731 closed

[2020-03-05 11:01] tifhorn opened #1800 "check() method from AbstractSoftAssertions fails on first assertion"
Hello,

I have an issue related to assertj-core 3.15.0.

When I'm using check() method from AbstractSoftAssertions, I get only first fail from assertion passed to this method.

For example, if I have following code:

[code]

only first assertion error will be caught (in this case "startsWith" assertion).

I don't know if it's intended behaviour, but in my opinion it clashes with soft assertions pu

[2020-03-05 14:59] dstekanov commented on #1800
Hello @tifhorn, this is expected behavior.

The purpose of `check()` is to allow you to use the standard or your custom assertions.

Each assertion should be described separately. You can go to `SoftAssertions` and read its documentation for more examples. Anyway, in your case you can use something like this:
[code]
`assertSoftly` is used to avoid having to call assertAll manually

[2020-03-05 15:20] tifhorn commented on #1800
Hello @dstekanov, thanks for reply.

Too bad it works like that, because this way I can't use full potential of AssertJ with its fluent assertion chaining..

Guess I need to find another way - I thought that it would work with chaining like regular soft assertions do. The reason I need this is for taking screenshots of application at EVERY soft assertion failure - it's still impossible (or I just

[2020-03-05 20:28] joel-costigliola commented on #1800
@tifhorn what is you use case exactly? Being able to provide an `ErrorCollector` that you can inspect later on?

Once thing that might help: `assertAll()` throws a specific `AssertionError` either  `MultipleFailuresError` or `SoftAssertionError` (depending if you have JUnit5  and opentest4j in your classpath), these classes have the list or errors (as a List<String> for  `SoftAssertionError`  and

[2020-03-06 05:34] tifhorn commented on #1800
Hello @joel-costigliola

My use case is simple - I need to find a way to take a screenshot of application under test just exactly when soft assertion fails (to be more specific - when errorCollector is adding an error to its list).
I cannot do it when SoftAssertionErrors are being thrown at the end of the test, because application state is different at the end, than at the exact moment of assertio

[2020-03-06 09:00] fletchgqc commented on #1796
Do you not have an already-established standard name for such an "equivalence" comparison with other objects?

Here are some brainstorming ideas:
isEquivalentTo
isSameAs
isSemanticallyEqualTo
isEffectivelyEqualTo

I kind of like isEquivalentTo.

[2020-03-06 15:06] indrekpr opened #1801 "ByteArrayAssert#containsExactly(byte...) error message should state which elements were not found and not expected"
#### Summary
`AbstractByteArrayAssert#containsExactly(byte...)` produces a sub-optimal error message where the expected and actual values are printed out as memory addresses of those arrays, while I would expect a summary of which elements were not found and which were not expected within the potentially long array.

#### Example

[code]
In case of `int` arrays the error message is much more helpf

[2020-03-07 05:17] #1801 closed

[2020-03-07 05:22] joel-costigliola commented on #1800
@tifhorn if we make `ErrorCollector` an SPI/plugin and provide users a way to register their own implementation then I guess that should solve your problem, right?

[2020-03-07 05:40] joel-costigliola commented on #1792
@dstoianov I'm closing this issue but happy to reopen if you need more help.

[2020-03-07 05:40] #1792 closed

[2020-03-07 10:28] joel-costigliola commented on #1796
I quite like `isEquivalentTo` too, @scordio any preference?

[2020-03-08 02:05] #1793 closed

[2020-03-08 04:56] joel-costigliola commented on #1791
@ASarco  closing this issue but happy to reopen it if you have want.

[2020-03-08 04:56] #1791 closed

[2020-03-08 21:46] scordio commented on #1796
What if we refer to [URI normalization](https://en.wikipedia.org/wiki/URI_normalization#Normalizations_that_change_semantics)?

I'm still thinking about a good name to reflect this.

[2020-03-09 15:33] Jakzi666 opened #1803 "allow more than three arguments for satisfiesAnyOf()"
#### Summary
In my context I would like to use four arguments in a satisfiesAnyOf() statement which is not supported even though there is a private method which seems to be able to handle this scenario.
Is there a reason why this is so, or could you implement this?

#### Example

[code]

[2020-03-09 20:11] joel-costigliola commented on #1803
Nope, except that we felt at the time that having more than 3 conditions were an unlikely use case, I guess we were wrong ;-)

Do you want to contribute it?

[2020-03-10 07:13] Jakzi666 commented on #1803
Sure.

[2020-03-10 10:45] tifhorn commented on #1800
@joel-costigliola, sorry for delayed reply :)

Yes, I think that this solution will provide exactly what I need in this case.

[2020-03-10 20:17] joel-costigliola commented on #1800
I'll let you know when I have a draft to get some feedback

[2020-03-11 06:41] scordio commented on #1796
A different proposal. What if we don't add a dedicated comparison API but only a switch to enable normalization strategies? E.g.:

[code]

I tend to favor `withUriNormalization()` because the normalization should be applied to both the object under assertion and the parameter of `isEqualTo()`.

[2020-03-11 09:00] joel-costigliola commented on #1796
I like the approach, I think it would be easier to discover the assertion if we could put the idea of `normalization` in a variant of `isEqualTo` so that it shows up in code completion close to `isEqualTo`.

Here are some options, please suggest some!

1.  `isEqualToAsNormalizedUris`
1.  `isEqualToByComparingNormalizedUris`
1.  `isEqualInNormalizedFormTo`

[2020-03-12 08:52] scordio commented on #1796
`isEqualToWithNormalization`?

I would leave the URL/URI part out as it is implicit and the javadoc can give more details about what happens behind.

[2020-03-12 09:20] fletchgqc commented on #1796
This wikipedia site surprised me. I didn't know that switching the order of the parameters is permitted by the standard to be significant.

I think you are on the right track with the normalisation idea. isEqualToWithNormalisation() sounds good. However, looking at that site, there are a lot of possible normalisations. Which ones are you referring to? Do you want to program them all in? Removing d

[2020-03-12 09:36] joel-costigliola commented on #1796
Fair point @fletchgqc, I think we should either add `isEqualToWithSortedQueryParameters` to address the initial use case or start a fluent api to provide different normalization options:
[code]

My gut feeling would be to go for  `isEqualToWithSortedQueryParameters` as it will be easy to discover and later only introduce the fluent api if we have a request for more normalization.

thoughts?

[2020-03-12 18:04] fletchgqc commented on #1796
I am happy with either way, not sure which is better.

[2020-03-12 18:10] scordio commented on #1796
`isEqualToWithSortedQueryParameters` :+1:

[2020-03-12 21:43] joel-costigliola commented on #1796
we have a winner!

[2020-03-13 09:41] joel-costigliola commented on #1803
Fixed by #1804

[2020-03-13 09:41] #1803 closed

[2020-03-13 09:45] joel-costigliola commented on #1270
Sorry for the late reply, I agree the implementation can be made more performant, thanks for looking into it.

[2020-03-13 13:09] Jakzi666 commented on #1803
Thank you! Do you have any estimate on when the new milestone will be released?

[2020-03-13 22:54] joel-costigliola commented on #1803
no plan yet but something like in a month

[2020-03-14 04:48] joel-costigliola commented on #1740
@ebundy sorry for the late reply, about the testing approach could we simply create directory on the fly as needed by our tests? Although experimental we can leverage JUnit 5 [TempDir extension](https://junit.org/junit5/docs/current/api/org.junit.jupiter.api/org/junit/jupiter/api/io/TempDir.html).
WDYT?

[2020-03-14 04:51] joel-costigliola commented on #1746
@mdeinum I'm think to go as per my previous comment, that is adding the class name after the object representation, ex: `2019-12-05T07:57:38.531 (java.time.LocalDateTime)`.
WDYT?

[2020-03-14 09:49] scordio opened #1805 "Base64 support for AbstractStringAssert"
#### Summary
Java 8 has built-in support for Base64 with `java.util.Base64`.

What about adding decoding assertions to `AbstractStringAssert`?

#### Example

[code]

[2020-03-14 11:43] ebundy commented on #1740
@joel-costigliola  No problem. I think that I like very much the idea.
Thanks for your feedback.

[2020-03-15 00:25] joel-costigliola commented on #1805
Fine by me!

[2020-03-16 10:22] mdeinum commented on #1746
That would work, as one can then also see the type differences next to the string differences (which probably aren't there in those cases).

[2020-03-16 15:03] fbiville opened #1807 "Consider adding isEven/isOdd to AbstractByteAssert, AbstractShortAssert, AbstractIntegerAssert and AbstractLongAssert"
#### Summary
It is currently not possible to directly assert whether integers are odd or even.

#### Example

[code]

[2020-03-17 03:52] scordio commented on #1807
Wouldn't the `isEven()`/`isOdd()` pair be enough?

[2020-03-17 04:05] joel-costigliola commented on #1807
yes, if it's not even then it's odd 😄

[2020-03-17 10:00] joel-costigliola commented on #1746
FYI I have added the class name to the representation of instances of the following classes:
* LocalDate
* LocalDateTime
* OffsetDateTime
* ZonedDateTime
* Date
* Calendar

[2020-03-17 10:47] fbiville commented on #1807
It could, but I imagine in some contexts, you want to express the negation. Maybe not worth keeping though. No strong opinions :)

[2020-03-17 15:18] scordio commented on #1807
That would be odd! (sorry, I couldn't resist 😄)

[2020-03-17 17:24] malovitsinm opened #1809 "Add functionality similar to isEqualToIgnoringNullFields for Optional.empty()"
#### Summary
I am really digging the ability to ignore null fields in the _actual_ based on null fields of the _expected_ since it provides a very flexible way to build highly reusable tests in our BDD framework. It would be really nice if this functionality was extended to include Optional.empty() as well.
Hope it could land as another part of the #1002.
#### Example

[code]
And such assertion wo

[2020-03-17 19:27] joel-costigliola commented on #1807
Let's keep it simple, no negative assertion.

[2020-03-17 19:31] joel-costigliola commented on #1809
It would better to add `ignoringEmptyOptional`, WDYT?

[2020-03-18 09:01] malovitsinm commented on #1809
Yeah, you're right. It makes more sense semantically to add it as a separate option. Shouldn't "Actual" be included in naming thought? I thinks it may sound a bit confusing as it is.

[2020-03-18 09:12] joel-costigliola commented on #1809
yes it should, good point!

[2020-03-18 09:37] fbiville commented on #1807
I assume we also want this for Byte, Short, Long and maybe even Character?

[2020-03-18 09:50] joel-costigliola commented on #1807
yes but I'm not sure we need it for character (how likely is somebody going to use that?)

[2020-03-18 10:43] david0 commented on #1224
I have the same problem. You are right about that stack trace. In our cases we do not want to compare the stack traces.

Still I think it would be better if the stack trace would be compared all the time instead of silently ignoring all fields from `Throwable`

[2020-03-19 09:39] joel-costigliola commented on #1746
Here's what it looks like now with the following failing test:
[code]
error:
[code]

[2020-03-19 09:43] #1746 closed

[2020-03-21 05:04] joel-costigliola commented on #1795
@xgouchet closing this issue but happy to reopen it if you give us more details.

[2020-03-21 05:04] #1795 closed

[2020-03-21 05:21] joel-costigliola commented on #1592
@yarafed not at the moment, I don't see this to be supported in the near future TBH.
What was your use case, JSON object comparison?

[2020-03-21 15:53] scordio commented on #1807
I think we should add this to `NumberAssert`, which would trigger some children classes so it's probably not going to be a small change.

I guess these new assertions should appear wherever `isZero` is available:

![Screenshot 2020-03-21 at 16 48 45](https://user-images.githubusercontent.com/26772046/77230383-17644300-6b94-11ea-8aad-a7ca6b8e39ad.png)

[2020-03-22 05:28] joel-costigliola commented on #1809
For consistency with other configuration parameter, I'll go with `ignoringAllActualEmptyOptional`

[2020-03-22 05:41] joel-costigliola commented on #1809
for consistency with the existing api, we will go with `ignoringActualOptionalEmptyFields`

[2020-03-22 09:36] joel-costigliola commented on #1809
oh and also going to ignore `OptionalInt`, `OptionalLong` and `OptionalDouble`

[2020-03-23 10:08] fbiville commented on #1807
The problem is that `FloatingPointNumberAssert` extends `NumberAssert` and you would end up with odd/even assertions for numbers other than integers.

[2020-03-23 10:25] scordio commented on #1807
Fair point, that would be wrong.

[2020-03-23 20:57] joel-costigliola commented on #1807
yes but if that is too much work, happy to create another issue for that

[2020-03-24 08:03] scordio commented on #1807
We could go with the four in the title, later with `BigInteger` and then decide if the common interface is needed. For example, `LongAdderAssert` in #1812 could belong to the family being a `java.lang.Number`.

[2020-03-25 09:35] #1809 closed

[2020-03-26 18:43] raharrison commented on #1499
I've found that the below works for me:

`assertThat(highlights).hasSize(6).extracting<String> { it.text }.doesNotContain("assertThat")`

[2020-03-27 09:20] piefel commented on #1807
Well, floating point number _can_ be integral (and even exactly so), so they can be odd or even. Only that many number are neither.

[2020-03-27 12:30] scordio commented on #1807
I'm far from being a mathematician, but the topic seems a bit more complicated when we move to rational numbers (i.e., floating point numbers), e.g. from [Math StackExchange](https://math.stackexchange.com/questions/3013028/generalized-definition-of-parity)

Also, from [Wikipedia](https://en.wikipedia.org/wiki/Talk%3AParity_(mathematics)#Parity_of_any_rational_number_can_be_determined):

IMHO I wo

[2020-03-28 04:53] joel-costigliola commented on #1569
@kriegfrj sorry for the late feedback, I totally agree having one single entry point for all soft assertions would be great!

One challenge I'm not sure is addressed by the proposed  approach is to collect assertion errors from all different soft assertions types into one place, at the moment that place is the SoftProxies.errorCollector instance built when soft assertions are created).

Said other

[2020-03-28 05:27] kriegfrj commented on #1569
No problems @joel-costigliola !
[SA Health COVID19 - Update 5 - 250320.pdf](https://github.com/joel-costigliola/assertj-core/files/4396666/SA.Health.COVID19.-.Update.5.-.250320.pdf)

I think the way I put it together takes care of that, because there is only one concrete implementation of the `proxy()` method (belonging to `AbstractSoftAssertions`), which points all of the generated assertion clas

[2020-03-28 06:04] joel-costigliola commented on #1569
alright I missed that point :+1:

[2020-03-28 06:13] kriegfrj commented on #1569
I just realised that `proxy()` is already a public method, so no problems there!

[2020-03-28 16:46] VasilyV opened #1815 "assertThat(actual).usingRecursiveComparison().ignoringAllOverriddenEquals().isEqualTo(expected) does not verify fields in a parent class"
#### Summary
I've come across an interesting behavior of recursive comparison in assertj library. If you compare objects of classes that are sub-classes, fields of super classes seem to be skipped during the comparison. Is that a known issue? Or am I doing something wrong? Here is a brief example:

#### Example

[code]
This test will pass when actually it should not as ```actual.getMessage()``` an

[2020-03-28 22:34] joel-costigliola commented on #1815
Thanks for reporting this, I'm going to have a look at it shortly.

[2020-03-29 09:19] #1584 closed

[2020-03-29 21:20] VasilyV commented on #1815
Thanks for the prompt answer!
Seems I've found the reason.
Apparently, the lib skips comparison of the fields that are inherited from superclasses that reside in ```java.lang```. As ```MyException``` is using a ```detailMessage``` field inherited from ```java.lang.Throwable```, it is skipped. Here is the code from ```org.assertj.core.internal.Objects``` that seems to be responsible for such a beha

[2020-03-29 22:43] joel-costigliola commented on #1815
Awesome investigation @VasilyV, appreciated.

The reason was to avoid base types to be compared field by field, at some point you have to compare stuff normally.

In your case if we did not do that we would for example compare `Throwable.backtrace` fields which I think is not relevant (at least for most users).

[2020-03-30 04:17] kriegfrj commented on #1569
Hi @joel-costigliola , I've just submitted a "spike" as a PR (#1817). There is an example test case which illustrates combining two soft assertion entry points into one (`org.assertj.core.api.abstract_.SoftAssertionsMultipleProjectsTest`). Have a look and see if you like it (or not...). :smile:

[2020-03-30 16:58] VasilyV commented on #1815
@joel-costigliola Thank you for the nice explanation!

[2020-03-30 20:49] joel-costigliola commented on #1815
You can always use a specific comparator for a given type or field if you need to, see https://assertj.github.io/doc/#assertj-core-recursive-comparison-comparators

[2020-03-31 01:41] kriegfrj commented on #1323
Note that the `runAssertion()` was added in #1460 (it ended up being called `check()`).

I think that it still an issue that a protected field uses a package-private type - either the field should also be package-private, or else the type should be public (or extract a public interface).

I think with the changes in #1817, it would be reasonable to make this field package-private or even private -

[2020-03-31 03:25] kriegfrj opened #1819 "SoftAssertionExtension to support custom soft assertions"
#### Summary

The current implementation of `SoftAssertionExtension` is hardcoded to support `SoftAssertions` and `BDDSoftAssertions`. If you have your own custom soft assertions entry point (with your own custom assertions), then you're out of luck.

#### Example

[code]

[2020-04-01 09:49] joel-costigliola opened #1821 "Consider catching all throwable in soft assertions"
#### Summary

It might be useful to capture any kind of errors in soft assertions so that an NPE does not stop further assertions to be performed.

see https://github.com/joel-costigliola/assertj-core/pull/1817#discussion_r401295324

[2020-04-03 00:49] kriegfrj opened #1823 "Facilitate expected value type coercion"
#### Summary

There are some data types where it is convenient to intialise them using primitive literal types. Some examples that I've come across:

BigDecimal: useful to use Strings, floats, BigInts, etc.
timestamps: useful to convert between Date, Timestamp, Instant and long

In practice, I've seen either an explosion of different method signatures to support the different arg types (making the

[2020-04-04 03:26] kriegfrj opened #1824 "SoftAssertionExtension to support (non-static) field injection/injecting on `beforeEach()` lifecycle method"
#### Summary

A big thanks to @sbrannen for #1544.

I've been using `SoftAssertionsExtension` in anger recently, and I would like to propose a tweak.

`SoftAssertionsExtension` does not support injecting `SoftAssertions` into any lifecycle method. This was a deliberate choice by @sbrannen as documented in #1544.

A common pattern I use in my tests is to factor out some boilerplate assertions into

[2020-04-04 04:09] kriegfrj commented on #1824
Apologies to @sbrannen - I just found his answer which was already recorded in https://github.com/joel-costigliola/assertj-core/issues/1418#issuecomment-505815527

I can see the logic behind this in certain circumstances. However, I am of the opinion that each "BeforeEach/Test/AfterEach" should be considered a single composite test, and that it *does* makes sense to have `SoftAssertions` scoped fo

[2020-04-04 05:22] joel-costigliola commented on #1824
We were looking at a similar approach in https://github.com/joel-costigliola/assertj-core/pull/1784 where we would initialize any soft assertions instance field to a new SoftAssertion before each test and call assertAll() after each test.

I'm under the impression that this approach if fine except for classes combining `Lifecycle.PER_CLASS` with `@Execution(CONCURRENT)` (see https://github.com/joe

[2020-04-04 07:55] kriegfrj commented on #1824
My apologies for not seeing those other related issues/PRs.

FWIW, IMHO I don't think it's necessary for us to raise an issue in the JUnit 5 repo. This strikes me more as an AssertJ issue than a JUnit 5 issue.

I am in favour of supporting constructor injection (#1771), `@BeforeEach` injection, and field injection (#1784). Field injection would be the ultimate in minimising boilerplate code in my

[2020-04-04 14:09] homberghp commented on #1819
this might help: have an extension that allows wrapping any kind of AssertionException expression. This would allow any asserttion, custom or otherwise, including the mockito verifies etc, which is my current usecase.

[2020-04-05 04:17] kriegfrj commented on #1819
Thanks for this suggestion @homberghp. However, I don't think it is technically possible with just an extension, in the generic case. Most assertion frameworks throw exceptions when the assertion fails (typically some subclass of `AssertionError`) and this interrupts the normal flow of code. A generic extension can't catch that exception and then tell re-enter the test method from where the except

[2020-04-05 15:00] Eveneko commented on #504
Can I work on it? And do you have an already-established standard name for it?

[2020-04-05 15:26] scordio commented on #504
I'm not sure if this issue is still valid. For example, `isDirectoryContaining​`, both in `FileAssert` and `PathAssert`, could already address it.

@Eveneko are you targeting a specific use case?

[2020-04-05 16:06] Eveneko commented on #504
At present, I just want to implement and test this function to get a preliminary understanding of this project. After that I want to further participate in this community contributions, so I choose to start with a "simpler" issue.

@scordio Or do you have any better suggestion? I‘m very willing to adopt your suggestion :-)

[2020-04-05 16:14] scordio commented on #504
#1796 is a recent issue that seems ready to be chosen. Or just take a look at the other issues and feel free to ask, we are always happy to support.

[2020-04-05 16:16] scordio commented on #504
@joel-costigliola @MichaelBitard this issue seems to be not relevant anymore. Shall we close it?

[2020-04-05 16:53] WuYff commented on #1645
Hi,
I would like to work on this issue.

[2020-04-05 23:32] joel-costigliola commented on #1645
Go for it @WuYff!

[2020-04-05 23:37] joel-costigliola commented on #504
It seems to be quite a bit of work, I would like to see a real use case for it before we invest time and effort on this.
I'm ok to close it and reopen if such a use case arises

[2020-04-06 06:51] MichaelBitard commented on #504
I'm ok to close it too! Feel free to reopen it indeed

[2020-04-06 08:32] Sunt-ing commented on #1796
I'm working on this issue.

[2020-04-07 06:22] Eveneko commented on #1248
Hello! Is this issue still open? I saw @juliodias wants to contribute to this issue. Is ok now? Or can I work on it?

[2020-04-07 09:57] joel-costigliola commented on #1248
@Eveneko  @ulises-lara thanks!
There had been some improvements in the scripts since [3.13.0](https://assertj.github.io/doc/#assertj-core-3-13-0-release-notes) it would be good to test whether this issue is still relevant.
If you could look at that and let us know that would be great.

[2020-04-07 20:31] romanlinhard commented on #1248
Hello  @joel-costigliola ,

I tried today with the same JUNIT commands from my first comment.
I grab the actual JUNIT migrations scripts and by the way also version 3.15.0 of assert-core  from your page.

Sorry, but , the result was the same as in 2018, it fails in all belongings.

If there are new news, keep me informed.

Bye
Roman

[2020-04-07 21:11] joel-costigliola commented on #1248
The issue is still relevant then and needs some work @Eveneko  or @ulises-lara  ;-)

[2020-04-07 23:35] joel-costigliola opened #1825 "Explicitly set Javadoc locale to English."
#### Summary

exactly that https://github.com/spring-projects/spring-data-build/commit/88a625abc1c1dd52c6f14a3af52b1e9c25b2a91a

[2020-04-08 15:45] Eveneko commented on #1248
OK, I work on it now :-P

[2020-04-09 09:53] david0 commented on #1815
See also #1224 (seems to be a duplicate)

[2020-04-09 15:36] WuYff commented on #1645
Hi @joel-costigliola ,
I tried to implement this improvement.
My idea is: If the method is called through the class of Arrays/Maps/Spliterators, it will print the corresponding name. If not, I will use the class name of the parameter *Object actual* as the name.

The problem is that I find some existing tests would fail, because they check for the output in a hard code way. For example:
[code]

wi

[2020-04-10 00:12] joel-costigliola commented on #1645
The failing tests should be refactored by using `shoudContain` to build the error message.
For the given example the message assertions can be replaced by:
[code]
Let me know if you have other questions.
Don't hesitate to raise a pull request even if it is not complete if you want to discuss a specific implementation point.

[2020-04-10 22:10] axal25 commented on #1104
Hi, I was wondering why all versions of javadocs state that contains method for HashSet needs only correct equal method to work. I'm probably doing something I should not do, but I have created a subclass of custom class and implemented equals method for both of them. Then I tried to use HashSet<ChildClass> and childClassSet.contains(parentClassObject) and it was returning false, even when they bo

[2020-04-11 03:52] joel-costigliola commented on #1104
I don't know, I guess the javadoc authors were assuming that whenever `equals` is overridden `hashCode` should also be.

[2020-04-11 06:50] #1819 closed

[2020-04-11 13:06] Sunt-ing commented on #1796
I have implemented the function isEqualToWithSortedQueryParameters , but now I'm wondering which class this function should belong to. It seems that I should add it to class URLAssert. The class URLAssert currently has no methods but only a constructor. Should I put the method there?

[2020-04-11 13:07] Sunt-ing commented on #1796
I have implemented the function isEqualToWithSortedQueryParameters, but now I'm wondering which class this function should belong to. It seems that I should add it to class URLAssert. The class URLAssert currently has no methods but only a constructor. Should I put the method there?

[2020-04-11 14:36] kriegfrj opened #1826 "AbstractAssert method for asserting with expected/actual"
#### Summary

I think that #1731 was great for a certain class of custom assertions. However, i think it would also be a useful addition to `AbstractAssert` if it had a variant of the `failWithMessage()` method that you could call directly that would populate expected and actual in the generated `AssertionError` (where available).

#### Example

[code]

[2020-04-11 18:21] Eveneko commented on #1248
@joel-costigliola @romanlinhard  **Good test cases**

The error is the incorrect match for `,` in regular expressions.

`,(?=(?:[^\"]*\"[^\"]*\")*[^\"]*$)` can match well, but `sed` don't support `(?=pattern)`. So I can't solve it by using `sed`.

Are there  other shell commands that can solve this problem? Or can we use `python` or `java` to solve it?

And I found that there is no test for the co

[2020-04-11 21:12] scordio commented on #1826
Would it help to use the following?

[code]
As `Failures` belongs to internal APIs, using it in custom assertions is probably not so nice.

[2020-04-11 21:36] scordio commented on #1796
@Sunt-ing the correct class would be `AbstractUrlAssert`.

I would imagine the method declaration like:
[code]

[2020-04-12 05:18] joel-costigliola commented on #1248
I'd rather keep shell scripting if possible as it is widely available (python is available be default in all major OS). Are you saying it can't be done with regular shell scripting?

Having tests would be great indeed, we can start with @romanlinhard initial list of assertions.

[2020-04-12 05:23] joel-costigliola commented on #1826
I'm ok with the idea, I would actual first and expected after it. `failWithActualAndExpected`.
I would prefer not to recommend suing directly internal APIs.

[2020-04-12 05:39] Eveneko commented on #1248
Yes, at least `sed` is unable to complete this task. But I will try to use other shell commands. And the python version will be developed synchronously. I try my best :-)

[2020-04-12 05:48] kriegfrj commented on #1826
:+1: the internal API is not only a bit

Thanks @scordio, I tend to agree about it not being nice - but even more than that, if you're using an OSGi environment as I am,  you don't account actually have access to the internal packages.

[2020-04-13 10:05] #1805 closed

[2020-04-14 04:31] TendoPW commented on #1286
I would like to work on this issue.

[2020-04-14 04:44] joel-costigliola commented on #1286
Sure go for it @TendoPW

[2020-04-16 14:09] noguespi opened #1837 "lazy withFailMessage / overridingErrorMessage"
#### Summary

junit provide a lazy fail message description by using a supplier. The supplier is called only if an error occurs, otherwise it is not called.

[code]
It is useful for at least two reason :

- performance optimization if computing the custom error message is costly.
- getting error message may not be possible if there is not an error, however assertThat try to get the error message e

[2020-04-17 14:53] AndreasMager opened #1839 "ByteArrayAssert with Hex-Strings"
#### Summary
Hi i am using a lot of hexadecimal strings in my byte[] Tests. I think the code and the dependency tree could be nicer.
What do you think about this method?

I will write a pull request if this improvement is welcome.

#### Example
Usage of the new method:
[code]
Implementation suggestion:
[code]

[2020-04-18 12:22] scordio opened #1841 "AssertJ 4"
Let's define the scope of the next major version:

- [ ] Move to Java 11
- [ ] Drop multi-release build in favor of module-only
- [ ] Delete all [deprecated elements](https://github.com/joel-costigliola/assertj-core/search?q=deprecated&unscoped_q=deprecated)
- [ ] Internal error message refactoring
- [ ] use the new recursive comparison API for iterables element by element comparison,
      this w

[2020-04-18 13:25] TendoPW commented on #1286
Sorry for disturbing you @joel-costigliola
I noticed that the previous code converted XML to a string in `XmlStringPrettyFormatter.prettyFormat()`.

In `prettyFormat()`, if an exception thrown due to an XML format error is caught, a `runtime exception` is thrown.

The way I plan to solve this issue is, in the process of converting XML into a string and comparing, catch that runtime exception, and

[2020-04-18 15:36] Sunt-ing commented on #1796
When I try to solve the issue, it occurs to me that maybe isEqualToExceptFromQueryParameters will be useful. It's also required in isEqualToWithSortedQueryParameters I think. Should I implement that?

[2020-04-18 15:37] Sunt-ing commented on #1796
When I try to solve the issue, it occurs to me that maybe isEqualToExceptQueryParameters will be useful. It's also required in isEqualToWithSortedQueryParameters I think. Should I implement that?

[2020-04-18 20:06] scordio commented on #1796
Not sure I understood how these two are related. Personally, I would introduce one assertion at a time. Would you like to raise a pull request so we can take a look at the code?

[2020-04-18 23:25] joel-costigliola commented on #1796
yes, let's do one assertion per PR, it makes it easier to review.

[2020-04-19 01:23] Sunt-ing commented on #1796
I mean isEqualToWithSortedQueryParameters depends on isEqualToExceptQueryParameters. To ensure isEqualToWithSortedQueryParameters, we first need to ensure isEqualToExceptQueryParameters. Since there is no such function, I need to implement it in isEqualToWithSortedQueryParameters. And I think the assertion isEqualToExceptQueryParameters itself is useful and maybe it will be better extract it into

[2020-04-19 06:31] joel-costigliola commented on #1796
Sorry @Sunt-ing this is still not clear why `isEqualToWithSortedQueryParameters` would depend on `isEqualToExceptQueryParameters`.
Can you raise a PR with your code changes so that we can have look at it.
Thanks!

[2020-04-19 07:03] Sunt-ing commented on #1796
OK. I will raise a PR.
By the way, for example,  `"http://localhost?a=b&c=d" ` is not equal to `"http://example.com?c=d&a=b"` with sorted query parameters, because even if their parameters are not taken into account, the two are not the same.
Therefore, it seems that `isEqualToExceptQueryParameters` can be called in `isEqualToWithSortedQueryParameters`.
Anyway, thanks very much. I will raise a PR

[2020-04-19 11:04] joel-costigliola commented on #1286
I think we can go with directly throwing an Assertion error built with `AssertionErrorCreator.assertionError(message, actual, expected, cause)` where `message` indicates which XML was badly formatted (we want to report which of actual or expected was invalid).

Note that `AssertionErrorCreator.assertionError(message, actual, expected, cause)` needs to be added, at the moment there's only `Assertio

[2020-04-19 12:05] joel-costigliola commented on #1839
`asHexString` looks useful, fine by me.

The implementation would need to cater for soft assertions.

[2020-04-19 13:33] TendoPW commented on #1286
Thanks! I am working on it.

[2020-04-21 02:51] Cal027 commented on #1632
Any progress or plan? I can try working on this issue.

[2020-04-21 05:20] joel-costigliola commented on #1632
Sorry for the late feedback, I'm still not sure what is the use case of this is, @leventov @Cal027  do you have a real life example?

[2020-04-21 06:07] Cal027 commented on #1632
I think `containsOnlyElementsOfOnce()` should have the same semantics as `containsOnlyOnce()`, just like the existing `containsOnlyElementsOf()` is same as `containsOnly()`. This feature is only for completeness.

[2020-04-21 06:30] joel-costigliola commented on #1632
Got it, let's  rename the assertion to `containsOnlyOnceElementsOf` though.

[2020-04-21 14:45] fletchgqc commented on #1796
FYI The URI class has accessors which allow getting parts of the URI individually. https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/net/URI.html. However getting everything except query parameters requires quite a few accessors.

[2020-04-21 17:31] Sunt-ing commented on #1796
@fletchgqc Yes, and that is exactly what I use to solve this issue.

[2020-04-21 17:38] Eveneko commented on #1248
@joel-costigliola Done. Please review the code. Thx :-)

[2020-04-21 19:03] Skynet0 opened #1848 "IntelliJ outputs assertion failure info twice"
#### Summary

I am working on IntelliJ 2019.3, with AssertJ 3.15 and Java 11.0.6, and running tests using Junit 5.6.0. When I run tests, IntelliJ outputs the expected / actual message to the console twice.

#### Example

[code]

Outputs
[code]

This behavior does not appear when using JUnit 4. Truth has similar duplication in JUnit 4 and 5, I've raised it at https://github.com/google/truth/issues/

[2020-04-21 23:13] joel-costigliola commented on #1848
Thanks for letting us know, I think this is an Intellij Idea issue as you suggested in https://github.com/google/truth/issues/680#issuecomment-617415943.

Here's eclipse output when running the test:
[code]

[2020-04-21 23:13] #1848 closed

[2020-04-22 10:52] #972 closed

[2020-04-22 14:11] TendoPW commented on #1286
Sorry for disturbing you again @joel-costigliola

Another question is that if `AssertionErrorCreator` is used, it seems that the `AssertionErrorCreator` class does not directly provide a method for inputting `assertioninfo`, which results in the `as` method is still not available, although the thrown exception is already `AssertionError`. Should I directly add `info.description()` to message in `a

[2020-04-23 02:25] joel-costigliola commented on #1286
You are not disturbing at all, that's a fair point.

I think the best approach then  would be to overload `failWithActualExpectedAndMessage` and add a cause parameter:
[code]
`failWithActualExpectedAndMessage` takes care of any description or overridden error message.
This still requires to add `AssertionErrorCreator.assertionError(message, actual, expected, cause)`.

Makes sense?

[2020-04-23 02:26] joel-costigliola commented on #1286
To test `failWithActualExpectedAndMessage` look and adapt  `AbstractAssert_failWithActualExpectedAndMessage_Test`

[2020-04-23 11:15] #1839 closed

[2020-04-24 06:46] #1796 closed

[2020-04-24 11:40] Sunt-ing opened #1850 "Feature: test whether two URLs represent the same primary resource"
#### Summary
If the two URLs are equal after their fragments are removed and their query parameters are sorted, it means that they represent the same resource. And in the view of the server, these two URLs are almost the same. I think this feature can be useful.

See: [Wikipedia: Fragment identifier](https://en.wikipedia.org/wiki/Fragment_identifier)
[#1796 :query parameters](https://github.com/jo

[2020-04-24 11:42] Sunt-ing commented on #1850
And I think I can implement it.

[2020-04-24 11:50] #1395 closed

[2020-04-24 15:27] Eveneko commented on #1505
I'll work on it ;-)

It seems like getting stack trace by default when we just execute `assertThat(e).isNull();`.
BUT how to allow users to override tthe behavior? I'd like to hear your advice ;-)

[2020-04-24 23:11] joel-costigliola commented on #1850
I'm not too sure how useful that is but I'll leave the issue open and if people vote for it, I'll be ok to have it implemented.

[2020-04-24 23:29] joel-costigliola commented on #1505
That's a good candidate to put in the `org.assertj.core.configuration.Configuration`

[2020-04-25 06:09] Sunt-ing commented on #1850
OK, it seems that it's reasonable, although it means that I need to wait for a long time. @joel-costigliola

[2020-04-25 07:20] Sunt-ing commented on #1289
If no one is working on this issue, I'd like to work on it. @joel-costigliola

[2020-04-25 22:10] #1632 closed

[2020-04-26 05:10] joel-costigliola commented on #1289
Sure, go for it @Sunt-ing

[2020-04-26 15:21] wettera commented on #1693
Does this issue mean that we need to test whether a class have a private or protected or public constructor? I want to fix this issue
For example:
`assertThat(MyClass.class).hasPrivateConstructor`
`assertThat(MyClass.class).hasProtectedConstructor`
`assertThat(MyClass.class).hasPublicConstructor`
@xenoterracide @joel-costigliola

[2020-04-26 15:28] wettera commented on #1693
sorry......
forget the brackets and semicolon after each asseration.

[2020-04-26 15:37] scordio commented on #1693
Thinking out loud, would it make sense to introduce assertions for `java.lang.reflect.Constructor`?

And `AbstractClassAssert` would have a new `getConstructor(Class<?>...)` method.

Something like:
[code]

[2020-04-26 16:11] wettera commented on #1693
But one class could have multiple constructors, these constructors may be private, protected, or public.

[2020-04-26 16:14] wettera commented on #1693
`.getConstructor()` may get a constructor list. Maybe in the list one constructor is parvate, another contructor is public.

[2020-04-26 17:02] scordio commented on #1693
The `getConstructor(Class<?>...)` I proposed would have `Class#getDeclaredConstructor(Class<?>...)` behind, where the resulting constructor depends on the parameter types given as input, so only one constructor at a time would be returned.

[2020-04-26 17:14] wettera commented on #1693
Both `MyClass.class.getDeclaredConstructors()` and `MyClass.class.getConstructors()`  parameter list is empty. I checked just now.

[2020-04-26 17:25] wettera commented on #1693
Sorry I make a mistake, `instance.getClass().getDeclaredConstructors()` and `instance.getClass().getConstructors()` parameter list is empty.

[2020-04-26 17:41] wettera commented on #1693
Sorry.....
 `MyClass.class.getDeclaredConstructors()`
 `MyClass.class.getConstructors()`
`instance.getClass().getDeclaredConstructors()`
`instance.getClass().getDeclaredConstructors()`
can have parameter type as input and return one unique constructor.
I'm sorry I was so careless.

[2020-04-26 23:43] eddumelendez opened #1853 "Add assertThat for java.time.Period"
#### Summary

Similar to #1650 it would be great to support `java.time.Period`

#### Example

[code]

If you are agree with this I can work on it.

[2020-04-27 11:00] #1740 closed

[2020-04-27 21:04] joel-costigliola commented on #1853
Goo idea, go for it @eddumelendez :)

[2020-04-27 22:03] jkuester opened #1854 "Issue recursively comparing nested collections while ignoring collection order"
#### Summary

There seems to be an issue when trying to recursively compare nested collections when the collections contain the same elements in different order.  If I am comparing two lists where each contains two more lists, the order of the top level lists is correctly ignored.  Additionally, the order of the bottom level lists is correctly ignored.  However, if the bottom level lists actually

[2020-04-27 22:11] joel-costigliola commented on #1854
Thanks @jkuester for the detailed issue, I'll look into it this week.

[2020-04-27 22:20] jkuester commented on #1854
Thank you!  For what its worth, my (uninformed) guess as to the source of the issue is that it might have to do with the way the [visitedDualValues get tracked throughout the comparison](https://github.com/joel-costigliola/assertj-core/blob/c6808b283dd35c2e49e3ab7df3c9672a10525fe1/src/main/java/org/assertj/core/api/recursive/comparison/RecursiveComparisonDifferenceCalculator.java#L406). I wonder i

[2020-04-28 10:13] rdehuyss opened #1855 "StackoverflowError when usingRecursiveComparison for an Object with a nio path"
#### Summary
I get a StackoverflowError when usingRecursiveComparison for an Object which contains a nio path.

#### Example

[code]

[2020-04-28 10:41] Mincol commented on #1837
Replacing withFailMessage() with as() cut time in one of mine test from 4 minutes 34 seconds to 46 seconds.

[2020-04-28 10:53] darkliang commented on #1855
I'm interested in this bug, and I'm looking into it.

[2020-04-28 11:55] joel-costigliola commented on #1854
Indeed the issue is duplicate items at different levels, I'm experimenting with tracking items by reference/identity instead of comparing them with equals, sounds promising at the moment but requires more exploratory testing.

[2020-04-28 15:20] Sunt-ing commented on #1289
So when we only set the property for `java.io.tmpdir` like `System.setProperty("java.io.tmpdir", "badger");`,  although there is no temporary folder, we don't want `Files.temporaryFolder();` to fail, right?

[2020-04-28 15:40] darkliang commented on #1855
I found the bahavior [here ](https://github.com/joel-costigliola/assertj-core/blob/df85cd3354d101b99d4264682e7bbb2fbaf2a6ad/src/main/java/org/assertj/core/api/recursive/comparison/RecursiveComparisonDifferenceCalculator.java#L137)is unexpected. `dualValuesToCompare` dose not remove `visitedDualValues`, which causes the infinite recursion. I think even though they are same objects, but refer to dif

[2020-04-28 21:31] joel-costigliola commented on #1289
What needs to be done here is trying to create the directory if it does not exist

[2020-04-28 21:34] joel-costigliola commented on #1837
I'm ok adding this because it can be useful in some cases.
@Mincol just pointing out that `as()` and `withFailMessage()` have different purposes.

[2020-04-28 21:39] joel-costigliola commented on #1855
@darkliang thanks for the investigation!
I'm going to take care of this one as I'm fixing https://github.com/joel-costigliola/assertj-core/issues/1854 which impacts the same code and might actually fix this one too.

[2020-04-29 00:18] scordio commented on #1289
This seems to be an old feature which probably doesn't make sense anymore, considering that for example JUnit 4 and 5 have already good support for temporary directories.

I'd propose not to spend effort on it and to deprecate this api.

[2020-04-29 01:47] Sunt-ing commented on #1289
It seems that we should close this issue now.

[2020-04-29 01:51] joel-costigliola commented on #1289
let's juts deprecate it and then we can close it

[2020-04-29 02:08] Sunt-ing commented on #1289
Should I add an annotation `@depracated` before the method `File temporaryFolder()` and then create a PR?

[2020-04-29 02:10] joel-costigliola commented on #1289
Sure, also add in javadoc a deprected annotation and explain the alternatives (JUnit 5 + JUnit 4)

[2020-04-29 02:13] Sunt-ing commented on #1289
OK. Please check this simple PR first: [#1851](https://github.com/joel-costigliola/assertj-core/pull/1851)

[2020-04-29 09:58] joel-costigliola commented on #1855
@rdehuyss the issue here is that Path is an `Iterable` and the recursive comparison treats them as so instead of comparing them with Path `equals` method.

Recursively comparing `Iterable` is done by comparing elements recursively, it turns out that the first element is the `/tmp` path - also an iterable - whose first element is ... itself. boom.

the solution is to avoid treating `Path` as an `It

[2020-04-29 10:08] rdehuyss commented on #1855
Hi @joel-costigliola and @darkliang  - thanks for your swift feedback.

You say:

I assume this is within AssertJ ?

[2020-04-29 10:11] joel-costigliola commented on #1855
Yes, in AssertJ recursive comparison.

In the meantime, you can [register a specific comparator](https://assertj.github.io/doc/#assertj-core-recursive-comparison-comparators) for Path as they take precedence in the recursive comparison, or you can wait for 3.16.0 which I hope to release in a week ;-)

[2020-04-29 10:15] darkliang commented on #1855
So, do we need to treat Path as an uniterable field by default? @joel-costigliola

[2020-04-29 10:17] joel-costigliola commented on #1855
Yes but just for the recursive comparison.

[2020-04-29 15:23] Mincol commented on #1837
For others and @joel-costigliola it does. But I wanted to point out how much real world usage of `withFailMessage()` can be costly. `as()` is not using lambdas.

So time gain must be in eager call to `format` within `withFailMessage()`

[2020-04-30 07:23] wht-github commented on #1496
hi, i'm trying to implement `hasOnlyFieldsOrProperties` , i have a bit confused about the error message.
If following the format as `hasFieldOrProperty`, the expecting message will be like
[code]
Is it ok, or need to print which fields and properties is absent or surplus, like
[code]
Because i think `hasFieldorProperty` indicating what is absent, but `hasOnlyFieldsOrProperties` doesn't.
Which one

[2020-05-01 07:14] Sunt-ing commented on #1473
If we need to change the failure message for `.endswith`, to keep the project consistent, I think many other failure messages also need to be changed, which requires a lot of efforts and doesn't make much sense.

[2020-05-01 11:36] #1248 closed

[2020-05-02 03:06] #1854 closed

[2020-05-02 12:44] scordio commented on #1855
Abouth `Path` as iterable, we used a similar approach in `containsOnlyKeys:` https://github.com/joel-costigliola/assertj-core/blob/1b638aa55aa7bc0e9c807d9c67f4f3d6742ef630/src/main/java/org/assertj/core/api/AbstractMapAssert.java#L1152-L1161

[2020-05-03 06:59] phx1999 commented on #1592
can i try to solve it

[2020-05-04 05:24] scordio commented on #1693
@xenoterracide @wettera we discussed the topic internally and we would prefer a separate `ConstructorAssert` to avoid bloating the `ClassAssert` API. Do you see any issue with it?

[2020-05-04 08:03] Eveneko commented on #1505
Option1:
[code]
Option2:
[code]
@bbottema @joel-costigliola
We consider two representation format for this case. which one is better?

[2020-05-04 15:28] xenoterracide commented on #1693
nope, though you might consider allowing chaining from the class assert, that way it's easily discoverable, but I'll leave that up to you. Since my biggest priority was to ensure that I had a public noargs constructor.

[2020-05-04 21:08] #1289 closed

[2020-05-04 21:51] scordio commented on #1693
Yes, chaining is definitely in the roadmap

[2020-05-05 01:37] Sunt-ing opened #1862 "Two inappropriate test samples"
#### Summary

I think there are two inappropriate test samples in `Urls_assertHasQuery_Test` and `Uris_assertHasQuery_Test`.

#### Example

In `Urls_assertHasQuery_Test`:

[code]

should be:

[code]

And in `Uris_assertHasQuery_Test`:

[code]

should be:

[code]

If this issue is valid, I'd like to create a PR for it.

[2020-05-05 01:44] joel-costigliola commented on #1862
@Sunt-ing the tests are fine, they are checking that when given a null actual then it fails appropriately.
it's better to pass them a valid expected URL as the focus to make it clear they are not failing because of the URL.

One thing that can be done though is to refactor them following this pattern:
[code]

[2020-05-05 01:55] Sunt-ing commented on #1862
@joel-costigliola Oh, I got it. So should I do the refactor?

[2020-05-05 02:08] joel-costigliola commented on #1862
go for it!

[2020-05-05 02:12] Sunt-ing commented on #1862
@joel-costigliola I'd like to refactor all similar test cases in `src/test/java/org/assertj/core/internal/urls/`.

[2020-05-05 02:15] joel-costigliola commented on #1862
That would be great!

[2020-05-05 07:03] joel-costigliola commented on #1505
I prefer Option 2 (without []), option 1 is a bit confusing as we display the exception first and then we repeat it with a short description, somehow one might think both are different.

[2020-05-05 21:54] sormuras commented on #1504
Upgrading to AssertJ 3.16.0 worked out as expected. This issue may rest in peace.

[2020-05-07 00:43] noel-yap opened #1864 "`Incompatible parameter types in lambda expression` when using `satisfies`."
#### Summary

`Incompatible parameter types in lambda expression: expected capture of ? extends Throwable but found StatusRuntimeException` when using `satisfies`.

#### Example

[code]

[2020-05-07 02:48] joel-costigliola commented on #1864
I could reproduce an error but not exactly yours.

I think what you are trying to do is best achieved with `isInstanceOfSatisfying`.

This test worked for me, can you try it:
[code]
with:
[code]

[2020-05-07 05:56] epeee opened #1866 "NPE in DualValue.isPotentialCyclingValue while using recursive comparison"
#### Summary

[code]

It looks like we should check if `java.lang.Class#getCanonicalName` is `null` as well. According to the java doc this can be the case, see [javadoc](https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#getCanonicalName--).

https://github.com/joel-costigliola/assertj-core/blob/a64f3fb4e942d85a671fedc98eca3d8e262772ff/src/main/java/org/assertj/core/api/recursive/comp

[2020-05-07 06:06] joel-costigliola commented on #1866
good catch, my bad!

[2020-05-07 11:08] epeee commented on #1866
yep, a bugfix release would be great.

thx!

[2020-05-07 13:01] Sunt-ing commented on #1473
@joel-costigliola Is the issue still valid?

[2020-05-07 21:23] joel-costigliola commented on #1866
I'm curious if you experienced the error from a real test case.
I have added the test for local classes but not yet anonymous ones, it feels a bit of an edge case but that needs to be fixed anyway

[2020-05-08 05:31] epeee commented on #1866
Yes, it is from a real test.

a sample to reproduce it might be

[code]

I will have a look at the other test cases failing due to this one later on, most likely I can share another example later on today.

[2020-05-08 06:51] joel-costigliola commented on #1866
@epeee I have created https://github.com/joel-costigliola/assertj-core/pull/1868 to fix this issue and added you as a reviewer.
Feel free to push more commits if you find more test to add.

[2020-05-08 08:51] mgrafl commented on #1621
@joel-costigliola Would split like to split it into three issues, one per method (`satisfy`, `satisfyExactly`, `satisfyExactlyInAnyOrder`)?

[2020-05-08 12:48] epeee commented on #1866
@joel-costigliola thx!
I was able to track all the failing test cases down to the samples you already added in the newly added test case.

[2020-05-08 13:53] phx1999 opened #1869 "Add ConstructorAssert instead of using ClassAssert"
About the issue described in #1693, we would prefer a separate `ConstructorAssert` to avoid bloating the `ClassAssert` API. If you would like to take care of it, we are happy to support you.

_Originally posted by @scordio in https://github.com/joel-costigliola/assertj-core/pull/1860#issuecomment-623262851_

[2020-05-08 13:53] phx1999 commented on #1869
I am trying to solve it.

[2020-05-08 14:31] Eveneko commented on #1837
Can I work on it？I think it's a good idea to improve the performance in some cases. We can discuss further.

[2020-05-08 22:41] #1866 closed

[2020-05-08 23:02] joel-costigliola commented on #1866
3.16.1 released, should be available in a few hours in maven central

[2020-05-08 23:04] joel-costigliola commented on #1837
Would be great, thanks @Eveneko.

[2020-05-08 23:05] joel-costigliola commented on #1621
yes that would be good @mgrafl, let's start with `satisfiy`. thanks.

[2020-05-09 14:14] epeee commented on #1866
works like a charm.
thx for the fast turnaround!

[2020-05-10 06:16] joel-costigliola commented on #1777
I'll go for displaying the assertion description to the console.
@SebastianStavar I was thinking to a global configuration property to control whether descriptions are displayed or not, is that too broad? do you need control per assertion?

[2020-05-10 08:12] SebastianStavar commented on #1777
Hi,

Thanks for considering adding this.

I would think that a global config property should be good enough. Normally I would like to see them all displayed as the test progresses. In my case there was no way I would have liked to see some assertions, but not others. More options are good (well not from a testing/maintenance point of view), but since this is a new feature, get it going and if peop

[2020-05-14 10:28] Eveneko commented on #1837
@Mincol Can you provide your test cases? Thank you very much!

[2020-05-14 10:43] #1777 closed

[2020-05-14 13:34] Mincol commented on #1837
Unfortunately it is proprietary software, but I will try to provide equivalent test. ETA next week.

[2020-05-14 14:27] Eveneko commented on #1837
@Mincol Thx

[2020-05-15 11:18] #1643 closed

[2020-05-16 13:14] ofabricio opened #1876 "usingRecursiveFieldByFieldElementComparator and usingComparatorForType unexpected behavior"
#### Summary

I faced an unexpected behavior (for me) with `usingRecursiveFieldByFieldElementComparator` and `usingComparatorForType `.

I'd except them to go recursively through all fields and check each field value. But something seems to be checking for the hash/equals before doing so.

In the example bellow the test that `works()` uses `@lombok.Getter` which does not override hash/equals, the

[2020-05-16 18:49] idesofjackson commented on #1104
Not sure if it is useful but per the javadocs:
Note: Great care must be exercised if mutable objects are used as set elements. The behavior of a set is not specified if the value of an object is changed in a manner that affects equals comparisons while the object is an element in the set. A special case of this prohibition is that it is not permissible for a set to contain itself as an element.

[2020-05-16 19:49] devinrsmith opened #1877 "Consider native consumption support for IteratorAssert"
In some cases it is invalid to collect the contents of an iterator - the returned value must be consumed during iteration. This is a common pattern when dealing with ByteBuffer iterators returned from file or database operations (useful for avoiding excessive allocation).

As such, it would be nice if `IteratorAssert` was able to deal with these semantics by consuming and checking the iterator val

[2020-05-16 22:35] joel-costigliola commented on #1876
Thanks for reporting this with details @ofabricio!
We will analyze this shortly.

[2020-05-16 22:47] joel-costigliola commented on #1877
I'm assuming you are using using a version older than 3.12.0,  as in that version `IteratorAssert` has been changed to only reflect pure `Iterator` assertions (before that it was exposing `Iterable` assertions by converting the iterator under test to a list.
See https://assertj.github.io/doc/#assertj-core-3.12.0-breaking-changes

You can not face this in newer versions as you would have to explici

[2020-05-17 00:23] devinrsmith commented on #1877
I'm on the latest  - I'm hoping that new methods can be added to `IteratorAssert` so that my workaround becomes unnecessary. (I agree that `IteratorAssert` should *not* extend `IterableAssert` 👍.)

[2020-05-17 03:20] joel-costigliola commented on #1877
We have moved away from iterable style assertions for iterators because some users were confused about the iterator being consumed, at the moment I'm not convinced to get back to that road again.

Your workaround is consuming the iterator (partially but still), I'm not sure to understand your point.

[2020-05-19 06:03] csaltos commented on #1403
Also adding `<detectJavaApiLink>false</detectJavaApiLink>` to the Maven javadoc pluging configuration section helps

[2020-05-21 11:25] unix-junkie opened #1879 "There appears no way to add failures to SoftAssertions from multiple threads"
#### Summary

Consider I need to collect multiple failures produced in multiple threads. Currently, `SoftAssertions` doesn't allow me to do so w/o extra synchronizers.

#### Example

For example, this code is broken because changes made to the `SoftAssertions` instance from other threads might not be visible from the main thread:

[code]

What is the best approach to solve the above problem?

Guar

[2020-05-21 20:53] joel-costigliola commented on #1879
A synchronized or concurrent list should be enough, do you want to contribute it @unix-junkie?

[2020-05-22 04:38] Sunt-ing commented on #1473
@joel-costigliola What we should do here? I think we can change the failure message by rewrite `format(Object[] array, String elementSeparator, String indentation, Set<Object[]> alreadyFormatted)`, and thus print both the head and tail of the list. For example, if `maxElementsForPrinting` is 3, the result  can be

[code]

[2020-05-22 10:10] joel-costigliola commented on #1473
That's a good idea!

[2020-05-22 12:44] unix-junkie commented on #1879
@joel-costigliola: Pushed the simplest fix.

Please review.

I can provide the complete thread-safe solution if necessary (will be slightly heavier).

[2020-05-22 14:37] Sunt-ing commented on #1473
@joel-costigliola I'm going to rewrite this method `String format(Object[] array, String elementSeparator, String indentation, Set<Object[]> alreadyFormatted)` which belongs to `presentation/StandardRepresentation.java`as follows. What do you think?

[code]

[2020-05-22 14:39] Sunt-ing commented on #1473
It was originally like this:
[code]

[2020-05-22 23:46] #1879 closed

[2020-05-23 05:35] #1862 closed

[2020-05-23 05:44] #1825 closed

[2020-05-24 03:28] joel-costigliola commented on #1877
Closing this issue but happy to reopen if convinced by further discussions.

[2020-05-24 03:28] #1877 closed

[2020-05-24 03:55] joel-costigliola commented on #1876
@ofabricio the reason is `equals` is used when overridden in fields of the objects to compare recursively, this is stated in the javadoc (but likely not clearly enough):

The [new recursive comparison](https://assertj.github.io/doc/#assertj-core-recursive-comparison) offers much more flexibility, in our case you can [force ignoring overridden `equals`](https://assertj.github.io/doc/#assertj-core-r

[2020-05-24 03:58] joel-costigliola commented on #1473
You will have to, go for it.

[2020-05-24 06:18] joel-costigliola opened #1881 "Allow element comparator to use the new recursive comparison"
#### Summary

The current `usingRecursiveFieldByFieldElementComparator`is fairly rigid as it is not based on the new recursive comparison.

Opening it to the new recursive comparison would make much more flexible allowing users to call iterable assertions (when the new recursive API only exposes `isEqualTo` assertion).

This approach does not expose a nice fluent API like `RecursiveComparisonAsser

[2020-05-24 06:20] joel-costigliola commented on #1876
BTW I have created https://github.com/joel-costigliola/assertj-core/issues/1881 to allow the new recursive comparison to be used like `usingRecursiveFieldByFieldElementComparator`

[2020-05-24 16:49] mwajcht commented on #1182
Two years and nothing happened to this issue, so I took it and results can be seen in this quite a big pull request.

[2020-05-25 05:43] joel-costigliola commented on #1182
@mwajcht let's start with one of the array type (int for example) and then when this is done, we can replicate it to other types

[2020-05-25 09:27] tifhorn commented on #1800
Hello.

I see that now in version 3.16.1 there are SoftAssertionsProviders, which extends AssertionErrorCollector, but the question is why? I cannot see where AssertionErrorCollector's methods are invoked, it always falls to standard ErrorCollector's method being invoked through SoftProxies's ByteBuddy-added code.

Am I missing something?

[2020-05-25 09:37] joel-costigliola commented on #1800
sorry this one fell under my radar.

I'm not sure I understand your question, `AssertionErrorCollector` could have been included in `SoftAssertionsProvider` but we made the choice to put all the error collectors contract in a different interface. the method are used `SoftAssertionsProvider` or classes implementing it.

I probably haven't answered your question, I can try again if you clarify it fo

[2020-05-25 09:50] tifhorn commented on #1800
Sorry, I didn't explain it clearly ;)

My question is, simplified - is there any place where AssertionErrorCollector's method "collectAssertionError(AssertionError error)" is invoked? I tried to override it, when extending SoftAssertionsProvider, but with no effect - it just doesn't get invoked in case of soft assertion error or I am missing some configuration.

[2020-05-25 10:10] joel-costigliola commented on #1800
it's called in `check`
[code]
and `assertAlso`
[code]
It is overridden in `AbstractSoftAssertions` too.

I'm guessing you are trying to solve your use case, is that right?

If you override it from `AbstractSoftAssertions` and call `super.collectAssertionError` and then capture whatever you want to capture, it might work.

[2020-05-25 10:22] tifhorn commented on #1800
Nope, it still doesn't get invoked.

`public class SimpleSoftAssertions extends AbstractSoftAssertions implements SimpleSoftProvider {
	@Override
	public void collectAssertionError(AssertionError assertionError) {
		super.collectAssertionError(assertionError);
		System.out.println("Collected");
	}
}`

SimpleSoftProvider is just an interface extending SoftAssertionsProvider:

`public interface Simp

[2020-05-25 10:26] joel-costigliola commented on #1800
Ah alright, can you provide a reproducible test case? that would make it easier to look into it.

[2020-05-25 10:36] tifhorn commented on #1800
[assertj-core-3.16-test.zip](https://github.com/joel-costigliola/assertj-core/files/4676789/assertj-core-3.16-test.zip)
In the archive there are all classes needed to check it (assertion in the test is just dummy code, so it will always fail).

[2020-05-25 12:23] ofabricio commented on #1876
But does that make sense since it is called `FieldByField` and `Recursive` comparator?

If you suppose that the programmer overrides equals in such a way that it deals with comparing each field recursively, then we could just use `isEqualTo()` and there is no point in `usingRecursiveFieldByFieldElementComparator` to exist.

The combo `usingRecursiveFieldByFieldElementComparator` + `usingComparator

[2020-05-26 09:50] Mincol commented on #1837
Starting work on this.

[2020-05-26 11:29] joel-costigliola commented on #1876
yes, this goes recursively for each fields and compare them

Not if you have some types that don't override equals

Might not be as useful as you think, but this allowed you to compare `LocalDateTime` at the precision you wanted

Sorry about that, designing recursive comparison is not straightforward (thus the new one).
Just curious if you have read the javadoc, it was mentioning the use of `equal

[2020-05-27 01:26] joel-costigliola commented on #1837
@Mincol please sync with @Eveneko who also wanted to work on this. You can do together if you want!

[2020-05-27 14:18] mwajcht commented on #1182
Ok, I created the second, much smaller pull request. It contains only changes for int two-dimensional arrays.

[2020-05-27 16:14] Sunt-ing opened #1887 "Some APIs have no test"
#### Summary
When I run the coverage test, I find:
- in `AbstractUrlAssert`: `hasNoPath()` and `hasNoParameters()` have no test.
- in `AbstractUriAssert`:`hasNoPath()` has no test.

Actually, Intellij IDEA tells me that they are never used.

I am happy to raise this as a PR if this issue is considered valid.

[2020-05-27 22:28] joel-costigliola commented on #1182
thanks, that will make it much easier!

[2020-05-27 23:25] scordio commented on #1887
Yes please, improving test coverage is always good!

This gap is also mentioned in the Sonar report: https://sonarcloud.io/component_measures?id=joel-costigliola_assertj-core&metric=new_lines_to_cover&view=list

[2020-05-28 02:39] Sunt-ing commented on #1887
OK, thanks! I think I may have to wait for my last PR being merged.

[2020-05-28 06:50] Sunt-ing commented on #1887
When I write tests for `haveNoPath()`, I am very confused.

According to javadoc, these assertions succeed:

[code]

But these assertions fail:

[code]

This assertion throws an `IllegalArgumentException`:

[code]

Well, I think this is a little confusing. I prefer to have `hasPath(null)`=`hasNoPath()`=`hasPath("")` both in `urls` and `uris`.

[2020-05-28 08:40] kriegfrj commented on #1826
This was implemented by #1833.

[2020-05-28 08:40] #1826 closed

[2020-05-28 08:56] kriegfrj opened #1888 "OSGi integration testing"
#### Summary

AssertJ support in OSGi is pretty good. However, due to the funky classloading tricks that it uses (particularly with assumptions and soft assertions) you can sometimes run into issues. Searching the issues for "OSGi" will reveal a number of them (some of them still open). In the osgi-test project, we have recently hit a similar issue (osgi/osgi-test#118).

This suggestion has been m

[2020-05-28 11:20] joel-costigliola commented on #1888
It would be really great to have regression tests for OSGi, contributions welcome because we don't have the bandwith and the expertise to write this kind of tests.

[2020-05-29 14:14] Sunt-ing commented on #1621
When I try to implement `satisfy`, one thing I found is very interesting. Example:

Suppose the matching table is as follows:

|           | Consumer 1 | Consumer 2 | Consumer 3 |
| --------- | ---------- | ---------- | ---------- |
| Element a | yes        | yes        | yes        |
| Element b | yes        | no         | no         |
| Element c | yes        | no         | no         |

Then fo

[2020-05-30 02:15] #1837 closed

[2020-05-31 06:59] wettera commented on #1492
`usingComparator` in `AbstractAssert` should return SELF type, return `ComparableAssert` will cause compile failure
![message](https://user-images.githubusercontent.com/38947732/83346196-ef8c1b00-a34c-11ea-9469-3b1099250101.png)

[2020-06-01 04:01] #1473 closed

[2020-06-01 04:10] joel-costigliola opened #1894 "Avoid infinite recursion in StandardRepresentation"
#### Summary

There's a risk of stack overflow when when representing containers (array, iterable, map) having  elements referring back to itself.

#### Example

The following test leads to a stack overflow.

[code]

[2020-06-01 04:48] joel-costigliola commented on #1492
I did a quick spike on this one, I'm actually not sure if this technically feasible.
Moreover we can loose some strongly typed assertion, for example:
[code]

[2020-06-01 08:36] Sunt-ing commented on #1894
I am working on this. I have solved it in `array` case. But in `iterable` case, I find that neither `HashSet` (lead to a stack overflow) nor `TreeSet` (lead to ClassCastException) can work. Maybe we can convert an `iterable` to an `array` at the beginning? @joel-costigliola

[2020-06-01 21:20] joel-costigliola commented on #1894
@Sunt-ing thanks but I'm going to take care of this one.

[2020-06-03 04:38] AlexLandau opened #1898 "Performance regression in 3.16.0: assertThat(byte[]).containsExactly(byte[])"
#### Summary

While upgrading our codebase from AssertJ 3.15.0 to 3.16.1, one of our tests hung until a 40 minute timeout expired. It turned out that this test was calling assertThat(byte[]).containsExactly(byte[]) on some byte arrays with 20 million elements.

It appears that this assertion had linear performance characteristics in 3.15.0, but quadratic performance in 3.16.0, specifically changin

[2020-06-03 04:57] joel-costigliola commented on #1898
Thanks for reporting this with details!
Will fix this for the next release 3.17.0 (not yet sure if we want to revert that commit yet)

[2020-06-03 11:13] trajano opened #1899 "Add hasElementSatisfying"
#### Summary

There's a hasOnlyOneElementSatisfying method already, I was wondering if there's an alternative that can be added where a collection `hasElementSatisfying`

#### Example

[code]

My workaround so far
[code]

[2020-06-03 11:20] #1894 closed

[2020-06-03 11:22] joel-costigliola commented on #1899
If I understand correctly I believe you could use [anySatisfy](https://www.javadoc.io/static/org.assertj/assertj-core/3.16.1/org/assertj/core/api/AbstractIterableAssert.html#anySatisfy(java.util.function.Consumer)), right?

[2020-06-03 11:25] trajano commented on #1899
Almost, I just want *one* instance of it though.  (which I know my workaround doesn't satisfy)

[2020-06-03 22:12] joel-costigliola commented on #1899
Not sure I fully understand, you want to check there is one and only one element satisfying the predicate?

[2020-06-04 11:25] trajano commented on #1899
I want to check there is one and only one element satisfying the predicate, BUT does not have to be the only element in the collection.

hasOnlyOneElementSatisfying checks that the element is the only one in the list (which seems off when I read it because the method does not convey that it should be the only element in the list)

[2020-06-04 21:10] joel-costigliola commented on #1899
I agree the `hasOnlyOneElementSatisfying` is confusing.

for your case simply filter + count:
[code]

[2020-06-05 00:34] trajano commented on #1899
Thanks for the tip.  It would be good for single ones but I actually have more criteria so your original anySatisfy helps

[code]

[2020-06-05 07:33] mgrafl commented on #1621
Hello Ting Sun,
Thanks implementing this! I agree with your matching strategy. It is
consistent with my initial description of satisfy(Consumer<? super
ELEMENT>... consumers): "For each element of the tested collection the
(remaining) consumers are called; if a consumer accepts the element, then
the element and that consumer are removed from their collections and the
next element is probed."

And

[2020-06-05 07:43] Sunt-ing commented on #1621
I totally agree with you! And I implemented it in this way. Thanks @mgrafl

[2020-06-05 10:57] joel-costigliola commented on #1899
@trajano can I close this issue? do you need more help?

[2020-06-05 12:24] #1899 closed

[2020-06-05 21:25] mgrafl commented on #1621
@Sunt-ing, your implementation has brought a nuance of ```satisfy``` to my attention, that I had not thought of before:

As far as I can see, there are four different strategies:

###  1. "element-iteration":
For each **element** of the tested collection the (remaining) consumers are called; if a consumer accepts the element, then the element and that consumer are removed from their collections an

[2020-06-06 01:02] Sunt-ing commented on #1621
@mgrafl Yes, it needs to be discussed. We need to choose useful ones from all the four strategies and pick appropriate API names for them. Then clarify them in the doc.

[2020-06-06 11:24] joel-costigliola opened #1904 "Allow to specify equals BiPredicate instead of Comparator in RecursiveComparisonConfiguration"
#### Summary

RecursiveComparisonConfiguration allows to register comparators by type or fields but what is only needed is a simple true/false comparison

#### Example

Instead of:
[code]
we would simply specify:
[code]

[2020-06-06 11:28] joel-costigliola opened #1905 "Deprecate non recursive comparison"
#### Summary

The first implementation of field by field comparison were not recursive which had limited usage, they should be replaced by recursive comparison.

The javadoc should show how to migrate from the deprecated comparison to the recursive one (although 100% equivalence might not always be achievable).

After a few versions, we will remove the deprecated code which is bit complex to maint

[2020-06-06 11:32] joel-costigliola opened #1906 "Make recursive comparison to ignore overriden equals by default"
#### Summary

This is a breaking change but the previous behaviour can easily be re-enabled if we expose a `honorAllOverriddenEquals` method.

[2020-06-07 05:10] #1876 closed

[2020-06-07 05:10] #1881 closed

[2020-06-07 06:07] joel-costigliola commented on #1876
This should work now with:
[code]

[2020-06-07 10:12] #1887 closed

[2020-06-07 10:28] #1284 closed

[2020-06-08 21:51] maciejwalkowiak opened #1907 "Verify type of element in iterable with order in mind"
#### Summary

Create new assertion on `AbstractIterableAssert` that verifies type of each element of iterable taking order into consideration.

#### Example

I am working currently with following code where it's important to verify that elements are of correct type in particular order:

[code]

Initial though was to replace these 3 lines with
[code]

but it does not verify the order of types.

My

[2020-06-09 04:32] scordio commented on #1907
We would like to avoid `containsOnlyElementsOf` assertions because they can be misleading for some users (e.g., see #1075 and #1513).

What about `containsExactlyElementsOfTypes`?

A not so nice solution with existing assertons would be:

[code]

but it would trigger raw types and unchecked assignment warnings.

[2020-06-09 07:00] maciejwalkowiak commented on #1907
`containsExactlyElementsOfTypes` sounds good to me. Can I implement it?

[2020-06-09 10:06] joel-costigliola commented on #1907
Due to the limitations of using extracting, I'm fine with `containsExactlyElementsOfTypes`, @maciejwalkowiak  thanks for contributing it.

[2020-06-09 19:16] fivetran-andydreyfuss opened #1908 "OOM during StringBuilder in AssertionErrorMessagesAggregrator#aggregrateErrorMessages"
#### Summary
Building the string for an assertAll can lead to an OOM, it would be better to return a truncated message if the error count is larger than some configurable number - or at least defensively check of catch OOM and produce a more useful outcome than

[code]

This should be easy to repro.

Thanks for considering - I can submit a PR if that would help here.

[2020-06-09 23:34] joel-costigliola commented on #1908
We should definitely avoid OOM, just curious how many errors you had to get there.
Contribution appreciated, we already have a mechanism to limit the output when displaying iterable or array.

[2020-06-09 23:57] fivetran-andydreyfuss commented on #1908
lol ... a lot I guess, no way to know 🤷

Would you mind pointing me to the docs on how to configure that, or just describing how you would go find it and I can figure it out?

Thanks kindly!

[2020-06-10 01:42] joel-costigliola commented on #1908
fair enough :) that should have been a lot assertions going on.

have a look at the configuration class and add a field for you ruse case, https://github.com/joel-costigliola/assertj-core/blob/bb18e16e10c3dcce7bd32b0e69efdaa99690b2a2/src/main/java/org/assertj/core/configuration/Configuration.java#L56 then you would have to update the `AssertionErrorMessagesAggregrator` to limit the number of error

[2020-06-10 05:11] fivetran-andydreyfuss commented on #1908
Right on thanks Joel, and thanks for making this library as well as all the extensions, cool stuff.

[2020-06-12 08:00] bbottema opened #1909 "Failing assertions in a try..finally block blocks actual failure from failing the junit test (and is not even logged)"
#### Summary
Failing assertions in a try..finally block blocks actual failure from failing the junit test (and is not even logged).

#### Example

[code]
I thought I could easily fix this by calling `fail()` manually in case of an exception, but that still didn't fail the test:

[code]
I'm using `finally` to make sure mocks are verified when an exception occurs _after_ their respective invocations

[2020-06-12 11:53] mgrafl commented on #1621
I have given it some more thought and I am convinced that the currently implemented **strategy 3 (consumers match distinct elements)** is most appropriate because it has the least unexpected surprises and it will easily fit with ```satisfyExactlyInAnyOrder()```.

[2020-06-12 12:11] RamazanYapparov opened #1910 "`isEqualTo()` argument type is not checked in compile-time"
#### Summary
When making assertions on some type with `isEqualTo` assert, its parameter type is not checked at compile time, because it has type `Object`.

#### Example

Current `isEqualTo` implementation in `org.assertj.core.api.AbstractAssert#isEqualTo`
[code]

Why it is not implemented in the following way?
[code]

Then following check would not even compile instead of failing in runtime:
[code

[2020-06-12 12:33] scordio commented on #1910
I think this is on purpose, following `Object.equals()`. There might be cases where you don't know the real type at compile time but still the runtime comparison would succeed using `Object`.

[2020-06-12 12:45] scordio commented on #1909
Hi @bbottema, AFAIU you are referring to Mockito behavior and not AssertJ, you might want to [raise an issue](https://github.com/mockito/mockito/issues/new) in the Mockito repository.

[2020-06-12 13:35] bbottema commented on #1909
Or perhaps with junit itself, since `Assertions.fail(e)` doesn't seem to be processed properly, even though it is called before the Mockito verifications.

[2020-06-12 14:43] Waltorw commented on #1910
I think that `Object#equals` is implemented in that way because there were no generics back in the day, most of equals implementations (Intellij/Lombok generated ones at least) do check `instanceof` first and then cast to target type.
If we _really need_ to pass `Object` to the method we could just cast it directly on call site:
[code]

[2020-06-12 15:36] scordio commented on #1909
It might be, but also the example doesn't compile due to missing fields/parameters and there might be additional details you could provide to make the issue easily reproducible, like JUnit and Mockito versions.

Probably Stack Overflow would be a better audience as a starting point.

Would it be fine for you if I close this issue as there is nothing related to AssertJ?

[2020-06-12 15:39] bbottema commented on #1909
Yes, go ahead.

On Fri, 12 Jun 2020, 17:36 Stefano Cordio, <notifications@github.com> wrote:

[2020-06-12 15:41] #1909 closed

[2020-06-12 16:04] scordio commented on #1904
I guess you are expecting a signature like:

[code]

What about having a different method name? The comparator term without a `java.util.Comparator` parameter could be confusing.

Is `registerEqualsForType` too aggressive?

[2020-06-13 05:21] joel-costigliola commented on #1910
@Waltorw This was done at the time of Fest Assert, AssertJ ancestor, the main reason was to allow assertions like :
[code]
I personally encountered a few cases where it was handy like when you have `java.util.Date` and `java.sql.Date`.

Adding generics to `isEqualTo` is a breaking change and at the moment I don't see enough value for doing so.

I'm not convinced either to introduce a generic `isEq

[2020-06-13 05:26] joel-costigliola commented on #1904
Yes we would need another name `registerEqualsForType` looks fine to me.

 @scordio  should we deprecate `registerComparatorForType` to avoid too many options?
It want to keep accepting comparators we could simply have `registerEqualsForType` taking a `Comparator`

[2020-06-13 18:47] scordio commented on #1904
I would still keep the option to register comparators and I actually prefer `registerComparatorForType` instead of `registerEqualsForType` with a `Comparator` parameter.

My motivation to keep it is the user might want to reuse existing comparators (e.g., `String.CASE_INSENSITIVE_ORDER`).

I'm not sure if having both `registerEqualsForType` and `registerComparatorForType` would cause trouble inter

[2020-06-13 19:47] mwajcht commented on #1182
@joel-costigliola As assertions for two-dimensional int arrays are already merged, I can apply your comments to other types. Do you prefer separate pull requests for each type or all-in-one?

[2020-06-13 23:40] joel-costigliola commented on #1182
@mwajcht I would prefer separate PRs, I might have missed things to improve (hopefully mot many) and seeing more than 100 files ina PR just sucks the energy out of me ;-)

[2020-06-14 10:47] joel-costigliola commented on #1904
I want to keep that option too.

I don't see it as a big issue, I believe users will unlikely register both a comparator and an equals bifunction for the same type and if they do it seems pretty clear to me that the latest call would win.

I guess the only point would be to keep both `registerComparatorForType` and `registerEqualsForType` in the API, if I had thought to this issue when redesigning

[2020-06-14 11:05] joel-costigliola commented on #1621
At this assertion is named I would expect that all given consumers can be satisfied which means it's okay if multiple elements satisfy the same consumer (I think this is option 4.).

The following assertion would pass as both consumer are met, the first one by two elements.
[code]

If we want to go for option 3 (one element at most satisfies a consumer), we need to find a non ambiguous name.

@mgr

[2020-06-16 07:16] BertLeonaers opened #1912 "ignoringFields() not working when nested object has lombok @Data annotation"
#### Summary
When comparing 2 object that use lombok @Data annotation to generate getters and setters, ignoringFields() does not work on a field inside a nested element

It works fine when I use @Getter and @Setter instead of @Data

#### Dog class

[code]
[code]
[code]
java.lang.AssertionError:
Expecting:
  <Dog(name=null, breed=Breed(name=Retriever, have=true))>
to be equal to:
  <Dog(name=null,

[2020-06-16 11:01] joel-costigliola commented on #1912
By default overridden equals method are used, if you force using equals with `ignoringAllOverriddenEquals` (see https://assertj.github.io/doc/#assertj-core-recursive-comparison-ignoring-equals) I think both cases will work, let me know the result.

Note that I'm going to change the default and not use overridden equals unless specified (https://github.com/joel-costigliola/assertj-core/issues/1906)

[2020-06-16 21:21] mwajcht commented on #1182
I added a few pull requests with assertions for other types.

[2020-06-17 06:21] BertLeonaers commented on #1912
Thanks for the fast reply.
using ignoringAllOverriddenEquals did solve my problem.

[code]

[2020-06-17 10:32] joel-costigliola commented on #1912
closing this issue then ;-)

[2020-06-17 10:32] #1912 closed

[2020-06-17 11:01] #1807 closed

[2020-06-17 13:05] DominiQN commented on #1499
but the below does not work...

[code]

[2020-06-17 16:09] G3zz commented on #1561
The use of `BiPredicate` instead of `Comparator` would be very useful when making recursive comparisons between objects of different types.

[2020-06-17 20:19] scordio commented on #1561
Related to #1904

[2020-06-17 21:46] abrudin opened #1923 "anySatisfy could give clearer error messages"
#### Summary
When working with unordered lists or sets, there is a reasonable risk that objects do not implement equals in a way one would hope, especially in legacy code. That makes it hard to assert that the "correct" elements are indeed in there. anySatisfy is a great start, but it is still a little unclear where the assertions in the consumer fail. One way would be to show, for every element,

[2020-06-19 14:19] mgrafl commented on #1621
My initial idea was to reuse the naming pattern from ```contains```, ```containsExactly```, and ```containsExactlyInAnyOrder```.
For ```containsExactly``` and ```containsExactlyInAnyOrder```, the names already suggest a one-to-one correlation between elements and consumers.
But I agree that the method name ```satisfy``` is ambiguous.

On option 3: I think the current description is misleading and

[2020-06-20 18:45] mgrafl opened #1927 "singleElement for iterables"
#### Summary
Add a method ```hasSingleElementThat``` to the assertions API for iterables that checks whether the iterable ```hasSize(1)``` and then returns ```element(0)``` for further assertions on that element.

I have stumbled across this pattern several times, so I wonder whether such a convenience method would make sense in the API.

#### Example

[code]

[2020-06-21 06:56] joel-costigliola commented on #1182
@mwajcht waht would you think of renaming `hasSize` to `hasDimensions`, the latter feels more natural and shows we are checking for multiple dimensions whereas the singular `size`?

BTW, I have renamed the master `branch` to `main`, your PR have been updated accordingly in this repo but not yours, don't be surprised.

[2020-06-21 09:06] mwajcht commented on #1182
@joel-costigliola Your suggestion regarding change `hasSize->hasDimensions` sounds reasonable. I created a new pull request which changes the existing methods (for `int[][]` and `char[][]`) to avoid changing them in each of the remaining pull requests. Once it's merged, I will update the rest of pull requests.

[2020-06-21 10:00] joel-costigliola commented on #1182
awesome thank you so much @mwajcht

[2020-06-21 10:29] joel-costigliola commented on #1621
if we make the parallel between `satisfy` and `contains` then my interpretation is correct, after all
`contains` is like `satisfy` + `isEqualTo`:
[code]
vs
[code]

`satisfyByDifferentElements` is the best that I can find but it still sounds a bit awkward:

[code]

Unless we find a crystal clear name, I'm not too keen to add this assertion, I'm fine with `satisfy`, `satisfyExactly`, `satisfyExactly

[2020-06-21 11:02] joel-costigliola commented on #1927
we have [hasOnlyOneElementSatisfying](https://www.javadoc.io/static/org.assertj/assertj-core/3.16.1/org/assertj/core/api/AbstractIterableAssert.html#hasOnlyOneElementSatisfying(java.util.function.Consumer)) but this name was a mistake as it is highly confusing. Your suggestion works better, it would be an opportunity to deprecate `hasOnlyOneElementSatisfying`.

The thing that does not work in your

[2020-06-21 19:12] mgrafl commented on #1927
I didn't know about ```hasOnlyOneElementSatisfying```. (If I had, I probably wouldn't have raised the issue.) I agree that its name is not intuitive.

I also prefer the name ```singleElement```.
And since ```assertThat``` also accepts the ```assertClass``` as second argument, the following example would also work:
[code]

[2020-06-21 19:38] mgrafl commented on #1621
How about ```containsElementsSatisfying```?
[code]

(Side node: I do not fully understand the consumers in your previous example ```isEqualTo(name).contains("L")``` and ```assertThat(name).isEqualTo("Y")```.)

[2020-06-22 01:33] joel-costigliola commented on #1621
Sorry bad copy paste, example updated.

`containsElementsSatisfying` is a clear name but it does not convey the fact that only a consumers are matched by different elements if that was your intention

[2020-06-22 05:12] joel-costigliola commented on #1927
Sweet, I have renamed the issue

[2020-06-22 06:19] mgrafl commented on #1621
```containsElementsSatisfyingExactlyInAnyOrder```, or is that too long?

[2020-06-22 11:33] joel-costigliola commented on #1182
@mwajcht for consistency, we now need to change is `hasSameSizeAs` to `hasSameDimensionsAs`, I can take care of it if you are busy.

[2020-06-22 11:47] mwajcht commented on #1182
@joel-costigliola Ok, please change `hasSameSizeAs` to `hasSameDimensionsAs`. Once it's done, I will rebase and change the rest of waiting pull requests.

[2020-06-23 21:28] rupert-madden-abbott opened #1929 "Move succeedsWithin to FutureAssert"
`succeedsWithin` is currently only defined on `CompletableFutureAssert` but is compatible with a regular `Future` also.

This means if I have a method that returns a `Future` (but I know it is a `CompletableFuture`), I have to cast it in order to use this assertion.

Placing this assertion on `FutureAssert` instead would let it work in either case.

[2020-06-23 22:56] joel-costigliola commented on #1929
sure!

[2020-06-24 21:27] rupert-madden-abbott commented on #1929
Awesome, thanks! I'll put a PR together.

[2020-06-24 22:19] rupert-madden-abbott commented on #1929
Done.

As far as I can see, the assertions need to stay on CompletableFutureAssert also. I've tried to share as much code between them but let me know if there is a better way.

Please let me know if you'd like any changes.

[2020-06-24 22:33] rupert-madden-abbott opened #1931 "Provide a way to the get the current actual"
#### Summary

Some assertions have side effects or traverse the objects under test.

Sometimes, it is desirable to assert something, then perform additional manipulations on the object under test, before asserting more things.

In these cases, you have 2 choices:

1. Perform the traversal outside of assertj and then assert as you reach the relevant pieces.
2. Duplicate the traversal both with and

[2020-06-26 12:03] mgrafl opened #1932 ""returns" method is not intuitive"
#### Summary
The [```AbstractObjectAssert.returns(T, Function)```](https://www.javadoc.io/static/org.assertj/assertj-core/3.16.1/org/assertj/core/api/AbstractObjectAssert.html#returns(T,java.util.function.Function)) method is not intuitive, considering that similar methods are named [```has```](https://www.javadoc.io/static/org.assertj/assertj-core/3.16.1/org/assertj/core/api/AbstractAssert.html#h

[2020-06-27 15:18] scordio commented on #1932
The methods you listed are targeting different use cases from my point of view:
* `has` allows to use a custom `Condition`, which could do much more than single property assertion
* `hasFieldOrProperty` and `hasFieldOrPropertyWithValue` only accept a `String` property name, which means they are not type safe but they support reflective access

As mentioned in the javadoc, the main use case of `ret

[2020-06-28 03:16] joel-costigliola commented on #1182
@mwajcht I renamed  `hasSameSizeAs` to `hasSameDimensionsAs` and made quite a lot of changes too:
* Fix `isEmpty` and` isNotEmpty` that should check there elements absence/presence, ex`{{}, {}}` is empty as it does no have any elements.
* Use a better error message for hasDimensions assertion.
* Improve SubarraysShouldHaveSameSize error message, remove duplication in it (at the cost of being less

[2020-06-28 20:27] mwajcht commented on #1182
I updated the pull requests for long[][], short[][] and byte[][] to contain all the changes introduced above. In the upcoming days I will also update other pull requests.

[2020-06-29 11:07] joel-costigliola opened #1935 "Adress https://rules.sonarsource.com/java/RSPEC-5841"
#### Summary

`allMatch` and `doesNotContains` on an empty list always returns true whatever the content of the predicate. Despite being correct, you should make explicit if you expect an empty list or not, by adding isEmpty()/isNotEmpty() before calling the assertion. It will justify the useless predicate to improve clarity or increase the reliability of the test.

This rule raises an issue when

[2020-06-29 19:34] mwajcht commented on #1182
Now all pull requests should be up-to-date.

[2020-06-30 10:47] #1906 closed

[2020-07-04 02:54] joel-costigliola commented on #1182
Finally done, thanks for such huge and good work @mwajcht!

[2020-07-04 02:54] #1182 closed

[2020-07-04 12:22] joel-costigliola commented on #1800
Alright, the code is a bit of mess regarding but I can clean it up and provide an easy to register a callback either explicitly:
[code]
or by overriding `method `void onAssertionErrorCollected(AssertionError error)` in your custom SoftAssertions class:

[code]
in that case the following test will print `">>>>>>>>>>>>>>>> " + error`
[code]

[2020-07-04 21:49] mgrafl commented on #1932
Okay thanks for the clarification.
For someone reading the tests, it certainly reads nicely.
But at least to me, the ```returns``` method seemed a bit hidden when I was writing tests. I only found it in the link referenced by ```hasFieldOrPropertyWithValue``` Javadoc.
Maybe an example could be given in the assertj guide (https://assertj.github.io/doc/)?

[2020-07-06 08:08] tifhorn commented on #1800
Hello @joel-costigliola

I'm really happy how it turned out, beacuse this will allow to do exactly what I want and many more, I suppose :)

Big thanks!

[2020-07-07 11:03] #1800 closed

[2020-07-07 15:44] alansegar opened #1939 "ignoringAllOverriddenEquals ignores enum actual field when expected is not enum"
#### Summary

When using ignoringAllOverriddenEquals with lenient type comparison e.g. DTO, if a field on actual is an `enum` and the field on expected with the same name is a `String`, then that field is silently ignored.
Using a custom comparator for the field solves this but it's not obvious that it's required so can easily be missed currently.
https://assertj.github.io/doc/#assertj-core-recurs

[2020-07-07 22:50] joel-costigliola commented on #1939
Wow, thanks for the detailed report!
Will look into it for 3.17.0

[2020-07-08 04:03] #1927 closed

[2020-07-08 07:52] joel-costigliola commented on #1939
That's a bug around enum values, there was an improvement in 3.15.0 with https://github.com/joel-costigliola/assertj-core/issues/1691 but if only works if the fields are both enums or if the expected field is one.

The issue is that actual enum field are not compared by value straight away, they are considered as complex objects and the recursive comparison looks for their fields since you have in

[2020-07-09 11:17] #1939 closed

[2020-07-09 20:25] pradeepsixer opened #1940 "AbstractByteArrayAssert asString should construct a new String"
#### Summary
Currently, `AbstractByteArrayAssert#asString()` does not override `AbstractAssert#asString()`, so it defaults to `byte[].toString()` internally, and the value returned is the generic Object representation.

#### Example

[code]

[2020-07-09 22:42] joel-costigliola commented on #1940
Good catch @pradeepsixer!

[2020-07-13 20:07] mgrafl commented on #1621
A minor variation would be ```containsElementsThatSatisfyExactlyInAnyOrder``` (though I slightly prefer the ```containsElementsSatisfyingExactlyInAnyOrder``` variant).
Although it is a bit long, it conveys the intention of the option 3 (implemented by #1892).
If somebody finds a better (and shorter) name in the future, an alias method name can be added easily.

[2020-07-15 14:21] sparty02 opened #1942 "Add isCloseTo for Duration"
#### Summary
Add isCloseTo assertion for java.time.Duration

#### Example

[code]

The implementation could probably just be a facade that simply does `duration.toMillis()`, and delegates to `LongAssert`.  This will likely need a new Offset class, e.g. `DurationOffset` to support the `offset` parameter to `isCloseTo`.

**Note** I considered genericizing this to adding isCloseTo for `java.time.Temp

[2020-07-15 14:21] sparty02 commented on #1942
Let me know if you'd like me to submit a PR!

[2020-07-15 22:52] joel-costigliola commented on #1942
PR always welcome, I would not delegate to `LongAssert` as the error message would be related to long and not duration.
you can't reuse the existing Offset class so introducing a `DurationOffset` would be needed.

Let's start first with `Duration`, `Period` can be added later on with some refactoring if we find it handy to share some implementation bits.

[2020-07-16 11:05] #1620 closed

[2020-07-18 06:43] #1940 closed

[2020-07-20 11:11] #1898 closed

[2020-07-24 06:15] ishanarora04 commented on #1841
Hey , I would like to start work on few of these elements . Is it still available for grabs ?

[2020-07-24 07:00] scordio commented on #1841
@ishanarora04 sure it is! We would need a separate main branch to start merging version 4 topics, but this can be prepared once the first pull request is raised.

[2020-07-25 15:02] polarene opened #1947 "Add an assertion for checking a class package"
#### Summary
I'm working on a code generation module and I need to check that generated classes have the right package.
Currently, this is the best AssertJ lets me express:

[code]
I would like a more expressive assertion such as:

#### Example

[code]
There could be an overload for a `Package` argument as well.

[2020-07-26 03:45] joel-costigliola commented on #1947
Fine by me.

[2020-07-26 07:05] filiphr commented on #1947
What about

[code]

Not sure what reads better.

[2020-07-26 08:10] #1905 closed

[2020-07-27 13:30] nioertel opened #1948 "Comparing of Boxed vs. Unboxed Array broken"
#### Summary
Before PR #1767 (specifically commit [76762a3664b3af2101d580355a05c6f0b3aa46cc](../commit/76762a3664b3af2101d580355a05c6f0b3aa46cc)) it was possible to compare a boxed with an unboxed array.
This was because org.assertj.core.util.areEqualArrays was comparing entry by entry which took care of automatic boxing/unboxing.
This functionality is broken and I'm not sure whether this was inte

[2020-07-27 13:42] nioertel opened #1949 "#isEqualTo(Object other) takes invalid shortcut"
#### Summary
Before PR #1767 (specifically commit [76762a3664b3af2101d580355a05c6f0b3aa46cc](../commit/76762a3664b3af2101d580355a05c6f0b3aa46cc)) an object x was not automatically considered equal to itself when using `BDDAssertions.assertThat(x).isEqualTo(x);`
By switching from

[code]
to calling `java.util.Objects.deepEquals(o1, o2);` we end up with
[code]

This means when testing a custom equal

[2020-07-27 15:36] scordio commented on #1949
Thanks for the detailed explanation here and in #1948, I will look into it.

[2020-07-28 14:54] polarene commented on #1947
Your proposal is good as well, I didn't spend too much time thinking about the assertion name. Another proposal, following what I see inside `AbstractClassAssert` would be

    hasDeclaredPackage(packageName)

@joel-costigliola what do you think would be a good name for this assertion?

Anyway, I could try and implement it if you don't mind.

[2020-07-28 15:08] scordio commented on #1947
Considering the existing style of `AbstractClassAssert` together with `getPackageName(String)` and `getPackage(java.lang.Package)`in `java.lang.Class`, being 100% in sync would lead to:

* `hasPackageName(String)`
* `hasPackage(Package)`

Maybe just `hasPackage` overloaded is enough.

[2020-08-01 07:05] davidmichaelkarr opened #1954 "Extracting on JsonNode sends child node to extractor, not root"
The problem can be demonstrated with this simple test class:
[code]
When this runs, it fails with the following stack trace:
[code]
And the following stdout:
[code]
As you can see, the original content has a "content" node at the root, but the extractor receives the child of that node, not the root node. The assertion fails because it logically expects to find "/content/enterpriseType", but it doe

[2020-08-01 08:47] scordio commented on #1954
`JsonNode` is an `Iterable`, therefore `extracting` is applied to all its elements. I guess the correct assertion would be:

[code]
To have a bit more of flexibility for JSON assertions, you might want to consider [JsonUnit](https://github.com/lukas-krecan/JsonUnit).

[2020-08-01 10:36] joel-costigliola commented on #1954
Another option would be to use `assertThatObject` which forces using object assertions.

[2020-08-01 16:38] davidmichaelkarr commented on #1954
Ok, well, that was completely nonintuitive.  Changing it to "assertThatObject" just makes it work, and it also allows me to perform multiple extractions and value assertions.

If I change it to
[code]
It works perfectly fine.

Although I can see the clear result of what happens when I use "assertThat" instead, which returns an "IterableAssert" in this case, I don't understand the implications of "

[2020-08-01 17:01] davidmichaelkarr commented on #1954
Using JsonUnit, I verified that the following is equivalent:
[code]

[2020-08-02 06:03] #1904 closed

[2020-08-02 06:44] joel-costigliola commented on #1954
it means like a map operation on a [stream](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/stream/Stream.html), the extracting function is called for each elements and the result is another iterable with the extracted values, so if you have a list(e1, e2, e3) after extracting their hashCode you would have a list(e1.hashCode(), e2.hashCode(), e3.hashCode()).

Agreed but not

[2020-08-02 06:44] #1954 closed

[2020-08-04 18:40] 0xh3xa opened #1958 "AccessibleObject#isAccessible is deprecated from JDK-9+"
#### Summary
isAccessible is deprecated from JDK-9+ [Oracle#doc#isAccessible](https://docs.oracle.com/javase/9/docs/api/java/lang/reflect/AccessibleObject.html#isAccessible--)

#### Example

[code]

, suggested update

[code]

[2020-08-06 12:53] scordio commented on #1958
As AssertJ 3.x is Java 8 based we cannot replace it yet. We plan to move to Java 11 with AssertJ 4, so I will add this one to the corresponding milestone.

[2020-08-06 13:10] scordio commented on #1948
My initial feeling is that the old behavior was violating the language desing, which [supports boxing/unboxing for primitive types](https://docs.oracle.com/javase/specs/jls/se8/html/jls-5.html#jls-5.1.7) but not for the corresponding arrays.

Also, IntelliJ fires an [`assertEquals`() between objects of inconvertible types](https://www.jetbrains.com/help/idea/list-of-java-inspections.html#junit) wa

[2020-08-06 15:18] nioertel commented on #1948
Valid point.
Adding the Long[] version to AbstractLongAssert could be handy, however it should then also be added to the other Abstract(Primitive)ArrayAsserts for consistency of the API.
Also the other way round is not possible as ObjectArrayAssert can't really deal with this situation.

In any case we refactored our affected test code, so I'm okay with the breaking change now.

[2020-08-06 19:35] scordio commented on #1948
Yes, definitely.

Right, there is no way to have a nice API on `AbstractObjectArrayAssert`.

From user point of view, the "easiest" workaround I found to fullfill this use case is the following:

[code]

We could add additional `AbstractArrayAssert` children to cover the wrapper arrays if the community starts asking for this, but at the moment it seems overkilling.

[2020-08-06 19:53] scordio commented on #1949
Right and I think the previous behavior was wrong because it was violating [the contract](https://docs.oracle.com/javase/8/docs/api/java/lang/Object.html#equals-java.lang.Object-) of `equals`, where it is mentioned:

The custom `equals` in the example is also violating that requirement.

Honestly, I would not restore the previous behavior. @joel-costigliola what do you think?

[2020-08-07 10:00] joel-costigliola commented on #1949
I do agree with @scordio, it is very to argue that given `o1 == o2` then `o1.equals(o2)` could return `false`.
I don't think the previous behaviour intended to allow that (might date from the Fest Assert library AssertJ is based upon).

If you want to have total control over `isEqualTo`, you can register a comparator:
[code]

Anyway @nioertel thanks for the detailed issue, appreciated!
I'm curious

[2020-08-07 10:22] joel-costigliola commented on #1948
I agree with @scordio approach, it's going to be a bit of work to do all the primitive types but that's fine.

I think we can consider allowing comparing long[] to Long[] in the recursive comparison as the philosophy of this comparison is to focus on the data (types are less important unless you enable strict type checking).

[2020-08-07 13:43] nioertel commented on #1949
I disagree.
AssertJ should not make any assumptions about the code under test regarding compliance with any contracts from the JDK docs. It should give the developer a chance to test whether the code under test fulfils these contracts.
Until this change, assertThat(a).isEqualTo(b) for single objects behaved exactly like a.equals(b), except that it added null-safety on top. In my opinion this was t

[2020-08-07 15:07] scordio commented on #1949
I missed this point in the issue description. Do I understand correctly that you would like to use `isEqualTo` to test if the `equals` implementation fulfills the contract? I would suggest to use [EqualsVerifier](https://jqno.nl/equalsverifier/) for this purpose. AssertJ might help with that, but supporting `equals` testing was never the main target.

Anyway, playing a bit more with this topic and

[2020-08-08 04:53] joel-costigliola commented on #1949
There is no obvious answer here, either AssertJ `isEqualTo` fully sticks to `equals` semantics and would not perform null check or reference checks or it performs them and the array comparison ones.

I would keep the current behaviour for now until we are presented a real life use case or more arguments in favor of the old behaviour.

The current behaviour does not prevent alternatives approaches

[2020-08-08 18:29] scordio commented on #1949
This topic has been also discussed in [JDK-8196069](https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8196069).

[2020-08-10 10:45] hemanthsridhar commented on #1403
works with the below configuration.

`<plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-javadoc-plugin</artifactId>
                <version>2.9.1</version>
                <configuration>
                    <source>8</source>
                </configuration>
                <executions>
                    <execution>
                        <

[2020-08-10 17:40] C-Otto opened #1961 "Assumptions.assumeThat incompatible with TestNG 7.1.1+"
See https://github.com/cbeust/testng/issues/2352

[2020-08-10 19:26] scordio commented on #1961
Thanks for reporting the issue @C-Otto.

We could increase the precedence of `org.testng.SkipException` over `org.junit.AssumptionViolatedException`, but I would first wait for a feedback on the TestNG issue you opened.

[2020-08-10 20:01] philwebb opened #1962 "Consider adding an assertThatNoException method"
#### Summary
The `assertThatExceptionOfType` method and related helpers (`assertThatNullPointerException`, `assertThatIllegalArgumentException`, `assertThatIOException` & `assertThatIllegalStateException`) provide a nice way to check that a specific exception has been thrown.

If, however, you want to check that an exception was not thrown you need to use `assertThatCode` and follow it with `doesN

[2020-08-10 20:02] philwebb commented on #1962
I'm happy to work on a PR if wanted.

[2020-08-10 21:15] joel-costigliola commented on #1962
Good idea! go for the PR @philwebb :)

[2020-08-11 19:08] bjhargrave opened #1964 "OSGi: soft proxy creation lacks visibilty to internal types"
In the [osgi-test](https://github.com/osgi/osgi-test) project, we are developing custom AssertJ assertions and providing soft assertion support for them. [Integration testing for the latest such custom assertion](https://github.com/osgi/osgi-test/pull/176), show a class loading issue preventing creating the soft assertion proxy. The issue seems to be at

https://github.com/joel-costigliola/assertj

[2020-08-11 20:39] #1962 closed

[2020-08-11 23:31] kriegfrj commented on #1964
I think this is also another :+1: for #1888.

[2020-08-12 02:44] joel-costigliola opened #1965 "Improve isTrue/isFalse assertions error messages"
#### Summary

`isFalse()` error message is:
[code]
This is not super elegant, it could be:
[code]

[2020-08-12 11:22] joel-costigliola commented on #1964
@bjhargrave thanks for the detailed issue, is that something you can work on?
we don't really have good testing when it comes to OSGi as @kriegfrj pointed out with a reference to #1888

[2020-08-12 17:55] jbytecoder commented on #1621
It would be great if this functions could ( or had sibling functions that did ) operate not on the collection ELEMENT but on a assertion over that element. It could be achieved by requiring an extra parameter which would be the assert factory. The signature could be something like:

[code]

Such a function would allow to avoid the recurring 'assertThat' such as:

[code]

allowing:

[code]

Unfortu

[2020-08-13 18:30] bjhargrave commented on #1964
OK, so my experiments with trying to use a composite class loader have failed. The main issues is that AssertJ uses a ByteBuddy class loading strategy which defines the proxy class in the class loader which defines the assertClass. For OSGi, this is the bundle's class loader. But that class loader does not have visibility to AssertJ internal packages in the assertj-core bundle and so we get the ex

[2020-08-14 06:03] kriegfrj commented on #1964
I just started to see if I could have a play with this, because I thought that @bjhargrave's composite classloader idea should work.

I happened to notice this in the Maven log output for `bnd-maven-plugin`:

[INFO] --- bnd-maven-plugin:5.1.2:bnd-process (bundle-after-unpack-shaded) @ assertj-core ---
[WARNING] C:\workspace\assertj-core\dependency-reduced-pom.xml [0:0]: Export org.assertj.core.api

[2020-08-14 06:04] kriegfrj commented on #1964
It would be helpful if Bnd were a little more forthcoming about which classes in those packages are generating the private references.

[2020-08-14 09:03] rdehuyss opened #1966 "Semaphore causes AssertJ to hang indefinitely."
#### Summary
I'm using Objects which contains `Semaphore`'s. When using recursive comparison, AssertJ hangs indefinetly.

I cannot use ReentrantLock because of non-ownership-release semantics.

#### Example

[code]

[2020-08-14 09:05] rdehuyss opened #1967 "Why are some methods like contain final?"
#### Summary
I want to extend ListAssert and override the methods `contains`, `containsOnly`, `containsExactly`, ... However, I just found out that these methods are final :-(

Why is that? https://github.com/joel-costigliola/assertj-core/blob/main/src/main/java/org/assertj/core/api/ListAssert.java#L268

Reason to override and extend the ListAssert is related to #1966. Before comparing my objects,

[2020-08-14 09:10] rdehuyss commented on #1966
Further investigation shows that AssertJ only hangs because of the name of the following method:

[code]

If the method is renamed, it does not hang.

[code]

[2020-08-14 10:45] joel-costigliola commented on #1964
I'm not sure if that's a silly suggestion but I'm not against exporting more classes (if not all) in the manifest if that can solve thes never ending OSGi issues. I would not suggest that if AssertJ was a library use in production code but it is meant for testing only so even if the export is loose it won't impact production artifacts.

[2020-08-14 18:46] filiphr commented on #1967
The methods are final in order to avoid a warning for users using the API. If they aren't then `@SafeVarargs` does not work and users will get a warning saying:

You can extend from `FactoryBasedNavigableListAssert` instead

[2020-08-14 18:51] bjhargrave commented on #1964
So, I went back to my composite class loader attempt for another try. Turns out I got confused by a test case in assertj which failed when testing my fix. The issue was that the test class, SoftAssertionsMultipleProjectsTest, was only using package private access for the assert classes being proxied and those classes super types and interfaces. ByteBuddy was in fact defining the generated proxy cl

[2020-08-14 23:17] joel-costigliola commented on #1967
@filiphr is right, I just wished there was a way to get rid of this warning without making these methods final!
although I understand the rationale of having to make the methods `final`, I really think it was too much and  `@SafeVarargs` should have been sufficient.

[2020-08-14 23:17] #1967 closed

[2020-08-15 07:09] scordio opened #1969 "PredicateAssert accepts/rejects fails with single null parameter"
#### Summary

[assertj/doc#65] AbstractPredicateAssert.accepts and rejects throws on null value. This prevents testing if the Predicate correctly handles null values.

#### Example

[code]

yields:

[code]

[2020-08-15 08:35] scordio commented on #1969
@cameronbraid the problem is that `accepts` and `rejects` expect a vararg and a `null` value is ambiguous as it can refer to either a single element or to an array.

If you cast `null` to a `Boolean` then it should work:

[code]

Would this cover your use case?

[2020-08-15 12:22] cameronbraid commented on #1969
Hrm, yeah that's a sufficient workaround.

Though you may be able to code the rejects using two methods, the first will be called with a single arg when null

[code]

[2020-08-15 17:13] scordio commented on #1969
With the way you suggested it's no longer possible to provide only an array of values, so it would be a breaking change. Also, the internal implementation and assertion would become a bit more complex.

Still doable but I'm not sure if it's a reasonable price to pay to avoid casting the null value.

@joel-costigliola thoughts?

[2020-08-16 06:56] joel-costigliola commented on #1969
I agree with @scordio, I think it is sufficient to update the javadoc for this use case.

We could also add `rejectsNull`/`acceptsNull`, it feels a bit of work for a minor corner case though.

[2020-08-16 14:46] #1455 closed

[2020-08-18 10:44] #1964 closed

[2020-08-18 11:29] hadrienk commented on #1150
Sorry for digging up an old issue, but what happened to `failsWithin()`?

[2020-08-18 12:11] hadrienk commented on #1214
Hi, was the following method forgotten?

[code]

[2020-08-18 14:04] bjhargrave commented on #1841
Does this mean JPMS modules only? We need to continue to support OSGi users. So the [osgi-test](https://github.com/osgi/osgi-test) team would like to work with you to ensure continued OSGi support.

[2020-08-18 18:31] scordio commented on #1841
@bjhargrave yes, that point was about JPMS. Working together making sure we are still supporting OSGi users properly would be perfect!

[2020-08-18 19:18] sowmiyamuthuraman commented on #1958
Hey, I would like to pick this one. Is this open for grabs?

[2020-08-18 21:44] joel-costigliola commented on #1214
forgotten mostly, now that we have added `succeedsWithin` for 3.17.0 https://github.com/joel-costigliola/assertj-core/pull/1930, we should add `failsWithin` too

[2020-08-18 21:46] joel-costigliola commented on #1150
`succeedsWithin` has been added, let's finish this issue by adding `failsWithin`

[2020-08-19 02:06] joel-costigliola commented on #1958
thanks @sowmiyamuthuraman, we have not yet migrated to java 11 so it's not yet ready for grab.

[2020-08-20 05:43] kriegfrj opened #1970 "Softly/SoftAssertionsExtension revamp"
I have a number of suggestions regarding these two extensions that I wanted to float - they could be done as separate issues but they are tightly coupled so I'm going to include them in one issue for now and we can split them up later if you feel that this is appropriate.

## SoftlyExtension doesn't support custom SoftAssertionsProvider

I find the field-injection style of `SoftlyExtension` much p

[2020-08-24 13:02] tifhorn opened #1974 "AssertJ Core 3.17.0 and AssertJ Swing 3.9.2 - NoSuchMethodError"
Hello.

I've upgraded today to newest Assertj Core and it seems to not work properly when using Assertj Swing at the same time, resulting in following stacktrace:

[code]

It's hard to tell exactly which line of my code causes it, but should it work together with Assertj Swing without problems or strange dependency manipulation? Or there's some additional step to make in order to get it to work?

[2020-08-24 15:16] Fryie opened #1975 "Breaking change for 2D arrays in v3.17.0"
#### Summary

After upgrading to 3.17.0 some assertions such as `hasSize` and `allMatch` are not available anymore for 2D arrays, although they were before.

This is not a huge issue, as `hasDimensions` etc. seem to be better matchers anyway, but this isn't indicated in the release notes as a breaking change, so in case anybody else is running into this problem, at least now they can maybe find th

[2020-08-24 16:42] hadrienk commented on #1150
I think the best is to pass whatever exception was thrown (including cancellation) and let the user chain the correct assertions based on the contract of CompletableFuture.

[code]

Regarding the `hasFailed()`, I was not part of the discussion but it seems to me that the cancelation should be a failure as well. The documentation states the following:

But again, maybe this was discussed and there'