[2020-08-24 21:12] scordio commented on #1975
Thank you @Fryie, added as breaking change in [e22e4b2](https://github.com/assertj/doc/commit/e22e4b247454caaab7b5551492db504517222e20).

[2020-08-24 21:12] #1975 closed

[2020-08-24 21:24] scordio commented on #1974
It seems AssertJ Swing is still using assertj-core 3.11.1 and `Descriptable#as(Description)` became binary incompatible on 3.15.0 with 618609cc0a05414ef1a117cf616621310cd062ee.

Could you check if 3.14.0 works correctly?

[2020-08-25 06:11] tifhorn commented on #1974
@scordio  Thanks for Your reply. Yes indeed, 3.14.0 works correctly, while from 3.15+ it fails with above error.
Is there any plan of upgrading AssertJ Swing to newest AssertJ Core dependencies?

[2020-08-25 06:15] scordio commented on #1974
Yes, sure. I will follow up on this.

[2020-08-25 09:47] charphi opened #1976 "Object2DArrayAssert#isDeepEqualTo(...) uses reference comparison instead of content comparison"
In v3.17.0, Object2DArrayAssert#isDeepEqualTo(...) uses reference comparison instead of content comparison.
So, two arrays with same content may be seen as different by assertj.

At line 89, the comparison is done by ` if (actualSubArray[j] != expectedSubArray[j]) {`
but should be `if (!Objects.equals(actualSubArray[j], expectedSubArray[j]) {`

[2020-08-25 10:45] joel-costigliola commented on #1970
I agree it should, will also add support for BDDSoftAssertions.

Agreed too if that is technically feasible (which I think it is).

I'm ok with the idea as long as it does not add too much complexity.

The first two suggestions can be addressed in the same PR, I prefer the last one to be done separately.

[2020-08-25 11:24] kriegfrj commented on #1970
:+1:

👍If I do this, should i deprecate `SoftlyExtension` at the same time?

On the contrary we've found it simplifies it a bit.

Ok. In that case, i will address the last first, otherwise I'll have to refactor the other PR once the last is done.

[2020-08-25 19:59] #1976 closed

[2020-08-25 20:02] scordio commented on #1976
Good catch, thank you @charphi!

[2020-08-25 21:13] joel-costigliola commented on #1150
I agree that would be the most natural.

I remember spending quite a bit of time trying to get the `CompletableFuture` assertions right and not being fully happy with them but at the time that was the best I could think of, in hindsight I would probably do it differently today, I'll consider deprecating `hasFailed` as part of this piece of work.

[2020-08-26 06:59] kriegfrj commented on #1800
I've just stumbled upon the fix for this while working on #1970. I'm glad it's here because I think it will help me with my implementation. But I agree with this comment above by @joel-costigliola:

One question that I have: you left a comment in `AssertionErrorCollector`:

[code]

Is there a reason we have to leave it this way? Should we change the proxy code so that all calls are channeled throu

[2020-08-26 11:25] hadrienk commented on #1150
I think the confusion can come from the tense, I'd rename `hasFailed()` to `isFailed()` to better reflect that the check is done on the state - as in `isCompletedExceptionally()` - and does blocks on anything. But IMO those assertions are better done manually against the method.

Some shortcuts with the type might be nice? What do you think?
[code]

[2020-08-26 13:45] bjhargrave commented on #1888
This is a difficult problem.

I started to work on this based upon how we do integration testing in https://github.com/osgi/osgi-test. To resolve the bndrun files, we put the necessary dependencies in the pom so that they are visible to the Bnd plugins as a set of possible bundles since the test execution in the OSGi runtime will need all the necessary JUnit bundles installed.

https://github.com/

[2020-08-26 13:57] bjhargrave opened #1979 "OSGi: Soft proxies not working on Java 9+"
In https://github.com/joel-costigliola/assertj-core/pull/1968, I made a fix to better support custom assertions in OSGi bundles being used as soft assertions. This works fine on Java 8 but does nothing for Java 9+ due to the way AssertJ selects the ClassLoadingStrategy.

https://github.com/joel-costigliola/assertj-core/blob/d80cb5c8fc9d76ed6ca4361cc40e0e42d22b1cbc/src/main/java/org/assertj/core/ap

[2020-08-26 13:58] bjhargrave commented on #1979
I have a fix for this and will soon submit a PR.

[2020-08-26 15:07] kriegfrj commented on #1888
I believe there is a way to configure JUnit Platform (in a non OSGi environment) to turn off engine autodiscovery and explicitly specify which engine you want to run. That would be the easiest  fix to this problem.

[2020-08-26 15:10] kriegfrj commented on #1888
Actually, i don't think it's necessary to have biz.aQute.tester.junit- platform as a test dependency - the embedded repo supplies it. In osgi test we simply specified junit-platform-launcher and junit-jupiter-engine in -runrequires and it works.

[2020-08-26 17:11] bjhargrave opened #1981 "CI build for Java 16-ea is broken"
The add of `16-ea` to the cross build workflow is breaking the build for PRs. It seems that `nl.jqno.equalsverifier` 3.4.2 does not support Java 16 class files.

https://github.com/joel-costigliola/assertj-core/pull/1980/checks?check_run_id=1032659339#step:5:2803

[code]

[2020-08-26 18:05] bjhargrave commented on #1888
Excellent observation! With this I was able to run OSGi integration tests. PR to come.

[2020-08-26 18:07] bjhargrave commented on #1888
I do not think this is true. I did not see anything in the platform configuration docs about this. https://junit.org/junit5/docs/current/user-guide/#running-tests-config-params

[2020-08-26 19:20] scordio commented on #1981
Yep, I'm on it.

[2020-08-26 21:49] joel-costigliola commented on #1979
@bjhargrave thanks, is it possible to craft a test for this? we are building AssertJ for different java versions in a our CI, that would have picked up the issue.

[2020-08-26 23:59] bjhargrave commented on #1979
Yes, I have the test in my PR to add OSGi integration tests:

https://github.com/joel-costigliola/assertj-core/pull/1982/files#diff-48b3faed78fbacd185940ede4736cb75

I am working on the fix for that PR build break.

Would you prefer one PR with both commits vs 2 PRs? I am now leaning towards the one PR.

[2020-08-27 00:22] kriegfrj commented on #1888
This point is now moot to an extent, as we have our other workaround, but for posterity:

Within JUnit platform's launcher API, there are explicit mechanisms for filtering test engines from the launcher request:

https://github.com/junit-team/junit5/blob/68bb2e3124da100ff00608c44fcd75dd3061f593/junit-platform-launcher/src/main/java/org/junit/platform/launcher/LauncherDiscoveryRequest.java#L61-L70

[2020-08-27 01:10] bjhargrave commented on #1979
I did this. #1980 now includes the commit to add OSGi integration testing as well as a test class for the soft proxy support for OSGi.

[2020-08-27 01:42] joel-costigliola commented on #1979
One PR is better as the changes are closely related.

[2020-08-27 03:53] kriegfrj commented on #1979
Hi @joel-costigliola , I can confirm that #1980 now contains all changes (the fix and the OSGi-aware integration test).

[2020-08-27 11:01] joel-costigliola commented on #1150
`assertThat(tokenFuture).timesoutWithin(duration);` reads nicely but the other a bit less,  `isInterruptedWithin` sounds better.

I see the usefulness of `timesoutWithin` but the other ones don't seem to me as useful.

[2020-08-27 20:20] #1981 closed

[2020-08-28 10:49] #1961 closed

[2020-09-03 03:18] joel-costigliola commented on #1974
closing this as https://github.com/joel-costigliola/assertj-swing/issues/252 describes the same error.

[2020-09-03 03:18] #1974 closed

[2020-09-03 10:32] #1888 closed

[2020-09-03 10:32] #1979 closed

[2020-09-04 08:38] JoergSiebahn opened #1985 "Assumptions are broken in JUnit4 when opentest4j is in the classpath with 3.17.1"
#### Summary

#1983 causes assumptions to fail instead of ignoring the test in edge cases.

This only occurs with JUnit4 when opentest4j is in the classpath, e.g. as transitive dependency from other test utilities like [Json-Unit](https://github.com/lukas-krecan/JsonUnit).

JUnit4 does not recognize `org.opentest4j.TestAbortedException` as expected and fails.

#### Example

I created a [test case

[2020-09-04 09:15] scordio commented on #1985
Thanks for raising this @JoergSiebahn.

@lukas-krecan is there a particular reason that JsonUnit is providing opentest4j as a transitive dependency instead of optional?

[2020-09-04 12:18] lukas-krecan commented on #1985
JsonUnit supports multiple modes of operation, it can work as standalone assertion library, as Hamcrest macher or as an extension of AssertJ. In some scenarios it throws `AssertionFailedError` from opentest4j to report multiple failures (I believe that it's better displayed by IDEs if it's AssertionFailedError).

[2020-09-04 23:12] joel-costigliola commented on #1985
The ideal fix would be for JUnit4 to support `org.opentest4j.TestAbortedException` but that's not going to happen since the 4.13 is the final JUnit 4 release (unless they changed their mind).

Possible way forward

1. Revert the fix done in 3.17.1 but I'm not super keen to support a library that is being replaced by JUnit 5 TBH.

2. Make `opentest4j` optional in JsonUnit: JsonUnit would only raise

[2020-09-05 05:18] scordio commented on #1985
The important part of #1983 was to have TestNG winning over JUnit 4. We might also push down the priority of opentest4j.
If we go with the following order:

1. org.testng.SkipException
2. org.junit.AssumptionViolatedException
3. org.opentest4j.TestAbortedException

TestNG with JUnit 4 would still work and JsonUnit should also work.

However, I would vote for option 2 as this would make JsonUnit wo

[2020-09-05 05:36] lukas-krecan commented on #1985
I can do 2. but I am not sure if it's the only case when people have opentest4j in the classpath v JUnit 4.

[2020-09-05 06:08] joel-costigliola commented on #1985
That would be awesome, thanks!

We will have the same issue if another testing library strongly depends on opentest4j, how likely is hard to say so I would not worry too much about that and wait for someone to raise an issue.

[2020-09-05 10:23] joel-costigliola commented on #1985
I'm ok to follow @scordio suggestion and change the order AssertJ is choosing for the assumption exception.

[2020-09-05 13:30] lukas-krecan commented on #1985
I guess we can do both, I have already made opentest4j optional in JsonUnit, will release it soon.

[2020-09-05 20:52] #1985 closed

[2020-09-05 20:53] scordio commented on #1985
@joel-costigliola change applied, shall we go with a 3.17.2 release?

[2020-09-05 20:56] scordio commented on #1985
Also, JsonUnit 2.19.0 has been released. Thanks @lukas-krecan!

[2020-09-05 23:11] joel-costigliola commented on #1985
can do 3.17.2

[2020-09-05 23:38] joel-costigliola opened #1986 "Github action release"
#### Summary

Investigate if it is possible to create a github action to release assertj-core to maven central.

[2020-09-06 01:58] eddumelendez commented on #1853
Resolved by #1902

[2020-09-06 01:58] #1853 closed

[2020-09-06 07:11] onacit opened #1987 "Add isNullOr() for an intermediate checkpoint?"
#### Summary

Is it possible to add, or do we already have, a functionality such as `isNullOr()` for an intermediate checkpoint?

#### Example

Note that this is not related to DB regardless the example code.

[code]

[2020-09-06 11:29] filiphr commented on #1986
As far as I know Byte Buddy does a release via an action.

https://github.com/raphw/byte-buddy/blob/6b1bc2a5e07db2597969af274b4eca3ed31fb5bd/.github/workflows/main.yml#L92-L109

[2020-09-06 21:12] joel-costigliola commented on #1986
Thanks @filiphr, we'll look at it.

[2020-09-07 03:19] joel-costigliola commented on #1987
Nothing specific like that but you have the more generic [satisfiesAny](https://www.javadoc.io/static/org.assertj/assertj-core/3.17.2/org/assertj/core/api/AbstractAssert.html#satisfiesAnyOf(java.util.function.Consumer,java.util.function.Consumer)) which basically works like:
[code]
In your case it would look like:
[code]
Not as elegant as `isNullOr` but does the job.

[2020-09-07 03:30] onacit commented on #1987
@joel-costigliola Thank you. This can be closed and I'm doing it.

[2020-09-07 03:30] #1987 closed

[2020-09-07 07:17] JoergSiebahn commented on #1985
Thank you very much for this amazingly fast response.

You are right in both parts. In our case there are around 50 (micro) services that are based on JUnit4 and there are hundreds more at developing customers that rely on our tooling. It's really a long term task to upgrade. Luckily cases like this are rare compared to total amount of tests.

[2020-09-13 06:02] joel-costigliola commented on #1965
Fixed in c4497bca8284f071b29ff99273d8c89d5a200968

[2020-09-13 06:02] #1965 closed

[2020-09-14 20:12] stevegutz opened #1990 "StandardRepresentation is broken for Jackson object models"
#### Summary

I'm not sure if this is something the maintainers are concerned with, but upgrading from assertj `3.16.1` to `3.17.1` seems to have broken how `StandardRepresentation` represents [the `JsonNode` type](https://fasterxml.github.io/jackson-databind/javadoc/2.7/com/fasterxml/jackson/databind/JsonNode.html). I think that this broke in https://github.com/joel-costigliola/assertj-core/commi

[2020-09-15 01:16] joel-costigliola commented on #1990
Thanks for reporting this, we'll try to fix that.

[2020-09-16 04:40] #1990 closed

[2020-09-16 10:45] joel-costigliola opened #1991 "Move repo to assertj organisation"
Will need to change the github actions files

[2020-09-16 14:05] stevegutz commented on #1990
Thanks for the quick fix! I'll definitely start advocating for JsonUnit, but we have a large code base and it's not feasible to move existing tests over unless they break. Thanks again!

[2020-09-17 20:29] agabrys opened #1995 "Remove references to assertj.org"
#### Summary
The `assertj.org` domain points to dangerous pages (contain malware). Some of them are even blocked by network providers and browsers. The latest release 3.17.2 still points to it. The project URL is equal to `http://assertj.org/assertj-core`. This URL is inherited from [assertj-parent-pom](https://github.com/assertj/assertj-parent-pom). The URL has been fixed 3 months ago (https://gi

[2020-09-17 21:00] joel-costigliola commented on #1995
Good catch thanks!

[2020-09-20 02:56] #1970 closed

[2020-09-20 10:22] joel-costigliola opened #1996 "`SoftAssertionsExtension_PER_CLASS_Concurrency_Test` flaky test"
#### Summary

`SoftAssertionsExtension_PER_CLASS_Concurrency_Test.concurrent_tests_with_explicit_per_class_annotation_do_not_interfere` is flaky.

Here's a run with the test above failing (MacOS): [logs_1781.zip](https://github.com/joel-costigliola/assertj-core/files/5251438/logs_1781.zip).

Specific extract:
[code]

[2020-09-20 10:25] joel-costigliola commented on #1996
@kriegfrj is that something you have experienced?

[2020-09-20 16:07] kriegfrj commented on #1996
I've not seen it before and I don't have a Mac to test on, but I've just had a look over it and there are some potential memory visibility issues arising due to the non-thread-safe hashmap I'm using so I made it synchronized. I also broke down the chained call where the NPE was happening so we can better pinpoint where the null is when it occurs. See #1997.

Let's run with this and see what comes

[2020-09-20 21:41] joel-costigliola commented on #1996
I don't have a Mac neither ;-)

[2020-09-21 09:09] scordio commented on #1996
Feel free to ping me next time a mac issue arises 🙂

[2020-09-21 10:44] joel-costigliola commented on #1996
@kriegfrj build looks good so far :smiley:

[2020-09-21 19:17] henri-tremblay opened #2000 "FieldUtils.readField returns static fields"
#### Summary

The issue came from `hasFieldOrPropertyWithValue`. `FieldUtils.readField` will consider values from static fields to be what we are looking for. I think static fields should be ignored.

This behavior is new. This test used to work in 3.14 and doesn't in 3.17.

#### Example

[code]

[2020-09-21 20:00] asolntsev commented on #1985
@JoergSiebahn @lukas-krecan @scordio I have upgraded to AssertJ 3.17.2, and my tests failed. :(
I have the opposite case:
* my classpath contains both junit.jar and testh.jar
* I run JUnit tests
* I have `assumeThat(false).isTrue();` in my tests.

AssertJ 3.17.2 throws `org.testng.SkipException` which causes my JUnit test failure. :(

[2020-09-21 20:06] scordio commented on #1985
Hi @asolntsev, could you share some more details about why both JUnit 4 and TestNG appear in the classpath, but tests are running with JUnit 4?

[2020-09-21 20:26] scordio commented on #2000
Hi @henri-tremblay, I would not expect `assertThat(a).hasFieldOrPropertyWithValue(A.KEY, "x")` to match the value in the map because `values` is an inner field of `A`. The behavior you mentioned can happen if `A` implements `Map`, see:
https://github.com/joel-costigliola/assertj-core/blob/3c6bb8a5d4f452c60cf3c8e336a03feba5e9b207/src/main/java/org/assertj/core/util/introspection/PropertyOrFieldSupp

[2020-09-21 20:29] asolntsev commented on #1985
@scordio I am developing [Selenide](https://github.com/selenide/selenide) - a library for UI tests. It provides several rules/listeners for JUnit4, JUnit5 and TestNG. That's why it must have junit4.jar, junit5.jar, testng.jar in classpath.

A better solution would be to extract those rules/listeners to separate submodules with their own classpaths, but it means more work for us... :)

[2020-09-21 20:49] scordio commented on #1985
If I understand it correctly, it is an issue only for Selenide own tests as JUnit 4, 5 and TestNG are not transitive dependencies.

We are trying to satisfy the use cases for the majority of the users and your use case might be tough to be covered without breaking the others.

If splitting the projects into modules is not an option, there might be different strategies to have proper testing:
* Mov

[2020-09-21 20:57] asolntsev commented on #1985
@scordio Don't bother too much :)
Splitting the project into modules is an option. Actually, it's the only valid option. :)
Just wanted to share my today's finding with you. It was quite unexpected that a minor upgrade of assertj could fail our tests.

Ideally, libraries like AssertJ should not depend on JUnit, TestNG or any other testing libraries. Currently you are supporting only JUnit and Test

[2020-09-21 21:12] scordio commented on #1985
@asolntsev thanks for sharing, this helps us to understand how much the use case matrix is growing 🙂

AssertJ has to depend on the underlying test engine due to the fluent assumptions, which must throw exceptions understandable by the test engine itself. Ideally, there would be no issue to handle those cases if all the test engines would adopt [opentest4j](https://github.com/ota4j-team/opentest4j)

[2020-09-22 00:59] kriegfrj opened #2001 "AbstractAssert to add assertion factory methods"
#### Summary

Some of the utility methods in `AbstractAssert` that are commonly used by custom assertion implementations will always throw an exception. Specifically:

https://github.com/joel-costigliola/assertj-core/blob/3c6bb8a5d4f452c60cf3c8e336a03feba5e9b207/src/main/java/org/assertj/core/api/AbstractAssert.java#L143

https://github.com/joel-costigliola/assertj-core/blob/3c6bb8a5d4f452c60cf3c8

[2020-09-22 01:56] henri-tremblay commented on #2000
A does implement map in my case. But it goes out before that.

Let me get back with a full example. I apologize, I did it a bit too quickly from an actual issue I had in my code.

[2020-09-22 20:41] scordio commented on #1986
I think the [workflow_dispatch](https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/) event would be a good fit for a release job. I'll put together a PR to see what we can do.

[2020-09-22 21:34] scordio commented on #2000
I was able to reproduce the case you mentioned, the root cause is probably #1763.

I am not sure we should entirely ignore static fields as this could prevent the verification of non public values.
We currently verify the following, in order:

1. input name as property
2. input name as field
3. input name as map key, if the object is an instance of `Map`

Maybe it could be reasonable to ignore sta

[2020-09-23 02:11] joel-costigliola commented on #1986
The release steps are `mvn release:prepare release:perform`, would need to use the `-B` option to avoid being prompt for the next development version.

[2020-09-23 02:36] joel-costigliola commented on #2000
I think we should ignore static fields by default, `hasFieldOrPropertyWithValue` was meant to check instance's fields or properties.
If people want to check static fields we could introduce `hasStaticFieldWithValue` in class assertions.

[2020-09-23 02:38] henri-tremblay commented on #2000
I agree with @joel-costigliola.

[2020-09-23 05:01] joel-costigliola commented on #2001
I'm not against it as long as the methods are protected to exposing them to public use.
I would simply name them `failure(String message, Object... arguments)` and `failure(Object actual, Object expected, String errorMessageFormat, Object... arguments)`, this last one creates an error that IDE can use to show a visual diff between actual and expected.

[2020-09-24 01:59] scordio commented on #2000
My only concern is that `FieldUtils.readField` is a core element and the change of the behavior will affect other features (`extracting` and recursive comparison configuration, for example).

Or we would need to do a bigger refactoring to make sure only `hasFieldOrPropertyWithValue` is changed.

[2020-09-24 02:11] joel-costigliola commented on #2000
For recursive comparison, the intent was not to check static fields, for extracting I would argue the same.
It is a breaking change for sure but I feel it's a reasonable one as the initial goals was not to check static fields.
@scordio WDYT?

[2020-09-24 02:14] scordio commented on #2000
I agree, static field verification is really a corner case. Ok, I can drop the bad 👮‍♂️ hat!

[2020-09-28 04:30] onacit opened #2005 "Add Abstract(Float|Double)Assert#is(Not)(Negative|Positive)Infinity"
#### Summary

I see we already have `is(Not)Nan`.
Can we have a chance for `is(Negative|Positive)Infinity`?

#### Example

[code]

[2020-09-28 04:54] joel-costigliola commented on #2005
Sure.

[2020-09-28 08:27] polarene commented on #1947
@joel-costigliola could you assign this issue to me, as I started working on it, please?

[2020-09-28 09:11] scordio commented on #1947
Thanks @polarene!

[2020-09-28 09:37] onacit commented on #2005
Can I contribute ?

[2020-09-28 10:36] scordio commented on #2005
Absolutely, thanks @onacit! Please let us know if you have any questions.

[2020-09-28 14:39] polarene commented on #1947
You're welcome, I just need to carve out some time between work and family 😄

[2020-09-28 21:40] joel-costigliola commented on #1947
@polarene take your time!

[2020-09-29 09:56] joel-costigliola commented on #1995
Fixed by a619a163 and https://github.com/assertj/assertj-parent-pom/commit/5274a20f670072750f43c3f27d798a5f9edca259

[2020-09-29 09:56] #1995 closed

[2020-09-29 17:33] epeee commented on #1991
@joel-costigliola we also can resolve this one, isn't it?

[2020-09-29 21:23] joel-costigliola commented on #1991
yes indeed

[2020-09-29 21:23] #1991 closed

[2020-09-30 04:14] #1942 closed

[2020-09-30 09:20] onacit commented on #919
I have reached here with an issue seems related this issue. It seems that wrapper class doesn't work for NEGATIVE zeros.

[code]

[2020-09-30 10:20] #2001 closed

[2020-09-30 13:58] onacit commented on #919
@joel-costigliola Just calling. Thanks.

[2020-10-01 06:34] onacit commented on #919
@joel-costigliola Shouldn't this issue be re-opened?

[2020-10-01 07:06] scordio commented on #919
@onacit if I am not mistaken, the issue is only for boxed values. According to @joel-costigliola's comment:

which is in line with the JDK behavior.

Or did I miss something?

[2020-10-01 08:03] onacit commented on #919
@scordio You're not mistaken at all, I believe, yet it's pulling me with a new point of view.

Currently,
`Abstract(Double|Float)Assert#assertIsPrimitiveZero()` methods compare `(double|float)Value()` with `0.0`.
Which seems work with both negative|positive zero values.

And `(Doubles|Floats)#zero()` methods returns `0.0d`, `0.0f`, respectively.

I'm curious when clients call a method so called `i

[2020-10-01 08:36] onacit commented on #1841
I'm not sure of the schedule but shouldn't Java-8 which is LTS-ish be still count?
Say, I'm the one who is pleased using Assert-J with [spring-boot-test](https://search.maven.org/search?q=a:spring-boot-test) which depends itself on assertj-*.
Shouldn't we consider those major frameworks/platforms regarding their plans for Java-11?
Thanks.

[2020-10-01 08:37] onacit commented on #2005
@scordio Happily created a [PR](https://github.com/assertj/assertj-core/pull/2006). Thank you.

[2020-10-01 12:00] scordio commented on #1841
There is no schedule yet for AssertJ 4. I can easily imagine versions 3 and 4 to continue together for some time, where we would backport any Java 8 compatible feature to version 3.

[2020-10-01 22:16] chassum opened #2007 "assertThatJson(jmyJsonObject).containsEntry(key, value) fails when value is numeric."
#### Expected to find numeric value in assertThatJson with .containsEntry when value is numeric

#### Example

[code]

[2020-10-01 22:19] joel-costigliola commented on #2007
Thanks for reporting this @chassum, could you add a reproducible test case?

[2020-10-01 22:21] chassum commented on #2007
I'll try to whip something up tomorrow ;)

[2020-10-04 13:12] timorohwedder commented on #2007
Hi @chassum !

I've take a look on this issue.

I'm not sure if you use JsonUnit. But if, numbers are converted to BigDecimal.

A little bit hidden in den README of https://github.com/lukas-krecan/JsonUnit:
[code]

[2020-10-06 01:59] drumonii opened #2010 "Improve describe error readability of ElementsShouldSatisfy"
#### Summary
The `error: <description>` from `ElementsShouldSatisfy` should be on a new line to improve readability of objects with long `toString()`.

#### Example

Consider a complex Object with many fields in its `toString`:

[code]

Using `allSatisfy`
[code]

Yields this
[code]

Now when I first came across this, right away I was unable to determine which assertion of my `Consumer` failed from

[2020-10-06 02:21] joel-costigliola commented on #2010
Fair enough, go for the PR, thanks!

[2020-10-06 18:01] nick-u-riis opened #2011 "Add functionality to append supplied String (or Supplier<String>) to default error message"
#### Summary
Currently we can call withFailMessage with either a String or Supplier<String>. This is nice but the default error message can be useful **in addition** to a custom error message. Please add this kind of method with both signatures.

Thanks for the consideration!

#### Example

[code]

[2020-10-07 04:12] #1150 closed

[2020-10-07 04:14] #2010 closed

[2020-10-07 10:13] LomaPL opened #2013 "AllSatisfy should fail for empty map"
#### Summary
Assertions specified in `.allSatisfy` block incorrectly pass for empty map. Of course, this can be easily fixed by adding `.isNotEmpty()` but seems to misleading when assertions inside the block pass.

#### Example

[code]

[2020-10-08 00:37] bcalmac commented on #1396
We have run into the same problem in our project. This time it's tabs vs spaces. It works for some people and it doesn't for others. I think it would make sense to deprecate the method, document that the use of XML assertions is discouraged and point people to XML unit.

[2020-10-08 00:53] joel-costigliola commented on #1396
Yep, fair enough, will do.

[2020-10-08 00:55] joel-costigliola opened #2014 "deprecate isXmlEqualTo"
#### Summary

this was a poor man xml check but it can't compete with XMLUnit, let's deprecate it and suggest to use XMLUnit instead.

[2020-10-08 02:29] joel-costigliola commented on #2013
I understand where you are coming from but at the same time it is consistent with java stream API, ex:
[code]

[2020-10-09 08:47] V-ctor commented on #1815
I faced similar behavior too and in my case it was custom exception class that extends RuntimeException also.
My propositions:
1. Add warning for such cases. If we have any type with parent from "java.lang" and does not have overriden or custom comparator then warning that comparing could be wrong.
2. Or add some property setting to allow counts such cases as failure.

It would be great if we coul

[2020-10-09 08:51] V-ctor commented on #1224
I faced similar behavior too and in my case it was custom exception class that extends RuntimeException.
My propositions:

1.     Add warning for such cases. If we have any type with parent from "java.lang" and does not have overriden or custom comparator then warning that comparing could be wrong.
2.     Or add some property setting to allow counts such cases as failure.

It would be great if we

[2020-10-09 10:27] joel-costigliola commented on #1224
could you share your custom exception?
Thinking out loud, we could add a configuration property to make comparing exceptions being recursively compared.
Is that what you are expecting @V-ctor?

[2020-10-10 04:38] #2014 closed

[2020-10-11 02:27] joel-costigliola commented on #1966
@rdehuyss sorry for the late answer, I have finally took the time to look into it.

The issue is caused by AssertJ executing the `lock()` method multiple times to get the `lock` field value thinking it is a getter for the `lock` field.

AssertJ looks for getter methods in two different ways:
*  the classic bean getter, ex: `getLock()`
* the bare version, ex: `lock()`

The getter method is invoked

[2020-10-11 09:59] joel-costigliola commented on #1966
We are reverting to not look for bare name getters but for users who wants this behaviour simply call:
[code]

[2020-10-11 09:59] #1966 closed

[2020-10-11 10:05] joel-costigliola commented on #1947
@polarene can you give us an update on your progress?
We are happy to finish this one if you don't have the time (which is totally ok).

[2020-10-11 22:16] KroArtem opened #2017 "A question about SoftlyExtensions and SoftAssertionsExtension"
#### Summary
Hello! I've noticed there are some great things to use with JUnit5 -  `SoftlyExtensions` and `SoftAssertionsExtension` https://assertj.github.io/doc/#assertj-core-junit5-softly-extension

However, `SoftAssertionsExtension` has to be passed into each test method which is not very convenient, especially if you create helper methods in the same class. This means `SoftAssertions` instance

[2020-10-11 22:26] joel-costigliola commented on #2017
There will improvements in that area in the next version but the trouble with soft assertions is that they are stateful and that does not play well with JUnit extension model

[2020-10-12 09:28] polarene commented on #1947
Hi @joel-costigliola I've implemented the checks, it took me some time to figure out where to modify or to add classes because there's no guide on this, so I tried to mimic nearby code. I'm missing the internal tests and then should be done. Could you just give me a few more days? I'd really like to complete this PR for the sake of contributing, then if I see I can't make it I'll hand it over to y

[2020-10-12 11:03] scordio commented on #1947
@polarene take your time and please do let us know if you need anything from us.

[2020-10-12 11:23] polarene commented on #1947
I'm really having a hard time figuring out which kind of tests go in `org.assertj.core.api.*` and `org.assertj.core.internal.*`, since some only verify internals interaction, some verify the API using `assertThat()`, but they all have different styles and it's difficult to find a pattern. Do you have any advice?

[2020-10-12 14:13] scordio commented on #1947
You're right that there are different styles around, slowly we are trying to uniform them.

Assuming you are creating `AbstractClassAssert#hasPackage()` and `Classes#assertHasPackage()`, my suggestion would be to follow the style of `hasSuperclass()`:
* One test class for `hasPackage()` in `org.assertj.core.api.classes` which verifies the internal interactions
* Another test class for `assertHasPa

[2020-10-12 14:22] polarene commented on #1947
Cool thanks for the pointers @scordio, I've already created the first kind of test, I'm trying to write the latter now. Sure, I'll open a draft PR then so you take a look, thanks again.

[2020-10-12 16:32] filiphr commented on #1966
Just out of curiosity does this also mean that Java 14 records are not working? Asking since with some reflection it is quite easy to get the accessor methods for a `java.lang.Record`.

[2020-10-12 16:37] KroArtem commented on #2017
Ok, nice to hear some improvements are planned. Is there any roadmap/tickets/issues available? I've looked through opened issues but https://github.com/assertj/assertj-core/issues/1824 seem to be the only one more or less up-to-date.

[2020-10-13 01:45] joel-costigliola commented on #1966
@filiphr  we haven't tried yet, I'll create an issue to check that

[2020-10-13 01:47] joel-costigliola opened #2018 "Try java 14 records with recursive comparison"
#### Summary

The recursive comparison relied on reflection to find the values to compare, let's check it that works properly with java 14 records with bare name properties enabled or disabled.

[2020-10-13 01:47] joel-costigliola commented on #1966
https://github.com/assertj/assertj-core/issues/2018

[2020-10-13 01:51] joel-costigliola commented on #2017
here it is: https://github.com/assertj/assertj-core/pull/1984, we haven't started the corresponding documentation yet but the javadoc and the tests should already be useful.

[2020-10-13 10:22] joel-costigliola commented on #1948
I'll start on this one for long/Long.

[2020-10-13 18:13] KroArtem commented on #2017
@joel-costigliola , @kriegfrj , I've tried assertj-3.17.3-SNAPSHOT and `@InjectSoftAssertions SoftAssertions softly;` works ok, didn't check parallel execution, though. I am eager to see that in a new release! Hope it'll happen soon 😃

I'll check parallel execution in a day or two.

[2020-10-15 15:07] polarene commented on #1947
I think I'm done now with the PR, please check the draft if it's okay.

[2020-10-20 10:28] lpandzic opened #2023 "Add map(…) and flatMap(…) to all <T>Assertions where T has map and flatMap"
#### Summary
When dealing with types of type T that have map and flatMap methods I'd expect <T>Assertions to include map and flatMap aliases similar to https://github.com/assertj/assertj-core/issues/751

[2020-10-21 02:13] joel-costigliola commented on #2023
I guess you are expecting them on iterables, for them we have [extracting](https://www.javadoc.io/static/org.assertj/assertj-core/3.17.2/org/assertj/core/api/AbstractIterableAssert.html#extracting(java.util.function.Function)) which is a map operation and [flatExtracting](https://www.javadoc.io/static/org.assertj/assertj-core/3.17.2/org/assertj/core/api/AbstractIterableAssert.html#flatExtracting(j

[2020-10-21 05:10] lpandzic commented on #2023
Yes I am, but extracting and flatExtracting are not conventional method names for such functionality. If we already have map and flatMap on OptionalAssert I'd expect the same on IterableAssert.

[2020-10-21 07:56] bliessens opened #2025 "isEqualTo() does not always invoke `equals()` method"
#### Summary

Implementation of `isEqualTo()` assertion does not always call the actual `equals()` method
of tested type.

#### Example
My expectation is that following example will invoke `MyType.equals()`.
Unfortunately this is not true. Reason is that `StandarComparisonStrategy` delegates to `Objects.deepEquals()` which  returns true when `actual == expected`.

[code]

[2020-10-21 09:07] scordio commented on #2025
The current implementation follows [the contract](https://docs.oracle.com/javase/8/docs/api/java/lang/Object.html#equals-java.lang.Object-) of `equals`, where it is mentioned:

In your example, would you expect `anInstance.equals(anInstance)` to return `false`? This would mean that the custom `equals` implementation is violating the contract. See also #1949.

[2020-10-21 09:32] bliessens commented on #2025
I do not question the contract of `equals` at all. Neither do I want `anInstance.equals(anInstance)` to return `false`.
My point is merely that assertj's `isEqualTo` does not always invoke `MyType.equals()` - the method I expect to be tested and asserted.

[2020-10-21 09:54] scordio commented on #2025
Thanks @bliessens, I got it now. AssertJ is not designed to provide coverage for custom `equals` implementations, because of that we usually suggest [EqualsVerifier](https://jqno.nl/equalsverifier/).

[2020-10-21 12:15] bliessens commented on #2025
That statement is somewhat surprising. If `isEqualTo()` is not ment to rely on custom `equals()` methods then it should never use a custom `equals()` at all, right?

However this snippet does call the custom `equals()` method.
[code]

Also, the javadocs on `isEqualTo()` do not mention anything about **not** using custom equals methods.

Wouldn't it be better to only allow `isEqualTo()` when a spec

[2020-10-21 14:42] scordio commented on #2025
Sorry, I missed an adjective:

The custom equals is of course used in the `isEqualTo` assertion, except in the case you spotted or for null checks. This is usually not an issue as the contract is still satisfied, but if you are looking for full coverage `isEqualTo` is not a good tool for it hence our suggestion to use EqualsVerifier.

[2020-10-21 18:13] bliessens commented on #2025
Thanks for the feedback @scordio. Much appreciated.

[2020-10-21 19:53] #2025 closed

[2020-10-22 09:23] joel-costigliola commented on #2023
They were created before java 8 and they express IMO better what do you with them in the context of assertions.
Anyway we are happy to add map/flatMap where we have extracting and flatExtracting taking lambdas. (extracting have a bunch of variations that don't take lambdas which we find is not suitable to be aliased as map so we will skip those ones).

[2020-10-24 21:42] #1947 closed

[2020-10-28 09:06] polarene commented on #1947
Just wanted to let you know that the new assertion has been immediately integrated into a project where I'm a contributor :) https://github.com/HotelsDotCom/bull/pull/196

[2020-10-29 08:51] Zegveld opened #2026 "can the Failures class be moved from internal to util?"
We've got an OSGI project that uses both assertj and xmlunit-assertj ( https://github.com/xmlunit/xmlunit )
But now we get issues with that xmlunit uses the Failures class while this is not exposed.

The reason why they use it is to:
1. [determine whether or not to filter (their own) elements from the exception's stacktrace.](https://github.com/xmlunit/xmlunit/blob/main/xmlunit-assertj/src/main/ja

[2020-10-29 14:27] scordio commented on #2026
Before exposing `Failures` we could try to work together with `xmlunit-assertj` to change the access to internal classes. If something is needed but not available, we can probably find a way to expose it via a new public api.

I'll take a look and put here my thoughts.

[2020-10-29 14:36] scordio commented on #2026
One important point is that `xmlunit-assertj` relies on `assertj-core` 2.9, which is in maintenance mode. We need to check if upgrading to 3.x and Java8 is an option considering XMLUnit requirement section:

[2020-10-29 23:31] scordio commented on #2026
I put my comments in xmlunit/xmlunit#203.

[2020-10-30 09:24] alexisjehan opened #2028 "Add doesNotHaveSameHashCodeAs and doesNotHaveToString assertions"
#### Summary
I sugest to add _doesNotHaveSameHashCodeAs_ and _doesNotHaveToString_ assertions to reflect _isEqualTo_/_isNotEqualTo_. (With a shorter name maybe?)

#### Example

[code]

[2020-10-31 01:33] joel-costigliola opened #2029 "Add index in group elements path in recursive comparison"
#### Summary

When a list element differ, the recursive comparison does not specify which index the element was.

[2020-11-01 02:05] joel-costigliola opened #2030 "Investigate future flaky tests"
#### Summary

Some tests were annotated with `@DisabledOnOs` because they failed in CI but not locally, we haven't yet understood why.

[2020-11-02 14:31] ars-java opened #2032 "Add method isBetween(Instant, Instant) to AbstractDateAssert"
#### Summary

I think it will be convenient to have in AbstractDateAssert<T> method `isBetween(start: Instant, end: Instant)` because `Data` and `Instant` are the same in meaning (unix time moment). But it's more comfortable to calculate times as `Instant` and don't use `Date.from()` to convert.

#### Example

[code]

[2020-11-03 12:06] scordio commented on #2026
As discussed in xmlunit/xmlunit#203:

[2020-11-03 21:20] joel-costigliola commented on #2028
Looks good to me, I can't think of shorter names.

[2020-11-04 21:27] joel-costigliola commented on #2032
Would it be acceptable for you to convert your date to an instant and use: [isBetween(java.time.Instant,java.time.Instant)](https://www.javadoc.io/static/org.assertj/assertj-core/3.18.0/org/assertj/core/api/AbstractInstantAssert.html#isBetween(java.time.Instant,java.time.Instant))?

[2020-11-04 22:01] ars-java commented on #2032
Yes, I can convert `validatingDate` to `Instant` and use `isBetween` for `Instant` but then there's no need to have `AbstractDateAssert` in test framework because each `Date` could be converted to `Instant` and saved to variable.  :)  I think that the main reason to use assertj and to have `AbstractDateAssert` insight it is to help programmer to write code easier without his own boilerplate or thi

[2020-11-04 23:43] joel-costigliola commented on #2032
Fair enough.

[2020-11-05 00:40] ars-java commented on #2032
I think, for completeness, I can contribute all such methods:
[code]

[2020-11-05 02:25] joel-costigliola commented on #2032
Cool but let's do one thing at a time, let's start with `isBetween` and then we can move to do the other progressively, big PR are really hard to review as you often have the same issues being replicated.

I'm not sure what the usage for `usingInstantComparator` would be, the comparator is for actual (thus Date)

[2020-11-05 02:49] ars-java commented on #2032
OK, I'm going to do `isBetween`

[2020-11-05 22:15] chaganiu opened #2033 "Can I access the data i added to "as"?"
#### Summary
I am trying to access the value that I put in the `as` method of my soft assert.  I've tried calling the `getMessage()` method but that adds the failure reason to the description.  I'd like to have access to just the description I added to the assert.

I am storing all of my soft assert failures like this:

[code]

`getMessage()` returns `[publisher] expected:<[]> but was:<["foo"]>` a

[2020-11-05 22:35] joel-costigliola commented on #2033
I think the easiest would be to use a regex to get the description inside the first `[]`.

Note 1:
The description can be retrieved from the assertions with [getWritableAssertionInfo()](https://www.javadoc.io/static/org.assertj/assertj-core/3.18.0/org/assertj/core/api/AbstractAssert.html#getWritableAssertionInfo()).[descriptionText()](https://www.javadoc.io/static/org.assertj/assertj-core/3.18.0/o

[2020-11-05 22:39] chaganiu commented on #2033
@joel-costigliola do I have access to ` getWritableAssertionInfo()` from the `errorsCollected()` method?  I need to do this after the tests have completed so I can get a sum of the various errors.

[2020-11-06 00:44] joel-costigliola commented on #2033
Nope `getWritableAssertionInfo` is from `AbstractAssert`

[2020-11-06 09:54] #2023 closed

[2020-11-06 17:02] lykims commented on #2028
Hi!
I would like to contribute to assertj, and it's my first time. I'm interested in working on this issue. Is this available for me?

[2020-11-06 18:53] scordio commented on #2028
@lykims sure it is, thanks! Please let us know if you need anything from us.

[2020-11-07 16:22] lykims commented on #2028
@scordio Is one pull request per method preferable?

[2020-11-07 16:25] scordio commented on #2028
@lykims yes, the review will be faster and you could reuse the feedback for the style of the second PR

[2020-11-07 20:54] ars-java commented on #2013
I agree with @joel-costigliola. If you have no elements then your method must not be invoked (must be invoked 0 times). If you wanna fail on empty collection or map you must say it explicitly using `.isNotEmpty()`.

[2020-11-07 21:12] ars-java commented on #1823
I think that it's a very long issue having props & cons for different cases. Could you post few concrete API examples you wanna see in the lib.

[2020-11-08 00:36] joel-costigliola commented on #2013
Closing this issue as won't fix, still keen to hear for better counter arguments.

[2020-11-08 00:36] #2013 closed

[2020-11-09 01:15] joel-costigliola commented on #1823
Hi @kriegfrj ,

We had a discussion with the team and we have a preference for keeping the type safety, we know it's bloating the API but if you are looking for a given assertion you will find a few variations like `isBefore(Date)` and `isBefore(String)` but we feel if users to starts code completion a few letters, the number of possibilities narrows down quickly.
The other point we are not super

[2020-11-09 06:13] anuraaga commented on #1621
Hey - was really wanting this assertion and when searching for existing issues before filing one, found this. Any way to get consensus on the naming? FWIW, only the exact versions are interesting to me, `satisfyExactly` and `satisfyExactlyInAnyOrder`, and perhaps they aren't as ambiguous? Even just `satisfyExactly` would work great.

[2020-11-09 23:01] kriegfrj commented on #1823
I understand. Perhaps we can all go and vote for union generic types to be added to a future version of Java. :smile:

[2020-11-09 23:01] #1823 closed

[2020-11-11 02:04] joel-costigliola opened #2039 "Make AbstractAssert.isElementOfCustomAssert protected"
#### Summary

Will help address https://github.com/xmlunit/xmlunit/issues/203

[2020-11-11 05:14] joel-costigliola commented on #2039
Fixes with https://github.com/assertj/assertj-core/commit/4e04c29ce67b712af1661aae4706c883c20d2c7e

[2020-11-11 05:14] #2039 closed

[2020-11-11 09:52] joel-costigliola commented on #2026
@Zegveld let us know if we can close this issue.

[2020-11-11 12:04] Zegveld commented on #2026
Fix found in commit [4e04c29ce67b712af1661aae4706c883c20d2c7e](https://github.com/assertj/assertj-core/commit/4e04c29ce67b712af1661aae4706c883c20d2c7e) as discussed at [xmlunit/xmlunit#203](https://github.com/xmlunit/xmlunit/issues/203)

xmlunit's Assertj3 variant tested and works correctly under OSGI.

Therefor closing this issue.

[2020-11-11 12:04] #2026 closed

[2020-11-11 22:15] joel-costigliola commented on #2033
@chaganiu if you don't have any other questions, are you happy for me to close this issue?

[2020-11-11 22:40] chaganiu commented on #2033
Yes thank you.

On Wed, Nov 11, 2020 at 5:15 PM Joel Costigliola <notifications@github.com>
wrote:

[2020-11-11 22:45] #2033 closed

[2020-11-14 01:42] joel-costigliola commented on #2029
Fixed in 78dbcfb3

[2020-11-14 01:42] #2029 closed

[2020-11-15 01:08] joel-costigliola commented on #1931
The team is not convinced exposing `getActual` is worth it at the moment, we believe option 1 is acceptable.

For future what we could do is something similar to optional and add [`get()`](https://www.javadoc.io/static/org.assertj/assertj-core/3.18.1/org/assertj/core/api/AbstractOptionalAssert.html#get())/[`get(InstanceOfAssertFactory)`](https://www.javadoc.io/static/org.assertj/assertj-core/3.18.

[2020-11-16 02:50] #2030 closed

[2020-11-17 10:58] HermanBovens opened #2041 "support comparison checks using Comparator instead of Comparable"
#### Summary
Currently we have a fluent API for asserting comparison results: `Assertions.assertThat(java.lang.Comparable)`, where the ordering can also be replaced by a custom comparator by the use of `usingComparator(java.lang.Comparator)`.
I'd like to have the same API available through the use of `Assertions.assertThat(Object).usingComparator(java.lang.Comparator)` for classes that don't imple

[2020-11-17 20:58] mbaechler commented on #1690
The problem comes from the fact `extracting` can't choose the right assertion
  type from the `Map` values type and thus you call extracting on the `ObjectAssert`
  which is unable to find `Map` entries in a `List`.
  To achieve what you want, you need to provide extracting an assertFactory as follow:

[code]

  Note that `flatExtracting` let you match properties into a list and extracting require

[2020-11-18 03:28] joel-costigliola commented on #2041
I'm sympathetic to the idea but with the current design this is not really possible, `usingComparator` returns the current assertions object which allows specific assertions on the the object under test actual type, to provide comparable assertions we would have to return a comparable assertion object but then you loose the specific assertions type of the object under test.
Quite a big breaking ch

[2020-11-18 03:31] joel-costigliola commented on #1690
thanks @mbaechler, does that address your issue @jmondo?

[2020-11-18 10:12] #2005 closed

[2020-11-18 16:09] jmondo commented on #1690
yes it does! thanks everyone!

[2020-11-18 16:09] #1690 closed

[2020-11-20 09:20] scordio commented on #2041
I also don't see an easy way to have both type-specific assertions and comparable assertions for an object which doesn't implement `Comparable`. If we are willing to sacrifice the type-specific assertions, we could offer another entry point in `Assertions` like:

[code]

The challenge might be how to construct the comparable assert instance, we probably need an adapter to use an object + comparato

[2020-11-20 10:49] joel-costigliola commented on #1492
Closing it in favor of https://github.com/assertj/assertj-core/issues/2041 and potentially `assertThat(T actual, Comparator<T> comparator)` if that works

[2020-11-20 10:49] #1492 closed

[2020-11-20 14:58] lykims commented on #2028
@joel-costigliola This issue is half resolved. It was suggested to create one PR per assertion.

Should this issue be reopened so I could implement `doesNotHaveToString` next?

[2020-11-20 15:48] HermanBovens commented on #2041
I guess something like that would help.  Or alternatively, a different method than `usingComparator`, which already exists.  For example:

[code]

The need to construct the comparable assert instance stays the same.  Maybe an adapter would work, but that doesn't sound natural.  For me it would be far more logical to implement the general case using a comparator, and for comparable assertions simpl

[2020-11-20 21:35] scordio commented on #2041
If I understand it correctly this would be exposed for all the objects, my feeling is it might create confusion being together with `usingComparator(Comparator<? super ACTUAL> customComparator)`.

I wouldn't touch `AbstractComparableAssert` which does a decent job for `Comparable` objects.

What we are trying to design is beyond the normal behavior as we want to have comparable assertions for non

[2020-11-21 02:17] joel-costigliola commented on #2028
Yes, my bad, would be great

[2020-11-21 02:38] joel-costigliola commented on #2041
I agree with @scordio on `comparableUsing` being too confusing, no clear indication on the name itself what would be the difference with `usingComparator` and on not changing `AbstractComparableAssert`.

That leaves us with the `assertThat(T, Comparator<T>)` option or thinking out loud `assertThatWithComparator(T)` that would return a specific class similar to `ComparableAssert` but without requir

[2020-11-22 10:03] joel-costigliola commented on #2032
@ars-java I'm finishing this one

[2020-11-24 00:43] #1948 closed

[2020-11-24 05:56] kriegfrj opened #2048 "Fine-grained Representations"
#### Summary

I have recently discovered the `Representation` API. I am looking at using it with osgi-test and with idempiere-test as part of their respective domain-specific assertion libraries, so that they can produce more readable diagnostics by overriding `toString()` implementations in the domain objects.

For maximum usability and code readability, It would be nice if these Representation i

[2020-11-24 10:44] HermanBovens commented on #2041
I was just thinking about maintenance here.  All the `AbstractComparableAssert` methods do, is verify an ordering.  An ordering can be the natural ordering, defined by the implementation of `Comparable<T>`, or any other ordering, as defined by the implementation of `Comparator<T>`.   There is a static method [naturalOrder()](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/Co

[2020-11-24 12:53] scordio opened #2049 "Add isEmpty() / isNotEmpty() to AbstractPathAssert"
#### Summary
`AbstractPathAssert` lacks assertions to test if `path` is empty or not empty, in the case of regular files.

These assertions could rely on `java.nio.Files.size()`.

#### Example

[code]

[2020-11-24 16:38] astubbs opened #2050 "Representation for arguments as well as the description"
#### Summary
Representation seems to work well for the actual, but the arguments don't seem to be given the same representation.

In my example I'm trying to compare very large lists. But I don't want the entire content of each list printed every time the assertion fails, just the difference.

[2020-11-24 20:25] filiphr commented on #2048
This is an interesting idea @kriegfrj.

As food for thought another alternative would be instead of parametrizing it or adding method for supported type to create a composite of all available `Representation`(s) loaded through the service loader + the default implementation.
The `toStringOf` will be invoked until it returns non-null value.

e.g.

[code]

The javadoc of the `toStringOf` will need t

[2020-11-25 00:26] joel-costigliola commented on #2050
@astubbs can you provide a concrete example with the current output and the one you wish to have?
You can use short lists in to make your point ;-)

[2020-11-25 03:49] #2032 closed

[2020-11-25 04:03] joel-costigliola commented on #2048
I like the idea of being able to register multiple representations, there should be a clear mechanism to decide which one to use if multiple representations can represent the same type, thinking out loud: custom representation of type would have priority over assertj ones, it's a bit trickier if multiple custom representations provide representation for the same types.

 @filiphr suggested impleme

[2020-11-25 11:40] astubbs commented on #2050
Thanks for the prod! I got it now - all args are run through the presenter after all - I didn't look closely enough. I just had to get funkier with my Presenter...

[code]

Produces:
[code]

[2020-11-25 11:40] #2050 closed

[2020-11-25 13:28] filiphr commented on #2048
1. We can add `int getPriority` with a default implementation to `Representation` that way in case multiple implementations provide a representation they would need to handle it. I don't think that AssertJ should worry about that. AssertJ would order them once it loads them through the service loader.

2. We can always add the default representation from AssertJ in the end of the list. This would

[2020-11-25 15:37] ars-java commented on #2032
@joel-costigliola I think it's correct to integrate my implementation into main because I took this issue to resolve, the code already have been done and pull requests already have been created before you integrate your implementation.

[2020-11-25 16:02] ars-java opened #2051 "Add method cast() to get casted value after isInstanceOf()"
#### Summary
It will be convenient to have a method that returns a casted object after `isInstanceOf` call.

For example:
[code]

And it will be convenient to evaluate the following checks using already casted value.

For example:
[code]

or
[code]

[2020-11-25 18:48] scordio commented on #2051
[`asInstanceOf()`](https://www.javadoc.io/static/org.assertj/assertj-core/3.18.1/org/assertj/core/api/AbstractAssert.html#asInstanceOf(org.assertj.core.api.InstanceOfAssertFactory)) with [`InstanceOfAssertFactories.type()`](https://www.javadoc.io/static/org.assertj/assertj-core/3.18.1/org/assertj/core/api/InstanceOfAssertFactories.html#type(java.lang.Class)) is probably what you are looking for.

[2020-11-25 20:20] joel-costigliola commented on #2032
Sorry @ars-java, I integrated some of your work and since you did not seem active on the issue I took over and informed you about it but then you raised new PRs the thing I had already quite advanced the work so integrated your PRs was more work than finishing the issue.
Don't worry I'll give you full credit for the issue in the release notes.

[2020-11-25 20:22] joel-costigliola commented on #2051
FYI if you use `extracting(String)` you can extract without casting:

[code]

[2020-11-25 20:25] joel-costigliola commented on #2048
I agree adding a priority should be good enough, there is always a risk of collision in the priority values but easy to address.

[2020-11-26 09:55] mgrafl commented on #1621
@anuraaga, thanks for reviving the discussion.
If you have any naming suggestions for `satisfy` (aka. `containsElementsSatisfyingExactlyInAnyOrder`), please share them.
I agree that the other two methods `satisfyExactly` and `satisfyExactlyInAnyOrder` are less controversial and could be implemented right away.
For `satisfyExactly`, I expect the implementation to be straight forward.
For `satisfyEx

[2020-11-26 17:11] mgrafl commented on #1621
@jbytecoder, I like your idea of having an optional parameter for an assert factory. It makes the code easier to read if you have many consumers.

From a quick prototype, I don't expect any overloading problems if both method variants are introduced simultaneously. The most common usage of parameters will be the one from your example: first the method reference to `Assertions::assertThat`, followe

[2020-11-26 20:41] mgrafl commented on #1931
It's a pity that this proposal was rejected. I was also looking forward to such a feature.

I sometimes have integration tests that check a certain workflow. It would be very handy to verify the structured response from one operation down to a nested field and then use that value for another operation (without having to repeat the extraction).
For example:
[code]

[2020-11-28 19:25] mgrafl opened #2053 "Consumer-based "satisfyExactly" assertions for elements in arrays and iterables"
#### Summary

Based on #1621, extend the assertions API for arrays and iterables with a `satisfyExactly` method accepting multiple  `Consumer<? super ELEMENT>`s.
The tested collection must have the same size as the consumers. Each element of the tested collection is fed to the corresponding consumer.

The additional method would have the signature:
[code]

Additionally, the method would be overloa

[2020-11-28 19:39] mgrafl opened #2054 "Consumer-based "satisfyExactlyInAnyOrder" assertions for elements in arrays and iterables"
#### Summary

Based on #1621, extend the assertions API for arrays and iterables with a `satisfyExactlyInAnyOrder` method accepting multiple  `Consumer<? super ELEMENT>`s.
The tested collection must have the same size as the consumers. For each element of the tested collection the (remaining) consumers are called; if a consumer accepts the element, then the element and that consumer are removed fr

[2020-11-29 09:32] joel-costigliola commented on #2053
I'm ok with `SELF satisfyExactly(Consumer<? super ELEMENT>... consumers)` it's behaviour is natural/obvious but the other with an assert factory is not so obvious and can be done with the former.

[2020-11-29 09:47] joel-costigliola commented on #2054
Same comment as for `satisfyExactly`, happy with `SELF satisfyExactlyInAnyOrder(Consumer<? super ELEMENT>... consumers)` but feel that the variant with `Function<ELEMENT, A> assertFactory` is not necessary (you could achieve the same by calling `extracting/map` before.

[2020-11-29 09:50] joel-costigliola commented on #2017
@KroArtem #1984 is released, I'm closing this issue but feel free to comment to give us your feedback and we will reopen it if needed.

[2020-11-29 09:50] #2017 closed

[2020-11-29 09:54] joel-costigliola commented on #1931
@mgrafl the assertion `assertThat(isSessionActive).isTrue();` can be done after `.hasSize(32)` with a call to `satisfies`.

[2020-11-29 19:41] mgrafl commented on #2053
@joel-costigliola, thanks for the feedback, fine for me. So I assume it's acceptable that the first parameter might become ambiguous (in some edge cases, detailed in https://github.com/assertj/assertj-core/issues/1621#issuecomment-734410494) when the second method variant is introduced in a later release.

[2020-11-29 23:25] scordio opened #2055 "Add overloaded methods with boxed arrays for contains assertions"
#### Summary
Related to #1948, we should add the overloaded methods with boxed arrays for all the primitive array types:

- [x] `AbstractBooleanArrayAssert` (84fc616)
- [x] `AbstractByteArrayAssert` (6936b6133eec1f6a11e052724e69bd77ed0b19ab)
- [x] `AbstractCharArrayAssert` (48794650806b33dbfd8f72f2fc09bf7d92686d0b)
- [x] `AbstractDoubleArrayAssert` (dcfdd05dd01030bcd6f6210d4d48455d49c51b52)
- [x]

[2020-11-30 09:57] #2028 closed

[2020-11-30 09:59] joel-costigliola commented on #2007
@chassum any update on this one? If not are you happy for me to close it?

[2020-11-30 10:02] joel-costigliola commented on #1929
succeedsWithin had been added to FutureAssert: https://www.javadoc.io/static/org.assertj/assertj-core/3.18.1/org/assertj/core/api/AbstractFutureAssert.html#method.summary

[2020-11-30 10:02] #1929 closed

[2020-11-30 10:04] joel-costigliola commented on #1996
Build is stable regarding soft assertions

[2020-11-30 14:35] sniffertine opened #2057 "StringAssert: Add method to assert equality of normalized strings"
#### Summary
Some Strings look equal but their canonical form is not equal. For example one can compose the A umlaut (Ä) with a single character: \u00C4 Or with a combination of the A character and the dots (the dieresis character ¨): \u0041\u0308

In essence, you are using two unicode characters for one letter. Because equals() compares characters, the form with dieresis is not equals to the form

[2020-11-30 20:08] joel-costigliola commented on #2057
Fair enough, @sniffertine keen to contribute it?

[2020-11-30 20:28] scordio commented on #2051
Hi @ars-java, do our answers help with your use case? Please let us know in case something is unclear.

[2020-12-01 05:25] OmarMorales71 commented on #2049
@scordio Can I work on this issue? IsEmpty refers that the path that you are testing doesn't exist or doesn't have any file, right?

[2020-12-01 06:40] scordio commented on #2049
Hi @OmarMorales71, sure. Thanks for helping!

The assertion should check that the `Path` exists, is a regular file and has size equals to zero. The behavior should be similar to [`isEmpty()`](https://www.javadoc.io/static/org.assertj/assertj-core/3.18.1/org/assertj/core/api/AbstractFileAssert.html#isEmpty()) for `File`, which uses `assertIsEmptyFile`:

https://github.com/assertj/assertj-core/blob/

[2020-12-01 08:24] juherr opened #2058 "Support Hibernate lists (ie: PersistentBag)"
#### Summary
Hibernate doesn't respect the equals/hashCode convention for its internal list (see https://hibernate.atlassian.net/browse/HHH-5409).

When tests are made on services, the returned lists may be the Hibernate ones.

AssertJ could detect Hibernate lists and make a deep assertion (like it does with arrays) instead of using the standard `List.equals`.

[code]

[2020-12-01 09:28] joel-costigliola commented on #2058
The issue here is that assertj-core does not depend on anything explicitly, what you can do instead is use `containsExactly` which checks each pair of elements in order.

[2020-12-01 09:43] joel-costigliola commented on #1931
The team has discussed again and we still think adding `getActual` is not worth it.

[2020-12-01 09:48] mgrafl commented on #1931
Okay. Thanks for the reconsideration though.

[2020-12-01 09:55] filiphr commented on #2058
To add to what @joel-costigliola said

You can actually use `containsExactlyElementsOf` for your use case

e.g.

[code]

[2020-12-01 10:44] juherr commented on #2058
@joel-costigliola

Sure! But does exist an SPI, or a similar way, for custom extensions that could make the bridge between assertj and 3rd parties?

@filiphr
Thanks! `containsExactlyElementsOf` is what I was looking for!

[2020-12-01 10:44] #2058 closed

[2020-12-01 11:02] scordio commented on #2058
An option might be to implement a custom assertion for the Hibernate type, see: https://assertj.github.io/doc/#assertj-core-custom-assertions

[2020-12-01 17:44] OmarMorales71 commented on #2049
@scordio Thank you! Let's work on it

[2020-12-01 22:12] joel-costigliola commented on #2058
Another option is to use the recursive comparison should the elements contain another list.

[2020-12-02 05:30] OmarMorales71 commented on #2049
@scordio Hello, I have been working on the issue. I just need to do the tests. But for a while, how you see my solution?
Here are the methods in `AbstractPathAssert`
https://github.com/OmarMorales71/assertj-core/blob/42cb5e258fed31e747f9b2492f33143339080207/src/main/java/org/assertj/core/api/AbstractPathAssert.java#L1753-L1761

And here are the implementations in `src/main/java/org/assertj/core/in

[2020-12-02 08:48] #1931 closed

[2020-12-02 12:51] scordio commented on #2049
Hi @OmarMorales71, the direction is good and I'd be happy to provide some specific feedback. Would you mind raising a pull request, even on draft state?

[2020-12-02 15:50] OmarMorales71 commented on #2049
@scordio I already did a draft PR, in the afternoon I'm going to work on the tests and documentation. If you can give me some feedback or comments please I'd be really grateful.

[2020-12-03 04:29] OmarMorales71 commented on #2049
@scordio The PR has been sent, If you can check it, it will be great. Thank you!

[2020-12-04 01:20] OmarMorales71 commented on #2049
@scordio I read your comments in the pull request, thank you so much, I'm working in the changes!

[2020-12-04 03:38] OmarMorales71 commented on #2049
@scordio I fixed the changes you requested and added the unit tests. If you can check it, it will be great. :D

[2020-12-04 07:32] sukolenvo commented on #2051
I would love `isInstanceOf(T)` to return `Assert<?, T>` instead of `Assert<?, ? extends Throwable>` since we already checked casting is safe.

Thanks for workarounds @scordio . But is there any real reason not to change return type? It would be very helpful if developers won't need to cast it manually and make code a little cleaner.

[2020-12-04 10:21] beckerjohannes opened #2060 "StringAssert: add variants with "Ignoring""
#### Summary

Currently the `AbstractCharSequenceAssert` has a method `containsIgnoringCase(...)`. It would appreciable to have the same variants as the `isEqualToIgnoring...`. So:

- `containsIgnoringWhitespaces(CharSequence sequence)`
- `containsIgnoringNewLines(CharSequence sequence)`

#### Example

[code]

[2020-12-04 10:39] joel-costigliola commented on #2060
Fair enough, @beckerjohannes keen to contribute?

[2020-12-04 10:46] scordio commented on #2051
@sukolenvo `isInstanceOf` returns `SELF` to allow chaining additional assertions for the same type, that's probably where `Assert<?, ? extends Throwable>` is coming from, and it is not meant to change the current assertion instance. `asInstanceOf` would be the way to go for the latter.

Maybe I did not fully understand what you have in mind, could you provide a short example?

[2020-12-04 11:43] beckerjohannes commented on #2060
I'll check if I can squeeze in some free "sofa time" soon to create a PR. Should be an easy fix.

[2020-12-04 21:25] OmarMorales71 commented on #2055
@scordio Hello again :D, Can I contribute in the AbstractIntArrayAssert? Could you give me more information about it? how I have to add the overloaded methods? I saw the PR for the AbstractLongArrayAssert and I have not seen the difference yet.

[2020-12-04 21:55] mayralgr commented on #2055
Hi @scordio I also want to contribute in this issue, could you give me more information?

[2020-12-04 23:59] tkvangorder opened #2061 "Add ability to use String Supplier when setting the assertion description."
#### Summary

I am working on a [project that will migrate JUnit 5 style assertions to AssertJ's assertion library.](https://github.com/openrewrite/rewrite-testing-frameworks/issues/8)

One issue I have run into is that JUnit 5 has a variant of their assertion methods that accept a Supplier<String> to lazily instantiate the message:

[code]
Ideally, I would like to convert this to:

[code]

There

[2020-12-05 01:16] joel-costigliola commented on #2061
Fair enough!

[2020-12-05 05:51] joel-costigliola commented on #1496
I have renamed the assertion `hasOnlyFields` to make it clear it only looks at fields and not properties.

[2020-12-05 05:57] #1496 closed

[2020-12-06 05:37] sukolenvo commented on #2051
Hi @scordio , `asInstanceOf` is exactly what I was looking for. Thank you for your help!

[2020-12-06 09:25] joel-costigliola commented on #2000
Fixed in https://github.com/assertj/assertj-core/commit/2f3eeb9f597dd162b06283345a07f083fcf5b3fa.
I also ignored synthetic fields

[2020-12-06 09:25] #2000 closed

[2020-12-06 09:50] #2051 closed

[2020-12-06 13:01] rupert-madden-abbott commented on #1931
In case it helps, this is how I workaround this issue when I need to a) assert that a Future completes within a certain time and b) get the result of that Future so that I can use it for subsequent, non-assertion calls i.e. an integration test.

[code]

[2020-12-06 20:43] scordio commented on #2055
Hi @OmarMorales71 and @mayralgr, thank you both!

The target is to add additional `contains` methods that support boxed arrays of the corresponding primitive type. For example, in case of int arrays we already have:

[code]

and the corresponding method to add would be:

[code]

All of the new methods would delegate the assertion to the original internal method, just converting the boxed array to

[2020-12-07 03:47] OmarMorales71 commented on #2055
@scordio well first I'm going to take AbstractDoubleArrayAssert, AbstractFloatArrayAssert and AbstractIntArrayAssert. I'm working on it.

[2020-12-07 03:59] joel-costigliola commented on #2055
Thanks @OmarMorales71, I suggest you raise a PR when you have finished `AbstractDoubleArrayAssert` to get sone feedback before doing the other ones, the idea is that if you have some rework to do it will only be on the double assertions you will know better for the next ones.

[2020-12-07 06:33] OmarMorales71 commented on #2055
@scordio Perfect!, I'm working on AbstractIntArrayAssert 👍

[2020-12-07 11:27] EtienneMiret opened #2062 "Make .isEqualToNormalizingXxx failures easier to analyze."
#### Summary

IntelliJ IDEA (and most likely other IDEs) have a nice support for `org.junit.ComparisonFailure`, where it process the exception and generate a nice report with the diff, which I find very useful when comparing large objects. `isEqualTo ()` will already throw this error. I believe all `isEqualToNormalizingXxxx` methods should do the same instead of  throwing a raw `AssertionError`.

[2020-12-07 20:22] joel-costigliola commented on #2062
Fine by me.

[2020-12-08 10:25] #2062 closed

[2020-12-08 14:45] mayralgr commented on #2055
I'll work on AbstractCharArrayAssert first to raise a PR to get feedback

[2020-12-08 15:51] bmaggi opened #2065 "Unwanted Warning in tests for assertion on AtomicBoolean"
#### Summary
Intellij indicate a warning when using assertj with AtomicBoolean whereas the test seems correct.

Assertions are working fine, the problem is on the unwanted warning.
Text of the warning : "According to inferred contract, method 'assertThat' throws exception when parameter != true"

#### Example

[code]

Using

[code]

[2020-12-08 16:25] javydreamercsw opened #2066 "Assertion fails on 3.18+"
#### Summary
Existing assertion working on 3.17.2 fails on 3.18+ releases.

#### Example

[code]

The string being analyzed (some values masked for security reasons):
[code]

Error:
[code]

[2020-12-08 16:26] javydreamercsw commented on #2066
Test on both 3.18.0 and 3.18.1 with the same results.

[2020-12-09 09:31] joel-costigliola commented on #2066
Thanks, we'll look at it shortly

[2020-12-09 10:40] #2061 closed

[2020-12-10 01:53] vsile commented on #1403
I add the next code to pom.xml to fix it (compiling Jenkins plugin)
[code]

[2020-12-10 01:56] joel-costigliola commented on #2066
This is due to a [breaking change in 3.18.0](https://assertj.github.io/doc/#assertj-core-3-18-0-release-notes) where bare name properties are not found by default (for example `entrySet()` for the `entrySet` field as opposed to `getEntrySet()`).
Call `Assertions.setExtractBareNamePropertyMethods(true);` to enable them, the test succeeds with this.

[2020-12-10 04:29] joel-costigliola commented on #2065
@bmaggi  I think it's an issue in Intellij Idea or the tool that is reporting the warning, it's probably better to raise an issue in Intellij Idea tracker if you want it to be fixed.
I don't have such warning in Eclipse.

[2020-12-10 05:59] kriegfrj opened #2067 "Too much stack trace removed for failure in a utility method"
#### Summary

I am using soft assertions with a custom soft assertions provider (though I'm not sure if the custom provider is a relevant point). I had an `AssertJMultipleFailuresError` that only contained one error. Unfortunately, the stack trace for the code where the original assertion failed seems to have been removed.

The problem seems to be that the soft assertion is thrown in a utility met

[2020-12-10 06:14] kriegfrj commented on #2067
Actually, another detail that may (or may not) be important: the utility method `doCommonStuff()` is actually in a superclass.

[2020-12-10 09:21] joel-costigliola commented on #2067
Hi @kriegfrj,
Stack trace pertaining to assertj is filtered out by default, you can disable that with `Assertions.setRemoveAssertJRelatedElementsFromStackTrace(false)`.

The code is like:

[code]

You can  override `isElementOfCustomAssert(StackTraceElement stackTraceElement)` in your custom assertions to tweak what is going to be removed.

The filtering might be too aggressive but hard to say wit

[2020-12-10 09:56] bmaggi commented on #2065
Coincidence ? Someone just opened a similar issue 3 days ago
https://youtrack.jetbrains.com/issue/IDEA-257165

Warning is displayed by intellij but based on code and annotation, so my guess was that something in code or annotation is misconfigured.

=> I close the ticket and link this issue in the Intellij's one.

[2020-12-10 09:56] #2065 closed

[2020-12-10 10:40] kriegfrj commented on #2067
Just to clarify... it was a custom provider, but it was a StringAssert not a custom assert.

I think the key point is it being thrown in a subclass of the test class. I'll try and come b up with a concrete test case for it.

[2020-12-10 15:39] weissreto opened #2068 "Introspection.findGetter find wrong getter method with return type void"
#### Summary
Introspection does not work if target class has a method that has same name as the field I like to extract but with return type void

#### Example
[code]
The class EventImpl has a method
[code]
The method findGetter of class org.assertj.core.util.introspection.Introspection will return this method as getter. Therefore, the field is not introspected at all. The found getter method will

[2020-12-10 20:24] joel-costigliola commented on #2068
Thanks for reporting this, the workaround mentioned is the default behavior since 3.18.0.

[2020-12-10 20:37] joel-costigliola opened #2069 "Expose recursive assertion for object array"
#### Summary

`assertThat(myArray).usingRecursiveComparison` is not exposed preventing using the recursive comparison.

At the moment one has to `assertThatObject(myArray).usingRecursiveComparison`.

[2020-12-11 03:25] kriegfrj commented on #2060
I minor suggestion: how about "containsPhrase()" as a slightly more readable (though slightly less descriptive) alternative?

[2020-12-11 05:48] kriegfrj commented on #2067
Interestingly, I had a bit of a look at this today, and I can see that the test case for `AssertJMultipleFailuresError` is not expecting any stack traces in the individual failure messages:

https://github.com/assertj/assertj-core/blob/d20f3d381960a5ad504e7be9c44e16464cd64b51/src/test/java/org/assertj/core/error/AssertJMultipleFailuresError_getMessage_Test.java#L53-L109

Can you point me in the ri

[2020-12-11 06:54] weissreto commented on #2068
Thanks for this information. I'm using 3.17.0.

[2020-12-11 08:41] scordio commented on #2068
@weissreto is upgrading from 3.17.0 to 3.18.1 an option for you? If so, I would close this issue.

[2020-12-11 08:47] weissreto commented on #2068
Hi @scordio
Yes I can update no problem.
But I think the same problem can also occur if you have a method called getXYZ with void as return type. If you then want to introspect the xyz field you get the same error and the workaround does not fit then.
I know this is a strange use case. If you wish I can provide a PR with a fix.

[2020-12-11 09:02] scordio commented on #2068
Fair point, we should look into it and add a test case for regression, so it is better to keep this issue open.

A PR would be great if you have time. Thanks!

[2020-12-11 12:51] beckerjohannes commented on #2060
@joel-costigliola you can assign that one to me. I'll think I will do it over the holidays. Might be a good pastime during the lockdown ;-)

[2020-12-11 14:10] scordio commented on #2060
Thanks for helping @beckerjohannes 🙂

I like it, let's see what @joel-costigliola thinks about it.

I guess your proposal is for the "ignoring newlines" use case only. What about the "ignoring whitespaces" use case? Any thoughts?

[2020-12-11 15:10] beckerjohannes commented on #2060
@scordio to keep it consistent I thought about those variants:
![image](https://user-images.githubusercontent.com/56342691/101919908-6c853080-3bcb-11eb-9974-73aaa954e79f.png)

[2020-12-11 15:28] scordio commented on #2060
Uhm maybe it's not worth coming up with a new naming pattern for this change, reusing the existing one simplifies the discovery of the new assertions.

`containsIgnoring` / `containsNormalizing` is probably a good compromise for the time being.

[2020-12-11 17:25] javydreamercsw commented on #2066
That did the trick!

[2020-12-11 18:23] xiaozhiliaoo opened #2072 "AssertJ Core quality reports website can’t open"
#### Summary
AssertJ Core quality reports website can not open. http://nemo.sonarqube.org/dashboard/index/528057

[2020-12-12 09:58] joel-costigliola commented on #2060
I prefer reusing the existing pattern over `containsPhrase`  which is not really obvious to me, the existing is verbose but more explicit so `containsIgnoringNewLines`,  `containsNormalizingNewLines`, ...

@beckerjohannes I recommend you start with one assertion, we review it and then work on the next with the feedback of the first one in mind.

[2020-12-12 10:34] joel-costigliola commented on #1923
Not sure what version you are using but with the current version 3.18.1, you have a pretty detailed error:
Example:
[code]
fails with this error:
[code]

[2020-12-12 10:53] scordio commented on #2072
Hi @xiaozhiliaoo, the report is available at https://sonarcloud.io/dashboard?id=joel-costigliola_assertj-core. From where did you take the other link?

[2020-12-12 11:51] #2049 closed

[2020-12-12 19:24] mayralgr commented on #2055
@scordio, the pull request is ready for feedback. Let me know if everything is okay to continue with `AbstractByteArrayAssert` and `AbstractShortArrayAssert`.
Also, one check, the `CI / OS macOS-latest (pull_request) Failing after 2m — OS macOS-latest` is failing, I am not sure why, if you have some info, I'll appreciate it

[2020-12-12 21:29] joel-costigliola commented on #2067
I remember now that we did not include the stack traces for the sake of brevity but that's the same behaviour as opentest4j `MultipleFailuresError` as far as I can see.

[2020-12-12 22:51] scordio commented on #2055
@mayralgr thanks for the PR, I'll have a look soon. No worries about the test failure, we have a flaky test that has not been fixed yet.

[2020-12-13 04:15] joel-costigliola commented on #2053
minor: I'll name the assertion `satisfiesExactly` for the sake of English grammar.

[2020-12-13 07:30] #2068 closed

[2020-12-13 07:55] xiaozhiliaoo commented on #2072
I get the link from this page: https://joel-costigliola.github.io/assertj/assertj-core.html . At Last line:Thanks to SonarQube for providing AssertJ Core quality reports.

[2020-12-13 08:39] scordio commented on #2072
Thanks @xiaozhiliaoo, then it comes from the legacy documentation. I'll close this issue.

The new documentation is available on https://assertj.github.io/doc/. However, the SonarQube report can be reached from the badge on the repository home page.

[2020-12-13 08:39] #2072 closed

[2020-12-13 13:23] kriegfrj commented on #2067
I must be going insane (some might argue that this is not a recent development...).

Actually, we don't need the full stack trace - the top few lines (after AssertJ has removed its contribution) for each failure would be fine. That would do the job but without making it too verbose. (As noted, i thought i saw oit doing this in the past but i must have been mistaken. )

I have another more radical

[2020-12-13 16:29] xiaozhiliaoo commented on #2072
@scordio  Thanks a lot!

[2020-12-13 20:05] joel-costigliola commented on #2067
We can add the top filtered lines, like 5 per failure?

[2020-12-14 03:44] kriegfrj commented on #2060
My thought was that `containsPhrase()` would have rules like in most natural language - differences in whitespace are not significant, only the words and their order are significant. In other words, it would be equivalent to `containsNormalizingWhitespace()`. While I thought this was neat and natural, it did leave open the question of what to do for ignoring new lines, ignoring whitespace, etc.

O

[2020-12-14 03:48] kriegfrj commented on #2067
The top 5 lines might even be too much. I was thinking top 2 or 3.

Ideally, it would be able to find the stack trace line that identifies the entry into the top-level test method, and ignore everything after that. That way it could automatically adapt to the pattern I use of utility assertion methods (which occasionally go through a few layers of indirection) but not include more than is necessar

[2020-12-14 04:39] joel-costigliola commented on #2067
finding the top level test method is going to be brittle as it depends on the test name itself (can't really infer that) and possibly the test engine.
let's keep it simple to 3 stack trace elements for now.

[2020-12-14 04:41] joel-costigliola commented on #2060
I find that everybody is going to interpret what a phrase is in its own way, that's why I prefer more explicit assertion names.

[2020-12-14 14:31] javydreamercsw commented on #2066
Sadly after revisiting this, although it fixes the issue above it breaks checks like this:

`assertThatJson(transaction).isObject().hasNoNullFieldsOrProperties();`

[2020-12-14 14:36] javydreamercsw commented on #2066
Works fine, nvm

[2020-12-14 14:36] #2066 closed

[2020-12-15 10:24] #2053 closed

[2020-12-16 01:34] joel-costigliola commented on #2069
Already done in 11cb2727fb4afc0df9fe11996dde7cecc028bd2e

[2020-12-16 01:34] #2069 closed

[2020-12-16 01:55] mayralgr commented on #2055
Hi @scordio by any chance have you had the opportunity to check the pr's?

[2020-12-16 02:29] joel-costigliola commented on #1923
@abrudin does that address your issue? If so I'll close it.

[2020-12-16 10:19] scordio commented on #2055
@mayralgr checked and merged, thank you!

[2020-12-16 14:23] mayralgr commented on #2055
thanks @scordio I'll take in count the feedback to open other PR for the other two 😄

[2020-12-16 14:28] scordio commented on #2055
@OmarMorales71 #2064 checked and merged, thank you!

[2020-12-16 14:42] OmarMorales71 commented on #2055
@scordio I'll open other PR for the other two, thanks for the feedback 😁

[2020-12-16 15:39] scordio commented on #2041
Hi @HermanBovens, I plan to start working on this, so at first I wanted to catch up with your last message.

Which javadoc are you referring to? The one in `Assert` has just an example showing the usage with `isEqualTo`, but it is not mentioning that `isEqualTo` is the only place where the comparator is used.

Having an API that fails under special conditions could confuse the end user. I don't mi

[2020-12-16 17:54] mayralgr commented on #2055
HI @scordio, I opened a draft https://github.com/assertj/assertj-core/pull/2077 for Byte and Short, I just have a quick question, in the ByteArray assert int values are considered in overloaded methods
[code]
this should also be considered to be overloaded, like
[code]

or should I just limit to the Byte[] primitive?

Thank you!

[2020-12-16 19:51] scordio commented on #2055
@mayralgr I would go with `Byte[]` only. The integer-based methods were probably introduced to avoid casting on each input literal.

[2020-12-16 22:09] mayralgr commented on #2055
Hi @scordio, the pr is ready, let me know if corrections are needed.
Thanks!

[2020-12-17 05:02] OmarMorales71 commented on #2055
@scordio The PR is ready!

[2020-12-17 10:52] HermanBovens commented on #2041
Hi @scordio,

The full javadoc in Assert, excluding the code example, reads:

[code]

To me this suggests it only impacts equality checks.  It is incomplete at least.  I had to dig into the code to find out it's also about comparison.

The "special  condition" would mean that you're trying to trying to assert comparison logic without specifying a `Comparator` or using a `Comparable`.  I think a de

[2020-12-18 05:06] onacit opened #2081 "Add assertions for java.util.regex.Matcher?"
#### Summary

Add custom assertions for `java.util.regex.Matcher`.

#### Example

[code]
[code]
[code]

[2020-12-18 09:40] joel-costigliola commented on #2081
Sure, what is the most useful to start with?

[2020-12-18 10:32] onacit commented on #2081
@joel-costigliola I believe following assertions might be ones to start with.

* `matches()B` -> asserts `matches()B` method.
* `hasGroupCount(I)` -> asserts `groupCount()I` method

And I'm not sure what is the best fluent idioms for asserting the result `String` of following methods

* `group()Ljava.lang.String;`
* `group(I)Ljava.lang.String;`
* `group(Ljava.lang.String;)Ljava.lang.String;`

Than

[2020-12-18 11:32] CharlelieBouvier opened #2082 "Pass matcher as argument in softly.assertThat"
#### Summary
I have a list of elements and a list of matchers to apply to the first one.
I'd like to assert all the items and get all failures if there are any.

But sotfly.assertThat do not accept matcher as an argument

#### Example

[code]

[2020-12-18 16:54] abrudin commented on #1923
Yes, now it seems to be working great. Not sure what version I was using back then but when I retry older versions I can't reproduce the problem so we can definitely close this issue. Thanks for taking your time to look at it!

[2020-12-18 16:54] #1923 closed

[2020-12-19 06:16] mayralgr commented on #2055
@scordio let us know if something is missing 😄

[2020-12-20 04:52] joel-costigliola commented on #2082
I don't fully understand what you are trying to do, a reproducible example would help here.

You can use Hamcrest matcher with [`HamcrestCondition`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/HamcrestCondition.html).
If you want to combine some pair of elements and perform some assertions for each pair, I would give a try to [`zipSatisfy`](https://www.javadoc.i

[2020-12-20 16:06] scordio commented on #2041
Thanks for the input @HermanBovens, you raised several interesting points which deserve to be discussed further.

However, as a first step, I would like to come up with something that doesn't require a breaking change and doesn't introduce a new pattern to perform assertions (e.g., having the comparator as assertion target).

I might have an idea how to solve your original example:

[code]

with t

[2020-12-21 11:44] CharlelieBouvier commented on #2082
Thank you this did the trick 👍

`assertThat("abc").is(matching(myMatcher));`

[2020-12-21 11:44] #2082 closed

[2020-12-21 23:00] devjuliet commented on #2057
@joel-costigliola Is this up for grabs? I would like to contribute 😄

[2020-12-22 00:16] joel-costigliola commented on #2057
It is @devjuliet, thanks for contributing! don't hesitate to ask if you are not sure how to tackle it.

[2020-12-22 05:59] onacit opened #2085 "Consider idioms for empty satification"
#### Summary

Sometimes there are situations that we don't have to verify at all.

Say, a testcase verifies a overridden `hashCode()` method.

One can just call it and implicitly verifies nothing's thrown.
[code]
Or explicitly,
[code]
One can just verifies for an empty consumer.
[code]

#### Example
Is it more expressive when we can do this?
[code]

[2020-12-23 09:12] onacit opened #2088 "Add AbstractCharacterSequenceAssert#hasCodePoints(I)"
#### Summary

The `AbstractCharacterSequenceAssert#hasSize(I)` has been stated that it used the `String#length()` method which is fine.

In a case of a String of non-single unicode literals we need to assert the `CharSequence#codePoints()` method.

[code]

#### Example

[code]

[2020-12-25 06:37] scordio commented on #2055
Feedback provided, thanks @mayralgr and @OmarMorales71!

[2020-12-26 04:56] joel-costigliola commented on #2085
An existing alternative is:
[code]
I find it good enough (as `doesNotThrowAnyException` btw).

The suggested approach does not really work as you can't capture any potential exceptions thrown by `hashCode()` in:
[code]
the reason being `hashCode()` is called before `assertThat` is thus there is no way for AssertJ to do anything here.

[2020-12-26 05:03] onacit commented on #2085
@joel-costigliola Thanks for your kind comments.

[2020-12-26 05:03] #2085 closed

[2020-12-26 05:05] joel-costigliola commented on #2088
I think the best approach here is `assertThat(literal.codePoints()).hasSize(1);`.

`assertThat(literal).hasCodePoints(1);` is misleading, it looks like `[codePoints()](https://docs.oracle.com/javase/8/docs/api/java/lang/CharSequence.html#codePoints--)`  is an integer when it acutally returns a stream of int.

Since `assertThat(intStream)` returns list assertions on the stream content, we already h

[2020-12-26 05:11] onacit commented on #2088
@joaodelgado Thank you for your kind comments.

[2020-12-26 05:11] #2088 closed

[2020-12-28 01:23] joel-costigliola commented on #1910
Closing it but happy to hear further arguments

[2020-12-28 01:23] #1910 closed

[2020-12-28 01:29] joel-costigliola commented on #1824
Soft assertion field injection is supported https://assertj.github.io/doc/#assertj-core-junit5-soft-assertions-field-injection

[2020-12-28 01:29] #1824 closed

[2020-12-28 01:32] joel-costigliola commented on #1864
Closing since an alternative has been given.

[2020-12-28 01:32] #1864 closed

[2020-12-28 01:33] joel-costigliola commented on #1907
@maciejjaskowski are you still interested in contributing this one?

[2020-12-28 01:34] joel-costigliola commented on #1815
Closing since an explanation has been given.

[2020-12-28 01:34] #1815 closed

[2020-12-28 01:37] joel-costigliola commented on #1932
Documentation will be addressed with https://github.com/assertj/doc/issues/80

[2020-12-28 01:37] #1932 closed

[2020-12-28 01:39] joel-costigliola commented on #1645
Done in the the above PRs.

[2020-12-28 01:39] #1645 closed

[2020-12-28 01:42] joel-costigliola commented on #1646
Closing this since at the moment the scope of AssertJ is big enough and alternatives exist.

[2020-12-28 01:42] #1646 closed

[2020-12-28 01:43] joel-costigliola commented on #1694
This is an IDE issue in the first place, in eclipse for example you can select your favorites import and you don't have this issue.

[2020-12-28 01:43] #1694 closed

[2020-12-28 01:46] joel-costigliola commented on #1459
@kriegfrj is this still an issue with the latest soft assertions improvement?

[2020-12-28 01:49] joel-costigliola commented on #1499
Closing since this is a Kotlin issue and there is not much we can do without breaking changes, moreover it seems there are some alternatives.

[2020-12-28 01:51] joel-costigliola commented on #1414
closing since https://github.com/assertj/assertj-core/pull/1739 has been merged

[2020-12-28 01:51] #1414 closed

[2020-12-28 01:52] joel-costigliola commented on #1518
We have added  support for consuming description (see https://assertj.github.io/doc/#assertj-core-assertion-description-consumer), is that addressing the issue?

[2020-12-28 01:57] joel-costigliola commented on #1529
Closing it since an alternative has been proposed.

[2020-12-28 01:57] #1529 closed

[2020-12-28 01:59] joel-costigliola commented on #1561
Done in #1904 and documented here https://assertj.github.io/doc/#assertj-core-recursive-comparison-comparators

[2020-12-28 01:59] #1561 closed

[2020-12-28 02:06] joel-costigliola commented on #1301
The preferred approach is using [`singleElement()`](https://assertj.github.io/doc/#assertj-core-group-navigation-singleElement) chained with [`satisfies`](https://www.javadoc.io/static/org.assertj/assertj-core/3.18.1/org/assertj/core/api/AbstractAssert.html#satisfies(java.util.function.Consumer)).

[2020-12-28 02:06] #1301 closed

[2020-12-28 02:10] joel-costigliola commented on #1002
closing this as the recursive comparison has reached a decent state

[2020-12-28 02:10] #1002 closed

[2020-12-28 02:11] joel-costigliola commented on #283
closing due to lack of feedback

[2020-12-28 02:11] #283 closed

[2020-12-28 10:41] kriegfrj commented on #1459
You're right, this has been implemented in the latest SoftAssertionsExtension, which has an api function that third party assertion frameworks can hook into to get hold of an AssertionErrorCollector.

[2020-12-28 10:41] #1459 closed

[2020-12-29 09:30] joel-costigliola commented on #628
Closing it since we have enough ways of soft asserting.

[2020-12-29 09:30] #628 closed

[2020-12-29 09:35] joel-costigliola commented on #985
I feel there is not enough value doing this in regard to the effort involved.

[2020-12-29 09:35] #985 closed

[2020-12-29 09:52] joel-costigliola commented on #1149
This issue is out of date as `hasFailed` has been deprecated in favor of  [`failsWithin`](https://www.javadoc.io/static/org.assertj/assertj-core/3.18.1/org/assertj/core/api/AbstractCompletableFutureAssert.html#failsWithin(java.time.Duration)). [hasNotFailed](https://www.javadoc.io/static/org.assertj/assertj-core/3.18.1/org/assertj/core/api/AbstractCompletableFutureAssert.html#hasNotFailed()) has b

[2020-12-29 09:52] #1149 closed

[2020-12-29 09:59] joel-costigliola commented on #1196
I'm not sure this is a use case that happens so frequently, if it does a helper method would likely do like `areLogicallyEqual(date, calendar)`.

[2020-12-29 09:59] #1196 closed

[2020-12-29 10:01] joel-costigliola commented on #1238
Addressed and documented with https://assertj.github.io/doc/#assertj-core-recursive-comparison-for-iterable

[2020-12-29 10:01] #1238 closed

[2020-12-29 10:06] joel-costigliola commented on #1286
Closing this as there is no active contribution for this and XMLUnit is the way to go.

[2020-12-29 10:06] #1286 closed

[2020-12-29 10:07] joel-costigliola commented on #1312
Done and documented https://assertj.github.io/doc/#assertj-core-recursive-comparison-for-iterable

[2020-12-29 10:07] #1312 closed

[2020-12-29 10:09] joel-costigliola commented on #1313
Closing is as not an AssertJ but more a test design one.

[2020-12-29 10:09] #1313 closed

[2020-12-29 10:10] joel-costigliola commented on #1323
I guess we can close this one @kriegfrj?

[2020-12-29 10:18] #1369 closed

[2020-12-29 10:23] joel-costigliola commented on #1429
Showing the diff is not always relevant as we don't know if all the fields were used in `equals`.
If one wants a diff then the way to go is use the [recursive comparison](https://assertj.github.io/doc/#assertj-core-recursive-comparison).

[2020-12-29 10:23] #1429 closed

[2020-12-29 10:24] #1409 closed

[2020-12-29 10:25] joel-costigliola commented on #1389
#1424  is done

[2020-12-29 10:25] #1389 closed

[2020-12-29 10:31] joel-costigliola commented on #1467
Done with  [`extracting(Function, InstanceOfAssertFactory)`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/AbstractObjectAssert.html#extracting(java.util.function.Function,org.assertj.core.api.InstanceOfAssertFactory))

[2020-12-29 10:31] #1467 closed

[2020-12-29 10:44] #1545 closed

[2020-12-29 14:45] onacit opened #2089 "Consider adding assertions for Colletion#(add|remove)(E)AbstractAssert#isUniqueByAdding(Set)"
#### Summary

In a case of asserting a series of values, developers may assert each value's uniqueness by adding the value to an instance of `java.util.Set`.

[code]

The basic need of this assertion is that `Collection#add(E)B` method is not friendly with the meaning of its `boolean` result.

Here comes an example of a narrow scope of the assert.

[code]

A type of `java.util.Collection` and its

[2020-12-29 15:08] #2089 closed

[2020-12-29 18:51] LorenzoBettini opened #2090 "Misleading reference to newLinkedHashMap in Javadoc"
#### Summary

The Javadoc of `AbstractMapAssert` mentions in the examples the methods `entry` and `newLinkedHashMap`. While `entry` is actually part of the class `Assertions`, `newLinkedHashMap` is not found anywhere. Actually, it's a private method of `Maps_assertContainsExactly_Test`, and I guess the examples in the Javadoc were copied from there.

AssertJ actually provides something similar, `o

[2020-12-29 22:42] joel-costigliola commented on #2090
We will clarify the javadoc but we won't add or expose `newLinkedHashMap`/`mapOf` as it's not the AssertJ's job to provide map factory methods (exposing `entry` is different in the sense it is used in some assertions parameter).
If you need one I suggest to use guava [`ImmutableMap.of`](https://guava.dev/releases/30.1-jre/api/docs/com/google/common/collect/ImmutableMap.html#of(K,V))

[2020-12-30 02:34] kriegfrj commented on #1323
I still think it's an issue that the field is protected but the type is package private. I'd lean toward making the field package private. But it's not a major functional issue,  more of a code style issue.

[2020-12-30 04:55] #1483 closed

[2020-12-31 15:50] martinschneider commented on #1518
This looks very promising, thanks for implementing it! I'm already trying it out.

[2021-01-01 00:45] joel-costigliola commented on #1323
I'll do that, thanks for the update.

[2021-01-01 01:01] #1505 closed

[2021-01-01 01:01] #1323 closed

[2021-01-01 01:26] #2090 closed

[2021-01-01 10:07] joel-costigliola opened #2091 "Remove <> from error messages"
#### Summary

Error messages use `<>` to delimit a displayed value, this was made to disambiguate empty/blank value.
The issue is that it makes error messages harder to read most of the time, thus removing it will be an improvement.

If it's not already the case, indent with 2 spaces before displaying values on new lines.

#### Example

With `<>` and 1 space identation
[code]

Without `<>` and 2 s

[2021-01-01 10:34] joel-costigliola commented on #1324
We will start with the equals error message since it's the most used by far.
We will align it to Idea and Truth with:
[code]

[2021-01-02 09:41] #2054 closed

[2021-01-02 18:10] Sam-Kruglov opened #2092 "SoftAssertionsExtension does not show line numbers"
assertj 3.18.1
junit 5.7.0

### Extension
[code]

The output does not contain the line numbers:
[code]
### Static method

But using the static method it does show the line number and even the full stack trace (arguably too much though):

[code]

[code]

[2021-01-03 10:25] #1324 closed

[2021-01-03 11:53] scordio commented on #2055
Thank you both @mayralgr and @OmarMorales71!

[2021-01-03 11:53] #2055 closed

[2021-01-04 05:33] #2057 closed

[2021-01-05 08:08] LorenzoBettini commented on #2090
Thanks! From Java 9 also Map.of (https://docs.oracle.com/javase/9/docs/api/java/util/Map.html#of-K-V-) will be enough

[2021-01-05 08:28] pfhartma opened #2094 "Generic return type for AbstractSoftAssertions.fail"
#### Summary
The `fail` method in `Assertions` has generic return type:
[code]
This is convenient in a number of situations.

In contrast to this, the corresponding `fail` method in `AbstractSoftAssertions` has a return type of `void`:
[code]

 I would prefer to have both classes consistent, preferably with generic return type for `AbstractSoftAssertions.fail`.

[2021-01-05 10:25] #2094 closed

[2021-01-05 10:25] joel-costigliola commented on #2094
Done

[2021-01-06 11:39] himadri-mandal commented on #2091
@epeee You can assign this to me, I am new to the community and like to contribute to it.

[2021-01-07 15:48] epeee commented on #2091
@himadri-mandal I'd vote for leaving it unassigned for now (since there are still quite some messages to migrate).

[2021-01-07 16:10] scordio commented on #2091
@himadri-mandal just let us know which ones you are picking up so we don't step on each other 🙂

[2021-01-07 16:52] himadri-mandal commented on #2091
I am starting from the top. My next pull request(s) will have the following.

 ClassModifierShouldBe
 ConditionAndGroupGenericParameterTypeShouldBeTheSame
 ElementsShouldBeAtLeast
 ElementsShouldBeAtMost
 ElementsShouldBeExactly
 ElementsShouldBe
 ElementsShouldHaveAtLeast
 ElementsShouldHaveAtMost
 ElementsShouldHaveExactly
 ElementsShouldHave
 ElementsShouldMatch
 ElementsShouldNotBe
 ElementsSh

[2021-01-07 17:11] himadri-mandal commented on #2091
@scordio Is it ok to submit multiple commits on a single pull request, I see  #2097 is still not merged, or am I missing anything.

[2021-01-08 13:51] ScheintodX opened #2098 "add method "ACTUAL andReturn(){ return actual; }""
#### Summary
While writing assertions it is pretty useful being able to access the object tested.
All my own Assertions classes have this method.

#### Example

[code]

[2021-01-08 20:41] scordio commented on #2098
The topic was recently discussed in #1931 and the team is not convinced about exposing `actual` with a dedicated API, as on average there are ways to achieve the same without it.

Even the example here can be solved without `andReturn()`:

[code]

I'm closing the issue for now but I'm happy to reopen it if there are more concrete cases to evaluate.

[2021-01-08 20:41] #2098 closed

[2021-01-08 20:49] scordio commented on #2091
@himadri-mandal I think it is fine, each change is anyway small and it is not difficult to review them together.

[2021-01-10 14:43] shoaniki commented on #1504
I'm afraid rumours of this issue's death were greatly exaggerated.  With the current AssertJ 3.18.1, I am getting IllegalAccessErrors, caused by the shaded bytebuddy still trying to use java.instrument, whenever I use an assumption -- unless I hack in the `--add-reads` option documented above.

This occurs consistently if I run the tests in JDK 13, 14, or 15.  JDK 11 does not seem to have the same

[2021-01-11 14:58] hauler commented on #1757
I guess this does not help in case of Objects inside of Collections inside of Objects and so on... when ignoring collection order. See the test:
[code]

[2021-01-11 16:55] hauler opened #2100 "Precise location of different field in an Object inside of Collections inside of Objects etc..."
In case of some differences deep inside of Objects inside of Collections inside of Objects and so on :) , when ignoring collection order, assertj gives us not very precise information about what really differs:

[code]

In case of big objects and/or collections it's very hard to identify the actual difference.

Though without `.ignoringCollectionOrder()` it's more precise:

[code]

Sample test --

[2021-01-11 21:14] joel-costigliola commented on #2100
which version are you using?
there's an improvement coming to show which element index differed https://github.com/assertj/assertj-core/issues/2029

[2021-01-11 22:04] hauler commented on #2100
3.17.2 as far as I remember

[2021-01-11 22:05] hauler commented on #2100
Will this work with `.ignoringCollectionOrder()` also?

[2021-01-11 22:11] joel-costigliola commented on #2100
nope, only for ordered collection as with them you expect actual and expected elements at the same index to match

[2021-01-12 07:13] hauler commented on #2100
Can we somehow improve the reporting when `.ignoringCollectionOrder()` also?

[2021-01-12 21:49] raphw commented on #1504
Do you have a stack? This path should never be entered but there is of course a chance something is overlooked.

[2021-01-13 05:09] joel-costigliola commented on #2100
With unordered comparison we have to compare each actual element to all expected element**s** to check if any expected element matches the current actual element.
The best we can do I think is to report actual elements were not matched and the expected elements not matched in actual but we can't report the detailed differences between elements.

Example:
[code]
We should report that 222 and 333 we

[2021-01-13 05:26] joel-costigliola commented on #2100
Playing a bit with the code, I can report this:
[code]

[2021-01-13 06:58] hauler commented on #2100
Got your point, need to think about it, thanks!

[2021-01-14 10:13] joel-costigliola commented on #2100
I think a better error message is to keep the top level list for actual and expected as they are the ones that differ but show which actual elements were not matched in expected.

The same code as yours but changing `ccc` to `CCC` in actua; will show this error message:
[code]
Note the last lines show the unmatched actual elements:
[code]

[2021-01-15 16:54] scordio opened #2102 "`isUnmodifiable` assertion for Collections"
#### Summary
Considering the `java.util.Collections.unmodifiableXXX()` methods, we could add a `isUnmodifiable` method to the assert classes for collections.

#### Example

[code]

[2021-01-16 04:34] HaydenMeloche commented on #2102
That would be cool! How would we assert the list is unmodifiable under the hood?
We could do:
[code]
This should work if `UnmodifiableList` or `UnmodifiableRandomAccessList` is returned.

[2021-01-16 04:42] joel-costigliola commented on #2102
@HaydenMeloche that would cover the JDK types but if I use a Guava ImmutableCollection that won't work so the best implementation IMO is following the possible workaround by calling clear and catching the UnsupportedOperationException, if no exceptin is caught then fail the assertion

[2021-01-16 04:46] HaydenMeloche commented on #2102
@joel-costigliola Fair point. I'd be willing to tackle this if you think it's worth working on :)

[2021-01-16 05:14] joel-costigliola commented on #2102
Sure, go ahead, thanks!

[2021-01-16 07:45] scordio commented on #2102
@HaydenMeloche thank you! Before start working on it please let me put together a more detailed description of the approach I have in mind, so we can blame it also considering Guava. I should be able to do it today or tomorrow max.

[2021-01-16 09:10] scordio commented on #2102
I added some more details and I'll complete them during the weekend. However, this should give already a feeling so please let me know your thoughts.

I'd suggest starting the implementation of `AbstractCollectionAssert` which would inherit from `AbstractIterableAssert` and provide `isUnmodifiable`. The rest are extension points and could be done separately.

[2021-01-18 09:58] #2091 closed

[2021-01-19 01:35] HaydenMeloche commented on #2102
@scordio Thanks for the detailed explanation. I'll get started when I have some time this week. I might create a draft PR when I have something concrete so I can get feedback

[2021-01-20 09:12] joel-costigliola commented on #2100
Done in f9c27574f8e6abf926d2215a16b67d8d3147f64a and 21e85156a5f8ebfd695663a1ccb2c02cca50abf8.

@hauler  I'll reopen the issue if you have a better idea.

[2021-01-20 09:12] #2100 closed

[2021-01-20 09:13] joel-costigliola commented on #2092
Thanks for reporting this @Sam-Kruglov!
We will look into this in the next few days

[2021-01-23 20:26] pitschr opened #2105 "Code coverage with isEqualTo() not working anymore"
Hello maintainers.

#### Summary

Breaking change detected in code coverage. Self-reference check in equals() not recognized by `isEqualTo(..)` which leads to less code coverage.

Works with AssertJ 3.14.0
Not working with AssertJ 3.18.1

#### Example

[code]

Example with AssertJ 3.14:
<img width="474" alt="assertj-3 14" src="https://user-images.githubusercontent.com/25742159/105613034-3937e300-5

[2021-01-23 21:06] pitschr commented on #1949
Hello maintainers.

#### Summary

Breaking change detected in code coverage. Self-reference check in equals() not recognized by `isEqualTo(..)` which leads to less code coverage.

Works with AssertJ 3.14.0
Not working with AssertJ 3.18.1

#### Example

[code]

Example with AssertJ 3.14:
<img width="474" alt="assertj-3 14" src="https://user-images.githubusercontent.com/25742159/105613034-3937e300-5

[2021-01-23 21:07] pitschr commented on #2105
closed due duplication of: https://github.com/assertj/assertj-core/issues/1949

sorry for that

[2021-01-23 21:07] #2105 closed

[2021-01-23 22:05] scordio commented on #1949
@pitschr AssertJ `isEqualTo` is not designed to provide full coverage for custom equals implementations. We usually suggest EqualsVerifier to achieve this.

[2021-01-24 16:45] V-ctor commented on #1224
Would you mind if example is on Kotlin? I mean:

[code]
I agree that there is no point in  comparing  stack traces, but comparing messages seems useful.

[2021-01-24 19:17] pitschr commented on #1949
Yeah, EqualsVerifier is a good library. I agree that the EqualsVerifier is superior when we need to check `equals` and `hashCode`. But I still think that AssertJ should call the real `equals` method even if self-reference to avoid unexpected behavior.

The missing coverage through `isEqualTo(..)` was just accidentally discovered. Now I am in the situation that I am not sure if there might be other

[2021-01-26 04:17] HaydenMeloche commented on #2102
hey @scordio got a chance to working on this over the weekend. I setup my assertion class as such
[code]

I'm running into an issue now with this setup. Existing test cases that test the `Iterable` type are now looking for a Collection assert rather than a Iterator assert.

Ex: This test case:
https://github.com/assertj/assertj-core/blob/4fad9a03993e66fd4e2735352c22c52d206e9a1e/src/test/java/org/a

[2021-01-26 07:31] scordio commented on #2102
Hi @HaydenMeloche, yes please, just push/raise a draft PR and I'll have a look.

[2021-01-27 15:44] oxygenecore opened #2107 "Maps.assertContainsOnly(info, actual, entries) has inconsistent behaviour if `entries` is empty"
https://github.com/assertj/assertj-core/blob/f27b022a369ba731ed72413f6c10c82a9e539495/src/main/java/org/assertj/core/internal/Maps.java#L745
The call mentioned in the link fails with IllegalArgumentException if `entries` is empty, and `actual` is not. This, however, would work if `actual` is empty as well (the mentioned line is not executed in this case). Thus, execution success depends on `actual

[2021-01-27 20:50] joel-costigliola commented on #2107
I agree the error message should be as you said.
Are you keen to contribute it?

[2021-01-28 14:16] sithmein opened #2108 "New comparison strategy using bean-style getters"
#### Summary
I like the recursive comparison strategy for `isEqualTo`. In addition I propose an new comparison strategy that works on public `getXXX()` methods. This makes it easy to compare beans with each other and at the same time also checking the getter implementations. This is especially useful when getters return `Optional`s, because I often found issue where `Optional.of()` was used when i

[2021-01-28 23:07] rdehuyss opened #2109 "Strange & incorrect assertion error after upgrade to 3.19.0"
#### Summary
Upgrading from 3.16.1 to 3.19.0 causes strange assertion errors.

The test fails if it is ran like below. However, if you uncomment the sysout, the test is green. It works fine in AssertJ 3.16.1

#### To Reproduce:

[code]

[2021-01-29 00:25] joel-costigliola commented on #2109
there were a few breaking changes between 3.16 and 3.19 regarding the recursive comparison, see the [release notes](https://assertj.github.io/doc/#assertj-core-release-notes). Some of these breaking changes can be reverted (like calling `usingOverriddenEquals ` or Assertions.setExtractBareNamePropertyMethods(true);) try with these and see how it goes.

I haven't run your test case yet but I suspec

[2021-01-29 06:09] rdehuyss commented on #2109
Ok, thanks for the swift reply.

I'll read the release notes and get back at you.

[2021-01-29 14:49] rdehuyss commented on #2109
solved by adding `usingOverriddenEquals()`. Sorry for the hassle.

[2021-01-29 14:49] #2109 closed

[2021-01-30 00:36] joel-costigliola commented on #2109
no problem, happy to help.

[2021-01-30 08:57] joel-costigliola opened #2110 "Add actual after Expecting to disambiguate error messages"
#### Summary

Add "actual" after "Expecting" in error message to make it clear the value displayed is actual and not expected

This is related to a comment from https://github.com/assertj/assertj-core/issues/1324:

#### Example

Before:
[code]

After:
[code]

#### Scope

There are quite a lot of error messages to amend, here's the list:

- [ ] ClassModifierShouldBe
- [ ] ConditionAndGroupGenericPa

[2021-01-30 15:26] rotty3000 opened #2111 "Assertions ignore missing entry on maps"
#### Summary
A custom assertion extending `MapAssert` that performs a `org.assertj.core.api.AbstractObjectAssert.hasFieldOrProperty(String)` on an `actual` that neither has a getter or field, but _is_ a `Map` silently ignores missing map entries.

#### Example
Given JSON:
[code]
The following will silently succeed
[code]
#### Reason
The method `org.assertj.core.util.introspection.PropertyOrFieldSu

[2021-01-30 15:53] scordio commented on #2111
Thanks for the detailed report @rotty3000.

is there a particular reason why you are using `hasFieldOrProperty` instead of `containsKey`?

Still, it is interesting that `AbstractMapAssert` is inheriting from `AbstractObjectAssert`, exposing assertions from the latter. I would imagine those assertions don't make much sense with maps.

Playing around:

[code]

@assertj/core should we consider a revi

[2021-01-30 17:17] rotty3000 commented on #2111
Thank you for the insight @scordio. I really appreciate it.

However, from a outsiders perspective looking at Json "objects" it's not clear that the underlying structure is a `Map` (even though that is the obvious implementation) and so the nomenclature that a JSON "object" has a _property_ of _field_ is far more natural than it having a "key". And so in this sense I feel that, if the API is there

[2021-01-30 17:32] YassinHajaj opened #2112 "ListAssert containsSequence and containsSubsequence are misleading method names"
#### Summary
Hi,

I'm wondering why those names have been choosen for those methods.

In my opinion, the following names would be more suited

_containsSequence_ => _containsSubsequence_
_containsSubsequence_ => _containsInSequentialOrder_

For the second one, the name is maybe not the ideal one but it already expresses the intention of the method.

[2021-01-30 17:43] rotty3000 commented on #2111
I'd like to propose an implementation of `MapSupport` akin to `FieldSupport` and `PropertySupport` having a property `allowMissingKey` where the default is true and this is the default in the EXTRACTING use case. Meanwhile in the comparison use case it could be set to false.

[2021-01-30 19:23] abhijeetshuklaoist commented on #2107
@joel-costigliola I would like to pick it up. If it's free for me to take, please assign it to me.

[2021-01-30 20:31] scordio commented on #2111
I agree that the external layer focuses on the JSON, hence`hasFieldOrProperty` might sound better here. However, `assertj-core` has no knowledge about the JSON type, that is just a map. The JSON type is the target of JsonUnit.

Having said that, if we would decide to change the API exposed by `AbstractMapAssert`, I would definitely brainstorm together with @lukas-krecan in order to keep a meaningf

[2021-01-30 22:15] joel-costigliola commented on #2112
It's the match definition, a subsequence is about the order but you can skip elements whereas a sequence  you can't skip elements, see https://en.wikipedia.org/wiki/Subsequence.

[2021-01-30 22:15] #2112 closed

[2021-01-30 22:15] joel-costigliola commented on #2107
Thanks @abhijeetshuklaoist

[2021-01-30 22:20] YassinHajaj commented on #2112
Thanks for the reference @joel-costigliola , I was confused but thats only due to my wrong understanding of the concept

[2021-01-31 02:56] rotty3000 commented on #2111
So, I wanted to add that after further consideration I think I'm probably OK with using the `contains(entry(name, value))`, `containsKey(name)` nomenclature. They seems to handle the cases I need well enough. However, I do still find it strange that `hasFieldOrPropertyWithValue(name, value)` seems to work very well while `hasFieldOrProperty(name)` does not work reliably.

I suppose it just caught

[2021-01-31 03:55] joel-costigliola commented on #2111
`hasFieldOrPropertyWithValue(name, value)` and `hasFieldOrProperty(name)` should be consistent and fail if there is no field or property or key with the given name.

That would be a breaking change for sure, I'll try to find why we have it, I don't remember right now.

[2021-01-31 08:02] filiphr commented on #2111
@rotty3000 and the AssertJ team. Doesn't it make more sense to request the json-unit team to look into this. Calling that `isObject` actually returns a `JsonMapAssert` from json-unit. I think it would make more sense address and improve the API from json-unit here.

[2021-01-31 08:51] utoniumharsha commented on #2110
@joel-costigliola Can you assign this to me. I am new to the community and would love to contribute.
https://github.com/assertj/assertj-core/pull/2113

[2021-01-31 09:37] joel-costigliola commented on #2110
Sure, thanks @utoniumharsha!

[2021-01-31 09:54] joel-costigliola commented on #2111
Fair point @filiphr, I did not realize it was returning a `JsonMapAssert`.
But still, we should be consistent between `hasFieldOrPropertyWithValue` and `hasFieldOrProperty`

[2021-01-31 09:55] lukas-krecan commented on #2111
There are two issues. One is that `hasFieldOrPropertyWithValue(name, value)` and `hasFieldOrProperty(name)` are inconsistent and their behavior is surprising for MapAssert.

The other is that JsonUnit may lead user to use them. I will not be able to help with the first, but I can take a look at JsonUnit issues. I may mark the methods as deprecated fix their behavior.

[2021-01-31 10:10] scordio commented on #2111
That was my initial feeling, but we might also have a conceptual issue with the current AbstractMapAssert` parent class.

Yes, definitely. If we realize this is the way to go, I would deprecate `AbstractObjectAssert`'s methods in `AbstractMapAssert`, similarly to what @lukas-krecan proposed for JsonUnit, and we could change the inheritance in version 4.

I'll look into it.

[2021-01-31 16:49] scordio commented on #1949
@nioertel @pitschr we evaluated this issue again and decided to address it. Feel free to have a look at #2114.

[2021-01-31 19:28] scordio commented on #2111
Do you have an example where `hasFieldOrPropertyWithValue(name, value)` is working correctly for a Map?

I played a bit more and both assertions below are erroneous but "consistent" 🙂

[code]

Also, trying:

[code]

yields:

[code]

From my point of view, both `hasFieldOrProperty` and `hasFieldOrPropertyWithValue` when actual is a `Map` should be fixed.

[2021-01-31 21:41] #1949 closed

[2021-02-03 01:24] joel-costigliola opened #2115 "Recursive comparison does not honor ignored fieds when comparing maps"
#### Summary

The recursive does not set field location properly for maps and thus is not evaluating ignored fields rules properly.

#### Example

[code]
with the above maps, AssertJ should compare these fields (fieldname: actual value vs expected value)

* foo : bar vs bar
* description : foobar vs barfor
* submap.subfoo: subBar vs subBar
* submap.description: subFooBar vs subBarFoo

instead it c

[2021-02-03 06:01] joel-costigliola commented on #2110
Fixed with https://github.com/assertj/assertj-core/pull/2113

[2021-02-03 06:01] #2110 closed

[2021-02-09 14:21] jcttrll opened #2120 "Add isNotFinite and isNotInfinite for floating-point types (double, float)"
#### Summary

`isFinite()` and `isInfinite()` assertions were handily added via #2005. In the comments on PR #2006, it looks like the original author believed `isNotFinite()` and `isNotInfinite()` were unnecessary, perhaps because they appear to be opposites.

However, `Double.isFinite()` and `Double.isInfinite()` (and corresponding `Float` methods) aren't exact opposites. `isFinite()` means:
* No

[2021-02-09 20:37] scordio commented on #2120
Fair point @jcttrll, keen to contribute?

[2021-02-10 10:10] Brummolix commented on #1855
This issue is still present in 3.19.0?

[2021-02-10 12:49] scordio commented on #1855
@Brummolix this should have been fixed with c5de8911ec51415fb7d20f53f5c99ee6a7fde150. Are you still facing the same issue with 3.19.0?

[2021-02-10 12:59] Brummolix commented on #1855
In 3.19.0 this test (running on Windows 10) never comes to an end:

[code]

It works if I add
`.withEqualsForType((path1, path2) -> path1.equals(path2), Path.class)`

[2021-02-10 13:48] jcttrll commented on #2120
@scordio Sure, I'll give it a try! Might not be for a couple of days, though.

[2021-02-10 15:39] scordio commented on #2120
Thank you @jcttrll, take your time and let us know if you need anything.

[2021-02-10 20:37] joelc opened #2121 "mapOf() appears to be in test vs. main; documentation examples won't compile"
The [documentation](https://assertj.github.io/doc/) contains an example:

[code]

`mapOf` is not in the main/production source code. It's in the unit test code: https://github.com/assertj/assertj-core/blob/main/src/test/java/org/assertj/core/test/Maps.java.

As a consumer of the Maven `assertj-core` dependency, I am unable to use `mapOf`.

[2021-02-14 05:22] joel-costigliola commented on #2121
The point of the javadoc is to illustrate the assertion behavior, in order to do that we use shortcuts for data initialization otherwise most of the code examples would be for setting up data instead of focusing on the assertions.

We will clarify the javadoc but we won't add or expose `mapOf` as it's not the AssertJ's job to provide map factory methods (exposing entry is different in the sense it

[2021-02-14 08:57] #2115 closed

[2021-02-14 15:04] scordio commented on #1855
Reopening as the issue is still present on Windows only. Created https://github.com/assertj/assertj-core/tree/investigation/gh-1855 for investigation.

[2021-02-17 12:01] stbischof opened #2123 "Condition Status - [ ] Not Executed"
If a Condition is not executed it has non of the both states:
https://github.com/assertj/assertj-core/blob/771ed6b685f22f37e1a14f8e5d954fa6e6f03c09/src/main/java/org/assertj/core/api/Condition.java#L39
-------------------
Sorry for the noise, conditionDescriptionWithStatus() forces the call. I think  this issue cloud be ignored

[2021-02-17 12:23] #2123 closed

[2021-02-17 20:21] aksh1618 opened #2124 "MapAssert::containsAllEntriesOf throws assertion error for non empty actual and empty other map"
#### Summary
`MapAssert::containsAllEntriesOf` throws assertion error for non empty actual and empty other map:
[code]
Shouldn't this succeed as it does contain all 0 entries in the expected map? IMHO this would be more consistent with  #2013 and non empty check should be explicit.

#### Example

[code]

[2021-02-17 20:36] joel-costigliola commented on #2124
Thanks for reporting this, you have a point, we'll discuss this with the team before reaching a decision.

[2021-02-17 22:02] joel-costigliola commented on #2124
Team agrees to do it, moreover it's consistent with `containsAll` iterable assertion.

[2021-02-17 22:03] joel-costigliola commented on #2124
@aksh1618 keen to contribute it?

[2021-02-18 04:04] aksh1618 commented on #2124
Sure @joel-costigliola, happy to :)

[2021-02-20 09:53] #2121 closed

[2021-02-20 14:49] aksh1618 commented on #2124
@joel-costigliola I've made the changes allowing empty values to pass for following methods:
[code]
Am I correct in assuming the other two should also have similar behavior?

[2021-02-21 05:25] #1535 closed

[2021-02-21 09:13] joel-costigliola commented on #2124
I agree, good thinking!

[2021-02-22 21:30] ryanh007 opened #2129 "Display type of test in the description consumer report"
#### Summary
Wondering if there is a way to display the test operation being done in the description consumer  report

#### Example
Building off of this example
https://assertj.github.io/doc/#assertj-core-assertion-description-consumer

Assertions:
-- check name _[isEqualTo Frodo]_
-- check age _[isEqualTo 33]_

So whatever the test is .isXXX() (isTrue(), isEmpty0 etc) operation would be a report

[2021-02-22 21:50] #2111 closed

[2021-02-22 22:20] joel-costigliola commented on #2129
Nope, the reason is the description passed to `as()` comes before the assertion so at this point AssertJ does not know what assertion is going to be performed.

[2021-02-23 02:18] ryanh007 commented on #2129
ah ok, I'll close this out then
thx

[2021-02-23 02:18] #2129 closed

[2021-02-23 10:14] #1855 closed

[2021-02-23 14:55] mipper opened #2131 "hasSize has been removed from ObjectArrayAssert class"
#### Summary
The `hasSize(int)` method is no longer available on 2D arrays after commit a36275ecd89ffa12cca931e65b3c9e4fa5322f7f which was released as part of 3.17.0.

I have no idea whether other methods have also become unavailable on this, not whether other array classes are affected.

#### Example
This test will compile under 3.16.1 but not on any version after that up to 3.18.1.

[code]

[2021-02-23 19:07] fbiville opened #2132 "Wrong collection type in Set assertion"
#### Summary

The assertion error displays the wrong collection type, as noticed by @Patouche.

#### Example

[code]

The error is as follows:
[code]

`ArrayList` should not be displayed in the error message.

[2021-02-23 21:25] scordio commented on #2132
The issue happens due to:

https://github.com/assertj/assertj-core/blob/8912e7324fab207e2863891d499cd111eb10f129/src/main/java/org/assertj/core/internal/Iterables.java#L342

introduced in a06f16c500c317fb7f07c45c73c6c6db4e848058 to address non-restartable iterables.

The wrong error message can probably be fixed with some refactoring, but I am wondering if creating a copy makes sense in case of `C

[2021-02-23 21:35] scordio commented on #2131
@mipper the introduction of [2D array assertions](https://assertj.github.io/doc/#assertj-core-3.17.0-2d-array-assertions) in 3.17.0 is mentioned as a [breaking change](https://assertj.github.io/doc/#assertj-core-3.17.0-breaking-changes).

In the example, `hasSize(1)` should be replaced with `hasDimensions(1, 1)`.

[2021-02-23 21:41] Patouche commented on #2132
I thinks it make sense as an iterator can be consume only once.

The simplest way to solve this issue will be probably to provide the class to the `org.assertj.core.error.ShouldContain#shouldContain` method.

If you want, I already solve the test I've written before .

[2021-02-24 06:42] scordio commented on #2132
Thanks @Patouche, what I meant is with `Collection` instances we probably don't need to use an iterator and create a new array list to perform the `contains` assertion, we could simply delegate to `Collection#contains`

[2021-02-24 08:45] Patouche commented on #2132
Mmmh, not sure we can do that with the `ComparisonStrategy`.

The `Collection#contains` method will use the `equals` methods of the iterable elements. The `Iterables#comparisonStrategy` will not be used anymore if we change that with `contains` method.

[2021-02-24 09:10] mipper commented on #2131
I saw the release notes, but they don't list any methods that have been removed.  It's a shame they're not listed along with the methods which should replace them.

[2021-02-24 09:10] joel-costigliola commented on #2132
@Patouche I agree with you.
The change was made to support iterable that can be traversed only once by an iterator (a use case a bit far fetched but why not).

Passing the actual type to the error message is a good solution IMO.

[2021-02-24 09:17] joel-costigliola commented on #2131
@mipper fair enough, would you mind improving the release notes for other users?

[2021-02-24 09:51] scordio commented on #2132
Looks good to me, we might still improve the part of the copy for performance reasons. I'll have a look at it.

[2021-02-24 21:46] Patouche commented on #2132
Yes, I understand the use case but I wonder how this can work when chaining some assertions. For example :

[code]

Maybe I'm wrong but I think this should fail on the `contains("val-2")` line as the iterator was already consumed on the previous line.

Yes, this is a little bit out of the scope of this PR but maybe instead of `newArrayList` we can use `IterableUtil.toCollection` in the `Iterables#

[2021-02-24 23:02] #2132 closed

[2021-02-24 23:10] scordio opened #2134 "Avoid copy of Collection instances in Iterables#assertContains and Iterables#assertContainsAll"
Following https://github.com/assertj/assertj-core/issues/2132#issuecomment-784523615 and https://github.com/assertj/assertj-core/issues/2132#issuecomment-785406008, the current implementation of `Iterables#assertContains` and `Iterables#assertContainsAll` could be improved avoiding the creation of a new array list when `actual` is a `Collection` instance.

[2021-02-26 10:02] fbiville commented on #2132
[code]
There could be ways to have this assertion pass (since you don't have to iterate until the end to find the first value.
But I think the following should fail for sure:
[code]
#justmy2cents

[2021-02-26 20:40] chassum commented on #2007
Thanks!

[2021-02-26 20:40] #2007 closed

[2021-02-27 17:11] scordio commented on #2132
@fbiville would you mind elaborating on why the second example should fail?

Although I understand the single iteration constraint, I'm concerned that the order of the assertions would lead to different results which might be nonobvious from user perspective.

Specifically, following your example:

[code]

It might be we should just copy all the elements in a collection during `assertThat` executi

[2021-02-27 18:29] aksh1618 commented on #2124
@joel-costigliola Might be a bit extreme, but there could be cases where this won't be a user error, for instance:
[code]
If such cases are to be considered too extreme for the scope of the library, should the absence of arguments throw an (IllegalArguments) exception in all cases and be documented as such?

[2021-02-27 20:40] #2120 closed

[2021-02-27 20:55] scordio commented on #1461
As a workaround, it is possible to write:

[code]

[2021-02-27 22:53] joel-costigliola commented on #2124
I have to contradict myself on this one :facepalm:

Let's go with the same approach we followed for for iterable `contains` and `containsAnyOf` assertions, they fail if you pass an empty array and actual was not empty.

[2021-03-01 14:00] sdahlberg opened #2136 "According to docs hasOnlyFields should not consider static fields, but it does"
#### Summary

According to the [docs](https://assertj.github.io/doc/#assertj-core-3.19.0-hasOnlyFields) static fields shouldn't be considered, but they are.

#### Example

[code]
Outcome:

Expecting non static/synthetic fields of:
Person@769c9116
to contain only:
  ["name"]
but the following fields were unexpected:
  ["TEST"]

[2021-03-01 20:34] joel-costigliola commented on #2136
Thanks for reporting this @sdahlberg! which version are you using?

[2021-03-02 08:57] sdahlberg commented on #2136
I'm using 3.19.0

[2021-03-02 09:23] wateryloo commented on #2081
Hi! We are a group of students ( [Zhengxin](https://github.com/Carl-Rabbit), [Shangxuan](https://github.com/ArslanaWu), [Zunyao](https://github.com/DanielMao1), [Wendi](https://github.com/LUUUAN) and me ) who would like to contribute to open source projects. Can we work on this issue?

[2021-03-03 02:16] joel-costigliola commented on #2081
@wateryloo thanks!
Let's start with `matches()`, for that we need to add new Assert class, I'm discussing with the team to decide what is the best way to implement it, we will let you know when we have.

[2021-03-04 10:50] C-Otto opened #2139 "Feature request: allow ignoring duplicates in assertThat(someSet).map(x::mapper)"
#### Summary
I have a set of values `Set<Foo> set = Set.of(a, b)` with size 2, i.e. `a.equals(b) == false`.
With `assertThat(set).map(Foo::getX)` I can extract property `x` out of my class and run assertions on the resulting collection:

`assertThat(set).map(Foo::getX).hasSize(1) // fails if a.x == b.x`

Against my intuition, this assertion fails if both elements of `set` have the same property `x

[2021-03-04 20:34] joel-costigliola commented on #2139
I get your point but do you really need to check the size in your example? You could check the content with `containsOnly` and not check the size unless you really want to.
[code]

[2021-03-04 20:56] C-Otto commented on #2139
The example above is simplified. One example that I'd like to simplify using AssertJ:

`assertThat(xxx.stream().map(Foo::getBar).collect(toSet())).hasSize(1);`

In this example I don't know a lot about `xxx`, but I know that for this specific test, the "bar" property should always be the same. Note that I don't know the exact value, I just know that the resulting set only contains one element.

[2021-03-04 21:08] joel-costigliola commented on #2139
Thanks for the additional details.

[2021-03-05 05:40] joel-costigliola commented on #2081
Alright, so the best to go with this one is to follow what we did for `AbstractOptionalLongAssert`, so you would have to define these classes:

- `AbstractMatcherAssert`
-  `MatcherAssert`
- `MatcherShouldMatch` in package `org.assertj.core.error`
- all the corresponding test classes ;-)

Let us know if you need more guidance.

[2021-03-07 04:48] #1434 closed

[2021-03-07 05:22] #2136 closed

[2021-03-07 09:22] joel-costigliola commented on #1461
As `AbstractThrowableAssert` extends `AbstractObjectAssert`, I don't see any issue for `ThrowableAssertAlternative` to do so too.

My 2cts alternative for the original assertion:
[code]
This is not as good as version suggested by @aaiezza when `ThrowableAssertAlternative` will extend `AbstractObjectAssert` but wanted to show it was possible.

[2021-03-07 09:34] sdahlberg commented on #2136
That´s swift! Thanks alot! :)

[2021-03-07 10:08] joel-costigliola commented on #1461
As a side note, one can use `from` syntactic sugar:
[code]

[2021-03-07 15:42] aksh1618 commented on #2124
@joel-costigliola Added a PR

[2021-03-08 11:05] wimdeblauwe opened #2141 "Add hasCauseSatisfying()"
#### Summary

I would love to have an extra method `hasCauseSatisfying()` on ThrowableAssertAlternative

#### Example

[code]

(That assert inside the proposed method would use https://www.wimdeblauwe.com/blog/2016/2016-04-01-assertj-custom-assertion-for-testing-constraintvalidator-implementations/ )

I am not sure if it would be possible to have `ex` typed to `ConstraintViolationException`. Would

[2021-03-08 11:22] scordio commented on #2141
`ConstraintViolationException` belongs to the java validation api, so no chance we can have it in assertj-core.

On the other hand, I had in mind for some time to kickstart a separate assertj module to aid in bean validation tests, especially to have a nicer API. Is that something that would interest you too?

[2021-03-08 11:53] scordio commented on #2141
@wimdeblauwe maybe one clarification about the provided example: the lambda parameter should contain the cause, otherwise you would just use the existing `satisfies`, right?

[2021-03-08 11:59] wimdeblauwe commented on #2141
Whoops, I totally missed that `satisfies` method. That is what I need. You can ignore this request.

For reference, the example becomes:

[code]

[2021-03-08 12:18] #2141 closed

[2021-03-10 05:26] joel-costigliola commented on #2107
@abhijeetshuklaoist have you made any progress?

[2021-03-11 09:46] joel-costigliola commented on #1509
I don't think adding `ifPresent` to the optional assertion api adds a lot of value as optional has a similar method that does the same job:

if we add `ifPresent`:
[code]
if we don't:
[code]
The latter requires less typing and use the java api to achieve the same result.

@ogregoire are you thinking of `assertion = assertThat(optional.get())`?
There are 2 issues with this, first it does follow the

[2021-03-11 10:28] ogregoire commented on #1509
Hello @joel-costigliola , thanks for coming back to this issue.

Yes, I mostly want to chain calls. I usually organize my assertions like below.

[code]

I personnally prefer this above to the more complex:

[code]

Now if you believe that tests should not be written this way, I understand and you may close the ticket, but I believe that I'm not the only one doing this.

[2021-03-11 14:03] AhmetTanakol opened #2143 "Ignoring non-existing properties"
#### Summary

I couldn't find a way to ignore properties that don't exist in the actual object during recursive comparison. Adding the ignored fields with dummy values to the actual object and setting `ignoreFields` works. Is there a way to skip non-existing properties?

#### Example

[code]

[2021-03-11 16:13] abhijeetshuklaoist commented on #2107
Sorry I have been occupied for some time. I will get to it right away.
Thanks!

[2021-03-11 20:30] joel-costigliola commented on #1509
Chaining is a fair point, thanks for pointing it out.

[2021-03-11 22:26] joel-costigliola commented on #2143
for testing json, I recommend JSONUnit, it turns out you can ignore fields in JSON Unit https://github.com/lukas-krecan/JsonUnit#ignoreelements - give it a try and see if it works for you.

[2021-03-12 14:58] abhijeetshuklaoist commented on #2107
@joel-costigliola What should be the correct behaviour here?

Below are the use cases that I think should be there, if let me know if my understanding is correct.
1. If both Actual and Entries are empty : Should be an assertion success
2. If Actual is empty but Entries is not empty: AssertionFail with message "Actual is empty but should contain Entries"
3. If Actual is not empty but Entries is emp

[2021-03-12 19:49] clarkdo opened #2144 "RecursiveComparison with ignoringCollectionOrder failed with not java.lang types"
#### Summary

Version: 3.17.1

Let's define an enum and a pojo class:

[code]

Then if we assert two lists of `Person` objects with `usingRecursiveComparison` and `ignoringCollectionOrder`, the test will pass without any problem:

[code]

But if we change the list order slightly, the assertion will fail:

[code]

I think this error is from https://github.com/assertj/assertj-core/commit/d66da9f8904

[2021-03-12 22:36] joel-costigliola commented on #2144
Thanks for the detailed issue, we will look at it for the next release.

[2021-03-12 22:42] joel-costigliola commented on #1509
We have a `get` method for optional assertions so your example can be written as

[code]
you can even pass an `InstanceOfAssertFactory` to have strongly typed assertions, e.g:
[code]

The only difference with `extractIfPresent` is that `get` would fail if the optional is empty.
Does that address your needs?

[2021-03-13 05:46] #2144 closed

[2021-03-13 05:49] joel-costigliola commented on #2144
@clarkdo as a side note, you can now skip `.ignoringOverriddenEqualsForTypes(Person.class)` since 3.17.0 the recursive comparison  by default won't use equals unless explicitly told to do so.

[2021-03-13 09:14] joel-costigliola commented on #2107
that's correct, 1. and 2. are already handled properly, 3. can be improved with a better error message.
We must not change `failIfEmpty` because it is used elsewhere, instead we replace it in `assertContainsOnly` and `assertContainsExactly` by calling `assertEmpty` as you suggested (good idea!) if `entries` is empty.

Does that make sense?

[2021-03-14 09:35] #2107 closed

[2021-03-15 12:14] ogregoire commented on #1509
I've taken the time to think about it. And I must say that I'm concerned by the fact that `get` *fails*. Shouldn't it errors instead? Or silently do nothing for the rest of the chain? I'm a bit divised on this, but failing clearly seems the outlier here, though I have a slight preference for error (and I mean letting the `Optional` throw its own `NoSuchElementException`).

Also, the name is a bit

[2021-03-15 16:19] abhijeetshuklaoist commented on #1935
Hey @joel-costigliola  Is this okay if I take this up?

[2021-03-15 18:56] xenoterracide opened #2146 "AssertList flatmap, containsOnlyInAnyOrder"
so we have this hamcrest code (with "check" predating any hamcrest java 8, it just returns the identity of the function to the other matcher specified). How would I write this in assertJ?
[code]
I guess I could new up the instance but, I'm not actually certain it has equals done in a correct way, and probably not actually useful for evaluating on a property by property basis. If I do flatmap, then

[2021-03-15 20:07] joel-costigliola commented on #2146
How about using extracting multiple values at once with tuples? https://assertj.github.io/doc/#extracting-multiple-values
should look like:
[code]

[2021-03-15 20:12] joel-costigliola commented on #1935
@abhijeetshuklaoist not yet, we need to discuss this with the team first to find the best approach first, I'll keep you posted.

[2021-03-15 20:20] joel-costigliola commented on #1509
We could have thrown a `NoSuchElementException` indeed, we'll discuss that with the team.
We used `get` to follow the Optional api `get` method, it's different from `extract` as `extract` takes a parameter to specify what to extract. The closest methods in iterables to `get` would be `first()`, `last()` or `element(index)`.

[2021-03-15 21:08] xenoterracide commented on #2146
hmm... I forgot about tuple's, and couldn't find them :/ outside of maybe needing more (any) examples in the javadoc... not certain I have a good example there. I guess that does solve most of my  current use case.

Though not one of them, this is matching a "pattern" so to speak, not a specific value

[code]

[2021-03-15 22:12] xenoterracide commented on #2146
I suppose this works. but some of it seems more verbose

[code]

[2021-03-16 04:46] joel-costigliola commented on #2146
We have examples of tuple usage in the javadoc, see https://www.javadoc.io/static/org.assertj/assertj-core/3.19.0/org/assertj/core/api/AbstractIterableAssert.html#extracting(java.util.function.Function...), happy to hear your thoughts how we can make it easier to find.

As for the verbosity, not sure how to improve that, one thing we don't want is to go the Hamcrest way and provide matchers/condit

[2021-03-16 12:40] jakubbrodzinski opened #2147 "containsExactly does not work with the recursive comparison when comparing different types"
#### Summary
I faced an unexpected behavior (for me) with `usingRecursiveFieldByFieldElementComparator` when using it with `containsExactly`.

When i use `.usingRecursiveFieldByFieldElementComparator()` with `.containsExactlyInAnyOrder()`, it works just fine, so the elements are correct.
When I `extract` every field from class and use `containsExtacly` with tuples, it works just fine, so the order

[2021-03-16 20:45] fegbers opened #2149 "[Feature request] Add recursive comparison support to do the value resolution only by field (reflection)"
Hi,

#### Summary
If you have a getter that modifies the value or only returns a subset of the value, the [current resolving strategy](https://assertj.github.io/doc/#how-field-values-are-resolved) is error prone / unusable for recursive comparison tests (see example below).
Perhaps it's possible to add the support to do the value resolution only by field via reflection? Perhabs a boolean configura

[2021-03-16 21:36] joel-costigliola commented on #2149
The best way to go would be to specify in the configuration to only use fields, something like: `comparingOnlyFields()` and change the implementation to introspect fields only.

[2021-03-16 22:26] joel-costigliola commented on #2147
Thanks for reporting this behavior.

I could not reproduce the issue with assertj core 3.19.0 using the following code:
[code]

Could you provide a complete reproducible test? (preferably without annotations)

`usingRecursiveFieldByFieldElementComparator()` has been introduced before the recursive comparison and thus is not based on it, something we should probably do even if it is a breaking chan

[2021-03-17 07:05] jakubbrodzinski commented on #2147
Firstly, thank you for the suggestions regarding my AssertJ usage.  The reproductive issue was my fault.  Before posting my code i wanted to reduce it as much as I could to improve readability. Sadly I think I reduced too much. I edited my original post and put complete example (Only annontations left by me are @Getter/@Setter from Lombok).
Like I mentioned earlier, only the thrid assertions is fa

[2021-03-17 10:04] joel-costigliola commented on #2147
Thanks! I was able to reproduce the issue.

This is a bug in `containsExactly` implementation that assumes the comparison of elements is symmetrical but the recursive comparison  is not! It compares actual's fields vs expected fields and fails if expected does not have all actual fields (without even needing to compare their values).

In your example, we can compare `ListEntryDto` to `ListEntry` b

[2021-03-17 10:08] joel-costigliola opened #2152 "usingRecursiveFieldByFieldElementComparator() to use the new recursive comparison"
#### Summary

`usingRecursiveFieldByFieldElementComparator()` uses an old version of the recursive comparison that we don't want to maintain.

[2021-03-17 10:16] jakubbrodzinski commented on #2147
Thanks for quick reply, now everything is clear to me. I agree with you about `usingRecursiveComparison().isEqualTo(list(...)))` being more elegant. Already using it (since your yearlier reply).
Regarding to your first reply, I feel like you are right and `usingRecursiveFieldByFieldElementComparator()` should be changed even if it's breaking change.

[2021-03-18 13:01] schrek1 opened #2153 "Comprehensively checking url query params"
#### Summary
With assertThat on URL object isn't possible check all parameters in one method call. For example is possible check whole map by insert expected map. It will be very usefull becouse sometimes depends on exactly params and api not able validate there aren't more params...

#### Example
[code]

[2021-03-18 13:56] scordio commented on #2153
There might be multiple values for the same key, so a string key with a list of string values is probably needed.

What if we would provide a `getParameters()` which gives back a `MapAssert`?

I imagine something like:

[code]

[2021-03-18 15:16] schrek1 commented on #2153
yeah it will be great too

[2021-03-18 15:54] schrek1 commented on #2153
@scordio Could I contirbute it?

[2021-03-18 18:00] scordio commented on #2153
@schrek1 yes, absolutely! Let us know if you need anything.

[2021-03-21 05:34] #2147 closed

[2021-03-22 10:30] onacit commented on #753
FYI, I wrote a small extension for Bean-Validation.
https://github.com/jinahya/assertj-bean-validation/tree/sketch

[code]

[2021-03-26 15:20] scordio commented on #2141
@onacit released an AssertJ extension for bean validation testing (https://github.com/assertj/assertj-core/issues/753#issuecomment-803954755): https://github.com/jinahya/assertj-bean-validation

[2021-04-03 12:34] dr29bart opened #2158 "containsSubsequence fails to check presence of multiple EMPTY Strings"
#### Summary
containsSubsequence should not fail to check presence of multiple EMPTY Strings in EMPTY String

#### Example

[code]

[code]

[2021-04-04 22:40] joel-costigliola commented on #2158
Thanks for reporting this @dr29bart!

[2021-04-06 07:20] filiphr opened #2159 "Map `containsOnly` assertions don't work correctly with case insensitive keys"
#### Summary

When using case insensitive maps the map assertions for containsOnly are not working correctly.
The reason for this is due to the fact that the actual map is copied into a `LinkedHashMap` and thus the checks are not using the map.

#### Example

[code]

The following assertions will pass
[code]

The following assertions will fail
[code]

Note: `LinkedCaseInsensitiveMap` is from Sprin

[2021-04-06 10:08] joel-costigliola commented on #2159
Yep, it would be great to have a PR on this, thanks @filiphr!

[2021-04-06 16:32] jgiovaresco opened #2161 "Using softAssertions with extracting leads to warning related to unchecked generics array creation for varargs parameter"
#### Summary

When I use `SoftAssertions` combined with `extracting`, my IDE complains with the following warning

When I use the same code with standard `Assertions`, the warning is not there.

#### Example

With warning

[code]

Without warning

[code]

[2021-04-08 03:43] kriegfrj opened #2164 "Create SPI category of packages"
### Summary

This is a follow-up from issues highlighted in assertj/assertj-guava#70 and #1731. Both cases dealt with custom assertion providers that wanted access to "internal" AssertJ API, which wasn't available to them in an OSGi context. Each case was/will be solved in its own individual way, but I feel that they are both symptoms of a bigger issue - a lack of holistic design for custom 3rd-pa

[2021-04-09 11:01] joel-costigliola opened #2165 "`containsExactly` does not work properly with maps not using equals to compare keys"
#### Summary

This test should pass but fails.

[code]

The underlying issue is when `containsExactly` verifies that the entries are in the same order, it ends up comparing `"Color"` against `"COLOR"` with `equals` instead of the actual map key comparison strategy (case insensitive string in the example).

It's not yet clear if there is a way to address this issue, if not we would have to mention

[2021-04-11 22:03] scordio commented on #2159
Interestingly enough, the example doesn't fail with `org.apache.commons.collections4.map.CaseInsensitiveMap`.

I tried the following without any changes from #2160 or #2167:

[code]

and only the second test fails.

[2021-04-13 11:01] #2161 closed

[2021-04-15 14:33] wtd2 commented on #2158
I wonder if this issue is still open, and I would like to work on this issue :).

[2021-04-15 15:16] Lanninger08 commented on #2092
Hello, I would like to work on this issue if this issue is still open ☺️.

[2021-04-15 15:31] wtd2 commented on #2158
The occurrence of this issue is due to the result of function `indexOf("", "")` is `-1`, which leads to the exception.

I would like to add an **if** statement for the function `indexOf` in the file `Strings.java` as follows

[code]

[2021-04-15 15:36] Annette0127 commented on #2048
Hi! I wonder whether this issue is still open. If it is, I would like to work on this issue. 😊

[2021-04-15 21:11] joel-costigliola commented on #2092
thanks @Lanninger08, go for it

[2021-04-15 21:13] joel-costigliola commented on #2158
@wtd2 thanks, go for it, I suggest you raise a PR for code guidance, it's a bit easier for us to review your changes.

[2021-04-15 21:18] joel-costigliola commented on #2048
thanks @Annette0127, go for it!
I think at the moment we can try @filiphr approach.

[2021-04-16 02:55] kriegfrj commented on #2048
Sorry I never circled back to comment on this issue...

I think the main difference between my original suggestion and @filiphr 's proposal is the backing structure - I was proposing a HashMap for O(1) lookup, and @filiphr is proposing a simple collection for O(n) lookup. Given that n is likely to be very small, I can't imagine a massive performance gain by using a hash, so I'm comfortable with @f

[2021-04-16 14:38] sustc11810424 commented on #2139
Hello there, is this still open?  If yes, can I to try to implement it as a feature?

[2021-04-17 01:34] wuqihan837 commented on #971
Hi, I would like to do some contribution if this issue is still open ☺️.

[2021-04-17 01:43] wuqihan837 commented on #971
Thank you!

[2021-04-17 02:31] joel-costigliola commented on #971
it is @wuqihan837 but the solution to that issue still needs some exploration,  @tetv approach does not scale since we would have to duplicate all Assert classes and maintain the ConditionalxxxAssert with its counterpart.
Did you have in mind a specific implementation you wanted to try?

[2021-04-17 04:06] RGalways17 commented on #1907
Hi @joel-costigliola

[2021-04-17 04:07] RGalways17 commented on #1907
Hi@joel-costigliola,
 Is this still open for contribution? I'd like to implement the `containsExactlyElementsOfTypes`.

[2021-04-17 09:27] Lanninger08 commented on #2092
Hi @Sam-Kruglov
Sorry for the bothering but I failed to reproduce the problems you mentioned above. When using the static method it still does not show the line number.
My test case is:
[code]
And the result is:
[code]

I use:
assertj 3.18.1
junit 5.7.0
java version 11.0.8

Could you please provide your complete test case or more information about dependencies? Thanks a lot for your help!

[2021-04-17 10:19] tetv commented on #971
Instead of duplicating all classes, you could ensure that all assert classes have the conditional behaviour (**when** & **otherwise** methods), and the "skip assert logic" in all assert methods. Note that by default the **conditionSupplier** would return true, therefore if you don't specify "when" it will maintain the current behaviour.

To simplify it, If all the assert classes extend a base asse

[2021-04-17 11:50] joel-costigliola commented on #1907
It is @RGalways17 thanks! Let us know if you need some guidance.

[2021-04-17 11:53] joel-costigliola commented on #971
That could work indeed, let's write a POC one or two assert classes, @wuqihan837 have you got questions on this approach?

[2021-04-17 12:05] joel-costigliola commented on #2139
@C-Otto is your initial mostly address by my previous comment?
I kinda feel the last case you could not simplify is quite rare and would not justify adding to `asSet` method but not decision set in stone yet.

@sustc11810424 this is still undecided but happy to give this to you if we reach a decision that would require a contribution

[2021-04-17 13:34] C-Otto commented on #2139
I agree, it is a rather exotic use case.

[2021-04-17 14:03] mct10 commented on #1592
Hi, we are a student group and we would like to look into this. We may not be able to implement it with extremely high quality, but we will try our best.

[2021-04-17 15:03] filiphr commented on #971
@joel-costigliola won't it make sense to use ByteBuddy here as well and use proxies? In the proxy method you can check the condition and if it satisfies it it will call the original method, otherwise it will return itself.

[2021-04-17 19:03] Sam-Kruglov commented on #2092
@Lanninger08 hey, sorry, but I don't have the full code anymore. I can see one difference in this log I had in my post:
[code]
You can set with the `@TestInstance(PER_CLASS)` annotation on `MyTest` class. I doubt it'll make a difference though.

I might have had the `spring-boot-starter-test` on the classpath, you could try that too. Otherwise, I'm not sure why it's different.

[2021-04-17 23:06] joel-costigliola commented on #2139
Thanks @C-Otto I'll close the issue then

[2021-04-17 23:06] #2139 closed

[2021-04-17 23:10] joel-costigliola commented on #1592
@mct10 thanks but I'm going to close this one since it is a rather exotic use case and @yarafed has not replied to my question.
@yarafed feel free to give us more details on your use and we will reconsider this demand.

[2021-04-17 23:10] #1592 closed

[2021-04-17 23:12] joel-costigliola commented on #971
@filiphr I was thinking of it, I'm not sure how well it would play with soft assertions but worth a try

[2021-04-18 06:29] #2158 closed

[2021-04-18 07:30] filiphr commented on #971
@joel-costigliola what I was thinking of was to create the proxy based on the current class and pass `this`. That way it should play nicely with soft assertions as well, since the delegation will then be to the actual and not to super (this idea just occurred to me).

[2021-04-18 10:18] joel-costigliola commented on #971
@filiphr sounds good, can you create a draft/poc to validate the approach?

[2021-04-18 14:24] Annette0127 commented on #2048
Hi! I have considered a possible solution these days. I used `Map` to store different `Representations`.
To start with, I am a beginner. I will be so pleased if you can give me some suggestions! 😊
First, I think the method `String unambiguousToStringOf(Object object)` from the ''org.assertj.core.presentation.Representation.java'' is no longer needed since I can implement various of `Representation

[2021-04-18 14:27] filiphr commented on #971
@joel-costigliola I went ahead and did https://github.com/assertj/assertj-core/pull/2171. How the API will look like, doesn't really matter, the concept behind it is important. If you like the concept we can talk about the API and I can add different tests.

[2021-04-19 02:06] joel-costigliola commented on #2048
@Annette0127 can you raise a PR in draft mode? it's easier to provide feedback that way.

[2021-04-19 04:13] RGalways17 commented on #1907
@joel-costigliola I've noticed the `containsExactlyElementsOf` and `containsExactly`. How about having a similar implementation: a `containsExactlyElementsOfTypes` calling `containsExactlyTypes(toArray(iterable))` and let `containsExactlyTypes` be like `assertThat(credentialsProviders).containsExactlyTypes(AWSStaticCredentialsProvider.class, EC2ContainerCredentialsProviderWrapper.class, ProfileCre

[2021-04-19 04:51] joel-costigliola commented on #1907
@RGalways17 I think we only want to add `containsExactlyElementsOfTypes(Class... expectedTypes)`  but not overload it with `containsExactlyElementsOfTypes(List<Class<?>> expectedTypes)`, is that what you had in mind @scordio?

I agree!
Ideally the error message should indicate that we are checking the elements types but we can start using the generic `ShouldContainExactly` to get a feel of the err

[2021-04-19 09:01] scordio commented on #1907
Yes, that is what I had in mind, but looking again at `ObjectEnumerableAssert` I'm wondering if it makes more sense to stay closer to the existing assertions like `hasAtLeastOneElementOfType`, `hasOnlyElementsOfType`, `hasOnlyElementsOfTypes` and `doesNotHaveAnyElementsOfTypes`.

What about `hasExactlyElementsOfTypes(Class<?>... types)`?

[2021-04-19 11:10] joel-costigliola commented on #1907
Yes, good point let's do `hasExactlyElementsOfTypes(Class<?>... types)`, I think the naming is better

[2021-04-19 11:23] RGalways17 commented on #1907
Great. I'll get started:)

[2021-04-21 06:00] joel-costigliola commented on #2092
@Sam-Kruglov I ran your test cases with on the latest main commit, both test don't show any stack trace.

The final assertion error thrown is `AssertJMultipleFailuresError` which aggregates all caught errors but don't show any the stack trace because it would clutter the overall error message (similar to opentest4j `MultipleFailuresError`).

Now the question is what would you like to see in the er

[2021-04-21 08:19] Sam-Kruglov commented on #2092
If I recall correctly, junit's assertAll does show stacktrace in some way, can't check right now. It's easier to see which isEqualTo the error is talking about if I have the line number of that asserthion. Specifying descriptions is a bother IMO.

In any case, thanks for your time

[2021-04-21 09:47] joel-costigliola commented on #2092
Ok, so if I understand correctly it would showing the first stack trace element to easily navigate to the failing assertion.
This should be possible as `AssertJMultipleFailuresError` has all the `AssertionError` at its disposal.

[2021-04-21 10:00] Sam-Kruglov commented on #2092
Yeah but in case I have this assertion in a method I call multiple times it wouldn't be quite enough but I guess it's a corner case. Could also try using the first element's package name to find other related lines

[2021-04-21 10:10] joel-costigliola commented on #2092
I'm not sure to see how  suing the first element's package name to find other related lines would solve that reliably, can you provide a concrete example of this case?

If there is no good solution for it, we might simply stick with displaying the first line which will cover a vast majority of the cases.

[2021-04-21 15:51] Sam-Kruglov commented on #2092
We could go for the class name, so display lines as long as they refer to the same class.

[2021-04-22 04:30] joel-costigliola commented on #2092
You can't reliably know the test class name from the stack trace, most of the time it would be `XxxTest` but if we go that way it will not work if I named my test class `XxxChecks`.

What we could do is to show the 3 first stack elements, hopefully that should be enough to cover 99% of the cases.

[2021-04-22 06:19] Sam-Kruglov commented on #2092
Yes, sounds good

[2021-04-22 13:06] derTobsch opened #2184 "Add `doesNotHaveSameHashCodeAs`"
#### Summary
To achieve the most of the fluent api with `hasSameHashCodeAs` the counterpart `doesNotHaveSameHashCodeAs` would be nice.

#### Example

[code]

instead not we have to write

[code]

The combination of `isNotEqualTo` and `.hashCode()` with `hasSameHashCodeAs` is not possible.

[2021-04-22 21:17] joel-costigliola commented on #2184
fair enough is you rename it to `doesNotHaveSameHashCodeAs`  ;-)

[2021-04-23 06:07] mct10 commented on #2184
Hi, I'd like to implement this

[2021-04-23 08:30] derTobsch commented on #2184
That is ok for me, otherwise I would implement it. But if you want, go for it :)

[2021-04-23 09:49] joel-costigliola commented on #2184
@mct10 up to you, let us know ;-)

[2021-04-23 09:51] Bananeweizen opened #2185 "assertThat(boolean).isNotNull() should throw an exception"
#### Summary
`assertThat(methodWithPrimitiveBooleanReturn()).isNotNull()` doesn't make any sense, but passes in any case, independent of the method return value (true/false). Developers will not write such code intentionally, but it can be created by incomplete refactorings.

I suggest to throw an exception from `AbstractBooleanAssert.isNotNull()` (or similar), if the type of the argument is _prim

[2021-04-23 10:24] nach-o-man commented on #22
If it is still desired I could try implementing it.

[2021-04-23 10:28] joel-costigliola commented on #2185
We can't know whether the value was a originally a primitive as AssertJ stores it as its wrapper counterpart, e.g. `assertThat(true)` is the same as `assertThat(Boolean.TRUE)` thus there is not much we can do here (without a major refactoring anyway).

[2021-04-23 10:30] joel-costigliola commented on #22
@nach-o-man thanks for your interest, I'll discuss with the team to see if it is still relevant (quite an old issue :sweat_smile: )

[2021-04-23 10:32] nach-o-man commented on #22
Ideed it is. Will browse to check if there is anythin I could grab. :)

[2021-04-23 10:54] mct10 commented on #2184
@joel-costigliola  @derTobsch  Thanks. I will get started now :)

[2021-04-23 17:23] nach-o-man commented on #2011
@nick-u-riis this can already be done with

`Assertions.assertThat("string").as(() -> "Inconceivable!").contains("sub");`

Output example:

Expecting actual:
  "string"
to contain:
  "sub"

[2021-04-24 04:57] joel-costigliola commented on #2011
Thanks @nach-o-man, indeed `as` can be used to give some context explanation to the following assertion.

@nick-u-riis does that address your concen?

[2021-04-24 08:00] mct10 commented on #2184
Sorry to bother you again, but I want to clarify my understanding of this issue. Please correct me if I misunderstand you.
I think your problem is, you cannot use <code>assertThat(spiderman).hasSameHashCodeAs(otherSpiderman).isNotEqualTo(batman.hashCode())</code>, so you want a <code>doesNotHaveSameHashCodeAs</code> implemented. However, there is already <code>doesNotHaveSameHashCodeAs</code> in A

[2021-04-24 10:40] sustc11810424 commented on #2149
Hello there. What about adding a bit logic to **introspection/PropertyOrFieldSupport/getSimpleValue** such that if **comparingOnlyFields** is set to true then we skip the property part and look straight into fields?

`public Object getSimpleValue(String name, Object input) {
    if (comparingOnlyFields){ //
        // try as a field, then map key
        ...
    }else{
        // try as a property

[2021-04-24 10:43] sustc11810424 commented on #2149
Hello there. What about adding a bit logic to **introspection/PropertyOrFieldSupport/getSimpleValue** such that if **comparingOnlyFields** is set to true then we skip the property part and look straight into fields?

[code]

I can implement this with tests if you like.
Frankly speaking, we are a group of university students working on an assignment for the course Software Engineering, which requir

[2021-04-25 05:02] joel-costigliola commented on #2149
@sustc11810424  thanks! we still need to decide the best way to go on this one.
look for issues with label "good first issue", these are the ones that are not too complex to tackle.

[2021-04-25 05:38] WhiteLittleDuck commented on #2011
Hi! I think it would be better if the solution given by @nach-o-man can be wrapped in a method in AbstractAssert. So user can use the method such as `Assertion.assertThat("string").withAdditionalFailMessage("Inconceivable!").contains("sub")` which seems more interpretable :)

[2021-04-25 06:04] joel-costigliola commented on #22
We decided to close it since it was a bit of a corner case considering that there are ways to obtain an `InputStream` from a `Reader` and we have `InputStream` assertions.

[2021-04-25 06:04] #22 closed

[2021-04-25 10:15] nach-o-man commented on #2011
@WhiteLittleDuck as far as [javadoc says](https://github.com/assertj/assertj-core/blob/cc65ca7a04586de803a1df7e386a98a438b607b1/src/main/java/org/assertj/core/api/AbstractAssert.java#L646) about withFailMessage method

so there is no _addition_ to anything there is only replacement. So I believe using **as** is pretty much solution to the problem.

[2021-04-25 10:47] scordio commented on #2011
The existing `as()` and `withFailMessage()` should give already some degree of flexibility. Probably appending text to existing messages would not be enough for general usage. We might need something smarter than that, but I'd wait for a concrete use case before thinking about an additional API to manipulate error messages.

[2021-04-26 01:57] joel-costigliola commented on #2185
I'm closing this issue for now, @Bananeweizen let us know if you're ok with that.

[2021-04-26 01:57] #2185 closed

[2021-04-26 02:03] joel-costigliola commented on #2184
@mct10 good catch, I guess I don't know the AssertJ API that well :laughing:
Here's an example https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/AbstractAssert.html#doesNotHaveSameHashCodeAs(java.lang.Object).

@derTobsch I'm closing this issue since I believe this should address your issue, but I'll reopen it if you tell me it's not.

[2021-04-26 02:03] #2184 closed

[2021-04-26 05:18] #2092 closed

[2021-04-26 08:44] derTobsch commented on #2184
Hehe, sry. I am using 3.18.1 with the latest Spring Boot version 2.4.5 and therefore I could not see it in the IDE and I haven't  checked newer versions. So therefore I am glad that it is there and will upgrade to the latest version. Thanks all! :)

[2021-04-26 12:52] nach-o-man commented on #2159
@filiphr @joel-costigliola @scordio this issue also applies to sorted Maps

[code]

[2021-04-26 13:52] filiphr commented on #2159
That's a good one. I think that with the work @scordio has been doing this case is covered. This is another good test case.

btw @nach-o-man AssertJ already provides a factory method for creating `Map.Entry`. It is in `Assertions#entry`, a small hint in case you didn't know. If you statically import it the test then looks like:

[code]

[2021-04-26 14:16] scordio commented on #2159
Thanks @nach-o-man, test case added in a061788886d60b26ea4f63df3c962e928a1a9f2c

[2021-04-27 05:18] nach-o-man commented on #2108
This seems pretty interesting. @joel-costigliola I give it a try if it seems like a good addition to existing features.

[2021-04-27 06:27] joel-costigliola opened #2189 "Refactoring: introduce IntrospectionStrategy in the recursive comparison"
#### Summary

The recursive comparison would benefit from a clear introspection strategy when gathering the field to compare and getting their values.

The recursive comparison is a bit inconsistent, it introspects fields to get the list of fields to compare but uses a different strategy to read their values by looking first to a getter then reading the field directly or looking for a map value (k

[2021-04-27 06:31] joel-costigliola commented on #2108
My preferred approach would be to add a `comparingOnlyGetters` (or a similar name) but before tackling this issue, I think we need to refactor the recursive comparison to use an introspection strategy, for this issue it would be use a implementation like `GetterIntrospectionStrategy`.

This is actually related to https://github.com/assertj/assertj-core/issues/2149 where we would use a `FieldsOnlyI

[2021-04-27 13:37] marcphilipp opened #2190 "Broken binary compatibility in 3.19.0"
#### Summary

Using JUnit Platform's testkit (version 1.7.1) that was compiled against AssertJ 3.16.1 with AssertJ 3.19.0 results in this error:

[code]

Hence it sounds like 3.19.0 broke binary compatibility but not source compatibility. Would you consider adding the method back to restore binary compatibility?

[2021-04-27 16:54] nach-o-man commented on #2108
@joel-costigliola I am not that familiar with internals but I can give it a shot. Assign #2189 to me, please.

[2021-04-27 18:05] scordio commented on #2190
Binary compatibility has probably been broken with 820d2927c11e0ddcd371c9de58b40f4245d66fdb.

Adding the method back is not an option as it would have the same signature of https://github.com/assertj/assertj-core/blob/1f0e1f217174deaa6e615d572c158d2e4bca45a2/src/main/java/org/assertj/core/api/AbstractSoftAssertions.java#L58

Either we revert the commit or we keep the breaking change. Anyway, [I ma

[2021-04-27 18:14] scordio commented on #2189
@nach-o-man could you please comment here so I can assign the issue to you?

[2021-04-27 18:38] nach-o-man commented on #2189
Comment

[2021-04-27 22:22] joel-costigliola commented on #2190
@marcphilipp testkit 1.7.1 is impacted but I guess if the next testkit version is compiled with 3.19.0 then that won't be an issue anymore for 1.7.2+ versions, correct?

I just trying to understand if there is a way forward without reverting this breaking change.

[2021-04-28 02:58] Annette0127 commented on #1516
@joel-costigliola Hello, I saw this issue is still opening and I wonder if there is anything that we can help with?
You have mentioned that the question @juddgaddie mentioned is a different issue/improvement so I wonder if it still needs to be improved? If there is something I could do, I would love to help to do it!

[2021-04-28 10:03] sbrannen commented on #2190
JUnit Platform 1.8 M2 is already compiling against AssertJ 3.19.0 without any issues. See https://github.com/junit-team/junit5/issues/2603#issuecomment-827586945.

Regarding JUnit Platform 1.7.2+, to the best of my knowledge we haven't discussed upgrading the AssertJ dependency, but if the binary compatibility issue in AssertJ 3.19.0 isn't addressed (for example, in AssertJ 3.19.x) we would then l

[2021-04-30 02:33] joel-costigliola opened #2191 "Recursive comparison does not work when comparing object to top level map"
This was asked here https://stackoverflow.com/questions/67319902/assertj-usingrecursivecomparison-fails-when-top-level-value-is-a-map

Reproduced with:

[code]

[2021-04-30 06:05] #1907 closed

[2021-04-30 06:32] joel-costigliola commented on #2190
Since there is a way forward for JUnit Platform 1.7.2+, we won't revert the changes.
We are happy to help on JUnit Platform 1.7.x and 1.8.x to move to AssertJ 3.19.x.

We are going to try capture these binary incompatibilities in the future release, we are trying `japicmp` for this purpose.

[2021-04-30 10:39] chashnikov opened #2192 "'toString' method of subclasses of AtomicReference isn't used for presentation"
#### Summary
Sometimes we extend AtomicReference in our classes to store some internal data. (Of course, usually it's better to use delegation instead of inheritance, but it may increase memory footprint and it may be undesirable in some cases.) `StandardRepresentation.toStringOf` returns special representation for instances of such classes, which doesn't include result of 'toString' call.

#### E

[2021-04-30 10:41] chashnikov commented on #2192
I suggest to use conditions like `object.getClass() == AtomicReference.class` instead of `object instanceof AtomicReference` in `StandardRepresentation.toStringOf` to fix such problems.

[2021-04-30 10:58] joel-costigliola commented on #2192
Fair enough!

[2021-04-30 11:10] Lanninger08 commented on #2192
Hello, I would like to know whether I could work on this issue！:)

[2021-04-30 11:13] Lanninger08 commented on #2192
In the current implementation, the `toString` method of all subclasses will be overwritten by the superclass. Do we need to refactor the class to make it stricter?

[2021-04-30 11:41] Annette0127 commented on #2192
@joel-costigliola Hi, according to the description by @chashnikov, I believe @Lanninger08  means that all `if(object instanceof SomeParentClassOfTheObject)` will cause the same kind of issue while the `toString` method of the parent-class instead of the sub-class will be invoked by the sentence after.

For a concrete example:
[code]

If in *Representation* we check for
[code]

then the *toString*

[2021-04-30 11:56] scordio commented on #2192
It would cover your example but we would take away the current representation from any other subtype and there is no guarantte that a subtype will define its own `toString`.

Are we sure we want to apply this change globally? My current feeling is that a custom representation should be defined to address this issue.

[2021-04-30 18:03] scordio commented on #2192
On second thought, it's probably enough if we add an `!hasOverriddenToString(object)` check, like:

https://github.com/assertj/assertj-core/blob/5dc550b80937ab3ff41645de7036e97fa0097f38/src/main/java/org/assertj/core/presentation/StandardRepresentation.java#L242

This would still provide a default representation for all the subtypes of `AtomicReference` that don't implement `toString`.

Another im

[2021-04-30 18:35] scordio commented on #2192
(Reposting - deleted by mistake)

On second thought, it's probably enough if we add a `!hasOverriddenToString(object)` check, like:

https://github.com/assertj/assertj-core/blob/5dc550b80937ab3ff41645de7036e97fa0097f38/src/main/java/org/assertj/core/presentation/StandardRepresentation.java#L242

This would still provide a default representation for all the subtypes of `AtomicReference` that don't

[2021-05-01 01:49] joel-costigliola commented on #2192
I agree with @scordio above comment.

[2021-05-04 10:26] scordio opened #2196 "Add `isReachable` / `isUnreachable` for URL assertions"
#### Summary
Inspired by junit-pioneer/junit-pioneer#468, `isReachable` / `isUnreachable` assertions could be added to `AbstractUrlAssert`.

One of the most valuable use cases could be when the assertion is used as an assumption, allowing to skip a test if a remote dependency is not available.

The assertion name could be generic enough (i.e., not strictly bound to HTTP) and internally we could ha

[2021-05-04 14:49] sbrannen commented on #2190
OK. Understood.

Thanks for the offer! Though it's really just a change in the version in the build. So I think we'll manage on our own. 😉

Sounds good!

[2021-05-05 04:49] joel-costigliola commented on #2190
Thanks @sbrannen, I'll close this issue then.

[2021-05-05 04:49] #2190 closed

[2021-05-05 06:01] #2192 closed

[2021-05-05 06:15] joel-costigliola commented on #2191
Moved to 3.21 as it will require quite a bit of work

[2021-05-05 09:31] kriegfrj opened #2197 "Map assertions to give better information about matching keys with different values"
#### Summary

Had a `containsEntry()` map assertion that failed because the entry was missing.

It was unclear from the diagnostic message whether the failure was because there was no entry present, or because there was an entry present for that key with a different value.

Proposal:

* If an entry is present with the same key, the failure message should say that it failed because the values were

[2021-05-05 10:26] joel-costigliola commented on #2197
I get your point @kriegfrj, I would go with suggestion 1 because it shows entries and the assertion is about entries.

[2021-05-05 16:30] sustc11810424 commented on #2197
Thanks for all this!

So the direct solution would be to make `assertj/core/internal/Maps.failIfAnyEntryNotFoundInActualMap` differentiate between the two causes, namely `entryNotFound` and `valueDoesNotMatch`.

like:

[code]

The methods that will be affected are
[code]
Can I take this? If yes, is there any suggestion on formatting the failure message (since we may need to print out both causes f

[2021-05-05 18:36] scordio commented on #2197
Please wait for #2167 as there will be some changes in `org.assertj.core.internal.Maps`

[2021-05-05 20:54] Philzen opened #2198 "Feature Request: `assertThat(file).doesNotHaveContent("string")`"
Currently it is possible to conveniently check a file's content with `hasContent`, but not the opposite.

Also I'm regularly bumping into the absence of the possibility to directly analyse files as it is possible for strings, so to have something analogous to `assertThat("String").contains` & `doesNotContain`. Of course one can do `assertThat(FileUtils.readFileToString(file))` but having syntactic

[2021-05-05 22:16] joel-costigliola commented on #2197
@sustc11810424 thanks, assigned to you but let's get #2167 first.

[2021-05-05 22:24] joel-costigliola commented on #2198
Fair enough, so adding `hasContentContaining` and `hasContentNotContaining` would be enough for you?

Another possibility would be to add a `content()` method that would be get the content and return string assertions on it, that would avoid an explosion of `hasContentXxx` methods and provide all string assertions:

Ex:
[code]

I prefer the `content()` option as I'm sure once you have `hasContentC

[2021-05-05 23:34] kriegfrj commented on #2197
Thanks for agreeing to take this on!

You should use `!containsKey()` rather than `!containsEntry()`, otherwise it will be equivalent to the current implementation (I think).

Need to add `|| !notMatch.isEmpty()` to the if condition.

Yes, the error message will need to be able to handle one, both, or none of the failure modes.

org.assertj.core.error.AssertJMultipleFailuresError:
Multiple Failure

[2021-05-06 00:53] rpeng opened #2199 "Remove space in default error message for ShouldBeEqual to help IntelliJ diff detection"
Referencing this StackOverflow ticket: https://stackoverflow.com/questions/10934743/formatting-output-so-that-intellij-idea-shows-diffs-for-two-texts

It seems that IntelliJ expects assertion errors to be in this format in order to have nicely rendered diffs:

`expected: xxx but was: yyy`

But AssertJ would format this with an extra space after the `was`:

`expected: xxx but was : yyy`

Which woul

[2021-05-06 01:12] joel-costigliola commented on #2199
We did that to get values aligned but I guess we can remove that space for intellij idea
[code]
@rpeng could we do that instead?:
[code]
@scordio did you have that issue? can you try that second proposal to see if it renders properly?

[2021-05-06 01:52] rpeng commented on #2199
Just tried it out with the second proposal (leading space) and it works!

[2021-05-06 01:55] joel-costigliola commented on #2199
thanks @rpeng! let's do that then.
Do you want to contribute it?

[2021-05-06 02:01] rpeng commented on #2199
Will do! I'll get a pull request ready shortly

[2021-05-06 02:13] rpeng commented on #2199
Just made a pull https://github.com/assertj/assertj-core/pull/2200

Sorry about the noise above, I accidentally made a pull against my own fork...

[2021-05-06 03:15] #2199 closed

[2021-05-06 19:04] scordio commented on #2199
Hi @rpeng, do you have a concrete example that was not working as expected? I didn't see any issue with IntelliJ IDEA 2021.1.

For example, with the following:

[code]

I get:

![Screenshot 2021-05-06 at 21 03 53](https://user-images.githubusercontent.com/26772046/117351919-97d82700-aeae-11eb-9a0c-b4e59e8cf8a6.png)

which has already the link for the diff.

[2021-05-06 19:33] rpeng commented on #2199
Hmm @scordio, I'm on IntelliJ IDEA Ultimate 2020.2, and this is what I get:

[code]

![image](https://user-images.githubusercontent.com/575174/117355235-2b860500-ae67-11eb-9aee-de5eb4c8d3e9.png)

I wonder if IntelliJ's error parsing behavior changed between 2020.x and 2021.x versions

[2021-05-06 20:23] filiphr commented on #2199
To my knowledge when using the AssertionFailure from opentest4j IntelliJ will get the values from the exception itself, not looking into the string output.

[2021-05-06 20:44] rpeng commented on #2199
Ah I did not know that, thanks for the insight. I wonder if this may be build-system dependent then. For example, when I run the test in IntelliJ, if it has to rely on capturing the output from an external tool (e.g. bazel?) instead of running it directly, it might have to resort to text matching to detect the expected vs. actual.

[2021-05-07 06:51] scordio commented on #2199
@rpeng not sure if it's possible, but it would be great to have a minimal example to play with it and understand the issue a bit better.

[2021-05-07 16:09] rpeng commented on #2199
@scordio Just made a simple example https://github.com/rpeng/assertj-minimal-bazel-run

Let me know if you have any issues reproducing it!

[2021-05-07 20:32] stbischof opened #2202 "ShouldNotBe: missing linebreak OR to much whitespaces"
ShouldNotBe has a missing linebreak OR to much whitespaces.

https://github.com/assertj/assertj-core/blob/e14081576c22240c45dd2f8f2d3afa7d42303faf/src/main/java/org/assertj/core/error/ShouldNotBe.java#L38

`"%nExpecting actual:%n  %s%nnot to be [ ]%s"`

[2021-05-07 23:51] joel-costigliola commented on #2202
I looks like there is an extra space here
[code]
it should be
[code]

[2021-05-08 02:51] Annette0127 commented on #2202
Hi, I would like to help with this issue! 😊
So from the description, all I need to do is to delete a white space?

[2021-05-08 02:55] wtd2 commented on #2198
Hi @joel-costigliola and @Philzen, I agree that adding the `content()` method is a good idea that we can implement more assertions with this interface. So I would like to work on it and submit a PR shortly if you assign this to me.

[2021-05-08 03:50] joel-costigliola commented on #2198
@wtd2 go for it, there is some complexity on the soft assertions side of things but don't worry we will take care of it, focus on adding the `content()` methods and the corresponding tests.

[2021-05-08 03:59] joel-costigliola commented on #2202
Let's change `ShouldNotHave` too to follow the same pattern and be:
[code]

[2021-05-08 23:00] #2202 closed

[2021-05-09 06:54] joel-costigliola commented on #2143
This can't be supported as JsonNode is an iterable and the recursive comparison compares iterables by looking at their content since the 2 json nodes have different size (3 vs 1) the comparison fails.

JsonNode and all subtype nodes don't work well with the recursive comparison as everything is an iterable, the recursive comparison won't never compare the node values (for example `IntNode` has a `

[2021-05-09 06:54] #2143 closed

[2021-05-10 06:34] beckerjohannes commented on #2060
@joel-costigliola Sorry, I lost track of that issue. Yes, I am still interested.

[2021-05-11 23:43] Philzen opened #2205 "Feature suggestion: Harmonize API for `File` vs. `Path`"
The assertions presented for `File`s are different from the ones for `Path`s, although it may be nice for some users to be able to use them interchangeably.

My suggestion / feature idea would be to add any assertion currently offered for `Path` to `File` as well – which could be easily achieved by wrapping a given `File assertedFile` in `Paths.get(assertedFile.getAbsolutePath())` and then applyin

[2021-05-12 00:07] Philzen commented on #2198
:thinking: Would this also work for `Path`s – and how?

[2021-05-13 06:06] nach-o-man commented on #2205
I think the nood way to do it -introduce some seagway methods `asPath() `and `asFile()` change assertion types.
Any thoughts on this?

[2021-05-13 18:03] RGalways17 commented on #1355
Hi, I've created a PR fixing the `hasCauseInstanceOf` and `hasCauseExactlyInstanceOf`. Please let me know if there is any problem:-).

[2021-05-13 21:28] slawekjaranowski opened #2210 "`hasAllNullFieldsOrProperties` and primitive types"
#### Summary

`hasAllNullFieldsOrProperties` check that the actual object has only null fields or properties.

All fields and properties are inspected but fields with primitive types always will have some value.

#### Example

[code]

test will fail because of field `pages` is not null.

#### Proposition

Exclude by default all field with primitive types from assertion.

[2021-05-13 21:58] slawekjaranowski opened #2211 "`hasNoNullFieldsOrProperties` - recurrence"
#### Summary

When we have more complicated objects structure it will be useful to have possibility to check that all fields for actual object and all fields in included object are also not null.

#### Example

[code]

assertion `assertThat(book).hasNoNullFieldsOrProperties()` will pass and it is true
second assertion `assertThat(book.author).hasNoNullFieldsOrProperties()` will fail and it is also

[2021-05-13 22:57] joel-costigliola commented on #2198
Nope, we would have to add `content()` to path to, would be better to create a different issue though

[2021-05-14 01:31] wuqihan837 commented on #2210
I want to have a try on the issue, thanks.

[2021-05-14 01:32] wuqihan837 commented on #2211
I want to have a try on this issue,thanks!

[2021-05-14 06:16] nach-o-man commented on #2210
@slawekjaranowski primitives cannot be `null` - they have default values if not initialized. It is clearly stated in https://docs.oracle.com/javase/tutorial/java/nutsandbolts/datatypes.html

[2021-05-14 06:55] wuqihan837 commented on #2210
@nach-o-man I guess he meant primitive types should be ignored and not be considered when using hasAllNullFieldsOrProperties. Otherwise, if a class has primitive fields, the test will always fail. I'm not sure.

[2021-05-14 07:01] nach-o-man commented on #2210
Fair point, I understood this wrong when I read it for the first time. But I do think it is not right add such functionality.
This exactly falling test case can show design/logic flaws and can be avoided with the use of `hasNoNullFieldsOrPropertiesExcept`

[2021-05-14 07:13] slawekjaranowski commented on #2210
I used `hasNoNullFieldsOrPropertiesExcept` at current time with list of field which should be excluded.

Primitive types always have value, so. we always must be exclude it.

As my proposition in issue its can be excluded / skipped by default.

[2021-05-14 07:30] wuqihan837 commented on #2210
@slawekjaranowski  I will have a try and make a pull request to skip primitive types by default.  I may add a new method.

[2021-05-14 07:33] wtd2 commented on #2198
Hi @joel-costigliola and @Philzen, I am sorry for the late reply since I was really busy this week. Currently, I have completed the basic functions for this feature, but the tests are still. I wonder whether should I submit a draft PR or wait for the tests completed.

[2021-05-14 07:41] nach-o-man commented on #2211
Maybe such method can be added to this can be a part of `RecursiveComparisonAssert`

[2021-05-14 07:47] nach-o-man commented on #2198
@wtd2 nothing criminal about doing a draft PR 😉

[2021-05-14 09:26] slawekjaranowski commented on #2211
It will be also good, I will be able to write

[code]

but from other side method `usingRecursiveComparison` will provide not only comparator but also assertions so can be misunderstood.

Maybe more readable will be renamed `usingRecursiveComparison` -> `usingRecursive`
so we will have:

[code]

or in fluent way

[code]

[2021-05-14 10:33] joel-costigliola commented on #2210
@wuqihan837 before submitting a PR, give the assertj team a bit of time to think on how to address the issue.

My first comment would be that the current assertion does its job as primitive types are never null, changing it would be a breaking change so we might choose a different option, maybe overloading `hasAllNullFieldsOrProperties(boolean excludePrimitiveTypes)` but no decision has been reach

[2021-05-14 10:40] joel-costigliola commented on #2211
I agree with @nach-o-man, this could be added to the recursive comparison as mentioned by  @slawekjaranowski
[code]
I don't think adding `usingRecursive` would be good in the long term, I believe people will be confused when having to decide whether to call or `usingRecursive` or `usingRecursiveComparison`.

[2021-05-14 10:42] joel-costigliola commented on #2198
@wtd2 no problem at all, we all do this on our spare time and I happens quite frequently that I don't have enough time to.

[2021-05-14 16:07] slawekjaranowski commented on #2211
Next case for recurring checking.
When we have some of field as collection type we should check all items of collection.

Example for current implementation:

[code]

I would like to have one assertion
[code]
which do all job.

[2021-05-14 19:20] scordio commented on #2210
The definition of field or property does not exclude primitive types, so I don't see an issue with the current behavior of `hasAllNullFieldsOrProperties`.

To simplify the primitive types use case, I vote for `hasAllNullFieldsOrProperties(boolean excludePrimitiveTypes)` or also `hasAllNullFieldsOrPropertiesExceptPrimitiveTypes()`.

[2021-05-14 20:58] Philzen commented on #2205
Well one can currently already do that calling `toFile()` on any `Path` – so there'd virtually no gains from adding that to assertJ, as assertions would be 9 characters longer either way – only difference is that the conversion would take place outside the initial parentheses, which is *just slightly* more readable.

But one of the biggest strengths of assertJ is it's brevity and clarity... what i

[2021-05-14 21:10] Philzen commented on #2198
@joel-costigliola Happy to do that, but i wanted to mention a suggestion that i've filed which would basically include that (#2205). Would love to hear what you think about it.

@wtd2 Pls don't beat yourself up over this – i'm very grateful for somebody taking this up! The world of assertJ has not missed it until now, and i'm sure it can wait a little longer.

[2021-05-14 21:31] Philzen commented on #1679
This comment as reference for anybody else coming to this issue looking for a simple fix:

~a year later and i finally got what you were saying. Everybody in this thread: a **big thank you** for having taken your valuable time to look into this. I guess back then i was too afraid to waste it any more and just left things the way they were, but having returned to the project this year i took the ti

[2021-05-15 23:46] joel-costigliola opened #2214 "Fix pitest PR setup"
#### Summary

PR builds are failing with the following error:
[code]
The failing command was:
[code]

This might be due to the fact that the pitest profile is not used unlike the previous command `mvn -e -B -Ppitest -Dfeatures="+GIT(from[HEAD~1]), +gitci" test`.

A full build is available here: https://github.com/assertj/assertj-core/pull/2213/checks?check_run_id=2590339664

[2021-05-17 09:34] mahozad opened #2216 "Cannot get ::usingComparatorForFields and ::usingRecursiveComparison to work together in Kotlin"
Writing unit tests in Kotlin, the following code does not take into account the comparator specified for Float (Kotiln class) fields:

[code]

[code]

The above assertion should pass but instead fails with the following error:

---

My current workaround is either to use the deprecated ::isEqualToComparingFieldByField or to implement the comparator myself:

### Workaround 1:

[code]

### Workaroun

[2021-05-17 10:19] joel-costigliola commented on #2210
I vote for `hasAllNullFieldsOrPropertiesExceptPrimitiveTypes()`, it is a long name but it is explicit whereas `hasAllNullFieldsOrProperties(true)` is not really self explanatory.

[2021-05-17 10:30] joel-costigliola commented on #2205
I agree harmonizing would be nice.

Any thoughts on this?

as @Philzen is saying there is already an easy way to do the conversion from java api itself so not much gain providing it.

That is correct implementation wise but you would still have to keep in `AbstractFileAssert` and `AbstractPathAssert` in sync.

This is why I think this issue is a nice to have as there is an easy workaround.

[2021-05-17 10:42] joel-costigliola commented on #2216
`usingComparatorForFields` is not used in the recursive comparison as stated in https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/AbstractObjectAssert.html#usingComparatorForFields(java.util.Comparator,java.lang.String...).

The correct way to go is to use `withEqualsForFields` or `withComparatorForFields` as shown in https://assertj.github.io/doc/#assertj-core-recurs

[2021-05-18 13:05] slawekjaranowski opened #2217 "exclusion non existing fields, properties"
#### Summary

We can exclude fields, properties from some of checking like in `ObjectAssert#hasNoNullFieldsOrPropertiesExcept`, `RecursiveComparisonAssert#ignoringFields` (maybe in other place also)

We can misspell in field name or filed can be removed from object in future development, so assertions in this situation should fail with message that excluded filed not exist.

#### Example

[code]
A

[2021-05-18 13:08] wateryloo commented on #2196
I worked out a draft on this. Are you willing to take a look here and see if this is what you mean?
@scordio

[2021-05-18 13:26] sustc11810424 commented on #2217
May I take this one? Perhaps (maybe not necessary) we can add an option
[code]
which does what @slawekjaranowski suggests but with *strict* default to false in case we don't want a big change.

[2021-05-18 13:36] slawekjaranowski commented on #2217
Maybe change like this break some compatibility but show places where we have outdated (or wrong) tests and it will easy to fix.

[2021-05-18 14:19] scordio commented on #2196
Sure, thanks @wateryloo. I'll have a look at your PR.

[2021-05-18 17:02] wateryloo commented on #2196
Sorry, something went wrong with my commits, and I had to rebase them and open another PR #2219 . Anyway, thanks for your patience!

[2021-05-20 07:43] slawekjaranowski commented on #2211
What is design decision?
This feature will be very useful for me.
I can try to implement it.

[2021-05-20 21:52] joel-costigliola commented on #2211
I'm thinking a better way would to apply a predicate to all fields, this is a bit more generic and would apply to your case by giving a predicate like `field -> field != null`.

This is not easy to implement, recursive comparison requires to track already visited objects to avoid infinite cycle where A <-> B.

In your case, how would you treat collection fields? if it is not null, do you want to c

[2021-05-22 07:40] slawekjaranowski commented on #2211
Possibility of applying a predicate to all fields is good idea.

I would to  test collections.

My proposition:

[code]

I look at code and package `org.assertj.core.api.recursive.comparison` has many useful hints and class, maybe some of them can be reused.  But I think recurring walk on fields will be something different that comparing.
So code can be placed in new package `org.assertj.core.api.

[2021-05-22 15:36] jhannes opened #2223 "Convenience method .asType as shorthand for .asInstanceOf(InstanceOfAssertFactories.type(...))"
Feature request :-)

#### Summary

The `.asInstanceOf` method is a great recent addition. It would be nice to make the syntax more concise for the most common use case of casting to a class. This is particularly relevant when dealing with exceptions

#### Example

[code]

[2021-05-22 17:16] scordio commented on #2223
Something similar has been discussed in #1547 and we decided not to introduce it because it could give a false impression that e.g. `asType(String.class)` could return string assertions, but this would not be the case.

After almost two years, I tend to have the same opinion. @assertj/core what do you think about it?

[2021-05-22 19:34] jhannes commented on #2223
@scordio I was actually initially surprised that `asInstanceOf(InstanceOfAssertFactories.type(String.class))` didn't return a `AbstractStringAssert`, until I remembered that I was working in Java 😂

My example from `assertThatThrownBy` is a pretty common use case for me, however, as I have exceptions returning enum values to be returned by my REST API. A less clunky alternative to `asInstanceOf(In

[2021-05-23 04:07] joel-costigliola commented on #2223
I still agree with that decision, we also have [`asString()`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/AbstractAssert.html#asString()) that return `String` assertions.

@jhannes here's an alternative:
[code]
It's not as refactoring friendly as a method reference but it does the job and the syntax is concise.

I think your suggestion `extractingFromType(SQLExc

[2021-05-23 09:06] jhannes commented on #2223
I really prefer not to use `extracting(String)` as I have enough costs to refactoring already.

`asString` is a nice addition. But the analogy with `asType` is not accurate, as `asInstanceOf` with String will (obviously) not return `AbstractStringAssert` either

[2021-05-24 05:33] #2159 closed

[2021-05-24 05:36] joel-costigliola commented on #2197
@sustc11810424 now that #2167 is done, can you rebase your work on main and address the comments?

[2021-05-24 13:29] mizosoft opened #2226 "MapAssert::containsAllEntriesOf fails if the given map is empty"
#### Summary

When checking if a map contains a set of entries, the assertion fails with `actual is not empty` if this set is empty but the map isn't. I think this shouldn't be the case and the assertion should pass since `containsAllEntriesOf` (or `contains(Entry...)`) is like a subset check, and an empty set is a subset of all sets.

#### Example

This assertion fails.

[code]

[2021-05-25 10:54] joel-costigliola commented on #2226
Already fixed in #2124

[2021-05-25 10:54] #2226 closed

[2021-05-25 21:10] scordio commented on #2165
This issue can be fixed in a similar way to #2167.

However, the tests might be a bit more complex due to the additional failure in case `actual` contains the given entries but in a different order.