[2021-05-25 21:15] #1841 closed

[2021-05-25 21:48] joel-costigliola commented on #2217
I agree with failing the assertion if given an unknown field, no need for s strict boolean argumment for that.

[2021-05-29 08:55] scordio opened #2233 "Add `hasExtension` to `Path` assertions"
#### Example

[code]

Related to #2205.

[2021-05-29 08:58] scordio opened #2234 "Add `isReadable` as an alias of `canRead` for `File` assertions"
#### Example

[code]

Related to #2205.

[2021-05-29 09:00] scordio opened #2235 "Add `isWritable` as an alias of `canWrite` for `File` assertions"
#### Example

[code]

Related to #2205.

[2021-05-29 09:09] scordio opened #2236 "Add `hasFileName` as an alias of `hasName` for `File` assertions"
#### Example

[code]

Related to #2205.

[2021-05-29 09:25] scordio opened #2237 "Add `hasSize` to `Path` assertions"
#### Example

[code]

Related to #2205.

[2021-05-29 10:42] joel-costigliola commented on #2216
@mahozad does that address your concern?

[2021-05-29 11:23] mahozad commented on #2216
@joel-costigliola Yes. Thank you very much. That solved my problem.
I had posted a thank-you comment on the issue that day but thought you deleted it.
Maybe it was not posted correctly.
Anyway, thank you again.

[2021-05-29 11:31] #2216 closed

[2021-05-30 04:58] joel-costigliola opened #2238 "pitest PR actions take a long time"
#### Summary

Pitest is executed to verify PR, the CI / pitest (pull_request)  `pitest` task seems to take forever, it's not clear if it's in the Receive or PR Update workflow.

#### Example

https://github.com/assertj/assertj-core/pull/2083/checks?check_run_id=2700985331 has started 14h 52m 7s ago and has not finished (at the time of this writing).

A pitest artefact  containing the pitest execut

[2021-05-30 05:20] joel-costigliola commented on #2238
@hcoles can you help on this one?

I made 2 changes on https://github.com/assertj/assertj-core/blob/main/.github/workflows/pitest-updated-pr.yml from https://github.com/GroupCDG-Labs/pitest-github-demo/blob/main/.github/workflows/update-pr.yml:

- use of pitest profile (`-Ppitest`)
- bumped version of `com.groupcdg:pitest-github-maven-plugin` to 0.0.8 to be in sync with the pitest version used in

[2021-05-30 05:27] joel-costigliola commented on #2238
It's a bit confusing to investigate as I can't pinpoint which exact github action jobs/step is performed.

The Receive workflow job is completed as far as I can tell from https://github.com/assertj/assertj-core/pull/2083/checks?check_run_id=2700972002 but I fail to identify which step is taking so much time, I assume it's in `pitest-update-pr` even though there is no log showing `pitest-update-pr`

[2021-05-30 05:36] joel-costigliola commented on #2238
A bit more insight, when comparing with https://github.com/GroupCDG-Labs/pitest-github-demo/ PRs, I see that the `pitest` phase that takes forever in assertj-core takes almost no time, ex: https://github.com/GroupCDG-Labs/pitest-github-demo/pull/7/checks?check_run_id=2546195806.

It shows the Pitest mutation testing feedback results whereas the one in assertj-core are stuck there.

https://github.

[2021-05-30 07:11] hcoles commented on #2238
Hi Joel,

What I think is happening is that mutation testing is running successfully, but the job defined in https://github.com/assertj/assertj-core/blob/main/.github/workflows/pitest-updated-pr.yml is failing to complete.

This job is starting, creating a new checkrun called 'pitest', but is then unable to update its status so it appears to have been running for hours.

This is a known bug caused

[2021-05-30 08:33] Syemon commented on #2233
Hi, I would like to work on this issue.

[2021-05-30 09:25] scordio commented on #2233
Thanks @Syemon, let us know if you need anything.

[2021-05-30 10:30] joel-costigliola commented on #2238
Thanks @hcoles for the explanation.

[2021-05-30 17:58] Gily-H commented on #2237
Hi, I would like to work on this.

[2021-05-30 18:31] scordio commented on #2237
Sure, thanks @Gily-H. Let us know if you need any help.

[2021-06-01 09:13] scordio commented on #2223
@jhannes the following is probably what you are looking for:

[code]

[2021-06-01 11:17] jhannes commented on #2223
@scordio Yes! ❤️

The only sad thing is that I just rewrote a bunch of tests with try/catch to use `assertThatThrownBy` 😭

[2021-06-01 11:17] #2223 closed

[2021-06-01 15:53] scordio commented on #2223
Sorry about that, it took me some time to see the solution from a different angle.

[2021-06-01 15:58] scordio opened #2239 "Add `isMixedCase`to `CharSequence` assertions"
#### Summary
The assertion should verify that the input is neither uppercase nor lowercase.

#### Example

[code]

[2021-06-01 16:44] himanshu007-creator commented on #2239
Hi, i would like to work on this issue

[2021-06-01 16:51] scordio commented on #2239
Sure @himanshu007-creator, let us know if you need anything.

[2021-06-01 16:57] himanshu007-creator commented on #2239
yes @scordio , i wanted to ask , that i just need to append this method to all instances where assertions are made to non numerical values  right?
example:-
<code>assertThat(${Class_being_asserted} actual)</code>
changed to
<code>assertThat(${Class_being_asserted} actual).isMixedCase()</code>

[2021-06-01 19:14] scordio commented on #2239
`isMixedCase()` should be added to `AbstractCharSequenceAssert` and the internal implementation can be part of `org.assertj.core.internal.Strings`

[2021-06-02 03:32] Gily-H commented on #2237
Thanks @scordio. I've written the hasSize in the Path assertions and declared some unit tests for it, but I want to make sure it fits the desired functionality. Would it be appropriate to open a PR with what I have so far?

[2021-06-02 04:51] scordio commented on #2237
Sure, go for it.

[2021-06-03 08:18] scordio opened #2242 "`ThrowableAssert` should have a type parameter"
#### Summary
Currently `assertThatExceptionOfType` allows chaining type-specific assertions like `extracting(Function)`, but `assertThat` with an instance of the same exception type does not allow chaining them.

#### Example

Having an exception type like:

[code]

The following works:

[code]

but the following does not:

[code]

Adding a type parameter to `ThrowableAssert` should fix the issue.

[2021-06-03 09:04] hcoles commented on #2238
@joel-costigliola There is now a 0.0.9 release that should fix the issue if you update the pom and the version in the github workflow, sorry for the delay.

[2021-06-03 10:36] scordio commented on #2223
There is actually another issue related to this topic:  #2242

[2021-06-03 21:58] joel-costigliola commented on #2238
thanks @hcoles, I'll try it on the week end.

[2021-06-04 11:25] joel-costigliola commented on #2238
version bumped, let's see how it goes.

[2021-06-05 10:31] scordio commented on #2236
Sure @ShivakumarSwamy, go for it!

[2021-06-05 11:36] nach-o-man commented on #2239
@scordio can I grab it then?

[2021-06-05 12:41] scordio commented on #2239
Sure, thanks @nach-o-man!

[2021-06-05 18:19] ShivakumarSwamy commented on #2236
Thank you @scordio. Have the opened the a PR for it.

[2021-06-06 14:15] chagmed commented on #2239
I wish to thank @scordio for opening this issue, as well as all other contributors.

I also wish to clarify what I had in mind when I tweeted @scordio RE a mixed-case assertion.

Some characters have a case property: they are mutated upon application of `String.toLowerCase()` or `String.toUpperCase()`.

Any `isMixedCase()` assertion must be consistent with existing `isLowerCase()` and `isUpperCase

[2021-06-06 14:31] scordio commented on #2239
Thank you very much for all the details @chagmed, we will make sure that the final implementation behaves accordingly.

[2021-06-06 19:21] nach-o-man commented on #2239
@chagmed thank you for details. Keeping it consistent is really convincing argument 😃

[2021-06-07 16:32] chagmed commented on #2239
Thank you, @nach-o-man.

For completeness, may I suggest a few additional tests for `Strings_assertIsMixedCase_Test.java`.

- a String consisting solely of whitepace `"  "`
- Strings composed solely of single chars of each case `"A"`,`"a"`

[2021-06-08 10:20] joel-costigliola commented on #2238
Looks good now: https://github.com/assertj/assertj-core/pull/2246#issuecomment-855236608
thanks again @hcoles

[2021-06-08 10:20] #2238 closed

[2021-06-08 19:22] apascualco commented on #2234
Hi, I would like to work on this.

[2021-06-09 06:09] scordio commented on #2234
Sure, thanks @apascualco.

[2021-06-09 15:11] realdadfish opened #2250 "RecursiveComparisonDifferenceCalculator fails with IllegalStateException: Duplicate key"
#### Summary

I'm recursively comparing Android's `Spanned` implementations (`SpannableString`, `SpannableStringBuilder`). The issue is that the `Span` implementations such as [`StyleSpan`](https://cs.android.com/android/platform/superproject/+/master:frameworks/base/core/java/android/text/style/StyleSpan.java?q=StyleSpan) do not come with an `equals` implementation, so they're identity-compared u

[2021-06-09 15:34] scordio commented on #2250
Hi @realdadfish, thanks for the bug report. Would you have the chance to provide a minimal example as a GitHub project?

[2021-06-09 15:52] realdadfish commented on #2250
Yes, I will try my best :)

[2021-06-09 18:46] scordio commented on #2214
PRs look good now (e.g., https://github.com/assertj/assertj-core/pull/2246#issuecomment-855236608)

[2021-06-09 18:46] #2214 closed

[2021-06-10 13:34] stefanos-kalantzis commented on #2211
I would also like this feature. Either approach would work for me:
- `.usingRecursiveComparison().hasNoNullFieldsOrProperties();`
- `.usingRecursive().allSatisfyFields(filed -> { ... });` (maybe rename to "allFieldsSatisfy" or similar, for sanity)

but of course the 2nd alternative has more benefits, because we can provide a "null-or-empty" predicate (for collections).

I think this is a crucial f

[2021-06-11 00:35] Philzen opened #2252 "[Feature] `assertThat(path).content()`"
#### Summary

Analogous to #2198, the request is to enable easy content analysis (via the existing string assertions) on files provided via a `Path`.

#### Example

[code]

[2021-06-11 04:34] joel-costigliola commented on #2211
My preferred option is `usingRecursiveComparison().allFieldsSatisfy(field -> ...)`

[2021-06-12 11:25] nach-o-man commented on #2239
Fair enough. Added cases

[2021-06-12 16:51] chagmed commented on #2239
Thank you @nach-o-man. Excellent work. Much appreciated!

There is one small typo ("pas") in `Strings_assertIsMixedCase_Test.java`:
`should_pas_if_actual_is_has_no_letters()`.

`AbstractCharSequenceAssert.java` method `isMixedCase()` Javadocs currently read:

Let's rephrase that slightly, as we are actually testing whether `Strings.isLowerCase()` equals `Strings.isUpperCase()`.

My suggestion:

ac

[2021-06-13 13:16] achterberatung opened #2254 "Java Warning: An illegal reflective access operation has occurred when recursive comparison with compiled Regex Pattern"
#### Summary

I have a test, where I use Mockito Captor to capture the argument for a function of a mocked class.

This function gets an object with a compiled regex pattern inside.

I manually build an expected object on the same way and assert equality with assert4j.

So, everything works fine and the comparison fails, if I change my expected regex, but Java puts out this warning, when running t

[2021-06-16 16:57] lukas-krecan opened #2262 "Backwards incompatble change in AbstractMapAssert"
#### Summary
JsonUnit extends `AbstractMapAssert` and overrides some methods. [Recently](https://github.com/assertj/assertj-core/commit/3d5841fa110c029fc2104fd7425e02dd1ed19384) the methods have been made final breaking backward compatibility.

JsonUnit does not have to extend `AbstractMapAssert` so if you tell me that the methods will remain final, I will copy and paste the parts needed from  `Ab

[2021-06-16 16:57] lukas-krecan commented on #2262
See https://github.com/lukas-krecan/JsonUnit/issues/379

[2021-06-16 19:03] scordio commented on #2262
At the moment I would say it's a breaking change we would like to keep, especially if you have a way around it

[2021-06-16 19:20] kevdoran commented on #412
This is a super old issue, but I just want to say that this feature continues to be really useful, as does AssertJ in general. Thanks all!

[2021-06-16 19:30] filiphr commented on #2262
@lukas-krecan those methods were made final in order to make a better experience for the invokes of those APIs. There are no warnings now.

You don't have to copy anything, you could override the methods which are there for the proxy. Every single final method has an equivalent ForProxy method

[2021-06-16 21:31] scordio commented on #2262
I added one more breaking change to the release notes, also with the solution described by @filiphr.

[2021-06-16 21:46] joel-costigliola commented on #412
Just for reference, here's how to do it in recent version https://assertj.github.io/doc/#assertj-core-recursive-comparison-strict

[2021-06-17 11:50] manishkumar1509 opened #2263 "[Feature] UsingRecursiveFieldByFieldElementComparator for nested objects"
#### Summary
I have a list of object A. Object A has some fields and one of it's field is a list of another Object B.
I have two lists expected and actual. The expected list of Object A has a few fields which are set to null and also the Object B which is a part of Object A has a few null fields. I want to ignore these fields for assertion.

- for asserting these two lists I can use UsingRecursive

[2021-06-17 17:48] schlosna opened #2264 "Regression in `AbstractMapAssert#containsExactlyInAnyOrderEntriesOf`"
#### Summary

After upgrading from assertj 3.19.0 to 3.20.0 (and 3.20.1), I am [seeing tests fail](https://23469-36960637-gh.circle-artifacts.com/3/home/circleci/artifacts/junit/timelock-server/integTest/classes/com.palantir.atlasdb.timelock.LockWatchValueIntegrationTest.html#readWriteTransactionsPublishValuesToCentralCache) using `org.assertj.core.api.AbstractMapAssert#containsExactlyInAnyOrderEn

[2021-06-17 22:51] joel-costigliola commented on #2263
Two comments on this:

- try a proper JSON Assertions library like https://github.com/lukas-krecan/JsonUnit
- try the recursive comparison https://assertj.github.io/doc/#assertj-core-recursive-comparison, especially https://assertj.github.io/doc/#assertj-core-recursive-comparison-ignoring-all-expected-null-fields if I understand your use case

I would try JSON assertions first as it gives a much b

[2021-06-17 23:11] #2264 closed

[2021-06-20 08:56] ikhoon opened #2267 "Allow configuring the order of assumption exception classes"
#### Problem

Our project has dependencies on both JUnit5 and TestNG. Most test cases are written by JUnit5.
`Assumptions.assumeThat()` is also used with JUnit5. TestNG is only used for running Reactive Streams TCK.
https://github.com/reactive-streams/reactive-streams-jvm/blob/899f17ffc2927bf89fad73dfde182f5018359bdf/tck/build.gradle#L19
When I tried to upgrade AssertJ from 3.17.1, our JUnit test

[2021-06-20 10:25] joel-costigliola commented on #2267
I'm not sure to completely understand the issue, if the assumption was not met, it does not really matter whether the assumption error is a TestNG, JUnit or opentest4j one.

Can you clarify why this test did not behave as expected?

[2021-06-20 11:16] scordio commented on #2267
If I got it correctly, AssertJ throws `org.testng.SkipException` having TestNG in the classpath, but the test engine is JUnit 5 so the exception is not recognized, causing a test failure instead of skipping it.

Is that correct @ikhoon?

[2021-06-21 01:35] ikhoon commented on #2267
Yes, exactly. Since TestNG is in the classpath, we could not use `assumeThat()` with JUnit 5 that worked with ~4.17.1.

[2021-06-21 02:16] joel-costigliola commented on #2267
dumb suggestion: is it possible to migrate everything to JUnit5?

I feel the mix of TestNG and JUnit5 is a bit of an unusual situation.

If we decide to provide selecting the assumptions exception order, it would be in https://javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/configuration/Configuration.html.

[2021-06-21 02:29] ikhoon commented on #2267
Yes. It is possible, but our team ❤️ AssertJ's fluent assertions.

As I said, we have to check Reactive Streams implementations with technology compatibility kit that is out of control. 😅

That sounds good to me. 👍

[2021-06-21 03:21] joel-costigliola commented on #2267
Alright, when I said migrating to JUnit5 I was really saying get rid of TestNG 😄 .

I understand now it's not possible so let's go with selecting the assumption exception to throw form the config.

[2021-06-21 12:27] stbischof opened #2268 "Enhance MappesCondition - use custom conditionDescriptionWithStatus"
#### Summary
MappesCondition is a Wrapper-Condition like Join.
It should override conditionDescriptionWithStatus to print out also all inner Conditions using the DescriptionWithStatus

#### Example

[code]

the default match method could also give better results by `buildMappingDescription`AFTER executing the `condition.matches()`

[code]

[2021-06-21 23:30] joel-costigliola commented on #2268
I'm not sure I follow, the proposed change does not pass the result to the buildMappingDescription, how would it give a better description?

can you show an example?

[2021-06-23 12:35] arturmkr opened #2272 "Add functionality of ignoring fields of specific annotation"
It would be great to add a functionality of ignoring fields with specific annotation.

[code]

[2021-06-24 14:12] Ivan12273 commented on #2235
Hi! is this issue still open? I would like to work on this

[2021-06-24 14:20] scordio commented on #2235
Sure, thanks @Ivan12273.

[2021-06-24 19:43] chagmed commented on #2239
Thank you @nach-o-man! Everything looks good from here.

@scordio what is the next step?

[2021-06-24 19:52] scordio commented on #2239
As a next step, we will finalize and merge the PR, as soon as we have some spare time for it 🙂
We have been busy with some leftovers after releasing 3.20, but we'll make sure this change will be part of 3.21.

[2021-06-25 02:46] Ivan12273 commented on #2235
Thanks @scordio I already did the PR :)

[2021-06-25 18:08] nach-o-man commented on #1935
To be honest I think all assertion methods that have any logic in them should have `isNotEmpty` check under hood.
Cause it may lead to false assumptions of testing results.

[2021-06-30 04:53] #2236 closed

[2021-06-30 05:04] #2235 closed

[2021-06-30 05:11] #2234 closed

[2021-07-01 12:48] realdadfish commented on #2250
I couldn't reproduce this with an isolated setup, yet, so I'm closing this one. Sorry.

[2021-07-01 12:48] #2250 closed

[2021-07-01 22:49] joel-costigliola commented on #2250
Thanks for trying @realdadfish.

[2021-07-04 10:02] joel-costigliola commented on #2198
@wtd2 are you still keen to finish up this one? it's ok if you don't have time, we can finish it (you'll get the credit)

[2021-07-06 16:19] abryantsev opened #2279 "Bug with recursive comparison of objects with String containing %"
#### Summary
During migration from the usage of the `unitils` recursive comparison to the `AssertJ (3.19.0)` we trapped into the issue with flaky tests using `.usingRecursiveComparison()` feature. Unfortunately the summary of the broken test doesn't give too much explanation about the differences because of the not overridden `toString()` method and just looks like (very close example):
[code]

Tr

[2021-07-06 21:32] joel-costigliola commented on #2279
Thanks for reporting this, this is likely a bug.

[2021-07-06 22:58] stbischof opened #2281 "MappedCondition must prevent NPE"
when calling `to.getClass()`

https://github.com/assertj/assertj-core/blob/c964ea6d3f94286ac33fce2de6180288a4794313/src/main/java/org/assertj/core/condition/MappedCondition.java#L137

[2021-07-07 10:24] #2267 closed

[2021-07-08 10:51] #2279 closed

[2021-07-10 10:49] #2252 closed

[2021-07-11 10:05] #2198 closed

[2021-07-12 22:03] #2237 closed

[2021-07-13 16:50] Crazyjavahacking opened #2288 "JavaFX support"
This is actually question.

Is there a plan to support JavaFX in the same way as Swing?

[2021-07-13 21:47] joel-costigliola commented on #2288
nope and unfortunately swing support has not been active by lack of commiters

[2021-07-19 12:29] jhonnen opened #2294 "nondescript assertion error for hasSameElementsAs(emptyList())"
#### Summary
Compared to other asserts, `hasSameElementsAs` has only a brief and generic assertion error given an empty expected collection.

#### Example

[code]
fails with
[code]

In comparision
[code]
has a much richer message as I would expect from AssertJ:
[code]

[2021-07-19 21:48] joel-costigliola commented on #2294
Fair point, it should be easy to fix if you are keem to contribute @jhonnen

[2021-07-21 06:29] davidsusu commented on #22
`ReaderAssert` would be **very** useful. IMO `Reader` and `InputStream` are quite different. From a testing perspective `Reader` (with a small content) is more like to `String`.

`InputStreamAssert` could have `asReader(Charset)`. (Also, `InputStreamAssert` should have an `asString(Charset)` method, just like `ByteArrayAssert`.)

What do you mean by this? In some cases, it's not so easy. The stand

[2021-07-23 09:05] bdumon opened #2296 "2D arrays: assert size of first dimension only"
#### Summary

In assertj 3.17.0, for 2D arrays like `byte[][]` the `hasSize(int)` method has been replaced by `hasDimensions(int, int)`.

It would be useful to keep the `hasSize(int)` as well. The length of the second dimension might be different for each entry, or it might simply be irrelevant to the test.

#### Example

[code]

[2021-07-23 11:25] joel-costigliola commented on #2296
Yes that's true, keen to contribute it @bdumon?

[2021-07-23 11:26] joel-costigliola commented on #2281
closed with  #2282

[2021-07-23 11:26] #2281 closed

[2021-07-23 14:17] scordio commented on #2296
I have the feeling `hasSize(int)` might be ambiguous with 2D arrays.

What about something more specific? Maybe `hasRowSize(int)`? (not fully happy with the "row" terminology, but it's my best proposal so far)

[2021-07-23 14:53] bdumon commented on #2296
How about allowing a wildcard value for the parameters to `hasDimensions(int, int)`, such as `-1`: `hasDimensions(3, -1)`?

Though `hasSize(int)` seems fine to me as well, and is consistent with the API for collections. It's an array after all, where each entry happens to be a reference to another array.

[2021-07-24 02:20] joel-costigliola commented on #2296
No magic/wildcard value.

I have a slight preference for `hasRowSize` over `hasSize` as it is more explicit.

[2021-07-28 07:14] anuraaga opened #2300 "zipSatisfy output part of stack trace for failures"
#### Summary
Currently `zipSatisfy` seems to collect only assertion exception messages and outputs them.

https://github.com/assertj/assertj-core/blob/main/src/main/java/org/assertj/core/internal/Iterables.java#L1254

It would be helpful if the stacktrace was collected too - in particular, even one or two lines of stack trace can really help understand an assertion failure if the message is not a

[2021-07-28 07:47] anuraaga commented on #2300
Also, it's not directly related to this issue but is a part of "how to render zipSatisfy" - I noticed that nested zipSatisfy render somewhat poorly since they end up printing top-down, even though we'd like the actual assertion failure to be at the top of a message. For example, when nesting two zipSatisfies it looks like this

[code]

[2021-07-28 09:51] joel-costigliola commented on #2300
Thanks for the feedback, there is room for improvement indeed.

[2021-07-30 11:04] #731 closed

[2021-08-01 22:29] qdolan commented on #971
This is what Assumptions are for.

Assumptions.assumeThat(value).isNotNull();

[2021-08-05 07:21] scordio opened #2303 "Add `containsAnyOf` to `CharSequence` assertions"
#### Summary

Currently, checking if a String contains at least one substring can be done with `satisfiesAnyOf` or `containsPattern`. The former is quite verbose, while the latter does not provide specific details in case of failures.

To improve this use case, `containsAnyOf(CharSequence...)` could be added to `AbstractCharSequenceAssert`.

Inspired by https://stackoverflow.com/q/68643040/9714611

[2021-08-06 06:00] yakovbelov opened #2305 "Question/Suggestion: Allowing to override what failure case throws in AssertJ api."
Dear AssertJ team,

So, in the end AssertJ throws AssertionError. And that is, I guess, to imitate Java assert feature. Junit does it too. Testing frameworks expect nothing less.

I really want to use AssertJ api in the prod code, as I think it is awesome and can help with readability and reusability of validation layer. One would think, just catch AssertionError and bob's your uncle. But that is

[2021-08-07 09:21] joel-costigliola commented on #2305
AssertJ only throws `AssertionError` and there is no plan to throw anything else.

I think that `AssertionError` can be used production code (although it is not a prevalent usage), java actually comes with the [assert](https://docs.oracle.com/javase/7/docs/technotes/guides/language/assert.html) construct to to verify pre and post design-by-contract conditions and invariants. If an `assert` express

[2021-08-07 10:08] yakovbelov commented on #2305
Hi @joel-costigliola,

Thanks for the response. Makes sense. One thing I would like to make - assert failures, usually, are not caught. That means if assert fails, it is the end of the thread's execution. That is how I read it.

Anyway, your response also probably means, that AssertJ is designed to be used in test code, mainly. I would probably use AssertJ in prod code for my personal projects, bu

[2021-08-07 10:09] #2305 closed

[2021-08-11 23:24] mbjelac opened #2307 "Idea: Kotlin-specific collection-assertion helper"
Main point: I want to have a single assert per test & I don't want to bother with [soft assertions](https://joel-costigliola.github.io/assertj/core/api/org/assertj/core/api/SoftAssertions.html) because reasons.

I've been using a pattern where I collect the actual values in a collection and then assert that to be equal to a collection of expected values:

[code]

It's simple & short, using the sta

[2021-08-12 00:05] joel-costigliola commented on #2307
We can consider it as long as it does not involve adding dependencies, to keep assertj core easy to use we don't want it to have any depedencies.

Maybe open a draft PR for us to get an idea of the changes?

[2021-08-12 10:21] scordio commented on #2307
If I got it correctly, the helper requires the knowledge of [`Pair`](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-pair/), which is a Kotlin class and would go against what Joel mentioned.

You might consider https://github.com/willowtreeapps/assertk for Kotlin specific features. Be aware that AssertK is inspired by AssertJ but it has nothing to do with it.

[2021-08-12 11:36] scordio commented on #22
@davidsusu would you have some concrete examples to help re-evaluate the topic?

[2021-08-12 15:00] mbjelac commented on #2307
Thanks! Will try it out.

On Thu, 12 Aug 2021, 12:22 Stefano Cordio, ***@***.***> wrote:

[2021-08-13 01:05] joel-costigliola commented on #2307
Closing this issue for now since it looks like it would need additional dependencies but @mbjelac feel free to comment on it if you need more information from us.

[2021-08-13 01:05] #2307 closed

[2021-08-13 13:16] #2239 closed

[2021-08-13 15:47] #2303 closed

[2021-08-14 02:19] #2242 closed

[2021-08-15 08:56] scordio opened #2312 "`Path` tests fail on Windows"
Some tests introduced with #2292 are failing only on Windows. All of them are negative tests, so there seems to be no impact on the happy path.

The tests are currently disabled with:
[code]

**`should_fail_if_actual_is_not_readable`**

Currently, `actual.toFile().setReadable(false)` is used to remove the readable flag from `actual`. It seems like that this has no effect on Windows. We should drop

[2021-08-15 09:19] scordio commented on #2312
`Paths_assertIsDirectoryContaining_with_Predicate_Test` and `Paths_assertIsDirectoryNotContaining_with_Predicate_Test` are now passing after inverting the stubbing calls: 57680333d70827eba86c443a10ec3f840b088414

[2021-08-15 10:26] joel-costigliola commented on #2312
I wonder if inverting stubbing leading to a different behavior is something known in mockito, maybe we should reach out to them to see if it's normal?

[2021-08-15 10:44] scordio commented on #2312
I agree, I'll put together a small example and I'll reach out to them.

[2021-08-16 06:21] scordio commented on #2312
RE **`should_rethrow_IOException_as_UncheckedIOException`**

When the stubbing is done with:

[code]

the underlying `Files.newInputStream` is called because `nioFilesWrapper` is a spy (i.e., real methods are called by default) and `newInputStream` is not stubbed yet at that point.

On the other side, stubbing with:

[code]

doesn't trigger the invocation of the underlying method because that meth

[2021-08-16 17:10] chrylis opened #2314 "Equality comparison by properties"
#### Summary

When comparing values, AssertJ takes a very strong opinion that the objects are defined by their _fields_, which is contrary to general Java best practice and makes testing interface-based code difficult. It seems that AssertJ will internally use property-based access as some kind of fallback, but it has eager fast-fail on some very ordinary use cases.

Instead, AssertJ should _prefe

[2021-08-17 00:07] cvnntg commented on #2314
Similarly, it would be nice if we could force PROPERTIES to be used, rather than fields.

Or another way to put it, I suppose, is to only use a property as a comparison if it has a get____() function built in.

[2021-08-17 09:31] joel-costigliola commented on #2314
I agree, we already have created https://github.com/assertj/assertj-core/issues/2189, it is a wip but as it's rather complex I can't say when this will be addressed.

[2021-08-18 01:15] SekarMylsamy commented on #2296
@joel-costigliola Created PR for this issue. Could you please review?
https://github.aexp.com/smylsamy/assrt-core/pull/1

[2021-08-18 02:41] joel-costigliola commented on #2296
@SekarMylsamy thanks, your link is brokne and I don't see your new PR in https://github.com/assertj/assertj-core/pulls

[2021-08-18 02:51] SekarMylsamy commented on #2296
My apologies, I posted broken link. Will fix and post it again.

[2021-08-18 03:48] SekarMylsamy commented on #2296
@joel-costigliola Here is the updated link : https://github.com/assertj/assertj-core/pull/2316

[2021-08-18 07:07] scordio commented on #2296
As we have now an open PR about the issue, I'd like to have one more round on the naming of this new assertion method.

As mentioned in https://github.com/assertj/assertj-core/pull/2316#discussion_r690956051, `hasRowSize` might still be ambiguous: is it the number of rows or the number of elements a single row has? The latter would be the number of columns only with a symmetric matrix.

At this po

[2021-08-18 09:35] joel-costigliola commented on #2296
I vote for `hasNumberOfRows` first and then `hasRowCount`

[2021-08-18 11:23] scordio commented on #2296
@bdumon @SekarMylsamy is `hasNumberOfRows` good enough for you?

[2021-08-18 17:20] SekarMylsamy commented on #2296
@scordio I am ok with `hasNumberOfRows`. If every one is aligned on the naming convention, will work on the PR to update the name along with the change suggested by you.

[2021-08-19 17:17] obfischer commented on #2041
Any update on this issue?

[2021-08-19 17:31] scordio commented on #2041
@obfischer I started working on it with #2086. As it's a bit of work and we are currently finalizing the release of 3.21.0, it will take a bit more before being ready but I see good chances for 3.22.0.

[2021-08-19 23:10] #2233 closed

[2021-08-19 23:21] scordio commented on #2060
@beckerjohannes @joel-costigliola if I understand it correctly, #2204 / 244814c2e0f5264e1c301a7a1e152b68d20b0ed1 added `containsIgnoringWhitespaces`, but additional variants were discussed so this issue should probably stay open.

Would it make sense to have a task list in the first comment with each assertion name, so we can track what has been done so far?

[2021-08-20 08:26] scordio opened #2318 "Add `hasNoExtension` to `Path` assertions"
#### Example

[code]

Related to #2233.

[2021-08-20 08:27] scordio commented on #2296
@SekarMylsamy please go ahead with `hasNumberOfRows`. Thanks a lot!

[2021-08-20 13:15] Syemon commented on #2318
Hi, can I take this one?

[2021-08-20 13:24] vinayakkumargupta commented on #2318
hey, @scordio can I fix it? I am new to open source.

[2021-08-20 14:06] scordio commented on #2318
Thanks to both of you for offering help.

As @Syemon was commenting first, I'd let him work on this one.

@vinayakkumargupta feel free to check other open issues and let us know if there is anything you would like to work on.

[2021-08-20 16:43] SekarMylsamy commented on #2296
Thanks @scordio for the confirmation, will work on the PR.

[2021-08-20 17:29] billccn opened #2319 "hasMethods does not work on default methods"
#### Summary

IMO `hasMethod` should really follow the same contract as `Class.getMethod()`, but it doesn't when it comes to default methods inherited from an interface (that are not overridden with an implementation in the class being asserted).

This is because `org.assertj.core.internal.Classes.getAllMethods(Class<?>)` only looks at parent classes and not any implemented interfaces.

#### Examp

[2021-08-21 04:00] joel-costigliola opened #2320 "add singleElement() to AbstractObjectArrayAssert"
#### Summary

`singleElement()` has been added to Iterable assertions but not in `AbstractObjectArrayAssert`

[2021-08-21 04:01] joel-costigliola commented on #2319
Thanks for reporting this, I agree this should be taken into account.

[2021-08-21 19:56] scordio commented on #778
pitest has been added with 81ed66f4710138d30e4a4b5ab83ef2989e7f39dd.

[2021-08-21 19:56] #778 closed

[2021-08-22 08:21] scordio commented on #2319
Currently, `hasMethods` doesn't follow `Class::getMethods` not only because of ignoring the default methods but also because it looks into non-public methods declared by `actual` or any of its superclasses.

On the other side, `hasDeclaredMethods` looks into the methods of `actual` with any visibility but excluding the inherited ones, in line with `Class::getDeclaredMethods`.

I am wondering if `h

[2021-08-22 10:37] joel-costigliola commented on #2319
I think I would go with adding default methods to `hasMethods` and keep looking for methods of any visibility.

We have `hasPublicMethods` that only look at `Class::getMethods`, there is a discrepancy between AssertJ and the JDK here but I feel it is not that bad as `hasPublicMethods` is more obvious than `Class::getMethods` at indicating that it only looks at public methods.

[2021-08-22 10:46] scordio commented on #2319
I missed `hasPublicMethods`, then yes, I'd add default method lookup to `hasMethods`. I have the fix almost ready so I'll grab it.

[2021-08-23 06:55] epragtpks opened #2322 "Additional File Assertions"
#### Summary

At the moment, it's possible to check file sizes using the file assertions (see #1311), but it's not possible to check if a file is bigger or smaller than a certain size. I'd propose to add these assertions too, and match the signature with the collection assertions, like this.

#### Example

[code]

I'm willing to do a PR for this, but I'd like to know first if this is something whi

[2021-08-23 07:16] scordio commented on #2322
What about following the same pattern as [`IterableAssert::size`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/AbstractIterableAssert.html#size())? This would avoid adding all the possible combinations for comparison.

[2021-08-23 08:43] bodiam commented on #2322
Hi @scordio , the number of combinations was a bit of a concern indeed, but I wasn't aware of this one, that's even better.

I haven't implemented anything yet, but I'm still happy to do so with a similar approach as the IterableAssert::size if there's any interest in this.

[2021-08-23 08:46] scordio commented on #2322
Let's see what @joel-costigliola thinks about it.

[2021-08-23 10:41] bodiam commented on #2322
@scordio @joel-costigliola consider this test a work in progress, but below compiles and works now. I'm happy to clean this up and submit a PR.

[code]

[2021-08-23 20:50] #2319 closed

[2021-08-24 00:54] joel-costigliola commented on #2322
I'm happy with the `assertThat(file).size().` approach :)

[2021-08-27 23:42] jonathanl-telenav commented on #1403
I'm seeing this in 13.0.2+8

[2021-08-28 05:49] #2294 closed

[2021-08-29 11:14] joel-costigliola commented on #2197
@kriegfrj  I'm working on this and at the moment I have got something like:
[code]
I changed the representation of `MapEntry` to be `key=value` to get the above message.

WDYT?

[2021-08-29 14:31] kriegfrj commented on #2197
LGTM, @joel-costigliola ! Thanks!

[2021-09-01 09:38] sephiroth-j opened #2329 "isDirectoryContaining fails for expected patterns"
Let's assume that there is a directory `C:\Temp\junit12854012982575283912` which contains a file `test-6e672c4ba0be4f0886d434125a0d062c.txt`.

The assertion of `assertThat(dir).isDirectoryContaining("glob:test-[0-9a-f]*.txt")` and `assertThat(dir).isDirectoryContaining("regex:test-[0-9a-f]+\\.txt")` fails although it is not expected do so.

The error messages is confusing and does not give a hint

[2021-09-01 10:14] joel-costigliola commented on #2329
Thanks for reporting this, we will discuss it with the team and get back to you.

[2021-09-01 21:38] scordio commented on #2329
Just as a note, the example with the `PathMatcher` is not the same as the first one because `Path.of("test-6e672c4ba0be4f0886d434125a0d062c.txt")` is not having any parent directory, therefore it succeeds.

Instead, with `dir.resolve()`:

[code]

the assertions fail.

[2021-09-02 07:52] sephiroth-j commented on #2329
My example with `PathMatcher` should show what _IMHO_ would be expected when using `isDirectoryContaining`. Right now you have to adjust the patterns to either include the parent directory or prepend it with `**/`. Both leave questions for others reading the test, are counterintuitive, and "bloat" the test code. The use of `glob:**.txt` for example would only make sense when using `isDirectoryRecu

[2021-09-02 11:02] #2197 closed

[2021-09-02 16:37] sephiroth-j commented on #2329
Great, thank you.

[2021-09-07 12:28] groov1kk opened #2335 "Unable to create custom equals logic for the recursive comparison"
#### Summary
Hello

I'm trying to create a custom equals for specific fields for the recursive comparison.

For example, I would like to return true in my custom equals method if actual value is greater than the expected value by 1 (don't ask me why :)):

[code]

This example works well.

The problem is that the following example with the same initial values for the both entities also wouldn't thr

[2021-09-07 22:19] joel-costigliola commented on #2335
Thanks for reporting this @groov1kk!
I'll look into it more but it sounds reasonable to have custom comparison being performed any other comparison.

[2021-09-08 08:54] arturmkr opened #2336 "Using comparator/equals for list items ignoring order"
Having following code:

[code]

It's needed to compare `sherlock1` and `sherlock2` objects.
But the problem is with `data` field.
It could contain json and this json could be in different order.

If using `withEqualsForType` or `withComparatorForType` assert would fail:
[code]

Because it's trying to validate `actions` elements list one by one, but not ignoring order.

So, it would compare:
`new M

[2021-09-08 10:36] joel-costigliola commented on #2336
Thanks for reporting this, we will be looking at it shortly.

[2021-09-08 10:37] #2335 closed

[2021-09-08 10:39] joel-costigliola commented on #2335
issue addressed @groov1kk, you will get this error message:
[code]

[2021-09-08 12:43] groov1kk commented on #2335
Hmm... Could you share you tests? Because I can't catch that exception.

[2021-09-08 13:07] groov1kk commented on #2335
Here is the example which uses Person entity from `org.assertj.core.api.recursive.comparison.RecursiveComparisonAssert_isEqualTo_withFieldComparators_Test`

[code]

I think it has to fail, because I reverted the equals logic. But this test passes, because it checks the references of name fields of actual and expected entities and if they are the same - custom comparators would be skipped.

[2021-09-08 21:18] joel-costigliola commented on #2336
@arturmkr can you share `MyActionComparator` and `myActionValidation` code so that I can try to reproduce the behavior you mention?

[2021-09-08 21:30] scordio opened #2337 "Avoid mocks for testing `File` assertions"
Similar to #2292, all the test cases in subclasses of `FilesBaseTest` should use real filesystem elements and not mocks.

We might still favor the NIO2 File API to initialize the test prerequisites, so `actual` would be obtained via `Path::toFile`.

[2021-09-09 09:51] arturmkr commented on #2336
@joel-costigliola , sorry I forgot to mention.
In `MyAction.class `variable `type` tells in which format `data` variable is initialised.

So `type` variable could either 'JSON', either 'STRING'.

For comparator, I have following code:
[code]

For equals:
[code]

If it's needed, here is the full code:
https://github.com/arturmkr/assertJComparatorExample

Thanks in advance!

[2021-09-09 10:33] joel-costigliola commented on #2336
So the issue is within your comparator which only compares `MyAction.data` as JSON if `MyAction.type="JSON"`.
This is not the case in your example, as `MyAction.type="low"` `"{\"age\": 30, \"car\": null, \"name\": \"John\"}"` is compared to `"{\"name\": \"John\", \"age\": 30, \"car\": null}"` as strings which obviously are not equal.

If you change `low` to `JSON` then the test fails with a jackso

[2021-09-09 11:09] arturmkr commented on #2336
@joel-costigliola , you are right!
There is a bug in my Comparator.
Sorry for bothering.
Closing issue.

Thanks for the help.

[2021-09-09 11:09] #2336 closed

[2021-09-09 19:35] scordio opened #2338 "`isDirectoryRecursivelyContaining(String)` should apply filter pattern to filenames only"
Similar to #2329, `isDirectoryRecursivelyContaining(String)` should apply the filter pattern to filenames only and not to the entire path.

Together with this change, the existing assertion tests for both variants with `String` and `Predicate` should be refactored to use the same style introduced with #2292 and to inherit from `PathsBaseTest` instead of `PathsSimpleBaseTest`, which should be delet

[2021-09-10 07:19] scordio commented on #2329
As per internal discussion, all the error messages should display the filenames only.

Also, with #2338 we will make sure that `isDirectoryRecursivelyContaining(String)` follows the same behavior, but this will be delivered earliest in 3.22.0.

[2021-09-10 12:32] jpfroud opened #2339 "Suggestion: Follow semantic versioning rules"
Upgrading from assertj-core 3.17.2 to 3.18.0 shouldn't introduce breaking changes

https://assertj.github.io/doc/#assertj-core-3-18-0-release-notes

3.18.0 should be 4.0.0?

[2021-09-10 13:03] scordio commented on #2339
AssertJ Core does not use semantic versioning (see #2148).

Fun fact: Dependabot thinks AssertJ Core has [97% of SemVer stability](https://dependabot.com/compatibility-score/?dependency-name=org.assertj:assertj-core&package-manager=maven).

[2021-09-10 13:04] #2339 closed

[2021-09-13 14:56] marcphilipp opened #2340 "Incompatibility with JDK 18-ea"
#### Summary

AssertJ fails on JDK 18-ea when using `SoftAssertion.assertThat(...)` with a class compile for JDK 18.

[code]

I tried setting the `net.bytebuddy.experimental` system property to `true` but that didn't help either.

Upgrading the shaded Byte Buddy should help:
https://github.com/raphw/byte-buddy/blob/master/release-notes.md

#### Example

Please let me know if this is really needed

[2021-09-13 15:01] scordio commented on #2340
@marcphilipp thanks for raising it. We are almost ready to release 3.21.0 which will contain ByteBuddy 1.11.15.

[2021-09-13 15:05] marcphilipp commented on #2340
I'm glad to hear it. 👍

Do you publish snapshots somewhere so I could check with those?

[2021-09-13 15:18] scordio commented on #2340
No, unfortunately we don't publish snapshots, but our CI runs with JDK 18-ea and we _should_ have test cases like that :-)

I'm wondering if this issue has been fixed before we added JDK 18-ea to our CI. Do you know the version of ByteBuddy that fixed it? I didn't catch it by quickly reading the changelog.

[2021-09-13 15:50] marcphilipp commented on #2340
No, I don't know which version of ByteBuddy fixed it.

[2021-09-13 16:23] sroeper opened #2341 "Extending AbstractAssert.returns"
#### New variants of the returns assertions

The returns assertion could be even more useful if there would be variations for Optionals. I suggest ``returnsValue(expected, function)`` as counterpart to the hasValue assertion to check Optional return values.

It would also be nice to have a description without writing ``.as("...")``. This also holds true for the normal ``returns`` assertion and is

[2021-09-13 16:37] sroeper commented on #2341
It is clear that these functions are only syntactic sugar because we can archive the same with ``as`` and ``Optional.empty()`` but would make the intention more clear in my opinion.

What I also miss is a ``returnsSame`` as equivalent to ``isSame``.

[2021-09-13 18:59] scordio commented on #2340
I tried executing all tests of 3.20.2 codebase using JDK 18.ea.14, but nothing failed.

@marcphilipp would you have the chance to build the latest AssertJ locally and verify that everything works? Otherwise, how can I reproduce your issue?

[2021-09-14 11:56] marcphilipp commented on #2340
I built a snapshot locally and now I'm getting a different error:
[code]

I'll see if I can extract that test into a standalone reproducer project.

[2021-09-14 12:59] sormuras commented on #2340
I'm looking into this - but it seems to be something that @raphw might be able to resolve with ... one look, click, keystroke, right Raphael?

[2021-09-14 13:01] scordio commented on #2340
Could it be because `JavaDispatcher` is in `net.bytebuddy.utility.dispatcher` which [is not exported](https://github.com/raphw/byte-buddy/blob/c36a1697cca4f4d50069a42390aa0d176816020b/byte-buddy/pom.xml#L31-L68), while `Invoker` is in `net.bytebuddy.utility` which is exported?

[2021-09-14 13:34] sormuras commented on #2340
Half off-topic observation: Java modules with version information compiled into their descriptors are awesome!

Seeing 2 different version used in this thread. And https://twitter.com/sormuras/status/1437370883786657794

[2021-09-14 13:40] sormuras commented on #2340
Is the `Xyz$Dispatcher` generated at runtime? If yes, ByteBuddy support something similar to `--default-module-for-created-files` option of the `javac` tool and if yes, does AssertJ set an appropriate value?

[2021-09-14 14:21] raphw commented on #2340
Yes, it is. The dispatcher is in an isolated class loader by design. Jsva 18 still requires -Dnet.bytebuddy.experimental=true

[2021-09-14 14:43] scordio commented on #2340
@marcphilipp did you try to set `net.bytebuddy.experimental` also with the snapshot?

[2021-09-14 21:53] scordio commented on #2329
@sephiroth-j we will postpone this change to 3.22.0 as we would like to think a bit more about the behavior for both `isDirectoryContaining(String)` and `isDirectoryRecursivelyContaining(String)`.

[2021-09-15 07:42] marcphilipp commented on #2340
I did and I now also tried with 18.ea.14 and the GA version of JDK 17. Both fail when using the latest snapshot.

I pushed my experiments to a [branch](https://github.com/junit-team/junit5/tree/marc/assertj-reproducer). To run it locally run `./mvn clean install` on this repo and then the following command on my branch of the junit5 repo:
[code]

`ModularUserGuideTests` is a test that calls java t

[2021-09-15 08:29] raphw commented on #2340
I see, the problem is the shading. The Invoker class needs to be exported. Ideally, assertj would not shade Byte Buddy, it changes its assumed properties for running as a module. I'll see if I can do something in Byte Buddy to improve shading convenience, but I'd mainly recommend to not shade it.

[2021-09-15 08:36] sormuras commented on #2340
Argh... it's almost always shady shading! Where are my shades?! 🕶

See this list for further shading-related ... issues: https://github.com/sormuras/modules/blob/main/doc/suspicious/impostor-modules.md

[2021-09-15 08:47] raphw commented on #2340
The problem is that BB assumes that the package is exported. I'd need to add a check to see if this is not the case, to open the package to the class loader's unnamed package.

[2021-09-15 09:52] scordio commented on #2340
@raphw not sure if there is anything that we could add to the shading exclusions to make it work.

For example, some time ago I excluded `net.bytebuddy.experimental` as the expected property was converted to `org.assertj.core.internal.bytebuddy.experimental`, which is confusing for anyone trying to enable BB experimental features.

https://github.com/assertj/assertj-core/blob/48ed152ca335612fffb71

[2021-09-15 20:46] raphw commented on #2340
Byte Buddy expects the net.bytebuddy.utility package to be exported what is not the case for your shaded module. I now added a mechanism to let Byte Buddy discover this deviation. Could you build Byte Buddy from master and try against that latest version?

[2021-09-15 22:54] scordio commented on #2340
The execution yields:

[code]

Looks good to me. What do you think @marcphilipp?

[2021-09-16 05:12] marcphilipp commented on #2340
That looks great! Thanks so much, everyone! 👍

[2021-09-16 21:20] joel-costigliola commented on #2340
Thanks everyone for the investigation and the quick actions!

[2021-09-17 10:36] #2318 closed

[2021-09-17 11:45] #2340 closed

[2021-09-17 14:15] cvgaviao opened #2345 "`hasSameTextualContentAs` is hanging with text file"
#### Summary
I'm trying to use asserj to compare a generated csv file with an existing one inside a junit test.
I'm using Eclipse (using xmx 3Gb) on java 8 in a Windows10 with 16Gb ram.

my file has 11Kb, more or less 240 thousand rows.

But the test is not completing. I did a debug and it is hanging in the MyersDiff.buildPath method.

#### Example

[code]

[2021-09-17 15:09] scordio commented on #2345
Thanks for reporting the issue, we will look into it.

[2021-09-19 12:06] Syemon commented on #2320
Hi, can I take this one?

[2021-09-19 16:24] scordio commented on #2320
Sure and thanks, @Syemon.

[2021-09-22 22:27] scordio opened #2347 "Test JAR should not be deployed to Central during releases"
c9807b9c9a300758ee262ea5026acd3be68781cf added the test JAR to the `maven-jar-plugin` configuration for the OSGi integration tests. As a side effect, the test JAR was deployed starting from version 3.17.2.

We should prevent the test JAR from being deployed during releases.

[2021-09-23 07:34] baadamczyk opened #2348 "How to recursively compare two objects with different field names but same values"
I want to compare two objects (DTO and an Entity) using AssertJ's recursive comparison, for purpose of unit-testing DTO->Entity mapper.
Both of these objects have fields with pretty much the same values, but some of the fields have different names between these two objects. That results in following error:

[code]

I've tried following configuration, but without luck:
[code]

Compared classess:

D

[2021-09-23 11:55] DanPetras opened #2349 "Extracting BigDecimal in assumption throws IllegalArgumentException"
#### Summary
Extracting BigDecimal from assumption throws `IllegalArgumentException: Unsupported assumption creation for class org.assertj.core.api.BigDecimalAssert`.

It seems that [Assumptions.asAssumption](https://github.com/assertj/assertj-core/blob/d9299db7a0dccfc1b70b6cb0996b6a231d99dd0f/src/main/java/org/assertj/core/api/Assumptions.java#L1349) is missing something like
[code]

#### Example

[2021-09-23 19:49] scordio commented on #2349
Thanks for reporting the issue, we will look into it.

[2021-09-24 10:12] joel-costigliola commented on #2348
There is no such capability as comparing actual field against a different expected field.

Adding such a feature would certainly increase the already complex recursive comparison code, thus I don't want to promise anything.

[2021-09-27 19:36] scordio commented on #504
There is a [SO question](https://stackoverflow.com/questions/64650768/is-there-an-option-to-compare-folders-with-subfolders-subfiles-with-assertj-gi) that has a use case related to this issue.

@joel-costigliola could this be a good candidate for the recursive comparison of `File` and/or `Path` types? It still sounds like a lot of work, but we could start by outlining the expected behavior with so

[2021-09-28 08:45] joel-costigliola commented on #504
Maybe we can start spiking it to get a better feel/estimate of the work involved, the recursive is a good candidate to spike this feature.

[2021-10-01 13:01] Rusgallaz opened #2356 "InjectSoftAssertions doesn't work as expected when parallel mode is enabled."
#### Summary
Framework: Junit 5
Using InjectSoftAssertions and running tests in concurrent mode are leading to incorrect test results. Tests that should have failed are eventually passed.

#### Example

[code]
Both tests should fail, but one of them passes and the other fails with two errors(from test one and test two).

Screenshot from IDE
![image](https://user-images.githubusercontent.com/392443

[2021-10-02 04:07] joel-costigliola commented on #2356
Thanks for reporting this issue with great details!

[2021-10-04 08:54] ansgarkonermann opened #2357 "Kotlin SAM overload resolution ambiguity between Consumer and ThrowingConsumer"
#### Summary
When using AssertJ Core 3.21.0 from Kotlin, an overload resolution ambiguity occurrs for methods having overloads which accept both Consumer and ThrowingConsumer.

Methods affected (list noncomprehensive)
[code]
#### Example

Worked before (typical syntax for Kotlin calling a method which takes a functional interface AKA "SAM")

[code]

Wordy workaround:
[code]
This overload ambiguity

[2021-10-04 09:16] joel-costigliola commented on #2357
@ansgarkonermann thanks for the investigation, we'll have to wait for the Kotlin fix for this one since there is a workaround.

[2021-10-05 04:52] anastya opened #2359 "comparingOnlyFields(*fields) selects fields not by a complete match, but selects fields for comparison starting with argument"
#### Summary
comparingOnlyFields(*fields) selects fields not by a complete match, but selects fields for comparison starting with argument

#### Example
Example code on Kotlin:
[code]

At the running this test the following error is returned:
[code]
But 'defaultRoleName' and 'deletedAt' fields are not specified for comparison.

May be is there a mistake in using these methods and something else ne

[2021-10-07 20:52] svametcalf opened #2361 "Upgrading to version 3.21.0 introduces `groovy.lang.GroovyRuntimeException: Ambiguous method overloading for method org.assertj.core.api.ObjectAssert#satisfies.`"
#### Summary
Greetings! Thanks for a great library!

When upgrading to the newest version of assertj-core (3.21.0), I am getting a number of the following exceptions when using assertj in Groovy.

[code]

I use a number of assertions with Groovy `Closure`s that now need an explicit cast. For example:

[code]

I believe this is caused by the Groovy interpreter attempting to implicitly cast the `Clo

[2021-10-07 21:52] joel-costigliola commented on #2361
There is a similar issue for Kotlin https://github.com/assertj/assertj-core/issues/2357 which is going to be fixed in the language (https://youtrack.jetbrains.com/issue/KT-17765).

AssertJ is meant for Java mainly, when we can we try to make things easy for other JVM languages but we don't want to reduce the java functionalities because a JVM language does not support them well.

Have you had a lo

[2021-10-08 18:18] ta7tou7 opened #2363 "Extracting through field names not supported for optional in java 17"
#### Summary
I'm upgrading to java 17 (from java 11), and I have some tests failing due to an incompatibility between java 17 and assertJ.
One of the breaking changes introduced by java 17 is [JEP 396: Strongly Encapsulate JDK Internals by Default](https://openjdk.java.net/jeps/396).
It seems that assertJ try to force access to non public value (not public) when extracting them through field name

[2021-10-08 19:15] scordio commented on #2363
Thanks for reporting this, we'll check if we can handle `Optional` fields differently.

Meanwhile, you could rewrite your assertion in the following way:

[code]

[2021-10-09 05:45] joel-costigliola commented on #2363
I'm afraid we will have a bunch of issues like that for java 17, unfortunately I don't think there are any command line options for libraries to get access to private fields anymore but maybe I'm wrong.

[2021-10-09 22:02] #2363 closed

[2021-10-09 22:08] scordio commented on #2363
@ta7tou7 the following should now work with the changes of #2364:

[code]

Please note that a `NoSuchElementException` will be thrown if `name` is empty. This behavior is in sync with `Optional#get()` when called without an `isPresent()` check before it.

[2021-10-11 04:41] onacit opened #2365 "Consider adding an idiom for double-equal-only comparison for Iterables."
#### Abstract

Apologies, if this issue is not applicable or there is already an idiom.

#### Summary

Consider adding an idiom for asserting an `Iterable` has exactly the same element against other `Iterable` using only double-equal(`==`) comparison strategy.

[code]

When, say, the `MySort` produced an unstable result,

[code]

I couldn't find any idiom for asserting the `actual` has exactly the

[2021-10-11 04:46] joel-costigliola commented on #2365
Have you tried [`usingElementComparator`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/AbstractIterableAssert.html#usingElementComparator(java.util.Comparator)) and passing a comparator that just checks objects are `==`?

[2021-10-11 04:57] #2365 closed

[2021-10-11 09:59] piefel commented on #2357
I do not think that this _can_ be fixed in Kotlin. It is not a bug in the language. To identify SAM interfaces, we can take arguments to the called function and the result type into consideration. If after that, more than one interface matches, we are out of luck. Now _exceptions_ are simply not taken into consideration here – and this is by design.

I somehow seem to remember a similar issue with

[2021-10-11 12:15] quijote opened #2366 "Create beautiful error messages for multi-line values and nested asserts"
#### Summary

AssertJ error messages currently do not take into account that `toString` of asserted values may contain new lines.

The resulting error messages can at times look awkward due to missing indentation.

#### Example

For example let's consider a class where `toString` returns multi-line XML:

[code]

For simplicity I will use the following:

[code]

[code]

This will produce the follow

[2021-10-12 08:47] dfa1 opened #2368 "AssertJ 3.21 breaking change with Kotlin 1.3.x"
#### Summary

By switching from AssertJ 3.20 to Assert 3.21 we have a build failures regarding usage `anySatisfy()` since there are new method overloads for `ThrowingConsumer`:

![image](https://user-images.githubusercontent.com/5798698/136923347-331256ba-a96c-446d-bb9a-b399cdec5d07.png)

It is not a bug in assertj-core per se, but maybe it would be nice to provide migration notes?
Any ideas how t

[2021-10-12 08:51] #2368 closed

[2021-10-15 10:29] #2349 closed

[2021-10-16 03:55] joel-costigliola commented on #2357
@elizarov is there a plan to address https://youtrack.jetbrains.com/issue/KT-17765?

[2021-10-16 20:30] scordio commented on #2363
In retrospect, it's more flexible if the extraction of an empty optional returns `null`, so I've adapted the code accordingly.

[2021-10-16 22:49] joel-costigliola commented on #2366
@temp-droid as this improvement should be the default, the best approach is to change the `StandardRepresentation`.
Double quotes are used to represent strings, so they should be removed in the given example.

[2021-10-17 16:39] martin-tarjanyi opened #2374 "Add `satisfiesAllOf` to `AbstractAssert`"
#### Summary
AssertJ already has support for soft assertions. However, that feature might be difficult to discover as it's not part of the main API and also a bit error-prone considering that you have to remember to call `assertAll` in the end.

`AbstractAssert` already contains a `satisfiesAnyOf` method, so this proposed method would be a nice complement to that. It would be easy to discover and

[2021-10-17 20:18] joel-costigliola commented on #2374
I think what you are looking for is [allSatisfy](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/AbstractIterableAssert.html#allSatisfy(java.util.function.Consumer)), it was named like this to follow the Java APi allMatch, anyMatch, ...

[2021-10-17 21:01] martin-tarjanyi commented on #2374
`allSatisfy` serves a different use case. It is part of `AbstractIterableAssert` and executes the **same assertions on all elements of an Iterable**.

`satisfiesAllOf` would be part of `AbstractAssert` and would execute **multiple assertions on the same object** in a soft manner.

[2021-10-17 21:40] joel-costigliola commented on #2374
You are right, I read your summary too quickly, my bad.

We can certainly add this, just wondering if we should just make `satisfies` to accept a vararg or go with `satisfiesAllOf`.

And thanks for wanting to contribute, I'm assigning this to you.

[2021-10-18 20:20] joel-costigliola commented on #2374
I would prefer not as the API is already quite big

[2021-10-19 11:30] sebthom opened #2377 "New Feature: AbstractCharSequenceAssert#containsAnyOfIgnoringCase"
#### Summary

Please add a `containsAnyOfIgnoringCase` method to `AbstractCharSequenceAssert`

#### Example

[code]

[2021-10-19 11:33] sebthom opened #2378 "New Feature: AbstractThrowableAssert#message()"
#### Summary
Please add a shortcut for `extracting(Throwable::getMessage, as(InstanceOfAssertFactories.STRING))` to perform assertions on an exception's message (discussed in https://github.com/assertj/assertj-core/discussions/2376#discussioncomment-1501664).

#### Example

Instead of
[code]

one can then use
[code]

[2021-10-19 20:20] joel-costigliola commented on #2377
Have you tried using an [element comparator](https://assertj.github.io/doc/#assertj-core-group-comparator) that would ignore the case?

[code]

[2021-10-19 20:33] joel-costigliola commented on #2377
Fair point, that's where it's a bit tricky for us, if we add all variants then the the number of assertions in the API will explode (it's already quite bloated).

[2021-10-20 06:11] parenko opened #2379 "MapAssert throws NPE on null key and value"
#### Summary
`MapAssert` throws NPE on `null` key and value, if `Map` implementation does not accept `null` values like `java.util.Map#of(*)`.
For `List` there ist a special method  `ListAssert#doesNotContainNull()`.
Maybe `MapAssert` should also have special treatment for `null` keys and values.
At least the negative verification methods shouldn't throw an exception.

#### Example

[code]

run wi

[2021-10-20 09:24] joel-costigliola opened #2380 "Standardize ShouldBeEqual"
#### Summary

`ShouldBeEqual` does not implement `ErrorMessageFactory` like all other errors, let's standardize it to be cleaner and have one way to create errors.

[2021-10-20 10:42] scordio opened #2381 "`isUnmodifiable` assertion for Maps"
#### Summary
Similarly to #2102, we could add a `isUnmodifiable()` method to the assertion methods for `Map` types.

#### Implementation Proposal

Under the hood, the assertion should try to call all the map APIs which are expected to throw `UnsupportedOperationException`. The assertion succeeds if all of them are throwing the expected exception, otherwise it fails.

Below is the mapping between t

[2021-10-20 10:43] mihaelaDev commented on #2381
Hi, can you assign this to me please?

[2021-10-20 10:44] scordio commented on #2381
Sure, thanks @mihaelaDev.

[2021-10-20 21:16] BenTels commented on #2379
Hello,

If it's okay with you, I would like to take a stab at this one. Can you assign it to me please?

Thanks,

Ben.

[2021-10-20 21:36] joel-costigliola commented on #2379
@BenTels happy to do that after we review the issue and how to address it.

[2021-10-21 12:54] BenTels commented on #2379
Anybody know what is up with pitest?

[2021-10-21 16:59] brian1105 opened #2383 "Fail message truncates before literal "expected""
#### Summary
Version 3.21.0
Any fail message that contains the literal "expected" will only output the portion of the message that occurs prior to that.
#### Example
The following code -

[code]
produces this output  -
[code]

[2021-10-21 22:05] mvpcortes opened #2385 "Slow compile time"
Hi, We have use assertj to a project and the maven project has slow testCompile time now. I see this article about slow compile time for overload and generic in JDKs after 8. And the JDK issues was not fixed.

`https://softeng.oicr.on.ca/dusan_andric/2019/08/19/assertJ/`

It is true?

I think this problem is not about this library. But I think we can make a best pratices to use to avoid this probl

[2021-10-21 22:57] joel-costigliola commented on #2385
Thanks for the kind words :)

Unfortunately that's not something we can really do something about as we need to use generics and and indeed `assertThat` is being overloaded a lot but that's by design.
The issue is a compiler issue that should do a better job, I'm curious if that is the case with java 17.

[2021-10-29 19:14] BenTels commented on #2211
Is anybody working on this? If not, can I?

[2021-10-29 19:17] scordio commented on #2211
Seems to be up for grabs, so I'll give it to you. Thanks, @BenTels!

[2021-10-29 19:32] BenTels commented on #2211
Thanks! :+1:

[2021-10-30 11:11] cvgaviao commented on #2345
@mccartney, sorry I didn't see the notification about your question.
The unique thing is that the file is a big 10Mb tab-separated column file.

[2021-10-31 03:42] joel-costigliola commented on #2345
@cvgaviao  could you zip the file and provide a link to it so that we can reproduce the issue?

[2021-10-31 06:20] temp-droid commented on #2345
@cvgaviao In your first message you said `11 Kb`, which is a bit smaller than `10 Mb` 😄

I think the issue comes from the fact that the 2 files are (a lot) different.
If I compare 2 similar files, the result is nearly immediate. With 2 (totally) different files, after 5 minutes the test is still hanging.

[2021-11-04 05:47] aaronjwhiteside opened #2390 "Support a recursive comparison option that treats null collections and empty collections as equal."
#### Summary
Currently when comparing two representations of the same entity from different domains/models, where one has null for a collection and the other has an empty collection, there is no option to treat these fields as being equal.

I can see there are options for `.ignoringActualNullFields()` and `.ignoringExpectedNullFields()`, but these options have other ramifications, when all I want

[2021-11-04 05:56] aaronjwhiteside opened #2391 "Support satisfies() operation on recursive comparisons"
#### Summary
Often it is a lot of work to implement custom predicates to compare specific types of fields differently, when using a recursive comparison.

It would be nice to leverage existing assertions and assertj functionality to make this easier.

I propose a few new methods on recursive comparisons.

#### Example

[code]

[2021-11-04 09:21] joel-costigliola commented on #2390
That can be a good addition, need to think about the naming, collection is too narrow, should be iterable or group to include arrays or have different method for iterables and arrays.

[2021-11-04 09:28] joel-costigliola commented on #2391
Need to think about this one, the recursive comparison reports differences but not assertion errors so that does not quite fit.
`withEqualsForFields`/`withEqualsForType` take a similar signature that your suggestions, it does not seem to be too much additional work. Do you have a more convincing example maybe? :wink:

[2021-11-04 09:28] #2374 closed

[2021-11-05 04:02] aaronjwhiteside commented on #2390
I'd be ok with two methods, one for Iterables, and another for arrays, you'd probably need another one for Maps too, as the Map interface doesn't extend Iterable.

[2021-11-05 04:24] aaronjwhiteside commented on #2391
I'm not sure I have a good use case, I actually ran into this issue while trying to work around https://github.com/assertj/assertj-core/issues/2390 .

The workaround looks something like this:

[code]

In this example I have to return `true`, because this function is a predicate even though I really just want to delegate to another `assertThat()` statement.

I understand that once support for comp

[2021-11-05 10:29] wimdeblauwe opened #2392 "Add hasNotNullValueSatisfying()"
#### Summary

When `Optional` is used, you can use `assertThat(optional).hasValueSatisfying( value -> ...)`. It would be convenient to also have something similar for nullable types.

Sometimes, I have assertions like this in my tests:

[code]

#### Example

It would be nice to be able to do the above in 1 statement like this:

[code]

Note: not sure if this is a problem, but this would mean that

[2021-11-05 10:37] scordio commented on #2392
Have you tried [`get()`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/AbstractOptionalAssert.html#get()) (or [`get(InstanceOfAssertFactory)`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/AbstractOptionalAssert.html#get(org.assertj.core.api.InstanceOfAssertFactory)) for type-narrowed assertions)?

It performs an implicit null che

[2021-11-05 10:58] wimdeblauwe commented on #2392
But then I can't do `something.getValue()` inside of the `isEqualsTo`, right?

[2021-11-05 11:15] scordio commented on #2392
What is `getValue()` exactly? Are you referring to [`Optional#get()`](https://docs.oracle.com/javase/8/docs/api/java/util/Optional.html#get--)?

[2021-11-05 11:28] wimdeblauwe commented on #2392
No, `getValue()` is just a random example of a getter on something that can be `null`.

Maybe it is clearer like this:

Suppose you have this:

[code]

If `thing` can be `null`, you need to guard against it like this:

[code]

I would love to be able to do this:

[code]

(Writing it like this, I wonder if `isNotNullValueSatisfying()` would be a better method name)

[2021-11-05 15:04] scordio commented on #2392
Thanks, now it's clear to me. Currently, the easiest way I see is:

[code]
Unfortunately, `extracting` does not perform a null check in advance, so

[code]

would fail with a `NullPointerException` if `thing` is null.

What if we would enhance the behavior of `extracting`?

[2021-11-06 12:13] BenTels commented on #2211
Submitted initial solution.

Should I assign this issue to someone else now?

[2021-11-06 12:28] BenTels commented on #2392
I would rethink that -- you'd be changing the semantics of an existing method. Right now `extracting` assumes that actual is not null or the extractor set by the developer can handle nulls. If anybody has used that fact, you'll be silently breaking their tests.

You could add an `extractingNullSafe` or something. But I actually think the meaning of @wimdeblauwe 's proposal is clearer.

Either way,

[2021-11-06 13:13] scordio commented on #2392
What I meant is that `extracting` should throw a proper assertion error with the corresponding message if the value is null, instead of just failing with a `NullPointerException`. I doubt that someone is relying on its current behavior in case of a null value, most likely there is a `isNotNull` call in front of it.

[2021-11-06 15:54] BenTels commented on #2392
That's also an option, I guess (although I would still leave it alone).

I still think @wimdeblauwe 's idea is better.

[2021-11-07 16:14] Philzen opened #2394 "`hasFieldOrPropertyWithValue` not working with Conditions"
#### Summary

Sometimes, i would like to check if a value of a field is simply not null, because i know it must be set with something, but *what* something is an implementation detail that my test does (or merely should) not care about.

#### Example

[code]

The test fails – ironically, the test output reads:
[code]

Not sure if this a bug or a (missing) feature. Anyway, would be really nice to b

[2021-11-07 22:11] alex-arana commented on #2357
I've created the following workaround in my tests. For the record, I still believe a more sensible approach would have been to name the new API `satisfiesThrowable` or similar.

[code]

[2021-11-08 07:50] filiphr commented on #2394
You can do something like:

[code]

[2021-11-08 08:49] Philzen commented on #2394
Thanks, that is nice a workaround.

However, in my real world example `HttpClient` has more fields that i would like to also check, but using `extracting()` ends the fluent assertion chain. So suppose i want to check two more fields after that in the same assertion being null, not null, or any specific value (like it's possible with `hasFieldOrPropertyWithValue` or `returns`), how would that be do

[2021-11-08 08:52] scordio commented on #2394
Is `HttpClient` exposing getters or everything has to be checked via reflection?

Another option could be the [recursive comparison](https://assertj.github.io/doc/#assertj-core-recursive-comparison).

[2021-11-08 09:03] scordio commented on #2392
The point is to reduce the options to do the same thing, which is already a bit of a flaw with AssertJ.

Currently, I don't see many benefits of introducing a new API for just a preliminary null check, while there is already an existing method that should have done it implicitly.

But let's reevaluate this if other use cases arise.

[2021-11-08 09:04] joel-costigliola commented on #2391
Thanks for the feedback @aaronjwhiteside, I'll leave the issue open for now and wait to see if similar requests come our way.

[2021-11-08 09:06] Philzen commented on #2394
No getters in sight – but if there were any, i still couldn't use `.returns(not(null), HttpClient::getBasic` – or could i?

I am not sure how i could apply these to the given problem – if you see how, could you provide an example?

I've updated my code example above now and hope this becomes clearer now.

Maybe i've been playing around with Mockito a bit too much in the last weeks and got really a

[2021-11-08 09:14] joel-costigliola commented on #2394
We have limited support for `Condition` it's mainly an extension mechanism, AssertJ does not provide conditions out of the box as it does for assertions.
If that's what you are looking for you can try Hamcrest (https://www.baeldung.com/java-junit-hamcrest-guide) which is designed towards assertions composition (at the price of assertiona discovery IMO).

[2021-11-08 09:17] #2378 closed

[2021-11-08 11:58] wimdeblauwe commented on #2392
With `extracting`, there is no way to nest the calls like with my proposal:

[code]

(That said, I still think `extracting` should not fail with a `NullPointerException`, but I see that as a separate issue)

About:

I don't see it as a flow that we have `isPresent`, `isNotPresent`, `isEmpty` and `isNotEmpty` for asserting `Optional`. I like having the option to use the method that makes the test t

[2021-11-08 13:25] scordio commented on #2392
Why not? Chaining is already a feature and only the null check is currently missing.

Assuming implicit null-check, you could write:

[code]

or, sacrificing type safety:

[code]

[2021-11-08 15:15] h908714124 opened #2395 "Error message from `containsSubsequence` should print offending token"
#### Summary
The error message from `containsSubsequence` should print the contents and index of the first token that was not contained in the actual value.
See the example below.
In this case, the offending token is the following line:

[code]

Eyeball search for the offending token is taking too long, if you have a lot of failing tests.

#### Example

[code]

[2021-11-08 16:27] scordio opened #2397 "`catchThrowableOfType` enriched alternatives"
#### Summary
Similarly to the enriched alternatives of [`assertThatExceptionOfType`](https://assertj.github.io/doc/#assertj-core-exception-assertions-assertThatExceptionOfType), we could introduce enriched versions of `catchThrowableOfType`.

#### Example

[code]

[2021-11-08 16:28] Spacca commented on #2397
I would like to work on this one as my first contribution

[2021-11-08 16:29] scordio commented on #2397
Sure, thanks @Spacca!

[2021-11-08 16:55] filiphr commented on #2394
@Philzen not the nicest code. However, you could still achieve what you are looking for with:

[code]

In any case, @joel-costigliola and @scordio perhaps something like

[code]

Could be added to the API of AssertJ  to make  it easier to achieve something like that.
However, I am not sure whether it is worth doing it or not, since you can always write

[code]

[2021-11-08 20:17] joel-costigliola commented on #2395
Fair enough @h908714124, thanks for the detailed report.

[2021-11-09 00:18] joel-costigliola commented on #2357
https://youtrack.jetbrains.com/issue/KT-17765 has been assigned so maybe this will be fixed.

[2021-11-09 09:08] joel-costigliola commented on #2392
I prefer @scordio suggestion with extracting as it is IMO more elegant than:
[code]

[2021-11-09 13:27] Philzen commented on #2394
@filiphr it's the assignment i was given, to write tests for an existing code base ... i guess we feel each other :wink:

@joel-costigliola Thank you for the clarification, i merely wanted to report this to check on wether this is a bug, or could be implemented as a feasible feature, given `Condition`s work on many other AssertJ-methods. If that's a no-go or to be considered rejected for the Asser

[2021-11-09 14:00] filiphr commented on #2394
Just to clarify @Philzen. I didn't mean that your code is not the nicest on. My proposal was not the nicest code 😄

[2021-11-09 22:59] scordio opened #2401 "`extracting` should throw a proper assertion error if `actual` is null"
#### Summary
Based on https://github.com/assertj/assertj-core/issues/2392#issuecomment-961969975 and further comments, the implementation of `extracting(Function, AssertFactory)` and `extracting(String, AssertFactory)` in `AbstractAssert` should be improved to ensure that a preliminary `isNotNull` check is performed.

#### Example

The following assertions:

[code]

should fail with:

[code]

inst

[2021-11-09 23:04] scordio commented on #2401
@bjhargrave as you used `extracting` in the past for custom assertions (https://github.com/assertj/assertj-core/pull/1781#issuecomment-588377368), do you see any issues if we add an `isNotNull()` call to the `extracting` implementations of `AbstractAssert`?

[2021-11-10 10:48] dginelli opened #2402 "Activating a research fault localization bot on your project?"
Hi!

We are software engineering researchers and are currently looking for active open-source projects where we could test a new cool software bot: flacocobot!

When a new pull request is open, if it has test failures/errors, flacocobot analyzes the failure and posts a diagnosis as comments to the pull request, highlighting the most suspicious lines that likely need to be analyzed to fix the bug.

[2021-11-10 14:32] bjhargrave commented on #2401
No. In all the cases were we use `extracting` in [osgi-test](https://github.com/osgi/osgi-test/), we have already called `isNotNull` directly or indirectly first.

For example: https://github.com/osgi/osgi-test/blob/659f5c7fe6c57cb194e3a511f1f4e726eceed166/org.osgi.test.assertj.framework/src/main/java/org/osgi/test/assertj/bundle/AbstractBundleAssert.java#L93-L96

cc: @kriegfrj

[2021-11-10 15:03] scordio commented on #2401
Thanks a lot for the feedback!

[2021-11-10 23:34] kriegfrj commented on #2401
I concur with @bjhargrave.

I think it makes good sense to do the `null` check as part of `extracting()` as you won't be able to extract anything useful if `actual` is `null` (I remember having the fleeting thought that this feature should be added but wasn't able to sustain the thought long enough to make an issue report or PR about it! :smile:). As BJ said we are working around this in [osgi-tes

[2021-11-11 09:11] wimdeblauwe commented on #2392
Unless you want to have multiple assertions at the same "level":

[code]

[2021-11-11 11:22] scordio commented on #2392
I think that we are heading to style details. The previous example could be written as:

[code]

I don't think we can objectively say that the nested solution is more readable than the flat one. Both are equally verbose and it really depends on personal taste.

For this reason, I still don't see it as a valuable addition.

[2021-11-12 08:42] joel-costigliola commented on #2402
We won't unless you can fix our flaky tests :wink:.

[2021-11-12 08:42] #2402 closed

[2021-11-12 11:37] kriegfrj commented on #2356
I'll try and have a look at this one next week.

[2021-11-12 17:35] unix-junkie commented on #2361
Kotlin clients which rely on this API are affected by the same problem (`OVERLOAD_RESOLUTION_AMBIGUITY`), due to the bug in the Kotlin compiler: [KT-17765](https://youtrack.jetbrains.com/issue/KT-17765).

[2021-11-15 09:53] joel-costigliola opened #2411 "extracting/map for iterable/array should throw a proper assertion error if any element is null"
#### Summary

Similar to  https://github.com/assertj/assertj-core/issues/2401 but for iterable/arrays

There are quite a few variations to cover and tests;
- [ ] `extracting(Function)`, `map(Function) `, `extracting(ThrowingExtractor)` and `map(ThrowingExtractor)`, will be fixed by changing `internalExtracting`, tests needed for the 4 methods exposed in the API.
- [ ] `extracting(Function...)` and

[2021-11-15 09:58] joel-costigliola opened #2412 "flatExtracting/flatMap for iterable/array should throw a proper assertion error if any element is null"
#### Summary

Similar to  https://github.com/assertj/assertj-core/issues/2401 but for `flatExtracting`/`flatMap`.

There are quite a few variations to cover and tests;
- [ ] `flatExtracting(Function)`, `flatMap(Function) `, `flatExtracting(ThrowingExtractor)` and `flatMap(ThrowingExtractor)`, will be fixed by changing `doFlatExtracting`, tests needed for the 4 methods exposed in the API.
- [ ] `fl

[2021-11-17 08:03] h908714124 commented on #2395
Moving forward, another idea is to add match numbers in end-of-line comments like this:

[code]

Since I need this urgently, I've already done a sample implementation here: [SubsequenceChecker](https://github.com/jbock-java/compile-testing/blob/main/src/main/java/com/google/testing/compile/SubsequenceChecker.java),[SubsequenceReport](https://github.com/jbock-java/compile-testing/blob/main/src/main

[2021-11-17 08:33] joel-costigliola commented on #2395
Good idea, can you create another issue for this? I'm going to push a commit closing this one.

[2021-11-17 08:33] #2395 closed

[2021-11-18 05:42] juherr opened #2414 "Offset with float[] assertion doesn't have the same behavior as Offset with float assertion"
#### Summary
`Offset` with `float[]` assertion doesn't have the same behavior as `Offset` with `float` assertion.

Tested with `assertj-3.21.0`.

#### Example

[code]

  [0.2f]
to contain exactly (and in same order):
  [0.7f]
but some elements were not found:
  [0.7f]
and others were not expected:
  [0.2f]
when comparing values using float comparator at precision 0.5

[2021-11-18 07:58] scordio commented on #2414
Thank you for reporting it, @juherr. We'll look into it.

[2021-11-18 08:26] juherr opened #2415 "Boxed vs unboxed arrays comparison should work"
#### Summary
According to #1948 boxed vs unboxed arrays comparison should work.

`assertj-3.21.0`

#### Example

[code]
Result:

 but was: "[42] (int[]@4ee5fa6f)"

[2021-11-18 08:31] scordio commented on #2415
In #1948 I mentioned that we do not expect your example to work:

so `contains` alternatives supporting boxed arrays should be used.

[2021-11-18 08:50] #2415 closed

[2021-11-18 09:38] #2401 closed

[2021-11-18 09:40] juherr commented on #2415
@scordio Sorry for the misread and thank you a lot for the appropriate solution.

For the record:
[code]
won't compile as explained in https://github.com/assertj/assertj-core/issues/1948#issuecomment-707644838

An alternative is:

[code]

[2021-11-18 12:38] scordio commented on #2338
The validity of this proposal is not confirmed yet (related to https://github.com/assertj/assertj-core/issues/2329#issuecomment-919539181).

[2021-11-18 15:29] spring1627 commented on #2060
Is combining the two methods below into one method in order to have ten or fewer methods in ShouldContainCharSequence.java or is creating a new class file preferred?

ErrorMessageFactory shouldContainIgnoringNewLines(CharSequence actual, CharSequence sequence,
                                                                     ComparisonStrategy comparisonStrategy)

ErrorMessageFactory shouldCont

[2021-11-18 15:41] beckerjohannes commented on #2060
Yes it is, I am currently out of time.

[2021-11-18 21:01] temp-droid commented on #2414
The first one uses: https://github.com/assertj/assertj-core/blob/main/src/main/java/org/assertj/core/internal/Numbers.java#L191.
It checks for strict and not strict comparison.

The second one uses https://github.com/assertj/assertj-core/blob/main/src/main/java/org/assertj/core/api/ComparatorFactory.java#L45
It only checks for strict comparison.

Should the `Offset` used in `Numbers` be strict by

[2021-11-19 05:17] kriegfrj opened #2417 "[soft] Soft assertions on collections not working on collections"
#### Summary

Regression in soft assertions on collections in AssertJ 3.20.0 under OSGi.

#### Example

[code]

With AssertJ 3.19.0, the above code compiles and runs fine under JUnit 5 in OSGi..

With AssertJ 3.20.0 and above the above code still compiles but fails at runtime with the following error:

`java.lang.NoSuchMethodError: org.assertj.core.api.SoftAssertions.assertThat(Ljava/util/List;)Lo

[2021-11-19 09:20] joel-costigliola commented on #2417
We need to go with a multi module project for assertj core so that we can have one module running in an osgi context.
At the moment it's hard to capture these errors.

[2021-11-19 13:10] juherr commented on #2414
@temp-droid In case I want strict comparisons, I would use:

[code]

[2021-11-19 20:43] ahmadsadeed commented on #2337
I have been working on this issue and have a question. For a case like below or similar situations, when we expect an IOException to be thrown, should I replace such mocks with actual examples of forcing an exception?

[code]

To:

[code]

I have such cases in multiple subclasses of FilesBaseTest and any suggestion will help. Thanks.

[2021-11-19 23:15] scordio commented on #2337
Thanks for working on it, @ahmadsadeed.

I think that these are test cases where using mocks would still make sense. This is also what we have for `Path` test cases:

https://github.com/assertj/assertj-core/blob/d267961e6950215cdaa855038fe4a8bd3806eb75/src/test/java/org/assertj/core/internal/paths/Paths_assertHasParent_Test.java#L67-L93

In case you'd like to bring this topic forward, I suggest ra

[2021-11-21 09:15] joel-costigliola commented on #2320
@Syemon if you don't have time to work on this one, it's not a big deal I'll take over.

[2021-11-22 17:29] Syemon commented on #2320
@joel-costigliola Thanks, I completely miscalculated how long it would take me. I got totally stuck in this task. I was not able to make it work with strongly typed assertion variant.

[2021-11-23 02:22] joel-costigliola commented on #2320
Don't worry @Syemon, thanks for the effort, we will take it from there.

[2021-11-23 02:48] joel-costigliola commented on #2357
https://youtrack.jetbrains.com/issue/KT-17765 is now fixed and is targeted for 1.6.20 🎉

[2021-11-23 02:49] joel-costigliola commented on #2357
Closing this ticket since it's addressed in Kotlin.

[2021-11-23 07:18] filiphr opened #2419 "Extracting from List of Maps throws exception"
#### Summary

#### Example

[code]

[2021-11-23 07:32] filiphr opened #2420 "Extracting elements on List of Maps throws exception on unknown fields"
#### Summary
We recently upgraded AssertJ to 3.21.0, we skipped 3.20 (because we got the upgrade through Spring Boot from 2.5 to 2.6) and we started getting failures in places that were working before.
This is caused by the fix that was done in #2111.

The example below runs fine with 3.19. However, it fails on 3.21.

In my honest opinion the fact that  `hasFieldOrProperty` used to do `map.get(nam

[2021-11-23 07:56] scordio commented on #2419
Hi @filiphr, I guess this one was sent by mistake and #2420 is the proper one, right?

[2021-11-23 08:24] scordio commented on #2419
Closing, but let us know if there is anything else we should consider.

[2021-11-23 08:24] #2419 closed

[2021-11-23 08:44] filiphr commented on #2419
I don't know how I ended up with 2. I guess I clicked a button while writing the first one and didn't realize. Sorry for the noise. Yes the other one is the right one. Thanks for closing this one

[2021-11-23 09:22] filiphr commented on #2420
Forgot to add something #2111 was originally about `hasFieldOrProperty` where I guess it is fine to throw an exception when the map does not contain the key. However, when extracting I would not expect the failure.

[2021-11-23 09:34] scordio commented on #2420
The main actor for all these cases is `getSimpleValue`:
https://github.com/assertj/assertj-core/blob/a9a93f0858db73eb15560011687fb12a6975bcba/src/main/java/org/assertj/core/util/introspection/PropertyOrFieldSupport.java#L65-L94

We've already realized that this method is involved in too many flows and we're doing too much here, so we're planning some refactoring to make sure each assertion is flex

[2021-11-23 09:46] filiphr commented on #2420
Yes I remember seeing some issues around this. I even think I chimed in some of them 😄.

We rolled back to 3.19.0 for now. I'll see if I can do something like a PR in this area. Do you by any chance remember which issue you had about the refactoring?

[2021-11-23 10:03] scordio commented on #2420
We briefly discussed this topic with @joel-costigliola, but we didn't create a corresponding issue yet.

For example, I had in mind to introduce an implicit conversion for `extracting` methods having a `String` parameter, so something like this would work:

[code]

However, this could cause side effects to other features, like the recursive comparison.

My initial thought about refactoring would b

[2021-11-28 09:52] joel-costigliola opened #2424 "Assertj multimodule build"
#### Summary

We tests assertj core with integration tests to validate junit 4, testng and osgi integration, this works but is more a workaround to simulate different environments.

A better solution consists in defining a multi module project where junit 4 and testng checks will be done in their own modules which are closer to real project using assertj.

#### Modules:

- assertj-core
- assertj-g

[2021-12-04 04:15] #2048 closed

[2021-12-07 22:43] scordio opened #2428 "`containsKey` of map assertions overuses `containsKeys` implementation"
Currently, `containsKey` of `AbstractMapAssert` delegates the execution to `containsKeys`, wrapping the expected key in an array and getting the error message from `ShouldContainKeys`.

Ideally, `containsKey` should have its simplified implementation, backed by `Maps#assertContainsKey` with a dedicated error message coming from `ShouldContainKey`.

[2021-12-08 03:19] zihanxu3 commented on #2412
Hi can I take this issue? Thanks!

[2021-12-08 03:38] joel-costigliola commented on #2412
Sure, go ahead @zihanxu3! thanks!

[2021-12-08 09:51] #2320 closed

[2021-12-08 19:47] umarmahmud commented on #2428
Can I take this issue?

[2021-12-08 21:47] joel-costigliola commented on #2428
Thanks @umarmahmud, go for it! :)

[2021-12-09 09:17] nga0315 commented on #2414
Hi, I would like to try working on this.

[2021-12-09 09:20] scordio commented on #2414
Thank you, @nga0315! Please give us a bit of time to review the issue and confirm the way forward. Once done, feel free to jump on it!

[2021-12-09 12:46] avenue68 opened #2432 "Problem with Eclipse AspectJ Project"
#### Summary
When I try to run a Junit5 test class in Eclipse AspectJ Project, I got the following error message on the following pop-up.
[code]
![error](https://user-images.githubusercontent.com/83228978/145398871-0bb2e03b-61fa-4005-b239-e1ff2fdf7b47.png)

Here are some information I confirmed.
- The error happens when calling assertion methods which needs ThrowableAssert$ThrowingCallable depende

[2021-12-09 14:12] avenue68 commented on #2432
I noticed that I can't run test codes with [click on test source in package explorer →  Alt + Shift + X → T]
but I can run test codes with [click following icons → run execution in history].
![icon](https://user-images.githubusercontent.com/83228978/145411593-c54f48d5-cd9a-4988-a58e-5a64d29aa67c.PNG)

So I guess this problem is cause by Eclipse or AJDT.
Should I close this issue?

[2021-12-09 20:19] joel-costigliola commented on #2432
It's likely an a project setup issue with eclipse, you can close the issue.
Our project is named AssertJ and not AspectJ btw 😆

[2021-12-10 01:35] avenue68 commented on #2432
@joel-costigliola
I couldn't identify which AssertJ or AspectJ (including AJDT) is the cause of this problem and AssertJ community seems more active than the other so I report it here.
I'm sorry and thank you for your response!😊

[2021-12-10 01:36] #2432 closed

[2021-12-10 17:48] Sandared opened #2434 "ClassCastException instead of ComparisonFailure when comparing Double to Integer using `usingRecursiveComparison()`"
#### Summary
In my case I have two complex objects which have a "value" member variable of type "Object". When I compare two of those objects via "usingRecursiveComparison()" and one of the objects has a double value and the other an integer value, I get a ClassCastException instead of a  ComparisonFailure as expected.

#### Example
This behavior can also be reproduced via a simplified comparison:

[2021-12-12 04:44] #2411 closed

[2021-12-12 04:59] joel-costigliola commented on #2434
Hi @Sandared,

I have tried your example and it gave an introspection error:
[code]

Could you give us a reproducible test case?

[2021-12-12 05:19] joel-costigliola commented on #2434
If I wrap the values in a class like:
[code]
I get a `ClassCastException`:
[code]
Since you are trying to compare doubles with integer, I think that behavior makes sense as a default behavior.

Now what you could is register your own way of comparing numbers for specific fields, this test works:
[code]

Note that at the moment, using  `withEqualsForType(closeEnough, Number.class)` instead of `with

[2021-12-12 11:37] Sandared commented on #2434
Hi @joel-costigliola

thanks for digging into this issue :)

I just verified that I got the ClassCastException also with the minimal example and I can reproduce it on GitPod where I use the following JDK:
[code]
I created a repository for that here: https://github.com/Sandared/assertj-bug-1
If you want to try it for yourself you can use this link https://gitpod.io/#https://github.com/Sandared/asse

[2021-12-12 12:14] Sandared commented on #2434
I just thought about your workaround: the example in the documentation of `withEqualsForFields()` implies that I have to know the fields exactly up front, i.e., I cannot use regexes like `.*?properties` for a `properties` field that might exist on different levels of a recusive object hierarchy.
E.g., if I have a class like this:
[code]

I would have to explicitly define every nested `properties`

[2021-12-12 12:40] Sandared commented on #2434
Sorry for spamming :/

Regarding this test case of yours:
[code]

I really think, that a ClassCastException is not an expected behavior here. Actually I would just expect the assertion to fail, as those two objects are not equal. So I would expect a failing test and not a test in error.

Given the case you have a more complex object, e.g.,
[code]

Wouldn't that then sometimes lead to failing the t

[2021-12-12 20:26] joel-costigliola commented on #2434
Thanks for the detailed case, you have a point on the `MyComplexObject` example which should have worked, `ClassCastException` should probably be reported as comparison failures instead of blowing the comparison (still need to think about it more but that looks reasonable).

[2021-12-12 20:41] Sandared commented on #2434
Hi Joel,

thanks, glad I could clarify that case :)

[2021-12-13 08:42] akozlova opened #2437 "DefaultAssertionErrorCollector dismisses expected/actual fields during injection of line numbers"
#### Summary
Given junit 5 on the classpath, `org.opentest4j.AssertionFailedError`s  in `assertAll` method are cloned to be decorated with line numbers. During `org.assertj.core.api.DefaultAssertionErrorCollector#createNewInstanceWithLineNumberInErrorMessage` expected/actual values of  assertion failures are not restored though. Thus IntelliJ is unable to display `Click to see difference` link wit

[2021-12-13 09:12] unix-junkie commented on #2437
The corresponding issue in IntelliJ bug tracker is [IDEA-261779](https://youtrack.jetbrains.com/issue/IDEA-261779).

[2021-12-14 08:59] #2412 closed

[2021-12-14 09:03] joel-costigliola commented on #2437
Thanks for reporting this, good catch !

[2021-12-15 05:45] ueberfuhr opened #2438 "Reactor Support?"
#### Summary
Are there any plans to enhance AssertJ by a Reactor Module to test Mono/Flux?

#### Example

see https://github.com/jacek-rzrz/assertj-reactor

[2021-12-15 05:46] ueberfuhr commented on #2438
And of course, if this is a matter of manpower, I would support. ;-)

[2021-12-15 08:33] joel-costigliola commented on #2438
No plan due to lack of manpower as you pointed out (and expertise for me let's be honest) but we are happy to welcome a new module if one or many contributors can lead it.

[2021-12-15 08:45] #2437 closed

[2021-12-15 15:37] scordio commented on #1986
The same [workflow](https://github.com/assertj/assertj-parent-pom/blob/main/.github/workflows/release.yml) as `assertj-parent-pom` will be introduced to release 3.22.0.

[2021-12-15 17:08] shekibobo opened #2439 "`describedAs()` erases generic type for `AbstractCollectionAssert`"
#### Summary

After upgrading from 3.20.2 -> 3.21.0, `describedAs` no longer works correctly with `Set`. It instead requires both the actual and expected sets to first be converted to lists. This happens on any `contains*` type methods or any method that would take an argument of the generic type.

#### Example

[code]

## References

* [KT-53113](https://youtrack.jetbrains.com/issue/KT-53113)

[2021-12-15 17:16] scordio commented on #2439
Thanks, @shekibobo! We'll look into it.

[2021-12-15 23:00] scordio commented on #2439
@shekibobo could you describe a bit more what exactly is not working?

I tried to reproduce the issue using Java 9 `Set.of()` instead of `setOf` from your example, but all the assertions work correctly without any compile error.

[2021-12-17 01:12] #2379 closed

[2021-12-17 11:13] #2337 closed

[2021-12-18 18:46] hjohn opened #2444 "isExactlyInstanceOf gives confusing error message when instance is an anonymous inner class"
#### Summary

When using isExactlyInstanceOf and the actual value is an anonymous inner class, the message is confusing as it claims that the actual value is an "instance of null".

#### Example

[code]
Will not fail `isNotNull` but fails on `isExactlyInstanceOf` with:
[code]
This led me to believe the value in `x.red` is `null`, but it clearly isn't.

If it is not possible to detect the anonymous

[2021-12-18 21:23] scordio commented on #2444
Thanks for reporting it, @hjohn. We'll look into it.

A small reproducible example would be:

[code]

which yields:

[code]

[2021-12-19 04:31] #2434 closed

[2021-12-19 11:38] #2444 closed

[2021-12-19 16:09] scordio commented on #2444
@hjohn the error messages are now the following:

**Anonymous class**

[code]

[code]
**Local class**

[code]

[code]

[2021-12-20 13:20] hjohn commented on #2444
Thank you very much! :)

[2021-12-20 13:25] #1986 closed

[2021-12-21 17:50] whydoievenneedthis opened #2448 "Hibernate map (class org.hibernate.collection.internal.PersistentMap) containsOnlyKeys assertion fails"
#### Summary

The functionality was working fine in 3.19.0, it is failing with 3.21.0. The reason for the failure is that the `org.assertj.core.internal.Maps.assertContainsOnlyKeys` method changed the way it evaluates not expected keys, and it is now creating a clone of the original map. Creation of the new PersistentMap works fine, however the subsequent `putAll` method crashes:

[code]

#### Exa

[2021-12-22 09:57] scordio commented on #2448
Thanks for reporting it, @whydoievenneedthis. The fix looks quite trivial but I'd like to introduce proper testing based on Hibernate components, which might require some time. We'll try to include this fix in the upcoming 3.22.0 release.

[2021-12-22 10:03] bbogason opened #2449 "Add `startsWithIgnoringCase` and `endsWithIgnoringCase` to AbstractCharSequenceAssert"
#### Summary
While migrating assertions from Hamcrest to AssertJ I noticed there was no AssertJ equivalent to Hamcrest's `org.hamcrest.Matchers#startsWithIgnoringCase` and `org.hamcrest.Matchers#endsWithIgnoringCase`. However, AssertJ does provide `org.assertj.core.api.AbstractCharSequenceAssert#containsIgnoringCase` which is equivalent to Hamcrest's `org.hamcrest.Matchers#containsStringIgnoringCa

[2021-12-22 10:05] scordio commented on #2449
The proposal looks good to me. Thanks for offering help, @bbogason!

[2021-12-23 12:15] Meijuh opened #2450 "Illegal reflective access operation with recursive comparison and `ReentrantReadWriteLock`"
#### Summary
With assertj version 3.21.0 and Java 11, an illegal reflective access operation warning is raised, the full warning is as follows.

#### Example

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.assertj.core.util.introspection.FieldUtils (file:/home/meijer/.gradle/caches/modules-2/files-2.1/org.assertj/assertj-core/3.21.0/27a14d6d2

[2021-12-23 16:09] scordio commented on #2450
Could you please share an example that triggers the warning?

[2021-12-23 16:49] Meijuh commented on #2450
The code base is quite large; is there any strategy to pinpoint what could trigger the warning? Could it be related to such a reentrant lock?

[2021-12-23 16:54] bbogason commented on #2449
Also added `doesNotStartWithIgnoringCase` and `doesNotEndWithIgnoringCase` assertions.

[2021-12-23 18:56] scordio commented on #2450
Common triggers of reflection operations are for example `extracting` methods and recursive comparison.

Yes, I'd assume that AssertJ tries to use reflection to access `writerLock`. Based on the actual usage, we can evaluate if and how this can be avoided.

[2021-12-23 19:56] Meijuh commented on #2450
The following code snippet triggers the warning.
[code]
I was unable (yet) to pinpoint the case in my code base using `-Dorg.gradle.jvmargs="--illegal-access=deny"`, as this does not give me a stacktrace. Would it be useful to have such a stracktrace? Any ideas how to trigger the stacktrace?

[2021-12-23 20:30] Meijuh commented on #2450
In the meantime I found the practical cause. The following test triggers the warning also:
[code]
You will need to have the following `build.gradle`:
[code]

[2021-12-26 05:05] #2366 closed

[2021-12-27 11:35] scordio commented on #2450
The fix would be adding a custom comparison similar to
https://github.com/assertj/assertj-core/blob/7a68105826e00188f6821f7daca28dd86538a8aa/src/main/java/org/assertj/core/api/recursive/comparison/RecursiveComparisonDifferenceCalculator.java#L530-L548

However, we should decide how to compare `ReadWriteLock` instances and if we want to focus only on `ReentrantReadWriteLock` to address the current

[2021-12-29 00:13] #2448 closed

[2021-12-29 00:15] scordio commented on #2448
@whydoievenneedthis the fix is now part of the `main` branch. As some parts of Hibernate are replaced by mocks in the tests, it would be great if you could try the fix before we officially release it.

[2021-12-29 06:38] whydoievenneedthis commented on #2448
@scordio it all looks good on my end. thanks.

[2021-12-31 11:24] #2397 closed

[2022-01-01 12:01] scordio opened #2454 "Additional `assertThat...Exception` and `then...Exception` alternatives"
#### Summary

#2410 added some `catchThrowable` alternatives:
* `catchException`
* `catchIndexOutOfBoundsException`
* `catchReflectiveOperationException`
* `catchRuntimeException`

These do not have the corresponding `Assertions.assertThat...Exception`, `WithAssertions.assertThat...Exception` and `BDDAssertions.then...Exception` static methods.

We should add them and create a sync test between th

[2022-01-03 22:33] davidmichaelkarr commented on #839
I'm running into this issue, using version 3.21.0.  I verified that the cast fixes the problem, along with now creating a silly-looking warning in Eclipse about unnecessary casts. However, the second workaround about adding AssertionsForClassTypes seems odd.  In the comments here, you simply added that qualification, and that's what I tried.  That results in a new compilation error "Cannot infer t

[2022-01-03 22:41] davidmichaelkarr commented on #839
In this case (note that I didn't write this code), "doesNotContain" is not as apropos as "isNotEqualTo", which does not have this problem.

[2022-01-03 22:42] scordio opened #2455 "`isStatic` / `isNotStatic` for `Class` assertions"
#### Summary
`isStatic` and `isNotStatic` could be added to `Class` assertions, mostly relevant for nested classes.

#### Example

Having:

[code]

the following assertions should pass:

[code]

[2022-01-03 22:44] joel-costigliola commented on #839
Hard to know if that will work without a reproducible test case but try using https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/AbstractObjectAssert.html#extracting(java.util.function.Function,org.assertj.core.api.InstanceOfAssertFactory) to narrow the extracted type to a String.

ex:
[code]

[2022-01-04 14:26] nannany commented on #2454
Could you assign this issue to me as my first contribution?

[2022-01-04 18:59] scordio commented on #2454
Sure and thanks, @nannany!

[2022-01-06 13:13] scordio opened #2459 "Different behavior between recursive comparison and JsonUnit with Jackson `JsonNode`"
Given:

[code]

with JsonUnit:
[code]

we get a failure with:
[code]

but with AssertJ and recursive comparison:

[code]

the assertion passes.

Being `JsonNode` an `Iterable`, it seems that something is not working properly with AssertJ.

Source: https://stackoverflow.com/questions/70602371/assertj-not-working-with-jackson-jsonnode

[2022-01-07 18:35] snehalgupta2094 commented on #2459
Hi,
I am interested in contributing to this project, can you please assign this issue to me?
I am sharing the root cause & possible fix.
**RCA:** "usingRecursiveComparison" is not able to convert json to string correctly.
**Possible Fix:** Adding jackson library in dependencies to detect object type as JSONNode and convert it into string using object mapper.
Thanks,
Snehal

[2022-01-07 18:39] scordio commented on #2459
Thanks @snehalgupta2094 for the proposal, however it is not a viable solution as assertj-core is dependency-free by design.

We need to investigate further and see if something can be done without having Jackson types available.

[2022-01-07 21:27] temp-droid commented on #2459
Hi @scordio ,
The issue seems to come from the fact that the values in the Json are transformed into `IntNode`s and `TextNode`s.
Both those classes are extending`ValueNode`, extending`BaseJsonNode`, extending `JsonNode`, implementing `Iterable<JsonNode>`.

And because it implements `Iterable` the comparison gets caught by [if (dualValue.isExpectedFieldAnIterable()) in RecursiveComparisonDifference

[2022-01-07 22:09] temp-droid commented on #2459
Not a big fan of this kind of approach, but based on your requirements I think we could do something like:
[code]
Or creating a new `public isExpectedFieldAnJsonValueNode()` that would be called before `isExpectedFieldAnIterable` and would handle those cases.
Of course there will be limitations, like catching classes that extend `TextNode`, `IntNode` or other subtypes. And the list of classes  cou

[2022-01-08 01:43] joel-costigliola commented on #2459
Yeah, it's a bit tricky because we don't want to add jackson as a dependency (test dependency is ok though)

[2022-01-08 08:21] temp-droid commented on #2459
I can have a try at tackling it, yes. I'm wondering if we shouldn't also do something for `isActualFieldAnIterable`.

I'm not sure about checking for `JsonNode`, wouldn't it be safer to only check on `ValueNode` objects? Because `JsonNode` could be iterables like `ContainerNode`, `ArrayNode`…

[code]

[2022-01-08 09:45] joel-costigliola commented on #2459
thanks @temp-droid!

We would need `isActualFieldAJsonNode` if we wanted to do something specific when comparing JsonNode dualvalues like using their equals method, it looks like every concrete `ValueNode` subclasses override `equals` so it could be an option but  I'm not completely sure it's the way to go right now so I would not do it unless we find a compelling reason to.

That sounds reasonabl

[2022-01-08 10:36] scordio commented on #2459
The root cause is in `JsonNode.iterator()`, which returns `Collections.emptyIterator()` under the hood.

https://github.com/FasterXML/jackson-databind/blob/abc6669d974f1f2d3074dbeba1b57b28f0bc065e/src/main/java/com/fasterxml/jackson/databind/JsonNode.java#L953-L969

As far as I can see, only [`ArrayNode`](https://github.com/FasterXML/jackson-databind/blob/abc6669d974f1f2d3074dbeba1b57b28f0bc065e/s

[2022-01-08 16:03] filiphr commented on #2459
Just FYI, I would suggest that all instances of Jackson `JsonNode` are not treated for checks with recursion and instead the equals method is invoked, similar to how it is done for `Path`.

Perhaps there could be an SPI that would be invoked to ask whether an iterable should be part of a recursion traversal or not.

[2022-01-08 16:15] temp-droid commented on #2459
Interesting way to get the same result without loops indeed!

[code]

Just to be clear, `s/Actual/Expected/`?

[2022-01-09 08:45] scordio commented on #2459
Just looking at `DualValue`, I think we can start with a private method similar to `isAnOrderedCollection` (e.g., `isAJsonValueNode(Object)`) that would be used only by `isActualFieldAnIterable` and `isExpectedFieldAnIterable`, right? Or am I missing something?

I think the best is to introduce tests for all types so we can spot immediately how the behavior should be tuned.

[2022-01-09 09:29] temp-droid commented on #2459
Thank you for clearing that out, that's also how I would have approached it.

Sounds good to me.

[2022-01-10 20:09] temp-droid commented on #2439
Hi @scordio , I had a look at it. It seems @shekibobo is using Kotlin and not Java.

![image](https://user-images.githubusercontent.com/82510451/148831774-66fbba87-f83d-49ec-b839-c1f5fbc3959b.png)

And the method used to assert on `setOf` is different from the one used for `.toList()`:

`setOf`:

![image](https://user-images.githubusercontent.com/82510451/148832161-d02f20b4-5269-4a7e-b380-cff0379c

[2022-01-10 21:14] temp-droid commented on #2439
The definition of `setOf` is the following:
[code]

And the `Set<T>` type comes from `kotlin.collections`.

The compilation error comes and goes between version `1.7.0` and `3.6.0`.

Starting from version `org.assertj:assertj-core:3.6.0` until `org.assertj:assertj-core:3.20.2`, all tests compile (I didn't try all versions in between).

At that point, the second `setOf` uses the following `assertTh

[2022-01-10 22:22] scordio commented on #2439
Thank for the analysis, @temp-droid. This is most likely caused by 3db7c4ea4e0e2861795dfc8ea599fd6624b66d4f, added in 3.21.0.

[2022-01-11 10:17] #2454 closed

[2022-01-12 13:55] onukristo opened #2463 "AssertJ 3.21 breaks backward compatibility against 3.11."
#### Summary

I think what we do is pretty uncommon, but let me document it anyway.

We use microservices architecture, where each microservice builds a java client for downstream services.
It also builds a Junit 5 test suite, which downstream services can import into their test suite.

E.g. Gradle:

[code]
So the clients tests are ran inside the downstream service's test suite, in order to make s

[2022-01-12 14:24] kriegfrj commented on #2463
Leveraging bnd's baselining capability can guard against these sorts of regressions as it will error or warn if it detects a binary-incompatible change in the public API. @rotty3000, is there anything stopping us from adding that (if it hasn't been added already)?

[2022-01-12 14:46] kriegfrj opened #2464 "Support multiple inheritance for custom assertions using interfaces"
#### Summary

I've started trying to implement an AssertJ library for a module that includes many interfaces (the Eclipse resources plugin). The interfaces make heavy use of multiple inheritance.

The standard way of implementing custom assertions in AssertJ is to inherit from the abstract base class `AbstractAssert`. Being a class means that multiple inheritance is not possible. This means duplic

[2022-01-12 14:48] kriegfrj commented on #2464
One disadvantage is that at the moment many of the methods/fields that would be moved/copied to the Assert interface are protected - moving them to the Assert interface would make them public. But I think that this would be a small price to pay for the flexibility.

[2022-01-12 14:53] scordio commented on #2463
In general, there can be breaking changes with minor version upgrades as mentioned in #2148.

Also, binary compatibility reports for the most recent versions are uploaded at https://assertj.github.io/doc/#binary-compatibility, but going up to 3.11 is not really in the plans 🙂

As there is this strong dependency on the AssertJ version, I don't know if it's a viable option to enforce the AssertJ ver

[2022-01-12 15:11] scordio commented on #2463
@onukristo I will close this issue as I see no immediate action to take but please let us know if we can help in any way.

[2022-01-12 15:11] #2463 closed

[2022-01-12 15:16] kriegfrj commented on #2464
Hmmm, yes... good point. This pollutes the IDE results when you hit that "." with more irrelevant results.

If only Java interfaces supported the protected keyword...

Ok, having access to `myself` is mostly a convenience as you can always using `this` and cast it. That would eliminate one.

I can't see a way of getting rid of `actual()`.

But the helper methods like `failureWithActualExpected()`

[2022-01-12 20:41] joel-costigliola opened #2466 "Don't use reflection to compare AtomicReference in the recursive comparison"
#### Summary

Don't use reflection to compare AtomicReference in the recursive comparison as it fails in java 17.
https://stackoverflow.com/questions/70670884/assertj-issue-with-assertions-assertthat-usingrecursivecomparison-ignoringf/70688101#70688101

[2022-01-15 05:19] #2455 closed

[2022-01-15 23:32] WojciechZankowski commented on #2466
That's actually a duplicate of that issue: https://github.com/assertj/assertj-core/issues/2450 with the different output because of used Java version. It happens as well with other classes placed inside of ```java.util.concurrent.atomic.*``` or ```java.util.concurrent.locks.*```

I believe it would be good to find a generic solution to that issue as it can happen not only with JDK classes, right?

[2022-01-19 09:00] #2459 closed

[2022-01-21 14:02] raphw opened #2470 "Do not shade Byte Buddy"
Byte Buddy is currently shaded. As Byte Buddy retains compatibility, not shading the library would allow running recent JVMs without an update of assertj. Other libraries like Mockito or Hibernate do not shade BB and there are no known issues with this approach. In case of an error, stack traces would also be easier to process as break points remain intact.

[2022-01-21 14:27] scordio commented on #2470
Seems reasonable to me. What do you think @joel-costigliola?

[2022-01-21 22:44] joel-costigliola commented on #2470
If BB retains compatibility then I think it's fine, happy to remove shading as it will make life easier.

[2022-01-23 16:45] tomasbjerre opened #2471 "`matchesSnapshot`"
#### Summary
I am missing a way of asserting a big string of information. I like how Jest has implemented [snapshot testing](https://jestjs.io/docs/snapshot-testing). And in Java I usually use [ApprovalTests.Java](https://github.com/approvals/ApprovalTests.Java).

Would be nice if this feature can be part of AssertJ so that I don't need an extra library.

#### Example

Perhaps I capture the body b

[2022-01-23 20:18] scordio commented on #2471
This doesn't seem to fit AssertJ's main purpose. What problem do you see with adding a library created for this?

It seems a similar topic to assertions with JUnit - basic support is provided, but if you want more you should use [a third-party library](https://junit.org/junit5/docs/current/user-guide/#writing-tests-assertions-third-party).

[2022-01-23 23:32] scordio opened #2472 "Additional assertions for `CharSequence`"
Using the existing `matches(Pattern)` and POSIX regex character classes, we can add specialized assertions to `AbstractCharSequenceAssert`.

[code]

Also, the existing `containsOnlyDigits()` should be deprecated in favor of `isDigit()`.

[2022-01-24 05:43] NeshkaD commented on #2472
Hi, can you assign this to me, please?

[2022-01-24 07:35] scordio commented on #2472
Sure and thank you, @NeshkaD.

[2022-01-26 21:37] joel-costigliola commented on #2470
@raphw do you plan to have a major release at some point in the future that would break the backward compatibility?

[2022-01-26 21:39] raphw commented on #2470
No, I do not and given the wide spread of the library, I think I would change the namespace and group id in such a case.

[2022-01-26 22:01] joel-costigliola commented on #2470
Thanks @raphw!

I think this xkcd is quite close to be true for byte buddy! 😆 (you might consider relocating to Nebraska!)
![image](https://user-images.githubusercontent.com/382613/151253752-7a59ad65-783f-4feb-9452-54813d953ead.png)

[2022-01-28 05:43] ahunigel commented on #2359
I hit the same issue
`
field/property 'pointCategory' differ:
- actual value  : 1
- expected value: null

field/property 'pointUniqueId' differ:
- actual value  : 0L
- expected value: 605021792L

The recursive comparison was performed with this configuration:
- the comparison was performed on the following fields: unitNumber, id, name, point, responseCode, value, stringValue, sampleDataType, engUn

[2022-01-28 08:50] joel-costigliola commented on #2359
I'm not completely sure to understand the issue, could you provide a reproducible test case?
once you select some fields to compare, they are compared recursively unless you specify how to compare them with a specfic equals/comparator (see https://assertj.github.io/doc/#assertj-core-recursive-comparison-comparators)

[2022-01-28 09:09] scordio commented on #2359
Currently, [`comparingOnlyFields​`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/RecursiveComparisonAssert.html#comparingOnlyFields(java.lang.String...)) does not support partial matches.

Field names must be complete and also nested syntax is supported. Valid examples are "height" or "home.address.number".

We had this already in mind as a separate feature, I'll

[2022-01-28 09:49] blemale opened #2475 "Recursive comparison throws IllegalStateException when comparing Maps"
#### Summary

When using `usingRecursiveComparison` to compare classes containing `Map`s, we can ends up with an `IllegalStateException` due to duplicate keys. Indeed in `RecursiveComparisonDifferenceCalculator` a deep hash to index the expected map's entries, see [here](https://github.com/assertj/assertj-core/blob/main/src/main/java/org/assertj/core/api/recursive/comparison/RecursiveComparisonDif

[2022-01-28 21:18] scordio commented on #2359
Sorry, I overlooked the issue before, my previous comment is unrelated.

I was able to reproduce the issue.

Having:

[code]

the following:

[code]

yields:

[code]

[2022-01-29 00:49] joel-costigliola commented on #2475
Thanks for reporting this @blemale!

[2022-01-30 00:31] #2475 closed

[2022-01-31 11:14] xbif opened #2479 "usingRecursiveComparison with usingOverriddenEquals ignores equals method of the compared object"
#### Summary
Version 3.22.0
I expect if I use usingRecursiveComparison with usingOverriddenEquals, field "age" should be ignored.
But as result I get

#### Example

[code]

[2022-01-31 12:16] scordio commented on #2479
Thanks for reporting it, @xbif. We'll look into it.

[2022-02-01 21:40] chagmed opened #2483 "Inconsistent hasSameSizeAs handling of collection & array arguments"
#### Summary
`(myCollection).hasSameSizeAs(myArray)` assertion is OK
`(myArray).hasSameSizeAs(myCollection)` assertion doesn't compile

Is it possible to make `hasSameSizeAs` commutative with respect to collections and arrays?

#### Example

[code]

[2022-02-01 23:39] scordio commented on #2483
The last line doesn't compile because `assertThat(intPairs)` returns an [`Int2DArrayAssert`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/Int2DArrayAssert.html) and `hasSameSizeAs` is not available for two-dimensional assertions.

With #2296 / #2461 it will be possible to write:

[code]

I'm not sure how the use case could be improved further. I don't have a good

[2022-02-02 08:56] scordio commented on #2483
An option could be `hasNumberOfRowsAsSizeOf(Iterable)`, like:

[code]

but honestly I don't like it that much.

[2022-02-02 09:58] joel-costigliola commented on #2483
I agree with @scordio, `assertThat(intPairs).hasNumberOfRows(ranges.size());` looks reasonable to me and `assertThat(intPairs).hasNumberOfRowsAsSizeOf(ranges);` feels to specific.

[2022-02-02 14:56] chagmed commented on #2472
Very good suggestions. Thank you, @scordio.

`isNumeric()` implies _this is a string representation of a number — ANY number_
`containsOnlyDigits()` says _this string contains ONLY digits_

The names `containsOnlyDigits()` and `isDigit()` are consistent with the POSIX character class `\p{Digit} — A decimal digit: [0-9]`. The character class is _not_ named `\p{Numeric}`. Naming consistency is usefu

[2022-02-02 17:44] scordio commented on #2472
Honestly speaking, I've taken inspiration from [RandomStringUtils](https://commons.apache.org/proper/commons-lang/apidocs/org/apache/commons/lang3/RandomStringUtils.html), but I see the point about `isNumeric`.

I agree `isDigit` is a more sensible name, thanks for that @chagmed.

@NeshkaD would you mind taking this into consideration?

[2022-02-04 09:04] #2359 closed

[2022-02-05 14:52] frankbenoit opened #2486 "FeatureRequest: I wish there is a SoftAssertions.assertThat().isNotNullAndSatisfies( Consumer )"
#### Summary
When I want to verify fields in a nested object structure, SoftAssertions are cool, because they print out everything and do not stop on the first error.
However, when i access a field that can be null and want to go deeper, I need to write the field access twice or have a variable and "if". Non-fluent calls with repeating symbols:
[code]
The "if" is to avoid, when "something" is null

[2022-02-05 21:37] scordio commented on #2486
I'm not sure I understand where the problem is. Would you mind providing a reproducible example?

[2022-02-06 16:08] frankbenoit commented on #2486
My request only makes sense for soft assertions. Here, after a failed expectation, further assertions shall be evaluated and printed.

The above example, `obj` is exercised and as well the returned value from `getSomething()`.
In the error case, that `getSomething()` returns null, this shall be detected as an error, but the assertions on that returned null shall not be evaluated, because this woul

[2022-02-08 06:21] t1 opened #2487 "Provide `Comparable` assertions for `URI`"
#### Summary

`java.net.URI` is a `Comparable`, so `AbstractUriAssert` should extend `AbstractComparableAssert`.

I assume this to be a minor, non-breaking change. I'd do a PR, but the overhead seems to be too big in my eyes.

Note: `java.net.URL` is _not_ comparable.

[2022-02-08 09:21] scordio commented on #2487
Sounds very reasonable to me.

What kind of overhead do you see?

I'd expect test classes to be added for all the methods exposed by `AbstractComparableAssert`, but they should be trivial like:

https://github.com/assertj/assertj-core/blob/517c9c6fca738cb4d088f125ae5186a3a1e4efac/src/test/java/org/assertj/core/api/long_/LongAssert_isLessThan_long_Test.java#L26-L37

[2022-02-08 09:23] t1 commented on #2487
I'd have to clone the project, create a branch, install the Eclipse-Formatting-Plugin, etc. etc. pp. ... that kind of overhead ;-)

[2022-02-08 09:46] scordio commented on #2487
Got it and I am happy to help get you onboarded. What you mentioned is sort of prerequisite for any contributions 🙂

[2022-02-08 09:52] t1 commented on #2487
Thanks for the offer. I know how to do all of that. I'll be happy to do this when I have something more substantial to add.

[2022-02-08 16:08] pbacz commented on #2487
I can work on this.

[2022-02-08 23:57] 3flex commented on #2357
Though KT-17765 seems fixed in Kotlin 1.6.20-M1 it requires using experimental language version 1.7, e.g.:

[code]

[2022-02-09 00:51] pbacz commented on #2487
Hi, as for test cases, methods of `AbstractComparableAssert` are already tested in `org.assertj.core.api.comparable.AbstractComparableAssert_*_Test`, so I don't think there is a need to repeat those.

Your example of `LongAssert_isLessThan_long_Test` is quite different as it tests `isLessThan(long)` which is not defined in `AbstractComparableAssert` (it comes from `AbstractLongAssert`).

[2022-02-09 06:23] scordio commented on #2487
@pbacz you're right, I overlooked both points. Thanks for the PR!

[2022-02-09 06:27] #2487 closed

[2022-02-09 12:44] JanUrb commented on #2479
Hey, is this something I could work one as a newcomer?

[2022-02-09 17:52] pohly05 opened #2490 "assertIsNotEmpty manipulates stream position"
#### Summary
If you use asserThat(inputStream).isNotEmpty() the internal pos attribute is increased by one.
This is a bit confusing cause you don't expect that. In our case a file is created after the assert and we spent a lot of time to find the reason.

#### Example

[code]

[2022-02-10 20:40] scordio commented on #2490
We could prevent this with `mark` / `reset` if the `InputStream` implementation supports them, but this wouldn't work for `FileInputStream`.

Is there a reason why `File` assertions are not used? E.g.:

[code]

[2022-02-11 05:54] joel-costigliola commented on #2479
@JanUrb thanks for the offer, the recursive comparison is a bit tricky so I would not recommend it as a first issue to work on.
We usually label issues that newcomers can pick with "Good first issue", have a look if there is one you'd like to contribute

[2022-02-11 07:58] JanUrb commented on #2479
Hey @joel-costigliola,
Thanks for the advice. I will take a look at those issues. Maybe my initial analysis is of some use for you. It seems like `usingOverriddenEquals` ignores an overridden `equals` method of the root but respects  `equals` when comparing leaf objects.
I wrote this test to make the behaviour repeatable:
[code]

[2022-02-11 14:25] uc4w6c commented on #2479
I'm sorry.
I was also starting to work.
I made it in the draft version, but I had some concerns, so let me ask you a question.

@joel-costigliola
I have confirmed that the commit "1f8a43e6fa" has been changed so that the equals method is not used in the case of root object.
Is there anything wrong with my fix?

@JanUrb
Once the above problem is resolved, you can use my pull request to change it.
I

[2022-02-11 21:45] joel-costigliola commented on #2479
thanks for the analysis and the test case @JanUrb! :)

[2022-02-12 04:30] joel-costigliola commented on #2479
So it looks like the issue only occurs when comparing root object and `usingOverriddenEquals`, although this is a bug there is no point of using the recursive comparison combined with `usingOverriddenEquals` on the root object, better in this case to simply use `isEqualTo` which will perform the same assertion but will give a better error message (one that IDE can show visual diff):
[code]

[2022-02-12 04:39] uc4w6c commented on #2479
Thank you for letting me know.
You're right.
I will close the pull request.

[2022-02-12 04:43] joel-costigliola commented on #2479
Leave it open @uc4w6c, I'm looking at it and it might be that we don't need `isRootObject` anymore (which you have removed in your PR). I'll see if I can confirm that and if I do I'll integrate your PR and you'll get the credit for fixing this one :) (usually I get the PR code, play with it, refactor it if needed, squash all commits but keep the original PR author)

[2022-02-12 04:51] uc4w6c commented on #2479
@joel-costigliola
Thank you :)

[2022-02-12 10:49] scordio opened #2495 "Soft assertions with failed navigation methods should prevent further assertions"
We started introducing `isNotNull` checks in some navigation methods (#2401, #2411, #2412) but this created a side effect for soft assertions.

For example, the following:

[code]

fails at `extracting` with an NPE, as the `AssertionError` thrown by `isNotNull` is swallowed by the soft assertions' error collector, and the rest of the `extracting` method is executed.

We need to rethink what to exp

[2022-02-13 01:04] #2479 closed

[2022-02-15 01:35] kriegfrj opened #2497 "Soft assertion chain broken by asInstanceOf() and extracting()"
#### Summary

The bytecode manipulation magic that makes soft assertions work doesn't work with custom assertion factories, such as those used by `extracting()`, `asInstanceOf()`, etc.

I think this is related to #2495 and could be tackled at the same time.

#### Example

[code]

The call to `asInstanceOf()` breaks the soft chain. So if the `contains()` assert fails, it will throw an `AssertionFai

[2022-02-18 08:53] razilein opened #2499 "SoftAssertions should work with assertThatIllegalStateException"
#### Summary
SoftAssertions are not working with assertThatIllegalStateException.

This compiler problem shows:
`The method assertThatIllegalStateException() is undefined for the type SoftAssertions`

#### Example

[code]

[2022-02-18 11:08] joel-costigliola commented on #2499
Thanks for reporting this @razilein!

[2022-02-19 11:14] wouterpolet commented on #2165
Hi! I think I can fix this bug.
I'll create a PR for it if that's okay

[2022-02-20 07:41] scordio commented on #2450
@Meijuh what is your expectation when comparing two instances of `ReentrantReadWriteLock`?

We are evaluating the usage of `equals` by default for all the JDK types. Assuming we do it, the recursive comparison from your example would fail as `ReentrantReadWriteLock` doesn't override `equals`.

Is that the outcome you would expect, i.e., failing assertion without warnings?

[2022-02-20 10:14] scordio commented on #2165
Thanks for your help, @wouterpolet!

This issue might be not trivial so that's not the best candidate for a first contribution, but it's totally fine and highly appreciated if you want to look at it 🙂

As I mentioned in my previous comment, we expect the solution to be similar to what was done in #2167. However, that implementation evolved and there might be more to be considered (e.g., #2379) so

[2022-02-22 09:35] #2466 closed

[2022-02-22 10:19] scordio commented on #2450
The warning issue has been addressed in 7406133f21ed66e3908a50c581ad0f0aaf059aa6.

[2022-02-22 10:19] #2450 closed

[2022-02-22 13:58] Meijuh commented on #2450
@scordio I see you chose to fix it by using `equals`. Is this a backwards compatible change though? If I understand the fix in https://github.com/assertj/assertj-core/commit/7406133f21ed66e3908a50c581ad0f0aaf059aa6 correctly, then wouldn't the test in https://github.com/assertj/assertj-core/issues/2450#issuecomment-1000498743 fail? That might not be a big problem, but if this is the case I do not

[2022-02-22 14:56] scordio commented on #2450
@Meijuh it's indeed a breaking change.

We've taken the decision in the team not to introduce smart comparisons if the JDK is not doing them (i.e., `equals` is not overridden). We could enhance it in the future when a concrete use case arises.

About versioning, minor version upgrades can deliver breaking changes, more at #2148.

[2022-02-23 09:31] joel-costigliola commented on #2497
@kriegfrj it works fine on the latest main commit, I get the following error:
[code]
which version were you using?
here's the exact test I ran:
[code]

[2022-02-27 19:20] rala72 opened #2504 "assertThat((Comparable) obj) not working"
I have a class _(`PowerClass` in examples below)_ which is `Iterable` and `Comparable`.
I was trying to test it with something similar like the example below.

[code]

It works only like expected if the class is only `Iterable` and no cast is present.

[code]

It would be nice if the cast would work, and to prevent ambiguous method calls to have own `assertThat` calls for `Iterable` and `Comparabl

[2022-02-27 20:22] joel-costigliola commented on #2504
Since your class is both `Iterable` and `Comparable`, there is no way for java or AssertJ to know whether to use `assertThat(Comparable)` or `assertThat(Iterable)`.
What we could do is introduce `assertThatComparable` to force returning `Comparable` assertions.

In the meantime you can add factory utility methods like `assertThatComparable` or `assertThatIterable` in your codebase.

[2022-02-27 20:43] rala72 commented on #2504
Sorry, maybe it was not clear enough.
Yes, please add these methods and make it possible to cast it to `Comparable` as argument if possible like `Iterable`.

[2022-02-28 06:58] patrox commented on #2385
@joel-costigliola We are also facing serious issues with build time duration, as in one project we have ~5 000 unit tests that are heavily using assertJ assertions - as we really like the fluent API and clear messages.

After we migrated from jdk8 to jdk11 the build time has increased significantly, so as a potential solution for that we are considering to move from AssertJ to Hamcrest - as by sim

[2022-02-28 08:29] joel-costigliola commented on #2385
I wish there is something we can do but I'm not sure we can on AssertJ codebase.
If the root cause is [DK-8152289](https://bugs.openjdk.java.net/browse/JDK-8152289) then we fix except by removing all generics from AssertJ which we don't want to do.
I'm going to vote for the issue and put reference to this issue hoping it's going to get some attention, maybe vote for it too.
If you have a better id

[2022-02-28 08:44] joel-costigliola commented on #2385
It does not seem easy to vote or comment on the JDK issue.

@patrox have you tried other JDK > 8 to see if the performance is better?

[2022-02-28 08:49] patrox commented on #2385
I know this JDK issue which you are referencing, but in our case, the performance degradation was observed **after** moving from jdk8 to jdk11, while the mentioned issue describes a performance degradation which was observed in jdk8 already - so IMO this is not related as we didn't notice any performance issues in jdk8.

FYI, I played with the mentioned example from this bug report and one of ugly

[2022-02-28 08:53] patrox commented on #2385
Yes, I tried with JDK 17 and it was comparable to JDK 11.
It's quite a difficult choice for us, as we don't want to stick with JDK8 and in an ideal world we would like to keep AssertJ in the code base, but if that means we need to sacrifice build time, I'm afraid we would go with some other assertion library.

[2022-02-28 09:26] joel-costigliola commented on #2385
@patrox you do what you have to do, no hard feelings from the AssertJ team, I wish I had a better answer to this issue but I don't.

[2022-02-28 09:33] #2499 closed

[2022-03-01 00:54] joel-costigliola commented on #2385
@patrox my last idea: did you try other JDK like amazon coretto, maybe they have better generics compile support ...

[2022-03-02 06:57] onacit opened #2509 "Add AbstractStringAssert#asInstanceOf(Class<? extends Number>, ...)"
#### Summary

Please forgive me If this issue is already fulfilled or not appropriate.

I just faced a situation that I need to assert an actual of `String` against an expected of `int`.

[code]

#### Example

Do I have an already existing handy idiom or do I have any chance to get following one?

[code]

Thanks.

[2022-03-02 18:00] Philzen opened #2511 "[Feature request] Allow element navigation for Arrays (as available for Lists)"
#### Summary

For assertions on Lists, there are pretty nice methods to chain assertions on individual list elements as defined in `AbstractIterableAssert`, such as `element(int index)`, `first()`, `last()` and so on.

It would be awesome to be able to have such methods available for Arrays as well.

#### Example

Currently one needs to do two assertion commands for things like this:

[code]

It w

[2022-03-02 21:10] scordio commented on #2509
I don't think `asInstanceOf` is a good fit for your target.

Probably a combination of [`assertThatObject`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/Assertions.html#assertThatObject(T)) and [`extracting(Function)`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/AbstractObjectAssert.html#extracting(java.util.function.Function))

[2022-03-04 10:11] joel-costigliola commented on #2420
@filiphr we are thinking to let users to choose the behavior when extracting an unknown key from a map.

The question is what should be the default behavior, returning null as in 3.19.0 or failing as in the current version?
I don't have a strong opinion yet, my concern with returning null is that you can't differentiate unknown keys from the ones that exist with a null value.
Thoughts?

[2022-03-04 11:28] scordio commented on #2420
I vote for keeping the failure as the default behavior, mostly because of https://github.com/assertj/assertj-core/issues/2111#issuecomment-770436485.

Also, I'm not sure if we really want to have a global flag that would affect different assertion patterns.

I'll look into it during the weekend and see if maybe we can decouple the recursive comparison from the other assertions without big changes.

[2022-03-05 03:35] joel-costigliola commented on #1652
I don't think it is technically possible in the current codebase to change `assertThatCode` to support the suggested pattern.
`assertThatCode` returns an `AbstractThrowableAssert` and catches any exception from the given the lambda, to support the suggested pattern, `assertThatCode` would have to return an Object assertion for the values returned by the given lambda code (or null if void) and the

[2022-03-06 09:31] #2296 closed

[2022-03-06 09:41] joel-costigliola commented on #1652
Better naming:
[code]

[2022-03-06 22:51] kriegfrj commented on #2504
Well, `Throwable` is not an interface - but yes, as I discovered yesterday, this is a generic problem that affects classes that implement more than one interface. I had an object that implemented both `Predicate` and `Comparable` and had the same problem (couldn't get `assertThat()` to resolve the method without a cast to `(Predicate<String>)`).

I think it would be nice if we had a more generic a

[2022-03-06 23:45] kriegfrj commented on #2497
Sorry, this issue has been flushed from my cache :smile: - when I get back to this problem I'll double-check.

[2022-03-07 00:22] joel-costigliola commented on #2504
Let's see if we can address that issue with `AssertionsForInterfaceTypes` not inheriting `AssertionsForClassTypes` and use it for disambiguate imports.
We can certainly add `ComparableAssert.assertThat` as another way of addressing the issue too.

[2022-03-07 02:06] YeeTone commented on #2414
Hi, I'm a software testing engineering researcher. I would like to work on fixing this bug.

[2022-03-07 02:42] kriegfrj commented on #2504
This will help in some cases, however I don't believe it would help in my case or in the case of the OP.

My class implemented two interfaces (`Comparable` as well as `Predicate`), so it still would have two ambiguously matching methods in `AssertionsForInterfaceTypes`.

I believe the case in the OP will suffer from the same problem as it also implements two interfaces (`Comparable` and `Iterable`

[2022-03-07 04:39] HDreamer2 commented on #2511
@Philzen Hi, would you like to assign this to me? I'm interested in this issue.

[2022-03-07 06:20] scordio commented on #2511
Thanks for the offer, @HDreamer2.

We'd like to use the opportunity to review and improve the internal architecture related to this area, so the issue is still in discussion with the team and not ready yet to be picked up.

[2022-03-07 10:18] joel-costigliola commented on #2504
I think adding `assertThat` for each interface type and use `AssertionsForClassTypes` should address the issue, note that one will not be able to static import every potentially ambiguous `assertThat` as shown in the test below:
[code]

[2022-03-07 13:37] TheBestPessimist opened #2517 "assertThatThrownBy doesNotThrowAnyException fail when callable doesnt throw any exception"
#### Summary

Duplicate of https://github.com/assertj/assertj-core/issues/1787 because that is closed:

#### Example

[code]

And i get the exception:

[code]

[2022-03-07 23:27] scordio commented on #1652
I think it would be possible to add an overloaded version of `assertThatCode()` accepting `Callable` and exposing a `result()` method, so we would be able to write something like:

[code]

still keeping compatibility with everything else which is not a `Callable`:

[code]

I'll prepare a draft PR for evaluation.

[2022-03-08 13:22] #2509 closed

[2022-03-08 13:50] onacit opened #2520 "Add (Abstract)StringAssert#as(Boolean|Byte|Short|Integer|Long|Float|Double)"
#### Summary

This is a refined feature request derived from #2509.
Per @scordio's [commented](https://github.com/assertj/assertj-core/issues/2509#issuecomment-1057395093), it might be reasonable to add following signatures.

[code]

`NumberFormatException` throwable from those `parse...(String)` methods, except the [`Boolean#parseBoolean`](https://docs.oracle.com/en/java/javase/11/docs/api/java.b

[2022-03-08 14:03] onacit commented on #2520
A side concern arose regarding the naming.

I just hit by `parse` methods defined in classes reside in `java.time` package.

[code]

the `asYearMonth()` method seems have no problem but `parsesIntoYearMonth` may look better.

[code]

[2022-03-08 14:25] onacit opened #2521 "Add TemporalAccessorAssert"
#### Summary

It seems the [`TemporalAccessor`](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/time/temporal/TemporalAccessor.html) interface may have it's corresponding (abstract) assert.

#### Example

[code]

Existing assert classes may be refactored extending this class.

[code]

[code]

[2022-03-08 15:41] onacit opened #2522 "FileAssert_content_Test#should_return_StringAssert_on_path_content() fails"
#### Summary

At the end the method calls StandardComparisonStrategy#areEqual with `actual\n` and `actual\r\n`.

Windows/Temurin-11

#### Example

[code]

[2022-03-08 15:44] onacit commented on #2522
Do we have any chance the problem is from git line ending?

[2022-03-08 19:17] filiphr commented on #2420
In my opinion `extracting` should just do `Map#get` and not try to check if the map contains the key, i.e. the same as it was in 3.19.0.

I am not sure that it is worth it to have a special behaviour for choosing how to extract an unknown key from a map. I think that the `extracting` and `hasFieldOrProperty` decoupling as mentioned by @scordio is the way to go.

[2022-03-08 21:34] rala72 commented on #2504
what about the first suggestion of adding `assert[InterfaceName]`?
these methods don't have to be added in `AssertionsForClassTypes` / `AssertionsForInterfaceTypes` if you want to prevent it from having too many methods;
it is also fine in each Interface implementation like `GenericComparableAssert`
like that, we can still import the methods statically
_(you can do these also additionally to the o

[2022-03-08 23:58] joel-costigliola commented on #2504
good idea having `assertThat[InterfaceName]` in `[InterfaceName]Assert`, no ambiguity possible.

[2022-03-09 03:52] kriegfrj commented on #2504
I think I'm warming to the idea of assertThat<interfacename>. This could be in addition to assertThat(InterfaceName), so you still have the convenience of assertThat but the fallback of assertThatInterfaceName if you hit an ambiguity.

Under this scheme, all entry points could go in AssertionsForInterfaceTypes. They could optionally go in the assertion types too but it would not be necessary.

[2022-03-09 04:09] joel-costigliola commented on #2504
pros and cons of having `assertThat[InterfaceName]` in `AssertionsForInterfaceTypes`:
* pros: easy to discover
* cons: quite a lot of new methods in `AssertionsForInterfaceTypes` and co (`BDDAssertions`, `WithAssertions`, ...)

pros and cons of having `assertThat[InterfaceName]` in `[InterfaceName]Assert` is basically the opposite.

maybe we can find a middle ground where we would add `assertThat[

[2022-03-09 04:17] kriegfrj commented on #2504
The main con could be overcome if the assertion entry point methods could be generated automatically...

[2022-03-09 04:34] joel-costigliola commented on #2504
I was more talking about that code completion discovery ;-)

[2022-03-09 07:51] onacit commented on #2522
Seems not reproducible with macOS.

[2022-03-09 07:59] KevinChen16 commented on #2263
Is anybody working on this? If not, can I?

[2022-03-09 09:43] joel-costigliola commented on #2263
@KevinChen16 this is not up for grab as we are not sure what to support here.

[2022-03-09 13:58] scordio commented on #2521
Do you have a concrete use case where you would use a TemporalAccessor variable and the assertions in your example?

I'd expect the average usage of the date/time API is with the types provided by the JDK and you'd get already nicer assertions with those.

[2022-03-09 14:25] scordio commented on #2424
Moving OSGi integration tests to a separate artifact would also address #2347.

[2022-03-09 22:49] nstruharova opened #2524 "Feature request: Check if 2DArray contains a specified set of entries in specified or in any order"
#### Summary
Hi, I am a student of Computer Science at TU Delft and  I would like to contribute to the AssertJ Core project. However, the issues marked as good first issue are all assigned. Going through the code, I thought it would be nice to extend the set of assertions of the `2DArray` class. Here are potential new functions inspired by some of the (1D) Arrays assertions:

1. `assertContainsEle

[2022-03-10 02:12] onacit commented on #2521
@scordio I'm not having any specific use case for the `TemporalAccessor` interface.

Yet I'm using `TemporalAccessor` may times in my code.

Say,

[code]

[2022-03-10 15:30] onacit commented on #2521
This is a terribly wrong issue. Sorry @scordio

[2022-03-10 15:30] #2521 closed

[2022-03-11 02:40] onacit commented on #2521
Regardless of the use cases and the state of this issue, I think it's worth to leave possible example. Thanks.

[code]

And `TemporalAssert` may extend this class.

[code]

[2022-03-11 06:51] onacit commented on #2522
I'm mentioning @joel-costigliola based on the committer, regards.

[2022-03-11 11:15] joel-costigliola commented on #2522
I don't have windows, working with linux.

[2022-03-11 17:32] epeee commented on #2522
I will try to reproduce it on Windows.

[2022-03-11 19:20] epeee commented on #2522
The test mentioned is passing on my windows machine (Windows 10).

[2022-03-12 05:09] onacit commented on #2522
Maybe something's wrong with my environment.

[2022-03-12 05:09] #2522 closed

[2022-03-12 06:43] onacit commented on #2517
I think the failure came from the `assertThatThrownBy` not from the `doesNotThrowAnyException`.

In code,

[code]

You should've done like,

[code]

[2022-03-12 07:29] TheBestPessimist commented on #2517
That's true and i used `assertThatCode`, however my issue is that `doesNotThrowAnyException` should be removed from `assertThatThrownBy` in this case. It leads to unexpected results.

[2022-03-12 10:53] #2504 closed

[2022-03-12 22:56] joel-costigliola commented on #2517
I agree `doesNotThrowAnyException` should not be available after calling `assertThatThrownBy`.

[2022-03-13 12:16] TheBestPessimist commented on #2517
as long as this happens, i'm happy!

[2022-03-13 20:40] Philzen opened #2525 "`content()` resets custom error messages"
#### Summary

When using the `content()` operator on Files or Paths (which is a really nice feature introduced in #2252 and #2198, respectively), any customized messages set before the `content()` call will be disregarded.

This applies to messages being configured via `withFailMessage`, `overridingErrorMessage`, `as`, or `describedAs`.

#### Example

[code]

will revert to the default error messa

[2022-03-14 02:32] HeZean commented on #2517
Seems to be a great feature! If possible, I'd like to do some investigation and try to work on it :smile:

[2022-03-14 02:42] joel-costigliola commented on #2517
We are already looking at it @HeZean but thanks!

[2022-03-14 14:37] #2525 closed

[2022-03-19 12:00] hjir opened #2530 "Spotless check for formatting preferences"
#### Summary

I noticed that in your `CONTRIBUTING.md` file, you mention to use Eclipse formatting preferences and there is an Eclipse Formatter file with all the rules defined. However, the style of the code is not actually checked with the Continuous Integration workflows.

Since the Eclipse Formatter file with all the rules already exists, it should be pretty straightforward to use [spotless](h

[2022-03-19 12:05] scordio commented on #2530
Yes, that would be nice! Thanks for picking this up, @hjir.

[2022-03-20 09:25] joel-costigliola opened #2531 "Add assumptions methods to be in sync with assertions methods"
#### Summary

Sync `assertThatXxx` methods with assumptions `assumeThatXxx`.

#### Missing ones

* `assumeThatCollection`
* `assumeThatIterable`
* `assumeThatIterator`
* `assumeThatList`
* `assumeThatPath`
* `assumeThatPredicate`
* `assumeThatStream`
* `assumeThatExceptionOfType`
* `assumeThatException`
* `assumeThatRuntimeException`
* `assumeThatNullPointerException`
* `assumeThatIllegalArgumentE

[2022-03-21 10:42] simonis commented on #2385
In general it is always a great idea to use Amazon Corretto :)

However in this specific situation I'm afraid it won't help, because Amazon Corretto doesn't have any specific changes or improvements compared to the upstream OpenJDK version of the java compiler.

[2022-03-21 17:31] YeeTone commented on #2414
It should be a bug in the design of class `ComparatorFactory`. I have fixed this bug and submitted the pull request. In the new pull request, these two assertions can pass the test:
[code]

Here are the link to the pull request, and it is my pleasure if the team can merge the bug fixing pull request.
[Pull request#2535](https://github.com/assertj/assertj-core/pull/2535)

[2022-03-21 17:47] YeeTone commented on #2414
And in order to confirm the robustness, I will submit the testcases into the pull request soon(much probable in this week).

[2022-03-22 01:49] YeeTone opened #2537 "Float/Double precision bugs about assertion within the certain range"
#### Summary
Considering the following 2 cases, they both try to assert double values is equal to expected in the certain range. But these two assertions have different behaviours. It should be a serious bug, and hope the team can look at it.

#### Example

[code]

For the second assertion, the running result is:
[code]

[2022-03-22 03:41] HDreamer2 commented on #2531
@joel-costigliola Hi, I am interested in this. Would you like to assign this to me?

[2022-03-22 10:00] joel-costigliola commented on #2537
Although it's not intuitive the issue is related to floating value arithmetic that is not purely mathematical in computer science.
It turns out that `1.1f - 1.0f` equals `0.100000024` and not `0.1` which makes the assertion to fail.

see https://stackoverflow.com/questions/322749/retain-precision-with-double-in-java for an explanation.

[2022-03-22 10:01] joel-costigliola commented on #2531
Sure, go ahead @HDreamer2

[2022-03-22 10:10] YeeTone commented on #2537
Ya. I know this is the problem of arithmetic float/double calculation in computers. Actually, if we can fix this problem and provide more precise comparison in this project, our assertion framework will be more user-friendly, since they will suffer less from the precision problem.

[2022-03-22 10:19] YeeTone commented on #2537
And the solution for fixing this precision problem is using the combination of BigDecimal, which is the high-precision of java library. Please look at this [pull request](https://github.com/assertj/assertj-core/pull/2535).

[2022-03-22 20:14] joel-costigliola commented on #2537
We will thanks!

[2022-03-23 02:28] YeeTone commented on #2537
If you have any suggestions, or anything help wanted, please inform me and I am very pleased to contribute to this project!

[2022-03-25 03:48] onacit commented on #313
@joel-costigliola  @fiery-phoenix
Do we already have following assertions? Or do we have any reason not to have?

[code]

[2022-03-25 04:45] joel-costigliola commented on #313
No specific reason but not having anyone asked for them, we can add them for sure.

[2022-03-25 05:49] onacit opened #2541 "Add more basic assertions for Local(Date|Time)"
#### Summary

It would be nice if `AbstractLocal(Date|Time)Assert` has basic assertions for field values of `actual`.

LocalDate
- [x] `hasYear` - 9dc086d82aa58a755f36cf88449b0ca74288bb63
- [x] `hasMonth` / `hasMonthValue` - 40c979c253571743af8d68f18921a061e10cfcec
- [x] `hasDayOfMonth` - 253194d00395e1568e1be752b0075c2033672f97

LocalTime
- [x] `hasHour` - 8c54e417b697314e55170668bd96c236fa3c96d6

[2022-03-25 05:50] onacit commented on #313
@joel-costigliola [Issued](https://github.com/assertj/assertj-core/issues/2541), FYI.

[2022-03-25 07:32] perlun commented on #2067
@joel-costigliola Was this ever implemented?

[2022-03-25 09:03] perlun opened #2542 "`satisfies()` with nested assertions obscures stack trace"
#### Summary
`satisfies()` with nested assertions obscures stack trace

#### Example

We have a `satisfies()` call with many embedded assertions like this. AssertJ doesn't expose the stack trace of the actual line that triggered the assertion in this case, only the `satisfies()` line:

[code]

Here's what it looks like when I run this in IntelliJ. Line 222 is highlighted in the stack trace, but no

[2022-03-26 04:41] joel-costigliola commented on #2542
Thanks for the detailed report, `Assertions.setRemoveAssertJRelatedElementsFromStackTrace(false)` is a good step to make sure AssertJ does not truncate the stack trace.
I'll try to reproduce the issue in eclipse to see if this IDE specific or not.

[2022-03-26 04:45] joel-costigliola commented on #2067
not yet, it has fallen under our radar I'm afraid, I'll schedule it for the next release.

[2022-03-26 05:32] joel-costigliola commented on #2542
the issue relates to https://github.com/assertj/assertj-core/issues/2067, when building the `AssertJMultipleFailuresError` message we build a summary of all the underlying errors but not their stacktrace, so what you get is only the `AssertJMultipleFailuresError` stack trace (which points to the `satisfies` call).

[2022-03-26 05:37] joel-costigliola commented on #2542
@perlun  I'm closing this issue in favor of https://github.com/assertj/assertj-core/issues/2067 but feel free to continue commenting on it if you feel this is not the best solution.

[2022-03-26 10:55] joel-costigliola commented on #2067
playing with a possible implementation displaying 5 stack trace elements, given this test

[code]

the error message reports the proper line for the failing assertions:
[code]

[2022-03-29 02:42] hakanai opened #2545 "Add equivalent for Hamcrest's `typeCompatibleWith`"
#### Summary

Hamcrest has an assertion `typeCompatibleWith` which is very similar to but confusingly different from AssertJ's `isAssignableFrom` in that the classes are swapped. (Blame Java for having a confusingly named method, I guess.)

While it is true that I can swap the positions of the parameters to get the right behaviour, when trying to automigrate existing code, that is less straightfor

[2022-03-29 03:06] joel-costigliola commented on #2545
I never liked `isAssignableFrom` JDK but we used it as an assertion because it was in the JDK, I suggest could have `isCompatibleWith`, ex:
[code]
and the opposite with `isNotCompatibleWith`

[2022-03-29 05:54] scordio commented on #2545
[`isAssignableTo(Class)`](https://truth.dev/api/latest/com/google/common/truth/ClassSubject#isAssignableTo(java.lang.Class)) was also chosen by Truth.

I still feel it'd be more familiar than `isCompatibleWith` for non Hamcrest users.

[2022-03-30 14:05] ljrmorgan opened #2547 "Regression in `AbstractMapAssert#containsOnlyKeys` with Spring's `MultiValueMapAdapter`"
#### Summary
We saw this when updating from AssertJ 3.19.0 to 3.20.0. It appears that `AbstractMapAssert#containsOnlyKeys` is mutating the map that we're asserting on, which leads to test failures in our case. This is happening on an instance of `org.springframework.util.MultiValueMapAdapter`

#### Example

[code]

The issue seems to have been introduced in #2167, and is caused by [this](https://g

[2022-03-30 15:01] sarajuhosova opened #2548 "Improve the performance of `containsExactly` from quadratic to linear complexity"
#### Summary

The performance of the `containsExactly` function of `Iterables` is currently quadratic, while it could be linear. It seems to be because of the `IterableDiff` class it uses, which checks the extra and missing elements with an algorithm suitable for checking the elements in any order. However, this is not necessary, since they have to be present in the exact order and so a more effic

[2022-03-30 17:16] scordio commented on #2547
With a quick look, the only option seems to be performing a check of the fully-qualified class name: if it's `org.springframework.util.MultiValueMapAdapter`, we don't try to clone the map but copy it directly.

[2022-03-30 20:48] joel-costigliola commented on #2548
Interesting analysis! Yes `containsExactly` can and should be improved

[2022-03-31 06:48] #2547 closed

[2022-03-31 15:55] arturmkr opened #2550 "List contains elements using comparator"
Having following code:
[code]
`tale_long_version` is equal to `tale_short_version` if:
- title is the same
- tale_long_version.characters contains all tale_short_version.characters by TolkienCharacter.name

TolkienCharacter objects are equal if name is the same and height is close enough (using comparator closeEnough).

I can compare TolkienCharacter objects by code:
[code]

But I have no idea, ho

[2022-03-31 22:45] jessicant commented on #2541
HI. I would like to work on this. Please assign me.

[2022-03-31 22:52] joel-costigliola commented on #2541
@jessicant thanks!
Can you start with `hasYear` and raise a PR?
The idea is that we review it so that the other assertions are going to be easy to do ;-)
You can also only do `hasYear` if you feel that issue is too much work.

[2022-04-01 09:01] ljrmorgan commented on #2547
Thanks for fixing this so quickly @scordio !

FWIW: I wondered if you might see similar issues in the future with other collection types, I think that approach of wrapping/adapting a collection is quite common (That said, I did try using some of the Apache and Guava collection types and wasn't able to reproduce this with those). I'm not sure what the motivation was for copying/cloning the original

[2022-04-01 09:40] arturmkr commented on #2550
It doesn’t work, because tale_short_version and tale_long_version have different size.
[code]

I am looking for assertion, that I mentioned before:

I am looking for assertion, that could combine both assertion - check that one list contains elements from another list and check elements by comparator.

How it should work:
1) tale_long_version.title ==  tale_short_version.title
`"Tale one" == "Tale

[2022-04-01 12:57] scordio commented on #2547
@ljrmorgan the problem started with case insensitive implementations (#2159) and we introduced quite extensive parameterized tests using all implementations we were aware of:

https://github.com/assertj/assertj-core/blob/a124477b203f1816c746c1fb400c60e5079f1209/src/test/java/org/assertj/core/internal/MapsBaseTest.java#L54-L78

It might be we will encounter some other implementations and additional

[2022-04-01 13:42] mikybars opened #2554 "Can recursive comparison compare fields with the same name but different case style (snake_case vs cameCase)?"
#### Summary

In our project we have some autogenerated classes that use snake case for field names (and we can't do anything about it). The problem we're encountering is that those names do not match our field names in the domain as they are camelCase. Is there any workaround for this?

[2022-04-02 09:10] joel-costigliola commented on #2554
No it's not possible at the moment but we are looking into making the introspection strategy being an interface that one can change and thus it could possible with a custom introspection strategy.

Making the introspection strategy is significant work so it might take a bit of time before being there.

[2022-04-02 09:38] joel-costigliola commented on #2550
The only option at the moment would to register a comparator for `List`.

As an example, this test succeeds:
[code]
Obviously you would need to change `(v1, v2) -> true` to the proper list comparison you want to use.

[2022-04-02 16:20] Eru-gg opened #2556 "withFailMessage() crashes when its input contains % sign"
#### Summary
Real life example: I'm testing correctness of auto-generated urls. Some of those URLs contains % signs, because of [http escaping](https://www.w3schools.com/tags/ref_urlencode.asp). If I try to use `assertThat().withFailMessage().isEqualTo()`, then I'm getting an an exception from `String.format()` because Java gets confused about the percent signs

#### Example

[code]

[2022-04-03 05:23] #2067 closed

[2022-04-03 09:47] joel-costigliola commented on #2556
Thanks for reporting this @Eru-gg, the reason is that `withFailMessage(String newErrorMessage, Object... args)` is interpreted as `String.format`, we will add `withFailMessage(String newErrorMessage)` that just take the message as is.

[2022-04-03 10:35] joel-costigliola commented on #2531
@HDreamer2 are you working on this?

[2022-04-03 10:56] HDreamer2 commented on #2531
@joel-costigliola Yes, I’ve done some work but I'm a little busy last two weeks and I'm really sorry for that. I was working on this just now and I'll finish this soon.

[2022-04-03 10:57] HDreamer2 commented on #2531
@joel-costigliola Yes, I’ve done some work but I'm a little busy last two weeks and I'm really sorry for that. I was working on this just now and I'll finish this soon.

[2022-04-03 10:57] HDreamer2 commented on #2531
@joel-costigliola Yes, I’ve done some work but I'm a little busy last two weeks and I'm really sorry for that. I was working on this just now and I'll finish this soon.

[2022-04-03 12:13] HDreamer2 commented on #2531
@joel-costigliola Hi, I'm confused about the second requirement(refactoring). Does it mean I need to create a new test class named `Assertions_sync_with_BDDAssumptions_WithAssertions_and_soft_assertions_variants_Test` as it describes?

[2022-04-03 13:24] scordio opened #2557 "`assertThat(comparable)` returns `ObjectAssert` instead of `AbstractComparableAssert`"
### Summary
Given a `Comparable<T>` variable, it's currently not possible to use assertions from [`ComparableAssert`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/ComparableAssert.html) unless `T` is `Object`.

Also, if the type implementing `Comparable` targets a parent type that is not `Object`, `assertThat` always returns `ObjectAssert` for both strongly-typed

[2022-04-03 21:30] scordio commented on #2557
I tried restricting `ACTUAL` of `ComparableAssert`, from:

[code]

to:

[code]

Here is the result:

| Use case                              | `Comparable<T>` variable | Strongly-typed variable    |
|---------------------------------------|--------------------------|----------------------------|
| JDK type not comparing with  `Object` | compiles                 | N/A (dedicated assertions) |
| Cus

[2022-04-03 21:32] joel-costigliola commented on #2531
thanks @HDreamer2.
you need to change `Assertions_sync_with_BDDAssumptions_Test` so that it has a parameterized tests as we did in `Assertions_sync_with_BDDAssumptions_WithAssertions_and_soft_assertions_variants_Test`, hope it's clearer.

[2022-04-04 11:34] bananer commented on #2357
I could not get this to compile even with Kotlin 1.6.20 and setting languageVersion to 1.7

Here's my workaround, a bit shorter than the version by @alex-arana :
[code]

[2022-04-04 21:56] joel-costigliola commented on #2390
@Zhou-Yicheng thanks but it's not ready yet to be picked, the team need to decide the way to go.

[2022-04-05 15:02] BeshEater commented on #2108
It will be really great for the codebase that is heavily reliant on DTO classes. Very often we have DTO with a simple String field, for example, email, that will be mapped from another object via the method getEmail(), and this other object doesn't have the email field at all.
[code]

[2022-04-05 17:28] arturmkr commented on #2550
@joel-costigliola , so there is nothing like this in AssertJ?

[code]

[2022-04-05 19:19] joel-costigliola commented on #2550
Nope, comparing list the way you suggest is not something we would have since it's quite specific, which is why we have `withEqualsForType`, you also have `withEqualsForFields` if you want to compare some fields specfically.

[2022-04-05 20:22] arturmkr commented on #2550
Thank you!

[2022-04-05 20:22] #2550 closed

[2022-04-06 11:19] piewie opened #2559 "Java 11 to 17 -> BigDecimal intValue field no longer accessible (JPMS)"
#### Summary
Hi,

We are migrating our java code from 11 to 17 and use JPMS
With java 11 there was already a warning during running a testscenario where we do:
[code]

value is containing a BigDecimal and that gives the following warning:

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.assertj.core.util.introspection.FieldUtils (file:/home/ni

[2022-04-06 13:24] scordio commented on #2559
Related to #2466 and #2450, fixed with 7406133f21ed66e3908a50c581ad0f0aaf059aa6.

Will be part of 3.23.0.

[2022-04-06 13:24] #2559 closed

[2022-04-07 01:05] alex-arana commented on #2357
I've tested using experimental language version 1.7 as suggested and it works.. kinda
![idea](https://user-images.githubusercontent.com/2107295/162099589-fa99ba1e-48a3-4016-b4c1-ca7f507e78f4.jpg)

As can be seen in the attached image, braces around the `Consumer` lambda are still required..

[2022-04-08 10:59] HDreamer2 commented on #2531
@joel-costigliola Thanks, it's quite clearer and I've done most of the work including refactoring. But I still have some questions like the implementation of `assumeThatException`. Since there is no method like `assertThatExceptionOfType` whose argument is exceptionType, I tried to call `assumeThat(new Exception())` whose declaration is `public static <T extends Throwable> AbstractThrowableAssert<

[2022-04-08 18:20] jessicant commented on #2541
Hi, my friend @nith2001 will comment on this issue soon. Will you please make him an assignee as well? We would like to work on it together :)

[2022-04-08 18:21] nith2001 commented on #2541
Hello! Verifying what Jess said!

[2022-04-09 06:36] joel-costigliola commented on #2531
@HDreamer2 I think it would be nice to add `assumeThatExceptionOfType` and use it in the implementation of `assumeThatException`, `assumeThatRuntimeException` etc ...

[2022-04-09 06:38] joel-costigliola commented on #2531
I updated the issue description to make it clearer that we want to add `assumeThatXxx` methods in sync with `assertThatXxx`

[2022-04-09 07:38] HDreamer2 commented on #2531
@joel-costigliola Thanks, the description confused me in the very beginning and the advice sounds great.

[2022-04-09 10:21] onacit opened #2561 "Add Condition#negate(String, Object...)"
#### Summary

It will be nice if the `Condition` has a method returns a condition matches negated result.

[code]

#### Example

[code]

[2022-04-09 12:17] HDreamer2 commented on #2531
@joel-costigliola Hi, I've done the whole work. Should I write extra tests or make a PR now? This is my first contribution so I have no idea whether it is enough.

[2022-04-09 17:03] jessicant commented on #2541
@joel-costigliola was there a reason we were unassigned? We would still like to work on this issue, but we can pick another if need be

[2022-04-09 20:10] scordio commented on #2541
@jessicant I assume @joel-costigliola unassigned you only because `hasYear` was merged. Would you mind announcing here what you will choose next so that we can avoid overlap with other contributors?

[2022-04-09 20:23] scordio commented on #2561
Would `Assertions.not(Condition)` be enough?

It's not exactly like your proposal since you cannot provide a new description for the negated condition.

[2022-04-09 20:27] scordio commented on #2531
@HDreamer2 feel free to raise a PR! In case tests are missing, we'll give you feedback during the review.

[2022-04-09 20:45] jessicant commented on #2541
@scordio thank you for assigning us. We will work on `LocalDate hasMonth/hasMonthValue` next.

[2022-04-10 04:09] onacit commented on #2561
@scordio That will work. Thank you.

[2022-04-10 04:09] #2561 closed

[2022-04-10 04:23] joel-costigliola commented on #2541
thanks @jessicant, this issue being big I split it into tasks so that multiple contributors can work on it, they should as you did indicate which assertions they want to work on.
the integrated commit can be used as a reference for implementing the other assertions: https://github.com/assertj/assertj-core/commit/9dc086d82aa58a755f36cf88449b0ca74288bb63is

[2022-04-11 01:44] alex-arana commented on #2357
Compilation error occurs during Gradle build as well.. I am using Kotlin Plugin `213-1.6.20-release-275-IJ6777.52`

![Screen Shot 2022-04-11 at 11 38 53 am](https://user-images.githubusercontent.com/2107295/162651449-ade228f1-3c36-4960-bec6-826278dc217b.png)

[2022-04-11 02:49] YeeTone commented on #2537
Could you assign issue this to me? Thx! @joel-costigliola

[2022-04-11 02:55] YeeTone commented on #2557
Can I try to contribute to fix this bugs? @scordio

[2022-04-11 03:05] YeeTone commented on #2557
Hi, could you assign this to me? I would like to fix this issue.

[2022-04-11 03:09] nith2001 commented on #2541
Dope. Jessica and I will be working on it fully this Tuesday and we should be able to get a good chunk done then.

[2022-04-11 03:51] joel-costigliola commented on #2557
@YeeTone we are already on it with @scordio, thanks anyway.

[2022-04-11 04:18] YeeTone commented on #2524
This seems to be an interesting feature. Can I contribute to this? @joel-costigliola

[2022-04-11 10:07] joel-costigliola commented on #2524
Not yet @YeeTone as we have to discuss it with the team but thanks anyway!

[2022-04-11 20:29] jessicant commented on #2541
Hi @onacit, the example is a little ambiguous. For `hasMonth()` do you want it to work with `int` values and/or `Month` objects? We can write both, but wanted to check before we start adding features ;)

[2022-04-12 00:52] joel-costigliola commented on #2541
@jessicant this why @onacit has suggested having two assertions for month that matches the LocalDate API
- https://docs.oracle.com/javase/8/docs/api/java/time/LocalDate.html#getMonthValue--
- https://docs.oracle.com/javase/8/docs/api/java/time/LocalDate.html#getMonth--
Use `int` for `hasMonth` and `Month` for `hasMonthValue`.

@onacit correct me if I'm wrong ;-)

[2022-04-12 00:57] nith2001 commented on #2541
Awesome, I have it set up that way where one function takes Month enum and the other takes the month value.

[2022-04-12 08:33] JohnnyBFG opened #2563 "Improve the performance of methods `SoftAssertions#assertThat`"
#### Summary
We recently upgraded from AssertJ 3.8.0 to 3.22.0 and we noticed significant slow down in tests using _SoftAssertions#assertThat_.
I look into it and found that AssertJ switched from cglib to ByteBuddy in 3.9.1.
I did some simple performance corporation between version and found that proxy generation is ~4x slower compare to AssertJ 3.8.0. with cglib. Speed difference is quite noticea

[2022-04-12 08:40] filiphr opened #2564 "Expose throwable instance of assert factory"
#### Summary

Currently it is not easy to downcast an exception when using `assertThatThrownBy(...)`.

It would be good to add a new static method in `InstanceOfAssertFactories` that would allow users to do something like:

[code]

an alternative would also be to override the `isInstanceOf(...)` to perform a downcasting in the `AbstractThrowableAssert`, this might be a breaking change though, not

[2022-04-12 10:41] filiphr commented on #2564
It all started from https://twitter.com/hertzsprrrung/status/1513794267663192068. I am still on an old version (3.19) and didn't think to check in the latest.

It was about something like:

[code]

Where `exception` is of type `MyCustomException`. That works properly in the example you provided.

Closing this and sorry for the noise 😄

[2022-04-12 10:55] YeeTone commented on #2557
Thx! Hope this bug could be fixed!

[2022-04-12 12:08] filiphr commented on #2563
Perhaps an option for AssertJ would be to generate the proxies for the known classes during build time. Not sure what kind of an impact this can have on the JAR size of AssertJ.

Apart from that not sure if @raphw might have some better ideas for how to improve the performance. Perhaps there are some things that can be done in AssertJ, that we don't know about.

[2022-04-12 12:47] perlun commented on #2542
@joel-costigliola Thanks for the effort, appreciated! We don't use the multi-lambda with `.satisfies()` at the moment, and given that we have a number of assertions in these lambdas (17 in our local example I'm looking at for the moment), I'm not sure if it would be a great fit (and I'm not even sure if's required or if the fix for #2067 will help in our kind of use case as well?). But, I'm willin

[2022-04-12 13:06] scordio commented on #2272
@Zhou-Yicheng not yet, we still need to discuss it internally.

[2022-04-12 15:14] Leo0506 commented on #2541
Hello, I'm interested in this issue. Could you assign me the functions hasHour and hasMinute in LocalDateTime?

[2022-04-12 15:14] maxwell142857 commented on #2541
Hi, actually SariaCxs is my friend and I want to work on  the assertion of hassecond and hasNano in LocalTime, can I work on these two sub-tasks?

[2022-04-12 19:39] frankbenoit opened #2565 "isSameAs failure text has 'actual' twice"
https://github.com/assertj/assertj-core/blob/1d02a978b463bbd44865ed806f048838654260fb/src/main/java/org/assertj/core/error/ShouldBeSame.java#L33

[code]

I guess it should be only `Expecting:`

[2022-04-12 21:00] raphw commented on #2563
Are you running single tests? In this case, it takes longer indeed. The "problem" is that Byte Buddy resolves generics and bridges to correctly proxy types. Even if such type information is not present, it is resolved lazily what requires I/O and adds to the total balance.

If you run a largish suite, this should not normally be a problem. Have you tried running with `-Dnet.bytebuddy.raw=true`? Th

[2022-04-12 21:14] nith2001 commented on #2541
We'll take `hasDayOfMonth()` to finish off the LocalDate asserts.

[2022-04-12 21:19] #2565 closed

[2022-04-12 21:26] scordio commented on #2565
That was indeed weird. Thanks for reporting it, @frankbenoit!

[2022-04-12 21:33] scordio commented on #2541
Topics assigned as requested. Thank you all for your interest!

[2022-04-12 22:13] imparente commented on #2563
@raphw
a) Our builds are creating a new JVM every now and then for historic reasons that are beyond this conversation. It just needs to be done until we figure out a better solution for a completely different problem.
b) We want to encourage people to write proper and well isolated unit tests that should run in milliseconds. And one of the ways how our company chose to enforce this practice was th

[2022-04-12 22:21] joel-costigliola commented on #2563
Thinking out loud, @filiphr suggestion or code generation could work. We would need to do POCs to validate these approaches.

[2022-04-12 22:50] scordio opened #2567 "Slow performance for `Path` and `File` assertions tests"
With the changes introduced in d391e2019a23bbbdfd1ecd4035f9141adcc0b092 and b22ba74c656e43e06dc00337fff24460e6246e77, `Path` and `File` assertions tests are hitting the file system as they use JUnit's `@TempDir`, and this has degraded the overall performance of the test suite, getting even worse when jacoco is enabled.

Hitting the file system is probably not always needed, especially when working

[2022-04-13 00:30] YeeTone commented on #2541
I am interested in hasSecond of Local date time. Could you assign me to this feature?

[2022-04-13 00:31] YeeTone commented on #2541
I am interested in hasSecond of LocalDateTime. Could you assign me to this feature?

[2022-04-13 03:48] Zhou-Yicheng commented on #2541
Could you assign LocalDateTime's `hasYear`, `hasMonth / hasMonthValue` and `hasDayOfMonth` to me?

[2022-04-13 04:12] nith2001 commented on #2548
Can I take this issue?

[2022-04-13 09:03] YeeTone commented on #2541
Actually, @Zhou-Yicheng is my friend. I am interested in `hasSecond` of `LocalDateTime`. Could you assign me to this feature? @scordio

[2022-04-13 09:44] joel-costigliola commented on #2542
we aim to release 3.23.0 at the end of month but in software development there are "sometimes" delays :smile: .

[2022-04-13 10:20] joel-costigliola commented on #2541
@Zhou-Yicheng I have assigned you `hasMonth / hasMonthValue` that should be enough for a start, please look at https://github.com/assertj/assertj-core/pull/2566 for reference when that PR is merged.

[2022-04-13 10:25] joel-costigliola commented on #2272
we can do that, I would rename the method to `ignoringFieldsAnnotatedWith`

[2022-04-13 20:02] raphw commented on #2563
Byte Buddy has a build plugin. In theory, you can preproduce classes and use them. This is what I do with Byte Buddy and Mockito on Graal images what is a rather new feature there, but it requires some setup that is costly.

In general, though, short running programs such as single test execution, and dynamic code generation do never go well together. Ideally, you'd keep a warmed-up VM ready where

[2022-04-14 00:52] jessicant commented on #2548
@nith2001 and I would like to work on this together.

[2022-04-14 01:50] joel-costigliola commented on #2548
one comment about the issue is that we want to keep the error message as it is.

[2022-04-14 05:11] Zhou-Yicheng commented on #2272
ok, I will work on this issue firstly

[2022-04-14 05:15] joel-costigliola commented on #2272
@Zhou-Yicheng I would prefer you to focus on your other assigned issues, this one is a bit more complex.

[2022-04-14 22:51] jessicant commented on #2541
May I take 'hasNano' of 'LocalDateTime' next please?

[2022-04-15 04:34] onacit opened #2570 "Add more assertion on ClassAssert"
#### Summary

Apologies, If I'm wrong.

It's nice that the `ClassAssert` already has an assertion for [Class#isAssignableFrom](https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#isAssignableFrom-java.lang.Class-).
An assertion of opposite flow may be more intuitive, I believe.
Say, we have the following class or any other class being expected to implement the `MyInterface` interface.

[2022-04-15 07:46] scordio commented on #2570
Closing as a duplicate of #2545.

I personally favor `isAssignableTo` but we haven't come to a decision yet. Feel free to propose alternative names in the other issue.

[2022-04-15 08:40] filiphr commented on #2570
@scordio I do not think that this entirely a duplicate of #2545. Yes it asks for something like `isAssignableTo`. However, the other requested methods such as:

* `implements(interfaceClass)`
* `isSubclassOf(superClass)` - is direct subclass of
* `is(Descendant|Descendent)Of(ascendentClass)` - is direct or transitive descendent of
* `is(Ancestor|Ascendent)Of(descendentClass)` - is direct or transi

[2022-04-15 09:01] scordio commented on #2570
Fair point, @filiphr. Let's reopen this one and close #2545.

What I have in mind is that the idea behind `isAssignableTo` might solve most of the use cases and I'm not yet sure that the other assertions proposed by @onacit would be needed in a first round. I'd rather wait until we have concrete use cases that cannot be achieved with what the existing assertions + `isAssignableTo` would cover.

[2022-04-15 09:02] scordio commented on #2545
Closing as a duplicate of #2570.

[2022-04-15 09:02] #2545 closed

[2022-04-15 09:05] scordio commented on #2570
Alternative naming proposal from https://github.com/assertj/assertj-core/issues/2545#issuecomment-1081352291 for the `isAssignableTo` assertion:
* `isCompatibleWith` / `isNotCompatibleWith`

[2022-04-15 10:44] achterberatung commented on #2254
Hi there,

i have found the reason by myself. It is all about the compiled Regexes, which are producing the warning.

As i use org.mongojack.DBQuery, now replaced by org.bson.conversions.Bson (which have the same interface), i can use the function .toBsonDocument() from the BSON objects. These are comparable and my tests are now fully working.

`        assertThat(queryCaptor.getValue().toBsonDocu

[2022-04-15 10:44] #2254 closed

[2022-04-15 11:02] scordio commented on #2254
Related to #2466 and #2450, fixed with 7406133f21ed66e3908a50c581ad0f0aaf059aa6.

Will be part of 3.23.0.

[2022-04-15 15:36] zartc opened #2572 "Introspection.findGetter() should check "has" prefix for finding boolean properties"
#### Summary

Introspection.findGetter method only attempt to use "is" prefix to find boolean properties in a class. It should also try "has" as it is a frequently used prefix for boolean properties.

[2022-04-16 07:38] hakanai commented on #2570
`isAssignableTo` is fairly unambiguous. I have absolutely _no_ idea what `isCompatibleWith` means.

[2022-04-16 12:35] ascopes opened #2573 "Cannot link to assertj-core JavaDoc due to JPMS."
#### Summary

The JavaDocs for AssertJ appear to be being built under Java 8, which means the Java-9 `module-info.class` descriptor is not being taken into account, resulting in a JavaDoc being generated that behaves as if it were defined in the unnamed module (i.e. with no module name prefix on the path).

When linking another project to these JavaDocs for a JPMS-enabled project, `maven-javadoc-p

[2022-04-16 14:09] MatthewLENG2002 commented on #2541
Hello, I'm interested in this issue, could you assign LocalDateTime's `hasYear`  and `hasDayOfMonth` to me?

[2022-04-16 14:22] MatthewLENG2002 commented on #2541
@scordio @joel-costigliola Hello, I'm interested in this issue, could you assign LocalDateTime's `hasYear` and `hasDayOfMonth` to me?

[2022-04-16 15:11] scordio commented on #2572
`findGetter` is in line with the Oracle's [JavaBeans specification](https://download.oracle.com/otn-pub/jcp/7224-javabeans-1.01-fr-spec-oth-JSpec/beans.101.pdf), chapter 8.3.2:

Honestly, I couldn't come up with any boolean property name that would have a meaningful "has" method. "has" feels more natural with collections, for example.

Could you provide a concrete example?

[2022-04-16 17:16] zartc commented on #2572
“`has`” prefix is often prefered to express the notion of an object _HAVING_ a value or a characteristic instead of the notion of an object _BEING_ of a certain kind or in a certain state.

#### Example:
[code]

[2022-04-16 17:23] zartc commented on #2572
But thinking a bit further, I find cases where the behavior could be ambiguous, such as when a class has a getXXX AND a hasXXX (like the classes generated by Google protobuf Generator). It would be difficult to tell AssertJ to call the getXXX method instead of the hasXXX method (or vice versa).

Thus I'm going to close this thread, because it could do more harm than good.

[2022-04-16 17:23] #2572 closed

[2022-04-17 06:41] scordio commented on #2570
Some additional thoughts on @filiphr's comments:

`hasSuperclass` was a straightfoward addition because in line with [`getSuperclass`](https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#getSuperclass--) from the JDK. However, it looks only one level up and this might not be crystal-clear from the assertion name.

If we would like to add `implements`, I imagine this should check recursi

[2022-04-17 08:23] scordio commented on #2573
The Javadoc creation [runs with Java 11](https://github.com/assertj/assertj-core/blob/main/.github/workflows/release.yml#L18) but [targets Java 8](https://github.com/assertj/assertj-core/blob/main/pom.xml#L431).

A way to fix it could be aligning the `maven-javadoc-plugin` to the `maven-compiler-plugin` configuration.

[2022-04-17 08:34] scordio commented on #2541
Done, @MatthewLENG2002. Thanks for your help!

[2022-04-17 10:10] ascopes commented on #2573
That sounds good! Is there any risk of it breaking Java 8 projects that link to the assertj Javadoc?

[2022-04-17 10:16] scordio commented on #2573
I'm not sure about the compatibility with Java 8 projects, but we should be able to have integration tests and verify that everything works correctly.

[2022-04-17 10:27] ascopes commented on #2573
Cool, if you need any help verifying the issue with an existing project, feel free to shout and I can give it a try!

[2022-04-17 17:11] weiyilei commented on #1355
Is anybody working on this? If not, can I?

[2022-04-17 17:22] weiyilei commented on #2196
Is anybody working on this? If not, can I?

[2022-04-17 22:45] joel-costigliola commented on #1355
thanks @weiyilei, I have assigned you `ShouldHaveCauseReference`, you can look at `ShouldHaveCauseInstance` for reference.

[2022-04-17 22:55] joel-costigliola commented on #2573
Let's check that the javadoc is generated with good css rendition if we use a newer java version, I checked for java 11 it works fine but not on java 17.

[2022-04-17 22:56] joel-costigliola commented on #2196
@weiyilei it's not labeled as a first good issue and I already assigned you one ;-)

[2022-04-17 23:09] joel-costigliola opened #2576 "Fix javadoc style on java 17"
#### Summary

The javadoc generated style is broken in java 17

#### Actual

![image](https://user-images.githubusercontent.com/382613/163735532-68a27fb9-53ea-4576-b84c-283a24cadccc.png)

#### Expected outcome

* https://www.javadoc.io/doc/org.assertj/assertj-core/3.21.0/index.html
* https://www.javadoc.io/doc/org.assertj/assertj-core/3.21.0/org/assertj/core/api/AbstractIterableAssert.html#contain

[2022-04-18 05:38] scordio commented on #2573
We may also need to remove the [`--no-modules-directories`](https://github.com/assertj/assertj-core/blob/6a4e54cbad5198246ae41a21d8432c503b5c70ce/pom.xml#L32) javadoc option, which would allow the removal of the [JDK 13](https://github.com/assertj/assertj-core/blob/6a4e54cbad5198246ae41a21d8432c503b5c70ce/pom.xml#L557-L565) Maven profile.

[2022-04-18 05:44] scordio commented on #2576
We may need to do something similar to https://github.com/assertj/assertj-core/pull/1600#issuecomment-529258937.

However, this would require bumping the Java used in the release workflow to 17, which is currently not an option due to assertj/assertj-parent-pom#115.

This could be a blocker for AssertJ 4.

[2022-04-18 08:27] joel-costigliola commented on #2576
Yeah it's for AssertJ 4, I'll put the label

[2022-04-18 08:51] HeZean commented on #2520
Hi, I am interested in this. If these modifications are considered necessary, can you assign me?

[2022-04-18 18:37] oucem commented on #2357
Same case as @alex-arana with maven plugin

[2022-04-18 19:18] weiyilei commented on #1355
thank u bro, but I am really confused about what kind of reference will be required in this issue, can u give me an example plz

[2022-04-18 19:21] weiyilei commented on #1355
thank u bro, but I am really confused about what kind of reference will be required in this issue, can u give me an example plz

[2022-04-19 08:25] weiyilei commented on #1355
Hi bro, I still have no idea about what does the cause reference mean, as I know A.getcause() can get the throwable which lead to A, so what's its reference. :(
Besides, I want to know whether this issue is still open and remains any job to be finished, thanks.
Add more basic assertions for Local(Date|Time) #2541

[2022-04-19 10:06] weiyilei commented on #1355
should I use getStackTrace() or getSuppressed(), or import org.openjdk.jol.vm.VM and use VM.current().addressof()

[2022-04-19 10:31] joel-costigliola commented on #1355
ShouldHaveCauseInstance is the example

[2022-04-19 10:32] KevinChen16 commented on #2210
What about using `hasAllDefaultValueForFieldsOrProperties()`? Because I believe that most of the time users use this function to validate whether there are any fields or properties changed or not clear, using `hasAllNullFieldsOrPropertiesExceptPrimitiveTypes()` will bring the misunderstanding that the method ignores all changes in primitive types? And I also wonder if there is something that needs

[2022-04-19 10:33] joel-costigliola commented on #2196
Same goes for you @KevinChen16.

[2022-04-19 17:13] weiyilei commented on #1355
Hi, I am wondering if the content of ShouldHaveCauseReference_create_Test.java should be modified, or I should just fill the methods of ShouldHaveCauseReference according to the test content

[2022-04-19 22:44] joel-costigliola commented on #1355
I'm not sure I understand the question, if you modify ShouldHaveCauseReference you have to write the tests that proves your changes are working and thus you would need to add test cases in ShouldHaveCauseReference_create_Test

[2022-04-19 22:45] joel-costigliola commented on #1355
@weiyilei if you still don't understand what I'm saying it means you are not yet ready to contribute and you need a bit more experience before doing so

[2022-04-20 01:56] weiyilei commented on #1355
Hi bro, I have tried my best to understand ur requirements and finished my codes following the example of CauseInstance, I have a pull request and let me know if there is something I need to improve. thanks

[2022-04-20 12:22] onacit commented on #2570
I think the `isAssignableFrom` has its own responsibility as it is.

[code]

[2022-04-20 13:36] johannesknauft commented on #2357
I had the same problem after I updated spring boot. For me, the problem was solved by downgrade assertj-core to version `3.20.2` (`testImplementation("org.assertj:assertj-core:3.20.2")`). I guess that's not a long-term solution, but a workaround for now.

[2022-04-22 10:43] scordio commented on #2424
Proposal for a first milestone:

1. Update the project to be a multi-module:
[code]
2. Convert `assertj/assertj-parent-pom` to be a submodule ([keeping git history](https://gist.github.com/trongthanh/2779392)) and archive the source repository
[code]
4. Rename `assertj/assertj-core` repository to `assertj/assertj`

[2022-04-23 07:11] joel-costigliola commented on #2424
I'd like to know that point 3. is :smile: but otherwise I like the MVP like approach.

One thing I'd like the multimodule build to support is a selection of module to build,ex

- assertj-core
- assertj-examples
- assertj-core-junit4-with-opentest4j and remove the corresponding integration tests in assertj-core
- assertj-core-junit4-with-testng and remove the corresponding integration tests in asse

[2022-04-23 07:17] scordio commented on #2424
Point 3 is where the magic happens 🪄 😄

We can selectively build submodules, I guess a mixture of the following options can help tune our workflows ([source](https://blog.sonatype.com/2009/10/maven-tips-and-tricks-advanced-reactor-options/)):

[code]

[2022-04-23 11:45] SickDawn commented on #2341
@sroeper Hello, I'd like to work on your idea. May I have a try?

[2022-04-24 06:42] nith2001 commented on #2548
@joel-costigliola I looked through the *IterableDiff* class and I have question regarding the statement that "they [Iterables] have to be present in the exact order" from @sarajuhosova.

I thought the order in which an Iterable iterates through its Collection does not always have a fixed ordr, right? For example, HashSets. As a result, to check for unexpected elements or additional elements, isn't

[2022-04-24 06:48] nith2001 commented on #2548
Oh wow, never mind, learned something new today
<img width="1085" alt="Screen Shot 2022-04-23 at 11 48 32 PM" src="https://user-images.githubusercontent.com/75632283/164960532-6031618c-708c-4ffa-a554-cad588e30fed.png">
.

[2022-04-24 07:52] onacit opened #2585 "Add EnumerableAssert#hasSizeMultipleOf(int)"
#### Summary

Sometimes an array of bytes' length may be asserted by a block size.

[code]

#### Example

[code]

[2022-04-24 08:33] sarajuhosova commented on #2548
I guess here the question also is what the difference for non-ordered datastructures (such as sets) should be between `containsExactly` and `containsExactlyInAnyOrder`. I would argue that to keep the meaning of these the same across all data structures, unordered items should only have the second one 🤔

[2022-04-24 08:34] joel-costigliola commented on #2585
That feels too specific to me, I think the following is good enough:
[code]

[2022-04-24 08:35] nith2001 commented on #2548
Hmm, I second your thoughts on this! But interestingly enough, our test suite seems to be using exclusively ArrayLists to test both `containsExactly` and `containsExactlyInAnyOrder`. Making the distinction is pretty important as you said, so that may be something that @joel-costigliola will have give some input on, since it seems to be more of a design decision that is out of my hands :-D

[2022-04-24 08:37] nith2001 commented on #2548
On your statement about iterators, it was my understanding that iterators generally follow an order that is based on the implementation, but whether that order is known by the client or not depends on the nature of the data structure. For example, ArrayList are purposefully designed to have ordering that is clear to the user, while HashSets do not preserve an order that is consistently known by th

[2022-04-24 08:52] joel-costigliola commented on #2548
`containsExactly` is not a good fit for some `Set` like `HashSets` (but it's fine for `SortedSets` or `LinkedHashSet`), on this one we expect users to know the semantics of the iterables being tested. If the iteration order is not consistent then the assertion will likely fail and that is fine since the iterable did not honor the assertion contract.

`containsExactlyInAnyOrder` can be used with `H

[2022-04-24 09:00] nith2001 commented on #2548
So then to be clear, given the following two iterables:
`actual = [0, 1, 2, 3, 4, 5]`
`expected = [9, 9, 0, 1, 2, 3, 4]`

What would be the resulting unexpected actual list and missing actual list with these new changes?
My guess was:
unexpected actual list = [5]
missing actual list = [9, 9]

But I'm not so sure anymore since my head's kinda boggled right now.

[2022-04-24 09:06] joel-costigliola commented on #2548
that assertion would fail at the first element (that's the main reason), then to be helpful we do a diff of the iterables with the result you have suggested @nith2001.

[2022-04-24 12:20] #2585 closed

[2022-04-24 15:03] nith2001 commented on #2548
Hmmm, so if I tried implementing the IterableDiff to follow this solution, it would require the look ahead of actual iterable and remove values from it in future indices, which seems to be the problem causing slower runtime. As a result, if we needed to improve from O(n^2) to O(n) on the error handling, then there might need to be some compromise on how accurate the error handling will be.

I'll k

[2022-04-24 23:27] joel-costigliola commented on #2548
I don't think it is important that the error handling be O(n), I don't even think it is possible.
Rationale being that tests should succeed most of the time, if they fail it's ok to take a bit more time to provide a good error message.

[2022-04-24 23:51] nith2001 commented on #2548
But...wasn't the reason why the code was running at O(n^2) solely because of the IterableDiff class?

[2022-04-25 10:36] cy6erGn0m commented on #2357
Note that having experimental options is not the way for many enterprise projects. So having the fix will take years do get actually delivered, so what we supposed to do before?

[2022-04-25 16:52] nith2001 commented on #2548
@sarajuhosova Yeah, that's probably the case. But even with succeeding iterables, the IterableDiff class is built before hand, so even with matching iterables, the runtime will still be O(n^2). It will be a bit odd to try and fix this while maintaining the error handling behavior.

[2022-04-25 17:02] nith2001 commented on #2548
Here's what the containsExactly used to be:
[code]
public void assertContainsExactly(AssertionInfo info, Iterable<?> actual, Object[] values) {
    checkIsNotNull(values);
    assertNotNull(info, actual);

    List<Object> actualAsList = newArrayList(actual);
    // actual and values have the same elements but are they in the same order ?
    int i = 0;
    // use actualAsList instead of actual in

[2022-04-25 17:19] sarajuhosova commented on #2548
I feel like you could still first check the order and pass if it’s correct. If it’s wrong, you remember the index and only then instantiate diff. It if finds no differences in elements, you return the index you remembered. That way you just move the loop in front of the diff and provide an efficient exit if they are equal.

[2022-04-25 17:34] nith2001 commented on #2548
[code]

[2022-04-25 17:37] nith2001 commented on #2548
Interestingly enough it passes our test suite :-D

[2022-04-26 08:01] sroeper commented on #2341
As I said this is just syntactical sugar as ```hasValue``` or ```returns```. It makes writing tests easier and shorter. I would use it for testing some object values. I don't like ```hasFieldOrPropertyWithValue``` because the name of the property is passed as String which will not be refactored if you rename the property and it can't be used for functions.

We use a lot of Optional values in our o

[2022-04-26 09:42] #2537 closed

[2022-04-27 08:43] joel-costigliola commented on #2357
Can you guys raise another Kotlin issue for this one to be properly addressed?

On our side, I would be happy to make some changes if they are backward compatible but I doubt this is possible so I think the right solution is to ask the Kotlin project to be more java compatible.