[2022-04-27 20:24] piefel commented on #2357
Well, I would really wish AssertJ was more Kotlin aware. It is not the first time things broke. Java interop in Kotlin is great, but can only ever go so far without sacrificing the language.

⁣Gesendet mit TypeApp ​

Am 27. Apr. 2022, 10:43, um 10:43, Joel Costigliola ***@***.***> schrieb:

[2022-04-27 21:56] joel-costigliola commented on #2357
The AssertJ team doesn't have the skills or the capacity to ensure AssertJ is Kotlin compatible at the moment, we can make some tweaks but it's java first.

[2022-04-28 08:27] joel-costigliola commented on #2341
We had a discussion with the team and this what we think:

- we are ok with having a description as an (optional) additional parameter to the `returns` assertion
- we feel that the existing `returns` assertion is good enough (see below), adding `returnsValue` and `returnsEmpty` is not giving much in regard that it is going to clutter the `AbstractObjectAssert` API for some really specific use case

[2022-04-28 10:38] sroeper commented on #2341
I understand your rationale against the proposed assertions, thank you for your investigation.

May be someone else comes up one day with a good solution for testing object trees (with one assertThat) where this is also solved. Maybe something like ```.returnSatisfies(<function>, Consumer<Assert>)```. Then we could write something like this:
[code]
This would be really cool, especially if the desc

[2022-04-30 05:20] joel-costigliola commented on #2341
`returnSatisfies` is something we can consider, it gives users good flexibility for cases not supported out of the box.

[2022-05-01 10:22] joel-costigliola commented on #2548
The code looks ok @nith2001, I would refactor it a bit by using a for loop with index (so no need to handle `i`), extract a method to build the failure with diff and remove an unnecessary `else` block, something like:

[code]
I have written the code above without an IDE so there might be some syntax errors, I feel it's readable, we want to add a comment to say that the success path is O(n) while t

[2022-05-01 15:29] nith2001 commented on #2548
Thanks @joel-costigliola ! I'll probably get to fixing my coffee during this week after my last midterm.

[2022-05-02 04:34] nith2001 commented on #2548
@joel-costigliola Seems like the newArrayList function is being used a lot in Iterables.java, is that okay?

[2022-05-02 05:43] onacit opened #2595 "IterableAssert#containsOnlyNulls should pass for an empty list"
#### Summary

I just found that [IterableAssert#containsOnlyNulls](https://javadoc.io/static/org.assertj/assertj-core/3.22.0/org/assertj/core/api/AbstractIterableAssert.html#containsOnlyNulls()) fails when the `actual` is *empty*, **as documented**, yet I think the behaviour is not intuitive and somewhat misleading.

The `containsOnlyNulls` works as `containsOnlyNulls_AndShouldContainAtLeastOneNul

[2022-05-02 05:44] onacit commented on #1062
Did we have a discussion for failing when the list is empty? I just started on via #2595.

[2022-05-02 07:15] onacit commented on #2595
And I just found that the `doesNotContainNull` pases with an empty list.

[2022-05-02 07:37] onacit commented on #2595
Getting confused more and more...
The `containsOnly` passes with an empty list with an zero-length values.

[code]

[2022-05-02 11:03] joel-costigliola commented on #2595
the behavior of these kind of assertions is IMO always subject to different point of view, we have taken one and we won't change it unless given a real good reason.

I would use [satisfiesAnyOf](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/AbstractAssert.html#satisfiesAnyOf(java.util.function.Consumer...)) to assert any of `isEmpty` or `containsOnly(value)`

it c

[2022-05-02 11:14] joel-costigliola commented on #2548
it's probably for another issue, it `list` was introduced after `newArrayList`, we now prefer to use `list` and refactor when we change a piece of code.

[2022-05-02 11:30] #2595 closed

[2022-05-02 16:36] nith2001 commented on #2548
Dope! All done then, just need to merge I think.

[2022-05-02 16:46] nith2001 commented on #2490
Is this still an issue? Couldn't tell from @scordio 's response whether or not this needed fixing.

[2022-05-02 20:54] scordio opened #2596 "`InputStream` supporting `mark` / `reset` should not be manipulated by assertions"
Related to https://github.com/assertj/assertj-core/issues/2490#issuecomment-1035488261, the assertions of `AbstractInputStreamAssert` could avoid manipulating the stream position when the `InputStream` implementation supports [`mark`](https://docs.oracle.com/javase/8/docs/api/java/io/InputStream.html#mark-int-) / [`reset`](https://docs.oracle.com/javase/8/docs/api/java/io/InputStream.html#reset--)

[2022-05-02 20:56] scordio commented on #2490
I don't see any way to fix the issue for `FileInputStream` as it doesn't support `mark` / `reset`. However, I raised #2596 to improve other use cases.

The suggested way to fix the original example is to use `File` assertions.

[2022-05-02 20:56] #2490 closed

[2022-05-03 05:03] nith2001 commented on #2497
@kriegfrj still an issue?

[2022-05-03 07:26] kriegfrj commented on #2497
Sorry, still not in a position to verify. ☹️

[2022-05-03 20:38] nith2001 commented on #2596
Can @jessicant and myself take this issue?

[2022-05-03 20:41] scordio commented on #2596
Sure and thanks, @nith2001.

Please just consider that we are short on capacity and this topic is a corner case, so it may take some time before we can provide feedback.

[2022-05-03 20:42] nith2001 commented on #2596
@scordio Haha, no problem, Jessica and myself are still trying to get more experience before we take on harder issues.

[2022-05-03 21:21] nith2001 commented on #2596
@scordio
What do you think about this:
[code]
The old warning was: <b>Warning: this will consume the first byte of the {@code InputStream}</b>

But I've modified it to this: <b>Warning: this will consume the first byte of the {@code InputStream} if it is not mark-supported.</b>

[2022-05-03 21:57] nith2001 commented on #2570
Hello @scordio, @jessicant and myself are interested in this issue, but we're a but lost on what the deliverables are and what specifically needs to be accomplished and how, since it sounds like there's some debate on which methods out of the 5 proposed are needed/not needed.

Is the function `isAssignableTo(classOrInterface)` the one to implement?

[2022-05-03 22:49] scordio commented on #2596
I'd go with:

[code]

About the code snippet, I'd say the mark/reset pair should be pushed down to `InputStreams`, being an implementation detail of the assertions, and the `IOException` in the catch block should be rethrown wrapped in a new `UncheckedIOException`.

Also, I imagine not only `isNotEmpty` consumes the stream but also other assertions like `hasContent`. Maybe a more generic solution

[2022-05-04 10:29] joel-costigliola commented on #2570
I think `isAssignableTo` is a good choice as it is quite clear.

[2022-05-04 10:35] scordio commented on #2570
**Team decision**: let's add only `isAssignableTo(Class<?>)` to `AbstractClassAssert`.

[2022-05-04 15:57] ajeihala commented on #2439
This is related not only to `describedAs` but also ``as`` and `overridingErrorMessage`.
It first started in `v3.21.0`.

Kotlin Example:
[code]
-> compiles as expected.

But add a line in between:
[code]
-> compilation error at `(b)`

<img width="526" alt="Screenshot 2022-05-04 at 17 52 20" src="https://user-images.githubusercontent.com/3758340/166721454-7ed7251f-215a-403e-b39a-39c81773daef.png">

[2022-05-04 17:22] glhez opened #2599 "isUnmodifiable() fails with Collections.singleton and Collections.singletonList although they are unmodifiable"
AssertJ version: 3.22.0

The various implementation of `Collections.singleton`, `Collections.singletonList`, `Collections.singletonMap` all extends respectively `java.util.AbstractSet`, `java.util.AbstractList` and `java.util.AbstractMap` and are all being immutable.

The `org.assertj.core.api.AbstractCollectionAssert.assertIsUnmodifiable()` fails with the following assertions:

        assertThat

[2022-05-04 21:56] #2599 closed

[2022-05-04 22:00] scordio commented on #2599
Thank you, @glhez.

Initially, I wanted to improve the current implementation and cover these types properly, but then I realized that some of the methods are just empty and there isn't much we can do in these cases.

For this reason, I've decided to skip the assertion based on the class' fully qualified name.

[2022-05-04 22:04] glhez commented on #2599
I was doing my PR at the same time and it was more or less the same algorithm that I used, although I used getCanonicalName().

[2022-05-05 10:48] joel-costigliola commented on #2541
@Leo0506 are you tackling the last assertion of this issue? We are almost done!

[2022-05-05 12:09] Leo0506 commented on #2541
Oh yeah. Sorry to be a little bit late.

[2022-05-05 22:41] jessicant commented on #2596
@scordio prototyping - please excuse that the catch is not wrapped into a new `UncheckedIOException`

So at the lower level would you want us to do something like this:

`  public void assertHasDigest(AssertionInfo info, InputStream actual, String algorithm, String expected) {
    requireNonNull(expected, "The string representation of digest to compare to should not be null");
    tryStreamReset((

[2022-05-05 22:52] scordio commented on #2596
@jessicant yes, I had roughly this in mind. Maybe an additional parameter is needed for the `readLimit` of `mark`, probably 1 is not enough in case of some assertions like `hasContent`.

[2022-05-06 00:26] jessicant commented on #2596
@scordio glad we're on the right track. Do you have idea for how to implement that readLimit variable in a dynamic fashion? @nith2001 and I are not sure how to supply the correct amount of bytes to the method. The current idea is just setting that to 'Integer.MAX_VALUE' but that seems like a very naive implementation and regardless it fails tests (likely for the readLimit being set too high).

Tha

[2022-05-06 11:16] scordio commented on #2596
No worries, @jessicant, and thank you both for spending time on it! Feel free to raise a draft PR and we could brainstorm together over there about the next steps.

[2022-05-07 00:12] scordio commented on #2414
Fixed by efee483f9a1be9638486f7d531a53aaa16d4b3c5.

[2022-05-07 00:12] #2414 closed

[2022-05-07 00:16] scordio commented on #2191
@joel-costigliola the SO question is no longer available. I think this is a new feature rather than a bug, right?

[2022-05-07 00:21] scordio commented on #2556
@Eru-gg we cannot reproduce the issue with the latest version so I close this issue, but happy to reopen it in case you can provide a reproducible example.

[2022-05-07 00:21] #2556 closed

[2022-05-07 07:01] #2531 closed

[2022-05-07 07:03] joel-costigliola commented on #2191
Moving it to 4.0.0

[2022-05-09 09:47] #2548 closed

[2022-05-10 18:09] anugrahsinghal opened #2604 "Gitpod Integration Enhancement - Open With Gitpod Button"
#### Summary

The `Open with Gitpod` Button, currently opens the upstream repo [assertj-core](https://github.com/assertj/assertj-core)/main.

For an easier contributor experience, when the user is on their fork the `Open with Gitpod` Button could directly open that fork on gitpod.

The gitpod button can be changed to point to the `user-specific fork/branch`.

Please let me know if this sounds like

[2022-05-10 21:28] nith2001 commented on #2570
@scordio Here's what we've come up with under `Classes.java`:

[code]
We've made another ErrorMessageFactory as a result. Still undergoing testing, but any thoughts on the code? Should we code any other functions like `implements()` or `isSubclassOf(Class<?>)` etc?

[2022-05-11 02:58] onacit commented on #2570
@nith2001 isAssignableTo should be enough for this issue.

[2022-05-11 03:14] jessicant commented on #2570
Oh okay, that is alright. We attend the same university and are working closely on this issue together is why I ask. It would just be simpler for me to see this issue on my assigned page, but whatever works :)

[2022-05-11 03:18] jessicant commented on #2570
I am working closely with @nith2001 on this issue. As such, would someone please assign me as well?

[2022-05-11 03:18] onacit commented on #2570
@jessicant It's 8 PM there in Seattle, WA. Aren't you supposed to enjoy beer or Netflix with your friends? Sorry, kidding. :)

[2022-05-11 07:00] scordio commented on #2604
Yes, it would be much better for user experience.

Do you already have an idea about how to deal with this? I saw [this thread](https://community.gitpod.io/t/how-to-specify-users-fork-instead-of-main-repository/639/3) but haven't had the chance to try the suggestions.

[2022-05-11 08:29] anugrahsinghal commented on #2604
Yeah, I do have an idea of how to deal with this.

I cannot find the original link that pointed me towards the solution.

the above [thread](https://community.gitpod.io/t/how-to-specify-users-fork-instead-of-main-repository/639/3) takes me directly to their discord.

[2022-05-11 08:31] anugrahsinghal commented on #2604
I recently made similar changes to the spring-cloud-aws project [here](https://github.com/awspring/spring-cloud-aws/pull/383)

[2022-05-11 09:40] anugrahsinghal opened #2605 "Gitpod Integraion - Bug"
#### Summary
When Opening the repo on gitpod the build command specified on init fails
`mvnd verify license:format -DskipTests=true`

the full [log](https://github.com/assertj/assertj-core/files/8668670/build.log)

[2022-05-11 11:16] rd-martin-bonev opened #2606 "`comparingOnlyFields` between different classes can fail because of missing fields that aren't being compared"
#### Summary
When comparing different classes and specifying `comparingOnlyFields` the assertion could fail if the class `actual` has more fields than the class of `expected` even when those fields were not specified for comparison. The example below compares two objects twice, only reversing which one is `actual` and which one is `expected`. The first assertion passes and the second fails. I'd ex

[2022-05-11 18:28] govi20 opened #2608 "Introduce extracting api to OptionalAssert"
#### Summary

I have an API which returns `Optional<CustomClass>`, Now I want to assert if an `Optional` is present and then I want to write an assertion on one of the fields of the CustomeClass object. Please refer sample code below

#### Example

[code]

This can be improved to:

[code]

[2022-05-11 19:29] scordio commented on #2608
This can be achieved with [`map`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/AbstractOptionalAssert.html#map(java.util.function.Function)) and [`get`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/AbstractOptionalAssert.html#get()):

[code]

or with [`get`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/

[2022-05-11 20:36] scordio commented on #2608
I am going to close this issue but please let us know if further clarifications are needed.

[2022-05-11 20:36] #2608 closed

[2022-05-11 20:43] scordio commented on #2606
Duplicate of #2359, fixed by 61ea685ab6fcce01a53d8ebcc0236b0d0c1e04cc.

[2022-05-11 20:43] #2606 closed

[2022-05-12 09:46] #2604 closed

[2022-05-12 09:47] scordio commented on #2604
I was eager to try it so I applied the changes but giving you the credit 😉

Thanks, @anugrahsinghal!

[2022-05-12 10:19] rd-martin-bonev opened #2610 "Comparing only fields of different classes can pass with different values of the compared fields"
#### Summary
When comparing different classes and specifying `comparingOnlyFields` the assertion could pass even if the compared values are different if one of the classes has more fields than the other.

I tested using the code in the main branch (ee52be2c).

#### Example

[code]

[2022-05-12 10:20] rd-martin-bonev commented on #2606
I would say this similar but not a duplicate of #2359 (though it might have been fixed with the same fix). The test in the description passes now with the latest code from the main branch, but I found another issue that might be masking this (#2610).

[2022-05-12 10:46] scordio commented on #2610
Thanks for the detailed example, @rd-martin-bonev! We'll look into it.

[2022-05-13 14:40] scordio commented on #2439
The cause is indeed 3db7c4ea4e0e2861795dfc8ea599fd6624b66d4f, which added a new `assertThat(Collection)`:

https://github.com/assertj/assertj-core/blob/ea24d9adbb63d8cd16479a4612d2fa5333f5daa6/src/main/java/org/assertj/core/api/Assertions.java#L3227

This triggers compatibility issues with Kotlin, while the same doesn't happen with `assertThat(Iterable)`.

This is probably due to the abstract asse

[2022-05-14 06:23] scordio commented on #2605
We couldn't reproduce the issue. Could it be you have some settings that are influencing the workspace?

[2022-05-16 09:36] #2610 closed

[2022-05-17 07:42] onacit opened #2615 "Consider IterableAssert#hasSize...(long)"
#### Summary

Some (newly introduced) APIs and backends tend to use a `long` value as cardinal results.

It will be better when `AbstractIterableAssert#hasSize...(long)` methods.

Slightly off the topic, but the `IterableUtil` even has the case, internally.
[code]

#### Example

[code]

[2022-05-17 09:10] HeZean commented on #2486
Hi @scordio, under my understanding Frank might want `AbstractObjectAssert#isNotNullAndSatisfies` as a shortcut for both check not null and check the requirement, something like:
[code]
(@frankbenoit please also check if this is what you mean)
is that okay for adding it? If so, I'll be glad to work on it.

[2022-05-17 09:16] scordio commented on #2486
@HeZean sorry, this is not yet up for grabs, I suggest keeping an eye on the [good first issues](https://github.com/assertj/assertj-core/labels/good%20first%20issue).

[2022-05-17 12:24] anugrahsinghal commented on #2605
I was able to correctly build the application doing just `mvn`

Closing this.

[2022-05-17 12:24] #2605 closed

[2022-05-17 12:35] arturmkr commented on #2550
@joel-costigliola , by the way here is nice solution:

[code]

[2022-05-18 13:24] vimalbera92 opened #2616 "Enum comparison with String is not working with recursive assertion"
#### Summary
Comparison of enum with string fails with recursive assertion and `strictTypeChecking` as false. I would expect below code to be run successfully.

`actual and expected objects and their fields were compared field by field recursively even if they were not of the same type` - as per error, actual and expected values are same (CAR in below example) and test case should pass.

#### Exam

[2022-05-18 22:15] #2557 closed

[2022-05-18 22:27] joel-costigliola commented on #2616
@vimalbera92, thanks for reporting this. Which version are you using?

[2022-05-19 03:32] vimalbera92 commented on #2616
@joel-costigliola - I'm using latest version 3.22.0.

[2022-05-19 09:40] HDreamer2 commented on #1355
@joel-costigliola Hi, I'm interested in this issue. Is there any available task for me to do?

[2022-05-19 10:32] joel-costigliola commented on #2616
The behavior is as expected, `strictTypeChecking` as false applies for comparing objects, not primitive.

We are discussing with the team the pros and cons of adding an option that would allow to compare enum with string.

In the meantime you can register comparators per field or type to tweak the behavior as you want, see https://assertj.github.io/doc/#assertj-core-recursive-comparison-comparator

[2022-05-19 10:39] vimalbera92 commented on #2616
@joel-costigliola Thanks for quick response and workaround.

I think it's not a good idea to include all primitive types to check against string but definitely worth enum comparison with string but I'll leave that to assertj team to decide and agree upon.

[2022-05-19 15:56] scordio opened #2617 "`linesOf` variants for `Path` content"
`Path` related variants of [`linesOf`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/Assertions.html#linesOf(java.io.File)) are currently not available.

[2022-05-19 19:14] StefanBratanov commented on #2617
If not assigned yet, is it possible that I give it a try? Keen to make a contribution. :) Thank you.

[2022-05-19 22:17] joel-costigliola commented on #2617
Sure, thanks @StefanBratanov.

[2022-05-20 06:05] joel-costigliola commented on #2449
closed by https://github.com/assertj/assertj-core/commit/0ffde17f9e0e513b0240cef6be3b4c03856799e7

[2022-05-20 06:05] #2449 closed

[2022-05-21 06:54] joel-costigliola commented on #2576
on it!

[2022-05-21 07:07] scordio commented on #2576
@joel-costigliola yes, I made just a small progress yesterday: I generated the new stylesheet and started customizing it like the current one, but there are CSS elements that are no longer in the Java 17 stylesheet so I'd need a bit of trial and error.

I could continue later in the day, but happy to leave it if you prefer to jump on it.

If it turns out it's a big effort, we could put this aside

[2022-05-22 04:32] #2576 closed

[2022-05-22 21:20] #2617 closed

[2022-05-24 08:01] ascopes opened #2625 "Provide ability to create custom assumption types in the public API"
#### Feature summary

I am currently writing a library that enables the writing of integration tests that run Java annotation processors and invokes the compiler. Part of this is allowing the user to perform assertions on the compilation result. This is being implemented currently by extending the AbstractAssert class that AssertJ provides.

For example:

[code]

...as part of this, I'd like to be

[2022-05-24 10:22] joel-costigliola commented on #2625
That's a fair request, we need to look into details how to do that and figure out the best option here.

[2022-05-24 12:48] guymahieu commented on #2390
This would be a very useful addition for those of us working with JPA models.
Currently even coming up with an acceptable workaround is tricky.

[2022-05-27 08:17] vlsi opened #2629 "Display Improve readability of containsExactly when the order of elements does not match"
#### Feature summary

[code]

yields the following error message:

[code]

Note that `1` and `4` are not displayed in the error message.

**I suggest** that AssertJ should print the full expected and actual set of elements in case the order does not match.

For instance, when the value does not match, then AssertJ does print all the elements:

[code]

[code]

#### Example

The following methods se

[2022-05-27 08:46] perlun commented on #1512
(Also, adding negation forms for both the existing one - `isNotAssignableFrom` - and the suggested new method - `isNotAssignableTo` - would be incredibly useful. Right now, I'm doing a workaround on the form `assertThat( ParentClass.class ).matches( cls -> !cls.isAssignableFrom( ChildClass.class ) ))`, but it's a bit rough. :slightly_smiling_face:)

[2022-05-27 09:03] scordio commented on #1512
Thanks for the feedback, @perlun. #2570 is now the best place to discuss further enhancements.

[2022-05-27 09:04] scordio commented on #2570
From https://github.com/assertj/assertj-core/issues/1512#issuecomment-1139412673:

[2022-05-27 09:49] perlun commented on #1512
Thanks for pointing me there @scordio and also for copying my comment into that thread, greatly appreciated. :pray:

[2022-05-27 16:23] nith2001 commented on #2570
Would you like us to implement `isNotAssignableTo` after we get our isAssignableTo code checked out?

[2022-05-27 16:24] scordio commented on #2570
@nith2001 for now, let's stay with `isAssignableTo` only and we'll come back to the next steps later.

[2022-05-27 16:46] nith2001 commented on #2570
@scordio Ok, I believe we've finished out initial implementation for `isAssignableTo`.

[2022-05-27 22:21] nith2001 commented on #2570
PR: https://github.com/assertj/assertj-core/pull/2611

[2022-05-28 21:07] scordio commented on #2573
@ascopes I'm struggling to put together a reproducible example and a suitable test accordingly. Would you mind sharing a small Maven project to reproduce this issue?

I'm afraid the fix will not be part of 3.23.0 as we plan to have this version very soon, but we may ship it in a later bugfix release in case it can be finalized quickly.

[2022-05-28 21:13] ascopes commented on #2573
Might have to be in the morning; will set myself a reminder to take a look.

Most recent one I can spot in the wild is at https://github.com/ascopes/jct/runs/6440094969?check_suite_focus=true#step:4:84 which is a Maven project at https://github.com/ascopes/jct.

It isn't exactly "minimal" so I will see what I can do in the morning, and get back to you!

[2022-05-28 23:14] joel-costigliola commented on #2629
Fair enough @vlsi.

[2022-05-29 09:16] scordio opened #2631 "Expose `ComparisonStrategy` for third-party usage"
Currently, `ComparisonStrategy` is part of the internal package and there is no easy way to access it. This limits extension capabilities in JPMS and OSGi applications.

Exposing `ComparisonStrategy` in `AbstractAssert` would be handy for the implementation of custom assertions that want to stay in sync with the comparison strategy currently configured.

Originally triggered by https://github.com/

[2022-05-29 13:06] ascopes commented on #2573
I've put a reproduction up at https://github.com/ascopes/assertj-core-2573-reproduction

To reproduce locally, run `./mvnw clean package javadoc:javadoc`

See https://github.com/ascopes/assertj-core-2573-reproduction/runs/6643465969 for a failed workflow run.

The CI workflows for this project contain examples of the failure for Java 9 through 18 (Zulu). Note that some of the newer JDKs only produ

[2022-05-29 13:26] ascopes commented on #2573
Forgot to mention, if you wish to reproduce this in integration tests, it may be worth using testcontainers or something to do this. Copying the entire repository into a container using `public.ecr.aws/docker/library/openjdk:11` through `public.ecr.aws/docker/library/openjdk:18` should be able to achieve this for you.

For example:

[code]

[2022-05-29 19:45] scordio commented on #2631
Targeting 4.x being a breaking change.

[2022-05-30 09:13] vlsi commented on #277
@joel-costigliola , 8 years have passed. Would you please evaluate Maven vs Gradle once again?

In my experience, Maven creates lots of obstacles as soon as the build goes beyond creating jar file :-(

For instance, when I added ErrorProne, I had to add `.mvn/jvm.errorprone.config` which is copied by `.github/workflows/main.yml` as `cp .mvn/jvm.errorprone.config .mvn/jvm.config`.

Of course, you m

[2022-05-30 10:31] vlsi commented on #277
Well, have you been using Gradle recently?
1) Kotlin-based DSL yields extremely useful suggestions and type errors, so you can write build scripts via autocomplete, and you can drill down to the implementation.
2) You can put a breakpoint right into the build script. I do not use it often, however, it is super-useful.

----

I moved many non-trivial projects to Gradle, and **I could help you move

[2022-05-30 10:46] vlsi opened #2635 "Classes_assertHasMethods_Test.should_fail_if_no_methods_are_expected_and_methods_are_available fails with Java 19-ea"
**Describe the bug**

The test fails: https://github.com/vlsi/assertj-core/runs/6645816819, https://github.com/assertj/assertj-core/runs/6645470496?check_suite_focus=true#step:4:8585

See https://github.com/assertj/assertj-core/blob/09203199cf81e6482f8bab8d51f383ba1b207e92/src/test/java/org/assertj/core/internal/classes/Classes_assertHasMethods_Test.java#L62-L71

The failure looks like "failing te

[2022-05-30 20:48] #2635 closed

[2022-05-30 20:52] scordio commented on #277
I agree with @joel-costigliola, adopting Gradle in AssertJ would solve a non-existing problem.

[2022-05-30 21:49] vlsi commented on #2424
Is the submodule really needed?
Would it work if it is a regular folder in assertj/assertj repo?

[2022-05-30 21:54] scordio commented on #2573
Thank you, @ascopes. We'll try to have another look this week.

[2022-05-31 15:05] bjhargrave opened #2637 "assertj-core 3.23.0 requires use of Jupiter 5.9.0-M1 in OSGi testing"
https://github.com/assertj/assertj-core/blob/6f19754e579527b935c9e62d5cb5b0900fa1e6a1/pom.xml#L46

Jupiter 5.9.0 is not a final release (hence M1). But the just released assertj-core 3.23.0 uses 5.9.0-M1 which results in the OSGi metadata importing Jupiter as

[code]

This means all OSGi testing users of assertj-core 3.23.0 must also update to the non-final Jupiter 5.9.0-M1 build.

Perhaps it is p

[2022-05-31 17:10] #2637 closed

[2022-06-01 21:15] Giovds commented on #2629
I would like to give this one a go!

[2022-06-01 21:17] joel-costigliola commented on #2629
Thanks @Giovds, assigned to you :)

[2022-06-02 12:36] ascopes opened #2639 "Reflective assertions for Class Loading"
#### Feature summary

I would like to be able to perform assertions on classes that I load dynamically from a given classloader. This would enable me to test code that deals with custom classloaders using assertj without needing to implement my own custom boilerplate to do this.

#### Example

[code]

[2022-06-02 15:49] scordio commented on #2639
If I got it correctly, your proposal is to create assertions for `java.lang.ClassLoader`.

I think it would be a nice addition. Would you like to work on it?

As it would be a new assertion hierarchy (`AbstractClassLoaderAssert` and `ClassLoaderAssert`), I suggest doing that in two steps, with separate PRs:

1. Addition of `AbstractClassLoaderAssert` and `ClassLoaderAssert`, using `AbstractAssert`

[2022-06-02 19:44] mgrafl commented on #1931
It is clear that `getActual()` will not become part of the AssertJ API and I don't want to reheat the discussion.
Anyway, if anyone is looking for a custom extension, consider this snippet:
[code]

[2022-06-03 06:28] vlsi opened #2641 "Consider printing unified diff when it is small enough to highlight the diff between expected and actual results"
#### Feature summary

https://en.wikipedia.org/wiki/Diff#Unified_format

Well, my suggestion was behind the lines of https://en.wikipedia.org/wiki/Diff#Unified_format
That is a very-well known format that is understandable by humans, allowing for highlighting the differences.

I think adding diff outputs would make certain failures easier to understand.

WDYT?

#### Example

[code]

I would say "b

[2022-06-03 10:05] ascopes commented on #2639
Cool! Will try and take a look when I get some free time then.

Thanks!

[2022-06-03 11:46] ascopes opened #2643 "Consider adding Sonatype Lift to build for additional code analysis"
Sonatype lift is a free tool for code quality analysis that focuses on security-based checks.

Although assertj is primarily for testing, I believe it would be useful to implement, as it can detect things like poorly performing regular expressions (that can act as a DoS vector), and other bits and pieces that will be added as comments to incoming PRs.

I've enabled it on one of my projects recentl

[2022-06-03 15:23] topsycreed opened #2646 "NoSuchMethodError for asserting two objects since 3.20.0 version"
**Describe the bug**
Since 3.20.0 version there are an error when you are trying to assert two objects.

* assertj core version: since org.assertj:assertj-core:3.20.0 and newer
* java version: openjdk-17.0.2
* os (if relevant): MacOS 12.2.1 (but probably not relevant)

**Test case reproducing the bug**

Try to assert

[code]
Error:
java.lang.NoSuchMethodError: ‘org.assertj.core.api.ObjectAssert
or

[2022-06-03 15:39] scordio commented on #2646
Hi @topsycreed, what version were you using before?

Could you enhance your example to make it reproducible?

[2022-06-03 17:57] topsycreed commented on #2646
Hey @scordio It's working for org.assertj:assertj-core:3.19.0, give me some time to get an example

[2022-06-04 09:49] joel-costigliola commented on #2641
I'm not convinced this is super readable if you are not familiar with the diff format, we maybe could add a configuration property to replace the current error message with this format but I don't feel it should be the default.
[code]

[2022-06-04 11:17] ascopes opened #2647 "StackTraceElement assertions"
#### Feature summary

I would like to be able to perform assertions on StackTraceElement objects, as well as arrays/lists of StackTraceElement objects. This enables testing exception handling logic for remote execution, as well as exception handling for proxies.

#### Example

[code]

[2022-06-05 02:45] joel-costigliola commented on #2647
Fine by me, that would be a good addition to exception testing

[2022-06-05 09:32] ascopes commented on #2647
If you like, I can take a look into this after #2639?

[2022-06-05 09:37] joel-costigliola commented on #2647
Thanks Ashley, appreciated! there is no rush, take the time you need

[2022-06-07 08:09] ascopes commented on #2639
@scordio quick query.

ClassLoader has the method `loadClass` which returns a `Class<?>` object. What is the preferred navigable method name for this (since `... class(String binaryName)` wouldn't compile as it uses a keyword).

[2022-06-08 05:37] xiaozhiliaoo opened #2654 "assertj doc make browser crash"
**Describe the bug**
hello, I find the offical doc is very slow. and https://assertj.github.io/doc/ doc always make browser(google chrome, edge) very laggy and then crashed.

[2022-06-08 09:36] joel-costigliola commented on #2654
I have tried with chrome on linux (Version 102.0.5005.61 (Official Build) for Linux Mint (64-bit)) and it works fine.

What OS and chrome version are you using
Can you try with Firefox?

[2022-06-08 21:02] vlsi commented on #2641
Well, I would say AssertJ users (developers?) should be pretty much familiar with diffs. Even GitHub UI shows that diff if you switch to "unified diff view"

[2022-06-13 21:42] scordio commented on #2573
Related: [JDK-8240169](https://bugs.openjdk.org/browse/JDK-8240169)

[2022-06-13 22:51] scordio commented on #2573
@ascopes the root cause seems to be the multi-release setup for AssertJ 3, also described in [JDK-8240169](https://bugs.openjdk.org/browse/JDK-8240169).

As far as I understand from the JDK bug, having warnings is the intended behavior with JDK 15 or newer, when:
* Modular jars link to non-modular documentation
* Non-modular jars link to modular documentation

Creating and publishing modular docum

[2022-06-13 22:58] ascopes commented on #2573
Cool, thanks for looking into this!

[2022-06-15 07:08] vlsi opened #2660 "Consider randomized matrix for GitHub Actions testing"
#### Feature summary

@scordio , what do you think of testing **various** Java vendors for better test coverage?
I believe it would help both assertj (e.g. avoid accidental dependency on OpenJDK+HotSpot implementation), Java vendors (you'll test their implementations and hopefully report bugs), and the Java community (everybody wins from better AssertJ and better Java).

Here's a script that autom

[2022-06-15 09:44] scordio commented on #2660
Hi @vlsi, thanks for the proposal. Related to what I've mentioned in https://github.com/assertj/assertj-core/pull/2658#issuecomment-1156154810, our experience is that problems are usually not related to specific JDK builds/vendors.

Reacting to your bullet points:

I don't see the chance to have such dependency.

That's already covered to a certain degree with:

https://github.com/assertj/assertj-

[2022-06-15 10:27] joel-costigliola commented on #2660
I agree with @scordio I think we are doing enough by testing different OS and java version but we can revisit that if we have an actual issue that would require it.

[2022-06-15 10:35] vlsi commented on #2660
I am truly surprised that a test-related library declines suggestions that increase test coverage and require zero effort on maintenance.

[2022-06-15 21:51] joel-costigliola commented on #2660
the first error is due to some test flakiness we have, it's a long process to fix them as they are hard to reproduce (I was never able to reproduce them locally) but thanks to Ashley Scopes we have a better idea of their root cause.

the others are compilation errors which are differences in compilers behavior and are AFAIK irrelevant for end users.

The team bandwith is quite limited, I personall

[2022-06-16 12:12] vlsi opened #2663 "CaseInsensitiveStringComparator fails to compare i and I in tr_TR locale"
**Describe the bug**

`CaseInsensitiveStringComparator` should treat `i` and `I` equal in `tr_TR` locale.
The bug was identified via https://github.com/assertj/assertj-core/pull/2662

See CI output: https://github.com/vlsi/assertj-core/runs/6917023184?check_suite_focus=true#step:5:10831

**Test case reproducing the bug**

Run with `-Duser.country=TR -Duser.language=tr`

[code]

[code]

[2022-06-16 12:14] vlsi commented on #2663
The solution is to replace `s1.toLowerCase().compareTo(s2.toLowerCase())` with `s1.compareToIgnoreCase(s2)` in https://github.com/assertj/assertj-core/blob/main/src/test/java/org/assertj/core/util/CaseInsensitiveStringComparator.java#L26

[2022-06-16 12:16] vlsi commented on #2660
I would disagree here. The CI matrix discovers a true bug in assertj https://github.com/assertj/assertj-core/issues/2663.

[2022-06-16 14:11] scordio commented on #2663
I don't recall why we have custom comparators in tests, while we could simply use `java.lang.String.CASE_INSENSITIVE_ORDER`. From my point of view, this should be the target solution.

[2022-06-16 15:33] topsycreed commented on #2646
@scordio we were able to fix that issue with migrating to a new version of the library 'org.assertj:assertj-core:3.23.1', thanks!

[2022-06-16 15:33] #2646 closed

[2022-06-16 16:16] vlsi opened #2664 "Consider adding forbidden-apis to ban unsafe toLowerCase, toUpperCase, etc"
#### Feature summary

See https://github.com/policeman-tools/forbidden-apis
It produces reasonable exception messages, and it allows capturing bad API calls even without having to write tests.

See https://github.com/jlink/jqwik/pull/348,
See https://github.com/policeman-tools/forbidden-apis/wiki/BundledSignatures

Just in case: I would be glad to contribute the verification if the build system wa

[2022-06-16 16:16] scordio commented on #2646
Cool, thanks for the feedback, @topsycreed!

[2022-06-16 16:18] vlsi commented on #2663
How about `org.assertj.core.internal.Strings#assertContainsIgnoringCase`?

https://github.com/assertj/assertj-core/blob/9051a958e6ab0a750bb243060aef57001ab97e6e/src/main/java/org/assertj/core/internal/Strings.java#L528-L531

I would suggest adding https://github.com/policeman-tools/forbidden-apis verification to just ban `toLowerCase()`, `toUpperCase()` and other unsafe methods: https://github.com

[2022-06-17 21:24] scordio commented on #2663
Removing the `bug` label as `CaseInsensitiveStringComparator` belongs to the test sources and does not affect AssertJ users.

[2022-06-17 21:38] vlsi opened #2666 "assertContainsIgnoringCase fails to compare i and I in tr_TR locale"
See `org.assertj.core.internal.Strings#assertContainsIgnoringCase`

https://github.com/assertj/assertj-core/blob/9051a958e6ab0a750bb243060aef57001ab97e6e/src/main/java/org/assertj/core/internal/Strings.java#L528-L531

I would suggest adding https://github.com/policeman-tools/forbidden-apis verification to just ban `toLowerCase()`, `toUpperCase()` and other unsafe methods: https://github.com/assert

[2022-06-17 22:52] #2663 closed

[2022-06-18 17:20] vlsi commented on #2011
I agree `withFailMessage` might indeed confuse people a lot, and I think rare when `withFailMessage` is the right choice over `as`.
For instance, see https://github.com/openrewrite/rewrite-testing-frameworks/issues/234 where they currently use `withFailMessage` instead of `as`.

I wonder if `withFailMessage` could be deprecated or renamed so that people do not immediately use it, especially when t

[2022-06-19 16:50] vlsi commented on #2641
Here's another case for diff output: https://truth.dev/comparison#failure-messages. Note how diff output in XML makes it much easier to tell the difference.

[2022-06-19 16:58] vlsi opened #2671 "Improve failure message for IterableAssert.contains* when collection size or expected size is 1"
#### Feature summary

See `year: 2019` sample in https://truth.dev/comparison#failure-messages

Rule 1) When the size of the expected collection is 1, then there's no point in printing "but some elements were not found".
Of course, they were not found, and the sole element has already been displayed in "to contain.." block.

Rule 2) The same goes for the case when actual collection has size of 1.

[2022-06-19 21:44] scordio opened #2672 "Allow value comparison between Jackson's `NumericNode` types in recursive comparison"
#### Feature summary
A better comparison could be added for all Jackson's `NumericNode` types having the same numeric value.

However, this might require additional reflection-based code as Jackson should not be a dependency, similarly to what was done in 440cd2fc11a2f808bb96f3bbf26f1d98f82c2e51.

Source: https://stackoverflow.com/questions/72680283/

#### Example

[code]

#### Workaround

Use [Js

[2022-06-20 03:01] kriegfrj opened #2674 "SoftAssertion implementation that generates dynamic tests"
#### Feature summary

I love soft assertions.

One problem with soft assertions, for complex tests, is that it can be hard to navigate the error message to find the errors that you're interested in - especially if the individual failures themselves consist of several lines of failure message.

What I am proposing: instead of combining the failures into a single MultipleFailuresError which is repor

[2022-06-20 13:10] martinsefcik opened #2675 "Add method satisfyOnlyOnce for ListAssert"
#### Feature summary
Would it be possible to add method something like `satisfyOnlyOnce` for `ListAssert`. It would work the same way `containsOnlyOnce` but with `satisfy`?

#### Example

[code]

[2022-06-21 11:17] xtaixe opened #2676 "How to reuse AssertJ assertions on custom assertions?"
The examples on the custom assertions docs implement the assertion logic directly, but for more complex checks it would be nice to reuse the assertions that AssertJ already provides and I'm not sure how to that properly.

First of all, I'm not sure if classes in the `internal` package (e.g. `Iterables.instance()` or `Strings.instance()`) are intended to use outside AssertJ and could help somehow.

[2022-06-22 04:45] higuaro opened #2678 "[regression] Assertion with `java.awt.Path2D` object `usingRecursiveComparison().isEqualsTo()` fails in `3.23.0+`"
**Describe the bug**

The following assertion passes for versions `≤ 3.22.0`:

[code]

But from version `3.23.0+`, we get the following instead:

[code]

**Additional context**

After debugging a bit, it seems that the problem is in the `RecursiveComparisonDifferenceCalculator.mustCompareFieldsRecursively()`:

[code]

* assertj core version: 3.22.0+
* java version: Java 11
* test framework version

[2022-06-22 10:42] joel-costigliola commented on #2675
Yes that would be a nice addition, I would rename the assertion to `satisfiesOnlyOnce`

[2022-06-22 10:45] joel-costigliola commented on #2678
thanks for the detailed report @higuaro

[2022-06-23 07:16] StefanBratanov commented on #2675
Hi, is it possible I give this a try? 🙂

[2022-06-23 08:22] scordio commented on #2675
Sure, thanks @StefanBratanov!

[2022-06-24 06:56] pkubowicz opened #2684 "Published Javadoc has broken search"
**Describe the bug**
Javadoc linked on the main page does not allow to search.

**Test case reproducing the bug**

1. Go to https://assertj.github.io/doc/#assertj-core-javadoc and click the link (http://www.javadoc.io/doc/org.assertj/assertj-core/)
2. Start typing "ObjectAssert"; window focus should be on the "search" input in the top-right corner, if it's not, click the input
3. Try to use keyboa

[2022-06-24 07:10] scordio commented on #2684
It seems it's a local issue with cookies, clearing them should fix it.

Related: maxcellent/javadoc.io#97

[2022-06-24 07:14] pkubowicz commented on #2684
I tried opening JavaDoc in a private window of Chrome (102.0.5005.115) and Firefox (101.0.1) and still nothing works. I think this simulates a case of a new visitor with no cookies opening JavaDoc. Have you even tried if this works for you?

[2022-06-24 07:28] scordio commented on #2684
Yes, I did exactly these tries yesterday: https://github.com/maxcellent/javadoc.io/issues/97#issuecomment-1164192984

[2022-06-24 08:05] scordio commented on #2684
@pkubowicz @lkucik and even after clearing cookies for javadoc.io, it still doesn't work, right?

[2022-06-24 11:20] joel-costigliola commented on #2684
it works for me with ffox 101.0.1 (64-bit) on linux

[2022-06-24 13:38] pkubowicz commented on #2684
I don't need to clear cookies. I checked Firefox web inspector and it shows no cookies for domain when opening the page in a private window. I suspect private mode in Firefox rejects all cookies.

[2022-06-24 13:42] pkubowicz commented on #2684
I just reproduced this on a different computer. I cleared cookies in the normal mode (although I had no cookies as I have probably never visisted javadoc.io on this machine). When clicking a search result I see an error in JS console:
[code]
I suspect the problem may be in your browser: you can have outdated JS files that work, I load fresh JS files and they are broken.

[2022-06-24 16:16] scordio commented on #2684
As mentioned in https://github.com/maxcellent/javadoc.io/issues/97#issuecomment-1165695636, there is an ongoing migration activity on javadoc.io, and not all the versions are working properly. The migration may take another two weeks to complete.

[2022-06-24 16:26] scordio commented on #2684
From https://github.com/maxcellent/javadoc.io/issues/97#issuecomment-1165729049:

@pkubowicz @lkucik could you please check again? I've tried it and it looks good on my side.

[2022-06-26 09:59] scordio commented on #2684
Closing as the issue seems to be fixed now. @pkubowicz @lkucik please let us know if this is not the case for you.

[2022-06-26 09:59] #2684 closed

[2022-06-26 15:01] pkubowicz commented on #2684
Works fine now, thank you.

[2022-06-27 20:04] vlsi opened #2688 "Assertj must include commons-lang3 copyright notice to comply with its license"
**Describe the bug**

https://github.com/assertj/assertj-core/pull/2685 introduced code borrowed from `org.apache.commons.lang3`, so you must include NOTICE in both source and binary re-distributions of assertj (see https://github.com/apache/commons-lang/blob/master/NOTICE.txt, https://github.com/apache/commons-lang/blob/master/LICENSE.txt#L37-L38).

[2022-06-27 21:30] scordio commented on #2688
Thanks for raising this, @vlsi.

Adding a `NOTICE` file is not a problem from my point of view, but we could also have a custom and simpler implementation as we don't target all the use cases `commons-lang` supports.

[2022-06-28 06:15] scordio commented on #2688
Hi @khmarbaise, may I ask your opinion about this topic?

To solve #2685, we've taken some methods from `commons-lang` and added them to the AssertJ codebase:

https://github.com/assertj/assertj-core/blob/befef07f172031847cbdd7a7e0622d52a64a9033/src/main/java/org/assertj/core/internal/Strings.java#L1360-L1445

Both AssertJ and `commons-lang` are licensed as Apache 2.0. Would a `NOTICE` file with t

[2022-06-28 07:03] vlsi commented on #2688
One more thing is to add would be adding the following to the source redistribution of AssertJ https://github.com/apache/commons-lang/blob/master/src/main/java/org/apache/commons/lang3/StringUtils.java#L2-L15 (e.g. assertj-core-...-source.jar on Central)

[2022-06-28 09:48] scordio commented on #2666
Reopening as licensing/work attribution aspects are open (see #2688).

[2022-06-28 14:08] pkubowicz commented on #2357
Kotlin 1.7 works with AssertJ 3.21.0. It won't however work with AssertJ 3.22.0, as a new problem appears:

[code]

Note this is the same `satisfies` method but a different error message than the one originally reported here. Also the reason is different: Kotlin compiler is unable to properly handle vararg use of Consumer and ThrowingConsumer. Reported as a separate issue: https://youtrack.jetbrai

[2022-06-28 18:51] #2377 closed

[2022-07-02 00:47] alvintanjianjia opened #2695 "Potential Refactoring Estimate"
**Summary**
I have identified a few classes with refactoring potential, specifically PredicateAssert_accepts_Test.java. The class was refactored once on Aug 16, 2020  along with other classes in commit 95e3cf978bfa3cb444ae12dd2f4fc374d7606a86. Given the duration of the last refactoring, could it be possible to improve this class further? I am probably not qualified and experienced enough to point

[2022-07-02 10:12] joel-costigliola opened #2696 "Add support for primitive optionals in the recursive comparison"
#### Feature summary

Add support for `OptionalInt`, `OptionalLong` and `OptionalDouble` as we do for `Optional`

[2022-07-03 11:13] vlsi opened #2697 "Throw org.opentest4j.AssertionFailedError for containsExactly"
#### Feature summary

Throw `org.opentest4j.AssertionFailedError` for `org.assertj.core.api.AbstractIterableAssert#containsExactly` failures so IDEs would show `<Click to see difference>` feature.

I think it is a sub-task of https://github.com/assertj/assertj-core/issues/1335, however, #1335 looks too broad to ever finished, so I suggest creating sub-tasks.

I suggest adding a task list to #1335

[2022-07-06 10:33] #2675 closed

[2022-07-08 06:39] stefanhh0 opened #2699 "SoftAssertions collects only first fail in case of Exceptions"
**Describe the bug**
SoftAssertions collects only first fail in case of Exceptions.

Output is:
[code]
However I would have expected something  like:
[code]

* assertj core version: 3.23.1
* java version: 17.0.3
* test framework version: JUnit 5.8.2

**Test case reproducing the bug**

[code]

[2022-07-08 06:49] mkm-dt opened #2700 "Maintain binary compatibility in minor releases"
#### Feature summary
AssertJ is a great library, and we use it a lot internally, but unfortunately, it's also a recurring source of problems because of binary incompatibilities of minor releases. Please consider using semver or something similar to clearly show incompatibilities and make it possible to resolve conflicts automatically (or fail early if that's not possible). In our company, with mul

[2022-07-08 08:25] scordio commented on #2700
Hi @mkm-dt, thanks for your feedback.

Some thoughts about the versioning used in AssertJ are in #2148, especially:

However, starting from 3.21.0, we introduced [automated checks](https://github.com/assertj/assertj-core/actions/workflows/binary-compatibility.yml) and [contribution guidelines](https://github.com/assertj/assertj-core/blob/main/CONTRIBUTING.md#binary-compatibility) for binary compat

[2022-07-08 08:25] #2700 closed

[2022-07-08 08:49] mkm-dt commented on #2700
Thanks for your quick reply! I did read your description of the current state, which is why I filed this feature request in the first place. I think regularly breaking binary compatibility in minor versions, in random places where it may or may not bite consumers when upgrading, is a bad thing[TM], whether it's documented nicely or not. I do hope this will get better in the next releases, but if n

[2022-07-08 09:46] scordio commented on #2700
There is a proposal at https://github.com/assertj/assertj-core/discussions/2148#discussioncomment-2298524 for a four-part version number.

We haven't yet made a decision on this and may consider it for AssertJ 4.

[2022-07-08 15:13] opwvhk opened #2701 "CompletableFuture failure check regression"
#### Problem summary

In the past, I'd check that my code successfully completes a `CompletableFuture` exceptionally (with a specific exception) using:

[code]

The reason to do this, is to ensure failure handling works as expected. The test does not test scheduling.

Sadly, the code above is deprecated.

Instead, I'm asked to do this:
[code]

Alternatively, I can do this:
[code]

Both options are

[2022-07-08 17:55] scordio opened #2702 "`usingComparator` / `isEqualTo` fails due to `Comparator` inferred type parameter"
**Describe the bug**

`usingComparator` does not work properly with certain combinations of numeric comparators from `java.util.Comparator`.

* AssertJ Core version: 3.23.1
* Java version: 11
* Test framework version: JUnit 5.8.2

**Test case reproducing the bug**

This:

[code]

and this:

[code]

fail with:

[code]

But this:

[code]

and this:

[code]

work properly.

[2022-07-09 04:23] joel-costigliola commented on #2699
Thanks for reporting this @stefanhh0, this is a bug indeed, the reason being we don't soft assert `hasBeenThrown` in `isThrownBy`:
[code]

[2022-07-09 04:30] joel-costigliola commented on #2701
Fair enough, I prefer option 2 which separates the failure check from the throwable and it should be fairly easy to implement as after a quick look I think there is just need to add in `withThrowableThat()` in `WithThrowable`.

@opwvhk are you keen to contribute this one?

[2022-07-09 09:19] #2570 closed

[2022-07-09 09:25] scordio commented on #2570
@perlun do you think `isAssignableTo` and `isAssignableFrom` are enough to cover your use cases?

If not, could you please provide an example?

[2022-07-09 10:53] #2211 closed

[2022-07-11 09:47] opwvhk commented on #2701
Sure; I'll have a go at it.

[2022-07-11 11:59] spyro2000 commented on #2357
See also https://youtrack.jetbrains.com/issue/KT-53113/Kotlin-AssertJ-tests-compile-in-1621-but-not-in-17

 It's an disturbing blame game between AssertJ and Kotlin with fingerpointing on both sides but still no solution.
AssertJ (as Bundled with Spring Boot 2.6+) does simply not work with Kotlin currently.

[2022-07-11 17:08] scordio commented on #2439
Related: [KT-53113](https://youtrack.jetbrains.com/issue/KT-53113)

[2022-07-11 17:22] scordio commented on #2357
[KT-53113](https://youtrack.jetbrains.com/issue/KT-53113) is actually related to #2439.

[2022-07-12 06:55] scordio commented on #2357
Alright, let's reopen this one.

I think it's too late to introduce further breaking changes in version 3 for this topic, but version 4 may be the right time to rethink how to better support Kotlin.

[2022-07-12 06:58] scordio commented on #2361
As mentioned in https://github.com/assertj/assertj-core/issues/2357#issuecomment-1181387367, we will analyze how to better support these use cases in version 4 as they will most likely require breaking changes.

[2022-07-14 10:28] scordio commented on #2357
As also mentioned in [KT-52942](https://youtrack.jetbrains.com/issue/KT-52942/):

[2022-07-14 13:17] Jiehong opened #2706 "catchThrowableOfType should fail if no exception is raised"
**Describe the bug**
`catchThrowableOfType` tries to catch an exception of specific type, and correctly fails if the type is wrong. However, if no exception is raised, it returns null, and does not fail.

* assertj core version: 3.23.1
* java version: 11 or 17
* test framework version: junit-jupiter-api 5.8.2

**Test case reproducing the bug**

Test case showing that a wrong type is correctly caug

[2022-07-15 10:09] joel-costigliola commented on #2629
Fixed in 41179e555463021737468f71785ecca5aac152bb

[2022-07-15 10:09] #2629 closed

[2022-07-15 18:25] nstdio opened #2708 "The `url` value in pom.xml is not getting resolved."
#### Summary
As you can see from [assertj-core-3.23.1.pom](https://repo1.maven.org/maven2/org/assertj/assertj-core/3.23.1/assertj-core-3.23.1.pom) the project url is treated as literal.

[2022-07-15 22:10] Giovds commented on #2708
I believe this is expected behavior, since you upload your POM as it to Maven central. You can validate this by looking at the [POM from maven](https://repo1.maven.org/maven2/org/apache/maven/maven/3.8.6/maven-3.8.6.pom) itself for example where the URL isn't interpolated yet either.

The expressions are interpolated once you start building the effective-pom in memory. You can validate this when y

[2022-07-15 22:24] Giovds commented on #2708
As an alternative we could change it to `${project.organization.url}` since that is inherited from the parent, and is accessible from the child POM. Once you run `mvn help:effective-pom` with this change it will be interpolated to:
[code]

[2022-07-15 23:08] #2708 closed

[2022-07-15 23:09] scordio commented on #2708
Nice catch, @nstdio! Fixed with @Giovds' proposal.

Thanks!

[2022-07-15 23:31] scordio commented on #2706
`catchThrowableOfType` is in line with `catchThrowable` and returning `null` is currently the expected behavior for both, as mentioned in the Javadoc.

I understand your point, however, I am not sure if we should enforce the presence of an exception with `catchThrowableOfType` because the `catchThrowable` methods are mainly meant to be used in [BDD style](https://assertj.github.io/doc/#assertj-cor

[2022-07-19 08:33] sofax opened #2710 "containsExactlyInAnyOrderEntriesOf() is broken"
#### Summary
_containsExactlyInAnyOrderEntriesOf()_ is broken (and has been since, at least, v3.20.0). The example below should not throw an assertion exception, but it yields:

[code]

#### Example

[code]

Tested with v3.20.0, v3.23.1.

[2022-07-19 13:55] scordio commented on #2710
The issue is triggered in the [`clone`](https://github.com/assertj/assertj-core/blob/7ccc197688f1c5cf936df07fcda19d9ab2d0c2d5/src/main/java/org/assertj/core/internal/Maps.java#L421-L441) method when we try to clone the input map, specifically here:

https://github.com/assertj/assertj-core/blob/7ccc197688f1c5cf936df07fcda19d9ab2d0c2d5/src/main/java/org/assertj/core/internal/Maps.java#L431

Since `M

[2022-07-19 22:40] #2710 closed

[2022-07-21 19:06] Jiehong commented on #2706
@scordio : I totally understand the point, yet, a few lines below where you linked in the documentation but in the same section, you can see this:

![image](https://user-images.githubusercontent.com/1061229/180292679-8722dbf8-3e41-40c1-9a41-d55d380f9b4c.png)

And this has the exact same issue that `assertThat(textException).hasMessageContaining("boom");` has: it will throw a NPE.

So, perhaps the

[2022-07-21 19:07] scordio commented on #2695
I'm not sure I understand your target here.

You talk about potential refactoring with estimates but at the same time say you're not familiar with the codebase and the scope is quite vague.

Looking at your GitHub profile, you opened dozens of similar issues with other projects. It sounds like a script-based activity.

Our capacity is limited and we cannot help with this exercise. I'm going to clo

[2022-07-21 19:07] #2695 closed

[2022-07-22 10:34] joel-costigliola commented on #2706
The doc can be improved indeed.

@Jiehong you have some fair points,  we'll discuss them in the team.

[2022-07-22 17:10] kilsbo opened #2711 "Regex matches for RecursiveComparisonAssert.withEqualsForFields()"
#### Feature summary
Greetings and salutations,

`RecursiveComparisonAssert` supports both plain string field names and regex'd field names with the methods `ignoringFields()` and `ignoringFieldsMatchingRegexes()`. However, I would like to have this possibility for the functionality in `withEqualsForFields()` as well.

My reason is simply that I'm asserting objects which has lists of objects in th

[2022-07-23 05:58] joel-costigliola commented on #2706
We have reached an agreement on changing `catchThrowableOfType` and `catchThrowable` to verify that a throwable was thrown but since it's a breaking change, we'll do that in 4.0

[2022-07-24 03:44] joel-costigliola commented on #2711
I agree it would be a good addition.

[2022-07-26 07:41] fishautumn opened #2712 "Add extracting()/returns() method to most assertions"
#### Feature summary

when testing a spring-data-jpa application, I found `org.assertj.core.api.Assertions.assertThat(org.springframework.data.domain.Page)` returns `IterableAssert` which has no `extracting()` and `returns()` method.

I have to use `org.assertj.core.api.Assertions#assertThatObject`.

In Java world, `Iterable` implement instances are all expected to be `Object`, so can we add metho

[2022-07-26 09:45] joel-costigliola commented on #2712
@fishautumn do you have a concrete use case where `extracting` would be need for the iterable under test itself (as opposed to its elements) ?

We already have [extracting](https://www.javadoc.io/static/org.assertj/assertj-core/3.23.1/org/assertj/core/api/AbstractIterableAssert.html#extracting(java.util.function.Function)) defined for iterables assertion that operates on the elements.

[2022-07-26 10:42] joel-costigliola commented on #2210
This is now fixed by the introduction of the recursive assertion:

[code]

[2022-07-26 10:42] #2210 closed

[2022-07-26 11:24] Fiouz opened #2713 "NoSuchMethodException trying to use soft assertions with XmlUnit"
**Describe the bug**

When trying to combine a [custom assertion provided by XmlUnit](https://github.com/xmlunit/xmlunit/blob/cc4242d06d9dee45bbbbabbb5ddaea28d64dd9b0/xmlunit-assertj3/src/main/java/org/xmlunit/assertj3/XmlAssert.java#L115-L122) with soft assertions, I get the following `NoSuchMethodException`:

[code]

* assertj core version: 3.23.1
* java version: 17
* test framework version: JUn

[2022-07-26 22:15] scordio commented on #2713
Looking at `createSoftAssertionProxy`:

https://github.com/assertj/assertj-core/blob/88d32b64ff68797e0c7d9cf51af4b1cec34d2c51/src/main/java/org/assertj/core/api/SoftProxies.java#L116-L129

on line 121 it tries to get the public constructor, but `XmlAssert` has only a [private constructor](https://github.com/xmlunit/xmlunit/blob/main/xmlunit-assertj3/src/main/java/org/xmlunit/assertj3/XmlAssert.jav

[2022-07-27 03:46] onacit opened #2717 "Add AbstractClassAssert#is(Not)Primitive()"
#### Feature summary

The `AbstractClassAssert` lacks with `is(Not)Primitive()`.

#### Example

[code]

There is already workarounds for the case, I know.

[code]

I just found a case regarding the `.as(...)`.

[code]
which may be more fluent,

[code]

[2022-07-27 07:04] joel-costigliola commented on #2717
Fine by me!

[2022-07-27 13:46] lukasGemela opened #2718 "add compareOnlyFieldsMatchingRegexes"
#### recursive comparison with

We have a use case where we clone some DB JPA entities and we need to check that after cloning they are exactly identical, except all ids. These entities contains also nested entities so we need recursive comparison.

So I have class A, referencing class B. Both classes have field ID. I clone class A, together with class B and I must check whether ALL ids are differ

[2022-07-28 12:37] downloadpizza opened #2719 "Collections + RecursiveComparasion"
#### Feature summary
Provide a way to use RecursiveComparasion for Collection methods like containsExcactly.

#### Example
Today I had to write code like this:
[code]
To check that result contains all the elements of foundEntities using recursiveComparasion.
Instead I would like to be able to do
[code]

[2022-07-28 12:38] downloadpizza commented on #2719
If there is a better way than my ugly oneliner please tell me, it is "clever", but not readable at all.

[2022-07-28 13:28] gabriel-robaina-tw opened #2720 "Add field alias support for RecursiveComparison"
#### Feature summary
I would like to be able to recursively compare two objects, of different types, that have fields with the same values but different field names.

It can happen whenever someone wants to recursively compare an entity to a DTO while testing a mapper. Said DTO can have fields named differently from the entity.

I imagine this may be a common use-case. Please let me know if a simi

[2022-07-28 14:30] downloadpizza commented on #2719
For my usecase I have found
[code]
to work, but that is only to check ALL exist. All the other methods are still missing and would be very helpful.

[2022-07-28 21:09] ManuelG28 commented on #2717
Hi @joel-costigliola
Could I take this one? 😃

[2022-07-28 21:18] scordio commented on #2717
Go for it, @ManuelG28!

[2022-07-29 13:53] Fiouz commented on #2713
Thank you @scordio, I missed that issue.

I am wondering whether this `public` single argument constructor requirement is an official AssertJ requirement for implementing a compliant custom assertion, or is it just an implementation heuristic that needs more tuning on AssertJ side (e.g. with some Byte Buddy bytecode manipulation)?

The missing documentation section might explain why some assertion

[2022-07-29 14:04] razilein opened #2721 "Missing `assertThat(SQLException)`"
**Describe the bug**

assertThat(...).isEqualTo(..) is not working with java.sql.SQLException. The compiler says it's ambiguous.

* assertj core version: 3.22.0
* java version: 11.0.13-tem

**Test case reproducing the bug**

[code]

[2022-07-29 14:47] scordio commented on #2721
[`SQLException`](https://docs.oracle.com/javase/7/docs/api/java/sql/SQLException.html) implements `Iterable`, that's why it's considered ambiguous. As you already figured it out, you need to qualify the call with a cast or a variable.

We might consider introducing a new entry point to disambiguate this call.

About `isEqualTo` failing, that's normal as `SQLException` does not override `equals`. Y

[2022-07-29 15:05] scordio commented on #2713
We should consider the following points:
* Custom assertions do not require a `public` 1-arg constructor to work as _hard_ assertions.
* AssertJ has no concrete documentation or guidelines on how third-party libraries should write custom assertions to be compatible with soft assertions.
* Connecting assertion classes with AssertJ core components to get soft assertions support is currently a burden

[2022-07-30 06:34] scordio commented on #2721
**Team decision**: let's add `assertThat(SQLException)` / `assumeThat(SQLException)` and the corresponding BBD variants.

Implementation notes:
* In order to properly support the existing subtypes of `SQLException`, the signature should be:
[code]
* The implementation can delegate to the existing `assertThat(Throwable)` in `AssertionsForClassTypes`:
[code]
* `java.sql` should be added to the `modu

[2022-07-30 09:18] mslowiak commented on #2721
Hello there @scordio, can I work on this issue? :)

[2022-07-30 09:37] scordio commented on #2721
Sure and thanks, @mslowiak!

[2022-07-30 21:53] scordio opened #2724 "`returns` and `doesNotReturn` should honor custom type comparators"
#### Feature summary

Currently, comparators set via `usingComparatorForType` are ignored by `returns` and `doesNotReturn` assertions.

We could enhance the implementation so that custom comparators are also used with these two methods.

Source: https://stackoverflow.com/questions/73121345/

#### Example

[code]

[2022-07-30 21:58] #2724 closed

[2022-08-01 03:10] fishautumn commented on #2712
Oh, I haven't noticed that. So `returns` is the only method I really need.

[2022-08-01 04:01] scordio commented on #2712
Can you please provide a concrete use case? `returns` is usually used to verify bean properties. What would you verify with `returns` on an `Iterable`?

[2022-08-01 09:37] scordio commented on #2424
Done in 20b0be5f5c847a1ec8ef671e328d4642c80d2cfd.

[2022-08-01 09:41] scordio commented on #2424
Done.

[2022-08-01 10:03] fishautumn commented on #2712
Some `Iterable` implementations may have properties.

I'm working on a spring-data-jpa application. A method may have return type of `org.springframework.data.domain.Page<T>`, which has properties: `totalPages`, `totalElements`.

My test is something like this:
[code]

[2022-08-01 15:52] scordio commented on #2712
Although it's true that all types extend from `Object`, we try to expose type-specific and meaningful assertions that can be more powerful and expressive than a simple `returns`.

I tend to see `returns` as not useful for most of the `Iterable` use cases, so I'd avoid polluting the API.

Would the following be an option?

[code]

Using `getContent` might also give more expressive assertions, simil

[2022-08-02 02:19] fishautumn commented on #2712
Yes, it works. I'm using `assertThatObject(...).returns(...)`.

I agree that `returns` is not useful for most `Iterable`. This is the first and the only case I met.

[2022-08-02 06:00] joel-costigliola commented on #2712
@fishautumn is there anything else you need from us or can we close this issue?

[2022-08-02 06:31] fishautumn commented on #2712
All my questions are get answered. Thanks for all of your reponse.

[2022-08-02 07:29] #2712 closed

[2022-08-02 07:55] scordio commented on #2424
Proposal for the second milestone:

1. New modules to better segregate integration tests:
[code]
I introduced a general `assertj-tests` module because we could move some existing performance tests into a separate `assertj-performance-tests` module.

2. Convert `assertj/assertj-guava` to be a submodule (keeping git history) and archive the source repository.

[2022-08-02 09:23] joel-costigliola commented on #2424
looks good to me, so you would put `assertj-performance-tests` as a top level module or would it be under `assertj-tests` ?

[2022-08-02 09:29] scordio commented on #2424
Under `assertj-tests`

[2022-08-02 18:45] scordio commented on #2713
Superseded by #2625.

[2022-08-02 18:45] #2713 closed

[2022-08-02 18:46] scordio commented on #2625
From https://github.com/assertj/assertj/issues/2713#issuecomment-1199482625, we should consider the following points:
* Custom assertions do not require a `public` 1-arg constructor to work as _hard_ assertions.
* AssertJ has no concrete documentation or guidelines on how third-party libraries should write custom assertions to be compatible with soft assertions.
* Connecting custom assertion class

[2022-08-03 21:47] scordio commented on #2472
**Team decision**

The following assertions will be included:

[code]

The existing `containsOnlyDigits` will not be deprecated.

[2022-08-06 10:38] #2472 closed

[2022-08-06 10:39] joel-costigliola commented on #2472
@NeshkaD thanks! We have integrated your PR.

[2022-08-07 10:07] joel-costigliola commented on #2616
Closing this issue as we can register specific comparison/equals for types or fields which I think cover the use case.
Happy to reopen if that turns our not to be true.

[2022-08-09 15:47] nstdio opened #2734 "Support for GString in `Assertions.registerFormatterForType`"
When registering custom formatter in Groovy and using the interpolated string we are getting `ClassCastException` on [StandarardRepresentation:311](https://github.com/assertj/assertj/blob/main/assertj-core/src/main/java/org/assertj/core/presentation/StandardRepresentation.java#L311) because we are trying to cast `GStringImpl` to `String`.

Here is the simple Spock spec to demonstrate this:

[code]

[2022-08-09 19:50] scordio commented on #2734
Sure, @nstdio. If you have already an idea on how to support this use case, feel free to create a PR!

I think it would be helpful if we could also add dedicated Groovy tests to prevent regressions. However, AssertJ is not yet ready for it and I personally don't have first-hand experience with Groovy + Maven + JUnit.

With a quick search, I've found the [`gmavenplus-plugin`](https://github.com/gro

[2022-08-12 14:23] nstdio commented on #2734
I've been thinking about 2 possibilities to solve this issue:

- Change second argument of [StandardRepresentation#registerFormatterForType](https://github.com/assertj/assertj/blob/main/assertj-core/src/main/java/org/assertj/core/presentation/StandardRepresentation.java#L184) to `Function<T, ? extends CharSequence>` and all the appropriate changes in internals. Seems this would not brake backwards

[2022-08-16 21:21] mslowiak commented on #2721
Sorry, I am not able to deliver that thing. Unassigned. Still open :)

[2022-08-22 13:11] extryd opened #2744 "usingRecursiveComparison() ignores overridden equals() rules"
**Describe the bug**
I faced the issue that usingRecursiveComparison() doesn't consider the overridden equals() method.

I copied the code from doc example and it fails for me as well
https://assertj.github.io/doc/#assertj-core-recursive-comparison-ignoring-equals

* assertj core version: 3.23.1
* java version: 11.0.9
* test framework version: TestNg 7.5
* os (if relevant):

**Test case reproducin

[2022-08-22 16:10] JamesPeters98 commented on #2356
This is still an issue as of 3.23.1, any chance it can be looked at as it seems like this issue got missed :)

[2022-08-22 19:47] scordio commented on #2356
Hi @JamesPeters98, we'll do our best to keep this issue in scope for 3.24.0.

[2022-08-22 20:04] scordio commented on #1437
Reopening as we'll add a BOM as a consequence of #2424.

[2022-08-22 21:01] joel-costigliola commented on #2744
@extryd the wording in the documentation might be a bit unclear but since 3.17.0 the recursive comparison ignores all overridden equals methods (except for java types).
**Before** 3.17.0,  it used overridden equals methods and it was possible to ignore some by type or regex.

The doc is confusing because the examples only work for version < 3.17.0 which can be enabled by https://www.javadoc.io/sta

[2022-08-23 03:03] kriegfrj commented on #2356
Sorry, that has been an extremely long week. Hopefully it will get shorter in the coming... errmm... weeks...

[2022-08-23 06:37] extryd commented on #2744
@joel-costigliola oh I see, I thought the example is for the actual behaviour. Thank you for the clarification.

[2022-08-23 06:37] #2744 closed

[2022-08-24 07:44] onacit opened #2749 "Add IterableAssert#containsAnyInstanceOf(Class<?>... classes)"
#### Feature summary

I just tried to check annotations on a field.

[code]

and the JVM complains.

[code]

I couldn't help but doing the following.

[code]

#### Example

[code]

[2022-08-24 15:49] darevalo-dev commented on #2348
I use .withEqualsForFields() method and it works for me:

`assertThat(input)
              .usingRecursiveComparison()
              .withEqualsForFields((PersonDto o1, Persono2) -> o1.getAmount().getValue().equals(o2.getTotal().getValue()), "tax", "stay.tax")
              .isEqualTo(expected_output);`

For me the key was to anotate all the field locations where this equality should take place

[2022-08-24 17:32] bmarwell commented on #2664
No worries, I can help if this is still of interest

[2022-08-25 06:52] bmarwell opened #2751 "Compilation fails on OpenJ9 JVM"
**Describe the bug**

A clear and concise description of what the bug is.

* assertj core version: main branch
* java version: OpenJ9 17.0.3.0
* test framework version: main branch
* os (if relevant): MacOS

**Test case reproducing the bug**

Add a test case showing the bug that we can run

[code]

** Additional information **

Cannot test it locally, as I am using OpenJ9 (not any hotspot VM) and

[2022-08-25 07:38] khmarbaise commented on #2688
Sorry for the late response... my personal opinion is this is sufficient. Yes... but I'm not a lawyer...

[2022-08-27 22:43] rnowif commented on #2721
Hi,

I'd be interested in working on that issue if that's still okay.

[2022-08-28 15:16] tomasbjerre commented on #2471
I started fiddling with this, implementing it as an extension to AssertJ.

Code is here:
https://github.com/tomasbjerre/assertj-snapshot

Is there any chance of this repo being moved to this organization?

[2022-08-28 20:58] scordio commented on #2471
I still feel this doesn't belong to AssertJ, considering that solutions like [`java-snapshot-testing`](https://github.com/origin-energy/java-snapshot-testing) exist already.

Of course, nothing prevents having an AssertJ flavor of snapshot testing, similarly to what [JSonUnit does](https://github.com/lukas-krecan/JsonUnit#assertj). Have you thought about asking `java-snapshot-testing` for it?

[2022-08-29 05:17] #2471 closed

[2022-08-29 08:59] Bananeweizen opened #2754 "different case "NewLines" and "Newlines" in similar assertions"
There are multiple assertions on CharSequence that allow ignoring or normalizing newlines. Unfortunately those methods differ in their writing of "newline" as part of the method name. E.g. when editing code to switch between these 2 methods, it is not sufficient to exchange `Ignoring` by `Normalizing`, you rather also have to switch between uppercase and lowercase `L`:

[isEqualToIgnoringNew**L**i

[2022-08-29 12:12] joel-costigliola commented on #2754
fair enough, will keep the existing assertion for backward compatibility

[2022-08-29 19:14] beatngu13 commented on #1504
@raphw we are facing similar issues since we test on the module path, see:

https://github.com/junit-pioneer/junit-pioneer/runs/8060473637?check_suite_focus=true#step:4:68

This is one of the failing tests:

https://github.com/junit-pioneer/junit-pioneer/blob/main/src/test/java/org/junitpioneer/internal/PioneerAnnotationUtilsTests.java#L516

Looks like the problematic path comes from `extractingRe

[2022-08-29 20:03] scordio commented on #1504
@beatngu13 @aepfli we removed ByteBuddy shading in c61eb478a8dec8a838b0f04f7045c1bbd8251a05, part of AssertJ 3.23.1. Could you try that version?

[2022-08-29 20:11] aepfli commented on #1504
i reverted one time to the usage of `extractingResultOf` and updated assertj to the requested version ->

[code]
- https://github.com/junit-pioneer/junit-pioneer/runs/8078978813?check_suite_focus=true

thank you!

[2022-08-29 20:17] scordio commented on #1504
The issue is unrelated to ByteBuddy because you're not using soft assertions. Sorry, I should have spotted it before 😅

I'll play with your branch and see what I can find.

[2022-08-30 06:28] aepfli commented on #1504
Please let us know if we can support you in any way. Sadly my JPMS knowledge is limited, and this is my first real-world encounter :D; therefore, I am unsure how I could address/help regarding this.

Thank you for your efforts, highly appreciated.

[2022-08-30 06:31] scordio commented on #1504
No worries and thanks for the offer! I'm pretty much in the same situation 😄

I'm trying to create integration tests for JPMS now that we have a multi-module but I'm struggling a bit with the multi-release setup we have.

I'll spend more time on it in the evening. Stay tuned!

[2022-08-31 14:06] scordio opened #2757 "Integration test infrastructure for Kotlin"
Related to #2424, we should add a new `assertj-core-kotlin` module under [assertj-tests/assertj-integration-tests](https://github.com/assertj/assertj/tree/main/assertj-tests/assertj-integration-tests) to support Kotlin based integration tests.

We could check the [Kotlin related issues](https://github.com/assertj/assertj/issues?q=label%3A%223rd-party%3A+Kotlin%22) we had in the past to see if any

[2022-08-31 14:09] scordio opened #2758 "Integration test infrastructure for Groovy"
Related to #2424, we should add a new `assertj-core-groovy` module under [assertj-tests/assertj-integration-tests](https://github.com/assertj/assertj/tree/main/assertj-tests/assertj-integration-tests) to support Groovy-based integration tests.

As of today, Groovy doesn't support Java 20 (https://github.com/assertj/assertj/pull/2735#issuecomment-1229799121) so this new module should be in a profil

[2022-08-31 19:39] scordio opened #2760 "`extractingResultOf` fails on the module path"
## Describe the bug

* AssertJ Core version: 3.23.1
* Java version: 11.0.16+8 Temurin
* Test framework version:

From https://github.com/assertj/assertj/issues/1504#issuecomment-1230743158 by @beatngu13 and @aepfli:

## Test case reproducing the bug

Test case at: https://github.com/junit-pioneer/junit-pioneer/blob/main/src/test/java/org/junitpioneer/internal/PioneerAnnotationUtilsTests.java#L516

[2022-08-31 19:40] scordio commented on #1504
@aepfli I'll continue the analysis of your issue in #2760.

[2022-09-01 09:56] ccsoftno opened #2761 "isEqualsIgnoringNewLines failes"
**Describe the bug**
isEqualsIgnoringNewLines dosn't work on escape strings, since \\\r\\\n doesn't match \\r\\n...

* assertj core version: all after isEqualsIgnoringNewLines
* java version: any
* test framework version: any
* os (if relevant): Windows vs Linux newLines

**Test case reproducing the bug**
Test it with escaped strings, then \\r\\n doesn't match replace("\r\n", "\n")

Add a test cas

[2022-09-01 21:37] scordio commented on #2761
Having `"\\n"` in a string does not represent an escaped version of "\n" but it's actually two characters, `\` and `n`.

Invoking `toCharArray()` also shows this:

![Screenshot 2022-09-01 at 23 29 27](https://user-images.githubusercontent.com/26772046/188016659-d7c20eaa-e6d0-4c95-9db4-3ed65cbdb1cb.png)

So the assertion is correctly failing.

I'm going to reject this issue but please let me know i

[2022-09-01 21:37] #2761 closed

[2022-09-02 21:13] #2758 closed

[2022-09-02 22:21] #2734 closed

[2022-09-04 05:39] sreenath-tm commented on #2757
I'm interested in contributing to this issue, so before I start working it, would you mind sparing your time explaining what the fix will be and pointing me to some resources to get started.

[2022-09-04 07:22] scordio commented on #2757
Hi @sreenath-tm, thanks for the help!

The idea would be to add a new Maven module called `assertj-core-kotlin`. The module should be a child module of [assertj-integration-tests](https://github.com/assertj/assertj/blob/a4e709ce2acd466a84affbbd61949db1dd8bf44b/assertj-tests/assertj-integration-tests/pom.xml). This module should have only a `src/test/kotlin` folder, should be capable to compile Kot

[2022-09-05 04:54] onacit opened #2764 "Add IterableAssert#allSatisfyAnyOf"
#### Feature summary

I need to assert with `satisfiesAnyOf` for each element in an iterable.

This may be a collection version of #1304 .

[code]

#### Example

[code]

[2022-09-05 05:04] joel-costigliola commented on #2764
`allSatisfyAnyOf` could be a good addition to keep the assertion light, @scordio thoughts?

[2022-09-05 14:06] icod commented on #2754
Hi, can I work on this one?

[2022-09-05 20:34] scordio commented on #2754
Sure and thanks, @icod!

[2022-09-05 20:56] scordio commented on #2764
If I understood it correctly, we want to transform this:

[code]

into this:

[code]

which is indeed easier to read.

However, this would open the door to other combinations:
* `allSatisfyAllOf`
* `anySatisfyAllOf`
* `anySatisfyAnyOf`

Adding `anyMatch` / `allMatch` combinations as well would mean four more methods.

Are we willing to add all of these?

With some formatting adjustments, the origi

[2022-09-05 21:21] scordio commented on #2749
Currently, something like this would be possible:

[code]

Should we maybe focus on your concrete use case instead of targeting a general solution for iterables?

Adding specific assertions for `java.lang.reflect.Field` might be a good direction and we could have nice navigational methods in `Class` assertions.

[2022-09-06 10:24] joel-costigliola commented on #2764
Fair point, we don't want to have so many combinations

[2022-09-07 17:54] Michael1993 commented on #2749
You could also just rewrite your original assertion if you prefer:
[code]

[2022-09-07 18:09] Michael1993 commented on #2702
This is the same issue I encountered in [this PR (#664)](https://github.com/junit-pioneer/junit-pioneer/pull/664). You pass a `Comparator<? extends Long>` to your class but compare two `Object`s at runtime, making Java assume that your arguments are both `Long`, leading to a `ClassCastException`.

[2022-09-07 18:21] RG9 opened #2768 "Make error msg for asserting Tuple easier to copy into code"
#### Example & feature description

[code]
Output is:
[code]

Would be nice to have:
[code]
so I could easily copy `tuple(1, 1), tuple(2, 2)` into `.containsExactly(..)`.

What do you think?
Is it easy to implement?
Or is there any nice workaround?

[2022-09-07 18:26] Michael1993 commented on #2702
I think this can be solved by removing the type arguments of the `Comparator` passed to `usingComparator`. This shouldn't lead to any issue (I think?) because it's used to create a `ComparatorBasedComparisonStrategy`, which uses a rawtype `Comparator` anyways.

[2022-09-07 20:22] scordio commented on #2768
You could create your own representation:

[code]

and use it in [`withRepresentation`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/Assert.html#withRepresentation(org.assertj.core.presentation.Representation)):

[code]

The output would be:

[code]

[2022-09-08 11:18] scordio commented on #789
Thanks, @Michael1993, we missed this one!

Your solution can also be shortened with [`singleElement(InstanceOfAssertFactory)`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/AbstractIterableAssert.html#singleElement(org.assertj.core.api.InstanceOfAssertFactory)):

[code]

@fabioCollini given the solution with the latest version, I am going to close this issue.

[2022-09-08 11:18] #789 closed

[2022-09-08 11:52] RG9 commented on #2768
Thanks @scordio!

How about making this representation a default one?

[2022-09-08 20:47] scordio commented on #2768
`Tuple` is currently rendered as other iterables and I personally don't see the prefix as generally useful, so I'd prefer to keep the current representation knowing it can be customized as in the example above.

@assertj/core thoughts?

[2022-09-09 03:40] joel-costigliola commented on #2768
I prefer it without the prefix, it focuses more on the data than the data structure, similar to representing an array as `[1,2,3]` and not `array[1,2,3]` or `array(1,2,3)`

[2022-09-09 05:06] #2768 closed

[2022-09-09 13:29] icod commented on #2754
Cool!

A few questions:

- Should I use the 'since' parameter in the `@Deprecated` annotation? And if so, which version should I use?
- What to do which the Javadoc of the deprecated public methods? The new method will have the correct Javadoc ('Newlines'). The old one can just have no Javadoc other than a `@deprecated Please use... instead.`, right?
- Should there still be unit tests for the depr

[2022-09-10 07:12] scordio commented on #2347
Fixed by #2742.

[2022-09-10 07:12] #2347 closed

[2022-09-11 10:50] rweisleder opened #2775 "Improve null-safety of isEqualToNormalizingNewlines"
AssertJ version: 3.23.1
Java version: 17

When comparing strings with isEqualToNormalizingNewlines, the handling of `null` can be improved.

### Example 1

[code]

I would expect this test to succeed since `null == null` and `assertThat(actual).isEqualTo(expected)` succeeds. Instead, it throws a NullPointerException:
[code]

### Example 2

[code]

I would expect this test to fail with `AssertionEr

[2022-09-11 11:13] scordio commented on #2775
Thanks, @rweisleder!

I agree, these use cases can be improved. Would you like to contribute?

[2022-09-13 11:33] origin-coding opened #3711 "`usingComparatorForFields` and `usingComparatorForType` documentation example using deprecated method"
Ducumentation links:
https://www.javadoc.io/static/org.assertj/assertj-core/3.23.1/org/assertj/core/api/AbstractObjectAssert.html#usingComparatorForFields(java.util.Comparator,java.lang.String...)

https://www.javadoc.io/static/org.assertj/assertj-core/3.23.1/org/assertj/core/api/AbstractObjectAssert.html#usingComparatorForType(java.util.Comparator,java.lang.Class)

Description:
These two methods'

[2022-09-16 14:14] pfoermer opened #2781 "RecursiveComparisonDifferenceCalculator - Stack overflow"
**Describe the bug**
RecursiveComparisonDifferenceCalculator is fetching field values preferred via property accessor and not via plain field reflection.
This becomes to an issue in case the property accessor is returning new instances on each invocation and a cyclic graph structure exists for comparison. In that case it might happen that RecursiveComparisonDifferenceCalculator (assertThat(...).us

[2022-09-17 01:16] joel-costigliola commented on #2781
That should be addressed by https://github.com/assertj/assertj/issues/2189 where you would be able to use your own introspection strategy

[2022-09-19 09:49] #2711 closed

[2022-09-19 17:44] brandoncimino opened #2784 "`OptionalAssert#get()` with `SoftAssertions` throws `NoSuchElementException`"
Using `OptionalAssert#get()` with `SoftAssertions` throws a `NoSuchElementException`, which breaks all everything else in the `SoftAssertions`.

* assertj core version: 3.23.1
* java version: 11 _(Amazon Corretto 11.0.10_9)_
* test framework version: TestNG 7.3.0

## Test case reproducing the bug

[code]

### Expected result:

A `MultipleFailuresError` containing the `.isEqualTo(1)` and `OptionalA

[2022-09-20 11:14] scordio commented on #2784
Thanks for the bug report, @brandoncimino!

This is the same issue identified with `extracting` in #2495 so I'm closing this issue as a duplicate.

[2022-09-20 11:14] #2784 closed

[2022-09-23 02:52] ntthaibk commented on #1518
I found it in Assertions, but can't do it in SoftAssertion :(

[2022-09-25 15:46] #2757 closed

[2022-09-27 20:21] scordio commented on #2262
Closing as we do not plan to revert this change.

[2022-09-27 20:24] scordio commented on #2018
It is now possible to have dedicated tests relying on records with a new module under [assertj-integration-tests](https://github.com/assertj/assertj/tree/main/assertj-tests/assertj-integration-tests).

[2022-09-27 20:51] scordio opened #2791 "Introduce `assertThatCharSequence` to disambiguate Groovy's `GString`"
#### Feature summary

Currently, Groovy's interpolated expressions cannot be a direct input of `assertThat` as `groovy.lang.GString` implements both `Comparable` and `CharSequence`.

We might add `assertThatCharSequence(CharSequence)` / `assumeThatCharSequence(CharSequence)` and the corresponding BDD variants to disambiguate these calls.

#### Example

This should compile:

[code]

Implementation

[2022-09-29 23:37] #2666 closed

[2022-09-29 23:38] scordio commented on #2688
`commons-lang` code is no longer used.

[2022-09-29 23:38] #2688 closed

[2022-09-30 21:08] beyond-danube opened #2793 "Recursive comparison for the fields of given type only"
#### Perform recursive comparison on fields of given type only
`.usingRecursiveComparison()` is really helpful in the number of cases, especially when comparing huge composite objects.

For some cases, when only part of object should be compared `comparingOnlyFields` is a good option, however there are cases when filed name could change, or another that we would need to compare added. Comparing fi

[2022-10-02 12:21] #1536 closed

[2022-10-03 15:13] djortizu opened #3877 "Integration with Allure"
Hi,

I apologize for this not being necessarily an issue. I tried locating an email or a forum where I can ask this question, but there isn't one. I just wanted to know if the assertions appear in Allure as reported steps and if not, is there a way I can get them included?

[2022-10-04 05:58] joel-costigliola commented on #2793
Thanks, I will review your PR in the next few days

[2022-10-05 07:14] remika opened #2799 "(very) small error in javadoc of : org.assertj.core.api.Assertions#within(long, java.time.temporal.TemporalUnit)"
There is a small error in the java doc of org.assertj.core.api.Assertions#within(long, java.time.temporal.TemporalUnit)
"Assertions entry point for TemporalUnitOffset with with less than or equal condition to use with isCloseTo temporal assertions."

"with" is doubled

* assertj core version: 3.7.0

[2022-10-05 23:01] joel-costigliola commented on #2799
Good catch, thanks for reporting this @remika!

[2022-10-07 01:37] #2799 closed

[2022-10-09 05:18] techrajdeep commented on #2721
I am looking for an issue for my first contribution . Can you help me here. Can I take on this .

[2022-10-09 06:46] scordio commented on #2721
Sorry, @techrajdeep, this issue has been already taken by @rnowif.

However, #2791 might be a good issue for a first contribution.

[2022-10-09 15:30] techrajdeep commented on #2791
Hey @scordio,  I am looking for an issue for my first contribution . Can you help me here. Can I take on this .

[2022-10-09 20:32] scordio commented on #2791
Hi @techrajdeep, sure, this issue is up for grabs. Anything where you'd need clarification?

[2022-10-10 06:31] techrajdeep commented on #2791
@scordio Could you please assign it to me

[2022-10-14 01:47] marcela-cardona-s commented on #2775
Hi @scordio I would like contribute with this issue, can i do it?

[2022-10-14 07:32] scordio commented on #2775
Hi @marcela-cardona-s, this issue is currently covered by #2776.

[2022-10-14 08:36] scordio opened #2810 "Pull requests from non-fork branches trigger duplicate workflow executions"
The [`main`](https://github.com/assertj/assertj/blob/main/.github/workflows/main.yml) and [`cross-version`](https://github.com/assertj/assertj/blob/main/.github/workflows/cross-version.yml) workflows are currently triggered by `push` and `pull_request` events without any branch filter.

This helps us experiment with branches without the need to open pull requests first.

However, this causes dupli

[2022-10-14 08:45] scordio commented on #2810
GitLab has a convenient environment variable to address such use cases: [CI_OPEN_MERGE_REQUESTS](https://docs.gitlab.com/ee/ci/variables/predefined_variables.html)

Using this variable, duplicate executions can be avoided with a GitLab condition like:

[code]

(Source: [gitlab-org/gitlab#201845](https://gitlab.com/gitlab-org/gitlab/-/issues/201845) / [gitlab-org/gitlab#38673](https://gitlab.com/gi

[2022-10-14 08:47] scordio commented on #2810
Another option might be to use the [concurrency](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#concurrency) settings on workflow or job level.

[2022-10-14 10:14] drakulavich commented on #2810
Found how to configure it with concurrency. Will send a PR soon

[2022-10-14 20:27] linksblackmask opened #2812 "usingRecursiveComparison() not working when object implements Iterable"
#### Summary
When asserting 2 objects are equal usingRecursiveComparison(), when the class implements Iterable, seems to cause an equals check the iterable, and not the entire object. Noticed this in a more complicated Class, so mocked up an example to show the root of the problem.

In the below example, the assert in the test passes, even when the objects aren't equal. Having followed through the

[2022-10-15 05:15] joel-costigliola commented on #2812
Your analysis is correct, the recursive comparison does not check iterables fields, only its iterable elements.
We need to take a bit of time to see if we want to support that, the challenge here is to find out which field are relevant to compare, in your example we would want to compare `name` but if we look at an `ArrayList` we don't want to compare its fields but only its elements.

[2022-10-15 05:20] joel-costigliola commented on #2812
Maybe we could check if the iterable implementation belongs to the JDK or not ...

[2022-10-15 05:33] linksblackmask commented on #2812
I think checking whether the iterable implementation belongs to the JDK is the lesser of two evils here, possibly if is instanceof iterable && is instanceof collection?

[2022-10-15 09:14] joel-costigliola commented on #2812
Checking only iterable and collection would not work if you had extended `List` so I feel checking if the iterable belongs to the JDK is better (but that would not cover the case where the iterable comes from a lib like Guava), I don't think we can find a perfect check here (maybe I'm wrong).

[2022-10-15 12:16] linksblackmask commented on #2812
Sorry wasn't really thinking this morning when I woke up, yes your right, simply checking for instanceOf Collection won't work. Got to say this has been a proper head scratcher.

A possible solution would be to have the iterables fields from the JDK be ignored by default; and everything else check them and obviously throwing error if iterable feilds don't match, adding methods like:

Then as an er

[2022-10-16 09:32] joel-costigliola commented on #2696
No need as primitive optional `equals` method compares their value properly and since they are primitive values there is no need for further recursion

[2022-10-16 09:32] #2696 closed

[2022-10-16 09:59] joel-costigliola commented on #2793
Addressed by https://github.com/assertj/assertj/commit/0b0ce5d88ec831fb55daf9bc1aa5894e29f63e7a

[2022-10-16 09:59] #2793 closed

[2022-10-16 17:10] scordio commented on #2810
As discussed in #2811, `concurrency` settings do not produce a nice user experience.

[2022-10-20 15:13] NehaDadhich commented on #2671
Hi,

I think this issue should be broken down into smaller issues as `contains*` has many implementations.

[2022-10-21 16:00] cerebro84 opened #2817 "AssertProvider not supported by SoftAssertions"
**Describe the bug**
It appears that it's not possible to use AssertProvider with SoftAssertions.assertThat

* assertj core version: 3.23.1
* java version: 8

**Test case reproducing the bug**

Add a test case showing the bug that we can run

[code]

[2022-10-21 16:48] scordio commented on #2817
Indeed, there is no `assertThat(AssertProvider)` under soft assertions, so you get object assertions with that.

@joel-costigliola do you recall any historical reason not to provide that? With a quick look, we might be able to create a proxy even having the target type as an input.

However, we have fine-grained control over what needs to be proxied and what not, which could clash with the method

[2022-10-22 05:44] joel-costigliola commented on #2817
From what I recall, we did not think about it while introducing soft assertions.

That's a good topic for a proof of concept.

[2022-10-24 04:24] joel-costigliola commented on #2314
@chrylis I'm finishing off https://github.com/assertj/assertj/issues/2189 which will allow to provide the way to introspect nodes to be compared in the recursive comparison (properties, fields ... implementor choice).

I try reproducing your issue but could not which I think is due to the use of https://github.com/assertj/assertj/blob/main/assertj-core/src/main/java/org/assertj/core/util/introspec

[2022-10-24 05:50] scordio commented on #2563
@raphw is there any example I could look at in Byte Buddy or Mockito about the build plugin?

[2022-10-24 07:00] raphw commented on #2563
https://github.com/raphw/byte-buddy/tree/master/byte-buddy-maven-plugin

https://github.com/raphw/byte-buddy/tree/master/byte-buddy-gradle-plugin

[2022-10-24 21:03] OndraZizka opened #2819 "Make the Javadoc more language agnostic"
**Describe the bug**
Please Make the Javadoc more language agnostic.

We are using it from Kotlin, and  some developers are confused by statements like this one:
Verifies that the actual value is the same as the given one, ie using == comparison.

In Kotlin, == translates to a call to .equals().  For Java's `==` the equivalent is `===`.

The  same may apply for other Java-compatible languages.
Tha

[2022-10-24 21:14] OndraZizka opened #2821 "Make the assertion lambdas Kotlin friendly"
#### Feature summary
Some assertions accept a functor:
[code]

Kotlin has a syntax for lambdas, so it could call:
[code]
But as it is, it needs to stick with the less readable:
[code]
Could you please add some overrides, moving the functors to the last place? Like,

[code]

Thanks for considering.

AssertJ 3.23.1

[2022-10-24 21:30] OndraZizka commented on #2821
One more thing: `isNull`  could return a boolean. Because then, Kotlin considers that a getter, and needs no `()` to invoke it:

[code]

[2022-10-25 13:16] java-coding-prodigy commented on #2821
Could I take on this?

[2022-10-25 13:38] scordio commented on #2821
Hi @java-coding-prodigy, thanks for the offer. Please, give us a bit of time to analyze the issue and have a decision from the team.

[2022-10-25 13:39] java-coding-prodigy commented on #2821
Sure thing

[2022-10-26 06:27] java-coding-prodigy commented on #2819
Is this issue up for grabs?

[2022-10-26 11:48] scordio commented on #2821
**Team decision**: let's add `catchThrowableOfType(Class<THROWABLE>, ThrowingCallable)` and deprecate the existing `catchThrowableOfType(ThrowingCallable, Class<THROWABLE>)`.

We believe that the readability of Java code can also benefit from this change.

@java-coding-prodigy would you like to take care of these changes?

[2022-10-26 11:49] ChrisZoet commented on #2697
Hey, can I make an attempt to work this out?

[2022-10-26 16:09] java-coding-prodigy commented on #2821
Yes I am ready to make those changes
I assume we will also replace existing calls of the method in our repo?

[2022-10-26 16:56] scordio commented on #2821
Yes, that would make sense.

[2022-10-29 03:56] #2189 closed

[2022-10-29 04:10] joel-costigliola commented on #2554
@almibarss, we have finally got the time to address  #2189 which is why I'm closing this issue.

I actually wrote a test using an introspection strategy that matches camel and snake case fields, see:
* https://github.com/assertj/assertj/blob/main/assertj-core/src/test/java/org/assertj/core/api/recursive/comparison/RecursiveComparisonAssert_isEqualTo_withIntrospectionStrategy_Test.java#L123
* https

[2022-10-29 04:18] joel-costigliola commented on #2314
@chrylis , we have finally got the time to address  #2189 which is why I'm closing this issue.

I actually wrote a [test](https://github.com/assertj/assertj/blob/main/assertj-core/src/test/java/org/assertj/core/api/recursive/comparison/RecursiveComparisonAssert_isEqualTo_withIntrospectionStrategy_Test.java#L211) using an [introspection strategy](https://github.com/assertj/assertj/blob/main/assertj

[2022-10-29 04:18] #2314 closed

[2022-10-29 04:25] joel-costigliola commented on #2108
@BeshEater and @sithmein, we have finally got the time to address  #2189 which is why I'm closing this issue.

@BeshEater I actually wrote a [test](https://github.com/assertj/assertj/blob/main/assertj-core/src/test/java/org/assertj/core/api/recursive/comparison/RecursiveComparisonAssert_isEqualTo_withIntrospectionStrategy_Test.java#L349) using an [introspection strategy](https://github.com/assertj

[2022-10-29 04:25] #2108 closed

[2022-10-29 04:31] joel-costigliola commented on #2149
@fegbers , we have finally got the time to address  #2189 which is why I'm closing this issue.

I actually wrote a [test](https://github.com/assertj/assertj/blob/main/assertj-core/src/test/java/org/assertj/core/api/recursive/comparison/RecursiveComparisonAssert_isEqualTo_withIntrospectionStrategy_Test.java#L384) using a [`ComparingFields` introspection strategy](https://github.com/assertj/assertj/

[2022-10-29 04:31] #2149 closed

[2022-10-29 07:50] almibarss commented on #2554
It works like a charm! Good job! Any chance this camel vs snake case strategy gets to be an AssertJ built-in? It's a fairly common scenario IMO.

[2022-10-30 03:09] joel-costigliola commented on #2554
We can move `ComparingSnakeOrCamelCaseFields` to the main code so that it's available.
It would be good to have more tests for it though, would feel like contributing this one @almibarss?

[2022-11-02 03:13] joel-costigliola commented on #2554
cool, I'll reopen the issue then ;-)

[2022-11-02 03:15] joel-costigliola commented on #2554
@almibarss  have a look at how we tested `ComparingFields` in https://github.com/assertj/assertj/tree/main/assertj-core/src/test/java/org/assertj/core/api/recursive/comparison

[2022-11-04 14:34] kannangce opened #2830 "Terminal operations should not return SELF"
#### Feature summary

Terminal operations such as `org.assertj.core.api.AbstractAssert#isEqualTo` , `org.assertj.core.api.AbstractAssert#isNotEqualTo` , etc,  should not return `SELF`. The reason being, when you're writing the code, it let's you compose operations such as `withComparatorForFields`, `withFailMessage`, etc. But it is not actually used as the operation for the assertions already happ

[2022-11-04 15:25] scordio commented on #2830
I think only in a few cases we can safely say that the assertion is terminal, like with `isNull` because you cannot do much with a null value.

After an `isEqualTo` call, you might still want to chain additional assertions to inspect getters, check private values via `extracting`, or chain more complex checks via `satisfies`.

[2022-11-05 00:16] scordio commented on #2830
Following the above rationale, I am rejecting this issue.

[2022-11-05 00:16] #2830 closed

[2022-11-05 05:11] #2697 closed

[2022-11-10 03:17] onacit commented on #2764
If I may, I want to contribute to the project by sharing my solution.

I have an abstract base class for my entity classes.

[code]

An here comes one of entities.

[code]

Now, with a list of selected `Some` instances, I want to assert that each element's `other` attribute is either `null` or its `id` attribute is equal to sibling `otherId`.

As an already applicable solution, I can do this.

[co

[2022-11-12 10:47] #2381 closed

[2022-11-13 02:25] vishubhavsar opened #2839 "No getter for property for key in com.google.gson.internal.LinkedTreeMap"
#### Summary
When I am trying to extract the key which has period(.) in it, I am getting following error.

[code]

#### Example

[code]

## Java

[code]

[2022-11-13 07:00] scordio commented on #2839
For a more effective investigation, could you please share a minimal example that shows how `actualResponseMap` is built?

[2022-11-13 18:38] vishubhavsar commented on #2839
Here's the complete TestNG test.

[code]

Complete exception trace:

[code]

[2022-11-13 19:30] scordio commented on #2839
Thank you, @vishubhavsar, I'll look into it.

[2022-11-13 20:21] joel-costigliola commented on #2839
The reason is we treat field name like `a.b` as a field `a` that has a field `b`.

There is no way to escape the `.` at the moment, something we have to talk about with the team.

If you want to assert JSON data, we recommend using https://github.com/lukas-krecan/JsonUnit

[2022-11-15 12:06] NeilMadden opened #2842 "InaccessibleObjectException when extracting public property of JVM class in Java 16+"
**Describe the bug**
AssertJ throws an exception when attempting to "extract" a public property of a built-in Java class in (at least) Java 16 and above. For older versions it just gives a warning. **Note** this is not the same as previous bugs which resulted in the [FAQ entry](http://joel-costigliola.github.io/assertj/assertj-core.html#java9-reflection-error). As written in that entry:

But this

[2022-11-15 12:12] scordio commented on #2842
Thanks for the detailed report, @NeilMadden! We'll look into it.

This is also related to #2363 and I believe we should rethink how to handle such general cases instead of having type-specific handling.

[2022-11-16 09:44] #2699 closed

[2022-11-16 13:25] andreevich96 opened #2843 "ignoringCollectionOrder() in entity field"
#### I need to compare existing all elements from array1 in array2.
I have an entity:
[code]
In the field personInfo I can have a value like: "lastName" or a few values separated by ";" - "lastName;firstName"

#### Example

[code]
I'm trying to compare lists of this entities. I think .isIn() should work, but .ignoringCollectionOrder() don't ignoring order in the entity FIELD.
Could you please sugg

[2022-11-16 18:31] perlun commented on #2570
@scordio Sorry for the late call, but yes, I think `isAssignableTo` and `isAssignableFrom` are good enough for now. :+1:

`isSubclassOf`/`hasParent` are quite interesting (but not directly required by me). I think they are unpleasantly "less precise" though; they first one would perhaps more rightfully be `isDirectSubclassOf` since in an `A -> B -> C`, `C` is by definition a subclass of `A` _as we

[2022-11-16 20:17] joel-costigliola commented on #2843
@andreevich96 could you add a reproducible test case, ideally without lombok annotations since we don't use them.

[2022-11-17 02:55] debanjanc01 commented on #2791
Hey @scordio! Has this issue been fixed? I don't see a PR for it. If this is still up for grabs, I'd like to work on this.

[2022-11-17 17:10] cykl opened #2846 "AbstractAssert.satisfies(Consumer...) evaluate assertions twice if any condition fail"
**Describe the bug**

AbstractAssert.satisfies(Consumer...)  executes each consumer twice if any of the consumer fail. It comes from statistiesForProxy implementation

[code]

Executing the consumer twice is usually OK as most consumers are idempotent. However, some are not. I stumbled upon this is issue writing the following test involving a JAX-RS response

[code]

A response can only be read on

[2022-11-18 06:12] scordio commented on #2791
Sure and thank you, @debanjanc01!

[2022-11-18 08:07] debanjanc01 commented on #2791
Hey @scordio is there an existing test case that tests this out as you have mentioned in the example for `should_accept_interpolated_expressions`? Or shall I add the test case to `Assertions_assertThat_with_Groovy_strings_Test.groovy`?

[2022-11-18 13:34] debanjanc01 commented on #2791
Hey @scordio, the problem with `groovy.lang.GString` is the way it implements the `equals(Object)` method. It expects that the other object is also an instance of `groovy.lang.GString`.

In the test case mentioned, `assertThatCharSequence(actual).isEqualTo(".*foo.*")` will lead to assertion of `groovy.lang.GString` against `java.lang.String`. On delegating to the existing `assertThat(CharSequence)

[2022-11-19 00:00] scordio commented on #2791
Thanks for looking into this, @debanjanc01!

I see the problem, let me think about it and I'll get back to you.

[2022-11-19 23:19] #2846 closed

[2022-11-20 22:00] #3 closed

[2022-11-20 22:05] scordio commented on #2424
Done with the following steps:

1. Clone a fresh copy of `assertj/assertj-guava`
2. Move all relevant files from `assertj-guava` into an `assertj-guava` subdirectory (9fc1c2d29413b31cba425b24fa5680978affcb28)
3. Configure the local copy of `assertj-guava` as a remote of `assertj-core`
4. Execute `git merge assertj-guava/main --allow-unrelated-histories` on `assertj-core/main` (4387b1f589231cf31074

[2022-11-21 06:50] andreevich96 commented on #2843
This is a entity class:

[code]

Test class:

[code]

I want to assert this case, with ignoring collection order in entity field

[2022-11-24 21:28] kilsbo commented on #2711
Much appreciated @joel-costigliola! 🙏

[2022-11-29 11:19] vlsi opened #2856 "Consider creating testkit module for helper classes which are reused across tests"
#### Feature summary

The current test code relies on classes which can't be shared across modules.
For instance: `ConcreteAssert`, `AssertionsUtil`

It makes it harder to reuse/copy existing tests into another modules.
For instance, in https://github.com/assertj/assertj/pull/2855 I add new Kotlin-based tests, and I can't reuse the existing `ConcreteAssert`, `AssertionsUtil`.

It would be nice if

[2022-11-30 13:33] scordio commented on #2856
Hi @vlsi, thanks for the suggestion! Now that also `assertj-guava` is part of the codebase, we have more boilerplate in the testing area so a testkit module might make sense as long as we don't publish it to the Nexus.

[2022-11-30 13:52] vlsi commented on #2856
Of course, testkit can be unpublished, however, I see nothing wrong with publishing it.
At the end of the day, you might expect that people would create their own AssertJ extensions, and they would need to test them. So testkit would be more than useful for them.