[2018-02-08 08:33] joel-costigliola commented on #1145
backport to 2.z

[2018-02-09 02:49] tkruse opened #1180 "assertIsNotIn should allow empty iterable"
#### Summary
Currently isNotIn(Iterable<?> values) starts with

    checkIsNotNullAndNotEmpty(values);

However it should only check IsNotNull().

#### Example

[code]

Or maybe this test should be written in a different way?
I can write

[code]
But it feels like this violates assertj philosophy of putting the thing under test into the assert method.

[2018-02-09 03:12] joel-costigliola commented on #1180
IMO, it does not make a lot of sense to have an empty set of values as an argument of `isNotIn` (or `isIn`).
Using the vararg, what would you say `assertThat(value).isNotIn();` means?  I find this to be confusing so the check was made to avoid this possible confusion.

Just curious, is it correct in your context to have an empty set of values in the first place ?

[2018-02-09 03:21] tkruse commented on #1180
In my context, I want to make sure that a collection of things do not have duplicate values in one of their fields. Accessing that fields is a bit involved (I am checking values from configuration files), so I use a loop. The way I wrote my example, I start with an empty Set, and check contains each time. So on the first iteration, the empty set is correct in that sense.

[2018-02-09 03:26] tkruse commented on #1180
Hm, so I assume the philosophy is that the expectation that comes after an  assert should be static, so by using a dynamically changing set I already go against assertj (or testing) principles. It's more validation than testing, maybe. So maybe no need to change the method for my case, close if you wish.

[2018-02-09 03:30] joel-costigliola commented on #1180
yeah, it seems to be a use case for [doesNotHaveDuplicates](http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/AbstractIterableAssert.html#doesNotHaveDuplicates--)

[2018-02-09 22:17] joel-costigliola commented on #1160
@sarod would you have a way to reproduce the error ?
We have replaced cglib by to byte-buddy, so I guess the fix will be now to export byte-buddy shaded packages but without a project to test it it is going to be hard to make sure it is properly fixed.

[2018-02-10 00:21] joel-costigliola commented on #1160
@sarod I have pushed this commit e4ed5a42d5d66aa6efa9fb6f176a027ce4f6dd59, it fixes a maven build issue where the was executed before unpacking the shaded jar.

The manifest looks ok as I see some `org.assertj.core.internal.bytebuddy` being exported (but hard to say if it is correct in your context):
[code]

[2018-02-10 10:34] joel-costigliola commented on #1162
Fixed thanks to @epeee.

[2018-02-10 10:34] #1162 closed

[2018-02-11 12:17] pswiatowski commented on #1175
I can work on this 👍

[2018-02-12 15:36] sarod commented on #1160
The new manifest does not seem to be good.
It now fails with a osgi resolution error
[code]

I created a github repository containing a repro case with instructions on how to reproduce:
https://github.com/sarod/assertj-osgi-tests

[2018-02-12 16:23] sarod commented on #1160
Excluding org.assertj.core from the Import-Packe in the Bnd instructions allows to go one step further
[code]
However the test execution then fails with
[code]

[2018-02-12 21:20] radistao opened #1182 "Multidimensional arrays assertion"
#### Summary

Pursuing SO question [AssertJ multidimensional arrays assertion (deep equals)
](https://stackoverflow.com/questions/48652678/assertj-multidimensional-arrays-assertion-deep-equals/) i'd like to try to make an assertion for multidimensional arrays.

I think i'd implement it similar to native Java `Arrays#deepEquals()`, just "extending" it with nicer assertion exceptions, including inde

[2018-02-13 10:04] joel-costigliola commented on #1158
I was thinking to change the error returned to show all the missing fields, ex:

[code]
The assertion fails with the error:
[code]
@markstamatiades WDYT ?

[2018-02-13 10:39] markstamatiades commented on #1158
Looks reasonable to me. So if there is more than one missing field it will list them all rather than just the first one it hits, right?

[2018-02-13 11:02] rossmasday commented on #1158
What would the message be if the fields had the same name but were of differing types?

[2018-02-13 20:42] joel-costigliola commented on #1158
@markstamatiades yes it would show all the missing fields
@rossmasday I haven't tried but there would be no message as the field names are matching but when comparing their values it will likely fail.

[2018-02-14 09:31] #1158 closed

[2018-02-14 09:55] #1164 closed

[2018-02-14 11:48] pswiatowski commented on #1175
@joel-costigliola  what should we do with the missing constructors in UncheckedIOException?
e.g. RuntimeIOException(String message)

UncheckedIOException Constructors:

UncheckedIOException(IOException cause)
UncheckedIOException(String message, IOException cause)

[2018-02-14 11:49] pswiatowski commented on #1150
I can work on this.

[2018-02-14 22:03] joel-costigliola commented on #1175
can't we use `UncheckedIOException(String message, IOException cause)` ?
if not it means it wasn't an IOException in the first place, then a simple `RuntimeException` should do the job

[2018-02-15 02:31] joel-costigliola commented on #1182
That would be a nice addition, bear in mind that it would need to be added for all primitive types and Object which is some substantial work.

[2018-02-15 18:50] pswiatowski commented on #1175
Yes, you are right. Will fix wrong usage of RuntimeIOException with RuntimeException. Thanks!

[2018-02-16 14:01] Skiv1989 opened #1183 "NullPointerException"
#### Summary
code at org.assertj.core.error.ShoulBeEqualByComparingFieldByFieldRecursevly class in the describeDifference method will fail with NPE if difference object has actual or other field as null.

[2018-02-16 21:27] joel-costigliola commented on #1183
duplicate of https://github.com/joel-costigliola/assertj-core/issues/1145 ?

[2018-02-17 09:42] Skiv1989 commented on #1183
Yes, sorry haven't saw it.

[2018-02-17 09:42] #1183 closed

[2018-02-17 09:56] joel-costigliola commented on #1160
I was able to launch the assertj-p2  p2 repository containing assertj-core:3.8.0 and assertj-core:3.10.0-SNAPSHOT, http://localhost:8080/site/plugins/ shows:
[code]

but executing

[code]
results in this error:
[code]

Uncommenting `<module>assertj-tycho-lotr-target</module>` gives a different error:
[code]

[2018-02-17 10:03] joel-costigliola commented on #1160
Ok, after changing `assertj-tycho-lotr-target.target` to use the right snapshot `<unit id="org.assertj.core" version="3.10.0.20180217223851"/>` I can execute `mvn clean` and even `mvn clean install` runs fine with assertj-core 3.10.0-SNAPSHOT that includes your PR changes.

So problem solved ?

Is there a way to setup `assertj-tycho-lotr-target.target`  to use the latest snapshots ?
I would like t

[2018-02-17 21:39] sarod commented on #1160
Yes I think we can consider that the issue is solved with #1181.

*Regarding automation*
I don't think the target file can be configured to use the latest.
However for a simple case like this tycho can work without a target file.

I modified the github repository to make more automation friendly and make it easier to test against different assertj version:
* The p2 site now exposes only one versio

[2018-02-17 21:47] joel-costigliola commented on #1160
Awesome!
thanks for the time you have spent on this issue, much appreciated.

[2018-02-18 04:37] #1160 closed

[2018-02-18 12:17] pswiatowski commented on #1175
@joel-costigliola ready for code review.

[2018-02-18 21:48] #1175 closed

[2018-02-19 06:31] sarod commented on #1160
Many thanks to you for this great project.

[2018-02-20 09:08] joel-costigliola commented on #1149
I need to think about this one to make that it follows the semantics of the `CompletionStage`

[2018-02-20 09:10] joel-costigliola commented on #1180
@tkruse I'm closing this one but feel free to continue commenting and we might reopen it.

[2018-02-20 09:12] #1157 closed

[2018-02-21 04:20] dalewking opened #1186 "filteredOn operation does not play well with factory"
#### Summary
Trying to write assertion on a list of objects where I have a custom assertion for the type of the objects contained within it. I have created a factory instance for the custom assertion class for the type.

assertThat has a nice overload that takes an iterable and a factory. But the filteredOn iterator ignores the factory and returns an assert instance using just ObjectAssert<ELEMENT

[2018-02-21 04:30] dalewking commented on #1186
The same would also be true using the class based version:

     assertThat(fellowshipOfTheRing, TolkeinCharacterAssert.class)

[2018-02-21 06:07] joel-costigliola commented on #1186
Yes true, thanks for reporting this.

[2018-02-21 07:50] sarod opened #1187 "Line number are not helpful for custom SoftAssertions declared outside of assertj package"
#### Summary
SoftAssertions output errors including a stack trace element for each error message.
[code]
With assertj soft assertions this works great and the stack-trace-element allows to jumb directly into at the assertion call in the test class.
However when using a custom class soft assertions and this class is declared in a non assertj package e.g. "org.example.project.assertions" the stack-t

[2018-02-21 20:21] PascalSchumacher commented on #1165
@triceo It would be great, if you could give AssertJ `3.9.1` (which replaces `cglib` with `byte-buddy`) a try and check if the warnings still occur.

[2018-02-21 20:52] joel-costigliola commented on #1187
Thanks I'll have a look at your PR next month (after my holidays).

[2018-02-21 21:12] triceo commented on #1165
@PascalSchumacher Most of the warnings are indeed gone. I still occasionally get the following, though:

    WARNING: Illegal reflective access by org.assertj.core.api.AbstractSoftAssertions (file:/home/lpetrovi/.m2/repository/org/assertj/assertj-core/3.9.1/assertj-core-3.9.1.jar) to field java.lang.Throwable.detailMessage
    WARNING: Please consider reporting this to the maintainers of org.asser

[2018-02-21 22:17] #539 closed

[2018-02-22 13:22] pswiatowski commented on #1149
Two of three methods works as expected in the description: method hasFailed fails when not Done,
hasFailedWithThrowableThat() join when done.

We needed to cover only hasNotFailed method which should fail when not done.

[2018-02-23 13:16] pswiatowski commented on #1167
@joel-costigliola thank you for CR. I updated after reworks.

[2018-02-26 14:15] duclet opened #1190 "NoSuchMethodError"
#### Summary
Upgrading from 3.9.0 to 3.9.1 cause the following error for my tests:

java.lang.NoSuchMethodError: org.assertj.core.api.Assertions.assertThat(Ljava/lang/Object;)Lorg/assertj/core/api/AbstractObjectAssert;

#### Example

[code]

[2018-02-26 21:06] PascalSchumacher commented on #1190
Thanks for reporting!

What is the type of `actual`?

I'm asking because e.g.:

[code]

works for me.

Did you recompile your tests or just replace assertj library? `3.9.1` is is not binary compatible to `3.9.0` due to https://github.com/joel-costigliola/assertj-core/issues/839.

Thanks in advance,
Pascal

[2018-02-27 03:27] mkobit opened #1192 "3.9.0 -> 3.9.1 upgrade on Java 8: Custom SoftAssertion implementation fails with Byte Buddy "java.lang.IllegalArgumentException: Could not create type""
#### Summary

I have a custom library that implements a custom `SoftAssertion` implementation that seems to fail on Java 8.

#### Example

* Test at https://github.com/mkobit/gradle-assertions/blob/b0e057007871b75fb37538bb423089f208b818fd/assertj-gradle/src/test/kotlin/com/mkobit/gradle/test/assertj/GradleSoftAssertionsTest.kt#L11 that can be ran with `./gradlew build`
[code]

* https://github.com

[2018-02-27 13:31] MikeShysh opened #1193 "Consider possibility of using soft assertions for zipSatisfy"
#### Summary
version 3.9.1

If we compare lists by pairs, we want to check all fails. Currently,  zipSatisfy assertion fails by the very first inconsistency
#### Example

[code]
Here is an assert
[code]
As we can see the last inconsistency was not mentioned.

Please consider this case. Thank you.

[2018-02-27 17:48] pkoenig10 opened #1194 "3.9.0 -> 3.9.1 breaks backward compatibility"
Upgraded from 3.9.0 -> 3.9.1. A testing dependency uses 3.6.2. When attempting to run tests that use this dependency, I am getting a no such method error:
`java.lang.NoSuchMethodError:org.assertj.core.api.Assertions.assertThat(Ljava/lang/Object;)Lorg/assertj/core/api/AbstractObjectAssert;`

Looks like the brekaing change was in this commit: https://github.com/joel-costigliola/assertj-core/commit/f

[2018-02-27 17:57] PascalSchumacher commented on #1194
Thanks for reporting and sorry for breaking you code.

AssertJ does not guarantee binary compatibility, there are also other binary incompatible changes, e.g. https://github.com/joel-costigliola/assertj-core/commit/43c3c6b67e40047691521b8935a82afed509c8e9

[2018-02-28 04:58] testn opened #1195 "3.9.1 has bad performance regression"
#### Summary
After upgrading to 3.9.1, I notice a regression in term of performance. By digging down, I notice that it spends a lot of time in the following code

[code]

It sounds like it performs too much memory allocation and reflection cost on the following stack trace.

[code]

This additional overhead is caused by the change from HashMap to TreeMap and the use of ```Comparator.comparing(Clas

[2018-02-28 12:10] duclet commented on #1190
@PascalSchumacher - The tests were recompiled. I think this might be suffering from something similar because it does have to do with a generic. I have a small utility function that sets the description and make the calling code above. In this case, the actual type of the object is a POJO.

[code]

[2018-02-28 12:22] duclet commented on #1190
So after looking at the code changes, changing my function signature to the following fixes the issue:

[code]

[2018-02-28 12:22] #1190 closed

[2018-02-28 19:03] nach-o-man commented on #1127
Greetings,

maybe it is an ok idea to introduce some generic solution like assertion method "using adapter/transform". Similar to "usingComparator".

for example:
[code]

I could try to implement it.

[2018-02-28 19:09] nach-o-man opened #1196 "Introduce "usingAdapter/Transformer" feature"
While browsing #1127 I got an idea about some generic solution to the problem of comparing 2 similar but different classes.

A comparison strategy similar to usingComparator that allows comparing equality of different classes by using defined class casting via adapter

#### Example

[code]

If you think it is a good idea I could work my way on it.

[2018-02-28 22:11] gervaisb commented on #1127
Hello. It is already what I am doing. Except that the adapter is not
managed by AssertJ.
ˋassertThat(dateTime).isEqualTo(toDateTime(xmlCalendar))`
Le mer. 28 févr. 2018 à 20:03, Andrey Kuzmin <notifications@github.com> a
écrit :

[2018-03-01 21:14] testn commented on #1195
I use a lot of Assertions.assertThat in a tight loop. It pretty much consumes almost 100% of the cpu within the loop. I would suggest that you don't even get TypeComparators.defaultTypeComparators() at all. You should have a constant copy of that map and use it if the assert does not override that.

[2018-03-04 15:58] PascalSchumacher commented on #897
Support for the `java.nio.file` and `java.time` packages was added in Android API Level 26 (Android 8).

Therefore I'm closing this issue.

[2018-03-04 15:58] #897 closed

[2018-03-04 22:43] joel-costigliola commented on #1194
@pkoenig10 this is indeed an API breaking change that I forget to mention in the release notes (my bad). It was done to address a warning when using generics vararg parameters (sigh).

@pkoenig10 is the error like #1190 ? if not can you give us more context ? a test case would be ideal.

As @PascalSchumacher said we don't guarantee binary compatibility but we try to avoid breaking it as much as po

[2018-03-04 22:44] joel-costigliola commented on #1193
Sorry, I missed this one when fixing the methods that change the object under test in 3.9.1, good catch!
Will fix this in the next version.

[2018-03-04 22:52] joel-costigliola commented on #1192
Wow, that is weird, I'll give it a try on java 8 this week, I had a quick look at the code and it looks fine to me.

[2018-03-05 16:55] robertotru commented on #1195
We had the same issue. Upgraded from 3.8.0 to 3.9.1 and the runtime increased from 23 seconds to 4 minutes. We downgraded to 3.9.0, and the runtime was roughly the same as 3.8.0. Is there something I can do to provide more input?

[2018-03-05 20:35] joel-costigliola commented on #1195
@robertotru if you can provide a test showing the performance loss that would be great, we can always write it but having one from a real usage is better.

[2018-03-05 21:39] PascalSchumacher commented on #1195
Yes a test would be great. I tried my luck at a JHM test myself, but this simple test case:

[code]
only showed a performance regression of 10 percent between `3.9.0` and `3.9.1`.

[2018-03-05 22:14] robertotru commented on #1195
I understand. We have 2k unit tests, all using `JUnitSoftAssertions` rule. I'm not sure I can isolate/reproduce the issue in a single test file, let see what I can do.

[2018-03-06 19:07] pswiatowski commented on #1186
I can work on this.

[2018-03-07 06:01] luengnat commented on #1195
@PascalSchumacher TreeMap won't help much. If you want the type comparator by insertion order, it's better to use LinkedHashMap.

[2018-03-07 14:48] PascalSchumacher commented on #1195
@luengnat You are right. My statement concering insertion order was just a guess (and proably a wrong one).

@joel-costigliola made the change to TreeMap in https://github.com/joel-costigliola/assertj-core/commit/65c3487a0aa8ff83f25d4c84084c4e67a03f1922 I would now guess in order to have a defined element order when outputting used comparators in exception messages.

[2018-03-07 20:45] joel-costigliola commented on #1195
@PascalSchumacher yes I used a TreeMap for displaying the used comparators, I don't mind using another data structure as long as we have a consistent order.

[2018-03-07 22:39] testn commented on #1195
Let me take a stab at it

[2018-03-08 09:42] joel-costigliola commented on #1193
@MikeShysh I have investigated this, the behavior from your test is normal, `zipSatisfy` fails at the first error, soft assertions will just collect that error and report when executing `assertAll()`.

What could have worked (but does not) would be to have used `softly` inside `zipSatisfy` like that:
[code]
The reason is that we rethrow soft assertions nested call error (i.e. `softly.assertThat(re

[2018-03-08 18:53] justinebateman opened #1197 "As doesn't seem to work correctly when using extracting with a method reference"
It's entirely possible that I'm doing something wrong here but here's what I've noticed:

[code]

The assertion itself works correctly but when the assertion fails the description text isn't printed. I just get:

[code]

If I change the assertion to:

[code]

then the assertion description is printed correctly:

[code]

[2018-03-08 19:39] PascalSchumacher commented on #1195
Sure. 👍  Contributions are always welcome! 😃

[2018-03-08 20:10] joel-costigliola commented on #1197
Thanks for reporting this with details, I'll have a look at it in the week end.

[2018-03-08 20:26] nach-o-man commented on #1197
@joel-costigliola - discovered same problem today.
As far as I understand reason is that some `extracting `methods of **`AbstractIterableAssert`** return just `newListAssertInstance` without adding description to it.

I coluld work my way through this issue.

[2018-03-08 20:44] joel-costigliola commented on #1197
@nach-o-man would be great, thanks. Let's also check `AbstractObjectArrayAssert` at the same time.

[2018-03-09 07:33] MikeShysh commented on #1193
@joel-costigliola Thank you for your explanations.

Yeah, it's even better.

[2018-03-10 08:35] #1187 closed

[2018-03-10 08:45] joel-costigliola commented on #419
I don't think there is an ideal way of implementing `Stream`, converting to list assertions is nice as it supports assertions chaining. One thing we should do is to clearly inform users of the limitations/pitfalls of `Stream` assertions (the same applies for `Iterator` assertions btw)

@PascalSchumacher thoughts ?

[2018-03-10 13:40] PascalSchumacher commented on #419
I agree.

[2018-03-10 19:52] nach-o-man commented on #1197
@joel-costigliola I created requiest for branch 2.x. Should I only do same fixing for all methods in master or only new signatures?

[2018-03-10 22:39] joel-costigliola commented on #1197
@nach-o-man only for the new signatures, we are going to merge/cherry pick the 2.x commit into master, thanks!

[2018-03-11 00:46] pkoenig10 commented on #1194
@joel-costigliola yes this is the same error as in #1190.

We have solved the problem by upgrading to 3.9.1.

[2018-03-11 03:41] joel-costigliola commented on #1194
@pkoenig10 thanks for checking.

[2018-03-11 03:41] #1194 closed

[2018-03-11 05:42] #1161 closed

[2018-03-12 09:31] justinebateman commented on #1197
Thank you!

[2018-03-12 18:34] tommcdo opened #1202 "Built-in comparator not used for SortedSet implementations"
#### Summary

Assertions on implementations of `SortedSet` (like `TreeSet`) do not use the comparator used to construct the instance.

#### Example

If I wanted to create a class that returned a set of strings which allowed testing for case-insensitive inclusion, I'd use a `TreeSet` with a custom comparator. The following code example is greatly simplified, but demonstrates the basic mechanics (in

[2018-03-12 19:17] filiphr commented on #1202
@tommcdo I think that this issue is the same as #1104

[2018-03-12 19:19] nach-o-man commented on #1202
@tommcdo this is really interesting situation you have.
I encountered the same for a few times and was also surprised.

But what if you look at it this way:
- by testing `assertThat(mySet.contains("foo"))` you test the concrete implementation of `contains` method of the given object
- by testing `assertThat(mySet).contains("foo")` you test that given object contains exactly specific object.
as sai

[2018-03-12 20:32] joel-costigliola commented on #1202
At first sight, the issue is in `StandardComparisonStrategy#iterableContains`:
[code]
It checks values one by one with `areEqual` instead of using the iterable `contains` method, this was made to be able to override `areEqual` to use a different comparison strategy.

I think this should be changed so that collection accepting a Comparator are correctly honored (mainly `TreeSet`).

[2018-03-13 01:23] tommcdo commented on #1202
It looks most general interface where a custom comparator can be supplied is [`SortedSet`](https://docs.oracle.com/javase/7/docs/api/java/util/SortedSet.html).

Would it be too naive to simply overload `Assertions.assertThat(SortedSet)`?

[code]

[2018-03-13 02:51] joel-costigliola commented on #1202
@tommcdo that is a nicely short possibility, I think the only drawback is that if your `SortedSet` is declared as a `Set` that won't work, it would select `assertThat(Iterable<? extends ELEMENT> actual)` instead of `assertThat(SortedSet<? extends ELEMENT> actual)`.

[2018-03-13 08:44] joel-costigliola opened #1203 "filteredOn methods don't retain provided description or comparators"
#### Summary

`filteredOn` don't retain provided description.

#### failing test

[code]
#### solution

Chaining the underlying with `.as(info.description())` as in `extracting` methods.

It turns out that the code does not compile because of incompatible return type, I think this can be fixed by making `filteredOn` to return `SELF` instead of the `AbstractListAssert`, that makes sense as the init

[2018-03-13 09:20] #1106 closed

[2018-03-13 14:21] wimdeblauwe commented on #1109
Isn't this a duplicate of https://github.com/joel-costigliola/assertj-core/issues/683 ?

[2018-03-13 17:29] tommcdo commented on #1202
@joel-costigliola Good call, that would be non-ideal.

[2018-03-13 19:01] nach-o-man commented on #1116
created #1191 for this

[2018-03-13 19:22] nach-o-man commented on #985
As frequent user of this method I don't really see much point in this,mostly because current api it is consistent.
@lordofthejars @joel-costigliola @Mura-Mi  do you assume there can be any other methods apart from `from` to be following 'returns'?

[2018-03-13 19:55] nach-o-man commented on #1145
created #1204 for branch 2.x

[2018-03-13 20:00] nach-o-man commented on #1104
I can grab it.

[2018-03-13 20:41] joel-costigliola commented on #1109
@wimdeblauwe  kind of but the suggested approach here is to generate code. the thing is that it will bloat the API with a bunch of `isInstance` which will make it difficult discovering other assertions.

[2018-03-13 20:46] joel-costigliola commented on #1116
@nach-o-man will review it this we, thanks.

[2018-03-13 20:48] joel-costigliola commented on #1202
We might get away with the limitation I mentioned by checking if the runtime type of actual is a `SortedSet`.

[2018-03-14 07:14] wimdeblauwe commented on #1109
Indeed. That is why I think what is done in #683 is the best approach. But Googling showed this issue first for me and if I had not looked further I would have thought there was no solution yet. But there is a good one explained in that other issue, so I wanted to link them :-)

[2018-03-14 09:29] joel-costigliola commented on #1203
Same goes for comparators, for this test fails:

[code]
The idea here is propagate any assertions context, in this case it means these fields:

- iterables
- objects
- info
- comparatorsByType
- comparatorsForElementPropertyOrFieldNames
- comparatorsForElementPropertyOrFieldTypes

[2018-03-14 09:34] joel-costigliola commented on #1203
Since `info` is a final field, either make it non final or better just propagate any  fields:
- overridingErrorMessage
- description (a copy of)
- representation

[2018-03-15 09:03] #1145 closed

[2018-03-15 09:38] #1167 closed

[2018-03-15 20:23] ricemery commented on #373
This comment is a little late to the party.
I have created an IntelliJ plugin that can convert most JUnit and Hamcrest Assertions to AssertJ.

Assertions2Assertj - https://plugins.jetbrains.com/plugin/10345-assertions2assertj

Hopefully this will be of help to others.

[2018-03-15 20:25] joel-costigliola commented on #373
@ricemery we will mention it in the website/doc, thanks for providing it!

[2018-03-18 07:50] joel-costigliola commented on #1149
As noted by @pswiatowski `hasFailed` assertion does not pass (as expected)  when the future under test is not done as per this test:
[code]

`hasFailedWithThrowableThat` only joins if the future has failed which we know is done.

Last point: should `hasNotFailed()` fail when the future is not done ?
I would say that you can only know whether a future has failed after it is done.

@tkruse is the pr

[2018-03-18 09:05] tkruse commented on #1149
I agree hasNotFailed should fail when the future is not done.

Else indeed with bad test design, tests will sometimes pass and sometimes not, depending on race conditions. (brittleness).

[2018-03-18 09:40] joel-costigliola commented on #1149
Well then there is a problem somewhere in the current implementation since `hasNotFailed` checks the opposite condition of `hasFailed` so if one is correct the other one should be.

I'll think about it tomorrow with afresh mind ...

[2018-03-19 00:26] tkruse commented on #1149
hasFailed and HasNotFailed can be direct opposites, but only under the additional assumption of isDone().

[2018-03-19 08:36] joel-costigliola commented on #1149
Since `hasFailed` checks that the future under test is completed exceptionally (but not cancelled) this means the future is done according to [CompletableFuture.html#isDone](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/CompletableFuture.html#isDone--), if we want `hasNotFailed` to check the opposite condition then we can't require the future to be done.

I realized the point I ma

[2018-03-19 21:46] airborn opened #1205 "AbstractListAssert allow chainable assertions at specific index"
#### Summary
I'd like to propose a new assertion for `AbstractListAssert` that would allow chainable assertions on different elements of collection. This would match various `satisfy` assertions that are already present in other assertion classes.

#### Example

[code]

[2018-03-20 06:00] tkruse commented on #1149
I agree that it is consistent if `hasFailed` and `hasNotFailed` both pass for a future that is not done.

I think this is not as useful as having both of them fail on futures that are not done yet.

A test like

    assertThat(future).hasNotFailed();

will pass for a future that is still in flight, hiding a bug. Developers would have to remember to check for isDone().

Maybe it is wrong to say tha

[2018-03-20 07:52] joel-costigliola commented on #1149
I quite like `waitForDone(long timeoutInMs)` that makes it obvious the test will wait for the future to be done.

[code]
another option (less obvious IMO):
[code]

[2018-03-20 08:02] tkruse commented on #1149
Sure, we discussed it some time ago here: #1150, but it is a bit independent of the issue here.

[2018-03-20 08:05] joel-costigliola commented on #1205
Good idea!

For consistency with [`contains(object, index)`](http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/AbstractListAssert.html#contains-ELEMENT-org.assertj.core.data.Index-), let's remove `At`, rewriting your example:
[code]

[2018-03-20 08:07] joel-costigliola commented on #1195
Hi guys, anything new on this one?

[2018-03-20 08:26] joel-costigliola commented on #1149
Is there something to fix in this issue if we address #1150 ? If so what is it ?

[2018-03-20 08:28] tkruse commented on #1149
Even if there was a waitFor, my previous comment:

[2018-03-20 08:40] joel-costigliola commented on #1149
This is not what I was saying, they can't both pass on a the same future as they are **opposite** assertions.
I'm not keen to change `hasNotFailed` because it would mean it is not the opposite of `hasFailed` anymore, this is why I think adding a timeout parameters is a solution as it provides the missing feature without breaking anything.

[2018-03-20 09:18] joel-costigliola commented on #1116
Fixed vy @nach-o-man, thanks!

[2018-03-20 09:18] #1116 closed

[2018-03-20 16:47] sebroeder commented on #646
Since #1002 seems to be a rather complicated issue, is there any workaround to force the current implementation of `isEqualToComparingFieldByFieldRecursively` to never use `equals` on user-provided classes and always compare fields instead? I tried to work my way through the GitHub discussions and the codebase but did not find a solution, yet. Any help would be much appreciated.

[2018-03-21 06:45] testn commented on #1195
@joel-costigliola do you want a short simple change first? I wanted to do a major surgery but I'm afraid that it will break it.

The minimal change is to do something like this
[code]

```  private static final Comparator<Class<?>> CLASS_COMPARATOR = Comparator.comparing(Class::getName);``` will use getName() to sort rather than getSimpleName().

The above yields the biggest win as it can use the

[2018-03-21 18:10] PascalSchumacher commented on #646
@sebroeder There is currently no way to achieve this with assertj (that I'm aware of). You have to resort to other libraries e.g. commons-lang, see: https://commons.apache.org/proper/commons-lang/apidocs/org/apache/commons/lang3/builder/EqualsBuilder.html#reflectionEquals-java.lang.Object-java.lang.Object-boolean-java.lang.Class-boolean-java.lang.String...-

[2018-03-21 20:50] joel-costigliola commented on #646
@sebroeder there is no straightforward solution to that at the moment.

One alternative is to register `RecursiveFieldByFieldComparator` for each type with `usingComparatorForType` before calling `isEqualToComparingFieldByFieldRecursively`, there is an example of that in the [javadoc](http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/AbstractObjectAssert.html#isEqualToCompa

[2018-03-21 23:43] airborn commented on #1205
I have renamed the metod and add required javadoc, guess everything should be in right now.

[2018-03-22 00:01] joel-costigliola commented on #1195
I'm happy with these changes (the full class name is less nice to read when in the error messages but I can live with it), what I really would like to have is a test showing the performance improvements, I would run it with 3.9.0, then 3.9.1 to see the degradation and with the fix to see how things are compared to 3.9.0 and 3.9.1.

[2018-03-22 04:12] tkruse commented on #1149
Hmm... If both accept in-flight futures we get:

     Future        hasFailed   hasNotFailed
     NotDone      pass            pass
     suceeded     fail            pass
     failed       pass            fail
     cancelled    ?               ?

So here they would both pass on the same future.

If both reject in-flight futures, that is

     Future        hasFailed   hasNotFailed
     NotDone

[2018-03-22 09:54] ddidier opened #1207 "Make constructor of ThrowableAssertAlternative public"
#### Summary

The constructor of `org.assertj.core.api.ThrowableAssertAlternative` is currently package protected. I'd like to create a class named `MyExceptionAssertAlternative` with some more methods dealing with the fields of `MyException`. It would be used like this:

[code]

If there is an alternative, I'd like to hear it.

I could make a PR but as this is a really simple one, is it necessary

[2018-03-22 10:12] ddidier commented on #1207
That's a little more complicated than expected:

The constructor of `org.assertj.core.api.ThrowableTypeAssert` must be public too and its fields protected.

[2018-03-23 00:30] joel-costigliola commented on #1149
@tkruse I'm not convinced, I still think that `hasNotFailed` should be the opposite of `hasFailed`, not doing so will be confusing (otherwise we need to rename `hasNotFailed` to something else).

One AssertJ design principle is to avoid modifying the object under test unless being explicit about it, so joining a future should be avoided (and `hasFailedWithThrowableThat` does that but since it chec

[2018-03-23 02:45] tkruse commented on #1149
Actually, the javadoc for `hasNotFailed` is already very clear.

Looking at the other asserts, there is:

    isDone
    isNotDone
    isCompletedExceptionally
    isNotCompletedExceptionally
    isCancelled
    isNotCancelled
    isCompleted
    isNotCompleted
    hasFailed
    hasNotFailed

Possibly changing from hasFailed and hasNotFailed to isFailed and isNotFailed would make it clearer that i

[2018-03-23 05:54] testn commented on #1195
@joel-costigliola from my testing with ObjectAssertions over with million iterations, with 3.9.1 code, it takes around 2 minutes. With the simple change, it seems to get down to 11 seconds.

Note that the change is to change the sorting order to include the package name, it does not change any error message at all.

[2018-03-23 10:11] dharrigan opened #1208 "3.9.1 breaks build.gradle.kts (kotlin) regression"
#### Summary

`Java 1.8.0_161`
`Kotlin 1.2.30`

When importing assertj-core in my build.gradle.kts:

[code]

Compiling my project results in immediate failure:

[code]

Reverting back to 3.9.0 works

[code]

[2018-03-23 10:15] dharrigan commented on #1208
My apologies, something was misconfigured on my system.

[2018-03-23 10:15] #1208 closed

[2018-03-25 05:16] joel-costigliola commented on #1195
@testn Do you want to create a PR ? I can also integrate your suggestion directly if you don't have the time.

[2018-03-25 05:30] testn commented on #1195
Feel free to do so. If I get a chance, I might try to integrate the code change to do the lazy initialization for TypeComparators instead.

[2018-03-25 06:01] joel-costigliola commented on #1195
I'll do it then

[2018-03-25 09:06] joel-costigliola commented on #1195
@testn I have pushed the code (see https://github.com/joel-costigliola/assertj-core/commit/7c96b8d736a0afdd0e022546082d39accaa96b32), the main improvement comes from using `Comparator.comparing(Class::getName)`, the performance test ran from ~700ms to ~240ms, it's not quite fixing the performance issue reported.
@robertotru can you give a try to assertj-core 3.10.0-SNAPSHOT and check how things ar

[2018-03-25 18:39] DavidRigglemanININ commented on #1195
I've seen similar performance regressions with 3.9.1 and have been watching this issue and thus ran my tests with 3.10.0-SNAPSHOT. For my set of tests (around 1400), 3.90 runs in around 50 seconds, 3.91 runs in around 70 seconds, and 3.10.0-SNAPSHOT runs in 65 seconds. So there was some improvement with the latest commit, but only addresses around 25% of the performance regression for my specific

[2018-03-25 22:36] joel-costigliola commented on #1195
@DavidRigglemanININ thanks for the feedback, we will try to make further improvements.

[2018-03-26 09:30] joel-costigliola commented on #1195
I have made further enhancements in https://github.com/joel-costigliola/assertj-core/commit/c415bc1f5c0ff5701e9dd1830d24a8f386c04e75, in my perf test the average execution went from 240ms to 160ms (from 700ms initially), a 4x factor.

The next improvement could be to make `TypeComparators` immutable so that the default comparator could be built once for all and another `TypeComparators` would be c

[2018-03-26 12:30] DavidRigglemanININ commented on #1195
The recent changes knocked off another 3 seconds for me (so 62 seconds for my set of tests, still up from the original 50)

[2018-03-26 13:09] patrick-albinson opened #1209 "SoftAssertions' StringAssert fails with uninformative message when actual value contains two percent characters"
#### Summary

SoftAssertions' StringAssert fails with uninformative message when actual value contains two percent characters. We noticed this problem when trying to upgrade from 1.7.1 to the latest version (3.9.1).

#### Example

[code]
Running this code in a test method results in the following stack trace:

[code]

[2018-03-26 17:03] valery1707 opened #1210 "Add PathAssert#hasDigest(MessageDigest, byte[])"
#### Summary
I think this methods can be very useful for `PathAssert`, `FileAssert` and `InputStreamAssert`:
* `hasDigest(MessageDigest digest, byte[] expected)`
* `hasDigest(MessageDigest digest, String expected)`
* `hasDigest(String algorithm, byte[] expected)`
* `hasDigest(String algorithm, String expected)`
* `hasDigest(String algorithm, String provider, byte[] expected)`
* `hasDigest(String a

[2018-03-26 21:01] joel-costigliola commented on #1207
sure, no problem

[2018-03-26 21:02] joel-costigliola commented on #1209
It's a bug, we are using `String.format` without escaping `%`

[2018-03-26 21:13] joel-costigliola commented on #1195
I wonder guys if you are using soft assertions or not, we have replaced cglib by byte buddy, this might had an effect on performance (I will measure that soonish).

[2018-03-26 21:16] DavidRigglemanININ commented on #1195
I'm definitely using soft assertions and probably relatively heavily.

[2018-03-27 07:03] valery1707 commented on #1210
Digest expected variants:
* `byte[]` - this variant maybe useful for some cases when digest calculated within tests.
* `String` - But digest in string-representation is more useful for cases when developer already know digest in this form (hex).

Digest algorithms:
* `MessageDigest` - core variant, all other variant will call this variant. And it's most powerful - developer can create what he want

[2018-03-27 07:14] joel-costigliola commented on #1210
Sweet, let's go with the 4 variants first then if users ask for it we can always the two remaining ones.

[2018-03-27 08:44] valery1707 commented on #1210
Good.
I started preparing PR

[2018-03-27 09:05] joel-costigliola commented on #1195
Just for the sake of testing, without doing anything in `defaultTypeComparators()` the perf test average execution is ~80ms.

[2018-03-27 10:36] joel-costigliola commented on #1195
`TypeComparators` are now lazy initialized (see https://github.com/joel-costigliola/assertj-core/commit/bdf7291c85bfece24206fb9803002df5cd7e9b02) the perf test average execution time is ~80ms.

[2018-03-27 16:08] testn commented on #1195
@joel-costigliola  looks great! But after looking at the code more carefully, it looks like you only use "TreeMap" for TypeComparators for toString() method which I don't even find where you use it. Don't you think it is more efficient to keep using HashMap and sort it lazily instead?

[2018-03-27 20:30] joel-costigliola commented on #1195
@testn I have switched from a `TreeMap` to a `LinkedHashMap` without seeing any significant  performance improvements in the perf test I have written (but this test is not as realistic as a real project using assertj).

[2018-03-27 22:55] testn commented on #1195
@joel-costigliola, since you switch to use `getName()` instead of `getSimpleName()`, I would not expect a huge performance difference unless there are a lot of type comparators added into `TypeComparators`

[2018-03-28 10:52] valery1707 commented on #1210
This changes does not Java 8 specific but in 3406fc62cb20a5fb906584cbd7deaa97d7c2b8a3 you decide to stop work under [branch 2.x](https://github.com/joel-costigliola/assertj-core/tree/2.x).
Because of this I make PR from master branch.

[2018-03-29 22:47] joel-costigliola commented on #1195
I have run some performance tests on soft assertions, it turns out that moving to byte-buddy had a significant impact, they are ~2.5x slower.
We have moved to byte-buddy to fix some issues unsolvable with cglib (the previous proxying lib), we will have a look if we can improve our current usage of byte buddy.

[2018-03-29 22:48] joel-costigliola commented on #1195
@PascalSchumacher @robertotru can you run your tests with the latest 3.10.0-SNAPSHOT to measure the improvements done so far?

[2018-03-30 05:29] #1205 closed

[2018-03-30 06:15] filiphr commented on #1195
I think byte buddy should be faster than cglib (at least from what I've read, I can't find that article now).

Probably something is not OK on our side. Maybe @raphw can help us out with the performance.

[2018-03-30 07:16] raphw commented on #1195
Performance is a difficult topic with code generation. On average, Byte Buddy performance better then cglib. But cglib is a much simpler library that does for example not process generics. Byte Buddy does so and creates method graphs to correctly generate bridge methods and to resolve generic parameter and return types. It also processes meta data such as annotations. All of these are costly opera

[2018-03-30 08:00] joel-costigliola commented on #1195
@raphw thanks for the feedback, we will try your suggestion on using `Advice`.

[2018-03-30 08:47] #1209 closed

[2018-03-30 11:10] raphw commented on #1195
Great, let me know if you need help. Note that advice needs to be stateless. You can however define any amount of (static) fields using the type builder DSL and set values using reflection. You can the access these fields using Advice.FieldValue.

[2018-03-30 20:44] testn commented on #1195
the upgrade to bytebuddy 1.8.0 should already helped improve some performance already though.

[2018-03-31 08:17] joel-costigliola commented on #1207
Fixed in https://github.com/joel-costigliola/assertj-core/commit/bd44eabb7380aba5916a36cc6a66de6a857f0a31, let me know if you that is sufficient.

[2018-03-31 08:17] #1207 closed

[2018-04-02 09:19] #1186 closed

[2018-04-02 09:33] joel-costigliola opened #1213 "extracting methods should keep assertion contextual information"
#### Summary

`extracting` methods family only keep the previously set description but not the representation or the overridden message (if any).

[2018-04-03 10:08] almothafar opened #1214 "assertThat with CompletionStage is not waiting CompletableFuture to complete"
#### Summary
I'm trying to do some test with firebase SDK things, the problem that the assertThat always failing with message:

and I'm not sure how to make it wait, I can do just a stupid solution with `.join()` to make it work, but really it is not something that I'm looking for with this case.

#### Example

I have the following method of my service:

[code]

Then This is the test method:

[cod

[2018-04-03 11:10] joel-costigliola commented on #1203
@raphw in the `intercept` code below that is used by soft assertions, `Callable` is a call to an assertion method (on an assert instance) that changes the object under test, like [`filteredOn`](http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/AbstractIterableAssert.html#filteredOn-java.util.function.Predicate-). Here we create another proxy to make sure the new assertion i

[2018-04-03 13:07] raphw commented on #1203
You can use `@This` to get the current instance's reference. This is what you need, right?

[2018-04-03 14:13] bfarka opened #1215 "Add support AbstractIterableAssert::noneStatisfy(Consumer consumer)"
#### Summary
if you want to assert some complex things that non eelement of an Iterable contains something it would be create to have something an nonSatisfy like we there is currently an anySatisfy and an allSatisfy method

#### Example

[code]

[2018-04-03 21:27] joel-costigliola commented on #1215
I'll be happy if we rename that to `noneSatisfy` to be consistent with [`noneMatch`](http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/AbstractIterableAssert.html#noneMatch-java.util.function.Predicate-).

[2018-04-03 22:57] joel-costigliola commented on #1214
The [`isCompletedWithValueMatching`](http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/AbstractCompletableFutureAssert.html#isCompletedWithValueMatching-java.util.function.Predicate-java.lang.String-) assertion javadoc states that the future under test should be completed thus the error.

It looks like the future assertion API is not as useful as it should (see also this lo

[2018-04-04 06:09] bfarka commented on #1215
@joel-costigliola:

what about having both:
As far as i understand the API all *Match method take an Predicate as arguement, all *Satisfy take a Consumer..

of course having both methods would be consistent...

what do you think?

[2018-04-04 06:28] joel-costigliola commented on #1215
Not sure if I understand you correctly but `noneMatch` already exists so we just need to add `noneSatisfy(Consumer)`.

[2018-04-04 06:38] bfarka commented on #1215
ahhh sure, so of course I'll can implement noneSatisfy(Consumer)

[2018-04-04 10:18] f4lco opened #1217 "Consider closing the Stream in ListAssert"
#### Summary

The current implementation of converting a stream to a list uses the following logic:

[code]

According to my own research and https://stackoverflow.com/a/40957355/345057, this does not close the underlying stream. Most of the time this is not a problem since usually streams do not hold a resource. However, it seems way too easy to create such a situation as the example shows.

####

[2018-04-04 10:43] joel-costigliola commented on #1217
I'm ok closing the Stream, I don't think that is a huge issue when running tests as tests are not long living but it is cleaner to close resources so that's a good idea (thanks for reporting it).

Looking forward to your PR!

[2018-04-04 11:38] hgschwibbe opened #1219 "Provide a withPredicate check for exception handling"
#### Summary
We have a custom business exception class which transports an error code from the backend to the frontend. It would be great to have a predicate check where we can access the additonal error code.

Please provide a withPredicate check for exception handling.

#### Example
[code]

[2018-04-04 19:42] nach-o-man commented on #1219
it is possible in latest version (3.9.1) with *matches* method
[code]

[2018-04-05 16:10] derekbassett commented on #646
I relooked at this issue again.  It is confusing that in order to accomplish my goal of overriding what method is called when using isEquals() or any of his friends isEqual...(), I would have to write a Comparator.
Most of the user defined objects I have are not mathematical in nature nor sorted and so I do not think of Comparison or Order when using the framework.
One of the reasons why I adopted

[2018-04-05 17:27] sebroeder commented on #646
I had a look at the implementation and since the handling of custom `equals()` in `DeepDifference.java` is isolated [to a few lines](https://github.com/joel-costigliola/assertj-core/blob/0f31a22ec18fd47f2cbc3395681fb74b1811c3b0/src/main/java/org/assertj/core/internal/DeepDifference.java#L306-L312) I tried to introduce a second boolean parameter `useCustomEquals` to `determineDifferences()`.

The r

[2018-04-06 08:59] paul-hammant commented on #1002
`isDeepEqualTo()` is what I was looking for in AssertJ when I arrived at #1002.

I think I'll stick with `DeepEquals` from https://github.com/jdereg/java-util

Or the technique I've been using for fifteen years via XStream:

[code]

[2018-04-06 10:43] joel-costigliola commented on #646
That looks a good approach to me, we maybe should use an enum instead of a boolean for better extensibility

[2018-04-06 10:51] joel-costigliola commented on #646
That looks a good approach to me, we maybe should use an enum instead of a boolean for better extensibility.

#1002 is one of my priority although I'm not sure how much time it is going to take me, if I find it is taking a lot of time I might add it to 3.11 instead of 3.10

[2018-04-07 01:27] andrewauclair opened #1220 "AssertJ Core Does Not Define an Automatic Module Name"
#### Summary
Currently when compiling a project that uses assertj-core as a dependency in Java 9+ I receive the following warning from maven-compiler-plugin.

The following should be added to the assertj-core pom.xml to generate an automatic module name in the Manifest file for maven to use.

[code]

[2018-04-07 01:53] joel-costigliola commented on #1220
Thanks for reporting this !

[2018-04-07 09:00] joel-costigliola commented on #1219
@hgschwibbe Have you something to add ? can we close this issue?

[2018-04-07 09:08] #1217 closed

[2018-04-07 23:02] #1220 closed

[2018-04-08 08:01] raphw commented on #1195
I got some really good performance feedback by @testn and noticed that assertj recreates ByteBuddy instances for every class. They should also be configured by .with(TypeValidation.DISABLED) to avoid internal validation which is rather costly.

[2018-04-08 10:56] joel-costigliola commented on #1195
So if I understand correctly it is safe to make `new ByteBuddy()` a field instead of creating one everytime in:
[code]
I'll add  `.with(TypeValidation.DISABLED)` thanks for the tip.

[2018-04-09 10:13] rafakob opened #1223 "assertThat is ambiguous for kotlin lambda type"
#### Summary
I have kotlin data class, eg.:
[code]

I want to `assertThat` it's not null:

[code]

The assertion is trying to call method:
[code]
and instead it should call:
[code]

Any idea how to fix this? For now I'm just using `assertNotNull` from JUnit.

[2018-04-09 20:43] raphw commented on #1195
I assume a portion of it comes from the deep generics of the assertj classes. cglib has a rather naive approach to generics as they were only patched late into the library. It filters all methods that are marked as bridges. Unfortunately, this has plenty of draw backs. Byte Buddy processes the whole hierarchy and reconstructs the shape from the generic form just like javac. If you want to do it ri

[2018-04-09 22:38] testn commented on #1195
If you want to squeeze a bit of performance for the startup case, we can simply use method invoke instead of using `@SuperCall`. It will shave a couple seconds off as it does not have to create a lot of classes.

[2018-04-10 09:02] agauchy opened #1224 "The method isEqualToComparingFieldByFieldRecursively doesn't work with RuntimeException object"
#### Summary
The method isEqualToComparingFieldByFieldRecursively don't work with RuntimeException object. The check always return true even if we change the RuntimeException message in the expected RuntimeException.

#### Not working example (always true)

[code]

#### Working example

[code]
We have make some tests and the second example work (when we force the check of the attribut message).

[2018-04-10 10:31] joel-costigliola commented on #1224
Could that be because `isEqualToComparingFieldByFieldRecursively` honors `equals` when it has been overridden ? Are you dealing with a RuntimeException subclass that has redefined  `equals` ?

If my remark is not relevant, can you give a test case that I could run to reproduce the problem ?

Anyway thanks for taking the time to report this issue.

[2018-04-10 10:50] joel-costigliola commented on #1224
The issue is that when gathering the fields to compare AssertJ ignores any fields from classes in `java.lang` to avoid comparing `Object`, this is a bit to drastic, I don't remember if there was another reason (the code comes from Fest Assert the project AssertJ is based from) anyway this should be changed.

[2018-04-11 08:59] joel-costigliola commented on #1203
Fixed in 0a0e28014978f62961cf50823e171a53c010d2d7

[2018-04-11 08:59] #1203 closed

[2018-04-11 09:03] joel-costigliola commented on #1144
@uhafner Sorry late comment but `AssertionError` is part of the JDK thus definitely something to keep using.

[2018-04-11 09:04] joel-costigliola commented on #1144
I'm closing this issue but feel free to comment it and I'll reopen it if needed.

[2018-04-11 09:04] #1144 closed

[2018-04-11 09:28] joel-costigliola commented on #1195
As a side note my soft assertions perf tests results after
- 3.9.0  : ~3500ms
- 3.9.1+ : ~9300ms
-  48484331e commit : ~6000ms

[2018-04-11 11:19] uhafner commented on #1144
It is ok to close this issue, since the actual problem is also described in https://github.com/joel-costigliola/assertj-assertions-generator/issues/90.

I just wonder why throwing exceptions in assertj-core is different than in the generated custom assertion classes. In assert-core, all messages are correctly parsed by IntelliJ , however, custom assertions do not provide this nice feature.

[2018-04-11 20:02] reitzmichnicht opened #1227 "Checkreturnvalue wrong on withFailMessage"
#### Summary
Using the error prone compiler results in a failed build because withFailMessage does specify checkreturnvalue annotation, but that does not make sense.

#### Example
[code]

No return value needed here.

[2018-04-11 20:11] PascalSchumacher commented on #1227
`withFailMessage` has to be used before the assertion, otherwise it has not effect.

[2018-04-11 20:16] raphw commented on #1195
@joel-costigliola I recently wrote a summary on proxying in our times, you might find that interesting: https://mydailyjava.blogspot.no/2018/04/jdk-11-and-proxies-in-world-past.html

[2018-04-11 20:17] reitzmichnicht commented on #1227
Ok that was not obvious for me, there is no example in the documentation.
So the correct assertion would be:
[code]

[2018-04-11 20:40] #1227 closed

[2018-04-11 20:50] PascalSchumacher commented on #1227
Javadoc and website updated.

Thanks for reporting! 👍

[2018-04-11 21:46] joel-costigliola commented on #1195
thanks guys, your support is great!

[2018-04-11 23:56] testn commented on #1195
@joel-costigliola I think I can squeeze a little of performance out further from bytebuddy. I will need to investigate more.

[2018-04-12 01:04] joel-costigliola commented on #1195
@testn cool :) I'll wait before looking at your PR, let me know when it is ready.

[2018-04-13 15:58] ASaunin opened #1228 "SoftAssertion doesn't proxy AssertExceptions from the IterableComparator"
AssertJ version: 3.9.1
Java: 8
When SoftAssertion is used with Iterable proxy, it doesn't handle AssertException, thrown by IterableComparator.
Please, check the code below. This test should pass, there is no softly.assertAll() calling at the end of the test. But unfortunately test fails cause of the internal implementation bug.

[code]

[2018-04-14 06:33] joel-costigliola commented on #1228
Your test does not work because `containsExactlyInAnyOrder` in `IterableAssert` is declared as `final` (in order to use `@SafeVarargs`), soft assertions work by dynamically proxying assert classes but this can't work for `final` method as they can't be overridden (the proxy is a subclass of the assert class).

Try with `ProxyableIterableAssert` and it should work fine.

I'm closing this issue but

[2018-04-14 06:33] #1228 closed

[2018-04-14 19:56] ASaunin commented on #1228
@joel-costigliola, thanks for the detailed answer. I've checked and it works fine with `ProxyableIterableAssert`.
I just want to notice, that for the earlier AssertJ version SoftAssertions also worked fine with the pure proxyed `IterableAssert`.
Maybe it makes sense to throw an exception if the proxying class is declared as `final` or to mention this feature at the documentation here: http://joel-

[2018-04-14 23:45] joel-costigliola commented on #1228
Not sure about the exception, AssertJ relies on the proxying library (byte buddy) and they don't throw one.
But yes we should state that final method don't work with soft assertions.

[2018-04-15 11:37] filiphr opened #1229 "Add Junit5 extension for soft assertions"
#### Summary
Currently there is a JUnit `@Rule` for soft assertions. In order for JUnit5.

We can use the `@RegisterWith` extensions. See more [here](https://junit.org/junit5/docs/current/user-guide/#extensions-registration-programmatic)

#### Example

[code]

[2018-04-15 20:26] raphw commented on #1195
@joel-costigliola Could you try out Byte Buddy 1.8.5. I had a look at Byte Buddy's method graph compiler which is probably the most complex component and I found some issues with classes that declare a lot of methods within a hierarchy where a hash function did not play out too nicely.

I assume this might have hit assertj since the assertion classes tend to declare a lot of methods. Thanks!

[2018-04-15 21:47] joel-costigliola commented on #1229
I wonder how having both JUnit 4 and 5 as dependencies will play out, I hope declaring them as provided would be sufficient to avoid incompatibilities (if any).

[2018-04-16 10:07] joel-costigliola commented on #1224
@agauchy any feedback ?

[2018-04-16 10:09] #1213 closed

[2018-04-16 10:49] joel-costigliola commented on #1195
I have updated byte buddy to 1.8.5, it did not make a notable on my soft assertions perf tests results, they still run in ~6000ms.

Another unexpected side effect was that it broke [`Assumptions_assumeThat_Test`](https://github.com/joel-costigliola/assertj-core/blob/0a0e28014978f62961cf50823e171a53c010d2d7/src/test/java/org/assertj/core/api/assumptions/Assumptions_assumeThat_Test.java):
[code]
The

[2018-04-16 21:34] joel-costigliola commented on #1195
Thanks for the patch, I'll fix the stack trace assertions.

[2018-04-17 07:36] filiphr opened #1231 "ShouldHaveMessage should use same assertion error as ShouldBeEqual"
#### Summary
When asserting message of a throwable a normal `AssertionError` is thrown. However, it is possible to use JUnit 4 or JUnit Jupiter specific assertion error in order to benefit from the IDEs features

#### Example

[code]

results in:

[code]

It should be:

[code]

[2018-04-17 09:56] joel-costigliola commented on #1223
try using static import `AssertionsForClassTypes`, java 8 can get confused if a type could potentially implement several interfaces, it then is not able to choose wich `assertThat` methods to use (unfortunately)

[2018-04-17 11:07] joel-costigliola commented on #1195
@raphw The tests pass (I guess you have updated the PR), before merging it, I have asked for some clarifications as I'm not super comfortable maintaining this code (I should probably RTFM of byte buddy to understand better your changes).
I have spotted some areas that can be refactored but I'll take care of that.

I have run my perf tests and there is a slight improvement (from ~6000ms to ~5500ms)

[2018-04-21 13:32] PascalSchumacher opened #1232 "Java 11 EA Build: Compile Errors: ambiguous reference both <T>assertThat(T) and method assertThat(java.lang.CharSequence) match"
Just for your information.

When running `mvn clean test` using:

[code]

I get these compile errors:

[code]

[2018-04-21 21:15] raphw commented on #1195
I had another look at what can be improved. Can you try with https://github.com/joel-costigliola/assertj-core/pull/1233

[2018-04-22 08:13] joel-costigliola commented on #1232
What a PITA, any idea what the underlying cause is ?

[2018-04-24 10:55] #1215 closed

[2018-04-24 11:02] joel-costigliola commented on #1192
@mkobit  can you give a try to the latest master build ? there has been lot of improvements and fixes around soft assertions, it is worth giving it a try.

[2018-04-24 11:09] joel-costigliola commented on #1224
@agauchy would be nice to hear from you if you have time (but it's alright if you don't).

[2018-04-25 10:07] #1202 closed

[2018-04-25 10:09] joel-costigliola commented on #1104
@nach-o-man any update on this ? (it's alright if you are too busy to work on it).

[2018-04-25 18:17] mkobit commented on #1192
Just built the same commit above against `7f33ba7d7a` of `assertj-core` using Jitpack, and the tests above succeeded :heavy_check_mark:

[2018-04-25 21:39] joel-costigliola commented on #1192
Sweet, closing the issue then

[2018-04-25 21:39] #1192 closed

[2018-04-26 18:50] nach-o-man commented on #1104
@joel-costigliola haven't cheсked it really cause didnt have time. As of right now I will start looking.

[2018-04-28 08:54] raphw commented on #1195
I have done some more profiling for the assertj use case, could you try Byte Buddy 1.8.10?

[2018-04-29 06:47] #1036 closed

[2018-04-29 06:52] joel-costigliola commented on #1195
@testn  the performance is a bit better from ~5500ms to ~5200ms.

[2018-04-29 16:55] testn commented on #1195
If you care more about the initial load time performance, this can actually reduce the load time down a bit https://github.com/joel-costigliola/assertj-core/pull/1225/files

[2018-05-05 03:01] xenoterracide opened #1235 "minor doc change suggestion for gradle"
change

[code]

to
[code]

the difference being is that the latter is valid in kotlin, and groovy, but are supported by new versions of gradle, and would facilitate my lazy copy and paste issues.

[2018-05-05 03:13] joel-costigliola commented on #1235
Updated

[2018-05-05 03:13] #1235 closed

[2018-05-06 06:44] filiphr opened #1236 "Assert InputStream has String content"
#### Summary
It would be good if an `InputStream` can be compared to some String.

This already exists for:
* `AbstractFileAssert#hasContent(String)`
* `AbstractPathAssert#hasContent(String)`

#### Example

[code]

[2018-05-08 22:35] testn commented on #1195
@joel-costigliola  look like there are some significant improvements here. Do you plan to cut 3.10 release soon?

[2018-05-08 22:51] joel-costigliola commented on #1195
I was actually thinking about it ;-) I just need to see if there are anything easy/worthwhile to add but I'll do a release in the next couple weeks

[2018-05-09 05:57] sandeep-chekuri opened #1238 "Add usingRecursiveComparison for Iterables"
#### Summary
Currently there is a feature to exclude fields using isEqualToIgnoringGivenFields while asserting a bean
http://joel-costigliola.github.io/assertj/assertj-core-features-highlight.html

We are exactly looking for similar feature while asserting list (or Iterable Objects)

#### Example
List<TolkienCharacter> frodos = Arrays.asList(
                                   new TolkienCharacter

[2018-05-10 18:38] nach-o-man commented on #1104
@joel-costigliola couldnt really find good solution untill now. Will be leaving for vacation untill 24.05 so if anyone feels like grabbing it...

[2018-05-10 21:27] joel-costigliola commented on #1104
@nach-o-man no problem, thanks for the time you have spent!

[2018-05-11 09:59] joel-costigliola commented on #96
I agree with that, I actually think that AssertJ should not compete with XMLUnit, properly doing XML assertions is a full time project.

[2018-05-12 05:05] joel-costigliola commented on #1224
I'm leaving without milestone until we have some feedback on what to do exactly.

[2018-05-12 06:36] joel-costigliola commented on #1195
Closing this issue as improvements have been made.
We will keep trying improving performance in the next releases.

[2018-05-12 06:36] #1195 closed

[2018-05-13 18:33] PascalSchumacher commented on #111
For reference there is a pull request to add AssertJ support to XMLUnit 2: https://github.com/xmlunit/xmlunit/pull/120

[2018-05-13 18:35] PascalSchumacher commented on #96
For reference there is an open pull request to add AssertJ support to XMLUnit 2: https://github.com/xmlunit/xmlunit/pull/120

[2018-05-16 18:01] TheRealMarnes commented on #972
Isn't it better to use hamcrest for such things? It's specifically designed to be a matching library, in test and production code. Adding a non-test usage paradigm to assertj feels like feature creep IMO, especially with assertj and hamcrest offering 99% the same assertions anyway. Hamcrest is also built on smply returning a boolean, instead of first throwing an Error and then having to catch it r

[2018-05-16 18:35] filiphr commented on #972
You are completely wrong here (I don't mean it in a rude way). AssertJ has it's own way of doing the checks and uses 0 Hamcrest assertions internally.

In my opinion a big plus and advantage of AssertJ is it's fluent style of asserting. With Hamcrest you need to know what you want to do, with AssertJ you get autocomplete support based on the type you are asserting out of the box.

One reason why a

[2018-05-16 18:46] TheRealMarnes commented on #972
@filiphr I see, fair enough.

[2018-05-16 18:56] TheRealMarnes opened #1239 "assertThat(x).matches(HamcrestMatcher)?"
I'd like to (if feasible) contribute a matching method that accepts a hamcrest Matcher, for folks who like to use assertj for testing but are also very familiar with writing assertions in general (like param validation) with hamcrest. They offer a detailed mismatch failure message, so I think they'll fit in seamlessly:

[code]

I'm not familiar with assertj as a project, just as a user. Is the ide

[2018-05-16 19:02] TheRealMarnes commented on #1239
Oh, hah, I see HamcrestCondition exists :) Didn't know that, sorry

[2018-05-16 19:02] #1239 closed

[2018-05-17 13:14] Juvat opened #1241 "Contains subsequence assertion on list of strings fails on valid subsequence"
#### Summary
When a valid sub-sequence in a list of strings is asserted then the assertion will fail even though the sequence is present.

#### Example
This is a slightly reworked example from assertj-core-examples repo:

[code]

[2018-05-18 01:08] joel-costigliola commented on #1241
The described behavior is actually correct, in your example [`containsSubsequence`](http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/AbstractIterableAssert.html#containsSubsequence-ELEMENT...-) is a collection assertion that will look at **elements** (sub)sequence but `"Batman is"` is not an element of `list` thus the failure.

I guess you were thinking of the String [`con

[2018-05-18 01:08] #1241 closed

[2018-05-18 23:27] joel-costigliola commented on #1232
For info, same error in my environment.

**Java version**
[code]

**Maven version**
[code]

Output of `mvn clean test`:
[code]

[2018-05-20 14:44] epeee commented on #1232
It looks like the cause for this problem is that `StringBuilder` is implementing `Comparable` now in Java 11 (see [StringBuilder doc Java 11](https://download.java.net/java/early_access/jdk11/docs/api/java.base/java/lang/StringBuilder.html) and [StringBuilder doc Java 10](https://docs.oracle.com/javase/10/docs/api/java/lang/StringBuilder.html)). The same also applies for `StringBuffer`.

We have t

[2018-05-20 21:30] joel-costigliola commented on #1232
@epeee thanks for the investigation, the second option is definitely better (user experience first!).

[2018-05-21 05:16] epeee commented on #1232
thanks, I will provide a PR later on today.

[2018-05-21 09:15] msebire opened #1242 "ClassCastException when using assertion on SortedSet and extracting method"
#### Summary
Since assertj 3.10.0, we get a `java.lang.ClassCastException` when using `assertThat().extracting()` on a `SortedSet`.
This issue seems to be related to the update done in #1202.
The `Comparator` used is the one from the `SortedSet` to compare the extracted value.

#### Example

[code]

[2018-05-21 09:57] joel-costigliola commented on #1242
Thanks for reporting this !
The issue here is a combination of the #1202 and `extracting` that propagates the comparator but really should not since after `extracting` the elements to compare have nothing to do with the initial comparator (here the `SortedSet` one).

[2018-05-22 00:02] Jcamilorada opened #1244 "Use soft assertions all the time"
I have been discussing internally with a co worker, the possibility to start using only soft assertions  for 100% of our unit test and integration test suites assertions (when more than one assertion in test).

As a project administration would you recommend this practice?

[2018-05-22 11:46] garethmok opened #1245 "Add assertion to determine that a String doesNotContainWhitespace"
#### Summary

I have a scenario where I am aggregating String values and reducing it down to a single comma separated value for an external service, one of the requisites is that the submitted value does not contain whitespaces. Currently there does not appear to be a nice way to assert on this type of output.

#### Example

[code]

[2018-05-23 09:41] joel-costigliola opened #1246 "Add extracting(Function extractor) to Object assertions"
#### Summary

When using Object assertion `extracting(Function... extractors)` with one extractor, we get a List of one element corresponding to the extracted value when users expect the extracted value directly.

https://stackoverflow.com/questions/50461109/assertj-retrieving-first-items-from-extracting-list-returns-list-instead

[2018-05-23 09:45] #1232 closed

[2018-05-23 10:02] joel-costigliola commented on #1244
IMO, using soft assertion is valuable when you have tests that are expensive to run, for this type of tests you want to gather all the errors so that you can fix them all at once and avoid rerunning the tests just to discover that the assertions after the one that failed was also failing.

Soft assertions comes at a cost in performance, they use a proxy mechanism which is expensive at the proxy cr

[2018-05-24 08:50] robertklaus-bosch opened #1247 "[WARNING] The POM for org.assertj:assertj-core:jar:3.10.0 is invalid"
#### Summary
During a Maven build I get following warning in the log:
``
[WARNING] The POM for org.assertj:assertj-core:jar:3.10.0 is invalid, transitive dependencies (if any) will not be available: 1 problem was encountered while building the effective model for org.assertj:assertj-core:3.10.0
``

According to Maven logging, there is a problem in the parent pom:
``
[FATAL] Non-parseable POM <..sn

[2018-05-24 21:57] joel-costigliola commented on #1247
Interesting ... does it prevent using `assertj` ?

[2018-05-25 09:36] robertklaus-bosch commented on #1247
Okay .. this is awkward.
I checked the parent pom in Maven central and it looked fine.

Then I checked our build machine and didn't find the warning.
Looked into my local maven repository as I got the warning from my local build. And for whatever reason the parent pom was somehow duplicated.

After simply deleting it and re-running the build I got the correct parent pom.

Okay this is weird but no

[2018-05-25 09:36] #1247 closed

[2018-05-25 11:20] joel-costigliola commented on #1247
no problem!

[2018-05-28 09:18] PascalSchumacher commented on #1245
Currently you can use:

`assertThat("val1,val2").doesNotContainPattern("\\s");`

[2018-05-29 10:56] romanlinhard opened #1248 "Converting your JUnit assertions to AssertJ fails in some cases"
Hello,
I've converted my JUnit test code  with your  convert-junit-assertions-to-assertj.sh script.
In most cases I have no problems and got a very good result. But at some tests I got into trouble (no compile any more ...) . As example here are some git diff's between JUnit code and now after the conversion.
Can you explain, what going wrong with that?

Here are two examples for successful conver

[2018-05-29 11:19] Phil-Ba opened #1249 "Typed equalTo alternative"
#### Summary
I'd like if there was a typed alternative to the current _isEqualTo_ method. While there is nothing wrong with the current _isEqualTo_ I often find myself wishing for IDE auto-completion support. But because the _isEqualTo_ method takes an Object, the IDE is not able to provide any meaningful assistance.
I'm sorry if this has been discussed before, but I wasn't able to find anything.

[2018-05-29 22:03] joel-costigliola commented on #1244
@Jcamilorada Does that answer your question ?

[2018-05-30 10:45] joel-costigliola commented on #1249
Ideally we would add `public SELF isEqualTo(ACTUAL expected)` but this does not compile as it conflicts with the current `public SELF isEqualTo(Object expected)`.

I would not be opposed to add `isEqualToTyped`, but before I want to make sure it adds enough benefits to outmatch the API additional bloating.

@PascalSchumacher thoughts ?
Any feedback appreciated.

[2018-05-30 10:47] joel-costigliola commented on #1248
Thanks for reporting this, we know the script is not 100% bullet proof but if the conversion is 90% right then it is worth it.

We will improve it based on your feedback.

[2018-05-30 14:37] Glirox opened #1250 "Missing OSGI Import-Package"
#### Summary

Import-Package are missing in OSGI.

[code]

 should probably be changed to :

[code]
in the pom.xml (*maven-bundle-plugin*)

#### Example
Several Assertions cannot be used, for example:
[code]
throw
[code]
in an OSGI environment

[2018-05-30 21:26] PascalSchumacher commented on #1249
`isEqualToTyped` may safe one or two keystrokes for auto-completion, but in my opinion it is not very readable as the `Typed` part is pure noise when read.

As code is more often read than written I'm not in favor of adding this.

Sorry!

[2018-05-31 12:43] jcamiloradamesa commented on #1244
Hi yes, thanks for the time you expend with explanation :)

[2018-05-31 12:45] Jcamilorada commented on #1244
yes! many thanks!

[2018-05-31 17:28] #1244 closed

[2018-06-02 04:59] joel-costigliola opened #1251 "Use opentest4j MultipleFailuresError to report all soft assertions error ?"
#### Summary

https://github.com/ota4j-team/opentest4j/blob/master/src/main/java/org/opentest4j/MultipleFailuresError.java looks to be nicely supported by IDEs, let's give it a try as we did in https://github.com/joel-costigliola/assertj-core/issues/1072.

https://www.eclipse.org/photon/noteworthy/images/grouped-assertions-result-comparison.png

[2018-06-02 05:03] joel-costigliola commented on #1242
For people having this issue, the workaround is to call `useDefaultElementComparator` after extracting to unset the `SortedSet` element comparator.

[code]

[2018-06-02 06:17] #1242 closed

[2018-06-02 06:17] joel-costigliola commented on #1250
Thanks for reporting this !

[2018-06-02 10:19] joel-costigliola commented on #1251
relates to https://github.com/joel-costigliola/assertj-core/issues/1070

[2018-06-03 10:41] martin-tarjanyi opened #1253 "Add Iterable content to Iterable size assertion error messages"
#### Summary
When I switch to size assertion from an iterable assertion via the `AbstractIterableSizeAssert.size()` method the error message does not include the elements of the iterable. If it included it would help to fix failed tests faster.

#### Example

[code]
**Actual error message:**
_Expecting:
 <3>
to be greater than or equal to:
 <4>_

**Expected error message:**
_Iterable does not matc

[2018-06-04 09:10] garethmok commented on #1245
Excellent, thank you. In the end I opted for a combination of Apache commons' `StringUtils.containsWhitespace` :

`assertThat(containsWhitespace("val1,val2")).isFalse();`

I believe there is still value in adding this feature, language associated with pattern matching feels like it would normally be reserved for more complex patterns from a clean code standpoint. We have devs at all levels in our

[2018-06-04 09:56] joel-costigliola commented on #1245
I'm not against adding `doesNotContainWhitespace` if someone is keen to contribute it.

[2018-06-04 10:03] #1250 closed

[2018-06-04 10:05] joel-costigliola commented on #1250
@Glirox I have pushed the commit with your fix suggestion, can you give it a try and see it correctly addresses the issue ? (jut build assertj-core with `mvn install` and use 3.11.0-SNAPSHOT in your dependency).

[2018-06-04 10:39] garethmok commented on #1245
Awesome, I'd be happy to have a look at this tonight 👍

[2018-06-04 11:27] rpost opened #1254 "Lambda-getter based version of hasFieldOrPropertyWithValue"
#### Summary

Can we add `org.assertj.core.api.AbstractObjectAssert.hasPropertyWithValue(Function<T,V> getter, V expectedValue)` ?

#### Example

[code]

[2018-06-04 14:10] Phil-Ba commented on #1249
`isEqualToTyped` was only a first idea for the name, `isAkinTo` would be something that seems more elegant.
But @joel-costigliola made a good point about the API being cluttered already. I thought about adding something liked `AbstractTypedAssert`, but in the very least this would lead to lots of duplicate code to maintain.
@PascalSchumacher Well, normally it safes more than 2 strokes, especially

[2018-06-04 14:10] #1249 closed

[2018-06-04 15:59] rpost opened #1255 "Add alias meets(Condition) to has(Condtion)"
#### Summary

Can we add handy alias for `org.assertj.core.api.ExtensionPoints.has(Condition condition)` ? It would increase human readability when using "Condition" suffix as in example

#### Example

[code]

[2018-06-04 16:41] martin-tarjanyi commented on #1253
Would it be possible to implement this only for the most commonly used methods (greaterThan, greaterThanOrEqual, lessThan, lessThanOrEqual. between)? These are the ones that I can imagine using for iterable size assertions (since hasSize, isEmpty and isNotEmpty covers the other cases quite well.). Or you would rather go all-in and implement for all of the IntegerAssert methods?

Or maybe another a

[2018-06-04 18:17] PascalSchumacher commented on #1254
When testing only one property, it is imho more readable to write

`assertThat(someCar.getName()).isEqualTo("myCarName");`

For a small number of properties

`assertThat(someCar).extracting(Car::getName, Car::getManufacturer).containsExactly("Name", "Manfacturer");`

can be used.

There is also

`assertThat(new Car()).returns("Name", from(Car::getName));`

were `from` is optional, so it which can

[2018-06-04 18:50] PascalSchumacher commented on #1255
What about using the existing method `is(Condition)`, e.g.:

[code]
?

Related issue: https://github.com/joel-costigliola/assertj-core/issues/938

[2018-06-04 20:32] rpost commented on #1255
I'm aware of `is`. There are two issues with `is` imo:
1. I don't like naming classes with non-nouns (`Awesome` vs `(Is)AwesomeCondition`)
2. Sometimes my `Condition` instance comes as argument (in some bigger own custom assertion method for example) and then really there is no better name for that instance than `condtion` - this reads bad with `assertThat(myObject).is(condition)` or  `assertThat(

[2018-06-04 21:40] joel-costigliola commented on #1249
@Phil-Ba thanks for taking the time to share your thoughts (and closing the issue).

[2018-06-04 21:49] joel-costigliola commented on #1253
I actually would not mind adding `hasSizeGreaterThan`, `hasSizeGreaterThanOrEqualTo`, `hasSizeBetween`, `hasSizeLessThan`, `hasSizeLessThanOrEqualTo` to `EnumerableAssert` (which means array assertion will get them too) as it is easier to discover than `size()` + `isGreaterThanOrEqualTo()` (or the other ones).

The option I suggested is a bit more hackery as you add something to the existing descr

[2018-06-04 21:53] joel-costigliola commented on #1254
I agree with @PascalSchumacher, moreover we will adding another `extracting` that takes only one lambda https://github.com/joel-costigliola/assertj-core/issues/1246 which will allow you to write:

[code]

@rpost would that work for you ?

[2018-06-04 22:00] joel-costigliola commented on #1255
If we add something I would go for `satisfies` as we already have a version of it when expressing [requirements as `Consumer`](http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/AbstractAssert.html#satisfies-java.util.function.Consumer-).

[2018-06-05 07:16] almondtools opened #1256 "Improvement for collection matching"
#### Summary

Consider a List of complex objects:

* there is more than one element in this list
* the assertion should cover multiple properties, but not the complete state (e.g excluding transient fields like the modification counter in collections)
* each element is different on the asserted properties

Such scenarios are quite easily solved with Hamcrest matchers or AssertJ conditions, yet man

[2018-06-05 07:35] rpost commented on #1255
`satisfies` is as good as `meets` :+1: . We can close this issue in favor of #938.

[2018-06-05 07:35] #1255 closed

[2018-06-05 09:11] Glirox commented on #1250
It works ! Thx

[2018-06-05 18:18] martin-tarjanyi commented on #1253
Then if you don't have any objections I would proceed with adding `hasSizeGreaterThan` and the other methods to `EnumerableAssert`.

[2018-06-06 09:00] joel-costigliola commented on #1253
No objections! :)

[2018-06-06 15:39] rpost commented on #1254
I'm fine with `assertThat(new Car()).returns("myCarName", from(Car::getName));`. I was looking for something that would allow me to chain few property assertions in compile safe manner (ie. without referring to field by its name as String). I was confused that this is not possible with `hasPropertyWithValue` - maybe it's worth suggesting `returns` in javadoc of `hasPropertyWithValue`?

[2018-06-07 04:03] almondtools commented on #1256
I noticed some problems with this approach:

* the compiler warnings for unchecked types occur
* error messages are tricky as well
* several overloaded methods will be needed:
  * for Collections
    * for Lists (ordered, index-sequential)
    * for Queues (ordered, no index)
    * for Sets (unordered, unique elements)
    * for SortedSets (ordered, unique elements)
  * for Maps (unordered, keyval

[2018-06-07 05:21] joel-costigliola commented on #1256
I agree this would be good additions/improvements but there is way to much work to do in your previous comment, this issue needs to be broken down into several ones with code examples (I had a look at your gist, it is a bit confusing sometimes)

I would not put it as a high priority issue though (read: contribution wanted) as you can already navigate to the element and use [`satisfies`](http://joe

[2018-06-08 05:35] almondtools commented on #1256
The workaround by navigating to explicity elements is not applicable for:
- lists without stable order (bags)
- sets
- queues
- maps
- ...

Thanks for the hint on tuple extraction. This will technically solve the problem for all of the upper collections/maps. Yet I think it is less readable:

[code]

is easier to understand than

[code]

It is not that obvious with 2 properties, but consider scena

[2018-06-12 10:38] joel-costigliola commented on #1256
@almondtools I agree to add a way to run different assertions on different element of a group, let's start with `Iterable` and see how it goes (especially if we can get a clear error message).

[2018-06-12 10:43] joel-costigliola commented on #1246
Fixed in de6e751563640c7d157018cf6c4c79573cb7b830

[2018-06-12 10:43] #1246 closed

[2018-06-17 10:00] #1245 closed

[2018-06-17 10:12] #1254 closed

[2018-06-22 21:27] stovocor commented on #414
I am interested in working on this. Is the initial analysis still valid after three years?

[2018-06-23 04:40] joel-costigliola commented on #414
I think that @fge is right, the best solution would be to have `Iterator` assertions that only deals with the `Iterator` API including `isExhausted()`, `hasNext()`, ...

Navigational assertions like `assertThat(iterator).nextElement().isEqualto(...);` would be nice to have but are tricky to implement because of soft assertions proxying, I'd rather create a separate issue for them.

[2018-06-23 10:05] stovocor commented on #414
Yes, I would like to work on that.

It is very likely that there will be questions regarding the `toterable(iterator)` and `asIterable()` methods, but I will ask them here when I get there.

[2018-06-24 06:41] joel-costigliola commented on #938
Summary of what needs to be done:

- add `public SELF satisfies(Condition<? super ACTUAL> condition)` to `ExtensionPoints`
- add `assertSatifies` to `Conditions`
- add a `ShouldSatisfy` error class

[2018-06-25 15:17] JosephYao commented on #972
For mockito, I just created a simple helper method as below to use any assertJ method as an ArgumentMatcher.

[code]

And, here is a sample test using this helper.
[code]

So, I suggest this as a simple alternative to creating all those "testThat" methods. Just my 2 cents.

[2018-07-01 06:17] #1251 closed

[2018-07-01 10:49] #1236 closed

[2018-07-01 21:05] stovocor commented on #414
Okay, first question for my initial commit. I have some issues satisfying the generic constraints for the tests, especially the unchecked warning in `AbstractIteratorAssert`. Do I need something like `ConcreteIterableAssert` as an intermediate type?

[2018-07-03 14:20] andyRokit opened #1264 "hasOnlyOneElementSatisfying treats all elements as satisfied if only one is"
#### Summary
When a single element in hasOnlyOneElementSatisfying passes the assertions, all elements count as passing.

#### Example

[code]

##### Expected
Test passes

##### Actual

[code]

[2018-07-03 21:39] joel-costigliola commented on #1264
The naming is confusing but the behavior is correct, it is expected that you have only one element and that element must satisfies the requirements - see the examples in the [javadoc](http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/AbstractIterableAssert.html#hasOnlyOneElementSatisfying-java.util.function.Consumer-).

Can you think of a better name for this assertion? One

[2018-07-04 10:31] andyRokit commented on #1264
If you required such a method it would probably be called: `hasOnlyOneElementAndSatisfies`

However, do we really need a method that does that?  It's effectively two checks in one:

[code]

If the `hasOnlyOneElementSatisfying` method checked that a only a single element satisfies the condition (as the name suggests) it would be very useful.  I can also think of more use cases.  Would it make sense

[2018-07-05 01:31] joel-costigliola commented on #1264
Ok what we could do is:
- rename `hasOnlyOneElementSatisfying` to `isSingletonWhoseElementSatisfies`
- add `hasExactlyOneElementSatisfying` with the behavior you were expecting

Why not keeping `hasOnlyOneElementSatisfying` ? Well some users will still think of it with the current behavior so I think it is better to break their code so that they have to explicitely choose between `isSingletonWhose

[2018-07-05 16:02] luengnat opened #1268 "assertThatThrownBy() findbugs problem"
#### Summary
assertThatThrownBy() actually checks whether the lambda throws an exception. Therefore, assertThatThrownBy() can be used alone without having to check the return value. error-prone and findbugs, therefore, identifies a lot of false positives on this. Currently, the way to do is to add `.isNotNull()`. Do you think it makes sense to add another method that is more meaningful to assert t

[2018-07-05 21:04] karayv opened #1269 "assertThat(String) is not touching ComparableAssert"
#### Summary
Using assertj library I cannot check an order of strings.

#### Example
This is possible
[code]
But such a thing is impossible at the moment
[code]

[2018-07-05 21:33] PascalSchumacher commented on #1269
It is possible, but you have use an (ugly) cast:
[code]

[2018-07-05 21:37] joel-costigliola commented on #1269
let's try to add `isBetween` to AbstratCharSequenceAssert, I think that should solve the problem.

[2018-07-06 19:03] PascalSchumacher commented on #1268
Thanks for reporting!

I guess we should remove `@CheckReturnValue` from `assertThatThrownBy`.

Instead of  `.isNotNull()` you could check the type of the thrown exception with `isInstanceOf(ExceptionClass.class)` and/or the message with `hasMessage...()`.

[2018-07-06 23:31] luengnat opened #1270 "ByteArrayAssert should provide the specific implementation for isEquals/containsExactly"
#### Summary
ByteArrayAssert currently simply calls StandardComparisonStrategy.areEqual where it can be very slow to compare large byte array.

#### Example
The slowest part is Array.get call.
[code]

[2018-07-07 10:45] martin-tarjanyi commented on #1253
Ok, I realized it will be a huge PR :)
Do you prefer reviewing the new methods one per PR or all in one?

[2018-07-08 10:59] #1210 closed

[2018-07-08 23:30] #1268 closed

[2018-07-09 10:14] joel-costigliola commented on #1264
What about adding `filteredOn(Consumer<? super ELEMENT> requirements)` that would only keep elements verify the given assertions ?

Example:
[code]

[2018-07-09 10:30] joel-costigliola commented on #1269
I'm actually making `StringAssert` implementing [`ComparableAssert`](http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/ComparableAssert.html) (can't do it for `AbstractCharSequenceAssert` as a CharSequence does not implement `Comparable`).

[2018-07-10 23:11] ardmn opened #1274 "Why framework not has doesNotContainAnyWhitespaces"
#### Summary
I found method doesNotContainOnlyWhitespaces but what about doesNotContainAnyWhitespaces
I think it is helpful when in code user use String.trim method ? Or May be I can check it by assertj using another way ? Thanks.

[2018-07-10 23:13] joel-costigliola commented on #1274
Because nobody has contributed it ;-)

[2018-07-10 23:31] ardmn commented on #1274
@joel-costigliola If you think that it is not bad idea then I want contributed it :)

[2018-07-11 01:12] joel-costigliola commented on #1274
I think it's not a bad idea :)

[2018-07-11 20:30] ardmn commented on #1274
I had hope to contribute but the framework already has this method(since 3.11.0) :)
```AbstractCharSequenceAssert.doesNotContainAnyWhitespaces()```

[2018-07-11 20:30] #1274 closed

[2018-07-11 22:13] ardmn commented on #1270
Hello @luengnat . I think it works same as ```containsExactly``` for int array or same as calling to ```arrays. assertContainsExactly()``` . Have you any proposals ? :)

[2018-07-11 22:23] luengnat commented on #1270
@ardmn it's just a performance issue where Array.get() is a reflection call into native call which can be quite slow as it involves boxing

[2018-07-11 23:08] ardmn commented on #1238
@sandeeprajub4u Sorry but I not understand how it can works ... I think the testa have not sense.  According to the documentation of version 3.10.0 isEqualToIgnoringGivenFields method ignore fields only for top level object and in you case it is ArrayList . TolkienCharacter's equals method will be called to compare TolkienCharacter objects.

[2018-07-11 23:41] joel-costigliola commented on #1274
Ah ah! my bad :smile:

[2018-07-12 09:18] StefanDraeger opened #1275 "[ComponentLookupException: Unable to find component using matcher] while Component is not visible"
#### Summary
Hello,

i've got a error.
I've got a simple Swing GUI like this

JLabel testLbl = new JLabel("Hallo Welt!");
testLbl.setName("testLbl");
testLbl.setForeground(Color.RED);
testLbl.setVisible(false);
System.out.println(testLbl.toString());
this.add(testLbl);

I want to test this label if it is visible or not.
At the start Time of the application this label is not visible but this label

[2018-07-12 09:29] joel-costigliola commented on #1275
This issue should be raised in https://github.com/joel-costigliola/assertj-swing, thanks!

[2018-07-12 09:29] #1275 closed

[2018-07-13 10:41] Lu-Tze opened #1276 "ClassCastException on extracted properties of a SortedSet"
With the fix on SortedSet introduced by 3.10.0, there is now a `ClassCastException` when using extractors on a SortedSet.

Here is a working exemple illustrating the behavior:

[code]

The problem is that `assertThat(SortedSet object)` create an `IterableAssert` with an elementComparator, and this comparator is used for the test even if using an extractor has changed the type of the tested objects

[2018-07-13 11:33] joel-costigliola commented on #1276
Fixed in https://github.com/joel-costigliola/assertj-core/issues/1242

[2018-07-13 11:42] Lu-Tze commented on #1276
Yes, it's a duplicate of #1242
I didn't saw it when I created this issue, sorry.

[2018-07-13 11:42] #1276 closed

[2018-07-14 06:21] #1269 closed

[2018-07-14 15:53] ardmn commented on #1270
@luengnat if performance is critical for you can override assertion's methods . It is not nice but it works. Unfortunately, current assertj's api  does not provide the possibility to change/put/insert custom implementation for asserting . I mean that user can't use org.assertj.core.api.Assertions with custom org.assertj.core.api.ByteArrayAssert.

[code]

[2018-07-14 17:55] ardmn commented on #1104
Guys, I think it is no problem of assertj :)

I think that problem in the using of HashSet and HashMap and so on . Please see my explanation in code sample bellow:

[code]

[2018-07-16 17:01] andyRokit commented on #1264
@joel-costigliola - sorry for the delayed response.  I've been on vacation with limited internet access.  Yeah, I think that is a neat solution.  Here's my question:  Does what you've suggested replace the role of the `Condition` class entirely?

I like the `filteredOn` approach better as it sticks with framework assertions (assertThat) rather than reverting to standard Java operations.  In the in

[2018-07-17 05:54] joel-costigliola commented on #1264
@andyRokit no problem for the late answer, really.

I'm comfortable discussing any topic and I'm happy you felt you could too!

My suggestion is an alternative to basic `Condition` usage, it does not quite replace them entirely, you can combine Conditions to create another Condition (see http://joel-costigliola.github.io/assertj/assertj-core-conditions.html). Conditions are an extension mechanism

[2018-07-17 16:03] andyRokit commented on #1264
I guess in a time before Lambda expressions `Condition` may have been the right tool for the job.  I don't think they are any more.  I like where you're going with `filteredOn` but I think it would be a mistake for the outcome of this ticket to be to add a new method to the AssertJ.

I just went through a list of the assertions available to `ListAssert` and their arguments are a mix-and-match of `

[2018-07-17 22:20] joel-costigliola commented on #1264
We would only do so in a new major version of AssertJ where we can break the API as much as we want.

For the current line of work (3.x) we will keep everything to avoid breaking the API.

Following the `containsSequence` example, assertions taking lambdas are not as straightforward to use as their counterpart with objects from an IDE point of view, I don't see assertions with objects being a seco

[2018-07-18 07:56] andyRokit commented on #1264
Yes - of course.  The above discussion (especially the last few comments) would be no small change and would warrant incrementing the major version.

If you're comfortable with adding `filteredOn` at this point I won't argue.  I was just feeling a bit guilty about causing clutter in the framework!  Maybe the best thing would be to add it now and to review similar methods in the future as part of a

[2018-07-18 13:53] andyRokit commented on #1264
Hi Joel - I took a brief look at creating a pull request for this when I realised that there's yet more ways of doing the same thing!

**My new code**
[code]
*Note:  Had to call it filteredOnAssertions to avoid clash with below signature*

**Existing (similar) code**
[code]

So we've got `Condition`, `Predicate` and `Consumer` all doing essentially the same thing here.  I'm struggling with my cons

[2018-07-18 23:50] xenoterracide opened #1278 "use Predicate's where Conditions are allowed"
working on replacing this hamcrest code
[code]
with
[code]
I realized that `Condition` can't be implemented as a lambda, however it should be pretty simple to have the system internally create a Condition object that delegates to a `Predicate` wherever a `Condition` is found in the API.

my result is this

[code]

[2018-07-19 00:10] xenoterracide opened #1279 "Improve Collections matching for simple properties"
related to #1278

        assertThat( organizationDtos )
            .hasSize( 1 )
            .have( MyConditions.of( Predicates.extractAndTest( Nameable::getName, Predicate.isEqual( lab.getName() ) ) ) );

is an exceptional amount of code...

I'd much rather write
[code]
or maybe
[code]
or streamlike
[code]

i've managed to simplify my code this way

[code]

        assertThat( organizationDtos

[2018-07-19 01:08] joel-costigliola commented on #1279
why not simply:
[code]

[2018-07-19 01:33] xenoterracide commented on #1279
I would also say that having `.map` would seem more natural for some things... but not sure it provides any significant advantage

[2018-07-19 01:47] joel-costigliola commented on #1279
I would have used `map` but `extracting` was added before java 8 and it also supports extracting by property name.

you can use `extracting` after `hasSize` but in my example `containsExactly` also indirectly checks the size as you have to exactly give all the elements of the collection.

[2018-07-19 01:50] joel-costigliola commented on #1279
BTW that example you gave,  `isEqualTo` is going to check a collection of Name (with one element only) against lab.getName() which is likely not what you want:
[code]

[2018-07-19 02:01] xenoterracide commented on #1279
I must have been at the computer too long... I should put it up. Thanks.

[2018-07-19 02:02] #1279 closed

[2018-07-19 04:46] joel-costigliola commented on #1278
You actually can build Condition with a lambda but you need to give a description:
[code]

[2018-07-19 10:35] #938 closed

[2018-07-20 14:11] xenoterracide commented on #1278
yeah, I noticed that, I just think that doing that inline when writing is a bit cludgier than it has to be ... I think the nicest solution would be to have the api's directly take the Predicate in a method Overload. Maybe the second nices would be to have an overloaded static factory constructor. Though given my other ticket... I don't need conditions at all I guess... still if I wanted to use the

[2018-07-20 21:55] joel-costigliola commented on #1278
like [`allMatch`](http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/AbstractIterableAssert.html#allMatch-java.util.function.Predicate-) ?

[2018-07-20 22:20] xenoterracide commented on #1278
yes, or anymatch... ugh... more proof that I shouldn't be doing that while tired.... though this leaves some credence to making a `map` synonym for extracting, since anymatch/allmatch are stream methods, and being streamlike would allow one to think about those...

[2018-07-20 22:20] #1278 closed

[2018-07-20 22:43] xenoterracide commented on #1278
also given OptionalAssert has map, so the apis seem somewhat inconsistent (I get legacy reasons)

[2018-07-20 22:44] joel-costigliola commented on #1278
Indeed, `extracting` was introduced way before java 8 map ...

[2018-07-21 10:29] #1264 closed

[2018-07-22 05:53] joel-costigliola commented on #1223
@rafakob any luck fixing this?
I think the problem comes from the fact that `clickAction` matches the `AssertProvider` single method interface signature.
One way to confirm that is to extract it as a local variable and see if it compiles, ex:
[code]

[2018-07-22 06:03] joel-costigliola commented on #259
Closing as won't fix as the benefits don't clearly outweigh the breaking change.

[2018-07-22 06:03] #259 closed

[2018-07-22 06:05] joel-costigliola commented on #283
@fge is still an issue for you, if so could you provide a small code example that we could use ?

[2018-07-22 06:10] joel-costigliola commented on #373
I'll put a reference to @mkordas script in assertj website.

[2018-07-23 11:16] tetv commented on #971
I end up creating a limited assertj extension to be able to condional asserts:

[code]

Assertj Extension:

[code]

[2018-07-24 10:08] joel-costigliola commented on #414
@stovocor can you create a PR ? It makes it easier to review changes, thanks!

[2018-07-24 17:31] stovocor commented on #414
I do not think that the changes are ready to be merged, but I created the PR as you asked.

[2018-07-24 19:54] tetv commented on #971
I am using drools and DSL, and therefore I have thousands of JUnit 5 **parametrised tests** just to test all the scenarios of the Domain Specification Language.

Becuase of the majority of my tests use **parametrised tests**, and one of the parameters represents if a certain rule should be triggered or not, I was ending up with 5 lines (if-then-else) to assert just one field.

Now I have just one

[2018-07-24 21:33] joel-costigliola commented on #414
that's alright, it just to have a look at it and give you some feedback for the next steps

[2018-07-25 10:15] #419 closed

[2018-07-27 10:31] joel-costigliola commented on #772
So far I feel most of the users expect generics assertions.
Anyone, feel free to comment on this to prove me wrong.

[2018-07-27 10:31] #772 closed

[2018-07-27 10:35] joel-costigliola commented on #928
@PascalSchumacher what is the status of this issue now that we have moved to byte buddy ?

[2018-07-27 10:39] joel-costigliola commented on #972
@JosephYao the method `should` depends on Mockito right?
If that is the case it can't be added as AssertJ policy is not to depend on anything.

[2018-07-27 10:42] #1219 closed

[2018-07-27 10:44] JosephYao commented on #972
Yes, you're right. As I suggested, the method should is quite easy to implement in any code base. So, no need to add anything to AssertJ then.

[2018-07-27 10:48] joel-costigliola commented on #1253
@martin-tarjanyi feel free to split into different PR if you prefer.

[2018-07-27 14:55] PascalSchumacher commented on #928
The issue is not related to cglib/byte-buddy. It is about AssertJ features which use reflection e.g. `comparingFieldByField`, `comparingFieldByFieldRecursive`.

As there haven't been any related user questions (that I'm aware of) I guess we can close it for now.

What do you think?

[2018-07-27 16:06] xenoterracide opened #1284 "AbstractInputStreamAssert should assert isEmpty, isNotEmpty"
#### Summary

#### Example

[code]
thinking it'd be nice to write

[code]
also looking at verifying that contents of some things aren't empty or maybe `contentIsSize( int size )`

also, I don't appear to get at `hasSameContentAs` when running in list context.

        assertThat( ids )
            .extracting( DocumentRepository::getDocumentDataById )
            .extracting( Supplier::get )

[2018-07-28 06:19] joel-costigliola commented on #928
We can close it after adding an entry in the [FAQ/Help](http://joel-costigliola.github.io/assertj/assertj-core.html#help) website section.

[2018-07-28 11:21] joel-costigliola commented on #928
useful https://docs.oracle.com/javase/9/migrate/toc.htm#JSMIG-GUID-BA521187-60FD-4CA5-B998-58A1D05587BC

[2018-07-29 05:48] joel-costigliola commented on #928
The best explanation of Reflectively Accessing Internal APIs With `--add-opens`: https://blog.codefx.org/java/five-command-line-options-to-hack-the-java-9-module-system/#Reflectively-Accessing-Internal-APIs-With--add-opens

[2018-07-29 06:09] joel-costigliola commented on #928
documented : http://joel-costigliola.github.io/assertj/assertj-core.html#java9-reflection-error

[2018-07-29 06:09] #928 closed

[2018-08-01 12:07] xenoterracide commented on #1284
hmm... thinking a little further on it, may also be worth thinking about simply having a way to delegate an InputStream to a StringAssert/ListAssert (list of lines)
[code]

[code]

[2018-08-01 21:31] joel-costigliola commented on #1284
@xenoterracide why not, can you open a new issue as this is a different topic ? I would go with `asString()` and `toLines()` but let's discuss it in the new issue.

[2018-08-02 02:17] tkruse opened #1286 "isXmlEqualToContentOf and similar checks should enable description on parse exception"
#### Summary

When running xml comparisons, it would be useful to be able to print the xml on parse exceptions using as().

Currently a RuntimeException is thrown instead of an assertion error.

#### Example

[code]

causes "show me" not to be printed

[code]

[2018-08-02 10:17] joel-costigliola commented on #1286
Fair enough.

This will have a low priority as we recommend using XMLUnit for xml assertions but contributions are always welcome.

[2018-08-02 17:41] chamacs opened #3879 "Custom Assumptions"
This is more of a question than an issue.  Is there a reason why custom assumptions can't done similar to custom assertions? (or am I just not finding the documentation on how to do this?)

So that this is possible:
`assumeThat(frodo).hasRace("hobbit");`

Instead of having to do this:
`assumeThat(frodo.getRace()).isEqualTo("hobbit");`

Thanks in advance.

[2018-08-06 13:37] GencoreOperative opened #1289 "Files#temporaryFolder() will fail if System temporary folder does not exist"
#### Summary

We noticed this issue when working on a docker based build. We found that the Java defined property for `java.io.tmpdir` was defined but the folder did _not exist_. This caused calls to Files#temporaryFolder to fail with the exception:

`org.assertj.core.api.exception.RuntimeIOException: Unable to find temporary directory`

#### Example

[code]

The following code sample would resolv

[2018-08-07 04:52] kriegfrj opened #1290 "Missing OSGi Import-Package for dynamically loaded classes - Assumptions failing"
#### Summary

#1250 fixed the issue of most of the missing imports when used in an OSGi environment. However, there are a number of other packages that are dynamically accessed by AssertJ at run time using `Class.forName()`. Bnd is not able to automatically determine these references and so they must be explicitly specified in the Import-Package Bnd instruction.

The specific example I ran into wa

[2018-08-07 05:14] joel-costigliola commented on #1290
I do agree it would be nice to validate the OSGi integration, how complicated would that be ?

[2018-08-07 05:33] kriegfrj commented on #1290
I'm still trying to get my head around OSGi, OSGi testing, and building OSGi using Maven. :smile: I think for someone who had the know-how it would be doable using tycho-surefire-plugin, or perhaps more fully leveraging bnd/bndtools. I don't think I'm quite there yet, sorry. But it might be worth raising as a separate issue for someone else to work on if they have the time, know-how and the desire

[2018-08-07 05:35] joel-costigliola commented on #1290
I was secretly hoping you were that person @kriegfrj :smile:

[2018-08-07 19:42] jmuia commented on #646
@joel-costigliola can you clarify for me: does @sebroeder's approach just need someone to implement it or is it not going to be implemented due to the changes coming in #1002?

[2018-08-09 06:55] kriegfrj commented on #1290
Sorry! Don't get me wrong - I do have the desire to scratch itches like this and I think I could acquire the know-how. It's just that last criteria where I am a bit deficient...

[2018-08-09 07:53] joel-costigliola commented on #1290
No problem @kriegfrj, all good.

[2018-08-10 09:01] #1290 closed

[2018-08-10 13:45] widura opened #1292 "Create test class without extending AssertJSwingJUnitTestCase class"
There is a requirement that need to implement AssertJSwingJUnitTestCase class features in our own class hierarchy, But there is a constraints for extending AssertJSwingJUnitTestCase  class. Is it recommended to implement setup Robot and handle FailOnThreadViolationRepaintManager in our own class level.

[2018-08-10 15:50] PascalSchumacher commented on #1292
Thanks for reporting!

Please report `assertj-swing` issues at https://github.com/joel-costigliola/assertj-swing, this repo is only for `assertj-core`.

Thanks!

[2018-08-10 15:50] #1292 closed

[2018-08-11 05:47] widura commented on #1292
Thanks for the information.

[2018-08-13 11:18] joel-costigliola commented on #1231
Fixed in 1e40b3814a32bc93910bbe03aa8057617e6a770b

[2018-08-13 11:18] #1231 closed

[2018-08-14 13:08] adutra opened #1293 "StandardRepresentation.unambiguousToStringOf() should use identity hash codes"
#### Summary

AssertJ version: 3.10.0.

Currently, `StandardRepresentation.unambiguousToStringOf()` formats the object using its own hash code:

[code]

But it is possible that two objects have the same hash code but are not considered equal to each other. Depending on the object's `toString()` implementation, `StandardRepresentation` could produce ambiguous messages.

By using `java.lang.System.i

[2018-08-14 21:31] joel-costigliola commented on #1293
Good point, thanks for reporting this.

[2018-08-14 23:29] joel-costigliola opened #1296 "Refactor assertion error creation"
#### Summary

There are (too) many ways to create assertion error in the codebase:

- Failures
- AssertionErrorFactory implementation (ShouldBeEqual)
- AssertionErrorCreator

Expected outcome:
- one way to create AssertionError
- deals with building AssertionFailedError when possible or ComparisonFailure.
- handles in one place:
    - removing assertj stack trace element
    - thread dump

[2018-08-16 07:16] filiphr opened #1297 "OptionalShouldContain should use similar assertion as ShouldBeEqual for strings"
#### Summary
When asserting that an optional of `String` type has value a normal AssertionError is thrown. However, it is possible to use JUnit 4 or JUnit Jupiter specific assertion error in order to benefit from the IDEs features

#### Example

[code]

results in:

[code]

It should be:

[code]

I think that the message can be exactly the same, but if we throw `AssertionFailedError` or `Compariso

[2018-08-16 10:53] epeee opened #1298 "Assertions.fail is causing problems due to @CheckReturnValue"
#### Summary
It looks like `Assertions.fail` is no longer `void` starting from AssertJ 3.11.0 (#1294). Since `Assertions` is annotated with `@CheckReturnValue` quite some projects out there might run into troubles.

#### Example

[code]

Using this example and errorprone every project which is using `Assertions.fail` will fail now with something like:

[code]

[2018-08-16 13:41] joel-costigliola commented on #1298
good point, we will disable it for fail.
I'm away for a few weeks but I'll try to do a service pack for it.

On Thu, 16 Aug 2018, 18:53 Erhard Pointl, <notifications@github.com> wrote:

[2018-08-16 18:02] bodewig commented on #111
we've just released XMLUnit 2.6.1 with the new xmlunit-assertj module provided

[2018-08-16 18:05] bodewig commented on #96
we've just released XMLUnit 2.6.1 with the new xmlunit-assertj module, see https://github.com/xmlunit/user-guide/wiki/CompareAssert

[2018-08-17 12:52] NeveHanter opened #1300 "Asserting between collections / arrays of different types using field by field comparator is unconvinient."
#### Summary
Currently asserting that collection contains elements from the collection of other type by using field by field comparator requires downcasting to collections of Object type.

This issue is similar to issue #412 but about collection and array assertions.

#### Example
[code]

[2018-08-20 02:46] kriegfrj opened #1301 "hasOnlyOneElementSatisfying() (and others) returning void rather than self"
#### Summary

 Some assertions not returning self type.

#### Example
The following assertions return type are `void` instead of `SELF`:
[code]
#### Detail

I think I can understand the reasoning behind `isNullOrEmpty()` and `isEmpty()` being declared void -  there are no further useful assertions that can be performed on an object once you've established that it is null or empty. So this looks li

[2018-08-20 02:51] kriegfrj opened #1302 "hasOnlyOneElementSatisfying() should be specified in ObjectEnumerableAssert"
#### Summary

I noticed that `AbstractIterableAssert.hasOnlyOneElementSatisfying()` is not only one of the only assertions not returning SELF (see #1301), but that it is also one of the only methods not specified in the interface `ObjectEnumerableAssert`. For consistency perhaps it should be specified in the interface as well.

[2018-08-20 03:37] kriegfrj commented on #1301
Ok, I've just played around with this a bit more and I think I have misread the intent of `hasOnlyOneElementSatisfying()`. I read it as "only one element in this collection satisfies the given condition (but there may be other elements)", but it seems that it actually means "this collection has only one element, and that element satisfies the given condition". In the latter case, the void return t

[2018-08-23 09:07] mindhaq opened #1303 "isEqualToComparingFieldByFieldRecursively lacks "Path to difference" when comparing Maps"
#### Summary

When two `java.util.Map` objects are compared with `isEqualToComparingFieldByFieldRecursively`, and one of the keys has a different value, the error message is not showing which key has the wrong value. It displays `Path to difference: <>`.

#### Example

[code]

Resulting message:

[code]

[2018-08-23 11:50] joel-costigliola opened #1304 "Add satisfiesAny to object assertions"
#### Summary

This is a way to check that an object satisfies one of the given assertions requirements expressed as `Consumers`

#### Example

[code]

[2018-08-23 11:56] joel-costigliola commented on #1304
We might want to provide an equivalent assertion for iterable/array assertions like `hasAtLeastOneElementSatisfyingAny` and `hasAllElementsSatisfyingAny`?
The challenge being not to confuse users with the existing `anySatisfy` and `allSatisfy`.

[2018-08-24 13:00] eximius313 opened #1305 "Please add "hasAllNullFieldsOrProperties" and "hasAllNullFieldsOrPropertiesExcept""
#### Summary
Please add `hasAllNullFieldsOrProperties` as opposite to `hasNoNullFieldsOrProperties`
and `hasAllNullFieldsOrPropertiesExcept` as opposite to `hasNoNullFieldsOrPropertiesExcept`

[2018-08-25 19:19] ianbrandt opened #1307 "Fluent assertions on the toString of an Object"
#### Summary

Similar to fluent assertions on the `size()` of an `Iterable` (#301), it would be handy to have the same for the `toString()` of an `Object`.

#### Example

[code]

Currently there's only `hasToString(String)`, which asserts an exact match.

Of note, this example perhaps doesn't read as nice as say, `assertThat(object).asString().contains(...)`.  As currently defined, [asString()](ht

[2018-08-26 09:16] joel-costigliola commented on #1307
I feel `assertThat(object).hasToString().contains("text");` does not read well, I would go with `assertThat(object).asString().contains(...)`. It is breaking change indeed but a minor one because if the object is a `String` then the behavior is unchanged and `isIstanceOf(String.class)` can always be used to verify the object is a `String`.

[2018-08-26 12:59] fmorriso opened #1308 "installation instructions ?"
#### Summary
Nowhere in the FAQ or other documentation can I find anything that tells me how to download and install AssertJ.  Please add that to the home page or in a WiKi page.

#### Example

[code]

[2018-08-26 16:11] joel-costigliola commented on #1308
It's in the quickstart section: http://joel-costigliola.github.io/assertj/assertj-core-quick-start.html

[2018-08-26 16:11] #1308 closed

[2018-08-27 00:44] fmorriso commented on #1308
I already looked there and did not find what I was looking for, which is what caused me to open this issue in the first place.

I am using plain, simple, Eclipse Oxygen.3 (March 2018) on a small, Java SE project, trying to use AssertJ for unit testing and having no success at all.

For example, where is the JAR file that I need to reference in order for the import to work properly?

Am I supposed

[2018-08-27 05:18] PascalSchumacher commented on #1308
Hi Fred,

you can download the jar from https://search.maven.org/remotecontent?filepath=org/assertj/assertj-core/3.11.0/assertj-core-3.11.0.jar and reference it in Eclipse.

[2018-08-27 07:00] ketan opened #1311 "Additional file assertions?"
#### Summary

I'd like to contribute some additional file assertions to core (to check the mode/ownership and other file attributes) if that's something that the core team finds useful.

I'm happy to submit a PR if this is something you find useful.

#### Example

[code]

[2018-08-27 08:30] #1298 closed

[2018-08-29 23:32] kerrykimbrough opened #1312 "Deep comparison of Iterables?"
#### Summary

This is a common testing pattern. But I'm new to AssertJ and it's not clear to me if AssertJ offers any support. Advice?

#### The Problem

A test wants to verify that an actual Iterable contains **exactly** the contents expected. (For now, assume this means "in any order", although the order-specific variation is also common.) Where "exactly" means that:

- each expected element has

[2018-08-30 12:00] joel-costigliola commented on #1312
I know AssertJ lacks a user guide but I'm working on it (here's a wip version https://assertj.github.io/doc/).

Use [`containsExactly`](http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/AbstractIterableAssert.html#containsExactly-ELEMENT...-) for exact comparison (including the order) or [`containsExactlyInAnyOrder`](http://joel-costigliola.github.io/assertj/core-8/api/org/

[2018-08-30 13:13] mihhail-lapushkin opened #1313 "MapAssert: Add a way to mix containsOnly and containsOnlyKeys in a single call"
I like using the strict `MapAssert#containsOnly`. However, sometimes I have entries containing random values and for them I can only use key assertions. In this case I have 2 options:
1) Do `containsOnlyKeys` with all entries, followed by `contains` with non-random entries. Drawbacks: duplicated code + less strict `contains` misses unexpected extra entries.
2) Just use `contains`. Drawbacks: rando

[2018-09-04 11:31] jypma commented on #1214
We ran into the same thing and ended up writing our own [`CompletionStageAssert`](https://github.com/Tradeshift/ts-reaktive/blob/master/ts-reaktive-testkit-assertj/src/main/java/com/tradeshift/reaktive/assertj/AbstractCompletionStageAssert.java#L27), with which one can e.g. write

[code]

or even
[code]

This does a global timeout internally, but you can configure it using `assertThat(tokenFuture)

[2018-09-04 14:30] luengnat opened #1317 "Broken binary compatibility"
When the code is compiled with assertj 3.10 and then run with assertj 3.11.1, it throws the following error:

```java.lang.NoSuchMethodError: org.assertj.core.api.Assertions.assertThat(Ljava/lang/String;)Lorg/assertj/core/api/AbstractCharSequenceAssert;```

It seems to be caused by the change in which in 3.10.0,

[code]

[2018-09-05 15:37] novaterata opened #1318 "assertThat("
This worked in 3.10, but not in 3.11.1
I have a generic `List<Log>` where Log is an interface type
I call:

    assertThat(aLogList).contains(aLog)

And I get the following AssertionException:

Expecting:
  <[com.foo.$Impl_Log@24a35978]>
to contain sequence:
  <[com.foo.$Impl_Log@24a35978]>

As you can see, the list contains the exact same object as the expected.

[2018-09-05 15:45] novaterata commented on #1318
So the log is a jmockit `@Mocked` jmockit is notoriously chaotic with this kind of thing, so it's probably not something you can control, but if you do want to try to fix it, then use a jmockit Mocked field

[2018-09-05 15:47] novaterata commented on #1318
Nevermind, I just replaced it with my own anonymous inner class so jmockit is not the culprit.

[2018-09-05 15:50] novaterata commented on #1318
I replaced the anonymous inner class with a named class with equals / hashcode override and it still failed

[2018-09-05 15:54] novaterata commented on #1318
Ok, so it IS a jmockit issue. It's the list being returned by a `@Mocked` object. After replacing all the `@Mocked` with `@Injectable` the contains works as expected. Closing

[2018-09-05 15:54] #1318 closed

[2018-09-05 22:50] joel-costigliola commented on #1318
Happy you could solve it!

[2018-09-07 14:08] pDiller commented on #1104
@ardmn Please look at the iterator-method of HashSet. It delegates the call to the internal HashMap, so you get all keys from the map. Of course you can find the changed object when you iterate over the keys, because its in there. But the contains-method of HashSet delegates to HashMap#containsKey, which builds a new hash for the given object. This hash is not equals the hash you put in there befo

[2018-09-07 21:05] stovocor commented on #414
@joel-costigliola I just rebased this against the current master. Can you please tell me how I should continue with this pull request?

[2018-09-08 12:11] georgberky opened #1319 "Add length related assertions to StringAssert"
#### Summary
String assertions often concern the string's size. Currently we would have to use something like

[code]
this is not really fluent and allows for semantically incorrect checks like negative String lengths. Instead we would like to use something like this:

#### Example

[code]

[2018-09-08 12:12] georgberky commented on #1319
We are working on this issue at [Softwerkskammer Ruhrgebiet Hackergarten](https://www.meetup.com/Softwerkskammer-Ruhrgebiet/events/248952817/)

[2018-09-09 10:00] joel-costigliola commented on #1307
Integrated thanks @ianbrandt !

[2018-09-09 10:00] #1307 closed

[2018-09-11 15:01] tommyalatalo opened #1322 "SoftAssertions java.lang.IllegalArgumentException: Could not create type"
I keep getting an IllegalArgumentException when trying to use SoftAssertions, I've tried using several of the libraries provided:
[code]
no matter of how I state the assertions in the code (using lambda, JUnit @Rule, JUnit5 @RegisterExtension etc. I keep getting the attached error.

I'm trying to do this on Android, running 8.0 and JUnit 5 with the dependency set in my gradle build to;
androidTest

[2018-09-11 18:01] PascalSchumacher commented on #1322
Hi,

for SoftAssertions AssertJ uses https://github.com/raphw/byte-buddy

If I understand http://bytebuddy.net/#/tutorial ("Loading classes in Android applications" section) correctly, (normal) Byte Buddy does not work on Android.

Sorry!

[2018-09-12 07:40] tommyalatalo commented on #1322
Then this should be clear in the documentation, I spent hours on this yesterday and there was no mention of incompatibility with Android, on the contrary there is a section on the AssertJ site on how it works with Android: http://joel-costigliola.github.io/assertj/assertj-core.html#android
You should either remove the section on android or fix the problem, preferrably the latter because soft asser

[2018-09-12 09:42] joel-costigliola commented on #1322
Fair enough, this should clear in the doc.

[2018-09-12 09:53] joel-costigliola commented on #414
@stovocor I'll have alook this we and let you know (remind me if I fail to!)

[2018-09-12 15:07] ianbrandt commented on #1307
Happy to help!  Looking forward to 3.12.

[2018-09-13 03:43] kriegfrj opened #1323 "AbstractSoftAssertions.proxies protected but SoftProxies class not public"
#### Summary

Using AssertJ with soft assertions in an OSGi environment.

I'm also using Mockito, which is a little annoying because Mockito always hard asserts. So I had the idea to add a method like this to my `SoftAssertions` subclass:

[code]

Problem is, although `proxies` is protected and visible to my subclass, its type `SoftProxies` is package-private and is not. Thus it won't compile.

I'

[2018-09-13 03:54] kriegfrj commented on #1323
As an aside, the very idea of the `softly` method I think would be a useful addition to the AssertJ soft assertions core, if it does not already exist in some form that I am not aware of. It would allow you to easily turn "hard" assertions in 3rd party assertion libraries into soft versions, and would look quite neat when used with lambdas.

@joel-costigliola , if you think this is worthy, I'll ra

[2018-09-13 09:09] joel-costigliola commented on #1323
@kriegfrj can you give a more concrete example ?

Could you use the [`satisfies`](http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/AbstractAssert.html#satisfies-java.util.function.Consumer-) with soft assertions to achieve your goal ?

[2018-09-14 07:58] kriegfrj commented on #1323
Hi @joel-costigliola ,

I didn't think to try and use `satisifes()` - thanks for the suggestion. I took your advice and had a look - I think it could work, but it is slightly more verbose:

[code]
vs:
[code]

Regardless if you think something like `runAssertion()` is a good idea or not, the issue raised in the OP still stands I think.

[2018-09-16 01:29] ianbrandt opened #1324 "Assertion error message sequencing"
I love AssertJ, but I find the sequencing of many of the error messages to be counterintuitive.

Take for example:

[Per Wikipedia](https://en.wikipedia.org/wiki/Colon_(punctuation)):

Accordingly, when I begin reading that assertion error message my mind is, well, _expecting_ to see "Expecting: `<expected>`", not "Expecting: `<actual>`".  It's only when I read the closing, "but was not" that I re

[2018-09-16 05:35] ianbrandt commented on #1324
Some prior art for configurable reporting styles in Atrium:

https://github.com/robstoll/atrium/blob/v0.7.0/README.md#reporterbuilder.

[2018-09-16 05:52] joel-costigliola commented on #1324
The rationale of the error message design was to follow how the assertion read where actual comes in before expected, but you are raising a fair point.

I'm happy with the `Expecting: <expected>, but was: <actual>. ` suggestion or better with displaying both values on different for ease of comparison (when you don't have IDEs visual comparison).

I think it only applies for `isEqualTo` though, for

[2018-09-16 10:01] joel-costigliola commented on #1317
Sorry about the broken change, it should have been reported but we missed it.

Naive question: can't you upgrade all versions to 3.11.1 ?

[2018-09-16 10:12] joel-costigliola commented on #1322
done. http://joel-costigliola.github.io/assertj/assertj-core.html#android

[2018-09-16 10:12] #1322 closed

[2018-09-17 10:20] joel-costigliola commented on #1301
Another user was also confused about it I was thinking either to rename it `isSingletonWhoseElementSatisfies` or simply get rid of checking it is a singleton.

I prefer the former as it is not ambiguous, the latter might still be interpreted as checking a singleton.

Thoughts ?

[2018-09-17 16:00] xenoterracide opened #1325 "Path contains files"
[code]
this seems verbose, maybe we could write this (or something like it) instead?

[code]

[2018-09-17 17:44] martin-tarjanyi commented on #1324
I also found it difficult to process that format of the error message when I started to use the library. I'm still not completely get used to it (after a couple of months of usage).

For the latter I would prefer something like this:
[code]
Although, I agree, it is somewhat easier to process in the original format, than the original message of `isEqualTo`.

[2018-09-17 17:49] martin-tarjanyi commented on #1319
Hi @georgberky
I guess, I'm a bit late with this but you might want to take a look at this PR:
https://github.com/joel-costigliola/assertj-core/pull/1285

This implements most of these methods and not just for String but for all iterables.

@joel-costigliola: any chance that you can review my PR. I know it's a huge one...

[2018-09-17 20:03] siva90144 opened #1326 "how to verify Descending order with assertJ assertions?"
Hi,

I have a scenario as below.
arrayList countryList =new arrayList();
I have taken arrayList and added all countries to it . Now I need to verify those are in ascending/Descending order or not.
//working fine for Ascending  order.
assertThat(sortAscending(countryList)).as("Ascending Sorted order is: "+countryList).isSorted();

is there is a way to verify for Descending  order with assertJ. I ha

[2018-09-17 21:57] #1302 closed

[2018-09-17 21:58] joel-costigliola commented on #1326
is that the same issue as https://github.com/joel-costigliola/assertj-examples/issues/43 ?

[2018-09-17 22:02] joel-costigliola commented on #1324
@martin-tarjanyi I agree your error message is clearer, it's not top priority  though for me but contributions accepected ;-)

[2018-09-17 22:41] joel-costigliola commented on #1319
@martin-tarjanyi I will to but it's huge.

[2018-09-17 22:44] joel-costigliola commented on #1319
@martin-tarjanyi you're right, this slipped out of my mind, I will review it to but it's huge so I haven't got the mental energy to do it yet (I'll take care of merging/rebasing on master after this PR is merged).

[2018-09-18 08:05] sparsick commented on #1319
@martin-tarjanyi Strings are not iterable in Java, so that I think it will not have conflict with your pull request.

[2018-09-18 10:36] #1319 closed

[2018-09-18 13:19] siva90144 commented on #1326
Yes Joel. Its extension to that

[2018-09-18 16:53] martin-tarjanyi commented on #1319
@sparsick
I'm aware of that in core Java there is no relation between String and Iterables. But in AssertJ there is an [EnumerableAssert](https://github.com/joel-costigliola/assertj-core/blob/master/src/main/java/org/assertj/core/api/EnumerableAssert.java) class which is a common interface for the string, array, iterables and some other assertion classes.

In my PR I added the new methods to Enume

[2018-09-19 07:36] sparsick commented on #1319
@martin-tarjanyi oh I see. Thank you for clarifying.

[2018-09-19 07:50] joel-costigliola commented on #1326
the only option at the moment is to use `isSortedAccordingTo` and define your reverse comparator.

[2018-09-19 07:50] #1326 closed

[2018-09-21 12:03] sparsick opened #1327 "Add hasMessageNotContaining to AbstractThrowableAssert"
#### Summary
Currently there is no way to check whether an exception message does not contain a string.  There exists a workaround using `hasMessageMatching` and negative look ahead in regexp. This is hard to read. Therefore we would like to propose adding a new method called `hasMessageNotContaining`.

#### Example

[code]

[2018-09-21 12:04] sparsick commented on #1327
@georgberky and me will propose a PR.

[2018-09-21 12:12] sparsick opened #1328 "Add hasMessage to AbstractThrowableAssert that returns StringAssert"
#### Summary
We would like to use all String assertions on an exception message. Therefore, we would like to add `hasMessage` to `AbstractThrowableAssert` that returns StringAssert. Then it would be possible to use all String assertions on it.

/cc @georgberky

#### Example

[code]

[2018-09-21 12:14] sparsick commented on #1328
@joel-costigliola we would like to ask you if this interferes with your plans for the fluent API. If not, we can propose a PR.

[2018-09-22 06:15] joel-costigliola commented on #1328
I'm not too keen on doing that for a few reasons:

- it does not read nicely
- it prevents chaining other exception assertions
- it is not obvious that calling `hasMessage` actual switches to String assertions.

The new [`asString` ](https://github.com/joel-costigliola/assertj-core/issues/1307) can help as it returns String assertions for the object under test `toString()` value which for exceptio

[2018-09-23 10:36] #1253 closed

[2018-09-23 12:38] georgberky commented on #1328
I can see your point about switching to String assersions not being obvious for the user. The ideal result would look like a delegate to StringAssert with a prefix of `hasMessage`. In Groovy I would use the `@Delegate` annotation. Lombok has this annotation too, but I'm not a big fan of this library. In plain Java I don't know of any convenient way to accomplish this. Adding assertions to Throwabl

[2018-09-24 09:59] TehBakker commented on #1075
Totally agree it's misleading, I expected it to do what isSubsetOf is doing.

[2018-09-25 04:29] joel-costigliola commented on #1075
@TehBakker would renaming it to `containsAllElementsOf` make it obvious ?

[2018-09-25 09:57] TehBakker commented on #1075
Definitly yes

[2018-09-26 14:43] eximius313 commented on #1304
This option is very important to me as well.
I just have the case, when I must check if Object is nullOrEmpty *but* if it is not, it must have specific propertyWithValue.

[2018-09-26 23:36] sunlaud opened #1331 "Throw AssertionFailedError instead of AssertionError in non-strict string assertions"
#### Summary
Throwing AssertionFailedError from opentest4j facilitates test failure analysis in IDE providing handy "diff" view.
AssertJ already uses AssertionFailedError (if available on the classpath) but not in non-strict string assertions (from AbstractCharSequenceAssert), specifically:
* isEqualToIgnoringNewLines
* isEqualToIgnoringWhitespace
* isEqualToIgnoringNewLines

Given that two of the

[2018-09-27 09:45] joel-costigliola commented on #1328
Not ideal I know but I rather add assertions on the go to `AbstractThrowableAssert` when a user actually  report one is missing and had a real life need of it.

AssertJ Core has a policy of having no hard dependencies, that prevent using 3rd party libraries.

I'm closing this ticker since it won't result in direct work but feel free to continue the conversation if you have something to add.

[2018-09-27 09:45] #1328 closed

[2018-09-29 17:22] maximilianschreiber opened #1333 "usingElementComparatorIgnoringFields does not work for nested objects"
#### Summary
Assertions fail for Lists with **.containsExactly** (and other variations) when using **.usingElementComparatorIgnoringFields** on e.g. and ID when nested objects are used, that
also have an ID that should be ignored for comparison.

#### Example
Simple test in Kotlin to demonstrate the behaviour:

[code]

[2018-09-29 23:10] joel-costigliola commented on #1333
It is the current behavior as documented in the [javadoc](http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/AbstractIterableAssert.html#usingElementComparatorIgnoringFields-java.lang.String...-):

A new recursive comparison api (#1002) is going to address this issue and more flexibility on  expressing how to compare objects recursively.

[2018-09-29 23:10] #1333 closed

[2018-09-30 08:47] #414 closed

[2018-10-01 08:45] #1331 closed

[2018-10-01 09:01] joel-costigliola opened #1335 "Generalize the use of org.opentest4j.AssertionFailedError"
#### Summary

When throwing an `org.opentest4j.AssertionFailedError`, IDEs usually allow to visually compare actual and expected values, this is not the case with the basic `AssertionError` which only has a String message.

We should favor throwing `org.opentest4j.AssertionFailedError` whenever comparing actual and expected values help.

Thankfully, one can use [`Failures#failure(AssertionInfo inf

[2018-10-01 18:21] rowysock opened #1336 "isEqualToComparingFieldByFieldRecursively is using equals on nested objects"
#### Summary
I've encountered a problem with using `isEqualToComparingFieldByFieldRecursively` and `usingComparatorForType` at the same time.

I have a class implementing equals with BigDecimal values, but not using compareTo method. I cannot change how equals method is implemented, but I need to compare objects of that class. `isEqualToComparingFieldByField` with `usingComparatorForType` is worki

[2018-10-01 21:16] joel-costigliola commented on #1336
Recursive comparison honors `equals` method for classes that have overridden it so your best shot at the moment in register a comparator for your `Inner` class.

Otherwise wait for #1002 to be implemented (it will be in the next version) as it will allow to specify whether to use overridden equals or not in the recursive comparison.

[2018-10-05 08:43] Gregoriz opened #1337 "Introspection error on public final fields of parent classes"
IsEqualToComparingFieldByField and IsEqualToComparingFieldByFieldRecursivly are failing to access parent classes public final properties.

Example:

[code]

[code]
[code]

will throw an IntrospectionError.

Sorry, I can't give you the full stack as it's on my working station and access to GitHub is disabled.

I'll try to come back during the weekend with a more detailed stack if needed.

[2018-10-05 08:44] Gregoriz commented on #1337
Sorry for formatting. I'm on mobile and GitHub works horribly. I can't edit my message :/

[2018-10-05 09:28] joel-costigliola commented on #1337
Hi @Gregoriz, could you give a full example so that I can easily reproduce the bug ?
Thanks in advance!

[2018-10-06 14:30] Gregoriz commented on #1337
It can't reproduce it at the moment. I close the issue and will check again at work on monday.

[2018-10-06 14:30] #1337 closed

[2018-10-08 04:45] joel-costigliola opened #1338 "Failing build"
#### Summary

https://travis-ci.org/joel-costigliola/assertj-core/jobs/438379689
[code]
All the errors above comes from this one:
[code]

is it due to Travis bumping JDK version ?
[code]

[2018-10-09 23:31] xenoterracide opened #1339 "collection on entity matching issue, no way to flatMap?"
#### Summary

So my colleague was asking how to simplify this... and I've realized I can't quite figure it out either

#### Example

[code]
[code]

i'm betting Set.of( sc1, sc2 ) would work in java 11... but, is there another way? I tried a few more things than this, and can't seem to get it because of the singular to plural

something like this
[code]

[2018-10-10 05:17] luengnat commented on #1317
We can... but probably not at the same time as we have so many downstream dependencies and they share some test classes and libraries :(

[2018-10-10 05:19] luengnat commented on #1270
@joel-costigliola do we need to preserve the binary compatibility down in the stack? Otherwise, I would prefer that we have a strongly typed org.assertj.core.util.Objects for each primitive and it will eliminate this performance problem.

[2018-10-10 08:59] joel-costigliola commented on #1270
The reason why there is no specific primitive array implementation was to avoid code duplication and reduce maintenance burden.

If someone wants to contribute a specific primitive array implementation, I think I'll be ok with that but I don't have the time to do it.

AssertJ tries to be as backward compatible as possible but if we need to break for good reasons, we do as long as it is relatively

[2018-10-10 09:11] joel-costigliola commented on #1339
Before 3.11.0 extracting for Object was taking a vararg so even if you were extracting one value only you would end up with a singleton list, in your case it turns out that this single value is also a List.

In 3.11.0 AssertJ learnt to extract single value as an Object (and not a singleton List of the extract value) as described here: http://joel-costigliola.github.io/assertj/assertj-core-news.htm

[2018-10-10 11:35] JensPiegsa opened #1340 "Feature request: mechanism to raise exception on malformed assertions"
#### Summary

I wonder if there is a way to implement a clever mechanism that makes malformed assertions raise an exception. Juniors sometimes struggle with the syntax. I think that would lower the entry barrier for beginners.

#### Example

[code]

[2018-10-10 14:35] xenoterracide commented on #1339
yeah looks like we're using 3.9.1, though, I don't know why spring boot doesn't upgrade the 3.x line more rapidly...

[2018-10-10 14:49] filiphr commented on #1339
As far as I know the policy of the Spring Boot team is to only update patch versions within a patch update.

Meaning that Spring Boot 2.0.x will only update 3.9.x series of AssertJ. The update to a next minor version will occur only in the 2.1.x release.

What we are doing is just to update it ourselves by using `<assertj.version>3.10.0</assertj.version>`

[2018-10-10 14:55] xenoterracide commented on #1339
yes, that's the policy-ish but I think it depends on the specific upstream stuff too, but yes

[2018-10-10 15:01] xenoterracide commented on #1339
I'm gonna go ahead and close this as needs to be upgraded on our side

[2018-10-10 15:01] #1339 closed

[2018-10-10 19:45] PascalSchumacher commented on #1270
Implementing a new array/iterable assertion already requires massive effort. If we also add primitive array implementations this will increase the effort significantly. Therefore I think we should not do it.

For reference here is what it took to add `containsExactlyInAnyOrder`:
https://github.com/joel-costigliola/assertj-core/commit/bdd84ea99f78ab98528bdbd9078ea694f8d63c67
https://github.com/joel

[2018-10-10 20:06] PascalSchumacher commented on #1338
I do not think it is related to the java 8 version, because the build fails on every java version (9, 10, 11).

I guess the order in which tests are executed is different on travis and some test before the failing tests disables accessing private fields.

[2018-10-10 20:55] PascalSchumacher commented on #1340
Static code inspection tools like ErrorProne, SpotBugs and Findbugs can detect these kind of error.

See discussion in https://github.com/joel-costigliola/assertj-core/issues/979 for details.

[2018-10-10 20:56] PascalSchumacher commented on #1338
fixed by https://github.com/joel-costigliola/assertj-core/commit/905cfdeeb9b01f35bab76377792eaca121146835

[2018-10-10 20:56] #1338 closed

[2018-10-10 22:14] luengnat commented on #1270
@joel-costigliola I think it can be done without much change. All you need is a type specific implementation of Objects class and we can make it into a singleton instance for each type of Abstract*ArrayAssert. The interface should stay the same I think.

[2018-10-10 22:37] joel-costigliola commented on #1338
Good catch @PascalSchumacher, many thanks !

[2018-10-10 22:40] joel-costigliola commented on #1270
@luengnat I agree the production code change is not to big but you are forgetting the tests, it is massive to duplicate the tests done in the generic arrays implementation to validate the now specific one.

[2018-10-10 23:14] luengnat commented on #1270
I don't think you need to duplicate the test. We just need to inherit from https://github.com/joel-costigliola/assertj-core/blob/7ec117dd4083c83926ae3d5caa9a2c28d2cfb4b0/src/main/java/org/assertj/core/internal/ObjectArrays.java for each primitive type.

[2018-10-11 02:33] joel-costigliola commented on #1340
As @PascalSchumacher said it's a job static code analysis for.
There's not much more AssertJ can do about it unfortunately, using SpotBugs addresses your example BTW.

[2018-10-11 02:33] #1340 closed

[2018-10-11 08:33] JensPiegsa commented on #1340
We installed SpotBugs for Eclipse and got orange bugs. :-)
Thank you both @joel-costigliola and @PascalSchumacher.

[2018-10-11 23:38] arranbartish commented on #1296
@joel-costigliola : Loving this project. I'm interested in contributing on this issue.

As a nice to have it seems like having a way to provide a custom `ValueWrapper` could be nice too. Thoughts?

I'll fork, have a go, and see what you think.

[2018-10-12 05:12] joel-costigliola commented on #1296
@arranbartish thanks!

What would be the use case for custom `ValueWrapper`? Can you give an example ?

[2018-10-12 08:37] arranbartish commented on #1296
Certainly @joel-costigliola. Please bear with me.

# Context

I have a set of complex model objects that models PII and sensitive data, let's say that this is an instance of `Family`. A `Family` is composed of a `Collection<Guardian>` a `Collection<Minor>`, and a `Collection<Pet>`

The production model has no `String` representation of these objects because we don't dare risk that the data escapes

[2018-10-12 10:08] joel-costigliola commented on #1296
Great explanation, I understand the need and I agree it is a good thing to have.

It looks like though there is no way to pass your own `ValueWrapper` to an `AssertionFailedError`, so I guess the trick would be to subclass `AssertionFailedError` and override the getter method to return a `Representation` aware `ValueWrapper`.

The code that builds `AssertionFailedError` is in `AssertionErrorCreato

[2018-10-12 11:03] arranbartish commented on #1296
Makes sense. Thanks for the advice.

I'll go for it in 2 steps.
1. refactor which I think might also take care of #1335
2. extend with my hopes and dreams

I'll have a crack at it and get something over for feedback. I think I would like the 2 points to come back as a single PR if it meets what we're expecting. Or would you like a PR for both? My concern is that I want to make sure the refactor (1

[2018-10-12 12:12] arranbartish commented on #1296
Would you imagine:
1. refactoring all three `AssertionErrorFactory (ShouldBeEqual)`, `AssertionErrorCreator`, and `Failures` to use something new

-- or --

2. refactoring `AssertionErrorFactory (ShouldBeEqual)` and `Failures`  of them to take advantage of `AssertionErrorCreator`

---------------------------------------

- My initial feeling is to favour `AssertionErrorCreator` (option 2) so that

[2018-10-13 05:40] joel-costigliola commented on #1296
That seems ok to me, I'm just restating the refactoring goals so that it is :
* deprecate `AssertionErrorFactory` and make sure it is not used anymore (i.e. replacing `failure(AssertionInfo info, AssertionErrorFactory factory)` by `failure(AssertionInfo info, ShouldBeEqual shouldBeEqual)`
* refactor `ShouldBeEqual` to use `AssertionErrorCreator` to build assertionFailedError
* make `AssertionError

[2018-10-13 13:00] stovocor commented on #1325
A `Path` can also be just a plain file, not a directory. How should the assertion react to this situation? Should it check the file if it matches the name?

[2018-10-13 18:30] xenoterracide commented on #1325
Yes, probably, that would make sense. Probably looking for a way to test, like an "Ant Path" Matcher, just to see if the thing exists. My first path at method naming might be terrible.

[2018-10-19 22:41] joel-costigliola opened #1343 "Add hasMessageMatching(regex) to throwable assertions"
#### Summary

Exception message assertions are as rich as regular String assertions, adding `hasMessageMatching` would cover some advanced message testing.

This comes from a stack overflow discussion: https://stackoverflow.com/questions/52819393/assertj-testing-exceptions-with-messages-generated-with-string-format/52900752#52900752

#### Example

[code]
Ref

[2018-10-20 03:27] joel-costigliola commented on #1343
already exists, silly me!

[2018-10-20 03:27] #1343 closed

[2018-10-20 05:59] #1305 closed

[2018-10-21 18:51] eximius313 commented on #1305
Thank you!

[2018-10-22 09:28] joel-costigliola commented on #1270
@luengnat not sure what you mean but happy to be proven wrong, keen for a PR?

[2018-10-22 09:31] joel-costigliola commented on #1297
This is more related to #1335 but this is an umbrella issue so no problem keeping this one.

[2018-10-22 09:41] joel-costigliola commented on #1300
The problem comes from `containsExactlyInAnyOrderElementsOf` which expects an element type compatible with actual. In order to work we would need to get rid of generics in the method signature, this a debate that we already had and the conclusion was there was more value keeping the generics signature.

Since there is a workaround for your use case, I don't see a reason to reopen the debate around

[2018-10-22 09:58] joel-costigliola commented on #1313
It feels the first solution is the best, I'm not sure to understand why you would miss extra entries if you have checked that the keys were right. I get there is a bit of duplicated verification on the keys but that's not too bad IMO. At the end of the day if some values are random then you can only validate the keys.

It looks like to me that if you could control the source of randomness (by mock

[2018-10-22 11:23] mihhail-lapushkin commented on #1313
Yeah, I think the second drawback is not valid.

[2018-10-22 18:11] PascalSchumacher opened #1345 "Assertions#assertThatThrownBy` without chained assertions should not cause static code analysis error"
[code]

causes the following error prone error:

`[CheckReturnValue] Ignored return value of method that is annotated with @CheckReturnValue`

but this is a valid use-case because:

[code]

fails with:

`java.lang.AssertionError: Expecting code to raise a throwable.`

[2018-10-22 20:33] #1345 closed

[2018-10-22 20:43] joel-costigliola commented on #1313
I guess the only way to make it easier would be for AssertJ to have a magic value to represent any value and provide a way to build entries with it, something like `entryWithAnyValue(key)`.
What I'm not sure of is whether it is possible to have a magic value compatible with `Entry<? extends K, ? extends V>` which is the entry expected by `contains`.
I'm also not sure to like introducing magic valu

[2018-10-26 08:32] diguage opened #1347 "I can not access the official website."
I can not access the official website: <http://joel-costigliola.github.io/assertj/index.html>.

[2018-10-27 07:32] filiphr opened #1348 "Replace Extractor with Function"
#### Summary
Now that the base supported version of AssertJ is Java 8. Won't it make sense to deprecate `Extractor` (make it extend `Function`) and use `Function` everywhere instead of `Extractor`.

I found one inconsistence (in my opinion) that could be resolved with this.

In `AbstractIterableAssert`

[code]

[code]

The first one returns `Tuple` (which is fine as it is a varargs) and the second

[2018-10-27 09:46] joel-costigliola commented on #1348
I agree to deprecate `Extractor` in favor of `Function`.

I'm not sure what your are suggesting we do with `extracting(Extractor<? super ELEMENT, V> extractor)` but it  shouldn't be replaced by `extracting(@SuppressWarnings("unchecked") Function<ELEMENT, ?>... extractors)` because when you have only one value to extract, I does not make sense to force users to use tuples of one value.

[2018-10-27 11:12] filiphr commented on #1348
I know that it doesn't make sense to have a single tuple. I even noticed that in one of our tests I had to use a `Tuple` for a single value and I was wondering why that happened (I didn't investigate that further).

What I am proposing is to make the `Extractor` extend the `Function` and then:

* Replace `extracting(Extractor<? super ELEMENT, V> extractor)` with `extracting(Function<? super ELEMEN

[2018-10-28 05:00] #1347 closed

[2018-10-28 05:00] joel-costigliola commented on #1347
Please comment if it is still not available.

[2018-10-28 05:01] joel-costigliola commented on #1348
I'm happy with that.

[2018-10-28 05:10] #1327 closed

[2018-10-29 20:30] tomekkaczanowski opened #1350 "add migration script from JUnit5 to AssertJ"
#### Summary
There is Junit4 to AssertJ script available http://joel-costigliola.github.io/assertj/assertj-core-converting-junit-assertions-to-assertj.html. Unfortunately, the script is uselesess for JUnit5, mostly due to change in order of message part of assertion.

I already have the script (see http://testinglikeaboss.com/tips-tricks/migrating-from-junit-5-assertions-to-assertj/) but need to a

[2018-11-02 08:24] maverick1601 opened #1353 "SoftAssertions nested in satisfies() or allSatisfy() only output first failing assertion"
#### Summary
When using SoftAssertions together with satisfies() or allSatisfy() the additional assertions made in the consumer supplied to these methods are handled differently. In fact, the first failing assertion prevents other in the same consumer to be reported, as expected.

#### Example

[code]

[2018-11-03 10:04] joel-costigliola commented on #1353
This should work, thanks for reporting this.

[2018-11-03 10:32] maverick1601 commented on #1353
As far as I understood the code, it is a problem regarding the SoftProxies and nesting with respect to the ErrorCollector. The nested satisfy block seems to let errors propagate, which results in the first assertion (failing) to prevent follow up assertions to even execute.

[2018-11-03 10:34] joel-costigliola commented on #1353
It seems the problems comes from the way AssertJ handles nested proxy calls.

Example:
`softly.assertThat(true).isFalse()` calls the `isEqualTo(false)` which is also proxied, in that case the assertion error is bubbled up. It looks like in this issue the assertion error should simply be recorded and not bubbled up .

We count the nested level by count of `ErrorCollector.intercept` which happens wi

[2018-11-03 10:35] joel-costigliola commented on #1353
You beat me by 2 min! :D

[2018-11-03 10:37] joel-costigliola commented on #1353
One workaround is simply not to use `sa` to call `satisfies`:
[code]

[2018-11-03 11:48] maverick1601 commented on #1353
I know that this is a workaround, but the example given was greatly simplified. This would also affect not using allSatisfy(), I assume, which i do use very often.

[2018-11-06 10:05] joel-costigliola commented on #1353
I don't see an easy fix for this issue, I'll try to explain why.

Some of the assertions internally use others like `isNotNull()` as in:
[code]
Soft assertion are implemented by proxying assertions and catching any `AssertionErrror` and report all of them later on.
In the example above, `contains` and `isNotNull()` are proxied, if `isNotNull()` fails the thrown `AssertionErrror` will be collected

[2018-11-06 11:13] maverick1601 commented on #1353
Isn't the "nesting" limited to calling satisfies() or allSatisfy(), so we could handle those two differently? Let alone the fact, that we could have deeper nesting as well, for instances satisfy() within satisfy().

It's not that we have a major issue with the current behavior. As long as all assertions succeed, we are sure the test cases are covered. Mainly, the issue comes up during refactorings

[2018-11-07 09:55] joel-costigliola commented on #1353
Maybe but it should be handled only if coming from a soft assertion ... need trying/investigating.

I was also thinking that it might be possible to differentiate internal AssertJ calls from users ones by looking the stack trace to see if the caller of `intercept` was made from `org.assertj` or not.

This issue is a minor bugfix since AssertJ does not lead to false positive, as you said if the ass

[2018-11-08 16:33] jakubzytka opened #1355 "Describe actual Throwables when ThrowableAssert fails"
### Summary
When some `Throwable`-related assertion fails the actual `Throwable` that failed the check is not described beyond what actually caused assertion failure (e.g. message mismatch). In non-trivial code when unexpected `Exception`s are thrown this makes debugging inconvenient.

Dumping more comprehensive (class, message, stack, perhaps even recursive info about causes) info about the actua

[2018-11-08 16:55] yrodiere opened #1356 "ObjectArrays#assertHasOnlyElementsOfType throws NPE for arrays containing null"
#### Summary

`ObjectArrays#assertHasOnlyElementsOfType` throws a NullPointerException when passed an array containing a null element.

PR coming.

#### Example

[code]

=> NullPointerException

[2018-11-08 20:29] joel-costigliola commented on #1355
do you mean printing the stack trace ?

[2018-11-08 20:32] joel-costigliola commented on #1356
Thanks @yrodiere  for reporting this and providing a PR!

[2018-11-09 00:09] davidmichaelkarr opened #1358 "Clean way to have assertions on properties of custom exception types?"
I like to use "catchThrowable()" to perform assertions on exceptions, but it gets a little messy when I have to perform assertions on properties of custom exceptions, which requires a cast to get access to the custom type, so I can then perform the assertion on the casted object.

Is there a cleaner way to do this that isn't described in the documentation?

[2018-11-09 00:37] davidmichaelkarr commented on #1358
I'm guessing the answer is "catchThrowableOfType".  Am I missing a link for a full API reference that would show me these things?

[2018-11-09 07:54] yrodiere commented on #1356
No problem, it will help me too :)
Thanks for all the good work!

[2018-11-09 12:31] jakubzytka commented on #1355
Example of my ideal message:
[code]

Such message allows to immediately learn the real cause of test failure.

[2018-11-10 22:47] joel-costigliola commented on #1350
fixed by https://github.com/joel-costigliola/assertj/issues/89.

[2018-11-10 22:47] #1350 closed

[2018-11-10 22:49] joel-costigliola commented on #1356
Fixed by https://github.com/joel-costigliola/assertj-core/pull/1357

[2018-11-10 22:49] #1356 closed

[2018-11-12 13:27] shalom938 opened #1359 "isEqualToComparingFieldByFieldRecursively is not recursive"
had a mistake, closing the issue.

[2018-11-12 13:59] #1359 closed

[2018-11-15 08:54] joel-costigliola opened #1361 "Expose all AssertJ global configuration through ConfigurationProvider"
#### Summary

Follow the same approach for [global Representation configuration ](https://assertj.github.io/doc/#assertj-core-custom-representation-default-global-scope) with [ConfigurationProvider](https://github.com/joel-costigliola/assertj-core/blob/0b623f70bbe9de4d4785b7b3317528595d898c78/src/main/java/org/assertj/core/configuration/ConfigurationProvider.java) for:

- accessing or not private

[2018-11-15 13:22] filiphr commented on #1361
Thanks for creating this @joel-costigliola. Just my 2 cents about this.

Not everything needs to have an SPI. Maybe for some of the properties a single `SettingsProvider` or whatever the name would be enough as then people can override that and provide their own changes. In any case I think everything you mentioned into this fits into a single SPI (in my opinion)

[2018-11-21 17:09] huylv opened #1364 "IntelliJ doesn't show <Click to see difference> link with Groovy 2.5"
#### Summary
IntelliJ 2018 doesn't show `<Click to see difference>` link if Groovy version is 2.5. It works with Groovy 2.4. I have tested on Redhat and macOS. I'm not sure if this is caused by assertj or not so my apologies  if I report to the wrong project.

#### Example
[code]

Output:
[code]

if I change groovy version to `2.5.2`, the output would be:
[code]

[2018-11-21 20:35] joel-costigliola commented on #1364
`<Click to see difference>` comes from IDE support for the thrown `org.junit.ComparisonFailure` or `org.opentest4j.AssertionFailedError`.
I'm pretty sure both are supported in recent version of Idea (what version do you use ?), I use eclipse and they are supported.

There is nothing AssertJ can do since it is an IDE feature.

I'm closing this issue since it is not related to AssertJ but feel free

[2018-11-21 20:35] #1364 closed

[2018-11-21 20:41] huylv commented on #1364
I'm using IntelliJ version 2018.2.3, released September 2018. It's weird that my friend could see the link in his centOS machine, running the same IntelliJ version, but I can't make it work on my macbook and Redhat 7 machine.

[2018-11-21 20:50] hirshbergshachar opened #1365 "AssertJ not clicking boxes"
#### Summary
I’m not able to use basic click functionalities with AssertJ (basically everything related to activating buttons)

Opened a [thread](https://stackoverflow.com/questions/53379005/assertj-not-clicking-boxes) about it in STO as well -

I’m not sure if it’s a regression or if I’m just missing out something obvious… the example here - [Example](https://github.com/joel-costigliola/assertj-e

[2018-11-21 20:53] joel-costigliola commented on #1364
Weird indeed, I'm sure 2018.2.3 supports `org.opentest4j.AssertionFailedError` difference and that it should not be OS specific

I'm a linux guy, I can't help you much with macos stuff.

[2018-11-21 20:55] huylv commented on #1364
Thank you, Joel. Probably I'll need to look for help somewhere else.

[2018-11-22 11:42] filiphr commented on #1364
This is a bug in IntelliJ. See [IDEA-179482](https://youtrack.jetbrains.com/issue/IDEA-179482). If you have JUnit 4 and opentest4j present it is not using the nice click to see differences even though it should. This should be fixed in 2019.1. The EAP for it would start soon

[2018-11-22 17:17] lukaszrek commented on #1345
`assertThatThrownBy` has no longer `@CheckReturnValues`  annotation, however `Assertions` class does have it. So this issue is still valid. Can it be reopened or should I create new one?

[2018-11-22 21:06] stovocor commented on #1214
As for the argument for "completesWithin" I would prefer `java.time.Duration`.

[2018-11-26 21:54] PascalSchumacher commented on #964
added with https://github.com/joel-costigliola/assertj-core/commit/60afa15204e18269a7abbfd279418b67cbfdf05a

[2018-11-26 21:54] #964 closed

[2018-11-27 06:02] filiphr commented on #964
Good idea with the annotation. It leaves you more space to evolve features.

Might be worthwhile looking into https://github.com/apiguardian-team/apiguardian. It's what the JUnit team is using for the JUnit 5 APIs

[2018-11-27 08:19] joel-costigliola commented on #964
@filiphr I had a look at apiguardian, I decided to go a simpler way but if the need arises we will be moving towards an apiguardian like annotation.

[2018-11-27 08:49] filiphr commented on #964
Sorry didn't know that you had a look at it.

I think apiguardian would be more interesting once there is some tooling and support from IDEs out there.

[2018-11-27 15:41] shaunthomas999 opened #1366 "KafkaConditions value matching"
#### Summary

I have some difficulty in matching two Kafka `ConsumerRecord`s using Assertj. Please see the example.

#### Example

[code]

The assert statement in third last line is giving me following error:

[code]

How can I match two `ConsumerRecord` using Assertj?

[2018-11-27 20:31] joel-costigliola commented on #1366
What does you Condition looks like ?
It looks like you are trying to compare a map to a Greeting ...

[2018-11-28 08:28] filiphr opened #1367 "Assertion to check that a map contains exactly all entries of another map"
#### Summary

Assert that a map contains exactly all entries of another map.

Basically an alternative to `containsExactly` with another `Map` instead of varargs

#### Example

[code]

[2018-11-28 20:36] joel-costigliola commented on #1367
Agreed!

[2018-12-01 14:48] filiphr commented on #1367
Realised that I don't really need this one. In any case I created a PR with the feature implementation

[2018-12-11 10:08] crizzis opened #1369 "isEqualToComparingFieldByFieldRecursively is not symmetrical when reflection is involved"
#### Summary
`isEqualToComparingFieldByFieldRecursively` is not symmetrical when a field of subclass type is populated with an object with a superclass type using reflection.

(this may sound as an obscure use case, but such 'mistakes' tend to happen with mapping/serialization libraries, which use reflection heavily. It just happened to me with Orika, for one)

#### Example

[code]

In the example

[2018-12-13 09:20] joel-costigliola commented on #1369
Thanks for reporting, I'll have a look in the next days/weeks.

[2018-12-13 19:18] ebundy opened #1370 "Extracting function from entries for Map"
#### Summary
I like very much the extracting function feature of AssertJ.
With `Iterable` objects, it is really fine as that is defined in the base class :
 `AbstractIterableAssert.extracting(Function<? super ELEMENT, ?>... extractors)`.

But for `Map` objects, that is not possible.
I didn't find any way to extract data from the Map entries as we could do from List elements and that is really anno

[2018-12-14 10:30] ebundy commented on #1370
Thanks for this way.
I think that it is still worth. This option has too much technical/boiler plate code.
I find personally my way already too much verbose. The `e.getKey()/getValue().getFoo()` pattern is terrible... that is not very fluent.

Something like that I find more fluent would be (suppose we assert a  `Map<Foo,Bar>)`:
[code]

[2018-12-14 15:13] ebundy opened #1371 "MapAssert.containsOnlyKeys() with Iterable overload"
#### Summary
`MapAssert.containsOnlyKeys()` accepts a var-args but doesn't have an overload with `Iterable<>`, contrary to `IterableAssert`.

#### Example

[code]

That

[code]
or

[code]

should be just :

[code]

[2018-12-15 03:41] joel-costigliola commented on #1371
Sure.

[2018-12-15 03:46] joel-costigliola commented on #1370
You can't chain `extractingFromKey` with `extractingFromValue` because after `extractingFromKey` you don't have the initial map at your disposal but a list of tuple.

The best we can do is:
[code]

[2018-12-15 20:36] bastikempken commented on #1371
I am working on this issue, and will provide a pull request soon.

[2018-12-16 11:47] ebundy commented on #1370
I get it. So, I will implement the initial proposition with the `extracting()` overload you propose. It is already not bad at all.

[2018-12-16 12:48] bastikempken commented on #1371
@joel-costigliola  I've implemented a possible solution on https://github.com/joel-costigliola/assertj-core/pull/1373
@ebundy It's my first participation, too and and i already worked on it. but i would really appreciate your feedback

[2018-12-16 13:47] ebundy commented on #1371
@bastikempken The next time, out of courtesy for the person that asked the question, please wait for that he/she tells whether he/she would implement that.
About the implementation : not bad but it could be much dry.  You created new methods in each layer to perform the same thing. You don't need because the single variation is `K[]` becomes `Iterable<K>`. Passing from the one to the other is stra

[2018-12-16 17:05] ebundy commented on #1371
@bastikempken Really no problem. Thanks for that.

I think you refer to the `failIfEmpty(int keysize)` invocation.
You could keep the two distinct error messages (which is rather good)  by allowing each distinct method to supply the error message : a `Supplier<String> errorMsgIfKeyObjectEmpty` parameter could do the job. In this case,  I think that define a third method with the Supplier as parame

[2018-12-17 10:03] ebundy commented on #1371
@bastikempken It seems very good things. The supplier didn't make really sense here. I didn't remember why I proposed that. See you on other issues :)

[2018-12-17 10:08] joel-costigliola commented on #1370
Need to think about it but at the moment `extractingFromEntries` would work or defining several `extracting` methods taking 1 parameter, 2 parameters, 3 parameters,  ... up to 6 should be alright.

I'll probably go with `extractingFromEntries` to avoid bloating the api but vararg comes with a nasty price, to avoid the heap pollution warning, you need to use the `SafeVararg` annnotation and set the

[2018-12-17 16:16] ebundy commented on #1370
I understand. Take your time and if you get a good idea tell me.
About bloating the API I agree. For some AssertJ client classes, when I am looking for an unusual method it is sometimes hard to find it even with auto-completion.
Concerning the var-args limitation against soft assertions, does the fact that `extractingFromEntries()` is designed to extract multiple things to perform multiple asserti

[2018-12-17 20:44] joel-costigliola commented on #1370
Soft assertions are important, they should work for all assertions out of the box. It would not be easy for users to understand why some work and some don't.

Your last suggestion is already covered by the vararg option where you only pass one `Function<Entry, Tuple>`, I would prefer going the vararg since it is a bit lighter for users.

You can follow the same implementation as `AbstractObjectAss

[2018-12-18 07:36] ebundy commented on #1370
Agreed for soft assertions. Clearest is better.
Thanks for the pointers. I will check that.

**Issue solving in progress...**

[2018-12-22 11:49] ebundy commented on #1370
Hello @joel-costigliola

I progressed on the feature. However I have some doubts on what the test class [Map_special_assertion_methods_in_assumptions_Test](https://github.com/joel-costigliola/assertj-core/blob/master/src/test/java/org/assertj/core/api/assumptions/Map_special_assertion_methods_in_assumptions_Test.java) actually asserts.
The javadoc says "verify that assertions final methods or meth

[2018-12-23 05:30] joel-costigliola commented on #1370
Some of the methods have simply vararg generic parameters which were overridden in `MapAssert` and annotated with `@SafeVarargs` and made `final`.

`ProxifyMethodChangingTheObjectUnderTest` is required for `extractingFromEntries` since we need to proxy the resulting tuples list as in `AbstractMapAssert.extracting`. You will need to add `extractingFromEntries` to `SoftProxies.METHODS_NOT_TO_PROXY`

[2018-12-23 05:42] joel-costigliola commented on #1370
I think we should add an overloaded variation of the new assertion taking only one parameter and returning a list of value instead of a list of tuple.

Ex:
[code]
The rationale is if we don't add it, even if you extract one value you still have to use a list of tuple (of one value in that case). It is not user friendly to ask users to build tuples for one value.

[code]

[2018-12-23 10:32] ebundy commented on #1370
I probably was not clear enough.

Are you sure ? I added the method name to `SoftProxies.METHODS_CHANGING_THE_OBJECT_UNDER_TEST` and in this way it is picked up by ProxifyMethodChangingTheObjectUnderTest in the intercept() method.
In this way, soft assertion appeared working.

Actually, I don't need to add "extracting" or "flatExtracting" in `SoftProxies` referenced methods to make  `Map_special_a

[2018-12-23 10:33] ebundy commented on #1370
Concerning the overload, I absolutely agreed.

[2018-12-23 20:52] joel-costigliola commented on #1370
@ebundy you are actually right! For assumptions you don't need to change `SoftProxies.METHODS_NOT_TO_PROXY` it is needed for  soft assertions only.

If you want feedback, you can submit a PR even if you haven't completed everything.

[2018-12-25 12:39] ebundy commented on #1370
All right. It is not completely finished but it is close. Probably some tests should be added in `BDDSoftAssertionsTest`.  About the `SoftProxies` class and more particularly `METHODS_NOT_TO_PROXY` I think that it should be really be reviewed because either some parts of it are not tested or some parts are not useful. I completely removed it and all tests pass. As explained earlier only `METHODS_C

[2018-12-26 10:06] filiphr commented on #1367
@joel-costigliola thanks for accepting my PR #1368. Now that it is merged we can close this I think? I am not closing it on purpose in order to leave it up to you to mark with the appropriate milestone

[2018-12-27 09:53] #1367 closed

[2018-12-29 10:07] almondtools opened #1377 "Add anysatisfy for Map"
#### Summary

Allow to verify a bunch of assertions for any key-value pairs of a Map. This would serve the symmetry of the map assert. See #1030 (allSatisfy for Maps) and #889 (anySatisfy for Iterables).

#### Example

[code]

[2018-12-29 22:02] joel-costigliola commented on #1377
I agree, @almondtools would you like to contribute it?

[2018-12-29 23:05] joel-costigliola opened #1378 "review METHODS_NOT_TO_PROXY usage"
As per https://github.com/joel-costigliola/assertj-core/issues/1370#issuecomment-449847239 it looks like we don't need that many methods not to proxy or at least we should have tests failing when we comment some.

[2018-12-30 18:04] almondtools commented on #1377
I can try, yet I have a question:

I tried to understand the actual code for `assertAllSatisfy` in `Maps` and it diverges from the `assertAllSatisfy` and `assertAnySatisfy` in `Iterables` (the latter aggregates the Information, the former simply fails with the delegated assertion).

[code]

`assertAnySatisfy` for `Maps` cannot be implemented similar to `assertAllSatisfy` in `Maps` since the method

[2018-12-30 20:42] joel-costigliola opened #1379 "allSatisfy for maps should report all failing entries"
#### Summary

A similar improvement was done for Iterable, it should be available for maps too.

[2018-12-30 20:42] joel-costigliola commented on #1377
There was an improvement done for `assertAllSatisfy` in `Iterables` to gather all elements not satisfying the requirements. It's an improvement we want to also for maps (I have just created https://github.com/joel-costigliola/assertj-core/issues/1379 to track that).

[2018-12-30 21:17] almondtools commented on #1377
The code for #1379 was already written as your answer arrived me. Fortunately I kept both changes separately. I think you can review this one.

The Javadoc does yet not contain version information, I am not certain whether to add a hard version or whether there is a variable that is updated at the next release time. So if you do not want to adjust it yourself, give me a hint.

[2018-12-31 08:24] korthout opened #1380 "Make constructor of ListAssert that takes a Stream public"
#### Summary
The constructor `ListAssert(java.util.stream.Stream<? extends ELEMENT> actual)` is currently protected. Due to constraints of [Qulice](https://www.qulice.com/) and [Elegant Objects](https://www.elegantobjects.org/#principles) (i.e. no static methods allowed), I'd like to be able to use the constructors. Their visibility must be public in order for them to be used anywhere. Please make

[2018-12-31 09:41] almondtools commented on #1377
Notify me if I should package a pull request.

[2018-12-31 10:33] flaw opened #1381 "Generics with Java 11"
#### Summary
I'm not entirely sure if this is an AssertJ bug or what, but the following assert broke for us on Java11 while it worked fine on Java8:

#### Example

[code]

Compiling results in:
[code]

I'm not entirely sure why it would break in Java11 though. In any case since stuff like `assertThat(objs.contains(obj1)).isFalse()` works I would also expect to be able to use `.doesNotContain()`

[2018-12-31 23:05] joel-costigliola commented on #1377
You can create a PR when you feel the code is ready to be reviewed or want some feedback even if the implementation is partial.

[2019-01-01 04:11] #1380 closed

[2019-01-01 04:12] joel-costigliola commented on #1380
Done.

[2019-01-02 09:11] korthout commented on #1380
Wow you're quick! 🥇 Thanks!

[2019-01-04 11:10] #1371 closed

[2019-01-05 11:02] #1377 closed

[2019-01-07 09:23] AHeise opened #1387 "ZippedElementsShouldSatisfy not escaping elements"
#### Summary

The failure string constructed by ZippedElementsShouldSatisfy does not properly escape formatting symbols leading to extra formatting args.

[code]

#### Example

[code]

[code]

Expected output
[code]

I can contribute if you need help, but would need a pointer on how escaping of '%' is usually done.

[2019-01-07 09:41] AHeise opened #1388 "Support for actual object type in IterableAssert"
#### Summary

While implementing tests for Json Trees using jackson's JsonNode, I stumbled upon a non-trivial issue: I would like to compare JsonNodes as objects with ObjectAssert, however since they implement Iterable, the overloaded assertThat is giving me an IterableAssert and the actual type information of the node is lost.

I could force the object overload with an explicit object cast, but t

[2019-01-07 10:08] joel-costigliola commented on #1387
Thanks for reporting this and wanting to contribute !

I thin the error is in `private static String describe(List<ZipSatisfyError> zipSatisfyErrors)` that should escape the result with `org.assertj.core.util.Strings.escapePercent`.

Can you try the suggested fix ?

[2019-01-07 15:02] filiphr commented on #1388
Not entirely related to this issue, but I have to share https://github.com/lukas-krecan/JsonUnit. It is a really good library (it has AssertJ support as well) for testing JSON strings. It also works with just passing `JsonNode`

[2019-01-07 23:16] EgMan opened #1389 "How do I force extracting from private value instead of from getters?"
I'm running into an issue where a class of mine returns an Optional of its private fields, but the fields themselves are not wrapped in optionals.  I'm trying to recursively compare field by field, but since Optional overrides its isEqual, it will fail every time it encounters a field because the object references are different.  It seems I can either wait for #1002 to have access to forcingRecurs

[2019-01-08 06:01] champialex opened #1390 "isEqualToComparingFieldByField does not deal with Infinity"
#### Summary
When using isEqualToComparingFieldByField, if two fields have the same Infinity value the objects are not considered equal. This does not seem to be the expected behaviour.
This is due to Infinity not being handled in the DoubleComparator.
NaN are not handled either, but I can see why this would be more controversial.

#### Example

[code]

#### Proposed fix
In both DoubleComparator a

[2019-01-08 09:42] joel-costigliola commented on #1390
I agree with `x.doubleValue() == y.doubleValue()` but I indeed think it should not compare NaN, users can always register their own double comparator to get that specific behaviour.

Would you like to contribute this improvement?

[2019-01-08 09:53] joel-costigliola commented on #1389
There is no way at the moment to choose field over property unfortunately.

I haven't tried it but it would be worth giving a try to create a generic `OptionalComparator` that compares their content field by field with `FieldByFieldComparator` (or something alike) and register it with `usingComparatorForType`.

#1002 will indeed allow you to ignore overridden equals method and compare field by fie

[2019-01-08 10:19] #1379 closed

[2019-01-08 13:05] AHeise commented on #1387
Sure, I'll look into it. Thanks for the pointers.

[2019-01-08 15:32] EgMan commented on #1389
I have tried to do something like that, but I need to do it recursively.  I'm having trouble finding documentation on how to properly construct the recursive field by field comparator.  I've tried
[code]

But I've had no luck.  Do you have any insight into what I'm doing wrong?

[2019-01-08 17:55] EgMan commented on #1389
disregard my approach above, I was able to create a custom comparator to accomplish this, but the assertion message generated from within isEqualToComparingFieldByFieldRecursively still remains the same.

In other words, it is now correctly checking field by field, but when a nested field is different, there is no specific error message to help debug, there is only 'optional is different than opti

[2019-01-08 21:12] joel-costigliola commented on #1387
No that fast ;-) I actually fixed a similar issue in `ElementsShouldSatisfy`, I can fix it too in `ZippedElementsShouldSatisfy` if you don't have the time to contribute it. Up to you, really.

[2019-01-08 21:23] joel-costigliola commented on #1389
I don't think there is a way to get the optional internal comparison differences, once the custom Optional comparator returns this ends the recursive comparison for the optional fields (as it would for any other fields compared with a custom comparator).

Since there is no easy way around that, you will have to wait for #1002 to be available, hopefully I'm currently working on it, I have put some

[2019-01-09 04:11] #1390 closed

[2019-01-09 07:34] AHeise commented on #1387
I'd really like to contribute, so I'm working on it now ;)

[2019-01-09 12:31] AHeise commented on #1387
Please review https://github.com/joel-costigliola/assertj-core/pull/1392
I very much reused stuff from your previous commit.

[2019-01-09 13:30] AHeise commented on #1388
I tried a quick and dirty refactoring to get the type information ACTUAL to IterableAssert.

You'd need to introduce a fifth type parameter in the AbstractIterableAssert hierarchy that captures the SELF type with Iterable<? extends ELEMENT> as ACTUAL to be returned by newAbstractIterableAssert (for all selective assertions).

But that assumes that all subclasses only take Iterable<? extends ELEMEN

[2019-01-09 20:33] xenoterracide opened #1393 "Boolean Assert Is for truth tables"
#### Summary

I'd like to be able to write `assertThat( boolean ).is( boolean )` so that code snippets like the following could be written as a junit 5 parameterized test with a truth table like supplier

#### Example

[code]
can give a result example if desired

[2019-01-09 20:43] joel-costigliola commented on #1388
I would not mind having an `assertThatObject`, it is just one more method.

[2019-01-09 21:40] xenoterracide commented on #1393
one of the reasons I thought `is` is that it could enforce non null by taking the primitive, where I would expect `isEqualTo` to take `Object`

[2019-01-09 21:53] joel-costigliola commented on #1393
`isEqualTo` can take primitive that are going to boxed into their object wrapper counterpart.

[2019-01-09 22:33] xenoterracide commented on #1393
there was an additional reason... I had this problem a while back and encountered it by proxy again today...

oh I think it was because messaging... failures on `isEqualTo` weren't greatly descriptive, but moreso I think I wanted a log of the original object, e.g. `assertThat( person ).extracting( Person::isCool ).is( boolean )` a failure would include a `toString` of `person`; so that the message

[2019-01-11 11:09] imavroukakis opened #1394 "Verifying size of Set in List<Set<>> fails with FormatFlagsConversionMismatchException"
#### Summary
I'm attempting to verify the size of all Sets in a List<Set<>> and I'm getting the following exception

[code]

#### Example

This assertion fails with exception
[code]

This assertion succeeds but looks ugly/wrong
[code]

Is there a better way of doing this or have I hit a genuine bug?

[2019-01-12 02:32] joel-costigliola commented on #1394
You might be hitting a bug that has been fixed recently in https://github.com/joel-costigliola/assertj-core/commit/20669674ceb08c9f9e33fd8dcb4ad6a39eba86e9, could you join a complete test case to make sure the fix covers your scenario ?

[2019-01-12 04:11] #1387 closed

[2019-01-12 08:10] imavroukakis commented on #1394
Thanks, @joel-costigliola will do. Doesn't that bug though apply to `String` representations that contain `%`? Mine contains only `Integer`.

[2019-01-12 08:16] imavroukakis commented on #1394
Try this (with Guava as a dependency)

[code]

[2019-01-12 20:42] AHeise commented on #1388
Okay, then I'll put in a proposal with javadoc and tests at the beginning of next week.

[2019-01-13 04:06] joel-costigliola commented on #1394
I tried and the test failed with a regular assertion error ending with:
[code]
running the almost killed my IDE btw!

[2019-01-13 10:06] #1370 closed

[2019-01-14 08:04] imavroukakis commented on #1394
I may have figured it out. It certainly looks like https://github.com/joel-costigliola/assertj-core/commit/20669674ceb08c9f9e33fd8dcb4ad6a39eba86e9 as when I escape `%` as in https://repl.it/repls/CalculatingLightcyanRouter it works fine.

[2019-01-14 08:30] joel-costigliola commented on #1394
I believe that should indeed fix your issue, to be 100% sure of that, could you build the current assertj-core master version, run your test with it and confirm it runs without the exception?

Executing `mvn install` is all you need to build assertj-core.

[2019-01-14 10:52] imavroukakis commented on #1394
on it, I'll let you know ASAP.

[2019-01-14 11:00] imavroukakis commented on #1394
yup all good!

[2019-01-14 11:24] imavroukakis commented on #1394
On a, somewhat related note, how does one go about testing that all the elements in a List, satisfy a particular condition with the exception of a single one, which should satisfy another?

[2019-01-14 12:35] ralfstx opened #1395 "Add hasBinaryContent for InputStream"
I would like to assert that a given input string returns a given binary content.
Since `InputStream` contains bytes, I'd suggest to provide the method `hasBinaryContent` that is also available for `File`. I'm currently using `hasSameContentAs` as a workaround, but that's not optimal.

[code]

[2019-01-14 22:56] joel-costigliola commented on #1394
I agree using `filteredOn` + `hasSize` was the best option.

[2019-01-14 22:56] #1394 closed

[2019-01-14 22:59] joel-costigliola commented on #1395
I agree, it looks to be useful.

Would you like to contribute it ?

[2019-01-15 17:20] Thunderforge opened #1396 "Javadoc example for isXmlEqualTo() fails due to whitespace differences"
#### Summary
The [Javadoc for [`isXmlEqualTo()`](http://joel-costigliola.github.io/assertj/core/api/org/assertj/core/api/AbstractCharSequenceAssert.html#isXmlEqualTo(java.lang.CharSequence)) includes an example that demonstrates how it works by ignoring whitespace. In particular, the code example includes this comment

     // No matter how your xml string is formated, isXmlEqualTo is able to comp

[2019-01-16 13:14] AHeise commented on #1388
Added a PR that should NOT be used for merging.

Currently, it's a proposal for the issue. If it's acceptable, I'd bring the new method also to SoftAssertions etc.

[2019-01-16 16:46] xenoterracide opened #1398 "no assertions should fail"
#### Summary

So, we're refactoring some code and in review I told my colleague to use `isEmpty`, here's what he came up with

#### Example

[code]

I think that `assertThat` without any assertions should default to `fail()`

[2019-01-16 20:48] joel-costigliola commented on #1398
I'm not sure this is technically possible, at the moment the best course of actions is to use static code analysis, see https://assertj.github.io/doc/#assertj-core-incorrect-usage

[2019-01-16 20:57] xenoterracide commented on #1398
in theory it should be possible to pass the current state down (kind of like the Stream api), or a stack/state machine kind of tracker. I guess its technical possibility depends on how the assertions are built...

[2019-01-16 21:03] joel-costigliola commented on #1398
but when do you evaluate it ? you can't do it in `asserThat(object)` call because you don't know at this point if there is an assertions chained after it.

This is an issue with any fluent api (i.e. builders, stream) that needs a termination call

[2019-01-16 21:12] xenoterracide commented on #1398
good point

[2019-01-16 21:18] joel-costigliola commented on #1398
using spotbugs is usually enough to avoid these kind of errors.

I'm closing this issue since there is nothing we can do on it but feel free to continue the discussion.

[2019-01-16 21:18] #1398 closed

[2019-01-16 22:16] joel-costigliola commented on #1398
I'm not sure to get your second point, can you elaborate ?

[2019-01-19 03:14] joel-costigliola opened #1400 "anySatisfy for maps should report all failing entries"
#### Summary

`anySatisfy` should report failed requirements by elements to provide useful information why `anySatisfy` assertion failed.

see https://stackoverflow.com/questions/54250422/method-anysatisfy-from-assertj-swallows-actual-failure-message

[2019-01-19 23:26] joel-costigliola opened #1403 "Fix javadoc generation on open jdk 11 and 12"
#### Summary

Typical error in travis see https://travis-ci.org/joel-costigliola/assertj-core/jobs/481842510:
[code]

#### Fix

https://issues.apache.org/jira/browse/MJAVADOC-562

[2019-01-20 08:37] dev-priporov commented on #1396
Hi @Thunderforge  , I've tried to reproduce, but asserts from the example for me secceeded, so I can't reproduce that. Could you please provide a simple git project with the issue?

[2019-01-22 08:59] jonfreedman commented on #1020
How about changing the `isInstanceOf` & `isExactlyInstanceOf` signatures to cast?

[2019-01-22 21:32] Jeff-Walker opened #1407 "zipSatisfy uses object toString() not the representation"
#### Summary
When using `AbstractIterableAssert.zipSatisfy()`, any assertion failures are reported with the object's `toString()` method instead of using the provided `Representation`. It seems like that should apply to this situation.

#### Example
Output is:
[code]
Code:
[code]

[2019-01-23 09:41] joel-costigliola commented on #1407
Indeed, `ZippedElementsShouldSatisfy` should be passed the `AssertionInfo` from `Iterables.assertZipSatisfy` and use it when formatting `ZipSatisfyError`.

[2019-01-23 14:35] Jeff-Walker commented on #1407
I don't have much time, but I will look at it today.

[2019-01-23 20:43] Thunderforge commented on #1396
@dev-priporov I'm still trying to get a self-contained code example. In our proprietary project, it fails 100% of the time, but in a fresh project, it passes 100% of the time.

Looking deeper into the code, [this line](https://github.com/joel-costigliola/assertj-core/blob/master/src/main/java/org/assertj/core/internal/Strings.java#L984) returns XML indented with two spaces in my full project, but

[2019-01-23 20:58] PascalSchumacher commented on #1396
I guess both projects have different DOM implementations on the classpath:

https://github.com/joel-costigliola/assertj-core/blob/master/src/main/java/org/assertj/core/util/xml/XmlStringPrettyFormatter.java#L51

But as Joel said you should really use `xmlunit-assertj` for XML testing. https://github.com/xmlunit/xmlunit can easily be configured to ignore whitespace differences.

[2019-01-24 09:54] schauder opened #1409 "Assertion failure can be confusing when the string descriptions only differ by []"
#### Summary
If the difference of the expected and the actual value only consist of `[]` (or I guess any combination of these characters plus maybe whitespace) the highlighting of the difference becomes confusing since it gets hard to distinguish the highlight marker `[` and `]` from the actual difference `[]`
#### Example
If an assertion expects for example a `Class<String[]>` but receives a `Cla

[2019-01-24 13:20] merlin-hst opened #1410 "isEqualToComparingFieldByFieldRecursively is ignoring a custom comparator if a fields exists only at one side"
#### Summary
Because isEqualToComparingFieldByFieldRecursively doesn't support ignoring fields the suggestest [workaround ](https://stackoverflow.com/questions/43316133/how-to-compare-recursively-ignoring-given-fields-using-assertj) is to use a custom comparator. But such a comparator is not called when the field to ignore is only available at one side.

#### Example

[code]
This gives the followi

[2019-01-24 21:29] xenoterracide opened #1411 "reflectively test field values"
#### Summary

I'd like an easier way to test the contents of a field reflectively

#### Example

here's what I'm trying to achieve ( in kotlin ) (class under test is `public static final String` constants)

[code]

I think though that this could be as easy as writing

[code]

[2019-01-25 02:11] joel-costigliola commented on #1410
I have made good progress on #1002 (at least 80% of the thing I wanted to implement), it means I can release 3.12 in the next 2/3 weeks. Be patient ;-)

You can try the new recursive on this branch if you are keen to : https://github.com/joel-costigliola/assertj-core/tree/recursive-api (I always appreciate feedback).

[2019-01-25 02:14] #1410 closed

[2019-01-25 06:08] schauder commented on #1409
Yes, I do use JUnit 4.

[2019-01-25 11:18] merlin-hst commented on #1410
Thank you for answer. Is it possible to deploy that version as a SNAPSHOT release to maven central ?

[2019-01-25 11:38] joel-costigliola commented on #1410
We don't deploy snapshot and moreover the work is not yet in master but you can simply build it with `mvn install`

[2019-01-25 14:49] Jeff-Walker commented on #1407
Thanks.

[2019-01-28 20:43] joel-costigliola commented on #1002
It looks like you are right, I'll look into it tonight and push a fix for it (at least the error message was helpful!).
Thanks for the feedback and the investigation :+1:.

[2019-01-29 15:40] xenoterracide opened #1414 "jsr305 support for kotlin"
#### Summary

probably pretty low priority, but it would be nice if assertj was annotated with jsr305 annotations so that kotlin could use them to tell where things are(n't) nullable.

https://kotlinlang.org/docs/reference/java-interop.html#jsr-305-support

[2019-01-29 18:14] ralfstx commented on #1395
Sure. I had some trouble with the PR, but #1413 should be ready for review now.

[2019-01-30 04:00] joel-costigliola commented on #1414
Is jsr305 part of the JDK ?
If not, that will not be possible as assertj-core has a no dependency policy.

[2019-01-30 04:08] xenoterracide commented on #1414
it is not, however, you can apply it and then not provide the jar, and it's not a runtime dependency. Essentially making it dependency-less as far as your users are concerned (as it doesn't add one).

[2019-01-30 10:49] joel-costigliola commented on #1002
@merlin-hst I have (force) pushed the branch with a fix for #1410 if you want to give it a try.

[2019-01-30 15:08] merlin-hst commented on #1002
Now I'm getting the follwing error:

[code]

Based on that message it looks like that for associated objects the types are compared. But I didn't took a look into the code.

[2019-01-30 19:28] epeee opened #1415 "noneSatisfy should report all failing elements"
#### Summary
Currently, `noneSatisfy` does only report the first element which did not satisfy the given restrictions.
What about reporting all elements which did not satisfy the given restrictions.

#### Example

A very simple example, e.g. let's assume that we have a list `[1, 2, 3]`. If we use noneSatisfy and let's say the 2nd and the 3rd element does not meet the given restrictions we only rep

[2019-01-31 04:07] joel-costigliola commented on #1002
@merlin-hst By default overridden equals are used to compare instances, this can be disabled by fields or type at the moment with `ignoringOverriddenEqualsForXXX see https://github.com/joel-costigliola/assertj-core/blob/recursive-api/src/main/java/org/assertj/core/api/recursive/comparison/RecursiveComparisonAssert.java#L487`.

I probably should add an `ignoringOverriddenEquals()` to force recursiv

[2019-01-31 04:11] joel-costigliola commented on #1002
@merlin-hst By default overridden equals are used to compare instances, this can be disabled by fields or type at the moment with `ignoringOverriddenEqualsForXXX see https://github.com/joel-costigliola/assertj-core/blob/recursive-api/src/main/java/org/assertj/core/api/recursive/comparison/RecursiveComparisonAssert.java#L487`.

I probably should add an `ignoringOverriddenEquals()` to force recursiv

[2019-01-31 08:40] merlin-hst commented on #1002
I've seen that. But I don't have overriden equals. Nevertheless having `ignoringOverriddenEquals() ` seems to be helpfull.

[2019-01-31 08:46] joel-costigliola commented on #1002
Interesting, would you be able to provide a test to reproduce this ?

[2019-01-31 08:51] merlin-hst commented on #1002
I'll try it. If it helps my objects look like:

[code]
None of them have equals ovverriden. Even not the base classes.

[2019-01-31 09:36] joel-costigliola commented on #1002
I'm keen to see the more details on the classes you deal with, I have this test passing which compares different types and no equals method:

[code]

[2019-01-31 10:41] merlin-hst commented on #1002
Taking a quick look into the test class and the data objects it seems to me that `actual.home` and `expected.home` are of the same type.  In my situation I'd have also a HomeDto and so on. So for every "given" type a similiar Dto type is used.

[2019-01-31 20:44] xenoterracide opened #1416 "ClassAssert.isAbstract"
accidentally forgot the abstract modifier on my abstract base class, oops, went to write a regression test, and no `isAbstract` on `ClassAssert`, this is not critical to me, but might be useful.

[2019-01-31 23:25] ava1ar opened #1417 "java.lang.NoClassDefFoundError: org/assertj/core/api/ProxyableObjectAssert exception when AssertJ declared with test scope in maven pom.xml"
#### Summary
When AssertJ is declared with `test` scope in project pom.xml, during test execution following exception is thrown when ```assertThat``` method is used:
[code]

Test is invoking following method:
[code]

Removing `test` scope for assertJ dependency resolves the issue.

[2019-02-01 00:35] joel-costigliola commented on #1417
@ava1ar can you provide a sample project to reproduce that issue ?
Your error can happen of you use assertj in your main code (src/main/java) while declaring it with a test scope

[2019-02-01 00:37] joel-costigliola commented on #1002
^^ I just updated the test to have Dto versions of all type (HomeDto, AddressDto) and it worked fine (I have pushed that commit though).

[2019-02-01 01:50] joel-costigliola commented on #1395
thanks @ralfstx I'll look at it shortly

[2019-02-01 13:50] sbrannen opened #1418 "SoftAssertions for JUnit Jupiter should reset tracked exceptions between tests"
## Overview

The following code looks up tracked exceptions in an instance field.

https://github.com/joel-costigliola/assertj-core/blob/9692f7dc339765e9d7ef2725c89b3241c613268f/src/main/java/org/assertj/core/api/JUnitJupiterSoftAssertions.java#L45

The problem with doing that is that the tracked exceptions do not get reset between test method invocations if the test class is configured with `@Tes

[2019-02-01 13:55] Sam-Kruglov commented on #1418
See the exact test case here https://github.com/junit-team/junit5/issues/1756

[2019-02-01 13:57] sbrannen commented on #1418
Here is a test case in Java that reproduces the problem.

[code]

[2019-02-01 14:05] sbrannen commented on #1418
As a general rule of thumb, extensions in JUnit Jupiter should never be stateful.

Instead, they should store state in the `ExtensionContext.Store` whenever possible in order to allow JUnit to properly _scope_ the state for the current test class, current test method, etc.

[2019-02-01 14:09] sbrannen commented on #1418
FYI: this also applies to `JUnitJupiterBDDSoftAssertions` and any extensions implemented in a similar manner.

https://github.com/joel-costigliola/assertj-core/blob/9692f7dc339765e9d7ef2725c89b3241c613268f/src/main/java/org/assertj/core/api/JUnitJupiterBDDSoftAssertions.java#L45

[2019-02-01 14:17] Sam-Kruglov commented on #1418
Also if test instance per method is used and both tests are placed inside a `@Nested` class, then during `test2` there are two instances of `JUnitJupiterSoftAssertions` are doing things, where the one created for `test2` says SUCCESS and the one created for `test1` says FAILURE.

[code]

[2019-02-02 04:34] joel-costigliola commented on #1418
@sbrannen thanks for reporting this issue with great details, appreciated!

[2019-02-02 09:46] joel-costigliola commented on #1415
Agreed and that will be consistent with the other xxxSatisfy methods

[2019-02-02 11:31] sbrannen commented on #1418
You're very welcome.

And... now that I've thought about it again, I think the only robust solution is to store the _current_ instance of `SoftProxies` in Jupiter's `ExtensionContext.Store`.

Otherwise, you will also run into issues with parallel test execution as well as the aforementioned issues with test instance per-class lifecycle semantics and nested test class.

[2019-02-03 08:50] epeee opened #1420 "Add noneSatisfy to AbstractMapAssert"
#### Summary
Let's also add `noneSatisfy` to `AbstractMapAssert`.
We've already added `allSatisfy` and `anySatisfy`.

[2019-02-03 16:09] merlin-hst commented on #1002
I've made a simple demo to reproduce the mentioned error. If you're interested in I can provide it as maven project.

But in the meantime it's getting more cleaner to me:
1: There were a difference I was not aware of.
2. I'd like to have an option to ignore fields / regex in all (nested / associated) objects regardless of the path. This could be very helpfull if the types of one site have some fie

[2019-02-04 09:56] #1415 closed

[2019-02-05 03:24] BrassyPanache opened #1422 "Expose OptionalDoubleAssert.hasValueCloseTo(double expected, Percentage percentage)"
#### Summary
It would be nice to be able to use percentages with OptionalDouble values.  At the minute you can only pass an offset (which is really nice!)

#### Example

[code]